.lender-unserviceable-modal
  padding-bottom: 12px;
  .description
    margin-left: 24px;
  .overflow-box
    margin: 10px -12px 20px -12px;
    padding: 24px 32px;
    box-shadow: 0 2px 6px rgba(62, 71, 84, 0.13);
    border-radius: 2px;
    background-color: white;
    .service-hours-message
      margin-bottom: 24px;
  .next-working-day-message
    display: flex;
    padding: 0 12px 2px;
    border-left: 3px solid #24A832;
    .summary
      flex: 1;
