.FlashWithdrawals--Container

  tabbed-container
    padding-top: 14px;

    .rzp-amount
      .rzp-currency, .rzp-whole, rzp-paise
        font-weight: 600;

  tabbed-container content .content-wrapper
    padding: 0;

    .filters-wrapper
      display: flex;
      align-items: center;

      .list-filter-container
        flex: 1;
        padding: 24px;
        margin-bottom: 0;

      .repay-cta-container
        align-items: center;
        padding-right: 10px;
        font-size: 13px;

        .help-content--currency
          font-size: 14px;

        .PlaceholderLoader
          height: 24px;
          width: 132px;

          &:last-child
            height: 36px;
            width: 104px;
            margin-right: 12px;

    .table-responsive
      padding: 0 24px 24px;

      .table tbody tr td.row-action .btn-group .btn
        height: 24px;
        line-height: 7px;

      .no-results-container
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: start;

        .content
          width: 300px;

.block-note
  padding-left: 10px;
  position: relative;

  &::before, &::after
    position: absolute;
    top: 0;
    height: 100%;
    width: 3px;
    border-radius: 20px;
    background: #0b70e7;

  &::before
    content: " ";
    left: 0;

  &:after
    right: 0;

  &.thick
    &::before
      width: 4px;
      left: -2px;

  &.warning
    &::before, &::after
      background: #E79315;

  &.purple
    &::before, &::after
      background: #8684E3;

  &.success
    &::before, &::after
      background: #24A832;

  &.right-border
    padding-left: 0;
    padding-right: 10px;

    &::before
      content: none;
    &::after
      content: " ";


.withdrawals-tc-modal
  .content-wrapper
    margin: 12px 28px 24px;
    overflow: scroll;

    .tc-content
      line-height: 24px;
      font-size: 13px;
