.onmdemand-modal .overflow-box.extended-overflow-box
  margin: 18px -65px 20px -65px;

.settlement-options 
  margin: 0 -25px
  border-radius: 2px
  background-color: #fff
  display: flex
  justify-content: space-around
  align-items: center
  &__item
    font-weight: 600
    font-size: 14px
    line-height: 20px
    color: #51597880
    cursor: pointer
    border-bottom: 3px solid #A8ACBC
    text-align: center
    flex: 1
    padding: 14px 0 4px
    &:nth-child(2)
      flex-basis: 35px
      display: flex
      justify-content: center
      align-items: center
      gap: 4px
    &.active
      color: #528FF0
      border-bottom: 3px solid #528FF0
    .new-badge
      display: inline-block
      font-size: 10px
      line-height: 12px
      color: #FFFFFF
      padding: 3px 4px
      background-color: #27C24C
      border-radius: 4px
      opacity: 1