@font-face {
  font-family: 'icons';
  src:  url('./icons.eot?y5dsx5');
  src:  url('./icons.eot?y5dsx5#iefix') format('embedded-opentype'),
    url('./icons.ttf?y5dsx5') format('truetype'),
    url('./icons.woff?y5dsx5') format('woff'),
    url('./icons.svg?y5dsx5#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wallet:before {
  content: "\e923";
}
.icon-arrow-forward:before {
  content: "\e920";
}
.icon-folder:before {
  content: "\e921";
}
.icon-store:before {
  content: "\e922";
}
.icon-account:before {
  content: "\e900";
}
.icon-arrow-back:before {
  content: "\e901";
}
.icon-chart:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-chevron-left:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-comment:before {
  content: "\e907";
}
.icon-date-range:before {
  content: "\e908";
}
.icon-done-all:before {
  content: "\e909";
}
.icon-done:before {
  content: "\e90a";
}
.icon-download:before {
  content: "\e90b";
}
.icon-edit:before {
  content: "\e90c";
}
.icon-expand-less:before {
  content: "\e90d";
}
.icon-expand-more:before {
  content: "\e90e";
}
.icon-external-link:before {
  content: "\e90f";
}
.icon-folder-open:before {
  content: "\e910";
}
.icon-fullscreen-exit:before {
  content: "\e911";
}
.icon-fullscreen:before {
  content: "\e912";
}
.icon-info-circle:before {
  content: "\e913";
}
.icon-invoices:before {
  content: "\e914";
}
.icon-link:before {
  content: "\e915";
}
.icon-people:before {
  content: "\e916";
}
.icon-plus:before {
  content: "\e917";
}
.icon-refresh:before {
  content: "\e918";
}
.icon-reports:before {
  content: "\e919";
}
.icon-save:before {
  content: "\e91a";
}
.icon-send:before {
  content: "\e91b";
}
.icon-settings:before {
  content: "\e91c";
}
.icon-team:before {
  content: "\e91d";
}
.icon-transactions:before {
  content: "\e91e";
}
.icon-trash:before {
  content: "\e91f";
}
