// oauth application settings screens
.application-index-page {  
  .content-box {
    border: 1px solid #e2e8ea;
    background-color: #fff;
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  .content-header {
    border-bottom: 1px solid #e2e8ea;
    padding: 15px 20px;
  }
  .content-body {
    padding: 10px;
  }
  .application-details-container {
    height: 128px;
    padding: 10px;
    .application-details {
      height: 100%;
      border: 1px solid #e2e8ea;
      border-radius: 4px;
      padding: 12px;
      padding-right: 20px;
      text-align: left;
      &.new-application {
        border-style: dashed;
        .app-details-container {
          color: #e2e8ea;
        }
      }
      .btn {
        width: 144px;
        margin-top: 24px;
      }
    }
  }
  .app-icon-container {
    height: 100%;
    width: 82px;
    border: 1px solid #e2e8ea;
    border-radius: 4px;
    display inline-block;
  }
  .app-details-container {
    padding-top: 10px;
    height: 100%;
    margin-left: 12px;
    width: calc(100% - 250px);
    display inline-block;
    text-overflow();
  }
  .app-created-on {
    margin-top: 2px;
  }
}

.new-application-form
  .form-header {
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: 700;
  }

  h5.form-header {
    margin-left: -10px;
    margin-bottom: 16px;
  }
  
  .btn {
    margin-left: 10px;
  }