.Dashboard {
  .h1, h4 {
    margin: 0;
    font-weight: 300;
  }

  .panel {
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
}

.InfoCard {
  padding-top: 15px;
  padding-bottom: 15px;

  .LoaderDots span {
    font-size: 28px;
  }
}

.InfoCard__value {
  height: 36px;
  line-height: 36px;
}

.InfoCard__label {
  font-size: 12px;
  color: rgb(214, 211, 230);
}

.WidgetContainer {
  height: 304px;
  margin-bottom: 20px;

  h4 {
    margin-bottom: 10px;
  }

  .panel,
  .panel-body {
    height: 100%;
    position: relative;
  }

  &.Transaction__Vol {
    margin-right: 30%;
    @media (max-width $screen-sm-min) {
      margin-right: 0;
    }
  }

  &.Transaction__Types {
    display: inline-block;
    float: right;
    width: 30%;
    color: #58666e;
    @media (max-width $screen-sm-min) {
      width: 100%;
      float: none;
    }

    .panel-body {
      background-color: #e4eaec;
    }
  }
}

.RecentTxns .WidgetContainer {
  height: auto;

  .panel-body {
    min-height: 175px;
  }
}

.EntityTable {
  code {
    padding: 0;
  }
}


// Onboarding Card

.onboarding-card.media {
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.16);
  border-radius: 2px;
  position: relative;

  .close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 18px;
  }

  > .media-left {
    vertical-align: bottom;

    .media-object {
      width: 320px;
      max-height: 220px;
    }
  }

  > .media-body {
    padding: 24px 12px;
    max-width: 800px;

    p {
      margin-bottom: 16px;
    }

    ul.row {
      margin-bottom: 16px;
      padding-left: 30px;

      > li {
        padding-left: 0;
      }
    }

    .btn-lg > span {
      margin-right: 48px;
    }
  }

  .media-heading {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .Onboarding__Step {
    display: block;
    color: #58666e;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.05);
    border-radius: 2px;
    background-color: #FAFAFA;
    padding: 14px;
    border: 1px solid #D8E1E3;

    .media-heading {
      margin-bottom: 0;
    }

    .media-body {
      font-size: 13px;
    }

    .media-object {
      width: 53px;
      height: 42px;
    }

    .activation-progress {
      width: 75px;
      display: inline-block;
      margin-left: 12px;

      .progress {
        height: 8px;
        margin-bottom: 0;
      }
    }
  }
}
