.Dashboard {
  .h1, h4 {
    margin: 0;
    font-weight: 300;
  }

  .panel {
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
}

.webkit-sec {
  -webkit-text-security: disc;
}

.InfoCard {
  padding-top: 15px;
  padding-bottom: 15px;

  .LoaderDots span {
    font-size: 28px;
  }
}

.InfoCard__value {
  height: 36px;
  line-height: 36px;
}

.InfoCard__label {
  font-size: 12px;
  color: rgb(214, 211, 230);
}

.WidgetContainer {
  height: 304px;
  margin-bottom: 20px;

  h4 {
    margin-bottom: 10px;
  }

  .panel,
  .panel-body {
    height: 100%;
    position: relative;
  }

  &.Transaction__Vol {
    margin-right: 30%;
    @media (max-width $screen-sm-min) {
      margin-right: 0;
    }
  }

  &.Transaction__Types {
    display: inline-block;
    float: right;
    width: 30%;
    color: #58666e;
    @media (max-width $screen-sm-min) {
      width: 100%;
      float: none;
    }

    .panel-body {
      background-color: #e4eaec;
    }
  }
}

.RecentTxns .WidgetContainer {
  height: auto;

  .panel-body {
    min-height: 175px;
  }
}

.EntityTable {
  code {
    padding: 0;
  }
}

.report-wrapper {
  background-color: #fff;
  padding: 0;
  float: none;
  padding-top: 8px;
  margin: 0px auto;

// This is only needed for desktop
  @media(min-width: 992px) {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 33.33%;
      border-left: 1px solid #DEE5E7;
    }
  }

  &:after {
    clear: both;
    content: '';
    display: table;
  }

  .report-list-panel {
    .title {
      color: #7f7f7f;
      font-size: 12px;
    }
    &--mobile {
      padding: 16px 16px 0;

      .title {
        padding: 0 0 8px 0;
      }
    }
    &--desktop {
      padding: 0;
      padding-top: 16px;
      padding-bottom: 8px;

      .title {
        padding: 0 0 8px 24px;
      }
    }
  }

  .report-generate-panel {
    padding: 11px 24px 24px;

    .title {
      color: #7f7f7f;
      font-size: 12px;
      padding-bottom: 8px;
    }

    .account {
      line-height: 36px;
    }

    .custom-date .custom-icon {
      top: 12px;
      right: 10px;
    }

    .PowerSelect__TriggerInput {
      padding-left: 32px;
    }

    .form-heading {
      font-weight: 600;
      border-bottom: 1px solid #e2e8ea;
      padding-bottom: 6px;
      margin-bottom: 24px;
      font-size: 16px;
    }

    .form-element {
      margin-bottom 16px;

    //<select> has default radius which can't be changed using CSS. So, set parent as .form-control and don't add .form-control to <select>
      .fix-select {
        background: transparent;
        border: none;
        margin-left: -5px;
        width: 100%;
      }

      &:last-child {
        margin-bottom: 4px;
      }

      &:after {
        clear: both;
        content: '';
        display: table;
      }

      footer {
        padding: 12px 0 0 0;
      }

      [class^='col-'] {
        padding: 0;
        margin-right: 16px;
      }
    }
  }
}

.custom-icon {
  position: absolute;
  z-index: 1;
  color: #e0e0e0;
  pointer-events: none;
}

.typeAheadSkin {
  position: absolute;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  top: 10px;
  width: 87%;
  margin-left: 30px;
  pointer-events none;
  font-size: 12px;
}


.transfers-powerselect + .typeAheadSkin {
  margin-left: 10px;
}

.custom-select .custom-icon {
  top: 11px;
  left: 8px;
  font-size: 20px;
}


// Onboarding Card

.onboarding-card.media {
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.16);
  border-radius: 2px;
  position: relative;
  min-height: 200px;
  transition: 0.1s linear;
  box-shadow: none;

  &.first-step {
    box-shadow: 0 0 0 9999px rgba(0,0,0,.25), 0 0 15px rgba(0,0,0,.25);
    z-index: 9999;
  }

  .close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 18px;
  }

  > .media-left {
    vertical-align: middle;

    .media-object {
      width: 320px;
      min-height: 200px;
      max-height: 220px;
    }
  }

  > .media-body {
    padding: 24px 12px;
    max-width: 800px;
    min-height: 200px;

    p {
      margin-bottom: 16px;
    }

    ul.row {
      margin-bottom: 8px;
      padding-left: 30px;

      > li {
        padding-left: 0;
        margin-bottom: 8px;
      }
    }

    .btn-lg {
      padding-left: 12px;
      font-size: 14px;
      border-radius: 2px;

      > span {
        margin-right: 48px;
      }
    }
  }

  .media-heading {
    font-size: 15px;
    font-weight: bold;
  }

  .Onboarding__Step {
    display: block;
    color: #58666e;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    background-color: #FAFAFA;
    padding: 14px;
    border: 1px solid #D8E1E3;

    a {
      text-decoration: underline;
      color: inherit;
    }

    .icon-external-link {
      font-size: 100%;
    }

    .media-heading {
      margin-bottom: 2px;
    }

    .media-body {
      font-size: 13px;
    }

    .media-object {
      width: 53px;
      height: 42px;
    }

    .activation-progress {
      width: 75px;
      display: inline-block;
      margin-left: 12px;

      .progress {
        height: 8px;
        border-radius: 2px;
        background-color: #e4e9ea;
        margin-bottom: 0;
      }
    }
  }
}

.reports-entity-options {
  input[type=radio].report-type {
    display: none;
  }

  input[type=radio].report-type + label {
    width: 100%;
    padding: 12px 24px;
    margin: 0;
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }

  &:not(:last-child) {
    input[type=radio].report-type + label {
      border-bottom: 1px solid rgba(0,0,0,0.03);
    }
  }

  input[type=radio].report-type + label:hover {
    background-color: #f9f9f9;
  }

  input[type=radio].report-type:checked + label {
    color: #6A55D1;
    background-color: #f9f9f9;
  }

  @media(min-width: 992px) {
    input[type=radio].report-type:checked + label:after {
      float: right;
      content: "\25BA";
      color: #a5a5a5;
      font-size: 11px;
    }
  }
}

.custom-tag {
  color: #6a55d1;
  float: right;
  font-size: 14px;

  &.icon {
    margin-top: 2px;
  }
}

// To be checked and later generalized. Currently, styles are inconsisent
.virtual-account-powerselect {
  border: 1px solid #cfdadd;
  border-radius: 2px;
}

.transfers-powerselect {
  input {
    padding: 0 12px;
  }
}
.transfers-powerselect__Menu {
  .PowerSelect__Option {
    border-bottom: 1px solid #eaeff0;
    padding: 8px 0;
    border-bottom: 1px solid #eaeff0;
    line-height: 28px;
  }

  .heading {
    color: #8991ae;
    padding: 12px 12px 8px;
  }
}

.custom-powerselect {
  border: 1px solid #cfdadd;
  border-radius: 3px;

  .PowerSelect__Trigger,
  .PowerSelect__TriggerLabel,
  .PowerSelect__TriggerStatus {
    height: 28px;
  }

  .PowerSelect__TriggerLabel {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.custom-powerselect-options {
  line-height: 24px !important;
  padding: 2px 12px !important;
  min-height: 28px;
}

// Entity Detail Row
.entity-detail-row {
  padding: 8px;
  border-bottom: 1px solid #ebecee;

// To highlight selected row
  &.active {
    background-color: rgba(255,255,215,0.75);
  }

  .row-item {
    display: inline-block;
    vertical-align: middle;

    &.content {
      width: 93%;
    }

    &.icon {
      width: 7%;
      text-align: center;
      font-size: 22px;
      padding: 10px;
      cursor: pointer;

      &:hover {
        color: #9bb2bf;
      }
    }
  }

  .detail-row {
    display: table;
    width: 100%;
    margin-bottom: 4px;
  }

  .row-element {
    display: table-cell;
  }

  .left {
    width: 60%;
  }
  .right {
    width: 40%;
    text-align: right;
  }
}

// Entity Detail List & Data Table
.entity-detail-list, .data-table {
  .list-heading {
    background-color: #F7F8FA;
    border-top: 1px solid #dfe0e2;
    padding: 12px;

    &:before {
      display: table;
      content: " ";
    }

    &:after {
      clear: both;
    }

    .label--secondary {
      line-height: 21px;
      float: right;
    }
  }
}

div.data-table.has-panel {
  div.table-responsive {
    margin-top: 0;

    > table.table {
      margin-bottom: 0;
    }
  }
}

.sub-entity-list {
  margin-top: 16px;
  margin-bottom: 24px;
}

// Data table
.details-row-container .data-table {
  margin: 20px 0;
  border-bottom: 1px solid #C6CFD9;
}

// Entity Detail List
.entity-detail-list {
  margin: 16px 0;
  border-bottom: 1px solid #C6CFD9;

  button {
    padding: 12px;
    cursor: pointer;

    .icon {
      vertical-align: middle;
    }
  }

  .list-heading {
    border-bottom: 1px solid #e2e3e5;
  }
}

.details-row-container .data-table {
  table {
    margin-bottom: 0;
    border-bottom: none;
  }
}

.refunds-list {
  margin-top: 16px;
  margin-bottom: 24px;

  div.table-responsive {

    table.refunds-table {
      margin: 0;

      tr:first-child td {
        border-top: 0;
      }
    }
  } 
}

.pair-group-item .pair-value .refunds-list .table-responsive {
  margin-top: 0;
}
