.Dashboard {
  .h1, h4 {
    margin: 0;
    font-weight: 300;
  }

  .panel {
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
}

.InfoCard {
  padding-top: 15px;
  padding-bottom: 15px;

  .LoaderDots span {
    font-size: 28px;
  }
}

.InfoCard__value {
  height: 36px;
  line-height: 36px;
}

.InfoCard__label {
  font-size: 12px;
  color: rgb(214, 211, 230);
}

.WidgetContainer {
  height: 304px;
  margin-bottom: 20px;

  h4 {
    margin-bottom: 10px;
  }

  .panel,
  .panel-body {
    height: 100%;
    position: relative;
  }

  &.Transaction__Vol {
    margin-right: 30%;
    @media $sm-max {
      margin-right: 0;
    }
  }

  &.Transaction__Types {
    display: inline-block;
    float: right;
    width: 30%;
    color: #58666e;
    @media $sm-max {
      width: 100%;
      float: none;
    }

    .panel-body {
      background-color: #e4eaec;
    }
  }
}

.RecentTxns .WidgetContainer {
  height: auto;

  .panel-body {
    min-height: 175px;
  }
}
