.plan-create {
  .billing-frequency {
    display: table;

    > * {
      display: table-cell;
      padding-right: 8px;
    }

    .InputField {
      width: 50px;

      .form-control {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}
