.non-3ds-card-activation
  padding-top: 8px
  padding-bottom: 8px

  .header-title
    align-items: center

  .enable-actions
    margin-top: 24px
    display: flex
    align-items: center
    gap: 16px

    > button
      flex: 1
      margin: 0

  .non-3ds-modal-header
    padding: 24px
    display: flex
    align-items: center
    justify-content: space-between

  .non-3ds-modal-content
    padding: 0px 24px 24px 24px

  .non-3ds-status-info
    display: block
    background: #F2F4FE
    border-left: 8px solid #2B83EA
    padding: 16px 12px
    font-size: 12px
    line-height: 17px
    color: #7B8199

.Modal-container--non3dsCardsModal
  max-width: 400px
  width: 100%
