# This file allows Github to automatically request reviews from
# code owners when certain files are changed.
# Ref: https://github.com/blog/2392-introducing-de-owners
#
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.

#
# Core App
#
app/Http/BasicAuth/                                           @razorpay/spine-edge
app/Http/Controllers/EdgeProxyController.php                  @razorpay/spine-edge
app/Http/Controllers/EdgeThrottleController.php               @razorpay/spine-edge
app/Http/Controllers/KeyController.php                        @razorpay/spine-edge
app/Http/Controllers/OAuthApplicationController.php           @razorpay/spine-edge
app/Http/Controllers/OAuthTokenController.php                 @razorpay/spine-edge
app/Http/Edge/                                                @razorpay/spine-edge
app/Http/Middleware/Authenticate.php                          @razorpay/spine-edge
app/Http/Middleware/DecodePassportJwt.php                     @razorpay/spine-edge
app/Http/Middleware/StripQueryParam.php                       @razorpay/spine-edge
app/Http/Middleware/Throttle.php                              @razorpay/spine-edge
app/Http/Throttle/                                            @razorpay/spine-edge
app/Http/OAuth.php                                            @razorpay/spine-edge
app/Http/OAuthCache.php                                       @razorpay/spine-edge
app/Http/OAuthScopes.php                                      @razorpay/spine-edge
app/Http/RequestContext.php                                   @razorpay/spine-edge
app/Http/RequestContextV2.php                                 @razorpay/spine-edge
app/Http/Route.php                                            @razorpay/spine-edge
app/Http/P2pRoute.php                                         @razorpay/spine-edge

#
# Models
#

app/Models/Balance/FreePayout.php                      @razorpay/Payouts-core
app/Models/BankingAccountStatement/                    @razorpay/Payouts-core
app/Models/Card/                                       @razorpay/TechCards
app/Models/Card/NetworkName.php                        @razorpay/TechRulesRouting
app/Models/Checkout/                                   @razorpay/checkout-backend-leads
app/Models/Key/                                        @razorpay/spine-edge
app/Models/Merchant/Checkout.php                       @razorpay/checkout-backend-leads
app/Models/Merchant/CheckoutExperiment.php             @razorpay/checkout-backend-leads
app/Models/Customer/Truecaller                         @razorpay/checkout-backend-leads
app/Models/Pricing/                                    @razorpay/pricing-team
app/Models/Payout/                                     @razorpay/Payouts-core
app/Models/Pricing/Payout.php                          @razorpay/Payouts-core
app/Models/Reversal/                                   mohamed.safwan@razorpay.com                             @razorpay/Payouts-core
app/Models/Terminal/Sorters/                           @razorpay/TechRulesRouting
app/Models/Terminal/AuthSelector.php                   @razorpay/TechRulesRouting
app/Models/Terminal/Selector.php                       @razorpay/TechRulesRouting
app/Models/Transfer/                                   mohamed.safwan@razorpay.com
app/Models/TrustedBadge                                @razorpay/checkout-backend-leads
app/Models/FundTransfer/M2P/M2PConfigs.php             chirag.chiranjib@razorpay.com
app/Models/Consumer/                                          @razorpay/spine-edge
app/Models/Key/                                               @razorpay/spine-edge
app/Models/Merchant/AccessMap/MigrateImpersonationSource.php  @razorpay/spine-edge
app/Models/Merchant/AccessMap/MigrateKongTarget.php           @razorpay/spine-edge
app/Models/Merchant/AccessMap/MigrateSource.php               @razorpay/spine-edge
app/Models/OAuthApplication/                                  @razorpay/spine-edge
app/Models/OAuthToken/                                        @razorpay/spine-edge

#
# Services
#

app/Services/UpiPayment/                               @razorpay/techupicore
app/Services/AuthService.php                           @razorpay/spine-edge
app/Services/CheckoutService.php                       @razorpay/checkout-backend-leads
app/Services/Mock/CheckoutService.php                  @razorpay/checkout-backend-leads

#
# Gateways
#

app/Gateway/Upi/Icici                                  @razorpay/qr-code-devs
app/Gateway/Upi/Yesbank                                @razorpay/qr-code-devs
app/Gateway/Upi                                        @razorpay/techupicore sharma.nikhil@razorpay.com kalpana.meena@razorpay.com


#
# Functional Tests
#

tests/Functional/QrCode/                               @razorpay/qr-code-devs
tests/Functional/Transfer/                             mohamed.safwan@razorpay.com
tests/Functional/BankingAccountStatement/              @razorpay/Payouts-core
tests/Functional/Key/                                  @razorpay/spine-edge

#
# Jobs
#

app/Jobs/TrustedBadge.php                              @razorpay/checkout-backend-leads
app/Jobs/BackFillMerchantApplications.php              @razorpay/spine-edge
app/Jobs/BackFillReferredApplication.php               @razorpay/spine-edge
app/Jobs/BulkMigrateAggregatorToResellerJob.php        @razorpay/spine-edge
app/Jobs/BulkMigrateResellerToAggregatorJob.php        @razorpay/spine-edge
app/Jobs/TriggerAcsFullSync.php                        @razorpay/spine-edge @razorpay/identity-core
app/Jobs/TriggerAcsSync.php                            @razorpay/spine-edge @razorpay/identity-core

#
# Mails
#

app/Mail/OAuth/                                       @razorpay/spine-edge


.github/actions/                                       @razorpay/ZeroTouchWarriors
devspace.yaml                                          @razorpay/devstack-devs

#
# Features
#
# /app/Models/Feature/Constants.php is owned by dcs team, any new use cases
# of feature flags should go to dcs or razorx/splitz
# permanent flags - dcs
# experimental flags / rollout flags - razorx / splitz

/app/Models/Feature/Constants.php                      @razorpay/techcommonplatforms
/app/Models/Feature                                    @razorpay/techcommonplatforms
/app/Services/Dcs                                      @razorpay/techcommonplatforms

#
# Order is owned by core team.
# It's moved to PG Router.
#
/app/Models/Order                                       @razorpay/techpaymentscore

# Merchant Entities
#
# Blocking PR merge on certain entities as they are being moved to account service.
# Any update on this entities, will require explicit approval from platform identity team.
app/Models/Merchant/Entity.php                                @razorpay/identity-core
app/Models/Merchant/Detail/Entity.php                         @razorpay/identity-core
app/Models/Merchant/Document/Entity.php                       @razorpay/identity-core
app/Models/Merchant/Email/Entity.php                          @razorpay/identity-core
app/Models/Merchant/Stakeholder/Entity.php                    @razorpay/identity-core
app/Models/Merchant/BusinessDetail/Entity.php                 @razorpay/identity-core
app/Models/Merchant/Website/Entity.php                        @razorpay/identity-core

#
# Merchant Related Repository
#
# Blocking PR merge on merchant related repositories as account-service is now owner for merchant-related entities and hence repositories.
# Any update on these repositories, will require explicit approval from platform identity team.
app/Models/Merchant/Repository.php                            @razorpay/identity-core
app/Models/Merchant/Detail/Repository.php                     @razorpay/identity-core
app/Models/Merchant/Document/Repository.php                   @razorpay/identity-core
app/Models/Merchant/Email/Repository.php                      @razorpay/identity-core
app/Models/Merchant/Stakeholder/Repository.php                @razorpay/identity-core
app/Models/Merchant/BusinessDetail/Repository.php             @razorpay/identity-core
app/Models/Merchant/Website/Repository.php                    @razorpay/identity-core

#
# Merchant Acquisitions Entities
#
# Blocking PR merge on certain entities as they are being moved to PG Onboarding Service.
# Any update on these entities will require explicit approval from aqp-be team.
app/Models/Merchant/Detail                         @razorpay/pg-onboarding-service
app/Models/Merchant/Document                       @razorpay/pg-onboarding-service
app/Models/Merchant/Stakeholder                    @razorpay/pg-onboarding-service
app/Models/Merchant/BusinessDetail                 @razorpay/pg-onboarding-service
app/Models/Merchant/Website                        @razorpay/pg-onboarding-service
app/Models/ClarificationDetail                     @razorpay/pg-onboarding-service
app/Models/DeviceDetail                            @razorpay/pg-onboarding-service
app/Models/Merchant/BvsValidation                  @razorpay/pg-onboarding-service
app/Models/Merchant/Consent                        @razorpay/pg-onboarding-service
app/Models/Merchant/Escalations                    @razorpay/pg-onboarding-service
app/Models/Merchant/Store                          @razorpay/pg-onboarding-service
app/Models/Merchant/VerificationDetail             @razorpay/pg-onboarding-service



# Blocking PR merge on refund files since they are being moved to Scrooge service
# Any update in these files will require explicit approval from scrooge
app/Models/Payment/Processor/Refund.php             @razorpay/scrooge
app/Models/Payment/Refund                           @razorpay/scrooge
app/Http/Controllers/RefundController.php           @razorpay/scrooge
app/Http/Controllers/ScroogeController.php          @razorpay/scrooge
app/Services/Scrooge.php                            @razorpay/scrooge
app/Models/Base/Traits/ExternalScroogeRepo.php      @razorpay/scrooge


#
# Nocode Entities
#
# Blocking PR merge on certain entities as they are being moved to no-code-app service.
# Any update on this entities, will require explicit approval from nocode-apps team.
app/Http/Controllers/PaymentLinkController.php                  @razorpay/nocode
app/Jobs/PaymentPageProcessor.php                               @razorpay/nocode
app/Models/PaymentLink                                          @razorpay/nocode
app/Models/PaymentLink/CustomDomain                             @razorpay/nocode
app/Models/PaymentLink/CustomDomain/Plans                       @razorpay/nocode
app/Models/PaymentLink/CustomDomain/Mock                        @razorpay/nocode
app/Models/PaymentLink/CustomDomain/WebhookProcessor            @razorpay/nocode
app/Models/PaymentLink/NocodeCustomUrl                          @razorpay/nocode
app/Models/PaymentLink/PaymentPageItem                          @razorpay/nocode
app/Models/PaymentLink/PaymentPageRecord                        @razorpay/nocode
app/Models/PaymentLink/Template                                 @razorpay/nocode
generated/proto/Rzp/CustomDomainService/App/V1                  @razorpay/nocode
generated/proto/Rzp/CustomDomainService/Domain/V1               @razorpay/nocode
generated/proto/Rzp/CustomDomainService/Propagation/V1          @razorpay/nocode
resources/views/payment_button                                  @razorpay/nocode
resources/views/payment_handle                                  @razorpay/nocode
resources/views/payment_link                                    @razorpay/nocode
resources/views/payment_link/partials                           @razorpay/nocode


#
# QrCode
#
app/Models/QrCode                                   @razorpay/qr-code-devs
app/Models/QrPayment                                @razorpay/qr-code-devs
app/Models/QrPaymentRequest                         @razorpay/qr-code-devs
