# This file allows Github to automatically request reviews from
# code owners when certain files are changed.
# Ref: https://github.com/blog/2392-introducing-de-owners
#
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.

#
# Core App
#
app/Http/BasicAuth/                                           @razorpay/spine-edge
app/Http/Controllers/EdgeController.php                       @razorpay/spine-edge
app/Http/Controllers/EdgeProxyController.php                  @razorpay/spine-edge
app/Http/Controllers/EdgeThrottleController.php               @razorpay/spine-edge
app/Http/Controllers/RateLimiterController.php                @razorpay/spine-edge
app/Http/Controllers/KeyController.php                        @razorpay/spine-edge
app/Http/Controllers/OAuthApplicationController.php           @razorpay/spine-edge
app/Http/Controllers/OAuthTokenController.php                 @razorpay/spine-edge
app/Http/Edge/                                                @razorpay/spine-edge
app/Http/Middleware/Authenticate.php                          @razorpay/spine-edge
app/Http/Middleware/DecodePassportJwt.php                     @razorpay/spine-edge
app/Http/Middleware/StripQueryParam.php                       @razorpay/spine-edge
app/Http/Middleware/UserAccess.php                            @razorpay/spine-edge
app/Http/Middleware/AdminAccess.php                           @razorpay/spine-edge
app/Http/Middleware/Throttle.php                              @razorpay/spine-edge
app/Http/Throttle/                                            @razorpay/spine-edge
app/Http/OAuth.php                                            @razorpay/spine-edge
app/Http/OAuthCache.php                                       @razorpay/spine-edge
app/Http/OAuthScopes.php                                      @razorpay/spine-edge
app/Http/RequestContext.php                                   @razorpay/spine-edge
app/Http/RequestContextV2.php                                 @razorpay/spine-edge

#
# Models
#

app/Models/Balance/FreePayout.php                      @razorpay/Payouts-core
app/Models/BankingAccountStatement/                    @razorpay/Payouts-core
app/Models/Card/                                       @razorpay/TechCards
app/Models/Card/NetworkName.php                        @razorpay/TechRulesRouting
app/Models/Checkout/                                   @razorpay/checkout-backend-leads
app/Models/Key/                                        @razorpay/spine-edge
app/Models/Merchant/Checkout.php                       @razorpay/checkout-backend-leads
app/Models/Merchant/CheckoutExperiment.php             @razorpay/checkout-backend-leads
app/Models/Customer/Truecaller                         @razorpay/checkout-backend-leads
app/Models/Pricing/                                    @razorpay/pricing-team
app/Models/Payout/                                     @razorpay/Payouts-core
app/Models/Pricing/Payout.php                          @razorpay/Payouts-core
app/Models/Reversal/                                   @razorpay/Payouts-core
app/Models/Terminal/Sorters/                           @razorpay/TechRulesRouting
app/Models/Terminal/AuthSelector.php                   @razorpay/TechRulesRouting
app/Models/Terminal/Selector.php                       @razorpay/TechRulesRouting
app/Models/Terminal/                                   @razorpay/TechOnlinePaymentsOnboarding
app/Models/Transfer/                                   @razorpay/enterprise-apps
app/Models/TrustedBadge                                @razorpay/checkout-backend-leads
app/Models/FundTransfer/M2P/M2PConfigs.php             chirag.chiranjib@razorpay.com
app/Models/Consumer/                                          @razorpay/spine-edge
app/Models/Key/                                               @razorpay/spine-edge
app/Models/Merchant/AccessMap/MigrateImpersonationSource.php  @razorpay/spine-edge
app/Models/Merchant/AccessMap/MigrateKongTarget.php           @razorpay/spine-edge
app/Models/Merchant/AccessMap/MigrateSource.php               @razorpay/spine-edge
app/Models/OAuthApplication/                                  @razorpay/spine-edge
app/Models/OAuthToken/                                        @razorpay/spine-edge
app/Models/FeeRecovery/                                       @razorpay/x-acquisition-be
app/Models/BankingAccount/                                    @razorpay/x-acquisition-be
app/Models/BankingAccountService/                             @razorpay/x-acquisition-be
#
# Services
#

app/Services/UpiPayment/                               @razorpay/techupicore
app/Services/AuthService.php                           @razorpay/spine-edge
app/Services/CheckoutService.php                       @razorpay/checkout-backend-leads
app/Services/Mock/CheckoutService.php                  @razorpay/checkout-backend-leads
app/Services/Edge/                                     @razorpay/spine-edge
app/Services/BankingAccountService.php                 @razorpay/x-acquisition-be
app/Services/Mock/BankingAccountService.php            @razorpay/x-acquisition-be
#
# Gateways
#

app/Gateway/Upi/Icici                                  @razorpay/qr-code-devs
app/Gateway/Upi/Yesbank                                @razorpay/qr-code-devs
app/Gateway/Upi                                        @razorpay/techupicore sharma.nikhil@razorpay.com kalpana.meena@razorpay.com


#
# Unit Tests
#
tests/Unit/Edge/                                       @razorpay/spine-edge
tests/Unit/Models/BankingAccount/                      @razorpay/x-acquisition-be
tests/Unit/Services/BankingAccountServiceTest.php      @razorpay/x-acquisition-be
#
# Functional Tests
#

tests/Functional/QrCode/                               @razorpay/qr-code-devs
tests/Functional/Transfer/                             @razorpay/enterprise-apps
tests/Functional/BankingAccountStatement/              @razorpay/Payouts-core
tests/Functional/Key/                                  @razorpay/spine-edge
tests/Functional/Edge/                                 @razorpay/spine-edge
tests/Functional/FeeRecovery/                          @razorpay/x-acquisition-be
tests/Functional/BankingAccount/                       @razorpay/x-acquisition-be
tests/Functional/BankingAccountService/                @razorpay/x-acquisition-be
tests/Functional/Merchant/MerchantBankingInvoiceTest.php   @razorpay/x-acquisition-be

#
# Jobs
#

app/Jobs/TrustedBadge.php                              @razorpay/checkout-backend-leads
app/Jobs/BackFillMerchantApplications.php              @razorpay/spine-edge
app/Jobs/BackFillReferredApplication.php               @razorpay/spine-edge
app/Jobs/BulkMigrateAggregatorToResellerJob.php        @razorpay/spine-edge
app/Jobs/BulkMigrateResellerToAggregatorJob.php        @razorpay/spine-edge
app/Jobs/TriggerAcsFullSync.php                        @razorpay/spine-edge @razorpay/identity-core
app/Jobs/TriggerAcsSync.php                            @razorpay/spine-edge @razorpay/identity-core
app/Jobs/FeeRecovery.php                               @razorpay/x-acquisition-be
app/Jobs/BankingAccount/                               @razorpay/x-acquisition-be
#
# Mails
#

app/Mail/OAuth/                                       @razorpay/spine-edge
app/Mail/BankingAccount/                              @razorpay/x-acquisition-be

.github/actions/                                       @razorpay/ZeroTouchWarriors
devspace.yaml                                          @razorpay/devstack-devs

#
# Features
#
# /app/Models/Feature/Constants.php is owned by dcs team, any new use cases
# of feature flags should go to dcs or razorx/splitz
# permanent flags - dcs
# experimental flags / rollout flags - razorx / splitz

/app/Models/Feature/Constants.php                      @razorpay/techcommonplatforms
/app/Models/Feature                                    @razorpay/techcommonplatforms
/app/Services/Dcs                                      @razorpay/techcommonplatforms

#
# Order is owned by core team.
# It's moved to PG Router.
#
/app/Models/Order                                       @razorpay/techpaymentscore
app/Models/Transaction                                  @razorpay/techpaymentscore

# Merchant Entities
#
# Blocking PR merge on certain entities as they are being moved to account service.
# Any update on this entities, will require explicit approval from platform identity team.
app/Models/Merchant/Entity.php                                @razorpay/identity-core
app/Models/Merchant/Detail/Entity.php                         @razorpay/identity-core
app/Models/Merchant/Document/Entity.php                       @razorpay/identity-core
app/Models/Merchant/Email/Entity.php                          @razorpay/identity-core
app/Models/Merchant/Stakeholder/Entity.php                    @razorpay/identity-core
app/Models/Merchant/BusinessDetail/Entity.php                 @razorpay/identity-core
app/Models/Merchant/Website/Entity.php                        @razorpay/identity-core

#
# Merchant Related Repository
#
# Blocking PR merge on merchant related repositories as account-service is now owner for merchant-related entities and hence repositories.
# Any update on these repositories, will require explicit approval from platform identity team.
app/Models/Merchant/Repository.php                            @razorpay/identity-core
app/Models/Merchant/Detail/Repository.php                     @razorpay/identity-core
app/Models/Merchant/Document/Repository.php                   @razorpay/identity-core
app/Models/Merchant/Email/Repository.php                      @razorpay/identity-core
app/Models/Merchant/Stakeholder/Repository.php                @razorpay/identity-core
app/Models/Merchant/BusinessDetail/Repository.php             @razorpay/identity-core
app/Models/Merchant/Website/Repository.php                    @razorpay/identity-core

#
# Merchant Acquisitions Entities
#
# Blocking PR merge on certain entities as they are being moved to PG Onboarding Service.
# Any update on these entities will require explicit approval from aqp-be team.
app/Models/Merchant/Detail                         @razorpay/pg-onboarding-service
app/Models/Merchant/Document                       @razorpay/pg-onboarding-service
app/Models/Merchant/Stakeholder                    @razorpay/pg-onboarding-service
app/Models/Merchant/BusinessDetail                 @razorpay/pg-onboarding-service
app/Models/Merchant/Website                        @razorpay/pg-onboarding-service
app/Models/ClarificationDetail                     @razorpay/pg-onboarding-service
app/Models/DeviceDetail                            @razorpay/pg-onboarding-service
app/Models/Merchant/BvsValidation                  @razorpay/pg-onboarding-service
app/Models/Merchant/Consent                        @razorpay/pg-onboarding-service
app/Models/Merchant/Escalations                    @razorpay/pg-onboarding-service
app/Models/Merchant/Store                          @razorpay/pg-onboarding-service
app/Models/Merchant/VerificationDetail             @razorpay/pg-onboarding-service
app/Models/Merchant/Detail/Service.php             @razorpay/tech-banking
app/Models/Merchant/Consent                        @razorpay/tech-banking
app/Models/Merchant/Service.php                    @razorpay/tech-banking

# Blocking PR merge on merchant package to check correct usages of save or fail with asv
# Any update on these entities will require explicit approval from @razorpay/identity-core team.
app/Models/Merchant                                @razorpay/identity-core
app/Models/Merchant/RazorxTreatment.php

# Blocking PR merge on refund files since they are being moved to Scrooge service
# Any update in these files will require explicit approval from scrooge
app/Models/Payment/Processor/Refund.php             @razorpay/scrooge
app/Models/Payment/Refund                           @razorpay/scrooge
app/Http/Controllers/RefundController.php           @razorpay/scrooge
app/Http/Controllers/ScroogeController.php          @razorpay/scrooge
app/Services/Scrooge.php                            @razorpay/scrooge
app/Models/Base/Traits/ExternalScroogeRepo.php      @razorpay/scrooge


# Blocking PR merge on settlement files since they are being moved to settlements service
# Any update in these files will require explicit approval from settlements team
app/Models/Settlement                               @razorpay/TechSettlements
app/Http/Controllers/SettlementController.php       @razorpay/TechSettlements
app/Services/Settlements                            @razorpay/TechSettlements

# Blocking PR merge on ondemand settlement files
# Any update in these files will require explicit approval from capital team
app/Models/Settlement/Ondemand                          @razorpay/Capital_BE
app/Models/Settlement/OndemandFundAccount               @razorpay/Capital_BE
app/Models/Settlement/OndemandPayout                    @razorpay/Capital_BE
app/Http/Controllers/SettlementOndemandController.php   @razorpay/Capital_BE


#
# Nocode Entities
#
# Blocking PR merge on certain entities as they are being moved to no-code-app service.
# Any update on this entities, will require explicit approval from nocode-apps team.
app/Http/Controllers/PlinkController.php                        @razorpay/nocode
app/Http/Controllers/InvoiceController.php                      @razorpay/nocode
app/Http/Controllers/PaymentLinkController.php                  @razorpay/nocode
app/Jobs/PaymentPageProcessor.php                               @razorpay/nocode
app/Models/PaymentLink                                          @razorpay/nocode
app/Models/PaymentLink/CustomDomain                             @razorpay/nocode
app/Models/PaymentLink/CustomDomain/Plans                       @razorpay/nocode
app/Models/PaymentLink/CustomDomain/Mock                        @razorpay/nocode
app/Models/PaymentLink/CustomDomain/WebhookProcessor            @razorpay/nocode
app/Models/PaymentLink/NocodeCustomUrl                          @razorpay/nocode
app/Models/PaymentLink/PaymentPageItem                          @razorpay/nocode
app/Models/PaymentLink/PaymentPageRecord                        @razorpay/nocode
app/Models/PaymentLink/Template                                 @razorpay/nocode
generated/proto/Rzp/CustomDomainService/App/V1                  @razorpay/nocode
generated/proto/Rzp/CustomDomainService/Domain/V1               @razorpay/nocode
generated/proto/Rzp/CustomDomainService/Propagation/V1          @razorpay/nocode
resources/views/payment_button                                  @razorpay/nocode
resources/views/payment_handle                                  @razorpay/nocode
resources/views/payment_link                                    @razorpay/nocode
resources/views/payment_link/partials                           @razorpay/nocode
resources/views/emails/invoice                                  @razorpay/nocode
resources/views/emails/invoice/customer                         @razorpay/nocode
resources/views/emails/invoice/customer/custom                  @razorpay/nocode
resources/views/emails/invoice/merchant                         @razorpay/nocode
resources/views/emails/payment_link                             @razorpay/nocode
resources/views/invoice                                         @razorpay/nocode
app/Models/Invoice                                              @razorpay/nocode
tests/Functional/Invoice                                        @razorpay/nocode
tests/Functional/Invoice/Helpers                                @razorpay/nocode
tests/Functional/PaymentLink                                    @razorpay/nocode
tests/Functional/PaymentLink/Helpers                            @razorpay/nocode
tests/Unit/Models/PaymentLink                                   @razorpay/nocode
tests/Unit/Models/PaymentLink/Template/Helpers                  @razorpay/nocode
tests/Unit/Models/PaymentLink/Template                          @razorpay/nocode
tests/Unit/Models/PaymentLink/PaymentPageItem/Helpers           @razorpay/nocode
tests/Unit/Models/PaymentLink/PaymentPageItem                   @razorpay/nocode
tests/Unit/Models/PaymentLink/NocodeCustomUrl/Helpers           @razorpay/nocode
tests/Unit/Models/PaymentLink/NocodeCustomUrl                   @razorpay/nocode
tests/Unit/Models/PaymentLink/Helpers                           @razorpay/nocode
tests/Unit/Models/PaymentLink/CustomDomain/WebhookProcessor     @razorpay/nocode
tests/Unit/Models/PaymentLink/CustomDomain                      @razorpay/nocode


#
# QrCode
#
app/Models/QrCode                                   @razorpay/qr-code-devs
app/Models/QrPayment                                @razorpay/qr-code-devs
app/Models/QrPaymentRequest                         @razorpay/qr-code-devs

#
# User Entity
#
# Blocking PR merge on user entity as they are owned by platform identity team.
# Any update on these files, will require explicit approval from platform identity team.
app/Models/User/                                    @razorpay/identity-core @razorpay/spine-edge
app/Http/Controllers/UserController.php             @razorpay/identity-core @razorpay/spine-edge


#
# Partner Entities
# Blocking PR merge on certain entities as they are being moved to partnership service.
# Any update on this entities, will require explicit approval from partnership experience or partnership growth team.
app/Http/Controllers/AccountController.php                 @razorpay/partnership-be
app/Http/Controllers/AccountControllerV2.php               @razorpay/partnership-be
app/Http/Controllers/DocumentControllerV2.php              @razorpay/partnership-be
app/Http/Controllers/EntityOriginController.php            @razorpay/partnership-be
app/Http/Controllers/OAuthApplicationController.php        @razorpay/partnership-be
app/Http/Controllers/OnboardingWebhookController.php       @razorpay/partnership-be
app/Http/Controllers/PartnerConfigController.php           @razorpay/partnership-be
app/Http/Controllers/PartnerController.php                 @razorpay/partnership-be
app/Http/Controllers/StakeholderController.php             @razorpay/partnership-be
app/Models/Partner                                         @razorpay/partnership-be
app/Models/EntityOrigin                                    @razorpay/partnership-be
app/Models/Merchant/Account                                @razorpay/partnership-be
app/Models/Merchant/AccountV2                              @razorpay/partnership-be
app/Models/Merchant/AccessMap                              @razorpay/partnership-be
app/Models/Merchant/MerchantApplications                   @razorpay/partnership-be
app/Models/Merchant/Product                                @razorpay/partnership-be
app/Models/Merchant/Stakeholder/Core.php                   @razorpay/partnership-be
app/Models/Merchant/Stakeholder/Service.php                @razorpay/partnership-be
app/Models/Merchant/Stakeholder/Response.php               @razorpay/partnership-be
app/Models/Merchant/CapitalSubmerchantUtility.php          @razorpay/partnership-be
app/Models/Merchant/PhantomUtility.php                     @razorpay/partnership-be
app/Jobs/Kafka/PartnerWebhookEventHandlerJob.php           @razorpay/partnership-be
app/Jobs/BackFillMerchantApplications                      @razorpay/partnership-be
app/Jobs/BackFillReferredApplications                      @razorpay/partnership-be
app/Jobs/CallBackFillMerchantApps                          @razorpay/partnership-be
app/Jobs/CallBackFillReferredApps                          @razorpay/partnership-be
app/Jobs/ProductConfig                                     @razorpay/partnership-be

#
# X Acquisition BE
#
app/Http/Controllers/FeeRecoveryController.php             @razorpay/x-acquisition-be
resources/views/emails/banking_account/                    @razorpay/x-acquisition-be
resources/views/merchant/invoice/invoice.blade.php         @razorpay/x-acquisition-be

#
# Cross Border
#
app/Models/Currency                                        @razorpay/TechCrossBorder
app/Http/Controllers/CurrencyController.php                @razorpay/TechCrossBorder
app/Models/Merchant/Detail/InternationalCore.php           @razorpay/TechCrossBorder
app/Models/Merchant/InternationalIntegration               @razorpay/TechCrossBorder
app/Models/Merchant/InternationalEnablement                @razorpay/TechCrossBorder
app/Models/Payment/PaymentMeta                             @razorpay/TechCrossBorder


#
# CDP (Slack - @cdp-devs, #tech_infra_cdp)
# Mandating CDP team's review on any changes related to Customer, Addresses and Consents Entities
app/Http/Controllers/CustomerController.php              @razorpay/cdp
app/Models/Customer/CustomerConsent1cc                   @razorpay/cdp
app/Models/Customer/Account                              @razorpay/cdp
