.activation-wizard {
  small.help-block {
    font-size: 12px;

    .fa + span {
      margin-left: 5px;
    }
  }

  .btn-toolbar {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .wizard-header {
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
  }
}
