.container {
  max-width: 100%;
}

.panel > .panel-heading, .panel > .panel-footer {
  padding: 15px 20px;
}

.modal-header .close {
  margin: 3px;
}

.table > thead > tr > th {
  background-color: #eaeff0;
}

.form-control[type='number'] {
  padding-right: 0;
}

.label {
  font-size: 14px;
}

.label-muted {
  background-color: #999;
}

.btn-default {
  background-color: #fafafa;
}

.checkbox label.i-switch {
  padding-left: 0;
}

.nav-tabs > li.active,
.nav-tabs > li {
  > a.text-success {
    color: #23ad44;
  }

  > a.text-danger {
    color: #f05050;
  }
}

.dropdown-menu {
  margin-top: 0;
  border-radius: 0;
}
