.container {
  max-width: 100%;
}

.panel-heading, .panel-footer {
  padding: 15px 20px;
}

.panel-body {
  padding: 20px;
}

.modal-header .close {
  margin: 3px;
}

.fa + span {
  margin-left: 3px;
}

.table > thead > tr > th {
  background-color: #eaeff0;
}
