// Only page layout styles should reside in this file.
// This will be moved under `rzp` later

@import './bootstrap-ext'
@import 'react-dates/lib/css/_datepicker.css';
@import 'react-power-select/dist/react-power-select.css';
@import 'react-simple-dropdown/styles/Dropdown.css';
@import './invoice'

.react-root {
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #aaa;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #aaa;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #aaa;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaa;
  }

  h3, h2 {
    margin: 0;
  }

  h3 {
    font-weight: bold;
    font-size: 20px;
  }
}

.content-wrapper {
  padding: 30px 20px;

  a {
    color: #337ab7;
  }
}

// React Modal Style Overrides

body.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Content h4 {
  margin: 0;
}


.ReactModal__Content {
  transition: transform 300ms ease-in-out;
  transform: translateY(-15%);

  &--after-open {
    transform: translateY(0);
  }
  &--before-close {
    transform: translateY(-15%);
  }
}

.ReactModalPortal > * {
  // When the modal is closed, overlay div has no css class
  // This selector should be overridden by the `&--after-open` class below
  opacity: 0;
}

.ReactModal__Overlay {
  transition: opacity 250ms ease-in-out;
  opacity: 0;

  &--after-open {
    opacity: 1;
  }
  &--before-close {
    opacity: 0;
  }
}

// React Tooltip

[data-tip] {
  position: relative;
  &[data-place=bottom] {
    &:before, &:after {
      bottom: auto;
      top: 100%;
      transform: translateX(-50%) translateY(-6px) scale(.92);
      border-bottom-color: #222;
      border-top-color: transparent;
    }
  }
  &:before, &:after {
    opacity: 0;
    transform: translateX(-50%) translateY(6px) scale(.92);
    left: 50%;
    bottom: 100%;
    position: absolute;
    pointer-events: none;
    z-index: 1000;
    transition: .17s, .3s transform;
  }
  &:before {
    content: '';
    border: 7px solid transparent;
    border-top-color: #222;
    margin: -7px 0 -7px;
  }
  &:after {
    margin: 6px 0 6px;
    content: attr(data-tip);
    padding: 4px 12px;
    background: #222;
    border-radius: 3px;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
  &:not([data-event]):hover,
  &[data-event=active]:active
  {
    &:before, &:after {
      opacity: 1;
      transform: translateX(-50%);
    }
  }
  &[data-event=active] {
    &:active {
      &:after, &:before {
        transition: 0s;
      }
    }
    &:after, &:before {
      transition-delay: 2s;
    }
  }
}

// react-dates style overrides

.SingleDatePicker {
  display: block;
}

.SingleDatePickerInput {
  border-color: #cfdadd;
}

.SingleDatePicker__tether--show {
  top: -11px !important;
}

.SingleDatePicker__picker {
  top: 45px;
}

.DateInput__input {
  cursor: pointer;
}

.DateInput {
  font-weight: inherit;
  font-size: 14px;
  padding: 0;
  width: 100%;
}

.DateInput__display-text {
  color: #aaa;
}

.DateInput__display-text--focused {
  background-color: #fff;
  border-color: inherit;
  color: inherit;
}

.DateInput__display-text--has-input {
  color: #555;
}

.DateInput--with-caret::before {
  top: 34px;
}

.DateInput--with-caret::after {
  top: 35px;
}

.DateRangePicker__picker--valid-date-hovered .CalendarMonth__day--selected-start,
.DateRangePicker__picker--valid-date-hovered .CalendarMonth__day--selected-end,
.CalendarMonth__day--selected-start,
.CalendarMonth__day--selected-end,
.CalendarMonth__day--selected {
  background-color: #23b7e5;
  border-color: #23b7e5;
}

// End of third party style overrides

.butterbar {
  position: fixed;
  top: 50px;
  left: 200px;
  right: 0;
  z-index: 1;
}

.page-spinner-container {
  display: flex;
  height: 350px;

  .spinner {
    margin: auto;
  }
}

.modal-body .page-spinner-container {
  height: 150px;
}

.quick-create {
  padding: 2px 5px;
  background-color: rgba(195, 195, 195, 0.23);
  color: #337ab7;
  cursor: pointer;
  font-size: 12px;
}

.row-action > .btn-group {
  visibility: hidden;
}

tr:hover .row-action > .btn-group {
  visibility: visible;
}

.panel-detail-container {
  max-width: 700px;
  margin: auto;

  .text-warning {
    color: #d8b617;
  }

  .list-group-item {
    .table > tbody > tr > td.empty-table {
      padding: 20px;
      border-top: 0;
    }

    &:not(.no-flex) {
      display: flex;
      justify-content: space-between;
    }
  }
}

@keyframes luminate {
  0% {
    background-color: rgba(251, 251, 157, 0.75)
  }

  75% {
    background-color: rgba(251, 251, 157, 0.5)
  }

  100% {
    background-color: transparent
  }
}

.table > tbody > tr.luminate > td {
  animation: luminate 4s linear;
}

.alert-sm {
  padding: 2px 4px;
  font-size: 12px;
}

.label-required {
  position: relative;

  &::after {
    content: '*';
    position: absolute;
    top: 0;
    right: -10px;
    color: #e68686;
  }
}

.form-horizontal .control-label.label-required::after {
  right: 7px;
  top: 7px;
}

// List Filter Container

.list-filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 15px -5px;
}

.list-filter-item {
  flex: 1;
  flex-basis: 185px;
  flex-grow: 0;
  margin-left: 25px;

  &.count {
    flex-basis: 70px;
  }

  &.btn-toolbar {
    margin-top: 25px;
    flex-basis: initial;

    > .btn:first-child {
      margin-left: 0;
    }
  }
}

.status-label {
  display: inline-block;
  width: 80px;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-group > .tooltip-wrapper {
  display: inline-block;
}

.label-draft {
  background-color: #ccc;
  color: #fff;
}

.breadcrumb__backNav {
  padding: 0;
  background-color: transparent;
  margin-bottom: 25px;
}

.breadcrumb__backNav--heading {
  display: inline-block;
}

.breadcrumb__backNav--heading + .label-draft {
  margin-left: 5px;
}

a.breadcrumb__backNav--link {
  color: #7266ba;
}

.breadcrumb > li + li {
  padding-left: 16px;
  margin-left: 16px;
  position: relative;

  &:before {
    content: '';
    display: block;
    height: 24px;
    border-left: 1px solid rgba(0, 0, 0, 0.54);
    position: absolute;
    left: 0;
    bottom: -2px;
    transform: rotate(24deg)
  }
}



.rzpChecbox {
  margin-bottom: 5px;

  [type='checkbox']:not(:checked), [type='checkbox']:checked {
    position: absolute;
    left: -9999px;

    + label {
      position: relative;
      padding-left: 25px;
      cursor: pointer;

      &::before {
        content: '';
        width: 20px;
        height: 20px;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        background-color: #f5f5f5;
        display: inline-block;
        position: absolute;
        left: 0;
      }

      &::after {
        content: '✔';
        color: #7266ba;
        position: absolute;
        bottom: 0;
        left: 4px;
        transition: opacity 0.2s ease-out;
      }
    }
  }

  [type='checkbox']:not(:checked) + label::after {
    opacity: 0
  }

  [type='checkbox']:checked + label::after {
    opacity: 1
  }
}

.Modal {
  .alert {
    margin-left: -24px;
    margin-right: -24px;
  }

  .form-group > label {
    font-weight: bold;
  }
}
