.PaymentButton-Create-SuccessView-V2

  .Form-title 
    color: #1F890E

  .Form-buttonIntegration
    width: 100%

    .Form-buttonIntegration-title
      font-size: 16px
      margin-bottom: 14px

    .Form-buttonIntegration-body
      border: 1px solid #EDF0F5
      border-radius: 3px
      background: #F9FBFE
      box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1)
      padding: 16px

      .code-section, .integration-section
        display: inline-block
        width: 50%
        vertical-align: top

      .integration-section
        padding: 20px 10px 20px 32px

        .plugins 
          img 
            width: 19px
            height: 19px
          div
            width: 50%

        .integrations
          div
            width: 33%

        .plugins, .integrations
          font-weight: bold
          display: flex
          flex-flow: wrap
          margin-top: 16px
          margin-bottom: 8px

          div
            margin-bottom: 14px

          img 
            margin-right: 8px

      .code-section
        padding: 16px
        background-size: cover
        color: white
        border-radius: 4px

        .section-title 
          font-size: 16px
          font-weight: bold

        .Button
          line-height: 12px
          font-size: 10px
          padding: 5px 11px
          margin-right: 0
          background-color: white
          color: #528FF0

        .ClipboardCustom
          float: right
          margin-top: -2px

        .Input--codeCopy
          margin: 20px 0

          .Input-el
            height: 80px
            font-size: 13px
            padding: 6px 12px
            color: #58666E

        .help-text
          margin-top: 12px
          font-size: 14px
          font-weight: bold

        .test-code-section
          margin-top: 13px

        .test-code-text
          margin-top: 12px
          text-align: right

        .try-now-btn
          float: right
          font-weight: bold
          margin-left: 8px

          
  .Form-buttonActions
    width: 100%
    margin-top: 32px

    .Form-buttonActions-title
      font-size: 16px
      margin-bottom: 14px

    .Form-buttonActions-body
      display: flex
      justify-content: space-between

      .receipt-settings, .postPayment-settings
        width: 49%
        padding: 18px
        border: 1px solid #EBEFF0
        background: #FCFCFC

      .Button
        line-height: 12px
        font-size: 10px
        float: right
        margin-right: 0
        background: rgba(11,112,231,0.05)

    .help-text-settings
      margin-top: 19px

  .Form-controls 
    .Button
      margin-right: 0
      background-color: #2B83EA;