.PaymentButton-Create-Preview
  position: relative
  width: 300px
  padding: 32px 28px
  border-left: 1px solid rgba(22, 47, 86, 0.1)
  overflow: hidden
  transition: .1s

  .Preview-title
    font-size: 20px
    line-height: 30px
    font-weight: bold
    color: rgba(22, 47, 86, 0.54)
    margin-bottom: 8px

  &.PaymentButton-Create-Preview--hide
    width: 0
    opacity: 0

  .PaymentButton-PreviewFormShell
    margin: 28px auto

.PaymentButton-PreviewFormShell
  position: relative
  width: 240px
  border-radius: 4px
  box-shadow: 0 0 20px rgba(0,0,0,0.08)
  background-color: #fff
  overflow: hidden
  z-index: 0

  .PreviewFormShell-header
    padding: 16px
    overflow: hidden
    height: 76px
    background: #fff
    position: relative
    top: 0
    width: 100%

    &::before
      content: ''
      left: 0
      right: 0
      bottom: 0
      top: 0
      position: absolute
      background-image: linear-gradient(to bottom right,rgba(255,255,255,0.2),rgba(0,0,0,0.2))

  .PreviewFormShell-checkout-form
    height: 312px
    padding: 16px 16px 48px

  .PreviewFormShell-header-logo
    height: 28px
    width: 28px
    text-align: center
    position: relative
    border-radius: 2px
    line-height: 62px
    float: left
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
    background: #fff
    margin-right: 9px

    img
      vertical-align: top

  .PreviewFormShell-header-details
    white-space: nowrap
    position: relative
    margin-top: -2px

  .header-details-merchant-name
    text-overflow: ellipsis
    overflow: hidden
    font-weight: bold
    font-size: 12px

  .header-details-amount
    font-weight: bold
    font-size: 9px
    line-height: 12px
    opacity: .8

  .Preview-topbar
    position: relative
    color: #fff
    top: -8px

  .Preview-topbar-title
    margin-right: 96px
    height: 16px
    font-size: 8px
    line-height: 16px
    letter-spacing: .5px
    text-transform: uppercase
    font-weight: 700
    text-align: left

  .Preview-controls
    width: 96px
    text-align: right
    position: absolute
    right: 0
    top: 0
    height: 16px

  .Preview-progressDots, .Preview-cross
    display: inline-block

  .Preview-progressDots
    height: 16px

    span
      display: inline-block
      vertical-align: middle
      margin: -1px 3px 5px
      width: 8px
      height: 8px
      border-radius: 50%
      text-align: center
      border: 1px solid #fff

  .Preview-cross
    width: 16px
    height: 16px
    margin-left: 4px
    line-height: 15px
    font-size: 15px
    vertical-align: top
    text-align: center
    cursor: pointer


  .PreviewFormShell-checkout-form
    overflow-y: scroll

    .empty-msg
      width: 70%
      font-weight: bold
      font-size: 12px
      line-height: 14px
      text-align: center
      color: rgba(22, 47, 86, 0.74)


    .Field-dummy-btn
      position: absolute
      height: 40px
      width: 100%
      padding: 0
      bottom: 0
      left: 0
      font-weight: bold
      font-size: 11px
      line-height: 40px
      text-align: center
      letter-spacing: 1px

      &::after
        content: ""
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        opacity: 1
        -webkit-transition: .2s
        -o-transition: .2s
        transition: .2s
        background: linear-gradient(180deg,hsla(0,0%,100%,.1),rgba(0,0,0,.1))

    .Field--dummy
      position: relative
      opacity: 0
      animation: .15s fadeIn .2s cubic-bezier(0.95, 0.11, 1, 1) forwards

      &:not(:first-of-type)
        margin-top: 24px

      .Field-label
        font-size: 9px
        margin-bottom: 1px

      .Field-description
        font-size: 8px
        color: #828282
        margin-top: 4px
        overflow-wrap: break-word

    .Field--dummy--udf
      .Field-el
        height: 18px
        border-bottom: 1px solid #E6E7E8

    .Field--dummy--amount
      .Field-label
        margin-bottom: 3px

      .Field-el
        height: 26px
        padding: 0 8px
        line-height: 25px
        font-size: 10px
        border: 1px solid #E6E7E8
        border-radius: 2px
        font-weight: bold

        .Field-el-addon
          font-size: 9px

        .currency-decimal
          font-size: 8.5px
          font-weight: normal

      .Input--checkbox
        margin: -13.5px 0 0

      .Input-checkbox
        width: 14.5px
        height: 14.5px

      .Input--counterTooltip
        top: 17px
        right: 6px

        .Input-content
          button, input
            height: 18px
            line-height: 18px

          button
            width: 18px
            font-size: 14px
            margin: 2px

          input
            font-size: 11px
            width: 68px


@keyframes fadeIn
  0%
    opacity: 0

  100%
    opacity: 100
