/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.git
.env
.env.*
!environment/.env.wercker
!environment/.env.defaults
!environment/.env.production
!environment/.env.beta
!environment/.env.stage
!environment/.env.perf
!environment/.env.perf1
!environment/.env.perf2
!environment/.env.func
!environment/.env.sample
!environment/.env.docker

environment/.env.dev
.DS_Store
/environment/env.php
!environment/*.j2
secrets.yaml
registry.yaml
