# editor configs
.idea
.vscode
.gradle

# debug logs
npm-debug.log*
lerna-debug.log*
yarn-error.log*

node_modules

public/dist
public/js/services.js
web/js/common/ui/ConfirmModal/ConfirmModalProvider.js
web/js/merchant/containers/Home/OnboardingCard/Instant/LiveMode.js
web/js/common/deprecated
web/js/common/typings/graph-types.ts
plugins/i18n-rules
**/*.json