/bootstrap/compiled.php
/vendor
.env
.env.*
!.env.wercker
!environment/.env.defaults
!environment/.env.production
!environment/.env.beta
!environment/.env.alpha
.DS_Store
Thumbs.db
/public/test/config.php
/public/fonts
docs/
app/config/dev
app/config/**/dev/
/environment/env.php
_*
storage/
