!storage/screenshots
selenium-server.jar
## Need to fix this
*.swp
*.swo
*.swn
*.swm
.DS_Store
Thumbs.db

/bootstrap/compiled.php
apigen
docs/

/resources/views/*.blade.php
storage/
generated/
notes.txt
public/docs
storage/
/resources/views/*.php
tmp/
public/js/themes/*.js
!public/js/themes/init.js
public/react/dist/
public/dist/

# php & node modules
/vendor
/node_modules

# env
environment/.env
environment/.env.dev
environment/.env.testing
environment/env.php
# ignore generated docker conf
environment/.env.dev_docker
environment/.env.testing_docker
!environment/.env.defaults
!environment/.env.production
!environment/.env.beta
!environment/.env.alpha
!environment/*.j2
