/bootstrap/compiled.php
/vendor
.env
.env.*
.idea/*
.vscode/*
.devspace/*
!environment/.env.wercker
!environment/.env.drone
!environment/.env.defaults
!environment/.env.production
!environment/.env.beta
!environment/.env.stage
!environment/.env.perf
!environment/.env.perf1
!environment/.env.perf2
!environment/.env.func
!environment/*.j2

# ignore generated docker conf
environment/.env.dev_docker
environment/.env.testing_docker

.DS_Store
Thumbs.db
/public/test/config.php
#/public/fonts
docs/
app/config/dev
app/config/**/dev/
/environment/env.php
_*
storage/
storage/files/batch/*
storage/files/filestore/*
storage/files/logos/*
storage/files/report/*
storage/files/settlement/*
storage/files/qrcodes/*
!storage/files/batch/.gitkeep
!storage/files/filestore/.gitkeep
!storage/files/logos/.gitkeep
!storage/files/report/.gitkeep
!storage/files/settlement/.gitkeep
!storage/files/qrcodes/.gitkeep


#eclipse
.buildpath
.project

#intellij
api.iml
.idea

#Central Repo Error Codes
error_codes/

.devspace/
devspace.yaml
.phpunit.result.cache
*.rdb
.tmp_staging
