loglevel = silent
puppeteer_skip_chromium_download = true
@universe:registry=https://registry.razorpay.com
@commander:registry=https://registry.razorpay.com
//registry.razorpay.com/:_authToken=${NPM_RAZORPAY_TOKEN}
//registry.razorpay.com/:always-auth=true
