puppeteer_skip_chromium_download = true
@universe:registry=https://registry.razorpay.com
@commander:registry=https://registry.razorpay.com
@razorpay:registry=https://npm.pkg.github.com/
//registry.razorpay.com/:_authToken=${NPM_RAZORPAY_TOKEN}
//registry.razorpay.com/:always-auth=true
//npm.pkg.github.com/:always-auth=true
//npm.pkg.github.com/:_authToken=${GITHUB_ACCESS_TOKEN}
legacy-peer-deps=true
