<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
  <testsuites>
      <testsuite name="Application Test Suite">
          <file>./tests/Functional/Merchant/MerchantTest.php</file>

          <!--
            Following ES related tests are failing on wercker.
            To be removed asap after debug.
          -->
          <exclude>./tests/Functional/Merchant/MerchantEsCreateTest.php</exclude>
          <exclude>./tests/Functional/Merchant/MerchantEsFetchTest.php</exclude>
          <exclude>./tests/Functional/Admin/GroupEsTest.php</exclude>

      </testsuite>
  </testsuites>
  <listeners>
     <!-- Uncomment and enable this listener below to print out run times for each test -->
    <!--<listener class="\RZP\Tests\Listeners\TestTimer" />-->
  </listeners>
  <filter>
    <whitelist>
      <directory suffix=".php">./app/</directory>
      <exclude>
        <file>./app/config/database.php</file>
        <file>./app/config/testing/database.php</file>
        <file>./app/gateway/hdfc/HdfcGatewayConfig.php</file>
        <directory suffix=".php">./app/database/seeds</directory>
      </exclude>
    </whitelist>
  </filter>
  <php>
    <ini name="memory_limit" value="512M"/>
    <const name="MCRYPT_RIJNDAEL_128" value="MCRYPT_RIJNDAEL_128"/>
  </php>
</phpunit>
