<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="All Tests">
            <directory>./Tests/Integration/</directory>
        </testsuite>
        <testsuite name="Circuit Breaker Tests">
            <directory>./Tests/CircuitBreaker/</directory>
            <file>./Tests/CircuitBreaker/TestCase.php</file>
        </testsuite>
        <testsuite name="User Session Tests">
            <file>./Tests/Functional/UserSessionTest.php</file>
        </testsuite>
        <testsuite name="Unit Tests">
            <directory>./Tests/Unit/app/Http/Middleware/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>

