@font-face {
	font-family: "icons";
	src: url('./icons.eot');
	src: url('./icons.eot?#iefix') format('eot'),
		url('./icons.woff2') format('woff2'),
		url('./icons.woff') format('woff'),
		url('./icons.ttf') format('truetype'),
		url('./icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-account-balance:before {
	content: "\E001";
}

.icon-account-white:before {
	content: "\E002";
}

.icon-account:before {
	content: "\E003";
}

.icon-arrow-back:before {
	content: "\E004";
}

.icon-arrow-forward:before {
	content: "\E005";
}

.icon-books:before {
	content: "\E006";
}

.icon-business:before {
	content: "\E007";
}

.icon-chart:before {
	content: "\E008";
}

.icon-check:before {
	content: "\E009";
}

.icon-chevron-down:before {
	content: "\E00A";
}

.icon-chevron-left:before {
	content: "\E00B";
}

.icon-chevron-right:before {
	content: "\E00C";
}

.icon-chevron-up:before {
	content: "\E00D";
}

.icon-city:before {
	content: "\E00E";
}

.icon-close:before {
	content: "\E00F";
}

.icon-comment:before {
	content: "\E010";
}

.icon-date-range:before {
	content: "\E011";
}

.icon-delete:before {
	content: "\E012";
}

.icon-dissatisfied:before {
	content: "\E013";
}

.icon-done-all:before {
	content: "\E014";
}

.icon-done:before {
	content: "\E015";
}

.icon-download:before {
	content: "\E016";
}

.icon-edit:before {
	content: "\E017";
}

.icon-error:before {
	content: "\E018";
}

.icon-external-link:before {
	content: "\E019";
}

.icon-folder-open:before {
	content: "\E01A";
}

.icon-folder:before {
	content: "\E01B";
}

.icon-fullscreen-exit:before {
	content: "\E01C";
}

.icon-fullscreen:before {
	content: "\E01D";
}

.icon-help:before {
	content: "\E01E";
}

.icon-history:before {
	content: "\E01F";
}

.icon-info-circle:before {
	content: "\E020";
}

.icon-info-outline:before {
	content: "\E021";
}

.icon-link:before {
	content: "\E022";
}

.icon-notes:before {
	content: "\E023";
}

.icon-people:before {
	content: "\E024";
}

.icon-plan:before {
	content: "\E025";
}

.icon-plus:before {
	content: "\E026";
}

.icon-refresh:before {
	content: "\E027";
}

.icon-repeat:before {
	content: "\E028";
}

.icon-save:before {
	content: "\E029";
}

.icon-search:before {
	content: "\E02A";
}

.icon-send:before {
	content: "\E02B";
}

.icon-settings:before {
	content: "\E02C";
}

.icon-store:before {
	content: "\E02D";
}

.icon-tour:before {
	content: "\E02E";
}

.icon-undo:before {
	content: "\E02F";
}

.icon-wallet:before {
	content: "\E030";
}
