.ReactModal__Content.magicToggleConfirmationModal
  max-width: 390px

  .modal-header
    padding: 0

  .confirmation-modal-desc
    line-height: 20px

.woocommerceManualSettingModal
  min-width: 880px

.woocommerce-demo-container.col-sm-6
  padding-left: 0
  padding-right: 0

.woocommerce-demo-container
  position: relative
  background: #0E1938
  background-size: cover

  .magic-checkout-demo-content
    padding: 10px 56px 15px 40px

    .magic-checkout-demo-video
      min-height: 430px
      min-width: 360px

    .demo-video-subtext
      color: #9FA3AF
      margin-top: 12px

  .modal-ellipse
    width: 15px
    height: 30px
    position: absolute
    border: 1.5px solid #1B4498
    border-bottom-right-radius: 30px
    border-top-right-radius: 30px
    border-left: none
    top: 15px

  .modal-ellipse-left
    top: 50%
    left: calc(100% - 15px)
    transform: rotate(180deg)

  .modal-square-icon
    width: 31px
    height: 31px
    transform: rotate(45deg)
    border-top: 1.5px solid #682241
    border-right: 1.5px solid #682241
    position: absolute
    bottom: 34px
    left: -15px

  img
    position: absolute
    top: 0
    left: calc(100% - 20px)
    margin-top: 34px
    z-index: 1
    width: 40px
    height: 40px

.woocommerce-modal-info
  display: flex
  flex-direction: row
  margin-top: 44px
  margin-left: 27px

  .info-point
    font-weight: 600
    line-height: 20px
    margin-left: 8px
    font-size: 16px
    color: #FFF

.pointer-container
  position: relative
  top: 2px
  opacity: 0.75

  .pointer-circle
    width: 16px
    height: 16px
    border-radius: 50%
    background: #167FE8

    .inner-pointer-circle
      width: 5px
      height: 5px
      border-radius: 50%
      background: #FFF

.woocommerce-credentials-form
  .form-title
    font-size: 16px
    font-weight: 600
    line-height: 22px
    color: #262D3A

  .form-header
    font-size: 16px
    font-weight: 600
    line-height: 20px
    margin-left: 36px
    height: 30px

  .form-desc
    margin-left: 36px
    color: #515761
    font-weight: 400
    font-size: 12px
    line-height: 21px
    margin-right: 45px

  .form-content
    margin-top: 24px

    .filter-item
      margin-left: 36px
      margin-right: 45px
      margin-top: 24px

      &:first-child
        margin-top: 0

      .form-input
        margin: 0

.woocommerce-info
  padding: 12px
  background: #F8F9FF
  margin: 24px 45px 0 36px

  .woocommerce-info-icon
    border-radius: 50%
    background: #B8C0E6
    height: 14px
    width: 20px
    margin-right: 8px
    margin-top: 4px

  .woocommerce-info-content
    color: #58666E
    font-size: 12px
    line-height: 18px

    .info-link
      text-decoration: underline
      color: #528FF0

.woocommerce-cta-container
  margin: 40px 45px 0 36px

.native-cta-container
  margin: 36px 32px 35px 52px

.woocommerce-cta-container > .woocommerce-form-cta,
.native-cta-container > .native-form-cta
  width: 100%
  font-weight: 600
  background: #1583F1
  border-radius: 2px
  display: flex
  align-items: center
  justify-content: center
  color: #FFF
  height: 42px
  cursor: pointer

.cta-container > .cta-disabled,
.native-cta-container > .cta-disabled
  cursor: not-allowed
  opacity: 0.5

.ReactModal__Content.shopifyManualSettingModal
  max-width: 390px

  .modal-header
    padding: 0

    .modal-title
      font-size: 16px
      font-weight: 600
      line-height: 20px
      color: #262D3A

.shopify-modal-container
  padding: 20px

  .shopify-modal-body
    color: #58666E
    line-height: 21px
    font-size: 14px
    padding: 0
    margin-top: 14px

  .shopify-Modal__actions
    margin-top: 38px
    display: flex
    justify-content: flex-end

    .Button
      margin-right: 0

    .Button--transparent
      padding: 0
      margin-right: 26px

.ReactModal__Content.nativeManualSettingModal
  min-width: 780px

.native-info-container.col-sm-6
  background: #0E1938
  color: #FFF
  padding: 0

  .modal-heading
    font-size: 16px
    font-weight: 600
    line-height: 19px
    margin: 43px 26px 0 33px

  .modal-info
    margin: 32px 48px 0 33px
    border-left: 3px solid #BAC1D3

    .info-points
      margin-top: 32px
      position: relative
      left: -10px
      top: -4px

      &:first-child
        margin-top: 0

      .info-text
        color: #BAC1D3
        font-weight: 500
        line-height: 22px

      .info-link
        color: #55A3F0
        text-decoration: underline

.native-input-form.col-sm-6
  padding: 0

.native-input-form > .native-credentials-form
  .modal-header
    padding: 0
    margin: 43px 32px 0 52px

  .modal-header > .modal-title
    font-size: 16px
    font-weight: 600
    line-height: 22px
    color: #262D3A

  .form-content
    margin-top: 28px

    .filter-item
      margin-left: 52px
      margin-right: 32px
      margin-top: 22px

      &:first-child
        margin-top: 0

      .form-input
        margin: 0

.confirmation-modal
  padding: 30px

  .confirmation-modal-subtext
    margin-top: 16px

  .confirmation-modal-ctas-container
    text-align: right
    margin-top: 20px

    .confirmation-modal-secondary-cta
      margin-right: 30px
      border: none

    .confirmation-modal-primary-cta
      padding: 12px 16px
      background: #1583F1
      font-weight: 600
      color: #FFF

.Notification > .i-info-outline.magicNotification
  left: 12px
  top: 14px

.Notification > .toastTxt
  margin-left: 12px
  position: relative
  top: -0.95px
