.auth-container .auth-inner {
  margin: 0;
}
.auth-container .auth-inner .auth-header, .auth-container .auth-inner .auth-body .auth-messaging {

  display: none;
}
.auth-container .auth-inner .auth-body {

  margin: 0;
}
#auth-container {

  min-height: auto;
}
