.Button
  background: #fbfbfb
  color: #414141
  padding: 10px 20px
  line-height: 16px
  border-radius: 2px
  border: 1px solid #e6e7e8
  outline: none
  margin-right: 12px
  transition: 0.15s, 0.3s border

  &:not(:disabled)
    &:hover
      background-color: #ececec

    &:active
      color: #58666e
      background-color: #dcdcdc

  &:disabled
    cursor: not-allowed !important
    opacity: 0.5

  &--small
    padding: 8px 24px;

  &--full-width
    width: 100%

.Button--invert
  background-color: #fff
  color: $primary-color

  &.Button--danger
    background-color: rgba(245, 106, 106, 0.12)
    color: $textDangerColor
    border: 1px solid rgba(245, 106, 106, 0.12)

    &:not(:disabled)
      &:hover
        color: #c72f2f

.Button--transparent
  background-color: transparent
  color: $primary-color
  border: 0
  padding: 0
  margin: 0 4px 0 0
  line-height: inherit
  cursor: pointer

  &:not(:disabled)
    &:hover
      background-color: transparent
      color: $primary-color-hover
      opacity: 0.85

    &.Button--Link
      &:active, &:focus
        background-color: transparent
        color: #135fd9
        box-shadow: none
        text-decoration: none

      &:hover
        text-decoration: underline

      i
        margin-left: 4px
        display: inline-block // To avoid putting text-decoration
        text-decoration: none

  &.Button--danger
    color: $textDangerColor

    &:not(:disabled)
      &:hover
        color: #c72f2f

  &.Button--muted
    color: $text-color

    &:not(:disabled)
      &:hover
        color: $secondary-color

.Button--primary
  background-color: $primary-color
  color: #fff
  border: darken($primary-color, 10%)

  &:not(:disabled)
    &:hover
      color: #fff
      background-color: $primary-color-hover
      border-color: #135fd9

    &:active
      color: #fff
      background-color: #135fd9
      border-color: #0e449c

.Button--primary--invert
  padding: 5px 11px
  background-color: #fff
  border-color: $primary-color
  color: $primary-color

.Button--secondary
  color: $primary-color
  border: 1px solid #E7E3E3
  background-color: #FFFFFF
  box-shadow: 1px 3px 6px 0 rgba(58,69,103,0.12)

  &:disabled
    color: $secondary-color-disabled

  &:not(:disabled)
    &:hover
      color: $secondary-color-hover
      border: 1px solid $primary-color;
      background-color: #F8FAFF;
      box-shadow: 2px 5px 10px 0 rgba(58,69,103,0.12);

    &:active
      color: $secondary-color-active
      border: 1px solid #D5E5FF
      background-color: #FFFFFF

.Button-icon
  float: left
  margin: 0 4px 0 -4px

.Button-icon--after
  float: right
  margin: 0 -4px 0 4px

/* Input having button on the right attached to it */
.Button--input--right
  position: relative
  margin-right: 0
  margin-left: -2px
  display: inline-block
  border-top-left-radius: 0
  border-bottom-left-radius: 0
  z-index: 2
  vertical-align: bottom

.Button--narrow
  padding: 6px 12px
  font-size: 11px
