.Form--tabular
  .Input-label
    float: left
    width: 172px
    text-align: right
  .Input-content
    margin-left: 190px
  .Custom-input-space
    margin: 0 0 15px 40px;
    color: rgba(22, 47, 86, 0.87);

