// stylelint-disable no-descending-specificity
// stylelint-disable declaration-no-important
// stylelint-disable stylus/no-eol-whitespace

.Modal-mask
  position: fixed
  background-color: rgb(17 30 60 / 0.6)
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index $z-index-modal-mask;
  overflow: scroll
  transition: opacity 250ms ease-in-out

  &--hide
    opacity: 0

    .Modal-container
      opacity: 0

.Modal-container
  position: absolute
  background: #FFF
  border-radius: 2px
  overflow: hidden
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

  &--transparent
    background: transparent

  &--spinner
    width: 100%
    height: 100%

    .Modal-close
      background: #FFF
      border-radius: 50%

  .Modal-close-faded
    color: rgb(22 47 86 / 0.24) !important

  .Modal-close
    position: absolute
    color: #58666E
    font-size: 30px
    padding: 9px 12px 11px
    right: 8px
    top: 8px
    line-height: 20px
    cursor: pointer
    z-index: 10
    user-select: none

    &:hover
      color: #333

  .Modal-close-disable
    opacity: 0.3;
    pointer-events: none;

.Modal-content
  & > header
    border-bottom: 2px solid #EEE
    padding: 12px 44px 16px 20px
    font-size: 20px

    & + .Modal-body
      padding: 24px

.Modal-container--animate-down
  animation: appear-down 250ms ease-in-out

@keyframes appear-down
  0%
    transform: translate(-50%, calc(-50% - 48px))

  100%
    transform: translate(-50%, -50%)

.blur
  overflow: hidden

  .main-content, 
  .sidebar, 
  .navbar, 
  .tether-element, 
  .page-nav-container, 
  #wysiwyg-root
    filter: blur(4px)

.Modal-container--top-40
  top: 40%

.SendLink--Modal
  .Input
    margin-top: 8px

    .Input-inlineLabel
      font-weight: 600

  .alert
    margin: 16px 0 0

  .Button
    margin-top: 16px

.PopOver--Modal
  .Modal-actions
    .Button
      position: absolute
      bottom: -64px
      font-size: 12px
      font-weight: 600
      color: #FFF
      margin: 0

      span
        display: block
        width: 32px
        height: 32px
        margin: 0 auto
        font-size: 20px
        border-radius: 2px
        color: $primary-color
        border: 1px solid rgb(82 143 240 / 0.77)
        margin-bottom: 4px
        line-height: 30px

    .Cancel-btn
      right: 60px

      &:hover
        color: #FFF
        opacity: 0.8

      span
        background-color: #FFF

    .Save-btn
      right: 12px

      &:hover
        color: #FFF
        opacity: 0.8

      span
        color: #FFF
        background-color: $primary-color

@media screen and (max-width $screen-xs-max)
  .mobile-full-width-modal
    width 100%
    height 100%

    .Modal-content
      > header,
      > .Modal-body
        padding 0 24px

      > header
        font-weight bold
        font-size 18px
        height 62px
        display flex
        align-items center

      > .Modal-body
        background #FAFAFA

        footer
          padding 14px 20px
