.otp-input
    display: flex
    div
        flex: 1
        height: 42px
        width: 42px
        border: 1px solid #EBEBEB;
        border-radius: 2px;
    input
        height:40px
        width: 40px
        border: none
        border-radius:0px
        -moz-appearance: textfield
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button
            -webkit-appearance: none
            -moz-appearance: none
            appearance: none
    .middle-man
        border-radius:0px
        border-left-width:0px
        border-right-width:0px
    .middle-man.active
        border-left-width:1px
        border-right-width:1px
        margin-left: -1px
        margin-right: -1px
        z-index: 1
    .active
        border-color: #518FF0;
    .seprator
        border:none
        background-color: transparent
        display:flex
        ._dash
            border-top: 1px solid #ebebeb
            width: 8px
            height: 1px
            align-self: center
            margin: 8px
    .first
        border-right-radius:0px
    .last
         border-left-radius:0px
    .wrong
        border-color:#F2C8C8
.wrong-msg
    color: #FF3E3E
    font-size: 12px

.2fa-modal
    .modal-body
        .illustration
            float:left
            margin-right: 10px
    .error-msg
        display: flex
        align-items: center
        border: 1px solid #FF6E6E
        border-radius: 2px
        background-color: #FFF1F1
        padding:3px
    .no-side-padding
        padding-left: 0px
        padding-right:0px

.otp-heading
    font-size: 13px;
    width: 330px;
    margin-bottom: 4px;
    color: #162f56bd;
