// .Slider

.SliderDots
  text-align: center

  .SliderDots-dot
    border-radius: 50%
    border: 1px solid #528FF0
    cursor: pointer
    display: inline-block
    width: 9px
    height: 9px
    margin-right: 5px
    
    &.SliderDots-dot--active
      background-color: #528FF0
