.RazorX-container.RazorX-container
  /* Toast Notifications */
  #toast-container
    right: unset
    transform: translateX(-50%)
    left: 50%

    .toast
      margin: 12px auto 0
      &.success
        background: $toast-success-bg
        color: $toast-success-text

      &.error
        background: $toast-error-bg
        color: $toast-error-text

  /* Modal */
  .Modal-mask
    background-color: rgba(45, 36, 37, 0.92)

    .Modal-container
      border-radius: 2px
      background: transparent
      box-shadow: none
      overflow: hidden
      max-height: unset

      .Modal-close
        color: rgba(255, 255, 255, 0.4)
        top: 10px
        padding: 9px 12px 11px
        right: -12px

      .Modal-content
        header
          position: relative
          color: rgba(255,255,255,0.9)
          padding: 12px 48px 12px 12px
          border-bottom: 0

          &::after
            content: ''
            display: block
            position: absolute
            top: 18px
            left: 0
            height: 24px
            width: 5px
            background: $highlight-color

        .Modal-body
          background: #fff
          min-width: 400px

          .footer
            margin: 0 -24px -24px
            padding: 16px
            border-top: 1px solid rgba(0,0,0,0.04)

          .form
            .field > label
              font-weight: 600

  /* Table */
  .table-striped .td
    min-width: auto

  .list-container
    .box
      margin: 0 24px
      box-shadow: none
      background: transparent

      .thead
        color: rgba(0,0,0,0.2)
        .th
          font-size: 12px
          font-weight: 600
          text-transform: uppercase

          &:first-of-type
            font-weight: 700
            color: rgba(0,0,0,0.6)

      .tr:nth-child(2n+1):not(.thead)
        background: #fafafa

    .table-container
      width: 100%

      .th
        vertical-align: bottom

  /* Spinner */
  .spinner
    &::after, &::before
      background-color: #dad9d9

  /* Pills */
  .pill
    color: #fff
    background-color: #e3e3e6

    &.label-success
      background-color: #84e64c

    &.label-danger
      background-color: #e05555

  /* Square Pills */
  .square-pills
    background: #efeeee
    color: inherit
