$color-text-main = #675a5d
$color-primary = #8a5a63
$color-primary-hover = #8a5a63
$color-primary-light = rgba(70, 59, 61, 0.24)

$background = #463b3d
$background-anti = #fcfcfc
$background-anti-overlay = rgba(0,0,0,0.008)
$background-anti-overlay-mask = #f7f7f7

$slime-glow = #8eff48

$toast-success-bg = #defdd5
$toast-success-text = #738608

$toast-error-bg = #ffecdf
$toast-error-text = #d44e50

$highlight-color = #f5df62

$red = #f35d5d
