.credit-summary-wrapper
  width: 34%
  height: 200px
  background: #FFFFFF
  box-shadow: 2px 2px 6px #162f560f
  transition: all 200ms ease-in-out
  border-radius: 4px
  .amount-wrapper-credit-summary
    margin: 28px 0 0 24px
    font-size: 18px
  .available-balance-amount
    color: #162f56de
    font-size: 24px
  .available-balance-text
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #4E617F
    margin: 2px 0 0 24px
    position: relative
  .rzp-tooltip-inner
    width: 360px
    padding: 1px
  .info-popover.rzp-popover.rzp-tooltip
    position: absolute
    top: 25px !important
    left: -30px !important
  .total-credit-text
    font-weight: 400
    font-size: 14px
    line-height: 19px
    color: #4E617F
    margin: 16px 0 0 24px
  .fungible-tooltip
    .symbols
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 24px
      display: flex
      align-items: center
      color: #FFFFFF
      margin: 16px 24px
    .tooltip-amount-text
      font-size: 16px
    .text-box-wrapper
      margin: 16px 0
    .top-part
      line-height: 24px
    .bottom-part
      font-weight: 400
      font-size: 14px
      line-height: 20px
      color: #C4CBD7
      white-space: nowrap
  .credit-summary-footer
    margin: 12px 0 0 24px
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 20px
    color: #2A86F3
    align-items: center
    display: flex
  .card-icon
    width: 20px
    height: 15px
    margin: 0 12px 0 0
  .horizontal-divider
    height: 1px
    width: 90%
    margin: 32px 0 0 24px
    background: #0000001a