.row-item
  padding: 8px 12px

  &.separate
    border-top: 1px solid $faded-color

  .row-label, .row-value
    display: inline-flex

  .row-label
    width: 40%

  .row-value
    width: 60%
    justify-content: flex-end
    padding-left: 8px
    word-break: break-word

    a
      color: #5f73cf

    .i-arrow-down
      font-size: 8px
      transition: 0.3s all ease-in

  &.left-align
    .row-value
      justify-content: flex-start

  &.vertical-center
    display: flex;
    align-items: center;

.row-children
  border: 1px solid #eeeeee
  margin: 16px
