input, select, textarea, button, .btn
  display: inline-block
  height: 32px
  line-height: 24px
  border-radius: 3px
  padding: 4px 12px
  font-size: 14px
  font-family: inherit
  border: 1px solid #dbdbdb
  background: #fff
  vertical-align: middle
  transition: .2s
  &:hover, &:focus
    border-color: #b5b5b5

textarea
  resize: vertical
  min-height: 100px

input, textarea, select
  min-width: 70px
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1)

input[type=checkbox]
  height: auto
  width: auto
  box-shadow: none

input:disabled, select:disabled, textarea:disabled
  background-color: $faded-color
  cursor: pointer

.small
  width: 80px

label
  line-height: 18px
  white-space: normal
  display: block
  margin-left: 1px
  margin-bottom: 4px

button, .btn
  line-height: 32px
  white-space: nowrap
  border: 0
  cursor: pointer
  box-shadow: 0 3px 13px rgba(0,0,0,0.09), 0 1px 5px 0 rgba(0,0,0,0.14)
  user-select: none
  background: $prime
  color: #fff
  padding: 0 16px
  margin: 10px
  &.danger
    background: #e74c3c

.disabled
  opacity: 0.5
  cursor: not-allowed !important

.field
  display: inline-block
  margin: 10px
  vertical-align: bottom
  position: relative

  // Add fieldClass="inline-field" to <Field>
  &.inline-field
    label, input, textarea, select // Add more if required
      display: inline-block
      vertical-align: top
    label
      margin-right: 10px

.checkbox
  background: none
  box-shadow: none
  padding: 0

.knob
  width: 34px
  height: 32px
  position: relative
  margin: 0
  display: inline-block
  vertical-align: middle
  &:before
    content: ''
    display: block
    border-radius: 10px
    height: 20px
    width: 100%
    background: #9E9E9E
  &:after
    left: 0
    top: 6px
    position: absolute
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.18)
    content: ''
    background: #fff
    border-radius: 50%
    width: 19px
    height: @width
    transition: .2s
  &.checked
    &:before
      background: linear-gradient(to bottom, #4CD964, #4BD863)
    &:after
      transform: translateX(15px)


form
  position: relative

  &.pending
    button:not(.checkbox), .btn
      opacity: .6
      pointer-events: none

  &.limited
    width: 75%

  //  without .full-span, you can make label and input align adjacent like in Workflow
  &.inline
    .field
    label, input, select
      display: inline-block

    label:after
      content: ':'
      margin-left: 2px;

    input, select // add textarea, etc. if needed
      margin-left: 10px

  .post-field-icon
    opacity: .4
    position: absolute
    right: 7%
    bottom: 5px
    pointer-events: none

  // full-span class on <Form> makes the <Field> elements to come in separates lines
  &.full-span
    margin: 0 auto

    .field
      width: 100%
      margin: 8px auto

      >label, >select, >input, >textarea, >button, .info-block, .DayPickerInput
        display: inline-block
        vertical-align: middle

      >label
        width: 35%
        line-height: 24px
        min-height: 32px
        margin-bottom: 0
        vertical-align: top
        white-space: pre-wrap

      >select, >input, >textarea, >button, >i, .DayPickerInput
        margin-left: 10px

      >i:not(.post-field-icon)
        width: 55%

      .post-field-icon
        position: absolute
        right: 10%
        top: 5px
        pointer-events: none

      .info-block
        width: 55%
        float: right
        margin-right: 8%

    // full-elements class on <Form> makes the <Field> elements to take 100% on right side otherwise default width
    &.full-elements .field
      >select, >input, >textarea, .DayPickerInput
        width: 55%


// Used for labels
.required:after
  content: '*'
  color: red

.DayPicker-Day
  padding: 0
  min-width: 32px
  height: 32px

.DayPickerInput-OverlayWrapper
  z-index: 1

.DayPickerInput input
  width: 100%

.entity-container
  position: relative

  form
    font-size: 13px

  .field
    min-width: 172px;

  label
    width: 172px

  input, textarea, select
    width: 172px
