.list-container
  .filters
    padding: 10px 5px
    display: flex
    flex-wrap: wrap
    align-content: flex-start
    background: #fafbfc
    border-top: 1px solid #eee
    border-bottom: @border-top
    button
      margin-left: auto
  .more-filters-following ~ .field
    label
      display: block
      margin: 2px 0
      text-transform: capitalize

.table-empty
  text-align: center
  &:after
    content: 'No items to display.'

.table-info
  padding: 10px 20px
  font-size: 20px
  line-height: 36px
  border-bottom: 2px solid #eee

.table-pending
  text-align: center
  &:after
    content: 'Loading...'

.table-striped
  .tr:nth-child(2n)
    background: #f6f9fa
    > div
      border-top: 1px solid #eee
      border-bottom: @border-top

.table-bordered
  border: 1px solid #eee

.table-container
  overflow: auto

.table
  width: 100%
  display: table
  .tr
    display: table-row

.tr
  transition: .7s
  &.row-enter
    background: $bg-highlight !important
  &.row-exit
    background: #FFCDCD !important
  &.clickable
    cursor: pointer
    &:hover
      background: $bg-highlight

.th
  font-weight: bold
  padding: 16px 12px

.td, .th
  display: table-cell
  padding: 12px

.pagination
  float: right
  margin: 10px
  > div
    border: 1px solid #eee
    float: left
    padding: 6px 16px
    background: #F6F9FA
    margin-left: -1px
    cursor: pointer
    &:hover
      background: #fff
