.list-container
  header
    padding: 20px
    font-size: 20px
  .filters
    padding: 10px 5px
    display: flex
    background: #fafbfc
    border-top: 1px solid #eee
    border-bottom: @border-top
    button
      margin-left: auto

.table-empty
  text-align: center
  &:after
    content: 'No items to display.'

.table-pending
  text-align: center
  &:after
    content: 'Loading...'

.table-striped
  .tr:nth-child(2n)
    background: #f6f9fa
    .td
      border-top: 1px solid #eee
      border-bottom: @border-top

.table
  display: table
  width: 100%

.tr
  display: table-row
  width: 100%

.th
  font-weight: bold
  padding: 16px 12px

.td, .th
  display: table-cell
  padding: 12px