.rzp-popover.rzp-tooltip {

  display: block;
  width: 260px;
  font-size: 1rem;
  font-size: 12px;

  .rzp-tooltip-inner {

    padding: 16px;
    position: relative;
    
    &:after {

      content: "";
      border-width: 10px;
      border-style: solid;
      border-color: transparent;
      border-bottom-width: 0px;
      border-top-color: #ffffff;
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -10px;
    }

    .rzp-popover-title {

      font-size: 14px;
      margin-bottom: 8px;
    }

    .rzp-popover-body {

      font-size: 12px;
      color: #8991AE;
      line-height: 1.5em;
    }
  }
}
