.rzp-stacked-bars {

  .rzp-stacked-bar {

    margin-bottom: 24px;

    &:last-child {

      margin-bottom: 0;
    }
 
    .rzp-stacked-bar-header {

      margin-bottom: 8px;
    }

    .rzp-stacked-bar-body {

      div.progress {

        height: 12px;
        margin-bottom: 0;
        border-radius: 100px;
      }
    }
  }
}
