$gutter = 10px;
$bg-color = #ffffff;

.rzp-popover.rzp-tooltip {

  display: block;
  width: 260px;
  font-size: 1rem;
  font-size: 12px;

  &.align-bottom, &.align-top {

    .rzp-tooltip-inner:after {

      left: 50%;
      margin-left: - $gutter;
    }
  }

  &.align-left, &.align-right {

    .rzp-tooltip-inner:after {

      top: 50%;
      margin-top: - $gutter;
    }
  }

  &.align-bottom .rzp-tooltip-inner:after {

    top: - $gutter;
    border-top-width: 0;
    border-bottom-color: $bg-color;
  }

  &.align-top .rzp-tooltip-inner:after {

    top: 100%;
    border-border-width: 0;
    border-top-color: $bg-color;
  }

  &.align-left .rzp-tooltip-inner:after {

    left: 100%;
    border-right-width: 0;
    border-left-color: $bg-color;
  }

  &.align-right .rzp-tooltip-inner:after {

    left: - $gutter;
    border-left-width: 0;
    border-right-color: $bg-color;
  }

  .rzp-tooltip-inner {

    padding: 16px;
    position: relative;
    
    &:after {

      content: "";
      border-width: $gutter;
      border-style: solid;
      border-color: transparent;
      position: absolute;
      top: auto;
      left: auto;
      margin-left: 0px;
      margin-top: 0px;
    }

    .rzp-popover-title {

      font-size: 14px;
      margin-bottom: 8px;
    }

    .rzp-popover-body {

      font-size: 12px;
      color: #8991AE;
      line-height: 1.5em;
    }
  }
}
