.StoriesTabs
  display: flex
  align-items: center
  width: 100%

  .StoriesTab
    flex-basis: 0
    flex: 1
    position: relative
    .progress
      position: absolute
      top: 0
      height: 3px
      width: 100%