@import "./vars";

.form-control,
.form-control:focus {
  box-shadow: none;
}

.table {
  border-bottom: 1px solid #eaeff0;
}

.table-noborder {
  border-color: transparent;
  > tbody > tr > td {
    border-color: transparent
  }
}

.table > thead > tr > th {
  background-color: #eaeff0;
  border-bottom: 1px solid #ddd;
}

.table > thead:first-child > tr:first-child > th {
  border-top: 1px solid #ddd;
}

a {
  cursor: pointer;
}

a:hover,
a:focus,
a.active {
  text-decoration: none;
}

code {
  color: inherit;
  background-color: inherit;
  font-size: inherit;
  padding-left: 0;
}

.progress, .progress-bar {
  box-shadow: none;
}

.progress-xs {
  height: 6px;
}

.text-info {
  color: #23b7e5;
}

.text-primary {
  color: $primary-color;
}

.text-main {
  color: #5e70d2;
}

.text-danger {
  color: $textDangerColor;
}

.text-success {
  color: $brand-success;
}

.bg-success {
  background-color: $brand-success;
}

.bg-info {
  color: #fff;
  background-color: #23b7e5;
}

.bg-primary {
  color: #fff;
  background-color: $btn-primary-bg;
}

.bg-light {
  color: #58666e;
  background-color: #edf1f2;
}

.bg-danger {
  color: #ffffff;
  background-color: #f05050;
}

.font-sm {
  font-size: 13px;
}

.font-xs {
  font-size: 12px;
}

.btn-lg {
  font-size: 15px;
}

.btn-transparent {
  background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #f2f2f2;
}

.panel {
  box-shadow: none;
}

.panel-heading-sm {
  padding: 8px;
}

.modal-header .close {
  margin: 3px;

  .icon-close {
    font-weight: bold;
  }
}

.form-control[type='number'] {
  padding-right: 0;
}

.label-muted {
  background-color: #999;
}

.label-danger {
  background-color: #f05150;
}

.label-partially-paid {
  background-color: #E8B248;
}

.checkbox label.i-switch {
  padding-left: 0;
}

.nav-tabs > li.active,
.nav-tabs > li {
  > a.text-success {
    color: #23ad44;
  }

  > a.text-danger {
    color: $textDangerColor;
  }
}

.dropdown-menu {
  margin-top: 0;
  border-radius: 0;
}

.dropdown {
  clearfix()
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border-color: transparent;
  }
}
