tabbed-container {
  padding: 20px;
  display: block;

  header {
    line-height: 46px;
    border: 1px solid #E2E8EA;
    padding-left: 16px;
    background-color: #fff;
    a {
      color: #555;
      border-bottom: 2px solid transparent;
      display: inline-block;
      margin: 0 16px;

      &.active {
        color: #111;
        border-color: #556AD0;
      }
    }
  }

  footer {
    padding: 20px 15px 0;
  }

  header + .content-wrapper {
    border-top: 0;
  }
}
