tabbed-container {
  padding: 20px;
  display: block;
  @media $sm-max {
    padding: 10px;
  }

  header {
    line-height: 46px;
    border-bottom: 1px solid #E2E8EA;
    position: relative;
    margin-bottom: 16px;

    > a:first-child {
      margin-left: 0;
    }

    a {
      color: #555;
      border-bottom: 4px solid transparent;
      display: inline-block;
      margin: 0 16px;
      font-weight: bold;

      &.active {
        color: #6A55D1;
        border-color: #6A55D1;
      }
    }
  }

  footer {
    padding: 20px 15px 0;
  }

  header + .content-wrapper {
    border: 1px solid #e2e8ea;
    background-color: #fff;
  }
}
