$gutter = 10px;

.m-b {
  margin-bottom: $gutter;
}

.m-t {
  margin-top: $gutter;
}

.m-l {
  margin-left: $gutter;
}

.m-r {
  margin-right: $gutter;
}

.m-all {
  margin: @gutter;
}

.text-small {
  font-size: 85.71%;
}
