$gutter = 10px;

.m-b {
  margin-bottom: $gutter;
}

.m-t {
  margin-top: $gutter;
}

.m-l {
  margin-left: $gutter;
}

.m-r {
  margin-right: $gutter;
}

.m-all {
  margin: @gutter;
}

.text-small {
  font-size: 85.71%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
