// rzp variables

$textDangerColor = #f05050;
$baseBorderColor = #eaeff0;
$sm-max = 'screen and (max-width: 800px)'


// Bootstrap variable overrides

$font-family-base = "Lato", "Helvetica Neue", Helvetica, Arial,sans-serif;
$text-color = #58666e;
$line-height-base = 1.42857143;
$brand-success = #27c24c;
$brand-primary = #7266ba;

$btn-default-color = $text-color;
$btn-default-bg = #fafafa;
$btn-default-border = #dee5e7;
$btn-border-radius-base = 2px;
$btn-border-radius-large = 4px;

$input-border-radius = 2px;
$input-border = #cfdadd;
$input-border-focus = #23b7e5;

$table-border-color = $baseBorderColor;

$alert-border-radius = 0;

$panel-border-radius = 0;
$panel-heading-padding = 15px 20px;
$panel-footer-padding = 15px 20px;
$panel-default-border = $baseBorderColor;
$list-group-border = $baseBorderColor;
