// Bootstrap variable overrides

$font-family-base = "Lato", "Helvetica Neue", Helvetica, Arial,sans-serif;
$text-color = #58666e;
$line-height-base = 1.42857143;

$btn-default-bg = #fafafa;
$btn-primary-bg = #7266ba;

$input-border-radius = 2px;
$input-border = #cfdadd;
$input-border-focus = #23b7e5;

$table-border-color = #eaeff0;

$alert-border-radius = 0;

$panel-heading-padding = 15px 20px;
$panel-footer-padding = 15px 20px;



// rzp variables

$textDangerColor = #f05050
