#paymentpage-container
  .page-nav
    .page-title
      span
        word-break: break-all

    .page-action
      > button
        margin-left: 10px

      > .magic-link
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 5px 16px !important; // stylelint-disable-line declaration-no-important

    .close-btn
      @media (min-width 320px) and (max-width 360px)
        right: -8px;

    .new-label
      background: #29C24D;
      border-radius: 10px;
      font-weight: bold;
      font-size: 12px;
      padding: 4px 10px;
      margin-left: 8px;

.magic-loader > div
  z-index: 3;
