# editor configs
.idea
.vscode
.gradle
.DS_Store

build

# logs
*-debug.log
*-error.log

node_modules
/package-lock.json

# local environment secrets files
.env.*.secrets

lighthouse-reports
coverage

.eslintcache

build/
node_modules/
web/screenshots/
web/playwright-report/