.ModalSlider__Overlay.ReactModal__Overlay {
  width: 525px;
  position: fixed;
  top: 51px;
  right: 0;
  bottom: 0;
  left: auto;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  transform: translateX(90%);
  transition: transform 300ms linear;
  z-index: 2;
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 45px;

  &.ReactModal__Overlay--after-open {
    transform: translateX(1%);
  }

  &.ReactModal__Overlay--before-close {
    opacity: 1;
    transform: translateX(90%);
  }
}

.ModalSlider__Content {
  min-height: 100%;
  transform: none;

  button.close {
    padding: 14px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

  .content-wrapper {
    padding: 0;
  }

  .SliderPanel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .SliderPanel__Body {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow: auto;
    padding-bottom: 80px;
  }
}
