@import bootstrap-local
@import "font.css"
@import "font-awesome.min.css"
@import "simple-line-icons.css"
@import "animate.css"
@import "angulr-2.0.3.css"
@import "jquery-tourbus.css"
@import dashboard
