$font-family-monospace =  Menlo, Monaco, Consolas, 'Ubuntu Mono', monospace
@import bootstrap

/* Overrides */

.bootstrap-filestyle .form-control {
  font-size: 14px;
}

.btn .glyphicon {
  margin-right: 5px;
}
