::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 8px;
  background-color: #666;
}

.sk-input-wrap{
    margin: 8px 10px 0!important;
}
.sk-intro input {
  color: #555;
  width: 100%;
  margin: 0 0 0 -10px;
  border: 1px solid #ddd;
  padding: 0 10px;
  line-height: 34px;
  border-radius: 2px;
  outline: none;

  &:invalid {
    border-color: #e74c3c;
  }
}
.list-group-item pre {
	font-family: Menlo, Monaco, "Ubuntu Mono", Consolas, "Courier New", monospace;
	letter-spacing: 0.0625em;
	word-spacing: 5px;
}

.panel code {
	color: inherit;
	background-color: inherit;
}
a code {
	color: #58666e;
	font-size: inherit;
}
.legend .legendLabel{
  color: #333;
}
.input-date{
  width: 180px;
  float: left;

  &+div{
    margin-left: 12px;
  }

  .input-group-addon{
    border-radius: 2px;
    cursor: pointer;
  }

  @media(max-width: 840px){
    width: 140px;

    .input-group-addon{
      display: none;
    }
  }
}
.date-filter{
  @media(max-width: 540px){
    display: none;
  }
}

.start-tour-link {
  color: #337ab7;
  border-bottom: 1px solid;
  font-size: 13px;
  margin-left: 3px;
}

.intro-tour-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
}

.welcome-tour {
  background: url('../../img/welcome-tour.png') no-repeat;
  background-size: 640px;
  margin: 15px;

  .welcome-tour-header {
    font-size: 18px;
    margin-bottom: 30px;
    position: relative;
    top: 30px;

    h3 {
      font-size: 30px;
    }
  }

  .welcome-tour-container {
    padding: 15px 205px 15px 0;
    line-height: 24px;
    font-size: 15px;
  }

  .demo-desc {
    margin: 25px 0;
  }

  .btn-primary {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
  }
}

.tourbus-leg {
  border-radius: 4px;
}

.tourbus-leg-inner {
  transition: opacity ease-in-out 0.03s;

  .btn-link {
    color: #1aace5;
    padding-bottom: 0;

    &:not(.tourbus-stop) {
      font-weight: bold;
    }

    &:hover {
      color: #22527b;
      text-decoration: none;
    }
  }

  .tourbus-stop {
    padding-left: 0;
    float: left;
  }
}

#main-content .intro-tour-overlay {
  left: 200px;
}

.leg-target-active {
  position: relative;
  z-index: 9999;
}


.switch-merchant-dropdown {
  max-height: 450px;
  overflow: auto;
}

.horz-scroll {
  display: inherit;
  overflow-x: scroll;
}

.fake_hide_till_loaded {
  color: white;
}

table th {
  white-space: nowrap;
}

.form-control {
  font-size: 12px;
}

a.highlight {
  color: #6d5fba;
}

a.highlight:hover, a.highlight:focus {
  color: #22527b;
}

.panel-form {
  padding-left: 0;
  padding-right: 0;

  > div {
    margin-left: 15px;
    margin-right: 15px;
  }

  > .panel-heading {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}



// List Filter Container

.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -25px;
}

.filter-item-container {
  flex: 1;
  flex-basis: 235px;
  flex-grow: 0;
  margin-left: 25px;
}

.filter-item {
  display: flex;
  @media(max-width: 1400px) {
    display: block;
  }

  align-items: baseline;

  label + .form-control {
    margin-left: 5px;
    @media(max-width: 1400px) {
      margin-left: 0;
    }
  }
}

.filter-item-xs {
  flex-basis: 100px;
}

.search-filter {
  @media(max-width: 1400px) {
    margin-top: 25px;
  }
}

.b-w {
  word-wrap: break-word;
}

.scrollable-table {
  max-height: 500px;
  overflow-y: auto;
}

.select-all-label {
  font-weight: bold;
  cursor: pointer
}
