$supportkit-text = ' You can also reach us at 1800-270-0323'

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 8px;
  background-color: #666;
}

.sk-input-wrap{
    margin: 8px 10px 0!important;
}
.sk-intro input {
  color: #555;
  width: 100%;
  margin: 0 0 0 -10px;
  border: 1px solid #ddd;
  padding: 0 10px;
  line-height: 34px;
  border-radius: 2px;
  outline: none;

  &:invalid {
    border-color: #e74c3c;
  }
}

// tourbus container is available after login. we only show it to logged in users
.tourbus-container ~ #sk-holder .sk-intro-section .intro-text:after {
  content: $supportkit-text;
}

.dynamic-tooltip {
  padding: 5px 10px;
  position: absolute;
  border-radius: 4px;
  color: #fff;
  background-color: #000;
  z-index: 200;
  animation: fadeIn 0.5s;

  &::after {
    content: '';
    position: absolute;
    left: -8px;
    width: 0;
    height: 0;
    transform: translate(0, 50%);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 10px solid #000;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.list-group-item pre {
	font-family: Menlo, Monaco, "Ubuntu Mono", Consolas, "Courier New", monospace;
	letter-spacing: 0.0625em;
	word-spacing: 5px;
}

.panel code {
	color: inherit;
	background-color: inherit;
}
a code {
	color: #58666e;
	font-size: inherit;
}
.legend .legendLabel{
  color: #333;
}
.input-date{
  width: 180px;
  float: left;

  &+div{
    margin-left: 12px;
  }

  .input-group-addon{
    border-radius: 2px;
    cursor: pointer;
  }

  @media(max-width: 840px){
    width: 140px;

    .input-group-addon{
      display: none;
    }
  }
}
.date-filter{
  @media(max-width: 540px){
    display: none;
  }
}

.start-tour-link {
  color: #337ab7;
  border-bottom: 1px solid;
  font-size: 13px;
  margin-left: 3px;
}

.intro-tour-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
}

.welcome-tour {
  background: url('../../img/welcome-tour.png') no-repeat;
  background-size: 640px;
  margin: 15px;

  .welcome-tour-header {
    font-size: 18px;
    margin-bottom: 30px;
    position: relative;
    top: 30px;

    h3 {
      font-size: 30px;
    }
  }

  .welcome-tour-container {
    padding: 15px 205px 15px 0;
    line-height: 24px;
    font-size: 15px;
  }

  .demo-desc {
    margin: 25px 0;
  }

  .btn-primary {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
  }
}

.tourbus-leg {
  border-radius: 4px;
}

.tourbus-leg-inner {
  transition: opacity ease-in-out 0.03s;

  .btn-link {
    color: #1aace5;
    padding-bottom: 0;

    &:not(.tourbus-stop) {
      font-weight: bold;
    }

    &:hover {
      color: #22527b;
      text-decoration: none;
    }
  }

  .tourbus-stop {
    padding-left: 0;
    float: left;
  }
}

#main-content .intro-tour-overlay {
  left: 200px;
}

.leg-target-active {
  position: relative;
  z-index: 9999;
}


.switch-merchant-dropdown {
  max-height: 450px;
  overflow: auto;
}

.horz-scroll {
  display: inherit;
  overflow-x: scroll;
}

.fake_hide_till_loaded {
  color: white;
}

table th {
  white-space: nowrap;
}

.form-control {
  font-size: 12px;
}

a.highlight {
  color: #6d5fba;
}

a.highlight:hover, a.highlight:focus {
  color: #22527b;
}

.panel-form-container {
  max-width: 800px;
  margin: auto;
}

.panel-form {
  padding-left: 0;
  padding-right: 0;

  > div {
    margin-left: 15px;
    margin-right: 15px;
  }

  > .panel-heading {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.panel-btn-action {
  padding-left: 50px;
  padding-right: 50px;
}



// List Filter Container

.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -25px;
}

.filter-item-container {
  flex: 1;
  flex-basis: 235px;
  flex-grow: 0;
  margin-left: 25px;
}

.filter-item {
  display: flex;
  @media(max-width: 1400px) {
    display: block;
  }

  align-items: baseline;

  label + .form-control {
    margin-left: 5px;
    @media(max-width: 1400px) {
      margin-left: 0;
    }
  }
}

.filter-item-xs {
  flex-basis: 100px;
}

.search-filter {
  @media(max-width: 1400px) {
    margin-top: 25px;
  }
}

.b-w {
  word-wrap: break-word;
}

.scrollable-table {
  max-height: 500px;
  overflow-y: auto;
}

.select-all-label {
  font-weight: bold;
  cursor: pointer
}

.center {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.file-upload-container {
  .bootstrap-filestyle.input-group {
    margin-bottom: 18px;
  }
  input.form-control {
    display: none;
  }
  label {
    color: #ffffff !important;
    background-color: #7266ba;
    border-color: #7266ba;
    &:hover {
      color: #ffffff !important;
      background-color: #6254b2;
      border-color: #6254b2;
    }
  }
}

.brand-color-picker {
  padding: 0 3px;
}

.m-l-neg {
  margin-left: -15px;
}

.border-bottom {
  border-bottom: 1px #edf1f2 solid;
}

.table-noborder tbody > tr > td {
  border-color: transparent;
}

@media(max-width: 600px){
  .invites-table .table > tbody > tr > td {
    display: block;
  }
}

@media(max-width: 580px){
  .col-xxs-12 {
    width: 100% !important;
  }
}

// Invoices nav

#invoices-page {
  position relative;

  .invoicesNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
    height: 67px;

    > .h3 {
      flex: 0.9;
    }

    > .nav.nav-pills {
      flex: 1;

      > li > a {
        background: transparent;
        padding: 22px;
        border-radius: 0;
        border-bottom: 2px solid transparent;

        &.active {
          color: #7266ba;
          border-color: inherit;
        }
      }
    }

    > div {
      flex: 1.2;
    }
  }

  .react-root > .btn-toolbar {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

.bg-dark .nav > li > a.active {
  color: #fff;
  background-color: #2e3344;
}

.bg-dark .nav > li:focus > a {
  color: #b4b6bd;
  background-color: transparent;
}

.workflow-feed-page {
  textarea {
    resize: vertical;
  }
  .panel-default > .panel-heading {
    color: inherit;
  }
  .h3 {
    font-weight: bold;
    color: #333;
  }
  .panel-container {
    max-width: 960px;
    margin: 0 auto;
  }
  .action-state {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-shadow: none;
  }
  .approved-color {
    color: #17C446;
  }
  .rejected-color {
    color: #F14F4B;
  }
  .pending-color {
    color: #FCCB00;
  }
  .pending-bg-color {
    background-color: #FCCB00;
  }
  .assignee-heading {
    margin-bottom: 4px
  }
  .assignees-container {
    margin-left: 28px;

    .pills-label {
      border-radius: 4px;
      font-weight: bold;
      padding: 4px 8px;
      vertical-align: top;
      display: inline-block;
      margin-bottom: 8px;
    }
    .role-element {
      display: table-cell;
      max-width: 75%;

      .assignee-label {
        background: #EBEBEB;
        margin-right: 12px;
      }
    }
    .level-element {
      display: table-cell;
      position: relative;
      width: 88px;

      .level-label {
        background: #fff;
        border: 1px solid #e4e4e4;
        text-transform: uppercase;
        margin-right: 20px;
        padding: 3px 7px;
      }
    }

    &.inactive {
      .role-element {
        opacity: 0.6;
      }
      .level-element .level-label {
        color: #9ba3a8;
        border-color: #efefef;
      }
    }
  }
  .vertical-line {
    width: 2px;
    height: 100%;
    position: absolute;
    left: 28px;
    top: 28px;
    border-left: 1px solid #e4e4e4;
  }
  .tick-green {
    background-color: #16c116;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    color: #fff;
    position: absolute;
    left: -28px;
    top: 5px;
  }

  .faded-text {
    color: #ccc;
  }
  .timestamp {
    cursor: help;
  }
  .right-label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
  }
  .heading-container {
    position: relative;
  }
  .desc-edit-icon > i {
    opacity: 0;
  }
  .title-text {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 70px;
    line-height: 48px;
    padding: 12px 0px;
    cursor: pointer;
    &:hover {
      .bg-white, .heading-text {
        opacity: 0.3
      }

      .desc-edit-icon > i{
        opacity: 0.7;
      }
    }
    // .desc-edit-icon > i {
    //   opacity: 0;
    // }
    .bg-white {
      position: absolute;
      top: 12px;
      bottom: 12px;
      left: -8px;
      right: -8px;
      background: white;
      z-index: -1;
      // &:hover {
      //   opacity: 0.3
      // }
    }
    .title-editing {
      z-index: initial;
    }
  }
  .title-highlight-container {
    padding: 12px 0;
    #title-input {
      border-radius: 4px 0px 0 4px;
      padding: 0px 7px;
      font-size: 24px;
      line-height: 24px;
    }
    #title-input-button {
      border-radius: 0px 4px 4px 0px;
    }
  }
  .description {
    position: relative;
    &:hover {
      .bg-white, .description-text {
        opacity: 0.3
      }

      .desc-edit-icon > i{
        opacity: 0.7;
      }
      #desc-textarea {
        z-index: 0;
      }
    }
    .bg-white {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: -8px;
      right: -8px;
      background: white;
      cursor: pointer;
    }
    &.desc-active {
      .bg-white, .desc-text {
        // opacity: 0.3
        z-index: -1;
      }
      #desc-textarea {
        z-index: 0;
      }
    }
  }
  .desc-text {
    position: relative;
    z-index: 4;
    width: 100%;
    line-height: 18px;
    padding: 12px 0px;
    cursor: pointer;
    overflow-wrap: break-word;
  }
  #desc-textarea {
    width: calc(100% + 16px);
    position: absolute;
    top: 4px;
    bottom: 44px;
    left: -8px;
    right: -8px;
    // background: white;
    z-index: -1;
    resize: none;
    font-size: 14px;
    line-height: 18px;
    padding: 7px;
  }
  .save-desc-btn {
    margin-top: 8px;
    margin-right: -8px;
  }
  #comment-btn{
    margin-top: 10px;
  }
}
.padding-0 {
  padding: 0 !important;
}
.comparison-list {
  padding-left: 15px;
}
.workflow-new-page {
  .workflow-select2-container, .role-select2-container {
    input {
      width: auto !important;
    }
  }
  .perm-row {
    height: 42px;
  }
  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .assignee-row {
    position: relative;
  }
  .reviewer-count {
    display: inline-block;
    width: 72px;
    height: 28px;
  }
  .reviewer-count-inc-btn {
    position: absolute;
    right: 0;
    top: -3px;
    height: 14px;
    border: 0px solid #cfdadd;
    color: #cfdadd;
    border-left-width: 1px;
    border-bottom-width: 1px;
    width: 30px;
    text-align: center;
    line-height: 12px;
    cursor: pointer;
    &:hover {
      color: inherit;
    }
    > i {
      line-height: 12px;
    }
  }
  .reviewer-count-dec-btn {
    position: absolute;
    right: 0;
    top: 10px;
    height: 14px;
    border: 0px solid #cfdadd;
    color: #cfdadd;
    border-left-width: 1px;
    width: 30px;
    text-align: center;
    line-height: 14px;
    cursor: pointer;
    &:hover {
      color: inherit;
    }
    > i {
      line-height: 12px;
    }
  }
  .optype-container {
    margin: 0 0 10px 10px;
    display: inline-block;
  }
  .solid-label {
    text-transform: uppercase;
    font-weight: 600;
  }
  .pills-label {
    margin: 4px 8px;
    padding: 4px 8px;
    display: inline-block;
  }
  .help-label {
    font-size: 12px;
    color: #999;
  }
  .save-btn {
    border-radius: 17px;
  }
  .name-input {
    font-size: 14px;
  }
}

.select2-selection {
  border-color: #cfdadd !important;

  &__rendered {
    width: 90%;
  }
}

.pills-container-users {
  margin-bottom: 16px;

  .pills-label {
    margin-left: 0;
  }
}

.pills-label {
  border-radius: 4px;
  font-weight: bold;
  padding: 4px 8px;
}

.assignee-label {
  background: #EBEBEB;
  margin-right: 12px;
}

.delete-btn {
  line-height: 20px;
  color: #ccc;
  cursor: pointer;
  &:hover {
    color: inherit;
  }
}
