//Pricing Plans specific styles

.pricing-container {
  .pricing-name {
    display: inline-block;
    width: 40%;
  }

  .table-striped > tbody > tr:last-child > td, .table-striped > tbody > tr:last-child > th {
    background-color: transparent;
  }

  .control-label {
    padding: 14px;
    color: rgb(51, 51, 51);
  }
}

.highlight-row {
  background-color: #fef9f1 !important;
}

.add-rule {
  td {
    border-top: 0 !important;
    background-color: transparent !important;
  }
}

.empty-row {
  padding: 15px !important;
}
