//Workflow specific styles

.workflow-feed-page {
  .border-bottom {
    height: 12px;
  }

  textarea {
    resize: vertical;
  }

  .desc-edit-icon {
    position: absolute;
    right: 8px;
    float: right;
    top: 13px;
  }

  .panel-default > .panel-heading {
    color: inherit;
  }
  .h3 {
    font-weight: bold;
    color: #333;
  }
  .panel-container {
    max-width: 960px;
    margin: 0 auto;
  }
  .action-state {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-shadow: none;
  }
  .approved-color {
    color: #17C446;
  }
  .rejected-color {
    color: #F14F4B;
  }
  .pending-color {
    color: #FCCB00;
  }

  .assignee-heading {
    margin-bottom: 4px
  }
  .assignees-container {
    margin-left: 28px;

    .pills-label {
      border-radius: 4px;
      font-weight: bold;
      padding: 4px 8px;
      vertical-align: top;
      display: inline-block;
      margin-bottom: 8px;
    }
    .role-element {
      display: table-cell;
      max-width: 75%;

      .assignee-label {
        background: #EBEBEB;
        margin-right: 12px;
      }
    }
    .level-element {
      display: table-cell;
      position: relative;
      width: 88px;

      .level-label {
        background: #fff;
        border: 1px solid #e4e4e4;
        text-transform: uppercase;
        margin-right: 20px;
        padding: 3px 7px;
      }
    }

    &.inactive {
      .role-element {
        opacity: 0.6;
      }
      .level-element .level-label {
        color: #9ba3a8;
        border-color: #efefef;
      }
    }
  }
  .vertical-line {
    width: 2px;
    height: 100%;
    position: absolute;
    left: 28px;
    top: 28px;
    border-left: 1px solid #e4e4e4;
  }
  .tick-green {
    background-color: #16c116;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    color: #fff;
    position: absolute;
    left: -28px;
    top: 5px;
  }

  .faded-text {
    color: #ccc;
  }
  .right-label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
  }
  .heading-container {
    position: relative;
  }
  .desc-edit-icon > i {
    opacity: 0;
  }
  .desc-remove-icon {
    position: absolute;
    font-size: 14px;
    z-index: 100;
    cursor: pointer;
    color: #e8e8e8;
    top: 17px;

    &:hover {
      color: #c2c2c2;
    }
  }
  .title-text {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 70px;
    line-height: 48px;
    padding: 12px 0px;
    cursor: pointer;
    &:hover {
      .bg-white, .heading-text {
        opacity: 0.3
      }

      .desc-edit-icon > i{
        opacity: 0.7;
      }
    }
  // .desc-edit-icon > i {
  //   opacity: 0;
  // }
    .bg-white {
      position: absolute;
      top: 12px;
      bottom: 12px;
      left: -8px;
      right: -8px;
      background: white;
      z-index: -1;
    // &:hover {
    //   opacity: 0.3
    // }
    }
    .title-editing {
      z-index: initial;
    }
  }
  .title-highlight-container {
    padding: 12px 0;
    #title-input {
      border-radius: 4px 0px 0 4px;
      padding: 0px 7px;
      font-size: 24px;
      line-height: 24px;
    }
    #title-input-button {
      border-radius: 0px 4px 4px 0px;
    }

    .input-group-lg {
      width: 100%;
    }
  }

  .description {
    position: relative;
    &:hover {
      .bg-white, .description-text {
        opacity: 0.3
      }

      .desc-edit-icon > i{
        opacity: 0.7;
      }
      #desc-textarea {
        z-index: 0;
      }
    }

    .desc-remove-icon {
      float: right;
      margin-right: 3px;
    }

    .bg-white {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: -8px;
      right: -8px;
      background: white;
      cursor: pointer;
    }
    &.desc-active {
      .bg-white, .desc-text {
      // opacity: 0.3
        z-index: -1;
      }
      #desc-textarea {
        z-index: 0;
      }
    }
  }
  .desc-text {
    position: relative;
    z-index: 4;
    width: 100%;
    line-height: 18px;
    padding: 12px 0px;
    cursor: pointer;
    overflow-wrap: break-word;
  }
  #desc-textarea {
    width: calc(100% + 16px);
    height: 90%;
    position: absolute;
    top: 4px;
    bottom: 44px;
    left: -8px;
    right: -8px;
  // background: white;
    z-index: -1;
    resize: none;
    font-size: 14px;
    line-height: 18px;
    padding: 7px;
  }
  .save-desc-btn {
    margin-top: 8px;
    margin-right: -8px;
  }
  #comment-btn{
    margin-top: 10px;
  }
}
