.ComingSoon--QR_codes
  .ComingSoon--Landing
    overflow: hidden
    z-index: 2
    position: relative
    &::before
      content: ''
      color: #7a47c2
      position: absolute
      left: 0
      background: linear-gradient(95deg, #0B0B57 16.04%, #5C5CF7 62.56%);
      box-shadow: 1px 1px 0 #0B0B57, 2px 2px 0 #0B0B57, 3px 3px 0 #0B0B57, 4px 4px 0 #0B0B57

  .ComingSoon--Banner
    .Button
      background: linear-gradient(100.11deg, #2A2A77 2.2%, #5C5CF7 103%)

