.onboarding-container {
  position: relative;
  top: 36px;
  width: 1024px;
  max-height: 800px;
  margin: 0 auto 60px;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
}

.onboarding-overview, .onboarding-form {
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  padding: 36px;
}

.onboarding-overview {
  width: 55%;
  border-right: 1px solid #dee5e7;
}

.onboarding-form {
  width: 45%;
}


.feature-image {
  display: block;
  width: 85%;
  margin: 0 auto;
}
