.rzp-legend {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  font-size: 12px;
  margin-left: -10px;
  margin-top: -10px;

  &.rzp-legend-vertical {

    height: 100%;
    flex-direction: column;
  }

  .rzp-legend-item {

    margin-top: 10px;
    margin-left: 10px;
  }
}
