.developers-container
  .datepicker-group
    margin-left: 0
    width: fit-content

  .api-logs-container, .filters-container
    background: #ffffff

  .api-keys-container
    background: #ffffff
    margin: 20px 0 20px 0

