.developers-search-filter-powerselect
  .PowerSelect__Trigger,
  .PowerSelect__TriggerLabel,
  .PowerSelect__TriggerStatus {
    height: 30px
  }

.request-details-log
  .content-wrapper
    background: #1E222E
    .panel, .panel-heading, .label--primary, .pair-label, .pair-value
      color: #B4B6BD

    .panel, .panel-heading, .label--primary
      background-color: #1E222E
      border-color: #8F93A4

    .pair-group-item
      margin-bottom: 15px

  hr
    border-top: 1px solid #8F93A4

  .method-url-row
    span
      text-align: center
      letter-spacing: 1px
      color: white
      padding: 5px
      &:first-child
        background: #33CC5E
      &:last-child
        background: rgba(51, 204, 94, 0.4)

  .request-response-data
    padding: 8px
    pre
      border: none
    p
      margin-bottom: 15px
