$gutter = 21px;
$panel-topbar-height = 76px;
$panel-footer-height = 45px;
$panel-body-height = 300px;

.panel.dasboard-home-panel {

  position: relative;
  padding: $gutter;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
 
  .panel-footer {

    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: - $panel-footer-height;
    width: 100%;
    background-color: #FBFCFD;
    padding-top: 0;
    padding-bottom: 0;
    color: #686D87;
    line-height: $panel-footer-height - 1px;
    border-top: 1px solid #F0F1F6;
  }

  &.has-footer {

    padding-bottom: $panel-footer-height + $gutter;

    .panel-footer {

      display: block;
    }
  }

  .panel-body {

    position: relative;
    height: 300px;
    padding: $gutter 0 0 0;

    .rzp-overlay {

      background-color: rgba(255, 255, 255, 1);
    }
  }

  div.panel-actions {

    .panel-action-item {

      display: inline-block;
      margin-left: 21px;
      vertical-align: middle;

      &:first {

        margin-left: 0;
      }

      &.btn-group {


        .btn-default {

          border-radius: 1px;
          background-color: #FFF;
          border-color: #CFDADD;
          z-index: 0;
        }

        .btn-default.active {

          background-color: #FFFFFF;
          color: inherit;
          box-shadow: none;
          border-color: #4C58C7;
          z-index: 1;
        }
      }

      .more-options-button {

        div.option {

          padding: 0;

          > a {

            padding: 10px 15px;
            display: block;
            color: inherit;
          }
        }

        button.btn.btn-default {

          width: 40px;
          background-color: #FFFFFF;

          &:focus {

            border-color: #4c58c7;
          }

          svg {

            width: 16px;
            height: 4px;
            display: inline-block;
            vertical-align: middle;

            path {

              fill: currentColor;
            }
          }
        }
      }

      .btn-default {

        padding: 9px 10px;
      }
    }
  }
}
