// stylelint-disable no-descending-specificity
// stylelint-disable declaration-no-important
// stylelint-disable color-function-notation
// stylelint-disable max-nesting-depth
// stylelint-disable stylus/selector-type-no-unknown

.magic-settings-tabs > .tabs-content.pl-configurations-container > .tabs-component
  height: 100%
  margin: 0

  .tabs-component-wrapper
    height: 100%
    background: #FFF

    .Input-el
      height: 0

    .spinner-container
      background: #FFF
      display: flex
      height: 100%

.magic-settings-tabs
  .tabs-content.pl-configurations-container > .tabs-component > .tabs-component-wrapper,
  .magic-settings-tabs,
  .tabs-content > .tabs-component > .tabs-component-wrapper > .tabbed-container > .content
    padding: 24px

    .prepay-cod-configs-container
      padding: 24px
      border: 1px solid #EAEFF0
      background: #FAFCFF
      border-radius: 4px

    .container-heading
      color: #162F56DE

    .wooc-update-plugin-msg
      margin: 16px 0
      padding: 12px
      border-left: 3px solid #BD7A03
      border-radius: 4px
      background: #FFF
      color: #435775

    .configuration-label,
    .configuration-value
      padding: 0

      .Input-elWrapper.Select-elWrapper::before
        right: 12px

    hr
      margin: 22px 0

    .discount-container
      flex-direction: column

      .discount-input-container
        width: 33%

      sup
        top: -2px
        left: -2px

      .magic-checkout-required
        color: #F04F50
        font-size: 110%

      .discount-error
        color: #F05050
        margin-top: 2px

      .required-error
        color: #F05050

    .configurations-box.saved-configs-view
      margin-top: 16px

      hr
        color: #515978
        margin: 0

      .saved-configs-container
        background: #FFF
        padding: 16px
        border: 1px solid #E0E8F4
        border-radius: 4px
        width: 460px

      .saved-configs-container > hr
        border: 1px solid #ECF0F1
        margin: 10px 0

      .discount-info
        margin: 4px 0
        padding: 8px
        background-color: #F8F9FF
        font-size: 12px

    .discount-input
      margin-top: 6px
      margin-bottom: 0

      .Input-el
        height: 40px

    .duration-value
      margin: 0

      .counter-container
        display: flex
        flex-direction: column
        position: absolute
        z-index: 1
        top: 6px
        right: 64px
        width: fit-content

      .i-arrow-up
        position: relative
        top: 2px

      .Input-el
        height: 40px

      .Input-addons--after
        width: 60px

    .duration-value.minutes-input
      .counter-container
        right: 70px

      .Input-addons--after
        width: 68px

    .duration-type
      margin: 0
      width: 18%
      position: relative
      left: -2px

      .Input-el
        height: 40px

    .conversion-input
      margin: 0
      width: 52%

      .Input-el
        height: 40px

    .riskCategoryOptions
      margin: 0

      .Input-content
        width: 50%

      .Input-el
        height: 40px

    .link-validity-options
      margin: 0
      width: 42%

      .Input-content
        .Input-el
          height: 40px

    .discount-info-container
      margin-top: 16px
      background: #DF870017
      padding: 10px 8px
      grid-gap: 8px

      .i-info-outline
        color: #DF8700
        position: relative
        top: 4px

      .info-text
        color: #435775
        font-size: 12px

      .configuration-label-subtext
        margin-top: 8px
        color: #505661

      .risk-category-container
        display: flex
        gap: 38px
        margin-top: 12px
        padding: 14px 12px
        background: #FFF

      .Input--checkbox
        margin: 0

      .discount-container
        gap: 24px
        padding: 14px 12px
        background: #FFF
        margin-top: 12px

      .discount-input
        margin: 8px 0 0

      .discount-input > .Input-content > .Input-elWrapper > .Input-el
        height: 36px

      .Input--radio
        margin: 12px 0 0

      .pl-radio-configs-bg
        padding: 12px 8px
        background: #FFF

      .margin-b-0
        margin-bottom: 0

      .Input-radio
        width: 14px
        height: 14px

      .Input-inlineLable
        color: #505661

    .configuration-container
      margin-top: 20px

    .config-box
      display: flex
      align-items: center

    .discount-config-box
      align-items: start

    .discount-config-container
      padding: 16px
      background: #FFF
      margin-top: 14px

      .input-container
        display: flex
        grid-gap: 26px

    .pl-radio-configs
      margin: 16px 0

      .Input-el
        height: 0

    h5
      margin: 0
      font-weight: 600
      line-height: 20px
      color: #516482

    .toggle-status
      position: relative
      top: 2px
      margin-left: 14px

    .configuration-label > label
      color: #516482
      font-weight: 600
      line-height: 20px
      font-size: 16px
      margin: 0

      .magic-checkout-required
        color: #F04F50

      .i-info-outline
        margin-left: 4px

    .link-validity-container
      display: flex
      grid-gap: 14px

    .custom-time-container
      display: flex
      grid-gap: 14px

      .custom-input-container
        width: 32%

      .custom-minutes-container
        width: 34%

      .custom-time-error
        margin-top: 4px
        color: #F05050

    .saved-configs-header
      display: flex
      align-items: center
      justify-content: space-between
      color: #162F56DE
      font-weight: 600
      font-size: 16px

    .saved-configs-values-container
      display: flex
      flex-direction: column
      gap: 10px

      .saved-config > .saved-config-condition
        color: #5A6870

      .saved-config > .saved-config-action
        color: #000
        font-weight: 600

    .configs-edit
      color: #2B83EA
      font-size: 14px
      font-weight: 400
      display: flex
      align-items: center

    .configs-edit > .i-edit_board
      margin-right: 8px

    .cta-container
      margin: 48px -24px 24px
      float: right

      .btn-primary
        margin: 0
        padding: 8px 20px

.ReactModal__Content.save-configs-confirmation-modal,
.ReactModal__Content.disable-prepay-cod-confirmation-modal,
.ReactModal__Content.enable-prepay-cod-confirmation-modal
  max-width: 400px

  .confirmation-modal
    padding: 24px

  .confirmation-modal > .modal-header
    padding: 0
    color: #262D3A
    font-size: 16px

  .confirmation-modal > .confirmation-modal-subtext
    margin-top: 14px

  .confirmation-modal > .confirmation-modal-ctas-container
    margin-top: 8px

    .confirmation-modal-primary-cta
      padding: 8px 20px
      border-radius: 2px

    .confirmation-modal-secondary-cta
      margin-right: 16px
