ENCRYPTION_KEY=4dkTd5lWhN40CkSrnyrRBuRMsSX9exXD

APP_DEBUG=(true)
APP_URL="https://api.razorpay.com"
APP_ENV=dev

ALPHA_APP_URL="https://alpha.razorpay.com"
BETA_APP_URL="https://beta.razorpay.com"

APP_HOST="api.razorpay.com"
ALPHA_APP_HOST="alpha.razorpay.com"
BETA_APP_HOST="beta.razorpay.com"

DB_LIVE_DRIVER=mysql
DB_LIVE_HOST=localhost
DB_LIVE_PORT=3306
DB_LIVE_DATABASE=api_live
DB_LIVE_USERNAME=user
DB_LIVE_PASSWORD=password

DB_TEST_DRIVER=mysql
DB_TEST_HOST=localhost
DB_TEST_PORT=3306
DB_TEST_DATABASE=api_test
DB_TEST_USERNAME=user
DB_TEST_PASSWORD=password

SLAVE_DB_LIVE_HOST=localhost
SLAVE_DB_LIVE_PORT=3306
SLAVE_DB_LIVE_USERNAME=user
SLAVE_DB_LIVE_PASSWORD=password

SLAVE_DB_TEST_HOST=localhost
SLAVE_DB_TEST_PORT=3306
SLAVE_DB_TEST_USERNAME=user
SLAVE_DB_TEST_PASSWORD=password

OAUTH_MOCK=true
DB_AUTH_DRIVER=mysql
DB_AUTH_HOST=localhost
DB_AUTH_PORT=3306
DB_AUTH_DATABASE=auth
DB_AUTH_USERNAME=user
DB_AUTH_PASSWORD=password

# Bharat Qr

BHARAT_QR_VISA_ACQUIRER_CODE=470100
BHARAT_QR_MASTERCARD_ACQUIRER_CODE=513344
BHARAT_QR_IDENTIFIER_PADDING=00000000
BHARAT_QR_SECRET= RANDOM

ES_HOST=localhost
ES_AUDIT_HOST=localhost
ES_AUDIT_LIVE_INDEX=audit_logs_live
ES_AUDIT_TEST_INDEX=audit_logs_test
ES_MOCK=true
ES_AUDIT_MOCK=true

SNS_MOCK=true

ES_WORKFLOW_ACTION_LIVE_INDEX=workflow_action_live
ES_WORKFLOW_ACTION_TEST_INDEX=workflow_action_test
ES_WORKFLOW_ACTION_MOCK=true

CONTEXT=dev

CLOUD=false

CERTIFICATE_DIR_PATH="/path/to/storage/certs/"

PROXY_ENABLED=(false)
PROXY_ADDRESS=(empty)

AMEX_GATEWAY_TEST_HASH_SECRET=AE9A3935F5EFF811C1E8F539C3EF9C4A
AMEX_GATEWAY_TEST_MERCHANT_ID=test9820447027
AMEX_GATEWAY_TEST_ACCESS_CODE=8D86AFF5
AMEX_GATEWAY_TEST_AMA_USER=razorpayama
AMEX_GATEWAY_TEST_AMA_PASSWORD=password0

AXIS_MIGS_GATEWAY_TEST_HASH_SECRET=abcdef
AXIS_MIGS_GATEWAY_TEST_MERCHANT_ID=random
AXIS_MIGS_GATEWAY_TEST_ACCESS_CODE=password
AXIS_MIGS_GATEWAY_TEST_AMA_USER=RAZORANDOM
AXIS_MIGS_GATEWAY_TEST_AMA_PASSWORD=password

AXIS_GENIUS_GATEWAY_TEST_HASH_SECRET=random
AXIS_GENIUS_GATEWAY_TEST_MERCHANT_ID=random
AXIS_GENIUS_GATEWAY_TEST_ACCESS_CODE=password

BILLDESK_GATEWAY_TEST_MERCHANT_ID=random
BILLDESK_GATEWAY_TEST_ACCESS_CODE=random
BILLDESK_GATEWAY_TEST_HASH_SECRET=random

#BILLDESK CATEGORY ACCESS CODE AND SECRET
BILLDESK_GATEWAY_SECURITIES_LIVE_ACCESS_CODE=random
BILLDESK_GATEWAY_SECURITIES_LIVE_HASH_SECRET=random

EBS_GATEWAY_MERCHANT_ID=random
EBS_GATEWAY_HASH_SECRET=secret
EBS_GATEWAY_TEST_MERCHANT_ID=random
EBS_GATEWAY_TEST_HASH_SECRET=secret

HDFC_GATEWAY_TEST_TERMINAL_ID=hdfc_id
HDFC_GATEWAY_TEST_TERMINAL_PASSWORD=hdfc_password

CYBERSOURCE_GATEWAY_TEST_MERCHANT_ID=random
CYBERSOURCE_GATEWAY_TEST_ACCESS_CODE=random

FIRST_DATA_TEST_STORE_ID=first_data
FIRST_DATA_TEST_HASH_SECRET=random_first_data_test_hash_secret
FIRST_DATA_TEST_USER_ID=random_first_data_test_user_id
FIRST_DATA_TEST_PASSWORD=random_first_data_test_password
FIRST_DATA_TEST_CLIENT_CERTIFICATE=random_first_data_test_client_cert
FIRST_DATA_TEST_CLIENT_CERTIFICATE_PASSWORD=random_first_data_test_client_cert_pass

FIRST_DATA_LIVE_HASH_SECRET=random_first_data_live_hash_secret
FIRST_DATA_LIVE_USER_ID=random_first_data_live_user_id
FIRST_DATA_LIVE_PASSWORD=random_first_data_live_password
FIRST_DATA_LIVE_CLIENT_CERTIFICATE=random_first_data_live_client_cert
FIRST_DATA_LIVE_CLIENT_CERTIFICATE_PASSWORD=random_first_data_live_client_cert_pass

FIRST_DATA_CERT_DIR_NAME=first_data
FIRST_DATA_SERVER_CERTIFICATE=first_data_server_cert.p12
FIRST_DATA_CLIENT_CERTIFICATE=first_data_client_cert.p12

MOBIKWIK_GATEWAY_TEST_HASH_SECRET=random_hash_secret
MOBIKWIK_GATEWAY_TEST_MERCHANT_ID=RANDOM2

PAYTM_GATEWAY_TEST_MERCHANT_ID=randomid
PAYTM_GATEWAY_TEST_HASH_SECRET=randomsecret

PAYZAPP_WALLET_PG_MERCHANT_LOGIN_ID=random
PAYZAPP_WALLET_TEST_MERCHANT_ID=29837498237498723433
PAYZAPP_WALLET_TEST_MERCHANT_APP_ID=2393
PAYZAPP_WALLET_TEST_HASH_SECRET=92837498273498738923
PAYZAPP_WALLET_TEST_PG_INSTANCE_ID=29387423
PAYZAPP_WALLET_TEST_PG_MERCHANT_ID=29387432
PAYZAPP_WALLET_TEST_PG_HASH_KEY=2938FJ9823FJ99F8
PAYZAPP_WALLET_LIVE_PG_INSTANCE_ID=17021203

PAYUMONEY_WALLET_TEST_HASH_SECRET=random_hash_secret
PAYUMONEY_WALLET_TEST_MERCHANT_ID=random_id
PAYUMONEY_WALLET_TEST_CLIENT_ID=random_client_id
PAYUMONEY_WALLET_TEST_AUTH_HEADER=random_auth_header

OLAMONEY_WALLET_TEST_HASH_SECRET=random_hash_secret
OLAMONEY_WALLET_TEST_MERCHANT_ID=random_id
OLAMONEY_WALLET_TEST_CLIENT_ID=random_client_id

UPI_ICICI_GATEWAY_TEST_MERCHANT_ID=123456
UPI_ICICI_TEST_PUBLIC_KEY=(empty)
UPI_ICICI_TEST_PRIVATE_KEY=(empty)

UPI_NPCI_TEST_DECRYPTION_KEY=(empty)
UPI_NPCI_TEST_SIGNING_KEY=(empty)
UPI_NPCI_TEST_SIGNING_PUBLIC_KEY=(empty)

UPI_MINDGATE_TEST_MERCHANT_ID=HDFC123456123456
# Not the real key, but size needs to be correct
UPI_MINDGATE_TEST_MERCHANT_KEY=b2950f37dd1df3926749b0e1c50f6063

UPI_MINDGATE_SBI_MERCHANT_ID=SBI0000000000001
UPI_MINDGATE_SBI_HASH_SECRET=93158d5892188161a259db660ddb1d0b

AIRTELMONEY_WALLET_TEST_HASH_SECRET=random_hash_secret
AIRTELMONEY_WALLET_TEST_MERCHANT_ID=random_id
AIRTELMONEY_WALLET_TEST_END_MID=random_client_id

FREECHARGE_WALLET_TEST_MERCHANT_ID=random_id
FREECHARGE_WALLET_TEST_HASH_SECRET=random_hash_secret

JIOMONEY_WALLET_TEST_MERCHANT_ID=random_id
JIOMONEY_WALLET_TEST_CLIENT_ID=random_client_id
JIOMONEY_WALLET_TEST_HASH_SECRET=random_hash_secret

NETBANKING_HDFC_GATEWAY_LIVE_HASH_SECRET=000000

NETBANKING_KOTAK_GATEWAY_TEST_HASH_SECRET=(empty)
NETBANKING_KOTAK_GATEWAY_LIVE_HASH_SECRET=(empty)

# Airtel Payments credentials
NETBANKING_AIRTEL_GATEWAY_TEST_MERCHANT_ID=11111
NETBANKING_AIRTEL_GATEWAY_TEST_SALT=random_salt

NETBANKING_AXIS_GATEWAY_TEST_MERCHANT_ID=test_pid
NETBANKING_AXIS_GATEWAY_TEST_HASH_SECRET=random_secret
NETBANKING_AXIS_GATEWAY_TEST_MERCHANT_ID_CORPORATE=test_pid_corporate
NETBANKING_AXIS_GATEWAY_TEST_HASH_SECRET_CORPORATE=random_string_corporate
NETBANKING_AXIS_GATEWAY_TEST_MERCHANT_ID_REC=random_test_mid_rec
NETBANKING_AXIS_GATEWAY_TEST_HASH_SECRET_REC=random_test_hash_secret_rec
NETBANKING_AXIS_GATEWAY_TEST_HASH_SECRET_ENCREC=random_test_hash_secret_rec

NETBANKING_INDUSIND_GATEWAY_TEST_MERCHANT_ID=test_merchant_id
NETBANKING_INDUSIND_GATEWAY_TEST_SALT=test_hash_secret

# Pnb netbanking secret
NETBANKING_PNB_GATEWAY_TEST_HASH_SECRET=test_hash_secret_pnb
NETBANKING_PNB_GATEWAY_LIVE_HASH_SECRET=live_hash_secret_pnb

# Mpesa creds
MPESA_WALLET_TEST_MERCHANT_ID=test_merchant_id
MPESA_WALLET_TEST_MERCHANT_ID2=test_merchant_id2
MPESA_WALLET_TEST_HASH_SECRET=test_hash_secret
MPESA_WALLET_TEST_USER_ID=test_user_id
MPESA_WALLET_TEST_PASSWORD=test_password
MPESA_WALLET_LIVE_USER_ID=live_user_id
MPESA_WALLET_LIVE_PASSWORD=live_password
MPESA_WALLET_LIVE_HASH_SECRET=live_hash_secret

# Federal Payments credentials
NETBANKING_FEDERAL_GATEWAY_TEST_MERCHANT_ID=random_merchant_id

NETBANKING_INDUSIND_GATEWAY_TEST_MERCHANT_ID=random_merchant_id

NETBANKING_RBL_GATEWAY_TEST_HASH_SECRET=test_masterkey

# ICICI credentials
NETBANKING_ICICI_GATEWAY_TEST_HASH_SECRET=test_masterkey
NETBANKING_ICICI_GATEWAY_TEST_HASH_SECRET_REC=masterkey_rec
NETBANKING_ICICI_GATEWAY_TEST_MERCHANT_ID=test_spid
NETBANKING_ICICI_GATEWAY_TEST_MERCHANT_ID2=test_pid
NETBANKING_ICICI_GATEWAY_TEST_HASH_SECRET_CORP=test_masterkey_corporate
NETBANKING_ICICI_GATEWAY_TEST_MERCHANT_ID2_CORP=test_pid_corporate
NETBANKING_ICICI_GATEWAY_TEST_MERCHANT_ID2_REC=random_payee_id_rec

NETBANKING_CORPORATION_GATEWAY_TEST_MERCHANT_ID=test_merchant_id
NETBANKING_CORPORATION_GATEWAY_TEST_HASH_SECRET=test_hash_secret_corporation

NETBANKING_CORPORATION_GATEWAY_TEST_MERCHANT_ID=test_merchant_id
NETBANKING_CORPORATION_GATEWAY_TEST_HASH_SECRET=test_hash_secret_corporation

NETBANKING_CORPORATION_GATEWAY_TEST_MERCHANT_ID=test_merchant_id
NETBANKING_CORPORATION_GATEWAY_TEST_HASH_SECRET=test_hash_secret_corporation

DRIP_TOKEN = random_drip_token
DRIP_ACCOUNT_ID = 9999999
DRIP_MOCK = true
DRIP_URL = https://local-drip.com/v2/


# Zoho header value
ZOHO_HEADER=zohohoho

AMEX_MOCK=true
ATOM_MOCK=true
AXIS_GENIUS_MOCK=true
AXIS_MIGS_MOCK=true
BILLDESK_MOCK=true
EBS_MOCK=true
HDFC_MOCK=true
MOBIKWIK_MOCK=true
PAYTM_MOCK=true
PAYZAPP_MOCK=true
PAYUMONEY_MOCK=true
SBIEPAY_MOCK=true
NETBANKING_HDFC_MOCK=true
NETBANKING_KOTAK_MOCK=true
NETBANKING_ICICI_MOCK=true
NETBANKING_AIRTEL_MOCK=true
NETBANKING_AXIS_MOCK=true
NETBANKING_FEDERAL_MOCK=true
NETBANKING_INDUSIND_MOCK=true
NETBANKING_RBL_MOCK=true
NETBANKING_PNB_MOCK=true
NETBANKING_CORPORATION_MOCK=true
OLAMONEY_MOCK=true
CYBERSOURCE_MOCK=true
HITACHI_MOCK=true
FIRST_DATA_MOCK=true
UPI_ICICI_MOCK=true
UPI_MINDGATE_MOCK=true
UPI_SBI_MOCK=true
AIRTELMONEY_MOCK=true
JIOMONEY_MOCK=true
AEPS_ICICI_MOCK=true
MPESA_MOCK = true

HITACHI_GATEWAY_TEST_MERCHANT_ID                = test_merchant_id
HITACHI_GATEWAY_TEST_HASH_SECRET                = test_hash_secret
HITACHI_GATEWAY_TEST_HASH_SECRET2               = test_hash_secret2

AEPS_TERMINAL_ID=random

MOCK_GATEWAY_SECRET=random_password

APP_DASHBOARD_URL=http://betadashboard.razorpay.com/
APP_DASHBOARD_SECRET=RANDOM_DASH_PASSWORD
APP_DASHBOARD_PRETEND=true

APP_HOSTED_SECRET=somerandomsecret

# Distinct from MAILGUN_SECRET
# MAILGUN_SECRET is the secret we need to access Mailgun's APIs
# APP_MAILGUN_SECRET is what Mailgun uses to access routes on API as an app.
APP_MAILGUN_SECRET=somerandomsecret

CHECKOUT_URL="https://checkout.razorpay.com"
BETA_CHECKOUT_URL="https://beta-checkout.razorpay.com"

SLACK_TOKEN=(empty)
SLACK_MOCK=true
ZAPIER_MOCK=true

MAILGUN_SECRET=(empty)
MAILGUN_MOCK=true
MAIL_DRIVER=log

QUEUE_DRIVER=sync
SECONDARY_QUEUE_DRIVER=sqs_multi_default
QUEUE_MOCK=(true)
SECURE_CACHE_DRIVER=file
CACHE_DRIVER=file

AWS_QUEUE_URL=(empty)
AWS_KEY_ID=(empty)
AWS_KEY_SECRET=(empty)
AWS_REGION=us-east-1
AWS_BUCKET_REGION=ap-south-1

#Session
SESSION_DRIVER=file
#SESSION_SECURE=false

#Redis configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

SECURE_REDIS_HOST=127.0.0.1
SECURE_REDIS_PORT=6379
SECURE_REDIS_DB=0

AWS_S3_MOCK=true
AWS_S3_SETTLEMENT_BUCKET=(empty)
AWS_S3_LOGO_BUCKET=(empty)
AWS_ACTIVATION_BUCKET=(empty)
AWS_S3_RECON_BUCKET=(empty)

AWS_CF_CDN_URL="https://cdn.razorpay.com"
BETA_AWS_CF_CDN_URL="https://betacdn.razorpay.com"
TEST_AWS_CF_CDN_URL="https://dummycdn.razorpay.com"

EMI_FILE_PASSWORD=rzp_2016

CTH_CLIENT_CERT_KEY=(empty)
CTH_CLIENT_CERT=(empty)

CRON_PASSWORD=RANDOM_CRON_PASSWORD

TOKENEX_MOCK=(true)
TOKENEX_ID=(empty)
TOKENEX_API_KEY=(empty)
TOKENEX_API_URL=https://test-api.tokenex.com/TokenServices.svc/
TOKENEX_TOKEN_SCHEME=12

MUTEX_MOCK=(true)
DATA_STORE_MOCK=(true)

RAVEN_URL=(empty)
RAVEN_SECRET=(empty)

AUTH_SERVICE_URL=(empty)
AUTH_SERVICE_SECRET=(empty)

KOTAK_SECRET=RANDOM_KOTAK_SECRET
YESBANK_SECRET=RANDOM_YESBANK_SECRET

EXCHANGE_MOCK=(true)
EXCHANGE_URL=(empty)
EXCHANGE_APP_ID=(empty)

LUMBERJACK_SECRET=(empty)
LUMBERJACK_KEY="api123"
LUMBERJACK_MOCK=(true)
LUMBERJACK_API_IDENTIFIER="api"

HARVESTER_SECRET=(empty)
HARVESTER_MOCK=(true)
HARVESTER_API_IDENTIFIER="api"

# Url Shortener
ELFIN_MOCK=(true)
ELFIN_SERVICES='gimli,bitly'

GIMLI_SECRET='RANDOM_SECRET'
GIMLI_BASE_URL='http://gimli.razorpay.in/v1/'

BITLY_ACCESS_TOKEN_PUBLIC='RANDOM_SECRET'

# Gateway Absence/StatusCake
STATUSCAKE_USERNAME=test
STATUSCAKE_API_KEY=test

# Heimdall Config
HEIMDALL_WORKFLOWS_MOCK=true

# Skip rate limiter
SKIP_THROTTLE=(false)

NODAL_MOCK=false
NODAL_USERNAME=rzp_live
NODAL_PASSWORD=RANDOM_DASH_PASSWORD
NODAL_BASE_URL="http://nodal-service.razorpay.in:28095/v1"

OAUTH_ENCRYPTION_KEY=Q+eqHYyY3EMs061inZqYT73H4qDMMCpB8TbYZk555ec=
BLADE_CERT_DIR_NAME=/tmp
BLADE_TEST_ACCESS_CODE=11111111111
BLADE_TEST_MERCHANT_ID2='12AB,cd/34-EF  -g,5/H-67'
BLADE_TEST_TERMINAL_PASSWORD=12345678
BLADE_TEST_ACQ_BIN=11111111111
BLADE_TEST_MERCHANT_ID='12AB,cd/34-EF  -g,5/H-67'

AXIS_NODAL_AES_SECRET="random_secret_value"
AXIS_NODAL_AES_IV="cmFuZG9tX2l2X3ZhbHVl"

#Mailchimp
MAILCHIMP_LIST_ID                              = 'random_id'
MAILCHIMP_API_TOKEN                            = 'mailchimp_token'
MAILCHIMP_MOCK                                 = (true)

#sortingHat
SORTING_HAT_TOKEN                              = 'somerandomtoken'
SORTING_HAT_URL                                = 'https://sorting-hat-slack.herokuapp.com/'

#captcha Secret
NOCAPTCHA_SECRET                               = 'somerandomsecret'
