APP_ENV=dev
APP_DEBUG=true
APP_KEY=SomeRandomString
APP_LOG=daily

DB_MYSQL_HOST=localhost
DB_MYSQL_DATABASE=dashboard
DB_MYSQL_USERNAME=root
DB_MYSQL_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file

BASE_URL='http://dashboard.razorpay.dev'

QUEUE_DRIVER='sync'
AWS_QUEUE_URL=''

API_URL="http://api.razorpay.dev/v1/"
API_MOCK=false
API_AUTH_PASS=RANDOM_DASH_PASSWORD

# AWS Bucket for storing activation documents uploaded
AWS_ACTIVATION_BUCKET=activation_test

#Your AWS Access Key ID
AWS_ACCESS_KEY_ID=(empty)

# Your AWS Secret Access Key
AWS_SECRET_ACCESS_KEY=(empty)

AWS_REGION=us-east-1
S3_MOCK=true

# Should mail be faked, set true in testing/development See mail.php for details
MAIL_PRETEND=true
MAIL_DRIVER=mailgun

# Should contact form submit details be sent to slack
# Set false in testing/development
# This is also used for Sorting Hat integration
# Slack Key is not used for Sorting Hat
SLACK_ENABLE=false
SLACK_KEY=''

NOCAPTCHA_SECRET=''

# Creevey is the creenshot service
CREEVEY_TOKEN='token_for_creevey'
CREEVEY_MOCK=true

MAILCHIMP_LIST_ID=list_id
MAILCHIMP_API_TOKEN=xxxx-yyyy-zzzz
MAILCHIMP_MOCK=true

ZAPIER_MOCK=true
CRON_PASS='RANDOM_CRON_PASS'

SECURE_SESSION=(false)

OAUTH_MOCK=false
OAUTH_CLIENT_ID='938088475836-cf2sa26m5nhr7uv058l017t2ucpnt9mu.apps.googleusercontent.com'
OAUTH_CLIENT_SECRET='DwBJFjYIYInl7xolmTu29tRg'
