@include('partials/head')

<link rel='shortcut icon' href='{{asset('img/logo.png')}}'>
<link rel='stylesheet' href='{{asset('css/generated/style.css')}}' type='text/css' />

@include('partials/common')

<!-- jQuery & angular -->
<script src='{{asset('js/generated/pre.js')}}'></script>
<!-- App -->
<script src='{{asset('js/generated/admin.js')}}'></script>

@include('partials/footer')