<?php include('../partials/head.html');?>

<?php include('../partials/common.html');?>

  <!-- jQuery & angular -->
  <script src="{{asset('js/generated/pre.js')}}"></script>
  <!-- App -->
  <script src="{{asset('js/generated/admin.js')}}"></script>

<?php include('../partials/footer.html'); ?>