.OnBoarding--Optimizer
  .header
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    border: none
    background-color: inherit
    padding-left: 0
    padding-right: 0

    .header-title
      color: #0D2366
      font-size: 28px
      line-height: 1.5
      font-weight: 600

  .Landing--Image
    flex: 1

  .right-content
    padding: 0 24px 80px
    flex: 1

  .brands
    margin: 14px 0 -12px -12px

    img
      width: 100%
