.OnBoarding--Slide.pricing-plan
  align-items: start

  .description
    color: #5D6D86
    font-size: 14px

  .consent.Input--checkbox
    border: 1px solid #2A86F3
    border-radius: 2px
    padding: 16px
    background: #1566F117

    .Input-content label .Input-inlineLabel
      font-weight: 600

    .Input-desc
      margin-left: 24px

      .cost-wrapper
        color: #324664
        font-weight: 600

      .cost-wrapper .cost
        font-size: 40px
        margin-right: 4px
