.OnBoarding--Slide.survey
  align-items: start

  .Input-label
    margin-bottom: 10px

  .Input--medium
    margin-top: 0
    margin-bottom: 20px

    .Input-label
      font-size: 16px

  .Input-content .Input--radioLabels
    display: flex
    flex-direction: column
    row-gap: 5px

    label
      white-space: nowrap

  .survey-wrapper
    .survey-form
      margin-bottom: 15px

      .options
        display: flex
        flex-wrap: wrap

        .Input--checkbox
          flex-basis: 50%

    .quick-tip
      color: #5D6D86
