.c-fee-configuration
  .intelligence-label
    width: 18%
    .intelligence-tooltip
      margin-left: 6px
  .slabs-container
    justify-content: space-between
    .Input.c-rule-type
      margin-left: 0
      margin-top: 0
      .Input-content
        width: auto
    .toggler-btn
      display: flex
      position: relative
      top: 5px
    .toggle-status
      margin-left: 8px
      position: relative
      top: -3px
  .slabs-input-container 
    .Input.slabs-input, .Input.slabs-flat-charge-input
      .Input-content
        width: auto
  .serviceability-setting-label
    min-width: 30%
  .Input
    display: flex
    margin-left: 0
  .fee-block
    padding: 16px 20px
    width: 450px
    background: #fafafa
    margin-top: 12px
    .slabs-input
      margin: 8px 8px 0 0
      width: 120px
    .slabs-input-header
      margin-top: 0
    .add-slabs-cta
      color: #528FF0
      margin-top: 12px
    .slabs-charge
      margin-left: 20px
      .slabs-close
        margin-top: 8px

.slabs-form-wrapper
  .slabs-close
    margin-top: 8px
  .slabs-close-errored
    margin-bottom: 12px
