.font-20
  font-size: 20px

.font-18
  font-size: 18px

.font-normal
  font-style: normal

.margin-t-8
  margin-top: 8px

.margin-t-16
  margin-top: 16px

.p--24
  padding: 24px

.margin-l--4
  margin-left: 4px

.p--16
  padding: 16px