.ReactModal__Content.magic-lead-form
  max-height: 75%;
  overflow: scroll;

  .form-submit-cta
    padding: 20px 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    .Button--primary
      padding: 10px 30px;

  .modal-header
    padding: 20px 30px;

  .Input-el
    border-radius: 12px;

  .Input--radioLabels
    display: flex;
    flex-direction: column;
    gap: 4px;

  .fields-container
    margin-top: 8px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .label
      color: #58666E;
      font-size: 14px;
      padding: 0;

      &.required::after
        margin-left: 2px;
        color: #F00;
        content: "*";
