.rzp-traffic {

  .chart-container  > .chart-content {

    display: table;   
 
    .rzp-highcharts , .rzp-legend {

      display: table-cell;
      vertical-align: middle;
    }

    .rzp-highcharts {

      width: 60%;
    }

    .rzp-legend {

      width: 40%;
    }
  }
}
