.rzp-traffic {

  .chart-container  > .chart-content {

    display: table;

    .chart , .rzp-legend {

      display: table-cell;
      vertical-align: middle;
    }

    .chart {

      width: 60%;
    }

    .rzp-legend {

      width: 40%;
    }
  }
}
