@media screen and (max-width 767px)
	.SubscriptionLinks--new
		.Subscription--New-addons
			> ol
				padding-left 22px
				> li
					padding-left 0
			> div:first-child
				margin-top 0
		.Subscription--New-quant-select .Input--half
			> div.Input-label
				display inline
			> div.Input-content .Input-elWrapper
				margin-left 0
				width 50px !important
