$alert-warning-bg = #FFF6DA;
$alert-warning = #CDC4A8;

$alert-info-bg = rgba(217,237,247,0.44);
$alert-info = #bce8f1;

.Alert
  padding: 16px
  border: 1px solid
  border-radius: 2px
  color: #4D4D4D
  margin-bottom: 12px

  .side-description
    color: #838383

.Alert--warning
  border-color: $alert-warning
  background: $alert-warning-bg

.Alert--info
  border-color: $alert-info
  background: $alert-info-bg
