.LinkCard
  padding: 20px
  position: relative
  background: #fff
  display: block
  border: 1px solid $prime

  &:hover
    background: rgba(250,250,250,0.9)

  .icon-card, div
    display: inline-block

  .icon-card
    font-size: 30px

  div
    font-weight: 600
    width: 72%
    p
      font-weight: normal
      margin: 10px 0 0

  .i-chevron-right
    font-size: 20px
    position: absolute
    top: 50%
    right: 16px
    transform: translateY(-50%)
