.Collapsible
  &--title
    cursor: pointer
    i.i-arrow-up,
    i.i-arrow-down
        font-size: 22px
        margin-right: 5px

  &--body
    width: 100%
    overflow: hidden
    transition: max-height 600ms
    max-height: 0

    &.open
      max-height: 600px
      height: auto
      overflow: initial
