/**/
.Input--enum-list
  .Input-elWrapper
    position: relative

  .btn-link
    margin: 8px
    font-size: 13px

    i
      margin-right: 4px
      display: inline-block

  .Input-enum-option
    overflow: auto

    &.is-focused
      z-index: 2

    .Input-el
      padding-right: 32px
      border-radius: 0
      position: relative

    &:not(:nth-of-type(1))
      margin-top: -1px

    &:nth-of-type(1) .Input-el
      border-top-left-radius: 2px
      border-top-right-radius: 2px

    &:last-of-type .Input-el
      border-bottom-left-radius: 2px
      border-bottom-right-radius: 2px

    .Input-el-btn
      font-size: 20px
      position: absolute
      right: 12px
      top: 5px
      width: 20px
      line-height: 20px
      text-align: center
      cursor: pointer
      color: #bfbfbf

      &:hover
        color: #7b8199

