$prime-27 = alpha($prime, 0.27)
$fee-breakup-bg = #EEF1F2

.FeeBreakup
  height: 70px
  background-color: $fee-breakup-bg
  display: table
  border-left: 2px solid $prime
  padding: 5px 0
  &--item
    display: table-cell
    vertical-align: middle
    padding-left: 10px
    position: relative
    padding: 0 17px

    &:first-child
      border-right: 1px solid $prime-27

      &:before,
      &:after
        content: ''
        position: absolute
        height: 0
        width: 0
        border-style solid
        left: 100%

      &:before
        top: calc(50% - 5px)
        border-width: 6px
        border-color: transparent transparent transparent $prime-27

      &:after
        top: calc(50% - 4px)
        border-width: 5px
        border-color: transparent transparent transparent $fee-breakup-bg