.Form--tabular
  .Input-label
    float: left
    width: 172px
    text-align: right
  .Input-content
    margin-left: 190px
.Form--vertical
  .input-container
    background-color: #ffffff
    display: flex
    width: 100%
    border-radius: 2px
    border: 1px solid #9B9B9B
    i
      padding: 10px;
      min-width: 50px;
      text-align: center;
    .form-control
      width:100%
      padding: 10px
      border:none
  .InputField
    width:100%
    outline: none
    outline-style: none
    outline-width: 0px
  .input-container:focus-within
    border:solid 1px #4386EE
  .no-bottom-border
    border-bottom-width: 0px
  .no-bottom-border:focus-within
    border-bottom-width: 1px
  .no-top-border
    border-top-width: 0px
  .no-top-border:focus-within
    border-top-width: 1px
    margin-top: -1px
  .top-rounded
    border-radius: 2px 2px 0px 0px
  .bottom-rounded
    border-radius: 0px 0px 2px 2px


