// stylelint-disable max-nesting-depth,  no-descending-specificity

$partnerDashboardCdn = "https://cdn.razorpay.com/static/assets/partner-dashboard";

.partner-dashboard-home {
  $screen-xs-max = 767px;
  $desktop-wide = 1170px;
  $desktop-min = 1023px;

  .no-break {
    white-space: nowrap;
  }

  .page-heading {
    font-size: 24px;
    font-weight: 700;
    color: #162F563D;
    margin: 22px;
    padding-top: 16px;

    @media screen and (max-width $screen-xs-max) {
      padding-top: 50px;
    }
  }

  .referral-guide-card {
    display: flex;
    margin: 22px;

    @media screen and (max-width $desktop-wide) {
      display: block;
    }

    @media screen and (max-width $screen-xs-max) {
      background-image: unset;
    }

    .content-title {
      color: #58666E;
      font-size: 16px;
      font-weight: 700;
      padding-bottom: 2px;
    }

    .content-sub-title {
      color: #6F7691;
    }

    .referral-guide {
      width: 48%;
      padding: 25px 0 0 40px;
      background: #FFF;
      margin-right: 24px;
      height: 277px;
      box-shadow: 0 2px 12px -8px;
      border-radius: 4px;

      @media screen and (max-width $desktop-wide) {
        width: 100%;
        padding: 16px 16px 16px 20px;
        height: 250px;
      }

      @media screen and (max-width $screen-xs-max) {
        height: 300px;
      }

      &__title {
        color: #162F56DE;
        font-weight: 700;
        font-size: 18px;
      }

      &__sub-title {
        color: #162F568A;
        font-weight: 400;
        font-size: 13px;
      }

      .referral-action {
        background: url($partnerDashboardCdn/fux-cards/referral-action-bg.svg) center left -10px / 108% 115%;
        max-width: 510px;
        display: flex;
        margin-top: 15px;
        border-radius: 4px;
        box-shadow: 0 2px 12px -8px;
        padding: 25px 40px;

        @media screen and (max-width $desktop-wide) {
          padding: 16px;
        }

        &__icon {
          position: relative;
          height: 50px;
          width: 25px;

          @media screen and (max-width $desktop-wide) {
            margin-right: 20px;
          }

          > img {
            position: absolute;
            left: -70px;
            top: 8px;

            @media screen and (max-width $desktop-wide) {
              left: -50px;
            }
          }
        }

        .referral-content {
          margin-left: 18px;

          @media screen and (max-width $desktop-wide) {
            margin-left: 12px;
            margin-top: 16px;
          }

          &__cta {
            padding-top: 6px;
          }
        }
      }
    }

    .referal-guide-new {
      width: 50%;
      box-shadow: none;
      margin: 0;
      border-radius: 0;

      @media (max-width $desktop-wide) {
        width: 100%;
      }
    }

    .product-list {
      width: 50%;
      position: relative;
      overflow: hidden;
      background: #FFF;

      @media screen and (max-width $desktop-wide) {
        margin-top: 0;
        width: 100%;
        padding: 0 16px;
        background-image: none;
      }

      .product-icon {
        position: absolute;
        bottom: -25px;
        right: -5px;

        @media screen and (max-width $desktop-wide) {
          display: none;
        }
      }

      .product-container {
        width: 100%;
        margin-top: 65px;
        margin-left: 18px;

        @media screen and (max-width $desktop-wide) {
          margin-top: 16px;
          width: 100%;
          padding-bottom: 16px;
        }

        .product-list-item {
          display: flex;
          margin-top: 25px;

          @media screen and (max-width $desktop-wide) {
            margin-top: 0;
          }

          > img {
            height: 32px;
          }

          .product-item {
            display: flex;
            cursor: pointer;

            @media screen and (max-width $desktop-wide) {
              flex-wrap: wrap;
              width: 100%;
            }

            .product-cta {
              padding-top: 6px;
              font-weight: 700;
              color: #2B83EA;
              display: flex;
              align-items: center;

              @media screen and (max-width $desktop-wide) {
                margin-left: 18px;
              }

              &__content {
                margin-right: 18px;
                background: none;
                border: none;

                &:disabled {
                  opacity: 0.4;
                }
              }
            }

            .content-group {
              margin-left: 18px;
              width: 265px;

              @media screen and (max-width $desktop-wide) {
                max-width: 100%;
                width: 70%;
              }
            }
          }

          &:not(:first-child) {
            margin-top: 20px;

            @media screen and (max-width $desktop-wide) {
              margin-top: 10px;
            }
          }
        }
      }
    }

    .aggregator-card {
      padding: 25px 0 0 38px;
      width: 50%;
      background: #FFF;
      box-shadow: 0 2px 12px -8px;
      border-radius: 4px;
      position: relative;

      @media screen and (max-width $desktop-wide) {
        width: 100%;
        margin: 20px 0;
        padding-bottom: 12px;
        padding-left: 20px;
      }

      .agg-content {
        @media screen and (max-width $desktop-wide) {
          margin-bottom: 36px;
        }
      }

      .agg-img-wrap {
        background: url($partnerDashboardCdn/partner-onboard-resellers/aggregatorCardAnimation.svg) no-repeat;
        width: 282px;
        height: 276px;
        position: absolute;
        bottom: -28px;
        right: -30px;

        @media screen and (max-width $desktop-wide) {
          display: none;
        }
      }

      .agg-title {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 26px;
        color: rgb(22 47 86 / 0.871);
      }

      .agg-desc {
        font-weight: 400;
        font-size: 16px;
        color: #415575;
        margin-bottom: 6px;
      }

      .agg-sub-desc {
        font-weight: 400;
        font-size: 14px;
        color: #6F7691
        margin-bottom: 21px;
        width: 60%

        @media screen and (max-width $desktop-wide) {
          margin-bottom: 20px;
          width: 100%;
        }
      }

      .agg-sub-desc-note {
        color: #8A97AA;
        font-size: 12px;
        margin-top: 6px;
      }
    }

    .api-loader {
      position: relative;
      right: 6px;
    }
  }

  .capital-referral-guide-card {
    margin: 22px;
    background-color: #1D2345;
    display: flex;
    border-radius: 4px;

    @media screen and (max-width $desktop-wide) {
      display: block;
    }

    @media screen and (max-width 600px) {
      background-image: url("assets/capital-background.svg");
      background-repeat: no-repeat;
      background-position: right top;
      background-size: 60% 60%;
    }

    .details-container {
      width: 80%;
      padding: 20px;

      @media screen and (max-width $desktop-wide) {
        width: 100%
      }

      .heading-title {
        color: #FFF;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        padding: 20px;

        span {
          color: #FF9D08;
        }
      }

      .details {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px 20px;

        .details-with-icon {
          display: flex;
          margin: 10px;

          .details-text {
            color: #FFF;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin-left: 12px;
          }
        }
      }
    }

    .image-container {
      height: 185px;
      opacity: 0.5;

      @media screen and (max-width $desktop-wide) {
        display: none;
      }
    }
  }

  .recommendation-shimmer {
    .primary-shimmer {
      margin-right: 8px;

      .side-space {
        width: 70%;

        .shimmer-loader {
          &:first-child {
            height: 12px;
            width: 70%;
          }

          &:not(:first-child):not(:last-child) {
            width: 100%;
            height: 10px;
            margin: 16px 0;
          }

          &:last-child {
            width: 50%;
            height: 10px;
            margin-top: 24px;
          }
        }
      }
    }

    .secondary-shimmer {
      .sec-content {
        margin-top: 24px;
      }

      .side-space {
        width: 70%;

        .shimmer-loader {
          &:first-child {
            width: 70%;
            height: 12px;
          }

          &:not(:first-child) {
            width: 100%;
            height: 10px;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .activation-guide-card {
    display: flex;
    background-color: #FFF;
    margin: 22px;
    border-bottom: 8px solid #BBC2FF;
    border-radius: 4px;
    box-shadow: 0 2px 12px -8px;

    @media screen and (max-width $desktop-min) {
      flex-wrap: wrap;
    }

    .title-bar {
      display: flex;
      flex-direction: column;
      background: #F3F5FF;
      flex: 0 0 30%;
      align-items: center;
      padding-top: 40px;
      position: relative;

      .confetti-wrapper {
        position: absolute;
        top: 0;
        width: 100%;
        height: 120px;

        @media screen and (min-width $desktop-min) {
          display: none;
        }

        canvas {
          width: 100%;
          height: 100%;
        }
      }

      @media screen and (max-width $desktop-min) {
        flex: 1;
        align-items: start;
        padding-top: 8px;
      }

      &__container {
        padding: 20px;
        width: 260px;

        @media screen and (max-width $desktop-min) {
          padding-bottom: 8px;
        }

        .title {
          font-weight: 600;
          font-size: 20px;

          &::after {
            content: ""
            display: block;
            width: 36px;
            height: 4px;
            background: #F8C33E;
            border-radius: 4px;
            margin: 8px 0 16px;
          }
        }

        .sub-title {
          font-weight: 500;
          font-size: 13px;

          @media screen and (max-width $desktop-min) {
            display: none;
          }
        }

        img {
          margin-top: 18px;

          @media screen and (max-width $desktop-min) {
            display: none;
          }
        }
      }
    }

    .activation-steps {
      display: flex;
      flex-direction: column;
      padding-top: 45px;
      padding-bottom: 30px;
      width: 100%;
      position: relative;

      .confetti-wrapper {
        position: absolute;
        width: 50%;
        height: 250px;
        right: 0;
        top: 12px;

        @media screen and (max-width $desktop-min) {
          display: none;
        }

        canvas {
          width: 100%;
          height: 100%;
        }
      }

      @media screen and (max-width $desktop-min) {
        padding-top: 8px;
      }

      .activation-step {
        display: flex;
        margin-top: 15px;

        @media screen and (max-width $desktop-min) {
          flex-wrap: wrap;
        }

        &:last-child {
          .step-connector {
            display: none;
          }
        }

        &__icon {
          margin-left: 28px;
          position: relative;

          img {
            z-index: 1;
            position: relative;
          }

          .step-connector {
            position: absolute;
            width: 8px;
            z-index: 0;
            top: 0;
            left: 15px;
            bottom: -20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .connector {
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background: #EAEAEA;
            }
          }
        }

        &__content {
          width: 38%;
          margin-left: 12px;

          @media screen and (max-width $screen-xs-max) {
            width: 70%;
          }
        }

        &__title {
          color: #162F56;
          font-weight: 600;
          font-size: 16px;
        }

        &__sub-title {
          color: #162F56DE;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          margin-top: 8px;

          .i-info-circle {
            margin-left: 8px;
          }
        }

        &__cta {
          margin-left: 10%;
          position: relative;

          @media screen and (max-width $screen-xs-max) {
            margin-left: 74px;
            margin-top: 8px;
          }
        }
      }
    }

    .activation-step--opaque {
      opacity: 0.5;
    }
  }
}
