.grouping-dropdown {

  svg.grouping-icon {

    display: block;
    width: 20px;
    height: auto;
    margin: 0px auto;

    > path {

      fill: currentColor;
    }
  }

  .dropdown-group-item {

    padding: 0;
  }
}
