.grouping-dropdown {

  svg.grouping-icon {

    display: block;
    width: 20px;
    height: 12px;
    margin: 0px auto;

    > path {

      fill: currentColor;
    }
  }

  .rzp-group-item:first-child {

    background-color: #fafbfc;
  }

  .dropdown-group-item {

    padding: 0;
  }
}
