.grouping-dropdown {

  width: 218px;

  svg.grouping-icon {

    display: block;
    width: 20px;
    height: 12px;
    margin: 0px auto;

    > path {

      fill: currentColor;
    }
  }

  .dropdown-group-item {

    padding: 0;
    width: 100%;

    .react-normal-select, .PowerSelect__Trigger, .PowerSelect__TriggerLabel {

      width: 100%;
    }
  }
}
