.recent-activity-cont {

  tabbed-container .row {

    margin-bottom: 0;

    a {

      line-height: 50px;
      cursor: pointer;
      text-align: center;
      border-bottom: 3px solid transparent;

      &.active {

        color: #6a55d1;
        border-color: #6a55d1;
      }
    }
  }
}
