.font-bold
  font-weight: bold

.font-heading
  font-size: 16px

.font-12
  font-size: 12px

.font-10
  font-size: 10px

.display-flex
  display: flex

.flex--column
  flex-direction: column

.flex--1
  flex: 1

.gap--4
  gap: 4px

.gap--12
  gap: 12px

.gap--14
  gap: 14px

.p--14
  padding: 14px

.p--30
  padding: 30px

.no-padding
  padding: 0

.align-center
  align-items: center

.flex-center
  justify-content: center
  align-items: center

.justify-space-between
  justify-content: space-between

.justify-space-around
  justify-content: space-around

.justify-end
  justify-content: end

.display-inline
  display: inline-block

.color-white
  color: #FFFFFF

.color-blue-1
  color: #528FF0;

.bg-white
  background: #FFFFFF

.color-red
  color: #D65555

.no-margin-left
  margin-left: 0

.padding-8
  padding: 8px

.padding-16
  padding: 16px

.padding-20
  padding: 20px
  
.padding-12
  padding: 12px

.slabs-border
  border-bottom: 1px dashed #DBDBED

.width-100
  width: 100%

.no-border
  border: 0px

.color-black
  color: #262D3A

.magic-checkout-color-red
  color: #FF3636

.float-right
  float: right

.no-margin-top
  margin-top: 0

.text-uppercase
  text-transform: uppercase

.h--100
  height: 100%

.p--24
  padding: 24px
