.font-bold
  font-weight: bold

.font-heading
  font-size: 16px

.font-12
  font-size: 12px

.font-10
  font-size: 10px

.display-flex
  display: flex

.no-padding
  padding: 0

.align-center
  align-items: center

.flex-center
  justify-content: center
  align-items: center

.justify-space-between
  justify-content: space-between

.justify-space-around
  justify-content: space-around

.display-inline
  display: inline-block

.color-white
  color: #FFFFFF

.color-blue-1
  color: #528FF0;

.bg-white
  background: #FFFFFF

.color-red
  color: #D65555

.no-margin-left
  margin-left: 0

.padding-8
  padding: 8px

.padding-16
  padding: 16px

.slabs-border
  border-bottom: 1px dashed #DBDBED

.width-100
  width: 100%

.no-border
  border: 0px

.color-black
  color: #262D3A

.magic-checkout-color-red
  color: #FF3636

.float-right
  float: right

.no-margin-top
  margin-top: 0