.magic-checkout-collapse-btn
  border: none;
  background: none;
  padding: 0;
  color: #528FF0;

.magic-checkout-amount-value > *
  margin-right: 4px

.sku-details-container
  display: inline-flex

.magic-checkout-breakup-table
  background: #F9F9F9
  border: none
  margin: 5px
  padding: 13px 23px

  .magic-checkout-row
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 4px;
  
    .rzp-tooltip
      font-style: normal;

    .rzp-popover
      width: 190px !important;
      .rzp-tooltip-inner
        padding: 6px;
  .magic-checkout-green
    color: #30C052

.tick-green
  color: #2CCA74;

.error-red
  color: #F04F50;

.magic-checkout-sku-list
  display: flex;
  flex-direction: column;
  margin-right: 8px;

.magic-checkout-description-link
  margin-left: 4px;
  margin-right: 4px;

.font-normal
  font-weight: normal;
