.magic-empty-batch-list
  max-width: fit-content;

  .modal-info
    background-color: #FAFAFA;
    border-radius: 2px;
    border: 1px solid #DBDBDB;
    margin: 30px 0 0;
    padding: 0 45px 0 15px;

  h4
    color: #262D3A;
    font-size: 16px;
    font-weight: 600;

  h5
    color: #2D2D2D;
    font-size: 14px;
