.Modal-container--PaymentpagesReceipt
  width: 400px
  margin: 48px 0
  overflow: visible
  margin-top: -20px

  .main-title
    font-weight: bold
    padding: 16px 24px 4px
    font-size: 18px

  .settings-section
    padding: 24px

    .Input
      margin: 0

    &:not(:last-of-type)
      border-bottom: 1px solid #ececec

    .m-r
      margin-right: 4px

  .Input-inlineLabel
    vertical-align: top

  .Input--radio
    label
      margin-bottom: 12px

  .doc-links
    font-size: 13px

    a:first-of-type
      margin-right: 12px

  .PowerSelect-PickField
    margin-top: 12px
    border-radius: 2px

  .Input-desc--disabled
    opacity: 0.5
    pointer-events: none

  footer
    padding: 16px 24px
    background: #f6f6f6
    border-top: 1px solid #e0e0e0
    text-align: right

    .Button--transparent
      padding: 8px 20px

    button:last-of-type
      margin-right: 0


.PowerSelect-PickField.PowerSelect__Menu
  .PowerSelect__Option
    padding: 8px 12px

  .PowerSelect__Option--disabled
    color: rgba(88, 102, 110, 0.5)

    span
      float: right
      font-size: 12px
