.Entity--paymentpage-v2
  .panel-heading .btn
    padding: 5px
    min-width: 72px
    line-height: 1.5em

  .panel-heading .btn-xs
    min-width: 40px

  .stats-info
    margin-bottom: 0

    .table > tbody > tr > td
      padding: 12px

    .table .td-info:not(:first-child)::before
      top: 12px
      bottom: 12px
      height: unset

  .stats-info-footer
    margin-bottom: 24px
    padding: 12px
    background: #f9f9f9
    text-align: right
    border: 1px solid #eaeff0
    border-top: none

    .i
      vertical-align: unset

      &:before
        vertical-align: middle
        font-size: 20px
