.pp-custom-domain

  .main-title
    padding: 20px 24px
    display: flex
    align-items: center
    justify-content: space-between
    font-size: 18px
    font-weight: bold
    
    .heading
      display: flex
      align-items: center

      img, i
        margin-right: 10px

    .i-close 
      cursor: pointer
      
  main
    padding: 0 24px

    .Input
      margin-top: 10px

    .spacing
      margin: 24px 0

  footer 
    padding: 20px 24px 
    background: #f6f6f6
    text-align: right

    button
      margin-right: 0
      margin-left: 25px

  .table-responsive
    margin-top: 24px

  .i-check-circle-outline
    color: #1F890E


  .i-warning-o
    color: #CD8214

  .Alert
    font-size: 13px
    padding: 8px
    border: none

    &--warning
      color: #8A6D6B

  .ClipboardCustom 
    button
      color: rgb(43, 131, 234)
      border-color: rgb(43, 131, 234)
      background: transparent 
      margin-bottom: 2px
      font-size: 10px
      font-weight: bold

      &:hover 
        background: rgba(43, 131, 234, 0.05)

      i
        margin-right: 5px