// stylelint-disable no-descending-specificity
// stylelint-disable max-nesting-depth
// stylelint-disable declaration-no-important
// stylelint-disable color-function-notation
#paymentpage-container
  min-height: 100vh
  font-family: Mulish, Lato, Lato-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif

  .rzp-whole
    font-weight: 600

  .no-merchant-logo
    font-size: 11px
    text-align: center
    color: #528FF0
    line-height: 14px
    margin-top: 10px
    cursor: pointer

    @media (max-width $screen-xs-max)
      margin-top: -7px

    .rzp-tooltip
      width: 400px
      font-size: 12px
      line-height: 18px
      margin-top: 12px

  // added to styling bug due to confirm modal empty divs
  .details-container
    > div
      margin-bottom: 40px

  // mweb changes particular to PP
  .TemplateCard
    @media (max-width $screen-xs-max)
      flex-direction: row
      width: calc(100% - 40px)

      .img-wrapper
        width: 220px
        height: 100%

      img
        width: unset
        height: 170px
        margin: 0 -75px

// Caution: Not only being used in PP but other places also
.TemplateCard
  border-radius: 4px
  background: #FFF
  width: 220px
  overflow: hidden
  cursor: pointer
  display: flex
  flex-direction: column
  margin: 12px
  transform-origin: center
  transition: 0.19s cubic-bezier(0.42, 0, 0.35, 1)

  &.disabled
    cursor: not-allowed

  &:hover
    transform: translateY(-16px)

    .link
      border-top: 1px solid rgba(0, 0, 0, 0.08)
      padding: 8px 0 0
      max-height: 33px
      opacity: 1

    .hover-text
      display: block

  .img-wrapper
    width: 100%
    height: 100%
    overflow: hidden

  img
    width: 100%
    height: 132px

  &-list
    display: flex
    align-items: baseline
    margin-top: 80px
    width: 100vw
    justify-content: center
    flex-wrap: wrap
    opacity: 0
    transform: translateX(40%)
    animation: 0.35s 0.24s slide-in cubic-bezier(0.16, 1.13, 1, 1) forwards

    @media (max-width $screen-xs-max)
      margin-top: 0

  &-details
    padding: 12px 16px
    height: 100%
    display: flex
    flex-direction: column
    position: relative
    font-size: 15px
    font-weight: 600
    line-height: 24px
    text-align: left
    width: 100%

  &-desc
    font-weight: normal
    margin: 8px 0 24px
    font-size: 13px
    line-height: 20px
    min-height: 80px
    position: relative
    z-index: 0

    @media (max-width $screen-xs-max)
      margin-bottom: 10px

  .hover-text
    display: none
    position: absolute
    z-index: 1
    top: 0
    background: #FFF
    font-weight: 600

  .link
    position: relative
    margin: auto 0 -4px
    font-size: 14px;
    font-weight: 600
    color: $primary-color
    display: flex
    align-items: center
    justify-content: center
    max-height: 0
    overflow: hidden
    padding: 0
    opacity: 0
    transition: 0.19s cubic-bezier(0.42, 0, 0.35, 1)

    @media (max-width $screen-xs-max)
      opacity: 1
      max-height: unset
      justify-content: start

    i
      position: absolute
      right: 8px

      @media (max-width $screen-xs-max)
        position: static
        margin-left: 5px
        margin-top: 5px

@keyframes slide-in
  50%
    opacity: 0

  100%
    transform: translateX(0)
    opacity: 1

.Modal-mask.Modal-mask--payment-pages-v2-templates
  background-color: rgba(0, 0, 0, 0.8)
  text-align: center
  z-index: 999999 // Has to be highest

  .slide-in
    animation: 0.35s 0.1s slide-in cubic-bezier(0.16, 1.13, 1, 1) forwards
    transform: translateX(240px)
    opacity: 0

    @media (max-width $screen-xs-max)
      max-width: 100vw
      padding: 10px 20px
      text-align: left

  .back-btn
    position: absolute
    left: 20px
    top: 16px
    color: #FFF
    z-index: 2
    padding: 0
    margin: 0
    font-weight: normal
    height: auto

    &:hover
      opacity: 0.84
      color: #FFF

  .Modal-container
    top: 40%

  .heading
    font-size: 24px
    font-weight: 600
    color: #FFF

  button
    height: 40px
    padding: 10px 60px
    margin: 12px auto 0
    font-weight: 600

  p
    color: #FFF
    line-height: 24px
    font-size: 16px
    margin: 12px 0 16px

  .Modal-container
    background: transparent

.Modal-mask.Modal-mask--payment-pages-v2-templates.Modal-mask--view-1
  overflow-x: hidden
  top: 0
  left: 0
  right: 0
  transform: none

  .Modal-container
    overflow: hidden
    top: 0
    left: 0
    right: 0
    transform: none

  .Modal-body
    margin-top: 80px

.Modal-mask--payment-pages-v2-creator
  .Modal-container
    top: 40%
    overflow: visible

  footer
    padding: 16px
    background: #F6F6F6
    border-top: 1px solid #E0E0E0
    overflow: auto

    .group-right
      float: right
      margin-top: -4px

    button
      margin-right: 30px
      margin-top: 4px

    .Button--primary
      margin-right: 0
      padding: 8px 32px

#embed-btn-preview
  position: relative
  padding: 20px
  background: #FFF
  border: 1px solid rgba(0, 0, 0, 0.05)
  margin-top: 4px
  text-align: center

  .preview-label
    position: relative
    top: -10px
    padding: 2px 6px
    font-size: 12px
    background: #FFF
    border-radius: 3px
    font-weight: 600
    color: #ADADAD
    z-index: 2

.embed-button-form
  .description
    font-size: 12px
    margin-bottom: 4px
    font-weight: 400
    color: #7F849C

  #code-copier
    font-size: 12px
    color: #7F849C
    word-break: break-all;

  .ClipboardCustom
    float: right
    margin-top: -2px
    margin-right: -4px

    .btn.btn-link i
      display: inline-block

#wysiwyg-root
  padding-top: 50px
  animation: 0.3s fadein ease-in

  @media (max-width $screen-xs-max)
    padding-top: 73px

  .content-container
    min-width: 854px

    @media (max-width $screen-xs-max)
      min-width: 100vw

  #mobile-container
    // to hide the next button on mweb creation flow
    .content-scrollable > .btn-container
      display: none

    .content
      height: 90vh

// Paymentpages v2 styles
.payment-pages-v2
  .spinner-container
    text-align: center
    padding: 100px 0

  /*
    on mobile, if base form is open
    reducing z-index so that the the nav container
    doesn't come above the creator modal
  */
  // TODO: Remove dependency
  @media (max-width $screen-xs-max)
    &.creator-modal-open
      .page-nav-container
        z-index: 2

  .btn-link
    padding-left: 0

  // Wysiwyg elements
  #details-section
    width: 100%

    #description-details
      white-space: inherit

      #description
        margin: 24px 0 0

    label
      display: inherit

    .remove-btn
      display: inline-block
      vertical-align: middle
      margin-left: 16px
      visibility: hidden
      opacity: 0
      transition: 0.08s

      @media (max-width $screen-xs-max)
        visibility: visible
        opacity: 1

    > div
      &:hover
        .remove-btn
          opacity: 1
          visibility: visible

      .Input-el
        background: transparent
        resize: none
        border: 1px solid transparent
        color: #6F7691

      .Input-highlight .Input-el
        &[name="title"],
        &[name="description"]
          border-color: #EEE

      .Input-el.Input-el
        &:hover
          border-color: #E2E2E2

        &:focus
          background: #FFF
          border-color: $primary-color
          resize: vertical

        @media (max-width $screen-xs-max) // in mweb, show border as looks uneditable otherwise
          border-color: #E2E2E2
          background: #FFF

    .Input
      .Input-error
        line-height: 14px
        font-size: 14px

      .Input-el
        font-size: 14px

    .title--big
      .Input
        margin: -4px 0 -16px; // avoid left, right spacing, for alignment between sections

      .Input-el
        min-height: 42px
        font-size: 24px
        line-height: 32px
        font-weight: 600
        padding: 1px 5px 2px // 1px less cuz of border
        color: #0D2366
        max-height: 70px

      .Input-error
        line-height: 14px
        margin-top: -8px

      .fake-textarea
        padding: 3px 0
        min-height: 42px
        line-height: 32px
        font-size: 24px

    textarea.Input-el
      min-height: 32px
      height: 32px
      max-height: 230px // Supports 720 char on desktop
      line-height: 22px

    .Input-highlight textarea.Input-el[name="description"]
      min-height: 70px

    .Input
      margin: -4px -6px

      .Input-el
        padding: 3px 5px
        position: relative

  #share-details,
  #support-details,
  #terms-details
    .wysiwyg-edit-layer
      margin-top: -8px

  #share-details,
  #support-details
    .share-icons
      span
        vertical-align: middle

      span:not(:last-of-type)
        margin-right: -8px

  #terms-details
    p
      display: inline-block
      color: #6F7691
      margin-top: 16px
      white-space: pre-line
      word-wrap: break-word
      cursor: pointer

    .rzp-tooltip-tnc
      margin-left: 125px
      margin-top: 16px
      white-space: pre-wrap

  #support-details
    .sub-detail
      .Input
        width: calc(100% - 132px)
        display: inline-block
        vertical-align: middle
        margin: 0

      .Input-el
        height: 28px
        background: transparent
        color: #0D2366 // Same as in customer-facing view

    .Input-error
      margin: -2px 0 4px

  #form-section
    #form-footer
      .btn > div
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)

    .i-fix-sort
      font-size: 10px

    .i-fix-number
      font-size: 10px

    .i-fix-alphabet
      font-size: 10px

    .i-fix-arrow-down
      font-size: 13px

      &::before
        border-radius: 50%
        border: 1px solid
        border-color: inherit
        width: 24px
        height: 20px

  .wysiwyg-edit-layer
    position: relative
    margin: -4px -6px
    padding: 4px 6px
    border-radius: 2px
    cursor: pointer

    &.default-cursor
      cursor: auto

    .i
      position: absolute
      top: 16px
      right: 4px
      font-size: 18px
      padding: 2px 8px
      cursor: pointer
      visibility: hidden
      color: #528FF0

      @media (max-width $screen-xs-max) // to show edit button always in mobile
        visibility: visible
        top: 43px
        right: 30px

      &:hover
        color: #2371EC

    &:not(.disable-hover):hover
      background-color: #FFF
      box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.14)

    &:hover
      .i
        visibility: visible

      .Input-info
        transform: translateY(-50%)
        opacity: 1

        @media (max-width 1024px)
          transform: none

  .help-content
    position: relative

    .rzp-popover
      white-space: normal

      @media (max-width $screen-xs-max)
        display: none !important

  // Override Styles
  .Input-info
    left: 100%
    color: #FFF
    background-color: #2C3243
    line-height: 20px
    min-width: 180px
    white-space: pre-line

    &::before
      border-right-color: #2C3243

    @media (max-width 1024px)
      left: 0
      top: -55px
      line-height: 1.2

      &::before
        border-right-color: transparent
        border-bottom-color: transparent
        border-top-color: #2C3243
        bottom: -15px
        top: auto
        left: 46%

  .shiprocket-blank-preview
    height: 360px
    width: 100%

    @media screen and (max-width 767px)
      display: none

// Overriding styles of UI-form
.payment-pages-v2 .UI-form
  .wysiwyg-edit-layer
    &.Field
      margin: 24px -44px -8px
      padding: 8px 44px

      .Field-description
        transform: none
        margin-bottom: 0

    .Field-wrapper
      @media (max-width $screen-xs-max)
        width: calc(100% - 20px); // to show edit button always in mobile

    &.Field--disabled .Field-el
      pointer-events: none

  .Input-info
    left: calc(100% - 44px)
    top: -4px
    margin-left: 0
    margin-top: 8px
    transform: translate(-100%, -100%) !important

    &::before
      border-right-color: transparent
      border-bottom-color: transparent
      border-top-color: #2C3243
      left: 50%
      transform: translateX(-50%)
      top: unset
      bottom: -16px

// Styles for creator modal
.paymentlinks-creator
  .section
    padding: 24px

    .Input-error
      position: absolute
      white-space: nowrap
      font-size: 13px

    .Input-elWrapper.Select-elWrapper::before
      top: 3px

    .Input-el:not([type="checkbox"])
      height: 32px

  .section-1
    border-bottom: 1px solid #EFEFEF

    & > div:not(.dropdown-options)
      width: 50%
      display: inline-block
      padding: 0
      margin: 0

    .dropdown-options
      margin-top: 20px

      .Input-content
        max-height: 232px
        overflow-y: scroll

  form[name="form_creator_generic"]
    .section-1
      & > div:not(.dropdown-options)
        width: 50%

    .Input:not(.Input--checkbox) .Input-content
      margin-top: 8px

    .section-1
      .Input-label
        top: 0

      .Input
        padding-right: 44px
        vertical-align: top

      .Input-el:not([type="checkbox"])
        min-width: 200px

    .section-2
      .Input--description
        margin: 0 0 0 24px

  form[name="form_creator_amount"]
    .section-1
      & > div:first-of-type
        width: 63%

      & > div:last-of-type
        width: 37%

      .PowerSelect__Trigger
        height: 30px

        &Label,
        &Status
          height: 30px

      .Input-content,
      .Input-label
        display: inline-block

      .Input-content
        vertical-align: middle

      .Input-label
        top: 8px
        margin-right: 16px
        float: left
        margin-bottom: 4px

      .Input--amount
        left: 1px

        .Input-content
          margin-right: 0

        .Input-el
          width: 120px

      .Input--noMargin + .Input--amount .Input-el
        width: 144px

    .section-2
      .Input-el:not([type="checkbox"])
        height: 32px
        width: 80px
        padding: 0 8px

    .Input--Currency .value
      line-height: 32px
      // height: 32px

  .section-2
    > .Input:nth-of-type(1)
      margin-top: 0

    .Input .Input
      display: inline-block

    .checkbox-Input
      margin: -8px 4px

// Style for extendable-on-keypress text area
.fake-textarea
  width: 100%
  height: 32px
  overflow: hidden
  left: 6px
  padding: 0 4px 0 0 // 4px acts as lookahead to create new line
  line-height: 22px
  font-size: 14px
  visibility: hidden
  position: absolute

@media (max-width 1023px)
  #desktop-container
    #form-section #fin-logo
      width: 160px

@media (max-width 960px)
  #desktop-container
    .content
      padding-left: 16px

      &::before
        // left: 0
        min-width: 724px
        border-left-width: 8px

    #details-view,
    #header-details
      width: 45%

// goal tracker main container
.paymentpage-container-goal-tracker
  .rzp-tooltip-donation-tracking
    margin-top: 10px

    @media (max-width $screen-xs-max)
      display: none !important

    .rzp-tooltip-title
      font-weight: 600
      margin-bottom: 4px

  .btn-goal-tracker
    margin-top: 24px
    text-decoration: none

    @media (max-width $screen-xs-max)
      .i-info-outline // hiding info icon as on mobile no hover
        display: none

  .dropdown__trigger .bg-success
    background: #1F890E
    border-radius: 2px
    font-weight: 600
    font-size: 10px
    line-height: 12px

  .FieldsDropdown--goal-tracker
    .OptionsDropdown-list
      min-height: 170px !important
      width: 240px
      margin-top: -12px
      top: 0%

      .OptionsDropdown-item
        line-height: 18px;

        i
          min-width: 20px

    .OptionsDropdown-item--short-description
      font-size: 10px
      color: #515978
      margin-left: 30px;
      display: inline-block;
      line-height: 16px;

    .info
      margin-top: -12px;
      bottom: unset !important
      left: 235px
      z-index: 2
      height: 170px !important;
      min-height: 170px !important;

  #goal-tracker-details.is-active
    margin: 0 -12px;
    position: relative;
    padding: 1px 0;

    .goal--tracker-action-buttons
      display: none
      justify-content: flex-end
      align-items: center
      position: absolute
      bottom: 5px
      right: 10px

    &:hover
      box-shadow: 2px 4px 12px rgba(23, 31, 37, 0.25);
      border-radius: 4px;
      padding: 1px 0 18px;

      .goal--tracker-action-buttons
        display: flex

    @media (max-width $screen-xs-max) // in mweb, always show as no hover
      padding: 1px 0 18px

      .goal--tracker-action-buttons
        display: flex

  // Goal Tracker Preview
  .Modal-container--goal-tracker-preview
    width: 416px;
    transform: none
    display: none // initially hidden, once position decided, made visible: avoids jerky behaviour

  // Goal tracker create/edit modal
  .Modal-container--goal-tracker
    width: 375px;
    transform: translate(0%, -25%)
    overflow: visible

    @media (max-width $screen-xs-max)
      transform: none

    .main-title
      font-weight: 600;
      padding: 16px 24px;
      font-size: 18px;

    .end-date-picker
      padding-top: 8px

      & > .Input-content
        display: flex

        & > div.Input
          & > .Input-content
            margin-right: 12px

        .Input-elWrapper
          width: 100% !important

    .modal-section
      padding: 12px 0

      &:last-child
        padding: 0 0 12px

      .Input-desc
        font-size: 12px

    .Input--custom
      padding-left: 26px;

      &::before
        left: 7px;

      .Input--stock-limit
        margin-left: 24px

        input
          max-width: 175px

    form
      padding: 0 24px

      .Input
        margin: 0 !important

      .supporter-checkbox
        margin-top: 12px !important

      .Input-el
        background: #FFF !important
        border: 1px solid #E2E2E2 !important

      .Input-label
        margin-bottom: 8px

    footer
      padding: 16px 24px
      background: #F6F6F6
      border-top: 1px solid #E0E0E0
      text-align: right

      @media (max-width $screen-xs-max)
        text-align: center

      .Button--transparent
        padding: 8px 20px;

      .Button--primary
        margin-right: 0;

  .goal-tracker--blank-preview
    min-height: 100px

  .goal--tracker-action-buttons
    display: none
    text-align: right

    .Button--transparent
      text-transform: uppercase;
      font-weight: 600;
      color: #2B83EA;
      font-size: 10px;
      display: flex;
      align-items: center;

      .i-edit-outline
        margin-right: 5px;
        padding-bottom: 2px;
        border-bottom: 1px solid #2B83EA;

      .i-delete-outline
        margin-right: 5px;

    .vertical-divider
      height: 0;
      width: 18px;
      border: 1px solid #58666E;
      transform: rotate(90deg);

  .goal-tracker--main
    margin: 12px;
    background: rgba(11, 112, 231, 0.05) !important;
    border-radius: 3px !important;
    border: 1.4px solid #E7F1FD !important;

// amount based modal (create/edit/details)
.goal-tracker--amount-based
  color: #515978
  padding: 12px
  background: none !important;
  border: 0 !important;

  .goal-tracker--amount-based-top
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #515978;

    span
      color: #1B226A;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;

  .goal-tracker--amount-based-bottom
    display: flex
    color: #2B4486;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    justify-content: space-between;

    .goal-tracker--supporter-count
      margin-right: 32px

  footer
    right: 60px;

// supporter based modal (create/edit/details)
.goal-tracker--supporter-based
  padding: 12px
  background: none !important;
  border: 0 !important;

  &.goal-tracker--supporter-based-noslider
    min-height: 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .goal-tracker--supporter-based-bottom
      justify-content: flex-start

      .goal-tracker--supporter-count,
      .goal-tracker--sold-count
        margin-right: 32px

  .support-common-error
    margin-bottom: 12px;
    margin-top: -4px;

  .goal-tracker--supporter-based-top
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #515978;

    span
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      color: #1B226A;

  .goal-tracker--supporter-based-bottom
    display: flex
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #2B4486;
    justify-content: space-between;

    .goal-tracker--sold-count
      span
        font-weight: 600;
        color: #1B226A;

// written outside main wrapper as bottom sheet rendered with reach-portal
.paymentpage-container-goal-tracker.goal-tracker--bottom-sheet
  label
    margin-bottom: 8px

// try to mimic some of context.confirm modal's styles
.Modal-container--Paymentpage-shiprocket-confirm
  width: 325px
  top: 300px !important
  z-index: 5
  left: 40% !important

  @media (max-width 1400px)
    left: 35% !important

  @media screen and (max-width 767px)
    left: 50% !important

  .modal-header
    padding: 24px 24px 0
    border-bottom: 0

    .modal-title
      font-size: 18px
      font-weight: 600
      line-height: 1em

  .modal-body
    padding: 16px 24px 24px

  .Alert
    color: #8A6D6B
    border: 0
    margin-top: 12px
    margin-bottom: 24px
    padding: 8px

  .Modal__actions
    & > .btn + .btn
      margin-left: 4%

    & > .btn
      width: 48%

    .btn-outline
      &:hover,
      &:focus
        color: #528FF0

.Modal-container--Paymentpage-shiprocket-fields-preview
  transform: none !important

  @media screen and (max-width $screen-xs-max)
    display: none

  .UI-form
    padding: 0 30px 24px
