// TODO: Wrap form in tablet screen
// TODO: Fix Amount fields where currency label is big

.Modal-container--ImageCropper
  .Cropper-area
    margin: 12px 0

  .Cropper-area--enabled
    margin-bottom: 36px

  .croppie-container
    .cr-slider-wrap
      width: 40%
      position: absolute

  .btn-group

    .Button:not(:first-child)
      margin-left: 12px

.payment-pages-v3
  $mweb-footer-margin = 140px // for changes associated to content getting covered by mobile cta-container

  .btn-gradient
    border: none
    background-image: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%) // Same as static. Have to write styles here since dashboard is overriding styles

  .edit-layer--formFooter
    padding: 8px 32px
    margin: -12px -32px -8px
    bottom: -8px

    .i-edit
      top: 26px
      right: 0
      @media (max-width: $screen-xs-max)
        right: 40px
        top: 18px 
        color white

  .btn-dotted
    display: inline-block
    border: 1px dashed rgba(82, 143, 240, .3)
    padding: 4px 12px
    line-height: 18px
    margin: 0

    span
      vertical-align: middle
      display: inline-block

    .enclose-circle
      width: 20px
      height: 20px
      border-radius: 50%
      line-height: 20px
      background-color: rgba(82,143,240,0.17)



  .wysiwyg-edit-layer
    .dragHandle
      position: absolute
      left: 4px
      top: 16px
      .i
        position: absolute
        left: 0
        top: 0
        font-size: 16px
        letter-spacing: 2px
        line-height: 16px
        font-weight: 600
        visibility: hidden
        cursor: ns-resize

    &:not(.disable-hover):hover
      .Input-info
        opacity: 1

      .dragHandle, .i
        visibility: visible

    &:hover
      .Input-info
        opacity: 0

      .i
        visibility: hidden


  .Field.Field-dummyAmount
    margin: 0 0 -24px 0

  .Field-dummyAmount + .FormItems
    margin-top: 48px

  .FormItems
    margin-top: 24px
    transition: .24s cubic-bezier(0.17, 0.7, 1, 1)

    .wysiwyg-edit-layer.Field
      margin: 0 -44px -8px

    .CreatorManager
      margin-top: 24px


  #draggableElementsContainer
    .wysiwyg-edit-layer
      background-color: #fff
      box-shadow: 0 5px 13px 0 rgba(0,0,0,0.14)

      .dragHandle .i-dotter
        visibility: visible



  // For handling Field as a CreatorManager (existing field)
  .CreatorManager
    position: relative

   // For handling Button as a CreatorManager (new field)
  .Field-content
    & > .CreatorManager
      display: inline-block
      position: unset

      &:not(:first-child)
        margin-left: 16px


  .CreatorModal-BaseForm
    background: rgba(32, 31, 45, 0.5)
    z-index: 3
    position: fixed
    left: 0
    right: 0
    top: 0
    width: 100%
    bottom: 0
    box-shadow: 0 2px 8px 0 rgba(43,47,60,0.36)
    animation: 0.55s fadeIn cubic-bezier(0.08, 0.98, 1, 1)
    @media (max-width: $screen-xs-max)
      height: 'calc(100% + %s)' % $mweb-footer-margin

  .CreatorModal-BaseForm + .Modal-container
    &::before
      content: ""
      position: fixed
      top: 0
      bottom: 0
      left: 0
      right: 0
      background: rgba(43,47,60,0.36)
      pointer-events: all
      @media (max-width: $screen-xs-max)
        height: 'calc(100% + %s)' % $mweb-footer-margin

  .Input input:not([type=radio]):not([type=checkbox]),
  .Input--Currency .value
    height: 36px
    line-height: 36px !important

  .Input--Currency
    .Input-el
      height: 36px

    .PowerSelect__Trigger, .PowerSelect__TriggerLabel, .PowerSelect__TriggerStatus
      height: 34px

    .PowerSelect__TriggerLabel
      padding: 0
      > div
        margin: 0 auto

    .PowerSelect__TriggerStatus
      padding-right: 6px
      padding-left: 0

  .Input--Currency:not(.Input--noMargin) + .Input
    left: -3px


  .Modal-container--CreatorModal-BaseForm, .Modal-container--CreatorModal-AdvancedForm
    .InputGroup .Input, .Input
      margin: 0
      .Input-error
        font-size: 12px

    .Input--disabled
      opacity: 1
      cursor: not-allowed

  .CreatorManager
    .Modal-container--CreatorModal-BaseForm
      margin-bottom: 120px // To add a significant margin for scrolling
      top: 0
      transform: none
      right: -56px
      left: -44px
      @media (max-width: $screen-xs-max)
        width: 95vw
        left: -18px
        padding: 28px 28px

  #form-footer
    @media (max-width: $screen-xs-max)
      margin-bottom: $mweb-footer-margin !important

    .Modal-container--CreatorModal-BaseForm
      margin-bottom: 120px // To add a significant margin for scrolling
      top: -44px
      bottom: unset
      transform: none
      padding: 20px 32px
      right: -32px
      left: -32px
      @media (max-width: $screen-xs-max)
        width: 95%
        margin: 0 auto

        // to not show preview in mobile mode in pop up modal
        .form-footer-payment
          display: none

        // to avoid red * getting placed randomly
        .Input--required .Input-label::after
          content: none


    .Input
      display: table
      margin-bottom: 16px
      float: right

    .Input-label, .Input-content
      display: table-cell
      vertical-align: top

    .Input-label
      padding-right: 20px

    .form-footer-payment
      width: 100%

    // changes around form footer in mweb with fin-logo hidden
    @media (max-width: $screen-xs-max)
      .btn-gradient
        width: 100%
        padding: 10px 16px
        margin-top: 0 !important

      #fin-logo
        display: none

      .form-footer-payment
        background: white

  .Modal-container--CreatorModal-BaseForm
    position: absolute
    top: 50%
    left: -44px
    right: -56px
    z-index: 4
    transform: translateY(-50%)
    overflow: unset
    padding: 20px 44px
    background: transparent

    .mimic-expand
      position: absolute
      left: 0
      top: 0
      height: 100%
      width: 100%
      background: #fff
      animation: modalAppearIn 0.35s cubic-bezier(0.53, 1.78, 1, 1) // modalAppearIn 0.4s cubic-bezier(0.29, 1.75, 1, 1)
      transform-origin: center
      border-radius: 2px

    .text-optional
      margin-top: 4px
      font-size: 12px
      opacity: .7

    .is-invalid.is-mature .text-optional
      opacity: 0

    .InputGroup--full
      width: 100%

      .Input-content
        width: 100%

        .Input--Currency + .Input
          width: 100%

         .Input > .Input
            display: block

    .Alert
      position: relative
      margin-left: -44px
      margin-right: -44px
      bottom: -32px
      padding: 12px 16px
      font-size: 13px
      border: none
      color: #8a6d6b
      @media (max-width: $screen-xs-max)
        margin-right: -28px
        margin-left: -28px
        bottom: -40px

    form
      padding-right: 12px
      display: table
      width: 100%
      @media (max-width: $screen-xs-max)
        display: block

    .base-form-side-btn
      position: absolute
      bottom: -64px
      font-size: 12px
      font-weight: bold
      color: #fff
      margin: 0

      span
        display: block
        width: 32px
        height: 32px
        margin: 0 auto
        font-size: 20px
        border-radius: 2px
        color: $primary-color
        border: 1px solid rgba(82,143,240,0.77)
        margin-bottom: 4px
        line-height: 30px


    .base-form-cancel
      right: 60px
      &:hover
        color: #fff
        opacity: .8
      span
        background-color:#fff

    .base-form-save
      right: 12px
      &:hover
        color: #fff
        opacity: .8
      span
        color: #fff
        background-color: $primary-color

    .Input.Input--title
      display: table-cell
      width: 164px
      padding-right: 24px
      margin-right: 20px
      vertical-align: top
      @media (max-width: $screen-xs-max)
        display: block
        margin-bottom: 20px


      .Input-el--resizer
        height: 24px

      .Input-el
        min-height: 24px
        padding: 0
        border-top: none
        border-left: none
        border-right: none
        border-radius: 0

      .Field--mirrorDisplay
        margin: 0
        pointer-events: none
        display: inline-block
        position: absolute
        left: 0
        top: 0
        z-index: 1
        padding: 0 // To mimic padding of actual element
        word-break: break-word

        .mirror-title
          opacity: 0 // To avoid any 1px shifts

        //.symbol--red
        //  position: absolute // Check if same can be done for hostedpage style, because sometimes, this star come in next line when text is full for previous line

    .placeholder-field
      cursor: not-allowed
      .Field-el
        pointer-events: none

    .Field--representation
      display: table-cell
      margin-right: 0
      vertical-align: top
      position: relative

      .Input--img
        vertical-align: top
        border: 1px solid #e2e2e2
        border-bottom-left-radius: 2px
        border-top-left-radius: 2px
      img
        height: 34px

      .Input--img + .Input--Currency
        left: -1px

      select
        color: rgba(13, 35, 102, .3)

      .Input-counterTooltip
        position: absolute
        top: 6px
        right: 8px

      .Input-checkboxTooltip
        position: absolute
        display: inline-block
        top: 8px
        right: 8px

        .Input-checkbox
          width: 20px
          height: 20px
          margin: 0

          &::after
            width: 6px
            height: 12px
            margin: 2px 0 0 6px

    .Input-content--limits
      .Input--limits
        width: 112px

    .Input.Input--description
      margin: 4px 0

      .Input-el--resizer
        height: 24px

      .Input-el
        font-size: 12px
        min-height: 24px
        padding: 0 2px
        border-top: none
        border-left: none
        border-right: none
        border-radius: 0

    .Input--enum-list
      .Input-content
        max-height: 232px
        overflow-y: scroll
        @media (max-width: $screen-xs-max)
          max-height: 55px

    .Input-enum-option
      .Input-el
        height: 32px

    .OptionsDropdown
      position: absolute
      top: 20px
      right: 12px

    .OptionsDropdown-list
      left: 50%
      transform: translateX(-50%)
      animation-name: dropdownAppearInCenter
      animation-duration: .12s

    .dropdown__trigger
      width: 32px
      height: 36px
      line-height: 24px
      text-align: center
      padding: 5px
      border: 1px solid #dadada
      border-radius: 2px
      background-color: rgba(216, 216, 216, 0.27)

      &:active
        border: 1px solid $primary-color

      button
        color: #949494
        margin-right: 0


  .Modal-container--ImageCropper,
  .Modal-container--CreatorModal-AdvancedForm
    padding: 20px 24px
    width: 480px
    @media (max-width: $screen-xs-max)
      width: 95%

    .modal-title
      font-weight: bold
      font-size: 16px

  .Modal-container--CreatorModal-AdvancedForm

    .modal-description
      font-size: 13px
      opacity: .8

    .Input-label
      width: 120px
      margin-right: 16px
      font-weight: normal

    .Input--limits
      .Input-el
        font-size: 13px

    .Input-content--limits
      margin-left: -2px

      .Input-content
        margin: 0

    .Input
      margin-bottom: 20px

    .Input-content--limits
      width: 136px
      @media (max-width: $screen-xs-max)
        width: 100%

    .Input--isStockSet
      .Input-label, .Input-content, .Input-radio, .Input-inlineLabel
        display inline-block
        vertical-align: top

      .Input--radioLabels
        label
          vertical-align: top
          &:last-of-type
            margin-right: 0

    .Input--stock
      vertical-align: top
      .Input
        display: inline-block
        width: 96px
        margin: 0 0 0 12px

      > span, > div
        display: inline-block
        vertical-align: top

    .Input--limits
      .Input-addons--after
        background: transparent
        font-size: 12px
        opacity: .7
        z-index: 1

      .Input-el--after
        padding-right: 28px

      > .Input-content, > .Input-label, .separator
          display: inline-block
          vertical-align: top
          @media (max-width: $screen-xs-max)
            display: block

      > .Input-content
          //width: 136px
          .Input-content
            margin: 0
      //
      //.Input-el
      //  font-size: 13px

      .separator
        padding: 7px 7px 9px 6px


    footer
      margin: 20px -24px -20px
      padding: 16px 24px
      background: #f6f6f6
      border-top: 1px solid #e0e0e0
      text-align: right

      .Button
        line-height: unset
        padding: 8px 20px
        margin-right: 0

  .dropdown__content
    position: relative

  .OptionsDropdown-list
    margin-bottom: 40px
    width: 224px
    max-height: 252px
    border-radius: 4px
    border: 1px solid rgba(82,143,240,0.16)
    list-style: none
    padding: 0
    overflow: auto
    background-color: #fff
    box-shadow: 0 5px 9px 0 rgba(69,75,85,0.22)
    animation: dropdownAppearIn 0.1s cubic-bezier(0.13, 1.04, 1, 1)
    transform-origin: center bottom

    top: unset
    bottom: 100%


  .OptionsDropdown-title
    margin: 8px 12px 4px
    font-size: 12px
    font-weight: bold
    margin-right: 20px
    @media (max-width: $screen-xs-max)
      font-size: 18px
      color: #2f3445

  .OptionsDropdown-item
    position: relative
    width: 100%
    margin: 0
    padding: 6px 12px
    line-height: 24px
    font-size: 14px
    cursor: pointer
    @media (max-width: $screen-xs-max)
      padding: 10px

    &:not(:last-child)::after
      content: ''
      position: absolute
      bottom: 0
      right: 12px
      left: 12px
      height: 1px
      background: #F6F6F6

    i
      display: inline-block
      vertical-align: top
      font-size: 16px
      margin-right: 8px
      line-height: inherit
      pointer-events: none

    i + div
      display: inline-block
      vertical-align: top
      width: 84%

    .subOption
      font-size: 12px
      line-height: 15px
      color: #8991AE

    &:hover
      background-color: #f5f7f9

    .i-check
      display: none
      position: absolute
      top: 8px
      right: 8px
      color: $primary-color

  .OptionsDropdown-item--selected
    background: #f5f7f9
    .i-check
      display: block

  .FieldsDropdown
    &--udf .OptionsDropdown-list
      border-left: 2px solid rgba(13,186,147,0.78)

    &--amount .OptionsDropdown-list
      border-left: 2px solid #FFCA73

  .FieldOptionsDropdown
    .OptionsDropdown-item
      padding: 0
      & > div
        padding: 6px 12px

      i
        color: #969caf

      i.i-check
        color: $primary-color

    .OptionsDropdown-item--delete
      color: #D26A6A
      border-top: 2px solid #e8e9ee
      .i
        color: #D26A6A

  .FieldsDropdown--withInfo
    .info
      position: absolute
      padding: 8px
      width: 192px
      min-height: 220px
      right: 100%
      bottom: 100%
      margin-bottom: 40px
      background: #f6f7fa
      border: 1px solid #eee
      box-shadow: 0 0 14px rgba(0,0,0,0.09)

      .title
        color: #0D2366
        font-size: 13px
        margin: 6px 0

      .description
        color: #515978
        font-size: 12px
        line-height: 17px

    .OptionsDropdown-list
      min-height: 220px

  .Bottom-sheet__options // options shown in bottom-sheet in mobile view
    list-style: none
    padding: 0 15px 15px

    i
      color: #2b83ea
      min-width: 20px

    // duplicate from payment-pages-v2, written again because bottom-sheet rendered in portal
    .i-fix-sort
      font-size: 10px

    .i-fix-number
      font-size: 10px

    .i-fix-alphabet
      font-size: 10px

    .i-fix-arrow-down
      font-size: 13px
      &::before
        border-radius: 50%
        border: 1px solid
        border-color: inherit
        width: 24px
        height: 20px

@keyframes dropdownAppearIn
  0%
    opacity: 0
    transform: scale(.8)

  100%
    opacity: 1
    transform: scale(1)

@keyframes dropdownAppearInCenter
  0%
    opacity: 0
    transform: translateX(-50%) scale(.8)

  100%
    opacity: 1
    transform: translateX(-50%) scale(1)

@keyframes modalAppearIn
  0%
    transform: scale(.97)

  100%
    transform: scale(1)

@keyframes fadeIn
  0%
    opacity: .48

  100%
    opacity: 1
