.Table--PaymentpagesV3

  .item-ellipsis
    display: block
    max-width: 120px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    line-height: 24px

  .more-btn
    font-size: 13px
    margin-top: 4px
    color: $primary-color

  .more-items
    display: table

    & > div
      display: table-cell
      font-size: 13px
      min-width: 96px
      max-width: 124px
      padding-right: 12px
      color: #515978

    .title
      display: block
      margin-bottom: 4px
      font-size: 12px
      color: #8991AE


.Entity--paymentpage
  transition: 5s ease-in

  &.Entity--paymentpage-v3
    margin-top: 124px

.Entity--paymentpage-v3
  position: relative
  border: 1px solid #DFE5E7
  border-radius: 3px
  max-width: unset
  margin: 20px

  .content-header
    position: absolute
    top: -44px
    font-size: 14px

    .i-arrow-back
      font-size: 20px
      line-height: 14px

    &:before
      content: unset

  .panel
    overflow: hidden
    transition: .8s cubic-bezier(0.26, 0.7, 1, 1)
    max-height: 2000px // This height must be able to fit in ~25 payment page items
    position: relative
    margin-bottom: 48px
    @media (max-width: 768px)
      overflow-x: auto

  .panel-heading
    display: flex
    justify-content: space-between
    align-items: center
    @media (max-width: 768px)
      flex-direction: column
      align-items: flex-start

      .dropdown__trigger.Dropdown--Notifications-toggle
        padding: 0 !important

      

  &.Entity--paymentpage-collapse
    &::after
      content: ''
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, #FFFFFF 100%)
      position: absolute
      height: 34px
      bottom: 48px
      left: 0
      right: 0

    .panel
      max-height: 312px

  .panel-collapser
    position: absolute
    bottom: 12px
    left: 50%
    transform: translateX(-50%)
    padding: 2px 6px


  .panel-body
    display: table
    padding-bottom: 0

    .entity-details, .item-details
      display: table-cell
      vertical-align: top

    .entity-details
      min-width: 500px

    .item-details
      width: 100%

      .goal-tracker--amount-based, .goal-tracker--supporter-based 
        max-width: 400px
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        border-left: 3px solid rgba(82,143,240, 0.5) !important;
        padding-left: 10px;

      .InputGroup
        margin: 0

      .table-container
        .table
          display: flex
          flex-wrap: wrap
          border: none
          background: #f3f4f7
          border-left: 3px solid #fbc9a1
          border-bottom-left-radius: 3px
          border-top-left-radius: 3px
          opacity: 0
          animation: move-up .3s ease-in forwards .2s
          transform: translateY(8px)


          > div 
            padding: 14px 12px
            flex: 2

          .item-details-units
            flex: 3
            @media (max-width:767px) 
              flex-basis: 100%

          &:nth-child(4n + 2)
            border-color: #c1a1fd
            transform: translateY(11px)

          &:nth-child(4n + 3)
            border-color: #9bd7ff
            transform: translateY(14px)

          &:nth-child(4n + 4)
            border-color: #b4e397
            transform: translateY(17px)

      .title
        color: #8991AE
        font-size: 13px
        line-height: 16px
        vertical-align: top


  .stats
    padding: 20px
    background: #f3f4f7
    display: flex
    justify-content: space-between
    align-items: center
    @media (max-width: $screen-xs-max)
      align-items: flex-end
      flex-direction: column

    .info
      @media (max-width: $screen-xs-max)
        width: 100%

      > .bold
        font-size: 16px
        color: #515978
        @media (max-width: $screen-xs-max)
          width: 100%

      > *
        display: inline-block
        font-size: 13px
        color: #8991AE
        @media (max-width: $screen-xs-max)
          margin-right: 10px
          margin-bottom: 5px

        .bold
          margin-left: 20px
          font-size: 16px
          color: #515978

          span
            display: inline-block

          .rzp-whole
            font-weight: bold

        &:after
          content: ''
          border-right: 1px solid #a8afc4
          margin: 0 16px
          @media (max-width: $screen-xs-max)
            content: none


  .report-download
    .rzp-popover
      width: 220px

    .report-download-trigger
      margin: 0

    .rzp-tooltip-inner
      padding: 0

    .rzp-popover-body .btn
      display: block
      float: unset
      padding: 12px
      border-bottom: 1px solid #eaeaea

      &:hover
        background-color: #f1f1f1

  .tabs-container 
    @media (max-width: $screen-xs-max)
      li 
        font-size: 12px

@media (max-width: 1023px)
  .Entity--paymentpage-v3
    .panel-body
      display: block
      width: 100%

      .entity-details, .item-details
        display: block
        width: 100%

      .ClipboardCustom
        display: block

    &.Entity--paymentpage-collapse
      .panel
        max-height: 532px


@keyframes move-up
  0%
    opacity: .3

  100%
    opacity: 1
    transform: translateY(0)
