.Entity--paymentpage
  transition: 5s ease-in

  &.Entity--paymentpage-v3
    margin-top: 124px

.Entity--paymentpage-v3
  border: 1px solid #DFE5E7
  border-radius: 3px
  max-width: unset
  margin: 20px

  .panel-body
    .entity-details, .item-details
      display: inline-block
      vertical-align: top

    .entity-details
      width: 500px

    //.item-details


  .stats
    padding: 20px
    background: #f3f4f7

    .bold
      font-size: 16px
      color: #515978

    > *
      display: inline-block
      vertical-align: middle
      font-size: 13px
      color: #8991AE

      .bold
        margin-left: 20px

        span
          display: inline-block

        .rzp-whole
          font-weight: bold

      &:after
        content: ''
        border-right: 1px solid #a8afc4
        margin: 0 16px
