.payment-pages-v3
  .btn-dotted
    display: inline-block
    border: 1px dashed rgba(82, 143, 240, .3)
    padding: 4px 12px
    line-height: 18px
    margin: 0

    &:not(:last-child)
      margin-right: 14px

    span
      vertical-align: middle
      display: inline-block

    .enclose-circle
      width: 20px
      height: 20px
      border-radius: 50%
      line-height: 20px
      background-color: rgba(82,143,240,0.17)
