.b2b-file-uploader
  opacity: 0
  visibility: hidden
  position: absolute
  left: -200%
  top: -200%
  z-index: -100
  width: 0
  height: 0
  overflow: hidden

button.b2b-payment-doc-view-btn
  display: inline-block
  border: 1px solid #D0D0D0
  background: #FFF
  border-radius: 4px
  color: #8A8A8A
  font-size: 12px
  padding: 1px 8px

  .Button-icon
    color: #008659

.b2b-info-banner
  display: flex
  color: #31708F
  background-color: #008CB117
  border-radius: 4px
  padding: 10px
  margin-bottom: 14px

  .b2b-info-banner-content
    padding-left: 1rem

  .i
    margin-top: 3px
    font-size: 18px

  .content
    margin-left: 10px
