// stylelint-disable color-function-notation
// stylelint-disable selector-id-pattern
// stylelint-disable no-descending-specificity
// stylelint-disable declaration-no-important
// stylelint-disable max-nesting-depth
// TODO: restructure this file
$background-color = #FFF;
$actionItemsHeight = 40px;

traffic-responsive() {
  width: 100%;

  &.traffic-container {
    padding-right: 0;
  }

  &.activity-container {
    padding-left: 0;

    p.content-title {
      left: 0;
    }
  }
}

.dashboard-home {
  .settlenow-container {
    .disable-ondemand-msg {
      padding-right: 10px;

      .highlight-tooltip {
        color: #37F499;
      }
    }
  }

  .card {
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .rzp-sticky.sticky > .sticky-content {
    z-index: 2;
  }

  div.panel-footer {
    span.early-stl-label {
      padding: 0 10px;
    }

    i.i-early-settlement {
      color: #39C7EC;
    }
  }

  .settle-btn-act {
    padding: 5px 15px;
  }

  .v2-tour-banner {
    width: 100%;
    display: table;
    background: linear-gradient(223.96deg, #5D89E5 0%, #3059C0 100%);
    color: #FFF;
    transition: margin 0.5s ease-in;

    &.dismiss {
      margin-top: -62px; // height of banner
    }

    > div {
      display: table-cell;
      vertical-align: middle;

      &.banner-icon {
        width: 1%;
        padding: 0 16px;
        font-size: 24px;
        text-align: center;
        background-color: $primary-color;
      }

      .rzp-banner {
        background-color: transparent;
        border: none;
        margin-bottom: 0;
        color: inherit;

        .rzp-banner-cta button.btn {
          background-color: #FFF;
          color: $primary-color;
          border: none;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);

          &:hover {
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.24);
          }
        }
      }

      &.banner-close {
        width: 1px;
        padding-right: 16px;
        font-size: 12px;

        > a {
          color: #FFF;
          opacity: 0.8;
          font-size: 20px;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .diwali-promotion-banner {
    .banner-content {
      text-align: center;

      .btn-link a {
        color: #FFF;
      }

      .badge {
        border-radius: 2px;
        padding: 7px;
        background-color: rgb(86, 129, 228);
      }
    }
  }

  > .rzp-sticky {
    &.sticky > .sticky-content {
      position: fixed;
    }

    > .sticky-content {
      z-index: 2;
      position: relative;
    }
  }

  .header {
    background-color: $background-color;
    padding: 16px 24px;

    .rzp-group {
      margin-top: 10px;

      > .rzp-group-item {
        border-width: 0;
        padding-top: 0;
        padding-bottom: 0;

        .balance-amount {
          font-weight: bold;
          letter-spacing: 0.5px;
        }

        &:last-child {
          border-left-width: 1px;
        }
      }
    }

    .ondemand-enabled {
      .rzp-group {
        margin-top: 0;
      }

      .rzp-currency,
      .rzp-whole,
      .rzp-paise {
        font-weight: bold;
      }
    }
  }

  .section-title {
    font-size: 18px;
    padding-top: 40px;
    padding-bottom: 16px;
    margin-bottom: 0;

    &.keymetrics-title {
      padding-top: 0;
    }

    &.payment-insights-title {
      i.i {
        color: $faded-text-color;

        &:hover {
          color: $primary-color;
        }
      }

      .popover-highlight {
        color: $text-color;
      }
    }
  }

  .secondary-announcement-banner {
    padding: 20px;

    .Announcement_Banner {
      padding: 12px 24px;
      height: auto;
    }
  }

  .extra-content {
    padding-top: 10px;

    &.has-ob-banner {
      .secondary-announcement-banner {
        padding-top: 0;
      }
    }

    &.has-ob-banner,
    &.has-secondary-banner {
      .announcement-banner-container {
        padding-bottom: 0;
      }
    }
  }

  .home-analytics-mobile {
    .extra-content {
      .section-title {
        margin-left: 16px;
      }

      .panel.card {
        margin-bottom: 0;
      }

      padding-bottom: 24px;
    }

    .section-title {
      padding-top: 24px;
    }

    .header,
    .card {
      padding: 16px;
    }

    div.panel {
      div.panel-topbar {
        div.grouping-dropdown {
          width: 100%;
          margin: 0 auto;
        }
      }

      div.panel-body {
        display: table;
        width: 100%;
      }

      &.recent-activity-cont {
        padding-top: 56px;
        padding-left: 0;
        padding-right: 0;

        div.panel-body {
          height: 260px;
        }
      }
    }

    @media (max-width 424px) {
      .date-range-container {
        .icon-container {
          padding-right: 9px;
        }

        .presets-container {
          display: none;
        }
        // Needed to add this custom css as presets-container is intentionally hidden for m-web
        .daterange-container {
          margin-top 0
          clear none
        }
      }
    }
  }

  .Modal-container--welcome-modal {
    width: 90%;
    max-width: 900px;
    background-image: url("https://cdn.razorpay.com/static/assets/onboarding/welcome-illustration.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;

    .welcome-modal-content {
      padding: 50px 50% 56px 56px;
      position: relative;

      .welcome-title {
        margin: 0;
        font-size: 24px;
        font-weight: 600;

        @media (max-width 767px) {
          text-align left
          font-size 22px;
        }

        &.welcome-subtitle {
          margin-top: 8px;
        }
      }

      .welcome-content {
        @media (max-width 767px) {
          text-align left
        }
      }

      p:nth-of-type(1),
      .welcome-modal-actions {
        margin-top: 40px;
      }

      .welcome-modal-actions .btn-link {
        margin-left: 28px;

        @media (max-width 604px) {
          margin-left: 10px;
        }
      }

      .welcome-modal-actions .shift-right {
        margin-left: 0;

        @media (max-width 604px) {
          margin-left: 0;
        }
      }

      .prd-title {
        max-width: 90%;
        color: #515978;
        line-height: 28px;
        padding-top: 5px;

        @media (max-width 375px) {
          max-width: 100%;
        }
      }

      .product-desc {
        margin-top: 24px !important;
        color: #4A4A4A;
        max-width: 82%;

        @media (max-width 375px) {
          max-width: 100%;
        }
      }

      .slideshow_wrapper {
        overflow: hidden;
        width: 470px;
        margin-top: 40px;

        .product-recommendation {
          position: relative;
          height: 50px;
          display: flex;
          width: 1900px;
          animation: 6s autoplay2 infinite ease-in-out;

          @media (max-width 767px) {
            height 76px
          }

          @keyframes autoplay2 {
            0%,
            17% {
              right: 0%;
            }

            27%,
            45% {
              right: 100%;
            }

            55%,
            73% {
              right: 200%;
            }

            83%,
            100% {
              right: 300%;
            }
          }

          .payment-product {
            display: flex;
            overflow: hidden;
            width: 470px;

            .prd-icon {
              height: 40px;
              width: 40px;
            }

            .active-product {
              margin-left: 12px;
              width 280px

              @media (max-width 399px) {
                width: 51%;
              }

              @media (max-width 359px) {
                width 47%
              }

              text-align: left;

              .title {
                color: #102562;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
              }

              .subtitle {
                color: #7C8297;
                line-height: 24px;
              }
            }
          }
        }
      }

      @media (max-width 812px) {
        background-color: rgba(255, 255, 255, 0.8);
        padding-right: 30%;
      }

      @media (max-width 580px) {
        padding: 40px !important;
      }

      @media (max-width 425px) {
        padding: 20px !important;
      }
    }

    @media (max-width 424px) {
      background-image: none;

      .welcome-modal-content {
        text-align: center;

        .welcome-modal-actions span.btn-link {
          display: block;
          margin-top: 16px;
          margin-left: 0;
        }
      }
    }

    .Modal-close {
      color: #FFF;

      @media (max-width 812px) {
        color: currentColor;
      }
    }
  }

  .Modal-container--welcome-modal.Modal-container--festive {
    background-image: url("assets/festive-welcome-illustration.png");
    background-size: auto 85%;

    .welcome-modal-content .welcome-title {
      background: linear-gradient(to right, #4E53D2, #BA69E8 68%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .welcome-para {
      color: rgba(22, 47, 86, 0.54);
    }

    .gold-highlight {
      color: rgb(195, 133, 51);
    }
  }
}

.support-modal-content
  padding 25px

  .merchant-heading
    font-size 18px
    font-weight 600

  .otp-section-subtitle
    font-size 14px
    font-weight 600
    margin-top 20px

  .support-modal-otp-section
    margin-bottom 15px

    .otp-section-message
      margin 15px 0

    .resend-link
      margin-top: 8px

  .merchant-subtitle
    margin 15px 0 10px
    line-height 18px

  .merchant-label
    margin-top 1.5rem

  .merchant-note
    display block
    margin 24px 0 6px

  .merchant-btn
    margin-top 24px

  @media (max-width 580px)
    padding 30px !important

  @media (max-width 425px)
    padding 20px !important

.e-self-serve
  padding 25px

  .e-self-serve-heading
    font-size 18px
    font-weight 600
    margin-bottom 20px

  .image-container
    text-align center
    margin 15px 0

  .otp-section
    margin-bottom 15px

    .otp-section-message
      margin 15px 0

    .resend-link
      margin-top 8px

  .subtitle-msg
    line-height 20px

  .verification-msg
    margin 8px 0

  .dialogue-container
    padding 12px
    background #FCF8E5
    border 1px solid rgba(22, 47, 86, 0.1)
    border-radius 2px
    margin-bottom 16px

  .dialogue-msg
    font-size 12px

  @media (max-width 580px)
    padding 30px !important

  @media (max-width 425px)
    padding 20px !important

.set-contact-email
  font-size 12px

  .current-email-msg
    color rgba(22, 47, 86, 0.38);

.new-owner-email
  margin 10px 0 0 10px

.new-owner-role
  color rgba(22, 47, 86, 0.38)
  font-size 12px
  margin-left 10px
  text-transform capitalize

.btn-support {
  padding: 5px 25px;
  background: #FFF;
  border: 1px solid #528FF0;
  margin-right: 10px;
}

.support-tagline {
  font-size: 16px;
  margin-top: 5px;
  display: inline-block;
}

.dashboard {
  padding: 24px;
  background-color: transparent;

  @media (max-width $screen-md-min) {
    padding: 16px;
  }

  .panel.dasboard-home-panel {
    margin-bottom: 0;

    &.no-legends {
      .panel-body {
        height: 272px;
      }
    }
  }

  .grouping-dropdown {
    width: 230px;
  }

  div.traffic-activity-row {
    display: block;

    & > div {
      width: 50%;
      display: block;
      position: relative;
      float: left;

      &.activity-container > p.content-title {
        left: 12px;
      }

      p.content-title {
        margin-bottom: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }

      div.content {
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 80px;

        div.panel {
          height: 360px; // aligns with 5 items in recent activity

          div.panel-body {
            min-height: auto;
          }
        }
      }

      &.traffic-container {
        padding-right: 12px;
      }

      &.activity-container {
        padding-left: 12px;

        div.panel {
          overflow: hidden;
        }
      }

      div.panel {
        margin-bottom: 0;
      }
    }

    &.traffic-hidden {
      > div {
        traffic-responsive();
      }
    }

    @media (max-width 1185px) {
      > div {
        traffic-responsive();
      }
    }
  }
}

.react-normal-select {
  display: table;
  border: none;
  background-color: transparent;
  border-radius: none;

  .PowerSelect__Trigger {
    // excluding 1px border
    height: $actionItemsHeight - 2px;

    .PowerSelect__TriggerLabel {
      padding-left: 10px;
    }

    .PowerSelect__TriggerStatus {
      padding-right: 10px;
    }

    .PowerSelect__Clear {
      display: none;
    }

    .PowerSelect__TriggerLabel {
      // excluding 1px border
      height: $actionItemsHeight - 2px;
    }
  }
}

body.analytics-v2-active {
  .tether-element {
    &:not(.ps-in-modal__Tether),
    &:not(.PowerSelect__Tether) {
      z-index: 2;
    }

    .react-normal-select__Menu {
      .PowerSelect__Options {
        .PowerSelect__Option {
          padding: 0 10px;

          &:hover {
            background-color: #FAFBFC;
          }

          > span {
            line-height: $actionItemsHeight;
          }

          &.PowerSelect__Option--highlighted {
            background-color: #9EB1C7;
            color: #FFF;
          }
        }
      }
    }
  }
}

.tour-active #_hj_poll_container {
  display: none;
}

.primary {
  color: #528FF0;
}

.m-0 {
  .Button--transparent {
    margin: 0;
  }
}

.fampay-fundraise-banner {
  .title {
    background-image url("assets/fampay-fund-raise.png")
    background-size 100% 100%

    &::before,
    &::after {
      display none
    }

    .title-content {
      background-image none !important
    }
  }
}

.gst-mismatch-banner-link {
  display inline-block
}

.date-range-tooltip-container {
  display flex
  gap 10px
  align-items center
}
