placeholder () {

  background: #bbc1d3;
  background: linear-gradient(to right, #bbc1d3 0%, #252939 10%,  20%);
}

.keymetrics-container.loading {

  pointer-events: none;
}

.keymetrics {

  .grouping-dropdown {

    width: 200px;
  }

  > .nav.nav-tabs {

    li {

      padding-bottom: 0;
      display: inline-block;
      font-size: 14px;
      line-height: 1.43em;

      &.active > a , &:hover > a {

        background-color: transparent;
        border: none;
      }

      &.active > a > div {

        position: relative;
        border: 1px solid $primary-color;

        .PlaceholderLoader {

          placeholder;
        }

        &:after {

          content: " ";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -10px;
          display: block;
          border-width: 10px;
          border-color: transparent;
          border-bottom-width: 0;
          border-top-color: $primary-color;
          border-style: solid;
        }
      }

      > a {

        border: none;
        padding: 0;
        text-align: left;
        margin: 0;
        color: inherit;

        @media (min-width: 1020px) and (max-width: 1030px) {
          div.card > span {
            letter-spacing: -0.2px;
          }
        }

        small.help-content {

          display: inline-block;
          margin-left: 4px;
          vertical-align: text-bottom;
          color: $faded-text-color;

          &:hover {

            color: $primary-color;
          }
        }


        &:hover {

          padding-left: 0;

          > div {

            border: 1px solid $primary-color;
          }
        }

        > div {

          padding: 16px 16px 8px;
          border: 1px solid #ffffff;
          background-color: #ffffff;

          > h1 {

            margin-top: 0;
            margin-bottom: 8px;
            font-size: 32px;
            line-height: 40px;

            > .PlaceholderLoader {

              width: 20%;
            }
          }

          > div.mini-chart {

            width: 100%;
            height: 40px;
            background-color: transparent;
            transition: 0.1s margin 0.05s ease-out;

            &.loading {

              .min-chart-content , &.active .min-chart-content {

                opacity: 0;
              }
            }

            &.active {

              margin-bottom: 4px;
              transition: margin 0.1s ease-out;

              .min-chart-content {

                opacity: 1;
              }
            }

            &.no-data {

              .min-chart-content {

                border-bottom: 1px solid $faded-text-color;
              }

              &.active {

                .min-chart-content {
                  border-bottom-color: $primary-color;
                }
              }
            }

            .min-chart-content {

              width: 100%;
              height: 100%;
              opacity: 0.6;
            }
          }
        }

        .PlaceholderLoader {

          height: 1em;
        }
      }
    }
  }

  div.panel {

    &.has-error {

      div.panel-body div.panel-body-content {

        display: none;
      }
    }

    div.panel-topbar {

      div.filtering-dropdown {

        display: table;
        width: auto;
      }
    }

    div.panel-body {

      display: table;
      width: 100%;

      div.panel-body-content {

        display: table-cell;
        vertical-align: bottom;

        .PlaceholderLoader {

          placeholder;
        }
      }
    }
  }

  div.panel-topbar {

    .trend-loading {

      span.rzp-change:before {

        display: none;
      }
    }

    span.rzp-change {

      span.text {

        display: inline-block;
        height: 1em;
        width: 12em;
        line-height: 1em;
        vertical-align: middle;
      }

      .PlaceholderLoader {

        width: 100%;
        height: 1em;
      }
    }

    .rzp-definition  {

      .PlaceholderLoader {

        width: 150%;
      }
    }
  }

  div.panel-actions .panel-action-item {

    &.btn-group.time-breakdown button.btn[disabled] {

      position: relative;
      opacity: 1;
      border-color: rgba(207, 218, 221, 0.45);
      color: rgba(88, 102, 110, 0.45);

      &:hover {

        .rzp-tooltip {

          opacity: 1;
          position: absolute;
          top: 0;
          left: 0;
          margin-top: -40px;
          white-space: nowrap;
        }
      }
    }

    &.time-breakdown-select {

      display: none;

      .rzp-group-item.time-breakdown {
     
        padding: 0;
      }
    }

    @media (max-width: 1130px) {

      &.btn-group.time-breakdown {

        display: none;
      }

      &.time-breakdown-select {

        display: inline-block;
      }
    }
  }

  div.chart-container {

    height: 248px;
    position: relative;
  }

  .rzp-legend {

    padding-top: 8px;
  } 

  &.keymetrics--mobile {

    .card {

      margin-bottom: 12px;
      background-color: white;

      &.no-trend {

        > div:last-child > div {

          margin-top: 26px;
          margin-bottom: 0;
        }
      }

      > div > div:first-child{

        margin-bottom: 6px;
      }

      &:last-child {

        margin-bottom: 0;
      }
    }
  }
}

#chartjs-tooltip {

  position: fixed;
  width: 256px;
  z-index: 999;
  padding-bottom: 10px;
  transition: left 0.25s ease, top 0.25s ease;
  margin-left: -128px;

  &.no-grouping {

    .custom-tooltip-inner .tooltip-title {

      margin: 0;
      padding: 0;
      border: none;
    }
  }

  .custom-tooltip-inner {

    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.92);
    box-shadow: 0 8px 30px rgba(0,0,0,0.13);
    padding: 14px;
    border-radius: 2px;

    .sec-text {

      color: #8991AE;
    }

    .tooltip-title {

      line-height: 20px;
      margin-bottom: 12px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      padding-bottom: 8px;
      position: relative;

      .tooltip-amount {

        font-weight: 600;
      }

      .tooltip-date {

        font-size: 12px;
        line-height: 1.5;
      }

      .ex-link {

        position: absolute;
        top: 0;
        right: 0;
        color: $primary-color;

        > svg {

          display: block;
          width: 13px;
          height: 13px;

          > path {

            fill: currentColor;
          }
        }
      }
    }

    .tooltip-body {
      text-align: left;
      font-size: 12px;

      .tooltip-row {

        margin-top: 10px;

        &:first-child {

          margin-top: 0;
        }
      }

      .label-icon {

        display: block;
        width: 1em;
        height: 1em;
        float: left;
      }

      .label {

        margin-left: 10px;
        display: block;
        padding: 0;
        font-size: 100%;
        float: left;
        line-height: 1;
        font-weight: normal;
      }

      .label-value {

        float: right;
        line-height: 1;
      }
    }

    .caret {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;

      border-top: 10px solid #FFF;
      position: absolute;
      left: 50%;
      top: 100%;
      z-index: 2;
    }

    .cross-hair {

      width: 2px;
      position: absolute;
      left: 50%;
      top: 100%;
      margin-left: -1px;
      background-color: rgba(255, 255, 255, 0.2);
      z-index: 1;
    }
  }
}
