.dashboard .panel.payment-methods-container {

  .more-options-button .dropdown-menu {

    width: 180px;
  }

  ol.rzp-breadcrumb {

    margin-bottom: 0;

    li+li:before {

      content: "\f10d";
      font-family: merchant-icons !important;
    }
  }

  .rzp-tooltip {

    .rzp-tooltip-inner {

      font-size: 12px;
      line-height: 15px;
      overflow: hidden;

      .payment-amount {

        font-size: 14px;
        line-height: 16px;
        margin-bottom: 8px;

        small {

          font-size: 12px;
          vertical-align: bottom;
        }
      }

      .tooltip-footer {

        background-color: #E9E9E9;
        color: #A9A9A9;
        padding: 4px 10px;
        margin: 15px -10px -5px -10px;

        i.i {

          display: inline-block;
          font-size: 10px;
          vertical-align: middle;
          margin-right: 6px;
        }
      }
    }
  }
}

.ir-help{
  color: #9fb1c7;
  padding-left: 5px
}

.instant-refund-disable{
  opacity 0.5
}

.low-funds{
	height: 36px;
	width: 279px;
	color: #99A6AD;
	font-family: Lato;
	font-size: 12px;
	line-height: 18px;
  margin-top: -10px
}

.low-funds > a{
  padding-left: 5px  
}

.refund-entity-update{
  display: flex;
  flex-direction: column;
}

.refund-update{
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-between;
}

.refund-strike-text {
	color: #BDC6C8;
  text-decoration: line-through;
}


.update-description{
	color: #7C8299;
	font-family: Lato;
	font-size: 12px;
	line-height: 18px;
}
