.dashboard .panel.payment-methods-container {

  .more-options-button .dropdown-menu {

    width: 180px;
  }

  ol.rzp-breadcrumb {

    margin-bottom: 0;

    li+li:before {

      content: "\f10c";
      font-family: merchant-icons !important;
    }  
  }
}
