$gutter = 21px;

.recent-activity-cont {
  padding: 0;
  border: none;

  .table-activity.table {
    margin-bottom: 0;

    td {
      padding: 17px 8px;

      &:first-child {
        padding-left: $gutter;
      }

      &:last-child {
        padding-right: $gutter;
      }

      &:nth-child(3), &:nth-child(4) {
        text-align: right;
      }
    }
  }
}
