.payment-methods-container {

  .title {
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      margin-top: 6px;
      margin-bottom: 6px;
  }
  text {
    pointer-events: none;
  }

  .grandparent text {
    font-weight: 600;
  }

  rect {
    fill: none;
    stroke: #fff;
  }

  rect.parent,
  .grandparent rect {
    stroke-width: 2px;
  }

  rect.parent {
      pointer-events: none;
  }

  .grandparent rect {
    fill: orange;
  }

  .grandparent:hover rect {
    fill: #ee9700;
  }

  .children rect.parent,
  .grandparent rect {
    cursor: pointer;
  }

  .children rect.parent {
    fill: #000000;
    fill-opacity: 0;
  }

  .children rect.child {

    stroke-opacity: 0.1;
  }

  .children:hover rect.child {
    fill: #bbb;
  }

  .rzp-tooltip {

    small {

      font-size: 12px;
      color: #6F758A;
    }
  }
}
