.Input.select-platform-dropdown
  width: 320px
  margin: 0 0 8px

.Input.provider-dropdown
  margin: 0
  width: 320px

.selection-container
  padding: 40px 16px 24px

  label 
    width: 16%
    margin-bottom: 8px
  
.platform-input-container

  .Input-elWrapper.Select-elWrapper::before
    margin-top: 20px
    border-top: 6px dashed
    border-right: 6px solid transparent
    border-left: 6px solid transparent
    color: #8B9498
    right: 12px

  .Input-el
    height: 44px


.woocommerce-shipping-container

  .c-fee-configuration .serviceability-setting-label
    min-width: 25%
    font-weight: normal

    .slabs-input-container
      .Input-addons--before
        padding-top: 4px
    
    .slabs-charge
      .slabs-close
        margin-top: 8px

.woocommerce-coupons-container, .woocommerce-shipping-container
  padding: 22px 0
  .wooc-url-label
    width: 25%
    font-weight: normal
    color: #162f56bd
  
  .woo-url-wrapper
    margin-bottom: 24px

    .Input
      margin: 0
      width: 375px
      opacity: 1

.shopify-container, .woocommerce-container
  padding: 0 16px 24px
  
  .Input
    display: flex
    margin: 0

    .Input-addons
      top: 4px
    
    .Input-label
      width: 16%
    
    .Input-content
      width: 320px
      
      .Input-addons--after
        width: auto
        background-color: transparent
        right: 8px

.shopify-container
  label
    width: 16%

.edit-settings-cta-container
  padding: 14px 28px
  background: #FAFAFA

.Form.Form--magic-settings 
  .Input-label
    text-align: left

  .slabs-container
    margin-left: 16px

  .c-fee-configuration
    .Input-content
      margin-left: 0

  .serviceability-setting-label
    text-align: right
  
  .Magic-Settings--Input.Input--disabled
    opacity: 1
    .Input-el
      background: #F7F8F8

  .Magic-Settings--Input.Input
    display: flex
    .Input-content
      flex: 1
      margin-left: 16px
    .Input-label
      width: 30%
      text-align: right
      label
        font-weight: bold

  .Input--Shopify.Input.is-mature:not(.is-focused).is-invalid 
      .Input-addons
        background-color: transparent
  .Input--Shopify.Input
      .Input-addons--after 
        right: 8px
      .Input-addons
        width: auto
        background-color: transparent
  .Input--Shopify.Input.is-focused
      .Input-addons
        background-color: transparent

.magic-settings-container
  padding-bottom: 44px

.switch-platform-modal--heading
  color: #262D3A;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;

.border-bottom-light 
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)

.platform-settings-card-wrapper
  padding: 30px 16px 60px
  .platform-settings-card
    max-width: 500px
    border: 1px solid #e0e8f4
    border-radius: 4px
    
    .settings-fee-details
      padding-top: 2px

    .platform-settings-card-info
      justify-content: space-between

    .platform-settings-edit
      color: #2B83EA
      
      .platform-settings-edit-icon
        margin-left: 8px
        margin-right: 8px

.platform-settings-card--header
  background: #F8FBFF
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
  padding: 24px 18px

  .inline-flex
    display: inline-flex
    align-items: center
    gap: 8px

  .platform-heading 
    color: #58666E
    font-size: 14px
    font-weight: 800
    line-height: 18px

.platform-settings-card--body
  .setting-label
    color: #5A6870
    font-size: 14px
    font-weight: 500
    line-height: 16px

  .setting-value
    color: #000000
    font-size: 14px
    font-weight: 600
    line-height: 20px

.border-bottom-light 
  border-bottom: 1px solid #0000001a

.native-shipping-tab-selector
  label
    width: 30%
    margin: 0
