`
var cdnUrl = _.htmlWebpackPlugin.options.vars.cdnUrl;
var filename = _.htmlWebpackPlugin.options.vars.filename;
`

@include('partials/header')

@unless ($isConfirmed and $isPreSignupComplete)
  <link rel='stylesheet' href="`=cdnUrl`/style.css" type='text/css' />
@endunless
<link rel='stylesheet' href="`=cdnUrl`/merchant.css" type='text/css' />

<script src="`=cdnUrl`/`=filename(_, 'vendor')`" defer></script>
<script src="`=cdnUrl`/merchant/`=filename(_, 'libs')`" defer></script>
<script src="`=cdnUrl`/merchant/`=filename(_, 'merchant')`" defer></script>

</head>
<body>
  <div id="react-root" class="react-root"></div>
  `=_.htmlWebpackPlugin.files.webpackManifest`
</body>
</html>

@if ($isConfirmed and $isPreSignupComplete)
  <script type="text/javascript">
    window.rzp_user = {!! $user !!};
    window.rzp_org = {!! $org !!};
  </script>

@else

  <script src="`=cdnUrl`/signup.js"></script>

@endif

@include('partials/footer')
