<?php include('../partials/head.html');?>

<?php include('../partials/common.html');?>

  <!-- Merchant Js-->
  <script src="{{asset('js/generated/merchant.js')}}"></script>

<?php include('../partials/footer.html'); ?>