.ProductCard
  position: relative
  display: table
  margin: 32px 0

  .ProductCard-img
    width: 40px
    margin-right: 16px

  .ProductCard-details, .ProductCard-img
    display: table-cell
    vertical-align: top

  .title
    margin: 0
    font-size: 16px
    font-weight: 600
    margin-bottom: 8px

  .ProductCard-actionBtns
    margin-top: 20px

    .Button
      padding: 10px 11px
