@import './_/_.styl'
@import './modules/*.styl'


form
  .btn--pill
    font-size: 12px

    .i
      margin-left: -4px
      line-height: 32px
      font-size: 20px
      color: $highlight-color
      font-weight: 700


  .variants-list
    .Input-elWrapper
      width: 260px
      margin: 8px 0

    .Input-el.Input-el
      width: 98%

.RazorX-container.RazorX-container
  .pagination
    margin: 12px 0
    > div
      font-size: 12px
      padding: 2px 8px

  @import '../ui/admin/requests'

  .requests-container
    background: #fcfcfc
    color: inherit

    .header
      position: absolute
      left: 0
      right: 0

      .link
        font-size: 20px
        margin: 0 0 0 8px

    .box-container
      height: calc(100vh - 62px)
      display: flex
      flex-wrap: wrap
      align-content: flex-start

    .requests-content
      height: 100%
      display: flex
      width: unset
      vertical-align: unset
      margin: 0 28px 24px
      padding: 62px 0 0 0
      flex: 1
      align-self: stretch
      overflow-y: auto

      .box
        background: #fff
        box-shadow: 1px 2px 8px rgba(0,0,0,0.11)
        margin: 0 0 32px 0

    aside.requests-actions
      display: unset
      width: 24%
      padding: 0 28px
      margin-top: 0

      .container
        display: flex
        flex-direction: column

      .btn
        width: 172px
        box-shadow: 0 0 12px rgba(0,0,0,0.08)
        transition: 0.08s linear
        align-self: center

        i
          margin-top: -4px

        &:hover
          background: #f8f8f8
          box-shadow: 0 0 12px rgba(0,0,0,0.08)
          border: 1px solid rgba(0,0,0,0.1)
          transform: scale(1.03);

      .header
        display: inline-block
        position: unset

  .heading
    padding: 12px
    margin-bottom: -1px
    background: rgba(0,0,0,0.03)
    border: none
    border-bottom: 1px solid rgba(0,0,0,0.02)

  header.heading
    padding: 0 36px
    height: 62px
    align-items: center
    display: flex
    position: relative
    z-index: 2
    font-weight: 500
    color: rgba(70,59,61,0.24)
    font-size: 22px
    background: transparent
    border: none

    .link
      margin: 0 0 0 8px

.full-width
  max-width: 100% !important

span.cross {
  color: grey;
  cursor: pointer;
  border-radius: 100%;
  width: 22px;
  text-align: center;
}

span.cross-right {
  margin-left: auto;
  margin-right: 2px;
  font-size: 30px;
}

span.cross:after {
  content: '\d7';
}

span.cross&:hover {
  color: black;
}
