@import './_/_.styl'
@import './modules/*.styl'


form
  .btn--pill
    font-size: 12px

    .i
      margin-left: -4px
      line-height: 32px
      font-size: 20px
      color: $highlight-color
      font-weight: 700


  .variants-list
    .Input-elWrapper
      width: 260px
      margin: 8px 0

    .Input-el.Input-el
      width: 98%
