$panel-border = 1px solid #E0E8F4

.rto-cause-modal
  .modal-title
    span
      text-transform: capitalize

  .modal-body
    min-width: 260px

    .Modal__actions
      padding-top: 16px
      display: flex
      justify-content: flex-end

      .Button--transparent
        color: #262D3A
        opacity: 0.8
        margin-right: 12px

      .btn-primary
        width: 141px
        margin: 0

.rto-magic-container
  width: 100%
  min-height: 400px
  position: relative
  background-color: #FFF

  .rto-magic-sidebar
    position: absolute
    left: 0
    top: 0
    background-color: #FAFBFD
    border: $panel-border
    width: 160px
    height: 100%
    border-top-width: 0
    border-bottom-width: 0
    padding-top: 10px

    .rto-nav
      background-color: transparent
      border-left: 4px solid transparent
      padding: 0 15px
      line-height: 40px
      cursor: pointer
      margin-bottom: 4px

      &.active
        background-color: #E9F1FA
        border-color: #1583F1

  .tab-content
    margin-left: 160px
    padding: 15px
    width: 100%

    .fixed-header
      display: flex
      align-items: center
      justify-content: space-between
      margin-bottom: 20px
      padding: 8px 12px
      padding-right: 22px
      background: #FFF
      border: $panel-border
      border-radius: 2px
      position: sticky
      top: 68px
      z-index: 3
      box-shadow: 0 0 0 #3F3F44, 0 1px 3px #3F3F4426

      .cumulative
        display: flex
        flex-wrap: wrap
        flex: 2
        padding-left: 8px

        .vertical-partition
          margin: 0 30px
          opacity: 0.5

        .arrow
          border: solid #99B3D9
          border-width: 0 1px 1px 0
          display: block
          padding: 3px

        .right
          position: relative
          left: -3px
          transform: rotate(-45deg)

        .vup,
        .vdown
          border: solid #99B3D9
          border-width: 0 0 0 1px
          display: block
          height: 25px

        .order-count
          line-height: 28px

        .title
          padding-left: 8px

        .total-color
          border: 2px solid #6886B7
          border-radius: 1.5px
          background-color: #6886B7

        .risky-color
          border: 2px solid #B73635
          border-radius: 1.5px
          background-color: #B73635

        .safe-color
          border: 2px solid #7EB471
          border-radius: 1.5px
          background-color: #7EB471

        .number
          font-size: 18px
          font-weight: 600
          display: flex
          justify-content: flex-end

      .manual-review-cumulative
        .vertical-partition
          margin: 0 20px

        .medium-risk-color
          border: 2px solid #EC9A37
          border-radius: 1.5px
          background-color: #EC9A37

  @media (max-width 960px)
    .rto-magic-sidebar
      width: 130px

    .tab-content
      margin-left: 130px

  @media (max-width 820px)
    .rto-magic-sidebar
      width: 90px

      .rto-nav
        padding: 4px 8px
        line-height: 20px

    .tab-content
      margin-left: 90px

  @media (max-width 820px)
    .rto-magic-sidebar
      width: 80px

      .rto-nav
        padding: 4px
        line-height: 20px

    .tab-content
      margin-left: 80px

  .widget-row
    display: flex
    justify-content: space-between
    gap: 0 16px

    .panel
      flex: 1

  .overview-container,
  .orderInsight-container,
  .risk-report-container
    .row
      display: flex
      margin-bottom: 20px

    .risky-orders > .panel-topbar,
    .order-split > .panel-topbar,
    .cost-saved > .panel-topbar
      display: flex
      justify-content: space-between

    .manual-review-order-split > .panel-topbar
      display: flex
      flex-direction: column

      .panel-info
        display: inline-block

      .manual-review-order-split-nudging-message
        margin: 10px 0
        background: #FFFBE8
        border-left: 3px solid #CD8214
        font-size: 14px
        font-weight: 400
        padding: 12px

        .magic-link
          font-weight: 600
          text-decoration: underline

    .manual-review-order-split > .panel-body
      padding: 0

    #rto-rate-footer
      display: flex
      justify-content: space-between

      .reimbursement-callout
        display: flex
        justify-content: flex-end

        .i-info-circle
          position: relative
          top: 17px
          margin-right: 4px

    .panel.dasboard-home-panel
      padding: 22px 22px 58px

      .panel-topbar > .panel-heading-subtext,
      .panel-topbar > .panel-info > .panel-heading-subtext
        font-size: 12px
        font-weight: 400
        color: #58666E
        padding-top: 2px

    .costSaved-container > .panel.dasboard-home-panel.analytics-panel.cost-saved
      padding: 0 0 58px

    .costSaved-container.col-md-9 > .panel.dasboard-home-panel.analytics-panel.cost-saved
      padding: 0 0 28px

    .panel.dasboard-home-panel.analytics-panel.cod-rate
      margin-left: 20px
      margin-bottom: 0

      .rzp-overlay
        min-height: 292px

    .panel.dasboard-home-panel.analytics-panel.rto-rate
      .pull-right
        display: flex

      .rto-rate-input
        margin: 0
        z-index: 2

        .Input-elWrapper::before
          margin-top: 18px
          right: 16px

        .Input-el
          width: 136px
          height: 40px

      .rto-rate-nudging-message
        margin-top: 10px
        background: #FFFBE8
        border-left: 3px solid #CD8214
        font-size: 14px
        padding: 12px
        font-weight: 400

        .magic-link
          font-weight: 600
          text-decoration: underline

  .feedbackRate-container
    padding: 0
    max-width: 276px
    min-width: 276px

  .rto-cause
    .panel-body#rto-cause-body
      padding-top: 8px
      min-height: 280px

      .rzp-overlay
        padding: 0 52px

    .paginate
      margin-top: 16px
      display: flex
      gap: 16px

      button
        span
          font-size: 14px
          color: #262D3A

        i
          position: relative
          top: 1px

      .btn .i + span
        margin-left: 0

  .costSaved-container.col-md-9
    padding: 0
    margin-left: 20px

    #cost-saved-body > .rzp-overlay
      min-height: 344px

  .costSaved-graph-container
    position: relative
    height: 270px

  .cost-saved
    .panel-footer#cost-saved-footer
      display: flex
      justify-content: space-between

  .costSaved-container
    .cost-saved
      height: 100%

      .panel-topbar
        padding: 22px 24px 0

      .panel-body#cost-saved-body
        height: 100%
        padding-top: 10px

        .shipping-charge-container
          padding: 3px 24px
          background-color: #F3F5F9CC

        .shipping-charge-container > .Input--small
          padding: 5px 0
          display: flex
          margin: 0

        .shipping-charge-container > .Input--small > .Input-label
          top: 4px
          font-size: 13px
          font-weight: 500
          color: #262D3A

        .shipping-charge-container > .Input--small > .Input-content
          margin-left: 15px

        .shipping-charge-container > .Input--small > .Input-content > .Input-elWrapper
          width: 88px

        .shipping-charge-container > .Input--small > .Input-content > .Input-elWrapper > .Input-el
          height: 28px

        .shipping-charge-container > .Input--small > .Input-content > .Input-elWrapper > .Input-addons
          line-height: 28px

        .rzp-overlay
          max-height: 272px

  .panel.dasboard-home-panel.feedbackRate-panel
    &.panel
      border: $panel-border
      border-radius: 2px
      padding: 0
      height: 100%

    .panel-topbar
      font-size: 16px
      font-weight: 600
      padding: 22px 22px 0

    .panel-body
      padding: 0

      .chart-container
        height: 300px
        padding-bottom: 64px
        display: flex
        align-items: center
        justify-content: center

      .feedbackRate-panel-info
        font-size: 13px
        font-weight: 400
        line-height: 20px
        color: #676C75
        padding-bottom: 48px

    .panel-footer
      color: #262D3A
      line-height: 0
      padding: 12px 22px
      display: flex
      align-items: center

      .i-warning
        margin-right: 6px

      .partial-status
        color: #F1722B

      .empty-status
        color: #F12B2B

      .custom-success-tick
        background-color: #37C634
        width: 16px
        height: 16px
        position: relative
        top: -7px
        margin-right: 4px
        display: inline-block
        border-radius: 50%

        .i-tick
          color: #FFF
          position: relative
          top: 4px
          font-size: 8px
          left: 3px

      .feedback-footer-info
        font-size: 13px
        font-weight: 400
        line-height: 20px

        .feedbackRate-links
          text-decoration: underline
          font-weight: 600

    .feedbackRate-complete-info
      background-color: #FAFFF9
      height: 40px

    .feedbackRate-empty-info
      background-color: #FFF5F5
      height: auto

    .feedbackRate-partial-info
      background-color: #FFF9F1
      height: auto

    .feedbackRate-footer
      background-color: #FBFCFD
      color: #8991AE
      line-height: 1.5
      height: 40px

      .i-clock
        margin-right: 4px

  .flagged-reasons
    .expand-toggle
      margin-top: 20px
      font-size: 12px
      display: flex
      justify-content: center

      .clickable
        cursor: pointer
        font-weight: 600

        i
          vertical-align: middle
          font-size: 16px
          position: relative
          top: 1px

  .panel.dasboard-home-panel.analytics-panel
    &.panel
      border: $panel-border
      border-radius: 2px

    .btn-group
      z-index: 2

    .legend
      display: flex
      font-size: 12px
      gap: 12px
      margin-top: 8px

    .item-box
      display: flex
      justify-content: space-between
      align-items: center
      padding: 8px
      border: $panel-border
      border-radius: 1px
      height: 28px
      white-space: nowrap

      .colored
        height: 100%
        width: 12px
        margin-right: 6px
        border-radius: 2px

        &.total
          background: #6886B7

        &.risky
          background: #E86250

        &.safe
          background: #7EB471

        &.rto
          background: #E86250

        &.neutral
          background: #FBBF48

    .panel-body
      height: auto
      min-height: 150px

      .rto-graph-container
        position: relative
        height: 220px
        left: -4px

      .charts-container
        display: flex
        flex-flow: row wrap
        justify-content: space-around

        .chart-container
          display: flex
          flex-direction: column
          align-items: center
          max-width: min-content

        .chart-container > span
          text-align: center

        .doughnut-chart
          position: relative
          max-width: 160px
          margin-bottom: 12px

    .panel-topbar
      font-size: 16px
      font-weight: 600

    .panel-footer
      height: 40px
      display: flex
      align-items: center
      padding: 15px 22px

      .i-clock
        margin-right: 4px

    table
      width: 100%

      tr
        border-bottom: 1px solid #EBEBEB

    tbody
      tr
        line-height: 36px

        td:last-of-type
          width: 12%
          text-align: end

        td:nth-last-child(2)
          width: 20%

    .rto-percent
      min-width: 40px
      padding-left: 10px
      padding-right: 10px
      width: 60%

    .block-btn
      padding: 4px 8px
      margin-right: 0
      width: 100%

    thead
      color: #262D3A
      opacity: 0.6
      font-size: 13px

      th
        font-weight: 500

      tr
        line-height: 40px

  .panel.dasboard-home-panel.analytics-panel.manual-review-order-split,
  .panel.dasboard-home-panel.analytics-panel.risk-level-order-split
    .panel-body
      padding-top: 10px

    .rto-graph-container
      height: 280px

  .experimentation-row-container
    margin-bottom: 20px
    min-height: 460px

    .panel.dasboard-home-panel.feedbackRate-panel > .panel-body
      .chart-container
        padding-bottom: 0
        height: 328px

  .panel.dasboard-home-panel.analytics-panel.flagged-reasons
    .reason-table-container
      padding: 16px 36px 8px

      .percent-bar-container
        display: flex
        flex-direction: row
        align-items: center

        .percent-bar
          width: 100%
          height: 8px
          background-color: #E8E8E8
          margin-right: 12px

        .colored-percent
          height: 100%

    .reason-table-container > table
      border: $panel-border
      border-radius: 2px
      width: 100%

      th
        margin-right: 20px
        font-weight: 600
        font-size: 14px

      tr
        padding: 0 20px
        display: flex
        justify-content: space-between
        align-items: center
        line-height: 36px
        padding-top: 15px
        border: none

      thead
        background: #FCFCFC
        border-bottom: $panel-border

        tr
          padding: 8px 20px

      thead > tr
        th:first-child
          width: 100%

        th:last-child
          width: 32%

      tbody
        tr
          line-height: 32px

        tr:first-child
          padding-top: 20px

        tr:last-child
          padding-bottom: 20px

        tr:nth-child(5)
          border-top: 1px solid #E0E8F4
          margin-top: 20px

      td.percent
        flex: 1

      td.reason
        flex: 3

  @media (max-width 1020px)
    .flagged-reasons
      .reason-table-container
        table > tbody > tr
          line-height: 20px
          margin: 8px 0

  @media (max-width 1050px)
    .widget-row
      flex-direction: column

  .announcement-banner-container
    padding: 0;
    margin-bottom: 20px

    .nudging-cod-intelligence-banner > .content
      display: flex
      background: #FFF
      border: none
      color: #5B666D
      align-items: center
      justify-content: space-between
      padding: 4px 15px 4px 4px
      height: 100%

      .graph-scale
        height: 14px

      .intelligence-link-cta
        border: 1px solid #0B70E7
        color: #0B70E7
        font-weight: 600
        line-height: 21px
        border-radius: 2px
        padding: 6px 10px
        margin: 0
        width: 96%

        .i-chevron-right
          font-size: 152%
          top: 3px

    .nudging-cod-intelligence-banner > .close-btn
      color: #C7C7C7
