@import 'ui/vars'
@import 'ui/_'
@import 'ui/admin/*'
@import 'icons.css';

.pricing-container .table-container
  select
    width: 100px
  input
    width: 75px

 .perms-container .table-container
    max-height: 250px
    .td
      padding: 0px 12px