@import 'ui/vars'
@import 'ui/_'
@import 'ui/admin/*'

.pricing-container .table-container
  select
    width: 100px
  input
    width: 75px

#org-logo
  text-align: center
  margin: -10px 0 15px
  padding: 10px 20px
  &:after
    display: block
    border-top: 2px solid rgba(255,255,255,0.1)
    content: ''