.delhiveryModal-container
  max-width: 770px
  .delhivery-info-container
    padding-left: 33px
    padding-right: 48px
  
  .delhivery-form-container
    padding-left: 40px
    padding-right: 33px
    .modal-header
      padding: 0
      padding-bottom: 22px

      .delhivery-form-title
        font-size: 16px
        font-weight: 700
        line-height: 22px
        color: #262D3A

.delhivery-info-container
  background-color: #0E1938
  color: #FFFFFF
  padding: 42px 48px 42px 33px

  .delhivery-modal-divider-icon
    background:#383A3C
    position: absolute
    top: 0
    left: calc(100% - 25px)
    top: 25px
    z-index: 1
    width: 50px
    height: 50px
    object-fit: contain
    border-radius: 2px
    padding: 4px

.delhivery-info-content

  .delhivery-account-header
    font-size: 14px
    font-weight: 700
    padding-bottom: 31px
  
  .pointer-container
    position: absolute
    top: -2px
    left: -10px

    .pointer-circle
      width: 18px
      height: 18px
      border-radius: 50%
      background: #167FE8

      .inner-pointer-circle
        width: 5px
        height: 5px
        border-radius:50%
        background: #FFFFFF

  .delhivery-info-highlights
    border-left: 3px solid #D5D7E2
  
  .info-heading
    position: relative
    top: -4px
    padding-bottom: 8px

  .delhivery-account-list
    list-style: none
    padding-left: 0
    padding-right: 40px

    .delhivery-account-list-item
      line-height: 22px
      font-weight: 400
      font-size: 14px
      color: #BAC1D3

      .delhivery-info-link
        color: #1583F1
        text-decoration: underline

.delhivery-form-container
  padding: 42px 33px 42px 48px

.delhivery-form-content
  .filter-item
    label
      line-height: 22px
      margin: 0
    .delhivery-api-input
      margin-top: 10px

.delhivery-form-cta
  font-weight: 700
  margin-top: 25px
  background: #1583F1
  border-radius: 2px
  display: flex
  align-items: center
  justify-content: center
  color: #FFFFFF
  height: 42px
  cursor: pointer

.delhivery-connect-cta-disabled
  background: #8AC1FA
  cursor: not-allowed

.magicIntelligence-benefits-illustration
  margin-top: 16px


.delhivery-logo
  width: 30px
  height: 30px
  border-radius: 2px
  background: #383A3C
  padding: 4px

.delhivery-api-error-input
  border: 1px solid #F04F50
  .Input-el
    border: none


.ReactModal__Overlay
  .Modal--delhivery
    transform: translateY(-120px)