.c-fee-details
  padding: 16px
  border: 1px solid #E2E3EC
  margin:0

  .rupee-icon-fees-details
    margin: 2px 2px 0 4px

  .slabs-border:last-child
    border-bottom: 0

.fee-bg
  background: #F8F9FF

.serviceability-settings-cta
  .fees-details-container:last-child
    margin-top: 16px
