.serviceability-setting-container
  padding: 36px
  background: #fff

  .serviceability-setting-input
    width: 330px

  .serviceability-setting-label
    width: 30%
    text-align: right

  .serviceability-setting-select
    width: 225px

  .shipping-services .slabs-container
    width: 300px

  .serviceability-flat-fee
    padding: 16px 20px
    width: 450px
    background: #FAFAFA
    margin-left: 16px
    margin-top: 12px

  .slabs-input-container 
    position: relative

  .serviceability-setting-header
    color: #606060

.serviceability-settings-modal-cta-container
  border-top: 1px solid #dadada
  padding: 16px 42px
  text-align: right

  .serviceability-settings-modal-cta
    background: #5D8FE9
    display: inline-block
    padding: 10px 24px
    border: 2px
    color: #fff
  
  .serviceability-settings-cta-disabled
    background: #8AC1FA
    cursor: not-allowed


.input-invalid
  border: 1px solid #DF5C56

.disable-modal
  padding: 30px

  .disable-modal-subtext
    margin-top: 16px

  .disable-modal-ctas-container
    text-align: right
    margin-top: 24px

    .disable-modal-secondary-cta
      margin-right: 30px

    .disable-modal-primary-cta
      padding: 4px 16px
      background: #1583F1

.benefits-shiprocket-container
  padding: 20px
  padding-bottom: 2px
  background: #F8F9FF

  .benefits-header
    margin-left: 30px

  .benefits-text
    margin-bottom: 12px

    img
      margin-top: 8px

.fee-container-shipping
  margin-top: 12px

.Modal h3.modal-title.font-heading
  font-size: 16px

.modal-header, .disable-modal .modal-header
  padding: 0

.c-shiprocket-serviceability .slabs-container
  margin-left: 16px