body.bob .brand-logo img {
  width: 100%;
  height: 100%;
}

.btn-primary,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary[disabled]:hover {
  background-color: {{=it.primary}};
  border-color: {{=it.primary}};
}

tabbed-container header a.active {
  border-color: {{=it.primary}};
  color: {{=it.primary}};
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus, {
  background-color: {{=it.transparent}};
}

.sidebar {
  background-color: {{=(it.navBg || it.primary)}};
}

.sidebar .brand-logo::after {
  border-color: {{=it.transparent}};
}

.sidebar .nav > a {
  color: {{=it.textLight}};
}

.sidebar .nav > a:hover {
  background-color: {{=it.transparent}};
}

.sidebar .nav > a:focus,
.sidebar .nav > a.active {
  background-color: {{=it.transparentDark}};
  border-color: {{=it.transparent}};
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: {{=it.primaryTransparent}};
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #ffffff;
}

.panel-default .panel-heading {
  background-color: {{=it.primaryTransparent}};
}

.alert-danger {
  background-color: {{=it.errorBackground}};
  color: {{=it.secondary}};
}


.bg-dark .text-warning-lter,
.bg-dark .nav > li > a,
.bg-dark .text-info,
.bg-dark .text-muted {
  color: {{=it.textLight}} !important;
}

.bg-dark .line {
  background-color: {{=it.transparent}};
}

.btn.btn-primary {
  background-color: {{=it.primary}};
  border-color: {{=it.primary}}
}

.bg-light.lter, .bg-light .lter {
  background-color: {{=it.primaryTransparent}} !important;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: {{=it.primaryTransparent}};
}
