$bg-highlight = #FFFFE0

$prime = #5272ef

$danger = #f05150
$bg-danger = #FDEBDF
$color-danger = #94191B

$success = #2ecc71
$bg-success = #E9F3E6
$color-success = #627207
$color-semi-muted = #58666E
$color-muted = #96adbb

$color-info = #23b7e5
$color-pending = #E8B248

$faded-color = #edf1f2
$subtle-color = #fdfdfd

$tra = .25s
