.settlement-overview-container
  margin-top: 5px

.payments-manual-actions
  .btn-refund-payment
    margin-left: 8px

.payment-refund--captured
  .visit-link > i.i-redirect
    font-size: 80%
    margin-left: 0

.ezetap-keys-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 420px;

  button {
    margin-top: 40px;
  }
}
