<div class="centered activation-form-wrapper">
 		<ol class="progtrckr">
			<li class="progtrckr-current">Contact Details</li><!-- This comment is hack to avoid progress bar from becoming discontinuos
	     --><li class="progtrckr-todo">Bussiness Details</li><!--
		 --><li class="progtrckr-todo">Promoters Details</li><!--
		 --><li class="progtrckr-todo">Bank Details</li><!--
		 --><li class="progtrckr-todo">Document Scans</li><!--
		 --><li class="progtrckr-todo">Activate</li>
		</ol>
		<ol class="steplist">
	 		<li>Step 1</li><!-- This comment is hack to avoid progress bar from becoming discontinuos
		 --><li>Step 2</li><!--
	 	 --><li>Step 3</li><!--
	 	 --><li>Step 4</li><!--
	 	 --><li>Step 5</li><!--
	 	 --><li>Step 6</li>
 		</ol>
 	<div class="form-horizontal" role="form" id="activation-form">
	 	<fieldset>
			<legend>Contact Details</legend>
			<div class="form-group">
				<label for="contact_name" class="col-sm-3 control-label">Contact Name</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="contact_name" placeholder="Contact Name" required>
				</div>
			</div>
			<div class="form-group">
				<label for="contact_email" class="col-sm-3 control-label">Email</label>
				<div class="col-sm-8">
				  <input type="email" class="form-control" name="contact_email" placeholder="Email" required>
				</div>
			</div>
			<div class="form-group">
				<label for="contact_mobile" class="col-sm-3 control-label">Mobile</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="contact_mobile" placeholder="Mobile" required>
				</div>
			</div>
			<div class="form-group">
				<label for="contact_landline" class="col-sm-3 control-label">Landline</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="contact_landline" placeholder="Landline">
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>Bussiness Details</legend>
			<div class="form-group">
				<label for="bussiness_type" class="col-sm-3 control-label">Organisation Type</label>
				<div class="col-sm-8">
				  	<select name="bussiness_type" class="form-control" required>
                    	<option value="1">Proprietership</option>
                    	<option value="2">Individual</option>
                    	<option value="3">Partnership</option>
                    	<option value="4">Private Limited</option>
                    	<option value="5">Public Limited</option>
                    	<option value="6">LLP</option>
                    	<option value="7">NGO</option>
                    	<option value="8">Educational Institutes</option>
                    	<option value="9">Trust</option>
                    	<option value="10">Society</option>
                    </select>
				</div>
			</div>
			<div class="form-group">
				<label for="bussines_category" class="col-sm-3 control-label">Bussiness Category</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="bussiness_category" placeholder="Bussiness Category" required>
				</div>
			</div>
			<div class="form-group">
				<label for="bussines_subcategory" class="col-sm-3 control-label">Bussiness Subcategory</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="bussiness_subcategory" placeholder="Bussiness Subcategory" required>
				</div>
			</div>
			<div class="form-group">
			<label for="bussiness_registered_address" class="col-sm-3 control-label">Registered Address</label>
				<div class="col-sm-8">
				  <textarea class="form-control" name="bussiness_registered_address" placeholder="Registered Address" required></textarea>
				</div>
			</div>
			<div class="form-group">
			<label for="bussiness_registered_state" class="col-sm-3 control-label">Registration State</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="bussiness_registered_state" placeholder="Registered State" required>
				</div>
			</div>
			<div class="form-group">
			<label for="bussiness_registered_city" class="col-sm-3 control-label">Registered City</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="bussiness_registered_city" placeholder="Registered City" required>
				</div>
			</div>
			<div class="form-group">
			<label for="bussiness_registered_pin" class="col-sm-3 control-label">Registered PIN</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="bussiness_registered_pin" placeholder="Registered PIN" required>
				</div>
			</div>

			<div class="form-group">
			<label for="bussiness_operation_address" class="col-sm-3 control-label">Operation Address</label>
				<div class="col-sm-8">
				  <span class="help-block">
		          <input type="checkbox" id="bussiness-operation-checkbox"> Same as Registered Address
		          </span>
				  <textarea class="form-control" name="bussiness_operation_address" placeholder="Operation Address" required></textarea>    
			    </div>
			</div>
			<div class="form-group">
			<label for="bussiness_operation_state" class="col-sm-3 control-label">Operation State</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="bussiness_operation_state" placeholder="Operation State" required>
				</div>
			</div>
			<div class="form-group">
			<label for="bussiness_operation_city" class="col-sm-3 control-label">Operation City</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="bussiness_operation_city" placeholder="Operation City" required>
				</div>
			</div>
			<div class="form-group">
			<label for="bussiness_operation_pin" class="col-sm-3 control-label">Operation PIN</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="bussiness_operation_pin" placeholder="Operation PIN" required>
				</div>
			</div>
			<div class="form-group">
			<label for="bussiness_doe" class="col-sm-3 control-label">Date of Establishment</label>
				<div class="col-sm-8">
				  <input type="date" class="form-control" name="bussiness_doe" placeholder="Date of Establishment (MM/DD/YYYY)" required>
				</div>
			</div>
			<div class="form-group">
			<label for="company_cin" class="col-sm-3 control-label">Company CIN</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="company_cin" placeholder="Company CIN">
				  <span class="help-block">Mandatory for Companies</span>
				</div>
			</div>
			<div class="form-group">
			<label for="company_pan" class="col-sm-3 control-label">Company PAN</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="company_pan" placeholder="Company PAN">
				  <span class="help-block">Mandatory for Companies</span>
				</div>
			</div>
			<div class="form-group">
			<label for="company_pan_name" class="col-sm-3 control-label">Name on PAN Card</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="company_pan_name" placeholder="Name on PAN (provided above)">
				  <span class="help-block">Mandatory for Companies</span>
				</div>
			</div>
			<div class="form-group">
			<label for="bussiness_model" class="col-sm-3 control-label">Bussiness Model</label>
				<div class="col-sm-8">
				  <textarea class="form-control" name="bussiness_model" placeholder="Bussiness Model"></textarea>
				  <span class="help-block">Explain little about your bussiness model and future plans. Essential for startups</span>
				</div>
			</div>
			<div class="form-group">
			<label for="transaction_volume" class="col-sm-3 control-label">Expected annual transaction volume (INR)</label>
				<div class="col-sm-8">
				  <select name="transaction_volume" class="form-control" required>
                    	<option value="1">< 1 Lakh</option>
                    	<option value="2">1 to 10 lakh</option>
                    	<option value="3">10 Lakh to 1 Crore</option>
                    	<option value="4">> 1 Crore</option>
                    </select>
				</div>
			</div>
			<div class="form-group">
			<label for="transaction_value" class="col-sm-3 control-label">Expected average transaction value</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="transaction_value" placeholder="E.g. Average price of the commodities you sell">
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>Promoters Details</legend>
			<div class="form-group">
				<label for="promoter_pan" class="col-sm-3 control-label">PAN of any 1 promoter</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="promoter_pan" placeholder="PAN Number of Promoter" required>
				</div>
			</div>
			<div class="form-group">
				<label for="promoter_pan_name" class="col-sm-3 control-label">Name on PAN Card</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="promoter_pan_name" placeholder="Name on PAN Card" required>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>Bank Account Details (For transfer of settlements)</legend>
			<div class="form-group">
				<label for="bank_name" class="col-sm-3 control-label">Name of Bank</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="bank_name" placeholder="Name of Bank" required>
				</div>
			</div>
			<div class="form-group">
				<label for="bank_account_number" class="col-sm-3 control-label">Bank Account Number</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="bank_account_number" placeholder="Bank Account Number" required>
				</div>
			</div>
			<div class="form-group">
				<label for="bank_account_name" class="col-sm-3 control-label">Account Holder Name</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="bank_account_name" placeholder="Accunt Holder Name" required>
				  <span class="help-block">Should be same as bussiness/individual name</span>
				</div>
			</div>
			<div class="form-group">
				<label for="bank_account_type" class="col-sm-3 control-label">Bank Account Type</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="bank_account_type" placeholder="Bank Account Type e.g. Current, Savings" required>
				</div>
			</div>
			<div class="form-group">
				<label for="bank_branch_address" class="col-sm-3 control-label">Branch Address</label>
				<div class="col-sm-8">
				  <textarea class="form-control" name="bank_branch" placeholder="Name of Bank" required></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="bank_branch_ifsc" class="col-sm-3 control-label">Branch IFSC Code</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" name="bank_branch_ifsc" placeholder="IFSC Code of the Bank Branch" required>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>Document Uploads</legend>
			<div class="form-group">
				<label for="bussiness_proof" class="col-sm-3 control-label">Bussiness Proof </label>
				<div class="col-sm-8">
					<h5>
					<span class="help-block">
					  	Upload scan of following(not needed for individual):
						<li>Partnership Agreement (Mandatory, if partnership firm)</li>
						<li>Certificate of Incorporation (Mandatory if private limited)</li>
						<li>Trust/Society/NGO etc. registration proof</li>
					</span>
					</h5>
				  	<input type="file" class="btn" name="bussiness_proof" />
				</div>
			</div>
			<div class="form-group">
				<label for="bussiness_pan" class="col-sm-3 control-label">Bussiness PAN</label>
				<div class="col-sm-8">
					<h5><span class="help-block">Company Pan Card (Sole Proprietor can use personal PAN)</span></h5>
					<input type="file" class="btn" name="bussiness_pan_proof" />
				</div>
			</div>
			<div class="form-group">
				<label for="promoter_pan" class="col-sm-3 control-label">Promoter PAN</label>
				<div class="col-sm-8">
					<h5>
					<span class="help-block">
					Upload PAN card scan of at least one promoter, whose details have been filled earlier.
					In case of individual, upload your personal PAN.
					</span>
					</h5>
				  	<input type="file" class="btn" name="promoter_pan_proof" />
				</div>
			</div>
			<div class="form-group">
				<label for="address_proof" class="col-sm-3 control-label">Address Proof </label>
				<div class="col-sm-8">
					<h5>
					<span class="help-block">
					Upload one of following:
					<li>Electricity Bill (< two months old)</li>
					<li>Telephone Bill (< two months old)</li>
					<li>Bank Account Statement (< two months old)</li>
					</span>
					</h5>
				  	<input type="file" class="btn" name="address_proof" >
				</div>
			</div>
		</fieldset>
		<fieldset>
		<legend>Submit for Approval</legend>
		<div class="form-group text-center">
			<div class="col-sm-12">
			<h5>
			<input type="checkbox" id="agree-terms" required> I have read and understood the terms and conditions and the chargeback policy 
			and agree to abide by them all times.
			</h5>
			<br/><br/>
			<button type="submit" class="btn btn-primary" id="activateButton">Submit for activation</button>

			</div>
		</div>
		</fieldset>
	</form>
	<div>
		<h4>Note:</h4>
		<li>The form details will be auto-saved when you press next.</li>
	</div>
</div>
<script type="text/javascript" src="{{asset('js/<!-- @echo DEST -->/activation.js')}}"></script>