<div class="account-block-container">
  <div class="auth-heading">
    Account Blocked
  </div>
  <div class="auth-text m-t text-center">
    <img ng-src="img/2FA_Blocked.svg" alt="Your 2FA is blocked" ng-style="{height: '175px'}" />
  </div>
  <div class="auth-text m-t" ng-if="!isOwner">
    <strong>Contact your Owner</strong>
  </div>
  <div class="auth-text m-t">
    Your account has been blocked due to too many wrong OTP attempts.
  </div>
  <div class="auth-text m-t" ng-if="!isOwner">
    Please contact your owner to unblock your account.
  </div>
  <div class="auth-text m-t" ng-if="isOwner">
    Please Reset your password to unlock your account.
    <div class="m-t m-b">
      <a class="highlight-clickable-text forgot-password-text" href="" ng-if="isOwner"
        ng-click="forgotPwdSubmit(forgotPwdForm.$valid)">
        Click to Reset password
      </a>
    </div>
  </div>
  <div class="auth-text m-t" ng-if="isOrgAXIS">
    A cooling off period of <b>15 minutes</b> exists post your account is unlocked, so please try logging in post that.
  </div>
</div>