<div class="signup-detail-header">
  <div class="auth-heading">
    Need your business details
  </div>
</div>
<div class="signup-detail-form">
  <div class="steps-dots">
    <div class="step-dot" ng-style="{ 'width': (33.33*(signup.currentSubStep+1)) + '%' }"></div>
    <div class="clearfix"></div>
  </div>


  <div class="signup-details-overflow-container">
    <div class="signup-details-translate-container" ng-class="{'no-transition': noTransition}" ng-style="{'transform': 'translateX(' + ((-320)*signup.currentSubStep) + 'px)'}">
      <div class="auth-substep business-type-substep" ng-class="{'business-type-show-more': signup.showMore}">
        <div class="auth-subheading">
          Select your Business Type
        </div>
        <div class="select-one">
          <div class="signup-business-type-sub-header">Unregistered business</div>
          <div class="select-one-option">
                <input override-tab ng-click="slectTrack('business_type');quickSendDetails('business_type', signup.details.business_type[1].value);trackStepClicksOnMore('Step - Select Business Type', signup.details.business_type[1].name);" type="radio" name="business_type_1" value="{{signup.details.business_type[1].value}}" id="{{'business_type_'+signup.details.business_type[1].value}}" ng-model="signup.merchantData.business_type"/>
                <label for="{{'business_type_'+signup.details.business_type[1].value}}">
                  {{signup.details.business_type[1].name}}
                  <i class="pull-right fa fa-check"></i>
                </label>
          </div>
          <div class="signup-business-type-sub-header">Registered business</div>
          <div class="select-one-option" ng-repeat="key in toArray(signup.details.business_type)" ng-show='$index != 0 && ($index < 5 || signup.showMore === true)'>
              <input override-tab ng-click="slectTrack('business_type');quickSendDetails('business_type', signup.details.business_type[key].value);trackStepClicksOnMore('Step - Select Business Type', signup.details.business_type[key].name);" type="radio" name="business_type" value="{{signup.details.business_type[key].value}}" id="{{'business_type_'+signup.details.business_type[key].value}}" ng-model="signup.merchantData.business_type"/>
              <label for="{{'business_type_'+signup.details.business_type[key].value}}">
                {{signup.details.business_type[key].name}}
                <i class="pull-right fa fa-check"></i>
              </label>
          </div>
          <div class="select-one-option" ng-show="signup.showMore === false">
            <input override-tab type="checkbox" name="business_type" value="true" id="more" ng-model="signup.showMore" ng-change="trackStepClicksOnMore('Step - Select Business Type', 'More')" />
            <label for="more">
              More
              <i class="pull-right fa fa-ellipsis-h"></i>
            </label>
          </div>
        </div>
        <div class="signup-nav">
          <button override-tab ng-disabled="!signup.merchantData.business_type" class="btn btn-primary signup-details-button pull-right" ng-click="quickSendDetails(); trackStepClicksOnMore('Step - Select Business Type', 'Next');">
            Next
          </button>
        </div>
        <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
      </div>
      <div class="auth-substep">
        <div class="auth-subheading">
          Estimated Monthly Revenue (INR)
        </div>

        <div class="select-one">
          <div class="select-one-option" ng-repeat="key in toArray(signup.details.transaction_volume)" >
            <input override-tab ng-click="slectTrack('transaction_volume');quickSendDetails('transaction_volume', key); trackStepClicksOnMore('Step - Monthly Revenue', signup.details.transaction_volume[key]);" type="radio" name="transaction_volume" value="{{key}}" id="{{'transaction_volume_'+key}}" ng-model="signup.merchantData.transaction_volume"/>
            <label for="{{'transaction_volume_'+key}}">
              {{signup.details.transaction_volume[key]}}
              <i class="pull-right fa fa-check"></i>
            </label>
          </div>
        </div>
        <div class="signup-nav">
          <div class="back-btn btn" ng-click="goToSignupStep(1, 0);trackBackClick('Business Type');">
            Back
          </div>
          <button override-tab ng-disabled="!signup.merchantData.transaction_volume" class="btn btn-primary signup-details-button pull-right" ng-click="quickSendDetails(); trackStepClicksOnMore('Step - Monthly Revenue', 'Next');">
            Next
          </button>
        </div>

        <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
      </div>
      <div class="auth-substep name-substep">
        <form class="details-form" name="forms.detailsForm" >
          <label class="form-label details-label" for="business_name" ng-if="showCompanyName">Company:</label>
          <div class="details-form-input-group" ng-if="showCompanyName">
            <i class="fa fa-building"></i>
            <input  ng-focus="onInputFocus('comapny_name')" type="text" name="business_name" id="business_name" ng-model="signup.merchantData.business_name"
              class="form-control auth-form-input" placeholder="Company Name" required ng-minlength="4">
          </div>
          <div class="details-form-input-group" ng-if="showCompanyName">
              <i class="fa fa-globe"></i>
            <input type="text" ng-focus="onInputFocus('business_website')" name="business_website" id="business_website" ng-model="signup.merchantData.business_website"
              class="form-control auth-form-input" ng-pattern="websiteRegex" placeholder="Website" >
              <span class="input-helper">Leave blank if unavailable</span>
          </div>

          <label class="form-label details-label" for="contact_name">Contact Details:</label>
          <div class="details-form-input-group">
            <i class="fa fa-user"></i>
            <input ng-focus="onInputFocus('contact_name')" type="text" name="contact_name" id="contact_name" ng-model="signup.merchantData.contact_name"
              class="form-control auth-form-input" placeholder="Your Name" required ng-minlength="4" >
          </div>

          <div class="details-form-input-group">
              <i class="fa fa-phone"></i>
            <input type="tel" ng-focus="onInputFocus('contact_mobile')" ng-pattern="/^\+?[0-9]{8,13}$/" name="contact_mobile" id="contact_mobile" ng-model="signup.merchantData.contact_mobile"
              class="form-control auth-form-input" placeholder="10 digit mobile number" required ng-minlength="10" ng-maxlength="13" >
          </div>

          <div class="whatsapp-opt-in">
            <input type="checkbox" id="whatsapp-opt-in" value="Get account updates on" ng-checked="signup.isWhatsAppOptIn" ng-click="handleWhatsAppOpIn()"/>
            <label for="whatsapp-opt-in">Get account updates on WhatsApp</label>
            <img class="whatsapp-logo" src="../../img/whatsapp.svg"/>
          </div>

          <div class="coupon" ng-if="coupon.shouldRender">
            <span class="btn btn-link coupon-btn" ng-click="onGotCouponCodeClick()" ng-show="!allowInput">Got a coupon code ?</span>
            <label for="coupon-input" class="form-label details-label coupon-label" ng-show="allowInput">Coupon Code:</label>
            <div class="input-group" ng-show="allowInput">
              <input type="text" placeholder="Enter coupon code" class="coupon-input form-control" id="coupon-input"
                ng-model="coupon.val" ng-disabled="coupon.disabled" ng-change="onCouponChange()"/>
              <div class="input-group-btn">
                <i class="btn coupon-helper-btns spin-loader" ng-show="coupon.isValidating"></i>
                <i class="btn coupon-helper-btns clear" ng-show="coupon.val.length && !coupon.disabled" ng-click="clearCoupon()"></i>
                <i class="btn coupon-helper-btns success fa fa-check" ng-show="coupon.status === 'success'"></i>
                <i class="btn coupon-helper-btns failure"  ng-show="coupon.status === 'failure'"></i>
                <span class="btn coupon-apply-btn" ng-click="validateCoupon()" ng-hide="coupon.disabled" ng-disabled="coupon.val.length === 0">Apply</span>
                <span class="btn coupon-remove-btn" ng-click="removeCoupon()" ng-show="coupon.disabled">Remove</span>
              </div>
            </div>
            <div class="coupon-msg" ng-class="{'success' : coupon.status === 'success', 'failure' : coupon.status === 'failure'}" ng-bind-html="coupon.msg" ng-show="['success', 'failure'].indexOf(coupon.status) > -1"></div>
            <div class="coupon-disclaimer" ng-show="signup.merchantData.business_type == 11 && coupon.status === 'success'">*This offer is not applicable for credit card transactions</div>
          </div>

          <div class="signup-nav">
            <div class="back-btn btn" ng-click="goToSignupStep(1, 1);trackBackClick('Estimated Monthly Revenue');">
              Back
            </div>
            <button type="submit" ng-if="!showCompanyName" override-tab ng-disabled="!(signup.merchantData.contact_name && signup.merchantData.contact_mobile)" class="btn btn-primary signup-details-button pull-right" ng-click="sendDetails();onFinishClick()">
              Finish
            </button>
            <button type="submit" ng-if="showCompanyName" override-tab ng-disabled="!(signup.merchantData.contact_name && signup.merchantData.business_name && signup.merchantData.contact_mobile)" class="btn btn-primary signup-details-button pull-right" ng-click="sendDetails();onFinishClick()">
              Finish
            </button>
          </div>
        </form>
        <alert class="pre_signup_alert" ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
      </div>
    </div>
    <div class="loading-animation"><div class="spinner-container" style="background-image: url('img/loading-bubbles.svg')"></div></div>
  </div>
</div>
