<div class="signup-detail-header">
  <div class="auth-heading">
    Need a few more details
  </div>
  <div class="auth-text auth-help-text" ng-if="signup.currentSubStep == 0">
    Please select an option below
  </div>
  <div class="auth-text" ng-if="signup.currentSubStep == 1">
    <!-- Business Type
    <strong>
      {{signup.details.business_type[signup.merchantData.business_type]}}
    </strong> -->
    <i class="fa fa-angle-left question-back-arrow" ng-click="goToSignupStep(1, 0)"></i>
    <span class="highlight-clickable-text" ng-click="goToSignupStep(1, 0)">Back to Business Type</span>
  </div>
  <div class="auth-text" ng-if="signup.currentSubStep == 2">
    <!-- Expected Monthly Transaction Volume (INR)
    <strong>
      {{signup.details.transaction_volume[signup.merchantData.transaction_volume]}}
    </strong> -->
    <i class="fa fa-angle-left question-back-arrow" ng-click="goToSignupStep(1, 1)"></i>
    <span class="highlight-clickable-text" ng-click="goToSignupStep(1, 1)">Back to Expected Monthly Transaction Volume (INR)</span>
  </div>
  <div class="auth-text" ng-if="signup.currentSubStep == 3">
    <!-- Your Role
    <strong>
      {{signup.details.role[signup.merchantData.role]}}
    </strong> -->
    <i class="fa fa-angle-left question-back-arrow" ng-click="goToSignupStep(1, 2)"></i>
    <span class="highlight-clickable-text" ng-click="goToSignupStep(1, 2)">Back to Role</span>
  </div>
  <div class="auth-text" ng-if="signup.currentSubStep == 4">
    <!-- Your Department
    <strong>
      {{signup.details.department[signup.merchantData.department]}}
    </strong> -->
    <i class="fa fa-angle-left question-back-arrow" ng-click="goToSignupStep(1, 3)"></i>
    <span class="highlight-clickable-text" ng-click="goToSignupStep(1, 3)">Back to Department</span>
  </div>
</div>
<div class="signup-detail-form">
  <div class="steps-dots">
    <div class="step-dot" ng-repeat="key in [0, 1, 2, 3, 4]" ng-class="key == signup.currentSubStep && 'active'"></div>
    <div class="clearfix"></div>
  </div>


  <div class="signup-details-overflow-container">
    <div class="signup-details-translate-container" ng-class="{'no-transition': noTransition}" style="transform: translateX({{-(240)*signup.currentSubStep}}px)">
      <div class="auth-substep business-type-substep" ng-class="{'business-type-show-more': signup.showMore}">
        <div class="auth-subheading">
          Select your Business Type
        </div>
        <div class="select-one">
          <div class="select-one-option" ng-repeat="key in toArray(signup.details.business_type)" ng-show='$index < 5 || signup.showMore === true'>
            <input override-tab ng-click="quickSendDetails('business_type', key)" type="radio" name="business_type" value="{{key}}" id="{{'business_type_'+key}}" ng-model="signup.merchantData.business_type"/>
            <label for="{{'business_type_'+key}}">
              {{signup.details.business_type[key]}}
              <i class="pull-right fa fa-check"></i>
            </label>
          </div>
          <div class="select-one-option" ng-show="signup.showMore === false">
            <input override-tab type="checkbox" name="business_type" value="true" id="more" ng-model="signup.showMore" />
            <label for="more">
              More
              <i class="pull-right fa fa-ellipsis-h"></i>
            </label>
          </div>
        </div>
        <button override-tab ng-disabled="!signup.merchantData.business_type" class="btn btn-primary form-control signup-details-button" ng-click="quickSendDetails()">
          Next
        </button>
        <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>  
      </div>
      <div class="auth-substep">
        <div class="auth-subheading">
          Expected Monthly Transaction Volume (INR)
        </div>

        <div class="select-one">
          <div class="select-one-option" ng-repeat="key in toArray(signup.details.transaction_volume)" >
            <input override-tab ng-click="quickSendDetails('transaction_volume', key)" type="radio" name="transaction_volume" value="{{key}}" id="{{'transaction_volume_'+key}}" ng-model="signup.merchantData.transaction_volume"/>
            <label for="{{'transaction_volume_'+key}}">
              {{signup.details.transaction_volume[key]}}
              <i class="pull-right fa fa-check"></i>
            </label>
          </div>
        </div>
        <button override-tab ng-disabled="!signup.merchantData.transaction_volume" class="btn btn-primary form-control signup-details-button" ng-click="quickSendDetails()">
          Next
        </button>
        <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>  
      </div>
      <div class="auth-substep">
        <div class="auth-subheading">
          Your Role
        </div>

        <div class="select-one">
          <div class="select-one-option" ng-repeat="key in toArray(signup.details.role)" >
            <input override-tab ng-click="quickSendDetails('role', key)" type="radio" name="role" value="{{key}}" id="{{'role_'+key}}" ng-model="signup.merchantData.role"/>
            <label for="{{'role_'+key}}">
              {{signup.details.role[key]}}
              <i class="pull-right fa fa-check"></i>
            </label>
          </div>
        </div>
        <button override-tab ng-disabled="!signup.merchantData.role" class="btn btn-primary form-control signup-details-button" ng-click="quickSendDetails()">
          Next
        </button>
        <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>  
      </div>
      <div class="auth-substep">
        <div class="auth-subheading">
          Your Department
        </div>

        <div class="select-one">
          <div class="select-one-option" ng-repeat="key in toArray(signup.details.department)" >
            <input override-tab ng-click="quickSendDetails('department', key)" type="radio" name="department" value="{{key}}" id="{{'department_'+key}}" ng-model="signup.merchantData.department"/>
            <label for="{{'department_'+key}}">
              {{signup.details.department[key]}}
              <i class="pull-right fa fa-check"></i>
            </label>
          </div>
        </div>
        <button override-tab ng-disabled="!signup.merchantData.department" class="btn btn-primary form-control signup-details-button" ng-click="quickSendDetails()">
          Next
        </button>
        <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>  
      </div>
      <div class="auth-substep name-substep">
        <form class="" name="forms.detailsForm" > 
          <label class="form-label details-label" for="contact_name">Your Name</label>
          <input type="text" name="contact_name" id="contact_name" ng-model="signup.merchantData.contact_name"
            class="form-control auth-form-input" placeholder="Full Name" required ng-minlength="4" >
          <label class="form-label details-label" for="phone">Your Contact Number</label>
          <input type="tel" ng-pattern="/^[0-9]{8,11}$/" name="contact_mobile" id="contact_mobile" ng-model="signup.merchantData.contact_mobile"
            class="form-control auth-form-input" placeholder="Ex: 9400012345" required ng-minlength="10" ng-maxlength="13" >
          <label class="form-label details-label" for="business_name">Company Name</label>
          <input type="text" name="business_name" id="business_name" ng-model="signup.merchantData.business_name"
            class="form-control auth-form-input" placeholder="Ex: Xyz Software Private Limited" required ng-minlength="4" >
          <button override-tab ng-disabled="!(signup.merchantData.contact_name && signup.merchantData.business_name && signup.merchantData.contact_mobile)" class="btn btn-primary form-control signup-details-button m-b" ng-click="sendDetails()">
            Finish
          </button>
        </form>
        <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>  
      </div>
    </div>
    <div class="loading-animation"><div class="spinner-container" style="background-image: url('img/loading-bubbles.svg')"></div></div>
  </div>
</div>
