<div>
    <div class="auth-heading">
      Setup 2 Step Verification
    </div>
    <div class="auth-text m-t-sm">
      Let's setup a mobile number where you will receive your verification code everytime you log in.
    </div>

    <form class="auth-form" name="loginForm" ng-submit="updateMobileFromLogin(loginForm.$valid)">
      <label class="form-label auth-subheading" for="mobile">Enter your phone number</label>
      <input
        type="text"
        placeholder="Your phone number"
        name="mobile"
        id="mobile"
        ng-model="login.data.contact_mobile"
        class="form-control auth-form-input"
        required
        pattern="([0-9])+"
        maxlength="15"
      >

      <button class="btn btn-primary form-control m-t" type="submit" >
        Send Verification Code
      </button>
      <div class="loading-animation"><div class="spinner-container" style="background-image: url('img/loading-bubbles.svg')"></div></div>
    </form>
    <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
</div>
