<div class="signup-overflow-container">
  <div class="signup-translate-container" style="transform: translateX({{-(240)*signup.currentStep}}px)">
    <div class="signup-step">
      <div class="auth-heading">
        Signing Up...
      </div>
      <div class="auth-text">
        Create a password to continue
      </div>

      <form class="signup-form" name="signupForm" xng-submit="goToStep(1)" ng-submit="createAccount(signupForm.$valid)">
        <label class="form-label auth-subheading" for="email">Your Office Email</label>
        <input type="email" placeholder="yourname@company.com" name="email" id="email" ng-model="signup.data.email" class="form-control auth-form-input" required>
        <label class="form-label auth-subheading" for="password">Create a Password</label>
        <input type="password" placeholder="••••••••" name="password" id="password" ng-model="signup.data.password" class="form-control auth-form-input" required>
        <div class="google-captcha" 
          no-captcha
          g-recaptcha-response="data.signup.captcha"
          theme='light'
          control="noCaptchaControl"
          site-key="6LdsmwETAAAAADmNGCLvbrjL09O_Fv7WOVTngbO4">
        </div>
        <div class="signup-subtext">
          By signing up you agree to our <a class="highlight" target="_blank" href="https://razorpay.com/privacy/">privacy policy</a> and <a class="highlight" target="_blank" href="https://razorpay.com/terms/">terms of use</a>.
        </div>
        <button class="btn btn-primary form-control " type="submit">
          Create Account
        </button>
      </form>
      
      <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>  
    </div>
    <div class="signup-step">
      <div class="auth-heading">
        Account Created
      </div>
      <div class="auth-text">
        Your Razorpay account is created. We’ll need a few more details to customise your experience
      </div>
      <button class="btn btn-primary form-control btn-step-2" ng-click="goToStep(2)">
        Next
      </button>
      
    </div>
    <div class="signup-step">
      <div class="auth-heading">
        Almost There...
      </div>
      <div class="auth-text">
        Just need a few more details.
      </div>

      <div class="signup-detail-form">
        <div class="steps-dots">
          <div class="step-dot active"></div>
          <div class="step-dot"></div>
          <div class="step-dot"></div>
          <div class="step-dot"></div>
          <div class="step-dot"></div>
          <div class="clearfix"></div>
        </div>
        
        
        <div class="signup-details-overflow-container">
          <div class="signup-details-translate-container">
            <div class="signup-details-question">
              <div class="auth-subheading">
                Type of Business
              </div>
              <div class="select-one">
                <div class="select-one-option" ng-repeat="key in toArray(signup.details.business_type)" ng-show='$index < 3 || signup.showMore === true'>
                  <input type="radio" name="business_type" value="{{key}}" id="{{key}}" ng-model='signup.merchantData.business_type'/>
                  <label for='{{key}}'>
                    {{signup.details.business_type[key]}}
                    <i class="pull-right fa fa-check"></i>
                  </label>
                </div>
                <div class="select-one-option" ng-show='signup.showMore === false'>
                  <input type="checkbox" name="business_type" value="true" id="more" ng-model='signup.showMore' />
                  <label for='more'>
                    More
                    <i class="pull-right fa fa-ellipsis-h"></i>
                  </label>
                </div>
              </div>
              <div class="btn btn-primary form-control signup-details-button" ng-click="sendDetails()">
                Next
              </div>
            </div>
            <div class="signup-details-question">
              <div class="auth-subheading">
                Monthly Transaction Volume (INR)
              </div>

              <div class="select-one">
                <div class="select-one-option" ng-repeat="key in toArray(signup.details.monthly_transaction)" >
                  <input type="radio" name="monthly_transaction" value="{{key}}" id="{{key}}" ng-model='signup.merchantData.monthly_transaction'/>
                  <label for='{{key}}'>
                    {{signup.details.monthly_transaction[key]}}
                    <i class="pull-right fa fa-check"></i>
                  </label>
                </div>
              </div>
              <div class="btn btn-primary form-control signup-details-button" ng-click="sendDetails()">
                Next
              </div>
            </div>
            <div class="signup-details-question">
              <div class="auth-subheading">
                Your Role
              </div>

              <div class="select-one">
                <div class="select-one-option" ng-repeat="key in toArray(signup.details.role)" >
                  <input type="radio" name="role" value="{{key}}" id="{{key}}" ng-model='signup.merchantData.role'/>
                  <label for='{{key}}'>
                    {{signup.details.role[key]}}
                    <i class="pull-right fa fa-check"></i>
                  </label>
                </div>
              </div>
              <div class="btn btn-primary form-control signup-details-button" ng-click="sendDetails()">
                Next
              </div>
            </div>
            <div class="signup-details-question">
              <div class="auth-subheading">
                Your Department
              </div>

              <div class="select-one">
                <div class="select-one-option" ng-repeat="key in toArray(signup.details.department)" >
                  <input type="radio" name="department" value="{{key}}" id="{{key}}" ng-model='signup.merchantData.department'/>
                  <label for='{{key}}'>
                    {{signup.details.department[key]}}
                    <i class="pull-right fa fa-check"></i>
                  </label>
                </div>
              </div>
              <div class="btn btn-primary form-control signup-details-button" ng-click="sendDetails()">
                Next
              </div>
            </div>
            <div class="signup-details-question">
              <div class="auth-subheading">
                Account Info
              </div>

              <label class="form-label" for="name">Name</label>
              <input type="text" name="name" id="name" ng-model="signup.merchantData.name"
                class="form-control" required>
              <label class="form-label" for="company_name">Company Name</label>
              <input type="text" name="company_name" id="company_name" ng-model="signup.merchantData.company_name"
                class="form-control" required>
              <label class="form-label" for="phone">Phone</label>
              <input type="tel" name="phone" id="phone" ng-model="signup.merchantData.phone"
                class="form-control" required>
              <div class="btn btn-primary form-control signup-details-button" ng-click="sendDetails()">
                Finish
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="signup-step">
      <div class="auth-heading">
        Account Created
      </div>
      <div class="btn btn-default" ng-click="goToSigninLayout()">
        Create Account
      </div>
    </div>
  </div>
</div>
