<div class="auth-overflow-container">
  <div class="login-translate-container" ng-style="{'transform': 'translateX(' + ((-320)*login.currentStep) + 'px)', 'width': '2880'}">

    <!-- Forgot Password (0) -->
    <div class="auth-step">
      <div class="auth-heading">
        Forgot Password
      </div>
      <div class="auth-text reset-auth-text">
        Enter your email and we will send you a password reset link
      </div>

      <form class="auth-form reset-form" name="forgotPwdForm" xng-submit="goToStep(1)" ng-submit="forgotPwdSubmit(forgotPwdForm.$valid)">
        <label class="form-label auth-subheading" for="email">Email</label>
        <input override-tab type="email" placeholder="example@xyz.com" name="email" id="email"
          ng-model="login.data.email" class="form-control auth-form-input" required ng-focus="onResetEmailChange()">
        <button override-tab class="btn btn-primary form-control" type="submit">
          Send Reset Link
        </button>
        <div class="loading-animation">
          <div class="spinner-container" style="background-image: url('img/loading-bubbles.svg')"></div>
        </div>
      </form>
      <div class="highlight-clickable-text forgot-password-text-login" ng-click="goToSigninLayout()">
        Back to Login
      </div>
      <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">
        {{alert.msg}}
      </alert>
    </div>

    <!-- Login (1) -->
    <div class="auth-step">
      <div class="auth-heading">
        {{lockme ? "Dashboard Locked" : "Login to Dashboard"}}
      </div>
      <div class="login-details-overflow-container">
        <div class="login-details-translate-container"
          ng-style="{'transform': 'translateX(' + ((-320)*login.currentSubStep) + 'px)'}">
          <div class="auth-substep">
            <div class="auth-text">
              <span ng-if="lockme">You have been inactive for more than 5 minutes. Enter password to access the
                dashboard as </span>
              <strong ng-if="lockme">{{login.data.email}}</strong>
            </div>

            <div class="g-btn-container" ng-if="!isOrgAXIS">
              <div class="g-image-container">
                <img class="g-image" src="../../img/google-icon.svg" />
              </div>
              <button id="gauth" override-tab class="full-width ds-btn secondary" type="submit"
                ng-click="onLoginWithGoogle()" ng-init="init()">
                Login with Google
              </button>
            </div>

            <div class=" separator-container separator-container-google" ng-if="!isOrgAXIS">
              <div class="separator"></div>
              <span class="text">or</span>
            </div>

            <form class="auth-form" name="loginForm" xng-submit="goToLoginStep(0, 1)"
              ng-submit="sendLoginCredentials(loginForm.$valid)">
              <label ng-if="!lockme" class="form-label auth-subheading auth-subheading" for="email">Your email</label>
              <input ng-if="!lockme" type="email" placeholder="example@xyz.com" name="email" id="email"
                ng-model="login.data.email" class="form-control auth-form-input" required
                ng-focus="onLoginInputFocus('email')" ng-class="{'ds-error-input': inlineEmailError}">
              <div class="ds-error" ng-if="inlineEmailError">
                {{inlineEmailError}}
              </div>

              <div>
                <label class="form-label auth-subheading" for="password">Password</label>
                <span ng-if="!lockme && isOrgCheckDone" class="forgot-password-text" ng-click="goToForgotPwd()">
                  (Forgot?)
                </span>
                <input type="password" placeholder="Password" name="password" ng-model="login.data.password"
                  class="form-control auth-form-input" required ng-focus="onLoginInputFocus('password')"
                  ng-class="{'ds-error-input': inlinePasswordError}">
                <div class="ds-error" ng-if="inlinePasswordError">
                  {{inlinePasswordError}}
                </div>

                <div id='login-recaptcha' ng-init="loadCaptcha()" data-size="invisible"></div>
                <button override-tab class="full-width btn-primary" type="submit" ng-click="onLogin()">
                  {{lockme ? "Unlock" : "Log in"}}
                </button>
              </div>

            </form>

            <div class="subtext subtext-captcha-inline" ng-if="!isOrgAXIS">
              Protected by reCAPTCHA. Google
              <a href="https://policies.google.com/privacy" class="inline-block ds-highlight-clickable-text">Privacy
                Policy</a> &
              <a href="https://policies.google.com/terms" class="inline-block ds-highlight-clickable-text">Terms of
                Service</a> apply.
            </div>

            <div class=" separator-container separator-container-onetap" ng-if="!isOrgAXIS">
              <div class="separator"></div>
              <span class="text">or</span>
            </div>

            <div id="one-tap-overflow" ng-if="!isOrgAXIS && isOneTapExpOn">
              <div id="one-tap-wrapper" ng-init="initOneTap()"></div>
            </div>

            <div class="loading-animation">
              <div class="spinner-container" style="background-image: url('img/loading-bubbles.svg')"></div>
            </div>

          </div>
        </div>
      </div>
      <div ng-if="!lockme && isOrgCheckDone && !isOrgHDFC && !isOrgAXIS" class="contact-us-text contact-us-text-inline">
        Need help? <a class="highlight-clickable-text" ng-click="onContactUs()"
          href="https://razorpay.com/support/#request/merchant" target="_blank">Contact Us</a>
      </div>
    </div>

    <!-- Questions (2) -->
    <div class="auth-step" ng-if="!email_not_verified">
      <div ng-include="'tpl/auth/questions.html'"></div>
    </div>

    <!-- Email Verification (3) -->
    <div class="auth-step">
      <div ng-include="'tpl/auth/verify.html'"></div>
    </div>

    <!-- 2fa UI (4) -->
    <div class="auth-step">
      <div ng-include="'tpl/auth/enter-2fa.html'"></div>
    </div>

    <!-- Setup mobile for 2fa (5) -->
    <div class="auth-step">
      <div ng-include="'tpl/auth/setup-mobile.html'"></div>
    </div>

    <!-- Verify mobile (6) -->
    <div class="auth-step">
      <div ng-include="'tpl/auth/verify-mobile-2fa.html'"></div>
    </div>

    <!-- account is blocked (7) -->
    <div class="auth-step">
      <div ng-include="'tpl/auth/account_block.html'"></div>
    </div>

    <!-- contact admin (8) -->
    <div class="auth-step">
      <div ng-include="'tpl/auth/contact_admin.html'"></div>
    </div>
  </div>
</div>
