<div class="auth-overflow-container">
  <div class="login-translate-container" ng-style="{'transform': 'translateX(' + ((-240)*login.currentStep) + 'px)', 'width': '1440px'}">
    <div class="auth-step">
      <div class="auth-heading">
          Forgot Password
      </div>
      <div class="auth-text">
        Enter your email and we will send you a password reset link
      </div>

      <form class="auth-form" name="forgotPwdForm" xng-submit="goToStep(1)" ng-submit="forgotPwdSubmit(forgotPwdForm.$valid)">
        <label class="form-label auth-subheading" for="email">Email</label>
        <input override-tab type="email" placeholder="yourname@company.com" name="email" id="email" ng-model="login.data.email" class="form-control auth-form-input" required>
        <button override-tab class="btn btn-primary form-control" type="submit">
          Send Reset Link
        </button>
        <div class="loading-animation"><div class="spinner-container" style="background-image: url('img/loading-bubbles.svg')"></div></div>
      </form>
      <div class="highlight-clickable-text forgot-password-text" ng-click="goToSigninLayout()">
        Back to Login
      </div>
      <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div class="auth-step">
      <div class="auth-heading">
        {{lockme ? "Dashboard Locked" : "Login to Dashboard"}}
      </div>
      <div class="login-details-overflow-container">
        <div class="login-details-translate-container" ng-style="{'transform': 'translateX(' + ((-240)*login.currentSubStep) + 'px)'}">
          <div class="auth-substep">
            <div class="auth-text">
              <span ng-if="lockme">You have been inactive for more than 5 minutes. Enter password to access the dashboard as </span>
              <strong ng-if="lockme">{{login.data.email}}</strong>
              <span ng-if="!lockme">Enter your {{isOrgRZP ? "Razorpay" : ""}} Credentials</span>
            </div>

            <form class="auth-form" name="signinForm" xng-submit="goToLoginStep(0, 1)" ng-submit="sendLoginCredentials(loginForm.$valid)">
              <label ng-if="!lockme" class="form-label auth-subheading" for="email">Email</label>
              <input ng-if="!lockme" type="email" placeholder="yourname@company.com" name="user_email" id="email" ng-model="login.data.user_email" class="form-control auth-form-input" required>
              <label class="form-label auth-subheading" for="password">Password</label>
              <input type="password" placeholder="Password" name="user_password" ng-model="login.data.user_password" class="form-control auth-form-input" required>
              <div ng-if="!lockme && isOrgCheckDone" class="highlight-clickable-text forgot-password-text" ng-click="goToForgotPwd()">
                Forgot Password?
              </div>
              <div ng-click="sendLoginCredentials(true)" override-tab ng-disable="loginInProgress" class="btn btn-primary form-control" type="button">
                {{lockme ? "Unlock" : "Sign in"}}
              </div>
              <div class="loading-animation"><div class="spinner-container" style="background-image: url('img/loading-bubbles.svg')"></div></div>
            </form>

            <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
          </div>
        </div>
      </div>
      <div ng-if="!lockme && isOrgCheckDone && !isOrgHDFC" class="contact-us-text">
        Need help? <a class="highlight-clickable-text" href="https://razorpay.com/support/#request/merchant" target="_blank">Contact Us</a>
      </div>
    </div>

    <div class="auth-step" ng-if="!email_not_verified">
      <div ng-include="'tpl/auth/questions.html'"></div>
    </div>

    <div class="auth-step" >
      <div ng-include="'tpl/auth/verify.html'"></div>
    </div>

    <!-- 2fa UI -->
    <div class="auth-step">
      <div ng-include="'tpl/auth/enter-2fa.html'"></div>
    </div>

    <!-- account is blocked -->
    <div class="auth-step">
      <div ng-include="'tpl/auth/account_block.html'" ></div>
    </div>
  </div>
</div>
