<div class="verify-container">
  <div class="auth-heading">
    Thanks for signing up,
    <br/>
    please verify your email.
  </div>
  <div class="verification-image" style="background-image: url('img/account-created.png')"></div>
  <div class="auth-text">
    Please click on the verification link that we've sent to 
    <strong>{{signup.data.email || login.data.email}}</strong>
    to get access to your dashboard.
  </div>
  <div class="m-t m-b">
    <a class="highlight-clickable-text forgot-password-text" href="" ng-click="resendVerificationEmail()">Resend Verification Email</a>
  </div>
  <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
</div>
