<div class="verify-mobile-2fa-container">
  <div class="auth-heading">
    Verify Mobile Number
  </div>
  <div class="auth-text m-t-sm">
    A text message with 6-digit verification code has been sent to {{login.data.contact_mobile}}.
  </div>

  <form class="auth-form" name="loginForm" ng-submit="verifyMobile(loginForm.$valid)">
    <label class="form-label auth-subheading" for="otp">Enter the OTP</label>
    <div ng-include="'tpl/auth/components/otp-input.html'" ></div>

    <div class="auth-text">
      Didn't receive an SMS?&nbsp;
      <span class="highlight-clickable-text" ng-click="resendVerifyMobileOtp()">
        {{login.resendingOtp ? 'Sending...' : 'Resend'}}
      </span>
    </div>

    <button ng-disable="otpSendingInProgress" class="btn btn-primary form-control m-t" type="submit" >
      Confirm
    </button>
    <div class="loading-animation"><div class="spinner-container" style="background-image: url('img/loading-bubbles.svg')"></div></div>
  </form>
  <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
</div>
