#submission-modal
    overflow: scroll
    background:  linear-gradient(120.65deg, #252C4B 0%, #171B2F 100%)
    height: 500px

    .tooltip-ui
        position: absolute
        z-index: 1
        right: 15px
        top: 43px

    .header-icons
        position: fixed
        width: 100%
        display: flex
        justify-content: space-between
        height: 62px
        align-items: center
        background: linear-gradient(120.65deg, #252c4b 0%, #171b2f 100%)
        padding: 0 20px
        padding-right: 70px
        .nitro-tooltip 
            width: 18px
        
    .modal-close-button
        position: absolute
        right: 25px
        top: 20px
        padding: 0
        border: none
        background: none
        color: #FFFFFF
        font-size: 17px
        
    .gs-image 
        padding-top: 60px

    .addMarginNitro 
        margin-top: 60px
    
    .cta-wrapper 
        display: flex
        height: 69px
        background: linear-gradient(0.31deg, #171B2F 70.99%, rgba(23, 27, 47, 0) 99.72%)
        padding-top: 15px
        position: fixed
        width: 100%
        bottom: 0px
        padding-left: 10px
        button 
            width: 100%
            height: 36px