$background = #171b30
$background-lighter = #3d415f

.RazorX-container.RazorX-container
  background: #f3f3f3

  > main
    margin-left: 96px
    padding: 0 48px 0
    background: inherit
    opacity: 0
    animation: appear-in 0.45s 0.8s cubic-bezier(0.32, 1.13, 1, 1) forwards

    .header
      font-size: 22px
      height: 62px
      line-height: 62px
      font-weight: 500
      color: #c1c1c3
      display: flex

      .btn-group
        margin: 0 0 0 auto
        display: inline-block

  > aside
    background: $background
    width: 96px
    padding: 0 0 80px 0
    overflow: visible
    transform: translateX(-100%)
    animation: slide-in 0.45s 0.8s cubic-bezier(0.32, 1.13, 1, 1) forwards

    > div
      border: none

    .main-nav
      text-align: center
      padding: 8px 0
      line-height: 32px
      font-size: 10px
      text-transform: uppercase
      color: #fff
      opacity: 0.5

      i
        margin: 0
        font-size: 20px
        line-height: 20px
        display: block
        color: inherit
        opacity: 1

      &:hover
        opacity: 0.75

      &.active
        opacity: 1
        color: #58d4ff

    #profile-nav
      cursor: pointer
      position: absolute
      bottom: 8px
      width: 100%

    .ellipsis-wrap
      width: 80%
      margin: 0 auto
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis

     .menu
        display: none
        position: absolute
        background: #fff
        box-shadow: 0 3px 13px rgba(0,0,0,0.09), 0 1px 5px 0 rgba(0,0,0,0.14)
        bottom: 0
        left: 100%
        min-width: 160px
        color: #000

        > div, > a
          display: block
          position: relative

        .btn-default + .btn-default
          margin-top: -1px

        .spin-btn
          position: absolute
          top: 12px

      &:hover .menu
        display: block

    #razorx-logo
      background: url('/img/logo.png') no-repeat center
      background-size: contain
      height: 28px
      position: relative
      text-align: center
      margin: 16px 0 32px
      padding: 10px 20px
      display: block
      &:after
        display: block
        border-bottom: 2px solid rgba(255,255,255,0.12)
        content: ''
        position: absolute
        top: 100%
        left: 20px
        right: 20px
        margin-top: 16px

@keyframes slide-in
  100%
    transform: translateX(-1px)

@keyframes appear-in
  100%
    opacity: 1
