$background = #171b30
$background-lighter = #3d415f

.RazorX-container.RazorX-container
  > main
    margin-left: 96px
    padding-top: 62px
    background: #fff

  > header
    height: 62px
    left: 96px
    background: $background

    > div
      color: rgba(255,255,255,.6)
      height: 100%
      line-height: 62px


    #profile-icon:hover
      background: $background-lighter

  > aside
    background: $background
    width: 96px
    padding: 0 0 20px 0

    > div
      border: none

    .main-nav
      text-align: center
      padding: 8px 0
      line-height: 32px
      font-size: 10px
      text-transform: uppercase
      color: #fff
      opacity: 0.7

      i
        margin: 0
        font-size: 20px
        line-height: 20px
        display: block
        color: inherit

      &.active
        opacity: 1
        color: #58d4ff

    #razorx-logo
      background: url('/img/logo.png') no-repeat center
      background-size: contain
      height: 28px
      position: relative
      text-align: center
      margin: 16px 0 32px
      padding: 10px 20px
      display: block
      &:after
        display: block
        border-bottom: 2px solid rgba(255,255,255,0.12)
        content: ''
        position: absolute
        top: 100%
        left: 20px
        right: 20px
        margin-top: 16px
