$color-primary = #58d4ff
$color-primary-hover = #58d4ff

.RazorX-container.RazorX-container
  .btn
    &--primary
      background: $color-primary

      &:hover
        background: $color-primary-hover

    &--round
      border-radius: 20px
