white-color = #fff

.loc-nudge-application-banner
  background: url('https://cdn.razorpay.com/static/assets/capital/loc_nudges/banner-bg.svg') no-repeat
  background-size: cover
  border-radius: 6px
  padding: 16px
  position: relative
  margin: 0 -8px -8px
  .heading-wrapper
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 8px
    &.progress-banner
      justify-content: space-between
    .banner-heading
      font-weight: 700
      font-size: 14px
      line-height: 20px
      text-align: center
      color: #F2F4F8
      margin: 0
    span
      font-weight: 400
      font-size: 11px
      line-height: 16px
      color: #C4CBD7
  .unlock-wrapper
    background: #f8f9fb29
    border-radius: 3px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-bottom: 12px
    padding: 12px
    .unlock-heading
      font-weight: 400
      font-size: 14px
      line-height: 20px
      text-align: center
      color: #DFE3E9
      span
        font-weight: bold
    .unlock-amount
      font-weight: 700
      font-size: 28px
      line-height: 40px
      color: white-color
      span
        color: #C4CBD7
        font-weight: 400
        font-size: 20px
        line-height: 28px
  .banner-button
    border: 0
    outline: 0
    width: 100%
    padding: 10px 0
    font-weight: 700
    font-size: 12px
    line-height: 16px
    text-align: center
    text-transform: capitalize
    color: #2A86F3
    background: white-color
    border-radius: 2px