white-color = #ffffff

.loc-repayment-tooltip
  &.spinner-container
    display: flex
    justify-content: center
    align-items: center
    min-height: 85px
  .title
    font-weight: 900
    font-size: 14px
    line-height: 17px
    color: white-color
    display: flex
    align-items: center
    .repay-amount-title 
      margin-right: 3px
      & *
        font-weight: 900
        font-size: 14px
        line-height: 17px
  .subtitle
    font-weight: 400
    font-size: 12px
    line-height: 129.3%
    color: #ffffffde
    margin: 4px 0 15px 0
  .repay-btn
    color: white-color
    font-weight: 700
    font-size: 12px
    line-height: 18px