text-gray = #5d6d86
title-color = #132644

.loc-nudges-progress-modal
  width: 408px
  position: absolute
  background: #fff
  .close-btn
    position: absolute
    top: 15px
    right: 15px
    outline: none
    border: none
    background: transparent
    color: text-gray
    font-size: 20px
  .rocket-img
    width: 100%
  .bottom-section
    padding: 24px 69px 28px
    width: 100%
  .title
    font-weight: 600
    font-size: 16px
    line-height: 24px
    text-align: center
    color: title-color
    margin: 0 0 12px
  .back-btn
    text-align: center
    width: 126px
    display: block
    margin: 10px auto 8px auto
    padding: 6px 12px
    font-weight: 600
    font-size: 12px
    line-height: 20px
  .timeline-container
    display: flex
    .timeline-img
      width: 20px
      height: 160px
      margin-right: 12px
      margin-top: 8px
    .timeline-items
      display: flex
      flex-direction: column
      .timeline-item
        &:first-child
          margin-top: 10px
        &:not(:last-child)
          margin-bottom: 18px
        &-title
          font-weight: 600
          font-size: 14px
          line-height: 20px
          color: title-color
          margin-bottom: 4px
        &-label
          font-weight: 400
          font-size: 13px
          line-height: 20px
          color: text-gray