$bg-white = #FFF
$text-blue = #528FF0
$text-grey = #58666E
$text-green = #008659
$font-color = #0A1D38
$default-grey = #9FB1C7
$border-grey = #A6B0BF
$border-blue = #336CD5
$bg-blue = #F3F8FE
$widget-border = #E8EAEB
$pill-color = #132644
$btn-disabled-border = #CFDADD73
$btn-disabled-text = #58666E73
$btn-border-focus = #DEE5E7
$refresh-disabled = #C4CBD7
$tooltip-shadow = #0A1D3826
$spacer = 8px
$tooltip-border-color = #E0E8F4

.sr-dashboard
  background-color: $bg-white
  padding: $spacer * 3

  .rzp-tooltip .rzp-tooltip-inner
    color: $text-grey
    box-shadow: 0 6px 15px $tooltip-shadow;

  .panel-actions .panel-action-item
    .btn-default
      width: 78px
      padding: 9px 10px
      background-color: $bg-white
      z-index: 0

    .btn-default:active
      box-shadow: none

  .panel-actions .download-btn,
  .rp-panel--header .download-btn
    padding: 9px 12px
    background-color: $bg-white
    margin-left: "calc(%s / 2)" % $spacer

    &:focus,
    &:hover
      border-color: $btn-border-focus

.sr-filter
  padding-bottom: $spacer * 3
  display: grid
  justify-content: space-between
  align-items: center
  grid-template-columns: 70% 30%

  @media screen and (max-width 1024px) {
    display: block
  }

  &-extras
    display: flex
    flex-direction: column
    align-items: flex-end

    @media screen and (max-width 1024px)
      align-items: flex-start

    .btn.btn-outline
      padding: 3px 10px

      &:hover,
      &:focus
        color: $text-blue

  .datepicker-group
    display: flex
    flex-wrap: wrap
    gap: $spacer
    margin-left: 0
    margin-bottom: "calc(%s / 2)" % $spacer

    .daterange-container
      height: auto

    .PowerSelect__TriggerLabel
      top: 5px

  .datetime-picker
    display: inline-flex
    align-items: center
    border: none
    flex-wrap: wrap

    &__input
      > input.form-control
        width: 145px
        height: 28px
        font-weight: 600
        padding: $spacer * 0.75
        text-align: center
        border: none

      > input.form-control[readonly]
        background-color: $bg-white

      > p.separator
        font-size: 12px
        color: $text-grey
        padding: $spacer * 0.75 0

      .rdtPicker
        th.rdtNext span,
        th.rdtPrev span
          border: none

        th.rdtSwitch
          pointer-events: none
          cursor: default

        .rdtTime th.rdtSwitch
          pointer-events: auto
          cursor: pointer

  .filter__actions .btn
    font-weight: 600

    &.btn-text
      color: $text-blue
      background-color: transparent
      margin-left: $spacer

  .error-text .i-info-outline
    margin-right: 2px

  .grouping-dropdown
    width: 192px
    margin-right: 20px

  .tab-refresh
    display: flex
    align-items: center
    font-size: 12px
    padding-top: $spacer * 2.5

    span.last-updated-at
      color: $text-grey

    &__btn
      color: $text-blue
      border: none
      box-shadow: none
      background-color: transparent
      font-size: 12px
      padding: 6px

      &:hover
        background-color: transparent

      &[disabled]
        color: $refresh-disabled
        opacity: 1

      &-icon
        font-size: 13px
        vertical-align: middle
        padding-left: "calc(%s / 2)" % $spacer

// *************** Tab Filter ***************
.sr-method-filters
  gap: $spacer * 3
  flex-wrap: wrap

  .panel-actions
    .btn-default.active
      background-color: $bg-blue
      box-shadow: none
      border-color: $border-blue
      z-index: 1

.sr-tab__filter
  /* stylelint-disable */
  left: -28px !important //adding important to override element.style added by PowerSelect library
  top: 5px !important //adding important to override element.style added by PowerSelect library
  /* stylelint-enable */

  &.PowerSelect__Tether
    width: 192px

  .react-normal-select__Menu
    .PowerSelect__Options
      .PowerSelect__Option
        padding: 0 10px
        line-height: 40px

        &--highlighted
          background-color: $bg-white

        &:hover
          background-color: #FAFBFC

.sr-metrics .metrics-card
  padding: 12px
  background-color: $bg-white
  border: 1px solid $border-grey
  border-radius: 2px
  height: 140px
  display: flex
  flex-direction: column
  justify-content: space-between

  &__title
    display: flex
    align-items: center
    padding-bottom: 4px

    p.display-text
      margin: 0

    small.help-content
      margin-left: 4px

      > i.i-help-outline
        color: $text-grey
        font-size: 14px
        vertical-align: middle

  h1
    color: $font-color
    margin: $spacer 0
    font-size: 24px
    line-height: 36px

  p.callout-text
    color: #8895A8

  .placeholder-loader
    width: 60%
    height: 16px
    margin: 16px 0

  div.mini-chart
    width: 100%
    height: 40px
    background-color: transparent
    transition: 0.1s margin 0.05s ease-out

    .min-chart-content
      width: 100%
      height: 100%
      margin-bottom: 4px
      border-bottom: 1px solid transparent

    &.active
      transition: margin 0.1s ease-out

    &.no-data
      height: 20px

    &.no-data .min-chart-content
      border-top: 1px solid transparent
      border-top-color: $default-grey
      border-bottom: 0
      background: linear-gradient(180deg, #A6B0BF -370.45%, rgba(166 176 191 0) 63.64%)
      height: 20px

    &.no-data.active .min-chart-content
      border-top-color: $border-blue
      background: linear-gradient(180deg, #518FF0 -370.45%, rgba(81 143 240 0) 63.64%)

.sr-metrics
  .nav.nav-tabs
    display: flex
    flex-wrap: nowrap
    overflow-x: auto

  .nav.nav-tabs > li
    display: inline-block
    flex: auto
    font-size: 14px
    margin-bottom: $spacer * 2
    margin-left: $spacer * 2
    cursor: pointer

    &.loading
      opacity: 0.5
      cursor: not-allowed

    &.loading .metrics-card.active
      border-color: $border-grey

    > a
      margin: 0
      padding: 0
      border: none
      text-align: left
      color: inherit

    &.loading > a
      pointer-events: none

    &:hover > a,
    &.active > a
      color: inherit
      background-color: transparent
      border: none

    &:first-child
      margin-left: 0

    &:hover .metrics-card,
    &.active .metrics-card
      border-color: $border-blue

    &.active .metrics-card
      border-width: 2px

      &::after
        content: ""
        position: absolute
        top: 100%
        left: 50%
        margin-left: -10px
        display: block
        border-width: 10px
        border-color: transparent
        border-bottom-width: 0
        border-top-color: $border-blue
        border-style: solid

    &.loading.active .metrics-card::after
      border-top-color: $border-grey

.sr-dashboard
  .box-widget div.no-data
    font-size: 20px
    color: $default-grey
    padding: $spacer * 2.5
    text-align: center

    &__title
      margin-bottom: $spacer * 0.75

    &__subtitle
      font-size: 16px
      color: $border-grey

.sr-metrics .graph-panel
  &__topbar
    display: flex
    justify-content: space-between
    padding-right: $spacer * 2
    padding-left: $spacer * 3

    div.panel-actions .panel-action-item
      &.btn-group .btn-default[disabled]
        position: relative
        color: $btn-disabled-text
        border-color: $btn-disabled-border
        opacity: 1

        &:hover .rzp-tooltip
          position: absolute
          top: 0
          right: 0
          margin-top: $spacer * -5
          white-space: nowrap
          opacity: 1

  div.chart-container
    position: relative
    height: 265px

.sr-metrics .tag-list
  display: flex
  align-items: center
  flex-wrap: wrap
  flex-basis: 60%
  gap: $spacer

  &__item
    display: inline-block
    font-size: 14px
    font-weight: normal
    line-height: 20px
    margin-bottom: 0
    cursor: pointer

    input[type="checkbox"],
    input[type="checkbox"] + .tag-list__item-label .tick--check
      display: none

    input[type="checkbox"]:checked + .tag-list__item-label .tick--check
      display: inline-block

    &-label
      display: inline-block
      background-color: $bg-white
      color: $text-grey
      border: 1px solid $pill-color
      border-radius: 16px
      padding: 4px 16px

      .tick
        position: relative
        font-size: 10px
        margin-right: 10px
        vertical-align: baseline

.sr-dashboard .styled-header
  position: relative
  font-weight: 600
  font-size: 14px
  line-height: 20px
  color: #344A6C
  padding-left: $spacer
  margin-bottom: $spacer

  &::before
    content: ""
    background-color: #336CD5
    position: absolute
    width: 2px
    height: 20px
    top: 0
    left: 0

.sr-dashboard .volume-container
  display: flex
  flex-direction: column

  .pie-chart-wrapper
    height: 90%
    display: flex
    align-items: center

    .pie-chart
      width: 100%
      height: 265px

  .info-card
    margin-bottom: $spacer * 4

    .styled-header
      margin-bottom: $spacer * 2

    &__label
      display: flex
      align-items: center
      line-height: 26px

      > p.label-text
        font-size: 14px
        color: $text-grey

      > span.info-icon
        padding-left: 4px

    &__value
      display: flex
      align-items: center

      > p
        font-size: 18px
        font-weight: 600
        line-height: 36px
        color: $font-color

        > span.highlight
          color: $text-green

    &:first-child .styled-header
      color: $border-blue

.sr-dashboard .box-widget.reasons-container
  padding: 0

  .rp-panel
    padding: $spacer * 2 $spacer * 4
    height: 100%

    &--header
      display: flex
      justify-content: space-between
      align-items: center

    div.no-data
      text-align: start
      color: #8991AE
      padding: 0
      padding-top: 16px

      svg
        display: inline-block
        width: 21px
        height: 18px

        > path
          fill: #FFA665

      .no-data__title
        font-size: 18px
        margin-bottom: 6px

      .no-data__subtitle
        color: #6F758A
        font-size: 15px

    .rp-grid
      margin-top: $spacer * 4

      &__item
        margin-bottom: $spacer * 4

        p.item-count
          color: $font-color
          font-size: 18px
          font-weight: 600
          line-height: 36px

        p.item-description
          color: #818EA3
          font-size: 12px
          line-height: 16px

.sr-dashboard .vtab__tablist__tab
  .tab-card
    display: flex
    align-items: center
    justify-content: space-between
    padding: $spacer
    padding-left: $spacer * 3

    &__info
      display: flex
      flex-direction: column
      align-items: flex-start
      flex-grow: 1

      div.info-value,
      div.info-label
        display: flex
        align-items: center

      div.info-value
        font-size: 13px
        padding-bottom: $spacer
        font-weight: 600

        .rate
          color: #0A1D38
          font-size: 18px

      div.info-label
        p.label-text
          color: $text-grey
          font-size: 14px

        span.info-icon
          padding-left: "calc(%s / 2)" % $spacer

        > span > i.i-info-outline
          font-size: 12px
          vertical-align: middle

    > i.i-chevron-right
      color: #3370DF
      font-size: 24px

.sr-dashboard .panel.dasboard-home-panel
  padding: $spacer * 3 $spacer * 1.5

  div.panel-actions
    margin-left: auto

    .panel-action-item
      margin-left: 0

.sr-dashboard
  .alert-danger
    padding: $spacer
    padding-right: 35px

  .alert-dismissable .close
    top: 2px

.sr-dashboard .row
  display: flex
  flex-wrap: wrap
  margin-left: -15px
  margin-right: -15px

.sr-dashboard .box-widget
  position: relative
  padding: $spacer * 3
  margin-bottom: $spacer * 3
  background: $bg-white
  border: 1px solid $widget-border
  border-radius: 2px

.vtab
  width: 100%
  display: flex
  flex-direction: row

  .vtab__tablist
    display: flex
    flex-direction: column
    border-right: 1px solid #E6E7E8

    .vtab__tablist__tab
      min-width: 300px
      background-color: $bg-white
      padding: $spacer
      color: $font-color
      font-size: 16px
      border-bottom: 1px solid #E6E7E8
      border-left: 0
      border-right: 0
      border-top: 0
      cursor: pointer
      outline: none

      &:last-child
        border-bottom: 0

      &:hover,
      &.selected
        background-color: #F5F8FE

  .vtab__tabpanel
    display: flex
    flex-direction: column
    flex-grow: 1
    padding: 10px 0 0 20px
    color: $font-color

// custom sr dashboard tooltip styles
#chartjs-tooltip.sr-chartjs-tooltip
  margin-left: 0
  width: auto

.sr-chartjs-tooltip
  .tooltip-caret
    display: block
    position: absolute
    margin: auto
    width: 0
    height: 0
    border-color: transparent
    border-style: solid
    border-width: 6px

    &.top.center,
    &.top.left,
    &.top.right
      border-bottom-color: $tooltip-border-color
      top: -13px

    &.bottom.center,
    &.bottom.left,
    &.bottom.right
      border-top-color: $tooltip-border-color
      bottom: -13px

    &.center.left
      border-right-color: $tooltip-border-color
      bottom: -13px

    &.center.right
      border-left-color: $tooltip-border-color
      bottom: -13px

  .title-wrap
    margin-bottom: 7px
    font-weight: 600

  .tooltip-body-wrap
    .line
      display: block
      width: 100%
      height: 1px
      background-color: #E1E5EB
      margin-top: 7px
      margin-bottom: 6px

    .tooltip-body-before
      display: flex
      align-items: center
      margin-bottom: -4px

      .time
        font-weight: 600
        margin-right: 8px

      .severity
        padding: 4px
        border-radius: 2px

      .severity.low
        background-color: #E5F1FF
        color: #2A86F3

      .severity.medium
        background-color: #F8F2E6
        color: #BD7A03

      .severity.high
        background-color: #FBEEEE
        color: #D12D2D

    .tooltip-body
      display: flex
      align-items: center

      .label-box
        width: 10px
        height: 10px
        display: block
        margin-right: 5px
        border-width: 2px
        border-radius: 100%
