.activation-form
  .mulitple-fields-group
    display: table
    margin: 8px auto
    width: 100%
    .field
      display: table-cell
      &:first-child
        width: 70%
      &:last-child
        width: 30%
        vertical-align: top
        label
          line-height: 30px
          margin-left: 5px
  .row-value
    .field
      margin: 10px 0
      label
        display: inline
  // align single fields with multi ones
  .only-field
    width: 70% !important

  .review-notes
    .issue-section
      width: 50%
      display: inline-block
      vertical-align: top
.email-preview
  .issues-list
    list-style-type: decimal
    margin-left: 24px
  .issues-comment
    margin-left: 10px
  .grievance-link
    border-bottom: none

