.downtime-form
  width: 500px
  .ant-calendar-picker-input
    margin-left: 10px

form.full-span.downtime-form .post-field-icon
  right: 28%

.downtime-list
  .table-container
    width: calc(100% - 150px)
    border-right: 2px solid #eee
    .tr .th:last-child, .tr .td:last-child
      background: #fff
      right: 0
      position: absolute
      width: 150px
    
    .tr .td:last-child
      border-top: 1px solid #eee
      border-bottom: none