.entities-list
  .shield-rules
    margin-right: 7px
    border-bottom: none
    &:not(:last-child)
      &::after
        content: ','

.types-select
  height 160px;
  .field
    width: calc(100% - 20px)

.multi-select.terminal-types__Tether
  max-height: 200px
