/* Styles for Merchant module */


// Put in components class with new file
.btn-primary
  background-color:#7266ba
  color: #fff
  text-align: center

.entity-container.merchant
  width 75%
  min-width: 800px
  margin: 30px auto

  aside
    display: flex
    flex-direction: column
    width: 30%
    max-width: 350px
    min-width: 200px
    padding: 16px
    border-right: 1px solid #edf1f2 // TODO: Take from theme variable file

    > div, > a
      padding: 12px 8px
      border: 1px solid #edf1f2
      margin-top: -1px;

    .heading
      background-color: #edf1f2
      margin-bottom: 28px


