.orgs-form-btn
  position: fixed
  bottom: 0px
  margin: 0 auto
  left: 230px
  right: 30px
  background-color: #fff
  height: 60px
  box-shadow: 0 -5px 5px -5px #b2b2b2

.orgs-form-container
  padding-bottom: 60px;
  background-color: #fff