.pricing-container
  .pricing-header
    .field
      label, input
        display: inline-block
        margin-right: 8px

      input
        width: 270px

  .table-container
    .custom-range-cnt input
      width: 100px

