.refund-reports
  .table
    .td
      min-width: 105px;

.refund-errors-modal
  .table
    .td
      max-width: none;

#refunds-search-form
  .multi-select
    max-width: 172px;
    .PowerSelect__Trigger
      .PowerSelectMultiple__SelectedOptions >li
        margin-top: 0;
  .action-btns
    transform: translateY(30%);

.refunds-tabs-box
  margin-bottom: -29px;
  .tabs-nav
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    position: relative;

    li
      display: inline-block;
      cursor: pointer;
      text-align: center;
      background-color: #fff;
      box-shadow: 0 4px 7px rgba(0,0,0,.08);

      a
        display: block;
        padding: 10px 14px;
      i
        margin-right: 6px;

      &.selected
        border-bottom: 2px solid #528ff0;
        color: #5e70d2;

  .tabs-control
    padding: 10px
    overflow: auto
    border-top: 1px solid #edf1f2;

    .pill
      cursor: pointer;

    .prev
      float: left;

    .next
      float: right;

.list-container.refunds
  .refunds-list
    .tr
      //checkbox in table 1st row
      div:first-of-type
        min-width: 0;
        .field
          vertical-align: middle;
          label
            width: 0;

  .bulk-actions
    margin-bottom: 0;
    min-height: 52px;

    .download-selected
      position: relative;
      top: 17px;
      font-size: 13px;

.cache_age
  font-size: 0.5em;
  margin: 0;
  display: block;
  position: relative;
  margin-top: -10px;
  margin-bottom: -15px;