.approved-state
  background-color: #fc9700

.executed-state
  background-color: #17C446

.closed-state
  background-color: #F14F4B

.rejected-state
  background-color: #F14F4B

.open-state
  background-color: #FCCB00


.requests-container
  .status
      float: right

  .secondary-label
    font-size: 12px
    color: #8a8a8a

  .requests-content, .requests-actions
    display: inline-block
    vertical-align: top

  /* Requests main content */
  .requests-content
    display: inline-block
    vertical-align: top
    width: 75%

    form
      overflow: auto
      border-bottom: 1px solid $faded-color

    form, .levels-container, .comments-containers
      padding: 0 30px
      margin-top: 16px

    .levels-label
      margin: 10px

    .levels-container
        margin: 20px 0
    .level
      padding: 10px

      &.inactive
        opacity: 0.5

        span
          margin-left: 50px
          padding: 5px 10px
          border-radius: 4px

          &.level-box
            background-color: #ebebeb

    .comments-container
      .comment-list
        margin: 30px
        border: 1px solid #efefef;
        background-color: $subtle-color;

      .comment
        padding: 15px 20px

        &:not(:first-child)
          border-top: 1px solid $faded-color

        .comment-body
          line-height: 18px;

      form textarea
        width: 100%
        margin-left: 0





  /* Requests aside content */
  .requests-actions
    display: inline-block
    margin: 30px 0
    width: 20%
    text-align: center

    .header
      margin: 16px 0 8px

    .btn
      display: block

      i
        vertical-align: middle
        padding: 4px
        line-height: 8px
        margin-right: 4px
        font-size: 8px
        border-radius: 50%
        color: #fff

    .pills
      margin: 6px;
      background-color: #fff
      color: $color-semi-muted
      display: inline-block

    .separate
      margin-top: 10px
      border-color: #e2e2e2

