.Modal-container--admin .edit-terminal-banks-modal
  min-width: 700px

  .Modal-body
    padding: 0
    
  .form-fields
    padding: 24px;
    max-height: calc(90vh - 140px)
    overflow: auto

  .form-actions
    border-top: 2px solid #eee
    background: #f0f3f4
    padding: 5px 20px
    font-size: 20px
    text-align: right 

  .enabled-column, .disabled-column
    width: 50%
    display: inline-block
    vertical-align: top
    padding: 0 5px
  
  .banks-list
    border: 1px solid #edf1f2

  .field
    width: 100%
    margin: 2px 10px
    
    .m-r
      width: 80%
      display: inline-block