.checkout-settings
  margin-top: 24px
  padding: 24px
  .header-wrapper
    border-bottom: 1px solid #e9ecf1;

  .checkout-headings
    color: #344a6c
  .checkout-settings-toggle
    margin-top: 22px
    width: 100%
    .setting-label
      display: flex
      width: 26%
      align-items: center
      .i-info-outline
        margin-top: 4px
        margin-left: 6px
        font-size: 16px
        .rzp-popover-content > .rzp-popover-body
          font-style: normal

    .setting-toggle
      .checkbox-knob
        margin-top: 4px
      .toggle-status
        padding-left: 12px
      .text-faded
        color: #99a6ad
      .text-primary
        color: #528FF0
  
  .save-cta
    float: right
    margin: 16px 0
    position: relative
    top: 28px
    left: 24px

.magic-settings-toggle
  width: 100%
  .checkout-settings-toggle
    width: 100%
    .setting-label
      width: 16%
      .i-info-outline
        margin-top: 4px;
        margin-left: 6px;
        font-size: 16px;
        .rzp-popover-content > .rzp-popover-body
          font-style: normal

    .setting-toggle
      align-items: center
      .toggle-status
        padding-left: 12px
      .text-faded
        color: #99a6ad
  .Modal-container--disable-magic-modal
    padding: 24px
    width: 382px
    max-width: 100%
    .header
      padding: 0
      font-size: 18px
      font-weight: 700
      color: #333333
      background: #fff
      border: none
    .modal-body
      padding: 10px 0 0
      .modal-description
        .content
          padding-bottom: 30px
        .form-content
          padding-bottom: 24px
        .btn-section
          display: flex
          justify-content: center
          .Button
            padding: 10px 44px
          .succes-mtu-btn
            margin-right: 0
          .secondary-btn
            border: 1px solid #528ff0
            margin-right: 24px
            box-shadow: none
            &:hover
              background-color: #fff
              box-shadow: none
        .reason-form
          .reason-title
            font-size: 14px
            font-weight: 700
            &::after
              content: "*"
              color: #f04f50
              font-size: 16px
              position: relative
              top: 2px
          .Input--large
            padding-top: 4px
            margin-top: 0
            margin-bottom: 36px
            .Input-label
              font-weight: normal
              margin-bottom: 6px
              line-height: 24px
            .Input-elWrapper
              width: 334px
              max-width: 100%
          .desc-invalid
            .Input-content
              .Input-el
                border-color: #e2e2e2
            .Input-error
              display: none
      .Input--radio
        margin: 16px 0 0 10px
        .Input--radioLabels
          display: flex
          flex-direction: column
          label
            margin-bottom: 16px
            .Input-radio
              margin-right: 10px
