.magic-cod
  padding: 24px

  .header-wrapper
    .cod-settings-toggle
      margin: 16px 0

      .setting-label
        width: 25%

      .toggle-status
        margin-left: 15px

      .setting-toggle
        align-items: center

        label
          margin-bottom: 0

        .width-full > .slabs-container > .toggler-btn
          top: 0

        .toggle-status
          top: -2px

      .rzp-popover-content > .rzp-popover-body > p
        line-height: 18px

    .heading
      color: #354A6B
      margin-bottom: 8px

    .subtext
      color: #546582

  .cod-settings
    margin: 24px 0
