.magic-intelligence
  margin-top: 24px
  padding: 24px
  .header-wrapper
    border-bottom: 1px solid #e9ecf1;

    .magic-intelligence-toggle
      margin: 16px 0

    .heading
      color: #354A6B
      margin-bottom: 8px

    .subtext
      color: #546582

  .magic-intelligence-shiprocket
    margin: 24px 0