.magic-intelligence
  margin-top: 24px
  padding: 24px

  .header-wrapper
    .magic-intelligence-toggle
      margin: 16px 0

      .toggle-container
        align-items: center

        label
          margin-bottom: 0

        .width-full > .slabs-container > .toggler-btn
          top: 0

        .toggle-status
          top: -2px

      .rzp-popover-content > .rzp-popover-body > p
        line-height: 18px

    .heading
      color: #354A6B
      margin-bottom: 8px

    .subtext
      color: #546582

  .rto-settings-info-container
    margin-top: 16px
    background: #DF870017
    padding: 10px 8px
    grid-gap: 8px

    .i-info-outline
      color: #DF8700
      position: relative
      top: 4px

    .info-text
      color: #435775
      font-size: 12px

  .magic-intelligence-shiprocket
    margin: 24px 0
