$border-color = #E0E8F4
$text-blue = #2B83EA

.native-coupon-container
  .Input
    display: flex
    margin: 8px 0 24px

    .Input-label
      width: 30%
    
    .Input-content
      width: 320px
  
  .next-cta
    margin: 16px 0
    text-align: right

  
.native-shipping-wrapper

  .native-shipping-header
      padding: 16px 16px 24px
      border-bottom: 1px solid #e9ecf1
    
    .native-shipping-heading
      margin-bottom: 24px
    
    .native-shipping-provider
      margin-right: 24px
    
    .view-edit
      color: $text-blue
      .view-edit-icon
        margin-right: 8px

.native-platform-settings-card
  max-width: 420px
  margin: 12px 0
  border: 2px solid $border-color

.wooc-settings-card.native-shipping-card
  padding-bottom: 30px

.native-shipping-card
  .native-shipping-card-content
    justify-content: space-between

    .native-card-edit
      text-align: right

.wooc-settings-card
  max-width: 500px
  padding: 30px 16px 60px
  
  .wooc-settings-card-widget
    border: 1px solid $border-color
    border-radius: 4px

    .wooc-settings-card-widget-content
      max-width: 75%
      word-break: break-word
      flex-direction: column
    
    .wooc-settings-card-widget-wrapper
      justify-content: space-between

    .native-card-edit
      min-width: 120px

    .setting-card-item
      padding: 16px 24px 2px

    .setting-card-item-last
      padding-bottom: 16px

  .native-card-edit
    color: $text-blue
    width: 90px

  .native-settings-edit-icon
    margin-left: 24px
    margin-right: 8px
    color: $text-blue
