.magic-settings-tabs
  min-height: 500px
  margin: 16px 0
  border: 1px solid #e9ecf1
  box-shadow: 1px 2px 5px #0000000d, inset 0 2px 0 #5159781a
  border-radius: 0 0 4px 4px
  
  .tabs-container
    min-width: 16%
    background: #f3f4f6

    .tabs-items
      color: #999999

    .tabs-items.active
      background: #FFFFFF
      color: #528FF0
      border-left: 4px solid #528ff0
  
  .tabs-content
    width: 85%
    
    .tab-heading
      padding: 24px 40px 16px
      color: #344A6C

    .tab-padding
      paddin-top: 24px

    .tabs-component
      margin: 0 24px 18px
      background: #fafcff

      .tabs-component-wrapper

        .content-wrapper
          padding: 0
        
        .tab-wrapper
          padding: 24px 16px

        .Input-elWrapper.Select-elWrapper::before
          margin-top: 20px

        .Input-el
          height: 44px

        .slabs-input-container
          
          .Input-el
            height: 36px

          .Input--disabled
            opacity: 1

        .Input-el:disabled
          color: #33333399
          background: #f8f8f8

        .slabs-container

          .Input-el
            height: 0
