.loan-application-disabled-wrapper 
  padding: 20px
  border-radius: 6px
  color: #E7E8EC
  border: 1px solid #f54a2a52
  box-sizing: border-box
  border-radius: 4px

  .flex 
    display: flex
    align-items: center
  
  .title-wrapper 
    i 
      margin: 4px 6px 0 0
      font-size: 18px
      color: #EE6619

  .title 
    font-weight: bold
    font-size: 16px
    line-height: 22px

  .description 
    margin-top: 12px
    font-weight: normal
    font-size: 13px
    line-height: 19px
    color: #D1D2DA

  .tips-container 
    margin-top: 12px

    .wrapper 
      margin-top: 6px

    .flex 
      display: flex
      align-items: center
      
    i 
      font-size: 12px

    .tip 
      margin: 0 0 0 8px

  .subtitle 
    font-weight: bold
    font-size: 12px
    line-height: 18px
    text-transform: uppercase
    margin-top: 28px

  .action-point 
    margin-top: 12px

  .cta 
    margin-top: 24px
    font-weight: bold
    font-size: 14px
    line-height: 20px
    padding: 8px 29px 8px 24px

    i 
      margin-left: 8px
    
  

