.route-settlements-modal
  position: absolute
  top: 130px

.onmdemand-modal
  .enable-scheduled-small-banner
    display: flex
    flex-direction: column
    gap:2px
    color: #515978
    &__header
      font-weight: 600
      font-size: 14px
      line-height: 20px
    &__content
      font-weight: 400
      font-size: 14px
      line-height: 20px
  .overflow-box
    .spinner-wrapper-center
      display: flex
      justify-content: center
      align-content: center
      min-height: 170px
    .settlement-message
      border-left: 2px solid #ADBCC9
      margin: 8px 0px 17px
      padding: 0px 8px
      color: #7B8199
      font-weight: 400
      font-size: 12px
      line-height: 20px
    .linked-account-input
      .Input-el
        background: #F9F9FB
        color: #5D6D86
        border: none
      .Input-addons
        background: #b2b2bc1a
      .Input--disabled
        opacity: 1