.banner-container
    display: flex
    align-items: center
    padding: 12px 
    padding-left: 28px
    margin: 30px -32px -30px -32px
    gap: 8px
    background: #009c5c17
    .banner-icon
        width: 17.25px
        height: 16.5px
    .banner-text
        font-weight: 400
        font-size: 14px
        line-height: 20px
        color: #132644
        padding-right: 4px   
    .change-preference-link 
        font-weight: 600
        font-size: 12px
        padding: 4px 8px
        line-height: 20px
        text-transform: uppercase
        background: #2A86F3
        border: 1px solid #2A86F3
        border-radius: 2px
        color: #FFFFFF