.custom-btn {
  label {
    color: #fff !important;
    background-color: #7266ba;
    border-color: #7266ba;
    z-index: 2;
    padding: 6px 12px;
    margin-bottom: 18px;
    cursor: pointer;

    &:hover {
      background-color: #6254b2;
      border-color: #6254b2;
    }

    &:active {
      box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
      color: #58666e !important;
      background-color: #edf1f2;
      border-color: #adadad;
    }

    .glyphicon {
      margin-right: 8px;
    }
  }
  .input-btn {
    display: none;
  }
}
