.step-wrapper 
  .step-div 
    text-align: right
    margin: 5px

  .particular-step-wrapper 
    display: flex
    margin-right: 5px

    .particular-step 
      clip-path: polygon(6% 0, 100% 0%, 95% 50%, 0 50%)
      width: 46px
      background: #E8EAEE
      height: 12px
      margin-left: 0

      &.active 
        background: #008659
