@include('partials/head')

<link rel='shortcut icon' href='{{asset('img/logo.png')}}'>
<link rel='stylesheet' href='css/generated{{asset('style.css')}}' type='text/css' />

@include('partials/common')

<!-- jQuery & angular -->
<script src='{{asset('js/generated/pre.js')}}'></script>
<!-- Merchant Js-->
<script src='{{asset('js/generated/merchant.js')}}'></script>
<!-- supportkiy code -->
@include('partials/supportkit')

@include('partials/footer')
