<div ng-controller="RolesCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">
      Roles - Total {{count}}
      <spinner class="inline"></spinner>
    </h1>
  </div>
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading">
        List of all Roles
      </div>
      <div class="row wrapper">
        <div class="col-md-6 m-b-xs">
          <label for='filter' class='m-r'>Search</label>
          <input id="filter" type="text"
            class="form-control input-sm w-sm inline m-r">
        </div>
         <div class="col-md-6">
            <a id='addRoleButton' class='btn btn-default pull-right' ui-sref='app.roles.add'>
              Add a Role
            </a>
          </div>
      </div>
      <div>
        <table ui-jq="footable" data-filter="#filter" data-page="false" class="merchants-table table-responsive table table-striped b-t b-light">
          <thead>
            <tr>
              <th>Role Id</th>
              <th>Name</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in roles" class="merchants-table-body">
              <td>{{row.id}}</td>
              <td>{{row.name}}</td>
              <td>{{row.description}}</td>
              <td>
                <a class="btn-role-delete" ng-confirm-click="Are you sure you want to delete this role?" ng-click="deleteRole(row.id)">
                  <i class="fa fa-user-times text-danger" tooltip="Delete"></i>
                </a>
                <a tooltip="Edit Role">
                  <i class="fa fa-pencil-square"></i>
                </a>
              </td>
            </tr>
            <tr ng-show="roles.length === 0">
              <td colspan="7">No Roles</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
