<div class="bg-light lter b-b wrapper-md" ng-controller="EntityDetailCtrl">
  <h1 class="m-n font-thin h3">
    Payment Detail ({{mode + " Mode"| titlecase }})
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md payment-wrapper" ng-controller="EntityDetailCtrl" ng-init="generate('payment')">
  <div ng-controller="PaymentDetailCtrl">
    <div class="panel panel-default col-sm-6 col-sm-offset-3" >
      <div class="panel-heading m-t m-b">
        Payment Id: <strong>{{entity.id}}</strong>
      </div>
    <div class="text-center m-t">
      <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
    </div>
      <div class="row wrapper">
        <div class="list-group">
          <a class="list-group-item" ui-sref="app.merchants.detail({id:entity.merchant_id})">
            <span class="pull-right">
              {{entity.merchant_id}}
            </span>
            Merchant Id
          </a>
          <a href class="list-group-item">
            <span class="pull-right">{{entity.amount/100 | rupee}}</span>
            Amount
          </a>
          <a href class="list-group-item">
            <span class="pull-right">
              {{entity.method|titlecase}}
            </span>
            Payment Method
          </a>
          <a href class="list-group-item" ng-show="entity.method==='netbanking'">
            <span class="pull-right">
              {{entity.bank}}
            </span>
            Netbanking Bank
          </a>
          <a href class="list-group-item" ng-show="entity.method==='wallet'">
            <span class="pull-right">
              {{entity.wallet}}
            </span>
            Wallet
          </a>
          <a ui-sref="app.entitiesdetail({mode:mode, type: 'card', id:entity.card_id})" class="list-group-item" ng-show="entity.method==='card'">
            <span class="pull-right">
              {{entity.card_id}}
            </span>
            Card Id
          </a>
          <a ui-sref="app.entitiesdetail({mode:mode, type: 'customer', id:entity.customer_id})" class="list-group-item" ng-show="entity.customer_id!==null">
            <span class="pull-right">
              {{entity.customer_id}}
            </span>
            Customer Id
          </a>
          <a ui-sref="app.entitiesdetail({mode:mode, type: 'emi_plan', id:entity.emi_plan_id})" class="list-group-item" ng-show="entity.method==='emi'">
            <span class="pull-right">
              {{entity.emi_plan_id}}
            </span>
            EMI Plan Id
          </a>
          <a ui-sref="app.entitiesdetail({mode:mode, type: 'order', id:entity.order_id})" class="list-group-item" ng-show="entity.order_id!==null">
            <span class="pull-right">
              {{entity.order_id}}
            </span>
            Order Id
          </a>
          <a href class="list-group-item">
            <span class="pull-right">
              {{entity.gateway|titlecase}}
            </span>
            Gateway
          </a>
          <a href class="list-group-item">
            <span class="label text-base pull-right" title="{{entity.status}}" ng-class="getStatusClass(entity.status)">{{entity.status | titlecase}}</span>
            Status
          </a>
          <a href class="list-group-item">
            <span class="pull-right">{{entity.amount_authorized/100 | rupee}}</span>
            Amount Authorized
          </a>
          <a href class="list-group-item">
            <span class="pull-right">{{entity.amount_refunded/100 | rupee}}</span>
            Amount Refunded
          </a>
          <a href class="list-group-item">
            <span class="pull-right" ng-show="entity.refund_status">{{entity.refund_status | titlecase}}</span>
            <span class="pull-right" ng-hide="entity.refund_status">None</span>
            Refund Status
          </a>
          <a href class="list-group-item">
            <span class="pull-right">{{entity.currency}}</span>
            Currency
          </a>
          <a href class="list-group-item">
            <span class="pull-right">{{entity.description}}<span ng-hide="entity.description">No Description</span></span>
            Description
          </a>
          <a href class="list-group-item">
            <span class="pull-right" ng-class="displayClass(entity.error_code)">
              {{displayValue(entity.error_code)}}
            </span>
            Error
          </a>
          <div href class="list-group-item panel-body">
            <span class="pull-right col-lg-8 text-right" ng-class="displayClass(entity.error_code)">
              {{displayValue(entity.error_description)}}
            </span>
            Error Description
          </div>
          <div href class="list-group-item panel-body" ng-show="entity.internal_error_code">
            <span class="pull-right col-lg-8 text-right">
              {{displayValue(entity.internal_error_code)}}
            </span>
            Internal Error Code
          </div>
          <a href class="list-group-item">
            <span class="pull-right">{{entity.email}}</span>
            Email
          </a>
          <a href class="list-group-item">
            <span class="pull-right">{{entity.contact}}</span>
            Contact
          </a>
          <a href class="list-group-item" ng-init="isCollapsed = false">
            <span class="pull-right">
              <button class="btn btn-default btn-xs pull-right"  ng-click="isCollapsed = !isCollapsed" ng-show="entity.notes.length != 0">Show/Hide</button>
              <span ng-hide="entity.notes.length != 0">No Notes</span>
            </span>
            Notes
          </a>
          <div collapse="isCollapsed" class="panel-body">
            <a href class="list-group-item" ng-repeat="(label,key) in entity.notes">
              <span class="pull-right">{{key}}</span>
              {{label}}
            </a>
          </div>
          <a ui-sref="app.entitiesdetail({mode:mode, type: 'transaction', id:entity.transaction_id})" class="list-group-item" ng-disable="!entity.transaction_id">
            <span class="pull-right" ng-class="displayClass(entity.transaction_id)">
              {{displayValue(entity.transaction_id)}}
            </span>
            Transaction Id
          </a>
          <a href class="list-group-item">
            <span ng-class="displayClass(entity.authorized_at)" class="pull-right">{{timestamp(entity.authorized_at)}}</span>
            Authorized At
          </a>
          <a href class="list-group-item">
            <span ng-class="displayClass(entity.created_at)" class="pull-right">{{timestamp(entity.created_at)}}</span>
            Created At
          </a>
          <a href class="list-group-item">
            <span ng-class="displayClass(entity.updated_at)" class="pull-right">{{timestamp(entity.updated_at)}}</span>
            Updated At
          </a>
          <a href class="list-group-item">
            <span ng-class="displayClass(entity.captured_at)" class="pull-right">{{timestamp(entity.captured_at)}}</span>
            Captured At
          </a>
          <a class="list-group-item" ui-sref="app.entitiesdetail({mode:mode, type: 'terminal', id:entity.terminal_id})">
              <span class="pull-right">
                {{entity.terminal_id}}
              </span>
            Terminal Id
          </a>
          <a href class="list-group-item">
            <span class="pull-right" tooltip="{{entity.signed ? 'signed' : 'Not signed'}}">
              <i class="fa" ng-class="{'fa-check text-success': entity.signed === true, ' fa-times text-danger':entity.signed === false}"></i>
            </span>
            Signed
          </a>
          <a href class="list-group-item">
            <span class="pull-right" tooltip="{{getVerifiedStatus()}}">
              <i class="fa" ng-class="{'fa-check text-success': entity.verified === 1, ' fa-times text-danger':entity.verified === 0, 'fa-meh-o': entity.verified===null}"></i>
            </span>
            Verified
          </a>
          <a class="list-group-item" ng-repeat="key in keysNotShown()"
            ng-init="value = entity[key]"
          >
            <span class="pull-right" ng-class="displayClass(value)">
              {{displayValue(value)}}
            </span>
            {{key|titlecase}}
          </a>
          <a href class="list-group-item"  ng-init="isRefundsCollapsed = true">
            <span class="pull-right">
              <button class="btn btn-default btn-xs pull-right"  ng-click="showRefunds()" ng-show="entity.refund_status">Show/Hide</button>
              <span ng-hide="entity.refund_status">No Refunds</span>
            </span>
            Refunds
          </a>
          <div collapse="isRefundsCollapsed" class="panel-body">
            <a class="list-group-item" ng-repeat="refund in entity.refunds" ui-sref="app.entitiesdetail({id:refund.id, mode:mode, type: 'refund'})">
              <span class="pull-right">{{refund.created_at*1000 | date:'medium'}}</span>
              {{refund.amount/100 | rupee}}
              <code>{{refund.id}}</code>
            </a>
          </div>
        </div>
        <div class="text-center">
          <span ng-show="entity.status==='authorized'">
            <script type="text/ng-template" id="captureModalContent.html">
              <div class="modal-header">
                <h3 class="modal-title">Capture Payment</h3>
              </div>
              <div class="modal-body">
                  <form>
                  <label>Amount to capture (in Paisa):</label>
                    <input type="text" placeholder="Amount to Capture (in Paisa)" class="form-control" ng-model="amount">
                  </form>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                  <button class="btn btn-primary" ng-click="ok(amount)">OK</button>
              </div>
            </script>
            <button  class="btn btn-primary btn-rounded" busy="Please Wait..." busy-disabled="false" ng-click="openCaptureModal()">Capture Payment</button>
            <button  class="btn btn-warning btn-rounded" busy="Please Wait..." busy-disabled="false" ng-click="refundAuthorized()" ng-confirm-click="This will refund an authorized payment. Are you sure?">Refund Payment</button>
          </span>
          <span>
            <button
              ng-show="entity.status==='captured' && entity.refund_status !== 'full'"
              class="btn btn-primary btn-rounded" busy="Please Wait..." busy-disabled="false" ng-click="openRefundModal()"
            >
              Refund Payment
            </button>
          </span>
          <button class="btn btn-default btn-rounded" ng-click="verifyPayment()">Verify Payment</button>
          <button ng-show="entity.status==='failed' && entity.verified===0" class="btn btn-default btn-rounded" ng-click="authorizeFailedPayment()">Authorize</button>
          <a ui-sref="app.entitiesdetail({type:'payment', mode: mode, id: entity.id})"
            class="btn btn-primary btn-rounded"
          >View as Entity
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="refundModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Refund Payment</h3>
  </div>
  <div class="modal-body">
    <form ng-init="partial=false" class="form-horizontal">
      <div class="form-group">
        <label class="col-lg-3 control-label" for="partial">Partial Refund</label>
        <div class="col-lg-9">
          <div class="checkbox">
            <label class="i-checks">
              <input ng-model="partial" type="checkbox">
              <i></i>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label" for="partial">Comment</label>
        <div class="col-lg-9">
          <div class="input-group" style="width: 100%">
            <input required type="text" class="form-control" name="comment" ng-model="comment" placeholder="Add a comment (visible to merchant)">
          </div>
        </div>
      </div>

      <div class="form-group" ng-show="partial">
        <label class="col-lg-3 control-label" for="amount">Refund Amount</label>
        <div class="col-lg-9">
          <div class="input-group">
            <span class="input-group-addon">INR</span>
            <input type="text" class="form-control m-b" name="amount" ng-model="amount" placeholder="{{amount}}">
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <div class="col-lg-12 col-sm-12" ng-model="adminEmail">
      The payment will be
        <span ng-show="partial">partially</span>
        <span ng-show="!partial">completely</span>
      refunded with the refund amount set to {{amount}} INR.
    </div>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button ng-disabled="!valid(amount, comment)" class="btn btn-primary" ng-click="ok(amount, comment)" ng-confirm-click="Are you sure you want to refund this payment?">OK</button>
  </div>
</script>
