<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Activation Form
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md activation-wrapper" ng-controller="MerchantActivationCtrl" ng-init="getData()">
  <div class="text-center m-t m-b">
    <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
  </div>
  <div class="panel panel-default" >
    <div class="panel-heading m-t m-b">
      Merchant: <a ui-sref="app.merchants.detail({id:merchant.id})"><strong>{{merchant.id}}</strong></a>
    </div>
    <div class="row wrapper">
      <div class="list-group">
        <div class="list-group-item">
          <span class="pull-right">{{merchant.name}}</span>
          Name
        </div>
        <a href="mailto:{{merchant.email}}" class="list-group-item">
          <span class="pull-right">{{merchant.email}}</span>
          Email
        </a>
        <div href class="list-group-item">
          <span class="pull-right" tooltip="{{merchant.submitted == 1 ? 'Submitted' : 'Not Submitted'}}">
            <i class="fa" ng-class="{'fa-check text-success': merchant.submitted == 1, ' fa-times text-danger':merchant.submitted == 0}"></i>
          </span>
          Activation Form Submitted
        </div>
        <div href class="list-group-item">
          <span class="pull-right" tooltip="{{merchant.locked == 1 ? 'Locked' : 'Unlocked'}}">
            <i class="fa" ng-class="{'fa-lock': merchant.locked == 1, ' fa-unlock':merchant.locked == 0}"></i>
          </span>
          Activation Form Status
        </div>
        <div href class="list-group-item">
          <span class="pull-right" tooltip="{{merchant.activated == 1 ? 'Activated' : 'Not Activated'}}"><i class="fa" ng-class="{'fa-check text-success': merchant.activated == 1, 'fa-times text-danger':merchant.activated == 0}"></i></span>
          Activated
        </div>
        <div class="list-group-item" ng-show="data.locked">
          <span class="pull-right">
            <label class="i-switch m-t-xs m-r">
              <input type="checkbox" name="admin_force_edit" ng-model="admin_force_edit"><i></i>
            </label>
          </span>
          Force Edit
          <span class="help-block">
            The activation form is locked, please click this to confirm you want to edit the details.
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default" >
    <div class="panel-heading m-t m-b">
      Merchant Activation Form
    </div>
    <div ng-include="'/tpl/common/activation_form.html'"></div>
  </div>
</div>
