<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Groups
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default" ng-controller="AddGroupCtrl">
    <div class="panel-heading">
      {{ group_id ? 'Edit ' + group_id : 'Add a new Group' }}
    </div>
    <div class="text-center m-t">
      <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div class="panel-body b-b b-light">
      <form class="form-horizontal form-validation">
        <div class="form-group">
          <label for='name' class="col-lg-2 control-label">Name</label>
          <div class="col-lg-10" >
            <input type="text" class="form-control m-b" name="name" ng-model="group.name" />
          </div>
        </div>
        <div class="form-group">
          <label for='description' class="col-lg-2 control-label">Description</label>
          <div class="col-lg-10" >
            <input type="text" class="form-control m-b" name="description" ng-model="group.description" />
          </div>
        </div>
        <div class="form-group">
          <label for='description' class="col-lg-2 control-label">Sub Groups</label>
          <div class="col-lg-10 scrollable-table">
            <table ui-jq="footable" data-page-size="10000" class="table table-striped b-t b-light">
              <thead>
                <tr>
                  <th data-sort-ignore="true">
                    <input type="checkbox" id="select_all_groups" ng-model='select_all_groups' ng-change='selectAllGroups()'>
                  </th>
                  <th>Group</th>
                  <th>Group description</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(key, row) in groups">
                  <td><input type="checkbox" name='groups[]' ng-model='selected_groups[row.id]' value="{{row.id}}"></td>
                  <td>{{row.name}}</td>
                  <td>{{row.description}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel-footer">
          <div class="center col-lg-2">
            <button class="btn btn-primary panel-ok col-lg-12" ng-click='save(group)'>Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
