<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Merchant Detail</h1>
</div>
<div class="wrapper-md" ng-controller="MerchantDetailCtrl">
  <div class="panel panel-default col-sm-2 col-sm-offset-2" >
    <div class="panel-heading m-t m-b">
      Actions
    </div>
    <div class="row wrapper">
      <div class="list-group">
        <a href="{{'/admin/merchant/' + merchant.id + '/login'}}" target="_blank" class="list-group-item">
          Login as Merchant
        </a>
        <a ui-sref="app.merchants.activation({id:merchant.id})" class="list-group-item">
          See Activation Form Details
        </a>
        <a href class="list-group-item" ng-show="merchant.locked==0 "ng-click="lockForm()">
          Lock Activation Form
        </a>
        <a href class="list-group-item" ng-show="merchant.locked==1 "ng-click="unlockForm()">
          Unlock Activation Form
        </a>
        <a href class="list-group-item"
        ng-show="merchant.activated==0" 
        ng-confirm-click="Are you sure you have validated all merchant details, assigned pricing plan and terminal to merchant before activating? 
        "ng-click="activateMerchant()"
        >
          Activate Merchant
        </a>
        <a href class="list-group-item" ng-click="openAssignPricing()">
          Assign Pricing
        </a>
        <a href class="list-group-item" ng-hide="merchant.terminal.length" ng-click="openAssignTerminal()">
          Assign Terminal
        </a>
      </div>
    </div>
  </div>
  <div class="panel panel-default col-sm-6" >
    <div class="panel-heading m-t m-b">
      Merchant: <strong>{{merchant.id}}</strong>
    </div>
    <div class="text-center m-t">
      <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div class="row wrapper">
      <div class="list-group">
        <a href class="list-group-item">
          <span class="pull-right">{{merchant.name}}</span>
          Name
        </a>
        <a href class="list-group-item">
          <span class="pull-right">{{merchant.email}}</span>
          Email
        </a>
        <a href class="list-group-item">
          <span class="pull-right">{{merchant.created_at*1000 | date:'medium'}}</span>
          Registeration Date
        </a>
        <a href class="list-group-item">
          <span class="pull-right" tooltip="{{merchant.confirm_token == null ? 'Confirmed' : 'Not Confirmed'}}"><i class="fa" ng-class="{'fa-check text-success': merchant.confirm_token == null, 'fa-times text-danger':merchant.confirm_token != null}"></i></span>
          Confirmed
        </a>
        <a href class="list-group-item">
          <span class="pull-right">
            <b class="badge bg-success dk">{{merchant.activation_progress}}%</b>
          </span>
          Activation Form Progress
        </a>
        <a href class="list-group-item">
          <span class="pull-right" tooltip="{{merchant.submitted == 1 ? 'Submitted' : 'Not Submitted'}}">
            <i class="fa" ng-class="{'fa-check text-success': merchant.submitted == 1, ' fa-times text-danger':merchant.submitted == 0}"></i>
          </span>
          Activation Form Submitted
        </a>
        <a href class="list-group-item">
          <span class="pull-right" tooltip="{{merchant.locked == 1 ? 'Locked' : 'Unlocked'}}">
            <i class="fa" ng-class="{'fa-lock': merchant.locked == 1, ' fa-unlock':merchant.locked == 0}"></i>
          </span>
          Activation Form Status
        </a>
        <a href class="list-group-item">
          <span class="pull-right" tooltip="{{merchant.activated == 1 ? 'Activated' : 'Not Activated'}}"><i class="fa" ng-class="{'fa-check text-success': merchant.activated == 1, 'fa-times text-danger':merchant.activated == 0}"></i></span>
          Activated
        </a>
        <div href class="list-group-item" ng-init="isPricingCollapsed = true">
            <span class="pull-right">
              <button class="btn btn-default btn-xs"  ng-click="isPricingCollapsed = !isPricingCollapsed" ng-show="merchant.pricing_plan.length != 0">Expand</button>
              <span ng-hide="merchant.pricing_plan.length != 0">No Pricing Assigned</span>
            </span>
          Pricing Plan
        </div>
          <div collapse="isPricingCollapsed" class="panel-body">
            <a href class="list-group-item">
              <span class="pull-right">{{merchant.pricing_plan.id}}</span>
              Plan Id
            </a>
            <div class="list-group-item">
              <span class="pull-right"><a ui-sref="app.pricing.detail({id:merchant.pricing_plan.id})" ng-show="merchant.pricing.length != 0">{{merchant.pricing_plan.name}} (Click to see/edit plan)</a></span>
              Plan Name
            </div>
            <div class="list-group-item">
              Plan Rules
              <div class="m-t list-group-item">
                <table class="table table-striped b-light">
                  <thead>
                        <th>Payment Mode</th>
                        <th>Payment Mode Type</th>
                        <th>Payment Network</th>
                        <th>Payment Issuer</th>
                        <th>Percent Rate</th>
                        <th>Fixed Rate</th>
                  </thead>
                  <tbody>
                  <tr ng-repeat="rule in merchant.pricing_plan.rules">
                        <td>{{rule.payment_mode || 'Any'}}</td>
                        <td>{{rule.payment_mode_type || 'Any'}}</td>
                        <td>{{rule.payment_network || 'Any'}}</td>
                        <td>{{rule.payment_issuer || 'Any'}}</td>
                        <td>{{rule.percent_rate/100}} %</td>
                        <td>{{rule.fixed_rate/100 | currency:"INR "}}</td>     
                  </tr>
                </tbody>
                </table>
              </div>
            </div>
          </div>
        <a href class="list-group-item" ng-init="isTerminalCollapsed = true">
          <span class="pull-right">
            <button class="btn btn-default btn-xs pull-right"  ng-click="isTerminalCollapsed = !isTerminalCollapsed" ng-show="merchant.terminal.length != 0">Expand</button>
            <span ng-hide="merchant.terminal.length != 0">
              No terminal Assigned
            </span>
          </span>
          Terminal
        </a>
          <div collapse="isTerminalCollapsed" class="panel-body">
            <a href class="list-group-item">
              <span class="pull-right">{{merchant.terminal.gateway}}</span>
              Gateway
            </a>
            <a href class="list-group-item">
              <span class="pull-right">{{merchant.terminal.gateway_merchant_id}}</span>
              Gateway Merchant ID
            </a>
            <a href class="list-group-item">
              <span class="pull-right">{{merchant.terminal.gateway_terminal_id}}</span>
              Gateway Terminal ID
            </a>
            <a href class="list-group-item">
              <span class="pull-right">{{merchant.terminal.created_at*1000 | date:'medium'}}</span>
              Created At
            </a>
          </div>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="assignPricingModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Assign Pricing Plan</h3>
  </div>
  <div class="modal-body">
    <span class="text-danger"><strong>
    Warning: The assigned pricing plan will replace the current pricing plan and affect all future test/live transactions.
    </strong></span>
    <form class="form-horizontal">
      <div class="form-group" ng-hide="pricing_plans.length == 0">
        <label class="col-lg-2 control-label">Plan to be Assigned</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" ng-model="pricing_plan_id" ng-options="plan.id as plan.name for plan in pricing_plans">
          </select>
        </div>
      </div>
      <h4 ng-show="pricing_plans.length == 0">No Plans available. First create a pricing plan <a ui-sref="app.pricing.list">here</a></h4>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary" ng-confirm-click="Any previously assigned plan for the merchant will be replace with selected." ng-click="ok(pricing_plan_id)">OK</button>
  </div>
</script>
<script type="text/ng-template" id="assignTerminalModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Assign Terminal</h3>
  </div>
  <div class="modal-body">
    <span class="text-danger"><strong>
    Warning: The terminal once assigned can not be changed.
    </strong></span>
    <form class="form-horizontal" ng-init="terminal={gateway:'HDFC'}">
      <div class="form-group">
        <label class="col-lg-2 control-label">Gateway:</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" ng-model="terminal.gateway">
             <option value="HDFC" selected>HDFC</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Gateway Merchant Id:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" ng-model="terminal.gateway_merchant_id" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Gateway Terminal Id:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" ng-model="terminal.gateway_terminal_id" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Gateway Terminal Password:</label>
        <div class="col-lg-10" >
          <input type="password" class="form-control m-b" ng-model="terminal.gateway_terminal_password" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Confirm Gateway Terminal Password:</label>
        <div class="col-lg-10" >
          <input type="password" class="form-control m-b" ng-model="terminal.gateway_terminal_password_confirmation" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary" ng-confirm-click="Terminal once assigned can not be changed, ensure you have checked all values" ng-click="ok(terminal)">OK</button>
  </div>
</script>