<div class="bg-light lter b-b wrapper-md" ng-controller="EntityDetailCtrl">
  <h1 class="m-n font-thin h3">
    {{entity.type | titlecase}} Entity Detail ({{mode + " Mode"| titlecase }})
    <spinner class="inline"></spinner>

  </h1>
</div>
<div class="wrapper-md entity-wrapper" ng-controller="EntityDetailCtrl" ng-init="generate(loadType)">
  <div class="panel panel-default col-sm-8 col-sm-offset-2" >
    <div class="panel-heading m-t m-b">
      <div class="pull-right" ng-if="entity.merchant_id" tooltip="Merchant Id">
        <a ui-sref="app.merchants.detail({id: entity.merchant_id})">
          <i class="fa fa-user-circle-o"></i>
          <code>{{entity.merchant_id}}</code>
        </a>
      </div>
      Entity Id: <strong>{{entity.id}}</strong><br>
    </div>
  <div class="text-center m-t">
    <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
  </div>
    <div class="row wrapper">
      <div class="list-group">
        <div class="list-group-item clearfix" ng-repeat="(key, value) in entity"
             ng-init="valueType = getType(key, value);state=getState(key, false, key === 'entity_id' && (entity.entity_type || entity.type));" ui-sref="{{state}}">
          {{key|titlecase}}
          <span class="pull-right {{displayClass(key, value)}}" title="{{value}}">
            {{displayValue(key, value, entity)}}
          </span>
        </div>
        <div class="list-group-item" style="overflow:auto;">
          Raw
          <pre class="col-lg-12">{{toJson(entity)}}</pre>
        </div>
      </div>
    </div>

   <!--Entity Terminal-->
    <div class="panel-footer row"
         ng-class="{'text-center': hasRetryRefund}"
         ng-show="entity.entity == 'terminal' || hasRetryRefund">

      <div class="btn-group text-center m-b" role="group"
           aria-label="Refund Actions"
           ng-show="hasRetryRefund">

        <button class="btn btn-info"
                ng-click="onRetryRefund($event)"
                ng-disabled="isRetryRefundProcessing">
          <span ng-if="!isRetryRefundProcessing">Retry Refund</span>
          <span ng-if="isRetryRefundProcessing">Processing...</span>
        </button>
      </div>

      <div ng-show="entity.entity == 'terminal'">
        <div class="btn-group text-left m-b" role="group"
             aria-label="Terminal Actions">
          <button class="btn btn-info" ng-click="open.terminalEdit(entity)">
            Edit Terminal
          </button>
          <button class="btn btn-info" ng-click="open.changePrimaryMerchant(entity)"
            dynamic-tooltip-pos="top" dynamic-tooltip="assign_merchant_terminal"
          >
            Change Primary Merchant
          </button>
          <button class="btn btn-info" ng-click="open.terminalMerchantAssign(entity)">
            Assign Sub Merchants
          </button>
        </div>

        <div class="btn-group text-left" role="group"
             aria-label="Terminal Actions">
          <button class="btn btn-danger" ng-click="terminal.delete(entity.id)"
            dynamic-tooltip-pos="top" dynamic-tooltip="delete_terminal"
            ng-confirm-click="Are you sure you want to delete this terminal?"
          >
            Delete Terminal
          </button>
          <button ng-show="entity.enabled" class="btn btn-warning" ng-click="terminal.disable(entity.id)"
            ng-confirm-click="Are you sure you want to disable this terminal?"
          >
            Disable Terminal
          </button>
          <button ng-show="!entity.enabled" class="btn btn-success" ng-click="terminal.enable(entity.id)"
            ng-confirm-click="Are you sure you want to enable this terminal?"
          >
            Enable Terminal
          </button>
        </div>
      </div>
    </div>

     <!-- Entity: Offers -->
    <div class="panel-footer row"
         ng-show="loadType === 'offer' && admin.permissions && admin.permissions.indexOf('edit_merchant_offer') !== -1"
         ng-if="entity.active">
      <div class="btn-group text-left m-b" role="group"
        aria-label="Offer Actions">
        <button class="btn btn-info m-r" ng-click="open.offerEdit(entity)">
          Edit Offer
        </button>

        <button class="btn btn-warning" ng-click="offer.edit({active: 0})"
          ng-confirm-click="Are you sure you want to deactivate this offer?">
          Deactivate Offer
        </button>
      </div>
    </div>

     <!-- Entity: Dispute -->
    <div class="panel-footer row" ng-show="loadType === 'dispute' && admin.permissions">
      <div class="text-left m-b" role="group" style="text-align: center" aria-label="Dispute Actions">
        <button class="btn btn-rounded approved-bg-color" style="color: white;"
                ng-disabled="['won', 'lost'].indexOf(entity.status) !== -1"
                ng-click="open.disputeEdit(entity)">
          Edit Dispute
        </button>
      </div>
    </div>

    <div class="panel-footer row" ng-show="entity.entity == 'iin'">
      <div class="btn-group text-left" role="group"
        aria-label="IIN Actions"
      >
        <button class="btn btn-info" ng-click="open.iinEdit(entity)"
          dynamic-tooltip-pos="top" dynamic-tooltip="edit_iin_rule"
        >
          Edit IIN
        </button>
      </div>
    </div>
    <div class="panel-footer row" ng-show="entity.entity == 'emi_plan'">
      <div class="btn-group text-left" role="group"
        aria-label="EMI Plan Actions"
      >
        <button class="btn btn-danger" ng-click="emi.delete(entity.id)"
          ng-confirm-click="Are you sure you want to delete this EMI Plan?"
          dynamic-tooltip-pos="top" dynamic-tooltip="delete_emi_plan"
        >
          Delete EMI Plan
        </button>
        <!-- <button class="btn btn-info" ng-click="open.emiEdit(entity)">
          Edit EMI Plan
        </button> -->
      </div>
    </div>
    <div class="panel-footer row" ng-show="entity.entity == 'file_store'">
      <div class="btn-group text-left m-b" role="group"
        aria-label="File Actions"
      >
        <button class="btn btn-info">
        <a ng-click="downloadFile()">
          Download File
        </a>
        </button>
      </div>
    </div>
    <div class="panel-footer row" ng-show="(admin.permissions && admin.permissions.indexOf('retry_batch') !== -1) && (entity.entity === 'batch') && (entity.status !== 'processed')">
      <div class="btn-group text-left m-b" role="group"
        aria-label="File Actions"
      >
        <button class="btn btn-info">
        <a ng-click="batch.retry()">
          Retry batch
        </a>
        </button>
      </div>
    </div>
  </div>
</div>

<!--Edit Offer Modal-->
<script type="text/ng-template" id="editOffer.html">
  <div class="modal-header">
    <h3 class="modal-title">Edit Merchant Offer</h3>
  </div>
  <div class="modal-body merchant-modal">
    <form class="form-horizontal" name="merchantEditForm">

      <!--NAME-->
      <div class="form-group">
        <label for="name" class="col-lg-3 control-label">Name:</label>
        <div class="col-lg-9" >
          <input type="text" class="form-control m-b" name="name" ng-model="offer.name"/>
        </div>
      </div>

      <!--IINS-->
      <div class="form-group" ng-if="['netbanking', 'wallet', 'upi'].indexOf(offer.payment_method) === -1">
        <label for="iins" class="col-lg-3 control-label">iins:</label>
        <div class="col-lg-9" >
          <input type="text" class="form-control m-b" name="iins" ng-model="offer.iins" placeholder="Enter comma(,) separated values"/>
        </div>
      </div>

      <!--MAX PAYMENT COUNT-->
      <div class="form-group" ng-if="offer.payment_method === 'card'">
        <label for="max_payment_count" class="col-lg-3 control-label">max Payment Count:</label>
        <div class="col-lg-9" >
          <input type="decimal" class="form-control m-b" name="max_payment_count" ng-model="offer.max_payment_count"/>
        </div>
      </div>
      <!--LINKED OFFER IDs-->
      <div class="form-group">
        <label for="linked_offer_ids" class="col-lg-3 control-label">Linked Offer ids:</label>
        <div class="col-lg-9" >
          <input type="text" class="form-control m-b" name="linked_offer_ids" ng-model="offer.linked_offer_ids" />
        </div>
      </div>
      <!--DISPLAY TEXT-->
      <div class="form-group">
        <label for="display_text" class="col-lg-3 control-label">Display Text:</label>
        <div class="col-lg-9" >
          <input type="text" class="form-control m-b" name="display_text" ng-model="offer.display_text" />
        </div>
      </div>
      <!--ERROR MESSAGE-->
      <div class="form-group">
        <label for="error_message" class="col-lg-3 control-label">Error Message:</label>
        <div class="col-lg-9" >
          <input type="text" class="form-control m-b" name="error_message" ng-model="offer.error_message" />
        </div>
      </div>
      <!--TERMS-->
      <div class="form-group">
        <label for="terms" class="col-lg-3 control-label">Terms:</label>
        <div class="col-lg-9" >
          <input type="text" class="form-control m-b" name="terms" ng-model="offer.terms" />
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary modal-ok" ng-click="ok(offer)">OK</button>
  </div>
</script>

<!--Dispute Modal-->
<ng-include src="'/tpl/admin/dispute_modal.html'"></ng-include>

<!--Edit Terminal-->
<script type="text/ng-template" id="editTerminal.html">
  <div class="modal-header">
    <h3 class="modal-title">Edit Terminal</h3>
  </div>
  <div class="modal-body terminal-modal">
    <span class="text-danger"><strong>
    Warning: Terminals can only be edit before any transactions happen through them
    </strong></span>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="terminal_id" class="col-lg-4 control-label">Terminal Id:</label>
        <div class="col-lg-8" >
          <input disabled type="text" class="form-control m-b" name="id" ng-model="terminal.id" />
        </div>
      </div>
      <div class="form-group">
        <label for="merchant_id" class="col-lg-4 control-label">Merchant Id:</label>
        <div class="col-lg-8" >
          <input disabled type="text" class="form-control m-b" name="id" ng-model="terminal.merchant_id" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-4 control-label">Gateway:</label>
        <div class="col-lg-8" >
          <select disabled class="form-control m-b" ng-model="terminal.gateway">
             <option value="hdfc" selected>HDFC</option>
             <option value="amex">Amex</option>
             <option value="atom">Atom</option>
             <option value="axis_migs">Axis MIGS</option>
             <option value="axis_genius">Axis Genius</option>
             <!-- <option value="paytm">Paytm</option> -->
             <option value="mobikwik">Mobikwik</option>
             <option value="billdesk">Billdesk</option>
             <option value="ebs">EBS</option>
             <option value="first_data">FirstData</option>
             <option value="kotak">Kotak</option>
             <option value="netbanking_hdfc">Netbanking HDFC</option>
             <option value="netbanking_corporation">Netbanking Corporation</option>
             <option value="netbanking_kotak">Netbanking KOTAK</option>
             <option value="netbanking_axis">Netbanking AXIS</option>
             <option value="netbanking_airtel">Netbanking AIRTEL</option>
             <option value="netbanking_icici">Netbanking ICICI</option>
             <option value="netbanking_federal">Netbanking Federal</option>
             <option value="netbanking_indusind">Netbanking Indusind</option>
             <option value="netbanking_rbl">Netbanking RBL</option>
             <option value="netbanking_pnb">Netbanking PNB</option>
             <option value="cybersource">Cybersource</option>
             <option value="hitachi">Hitachi</option>
             <option value="wallet_openwallet">RZP Open Wallet</option>
             <option value="wallet_mpesa">Vodafone Mpesa</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Acquirer:</label>
        <div class="col-lg-9" >
          <select class="form-control m-b" ng-model="terminal.gateway_acquirer">
             <option value="hdfc" selected>HDFC</option>
             <option value="axis">Axis</option>
             <option value="icic">ICICI</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="gateway_merchant_id" class="col-lg-4 control-label">Gateway Merchant Id:</label>
        <div class="col-lg-8" >
          <input type="text" class="form-control m-b" name="gateway_merchant_id" ng-model="terminal.gateway_merchant_id" />
        </div>
      </div>
      <div class="form-group">
        <label for="gateway_terminal_id" class="col-lg-4 control-label">Gateway Terminal Id:</label>
        <div class="col-lg-8" >
          <input type="text" class="form-control m-b" name="gateway_terminal_id" ng-model="terminal.gateway_terminal_id" />
        </div>
      </div>
      <div class="form-group">
        <label for="gateway_terminal_password" class="col-lg-4 control-label">Network Category:</label>
        <div class="col-lg-8" >
          <input type="text" class="form-control m-b" name="network_category" ng-model="terminal.network_category" />
        </div>
      </div>
      <div class="form-group">
        <label for="gateway_terminal_password" class="col-lg-4 control-label">Gateway Terminal Password:</label>
        <div class="col-lg-8" >
          <input type="password" class="form-control m-b" name="gateway_terminal_password" ng-model="terminal.gateway_terminal_password" />
        </div>
      </div>
      <div class="form-group">
        <label for="gateway_access_code" class="col-lg-4 control-label">Gateway Access Code:</label>
        <div class="col-lg-8" >
          <input type="text" class="form-control m-b" name="gateway_access_code" ng-model="terminal.gateway_access_code" />
        </div>
      </div>
      <div class="form-group">
        <label for="gateway_recon_password" class="col-lg-4 control-label">Gateway Recon Password:</label>
        <div class="col-lg-8" >
          <input type="text" class="form-control m-b" name="gateway_recon_password" ng-model="terminal.gateway_recon_password" />
        </div>
      </div>
      <div class="form-group">
        <label for="gateway_secure_secret" class="col-lg-4 control-label">Gateway Secure Secret:</label>
        <div class="col-lg-8" >
          <input type="text" class="form-control m-b" name="gateway_secure_secret" ng-model="terminal.gateway_secure_secret" />
        </div>
      </div>
      <div class="form-group">
        <label for="card" class="col-lg-4 control-label">Card Allowed (Always Yes for HDFC):</label>
        <div class="col-lg-8" >
          <select class="form-control m-b" ng-model="terminal.card">
             <option value="1" selected>Yes</option>
             <option value="0">No</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="netbanking" class="col-lg-4 control-label">Netbanking Allowed:</label>
        <div class="col-lg-8" >
          <select class="form-control m-b" ng-model="terminal.netbanking">
             <option value="1" selected>Yes</option>
             <option value="0">No</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="tpv" class="col-lg-4 control-label">TPV:</label>
        <div class="col-lg-8" >
          <select class="form-control m-b" ng-model="terminal.tpv">
             <option value="1" selected>Yes</option>
             <option value="0">No</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="currency" class="col-lg-4 control-label">Currency:</label>
        <div class="col-lg-8" >
          <select class="form-control m-b" ng-model="terminal.currency">
             <option value="INR" selected>INR</option>
             <option value="USD">USD</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="international" class="col-lg-4 control-label">International:</label>
        <div class="col-lg-8" >
          <select class="form-control m-b" ng-model="terminal.international">
             <option value="1" selected>Yes</option>
             <option value="0">No</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="mode" class="col-lg-4 control-label">Mode:</label>
        <div class="col-lg-8" >
          <select class="form-control m-b" ng-model="terminal.mode">
             <option value="3">Dual</option>
             <option value="1">Auth-Capture</option>
             <option value="2">Purchase</option>
          </select>
        </div>
      </div>
      <div class="form-group" >
        <label for="non_recurring" class="col-lg-3 control-label">Non recurring</label>
        <div class="col-lg-9" >
          <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="terminal['type[non_recurring]']">
        </div>
      </div>
      <div class="form-group" >
        <label for="recurring_3ds" class="col-lg-3 control-label">Recurring 3DS</label>
        <div class="col-lg-9" >
          <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="terminal['type[recurring_3ds]']">
        </div>
      </div>
      <div class="form-group" >
        <label for="recurring_non_3ds" class="col-lg-3 control-label">Recurring Non 3DS</label>
        <div class="col-lg-9" >
          <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="terminal['type[recurring_non_3ds]']">
        </div>
      </div>
      <div class="form-group" >
      <label for="ivr" class="col-lg-3 control-label">IVR</label>
        <div class="col-lg-9" >
          <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="terminal['type[ivr]']">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-confirm-click="Terminal editing is dangerous. Please ensure you have filled the correct details." ng-click="ok(terminal)">OK</button>
  </div>
</script>
<script type="text/ng-template" id="changePrimaryMerchant.html">
  <div class="modal-header">
    <h3 class="modal-title">Change Primary Merchant for the Terminal</h3>
  </div>
  <div class="modal-body terminal-modal">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="merchant_id" class="col-lg-4 control-label">Primary Merchant Id:</label>
        <div class="col-lg-8" >
          <input type="text" class="form-control m-b" name="merchant_id" ng-model="terminal.merchant_id" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-confirm-click="Are you sure?" ng-click="ok(terminal)">OK</button>
  </div>
</script>
<script type="text/ng-template" id="assignMerchantToTerminal.html">
  <div class="modal-header">
    <h3 class="modal-title">Assign Sub Merchant To Terminal</h3>
  </div>
  <div class="modal-body terminal-modal">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="merchant_id" class="col-lg-4 control-label">Merchant Id:</label>
        <div class="col-lg-8" >
          <input type="text" class="form-control m-b" name="merchant_id" ng-model="terminal.merchant_id" />
        </div>
      </div>
    </form>

    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Website</th>
          <th data-sort-ignore="true">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="subMerchant in subMerchants">
          <td>{{ subMerchant.id }}</td>
          <td>{{ subMerchant.name }}</td>
          <td><a href="{{ subMerchant.website }}" target="_blank">{{ subMerchant.website }}</a></td>
          <td>
            <button class="btn btn-danger btn-xs" ng-click="deleteSubMerchant(subMerchant.id)">
              Delete
            </button>
          </td>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-confirm-click="Are you sure?" ng-click="ok(terminal)">OK</button>
  </div>
</script>
<script type="text/ng-template" id="editIin.html">
  <div class="modal-header">
    <h3 class="modal-title">Edit IIN</h3>
  </div>
  <div class="modal-body iin-modal">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="iin" class="col-lg-2 control-label">IIN (6 digit):</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="iin" ng-model="iin.iin" readonly="true">
        </div>
      </div>
      <div class="form-group">
        <label for="network" class="col-lg-2 control-label">Network:</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="network" ng-model="iin.network">
            <option value="American Express">American Express</option>
            <option value="Diners Club">Diners Club</option>
            <option value="Discover">Discover</option>
            <option value="JCB">JCB</option>
            <option value="Maestro">Maestro</option>
            <option value="MasterCard">MasterCard</option>
            <option value="RuPay">RuPay</option>
            <option value="Visa">Visa</option>
            <option value="Union Pay">Union Pay</option>
            <option value="Unknown">Unknown</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="type" class="col-lg-2 control-label">Type:</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="type" ng-model="iin.type">
            <option value="credit">Credit</option>
            <option value="debit">Debit</option>
            <option value="unkown">Unknown</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="country" class="col-lg-2 control-label">Country (2 character):</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="country" length="2" ng-model="iin.country" />
        </div>
      </div>
      <div class="form-group">
        <label for="category" class="col-lg-2 control-label">Category:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="category" ng-model="iin.category" />
        </div>
      </div>
      <div class="form-group">
        <label for="issuer" class="col-lg-2 control-label">Issuer:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="issuer" ng-model="iin.issuer" />
        </div>
      </div>
      <div class="form-group">
        <label for="issuer_name" class="col-lg-2 control-label">Issuer Name:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="issuer_name" ng-model="iin.issuer_name" />
        </div>
      </div>
      <div class="form-group">
        <label for="emi" class="col-lg-2 control-label">EMI:</label>
        <div class="col-lg-10" >
          <label class="i-checks ng-binding">
            <input ng-model="iin.emi" name="emi" type="checkbox" class="ng-pristine ng-valid">
            <i></i>
            EMI Available
          </label>
        </div>
      </div>
      <!--<div class="form-group">
        <label for="emi" class="col-lg-2 control-label">International:</label>
        <div class="col-lg-10" >
          <label class="i-checks ng-binding">
            <input name="international" ng-model="iin.international" type="checkbox" class="ng-pristine ng-valid">
            <i></i>
            International
          </label>
        </div>
      </div>-->
      <div class="form-group">
        <label for="trivia" class="col-lg-2 control-label">Trivia:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="trivia" ng-model="iin.trivia" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-click="ok(iin)">OK</button>
  </div>
</script>
