<div ng-controller="GatewayRulesCtrl">
  <div class="bg-light lter b-b wrapper-md" style="display: table">
    <h1 class="m-n font-thin h3" style="display: table-cell; width: 100%;">
      Gateway Rules
      <spinner class="inline"></spinner>
    </h1>
    <div class="gateway-search-element">
      <div style="width: 180px; text-align: right;">
        Mode:
        <select class="form-control inline" ng-model="mode" style="width: 100px;" ng-change="getRulesById()">
          <option value="live">Live</option>
          <option value="test">Test</option>
        </select>
      </div>
    </div>
  </div>
  <div class="wrapper-md">
    <div class="text-center">
      <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div style="padding: 15px; margin: 8px 0;">
      <form style="display: table">
        <div class="gateway-search-fields">
          <div class="gateway-search-element">
            <label for="merchant_id">Merchant Id:</label>
            <input id="merchant_id" type="text" class="form-control" ng-model="gatewayRuleSearch.merchant_id" placeholder="Merchant Id" style="width:150px;">
          </div>

          <div class="gateway-search-element">
            <label for="type">Type:</label>
            <select id="type"
                    ng-model="gatewayRuleSearch.type"
                    class="form-control">
              <option value="sorter">Sorter</option>
              <option value="filter">Filter</option>
            </select>
          </div>

          <div class="gateway-search-element">
            <label for="group">Group:</label>
            <input id="group" type="text" class="form-control" ng-model="gatewayRuleSearch.group" placeholder="Group" style="width:150px;">
          </div>

          <div class="gateway-search-element">
            <label for="filter_type">Filter Type:</label>
            <select id="filter_type"
                    ng-model="gatewayRuleSearch.filter_type"
                    class="form-control">
              <option value=""></option>
              <option value="select">Select</option>
              <option value="reject">Reject</option>
            </select>
          </div>

          <div class="gateway-search-element">
            <label for="method">Method:</label>
            <select id="method" ng-model="gatewayRuleSearch.method" class="form-control" ng-change="updateGatewayList(gatewayRuleSearch.method, gatewayRuleSearch);">
              <option value=""></option>
              <option ng-repeat="(key, option) in methodMap" value={{key}}>{{option}}</option>
            </select>
          </div>


          <div class="gateway-search-element" ng-if="gatewayRuleSearch.method">
            <label for="gateway">Gateway:</label>
            <select id="gateway" ng-model="gatewayRuleSearch.gateway" class="form-control">
              <option value=""></option>
              <option
                ng-repeat="(key, option) in gatewayListMap"
                ng-selected="{{key == gatewayRuleSearch.gateway}}"
                value={{key}}>{{option}}</option>
            </select>
          </div>
        </div>
        <div class="gateway-search-element">
          <button class="btn btn-info m-l" ng-click="getRulesById()">
            Search
          </button>
        </div>
        <div class="gateway-search-element">
          <button class="btn btn-danger" ng-click="gatewayRuleSearch = {}">
            Clear
          </button>
        </div>
      </form>
    </div>
    <div class="panel panel-default" >
      <div class="panel-heading">
        List of all Gatway Rules
      </div>
      <div class="row wrapper">
        <div class="col-md-6 m-b-xs" >
          <div ng-if="gatewayRules && !noResults">
            <label for='filter' class='m-r'>Search</label>
            <input id="filter" type="text" class="form-control input-sm w-sm inline m-r">
          </div>
        </div>
        <div class="col-md-6" ng-if="admin.permissions && admin.permissions.indexOf('create_gateway_rule') !== -1">
          <button id='addRoleButton' class='btn btn-primary pull-right' ng-click="addNewRule()">
            Add new Rule
          </button>
        </div>
      </div>

      <div ng-if="!gatewayRules && noResults" class="col-md-12 m-b-xs" style="text-align: center; margin: 12px;">
        Loading Gateway Rules...
      </div>

      <div ng-if="gatewayRules && noResults" class="col-md-12 m-b-xs" style="text-align: center; margin: 12px;">
        No gateway rules found
      </div>


      <div ng-if="gatewayRules">
        <table ui-jq="footable" data-filter="#filter" data-page-size="10" class="pricing-table table table-responsive table-striped b-t b-light">
          <thead>
          <tr>
            <th>Rule ID</th>
            <th>Merchant ID</th>
            <th>Type</th>
            <th>Group</th>
            <th>Gateway</th>
            <th>Method</th>
            <th>Load</th>
            <th>Filter Type</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="row in gatewayRules" class="merchants-table-body">
            <td>{{row.id}}</td>
            <td>{{row.merchant_id}}</td>
            <td>
              <span class="badge" ng-class="row.type === 'filter' ? 'cat1-badge--typeA' : 'cat1-badge--typeB'">
                {{row.type}}
              </span>
            </td>
            <td>{{row.group}}</td>
            <td>{{row.gateway ? getGatewayLabel(row.method, row.gateway) : 'ALL'}}</td>
            <td>{{methodMap[row.method]}}</td>
            <td>{{row.type === 'sorter' ? row.load : 'NA'}}</td>
            <td>
              <span ng-if="row.type === 'filter'" class="badge" ng-class="row.filter_type === 'select' ? 'cat2-badge--typeA' : 'cat2-badge--typeB'">
                {{row.filter_type | titlecase}}
              </span>
              {{row.type !== 'filter' ? 'NA' : ''}}
            </td>
            <td>
              <button class="btn btn-default btn-xs"
                      ng-click="editRule(row)">
                <i class="fa fa-pencil-square"></i>
                {{admin.permissions && admin.permissions.indexOf('edit_gateway_rule') !== -1 ? 'edit' : 'view'}}
              </button>
              <button class="btn btn-default btn-xs"
                      ng-if="admin.permissions && admin.permissions.indexOf('delete_gateway_rule') !== -1"
                      ng-confirm-click="Are you sure you want to delete this Gateway Rule?"
                      ng-click="deleteRuleById(row.id)">
                <i class="fa fa-user-times text-danger"></i>
                delete
              </button>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="12" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="editGatewayRuleModal.html">
  <div class="modal-header">
    <h3 class="modal-title" ng-if="editMode && admin.permissions && admin.permissions.indexOf('edit_gateway_rule') !== -1">
      Edit Gateway Rule
    </h3>
    <h3 class="modal-title" ng-if="editMode && admin.permissions && admin.permissions.indexOf('edit_gateway_rule') === -1">
      View Gateway Rule
    </h3>
    <h3 class="modal-title" ng-if="!editMode && admin.permissions && admin.permissions.indexOf('create_gateway_rule') !== -1">
      Create a new Gateway Rule
    </h3>
  </div>
  <div class="modal-body merchant-modal">
    <div class="row wrapper" ng-if="editMode">
      <div class="col-md-6">
        <label class="control-label">Rule ID:</label> <b>{{current.id}}</b>
      </div>
      <div class="col-md-6">
        <label class="control-label">Merchant ID:</label> <b>{{current.merchant_id}}</b>
      </div>
    </div>

    <form class="form-horizontal" name="editRuleForm">
      <!-- Type -->
      <div class="form-group">
        <label class="col-lg-2 control-label">
          <span style="color: red" ng-if="!editMode">*</span>
          Type:
        </label>
        <div class="col-lg-10" >
          <select name="type"
                  ng-model="current.type"
                  class="form-control"
                  ng-disabled="editMode"
                  ng-required="!editMode">
            <option value=""></option>
            <option value="sorter">Sorter</option>
            <option value="filter">Filter</option>
          </select>

        </div>
      </div>

      <!-- Filter Type -->
      <div class="form-group" ng-if="current.type === 'filter'">
        <label class="col-lg-2 control-label">
          <span style="color: red" ng-if="!editMode">*</span>
          Filter Type:
        </label>


        <div class="col-lg-10" >
          <select name="type"
                  ng-model="current.filter_type"
                  ng-init="current.filter_type = current.filter_type"
                  class="form-control"
                  ng-required="!editMode">
            <option value="select">Select</option>
            <option value="reject">Reject</option>
          </select>

        </div>
      </div>

      <!-- Load -->
      <div class="form-group" ng-if="current.type === 'sorter'">
        <label class="col-lg-2 control-label">
          <span style="color: red" ng-if="!editMode">*</span>
          Load:
        </label>
        <div class="col-lg-10" >
          <input type="number" step="0.001" class="form-control m-b" name="merchant_id"
                 placeholder="Load value must be 0-100. Example: 45.3"
                 min="0"
                 max="100"
                 ng-model="current.load"
                 ng-init="current.load = current.load"
                 ng-required="!editMode">
        </div>
      </div>

      <!-- Group -->
      <div class="form-group">
        <label class="col-lg-2 control-label">Group:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="merchant_id"
                 ng-model="current.group">
        </div>
      </div>

      <!-- Merchant Id-->
      <div class="form-group" ng-if="!editMode">
        <label class="col-lg-2 control-label">
          <span style="color: red" ng-if="!editMode">*</span>
          Merchant ID:
        </label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="merchant_id"
                 ng-model="current.merchant_id"
                 ng-init="current.merchant_id = current.merchant_id || '100000Razorpay'"
                 ng-required="!editMode">
        </div>
      </div>


      <!-- Method -->
      <div class="form-group">
        <label class="col-lg-2 control-label">
          <span style="color: red" ng-if="!editMode">*</span>
          Method:
        </label>

        <div class="col-lg-10" >
          <select name="method" ng-model="current.method" class="form-control"
                  ng-change="updateGatewayList(current.method)"
                  ng-disabled="editMode" ng-required="!editMode" >
            <option ng-repeat="(key, option) in methodMap" value={{key}} ng-selected="{{key == current.method}}">{{option}}</option>
          </select>
          <!--Display error for select type tags-->
          <span ng-show="editRuleForm.method.$error.required" style="font-size:11px; color: red;">
            Method is required
          </span>
        </div>
      </div>

      <!-- Gateway -->
      <div class="form-group" ng-if="current.method">
        <label class="col-lg-2 control-label">
          Gateway:
        </label>

        <div class="col-lg-10" >
          <select name="gateway" ng-model="current.gateway" class="form-control"
                  ng-readonly="editMode">
            <option value="">ALL</option>
            <option
              ng-repeat="(key, option) in gatewayListMap"
              ng-selected="{{key == current.gateway}}"
              value={{key}}>{{option}}</option>
          </select>

        </div>
      </div>

      <!-- Method Type -->
      <div class="form-group" ng-if="['card', 'emi'].indexOf(current.method) !== -1">
        <label class="col-lg-2 control-label">Method Type:</label>
        <div class="col-lg-10" >
          <select name="method_type" ng-model="current.method_type" class="form-control" ng-disabled="editMode">
            <option value="">ALL</option>
            <option value="credit">Credit</option>
            <option value="debit">Debit</option>
          </select>

        </div>
      </div>

      <!-- Network -->
      <div class="form-group" ng-if="['card', 'emi'].indexOf(current.method) !== -1">
        <label class="col-lg-2 control-label">Network:</label>
        <div class="col-lg-10" >
          <select name="network"
                  ng-model="current.network"
                  ng-init="current.network = current.network || ''"
                  class="form-control"
                  ng-disabled="editMode">
            <option value="">ALL</option>
            <option ng-repeat="(key, option) in networkMap" value={{key}} ng-selected="{{key === current.network}}">{{option}}</option>
          </select>
        </div>
      </div>

      <!-- Category2 -->
      <div class="form-group">
        <label class="col-lg-2 control-label">Category2:</label>
        <div class="col-lg-10" >
          <select class="form-control m-b"
                  name="category2"
                  ng-model="current.category2"
                  ng-disabled="editMode"
                  ng-init="current.category2 = current.category2 || ''">
            <option value=""></option>
            <option value="lending">Lending</option>
            <option value="securities">Securities</option>
            <option value="commodities">Commodities</option>
            <option value="grocery">Grocery</option>
            <option value="gaming">Gaming</option>
            <option value="ecommerce">Ecommerce</option>
            <option value="govt_education">Govt Education</option>
            <option value="pvt_education">Pvt Education</option>
            <option value="utilities">Utilities</option>
            <option value="corporate">Corporate</option>
            <option value="insurance">Insurance</option>
            <option value="housing">Housing</option>
            <option value="mutual_funds">Mutual funds</option>
            <option value="travel_agency">Travel Agency</option>
            <option value="pharma">Pharma</option>
            <option value="cryptocurrency">Cryptocurrency</option>
            <option value="forex">Forex</option>
            <option value="hospitality">Hospitality</option>
            <option value="logistics">Logistics</option>
          </select>
        </div>
      </div>

      <!-- Gateway Acquirer -->
      <div class="form-group">
        <label class="col-lg-2 control-label">Gateway Acquirer:</label>
        <div class="col-lg-10" >
          <!--<input type="text" class="form-control m-b" name="gateway_acquirer" ng-model="current.gateway_acquirer" ng-readonly="editMode">-->
          <select name="gateway_acquirer"
                  ng-model="current.gateway_acquirer"
                  ng-init="current.gateway_acquirer = current.gateway_acquirer || ''"
                  class="form-control"
                  ng-disabled="editMode">
            <option value="">ALL</option>
            <option ng-repeat="(key, option) in gatewayAcquirerMap" value={{key}} ng-selected="{{key === current.gateway_acquirer}}">{{option}}</option>
          </select>

        </div>
      </div>

      <!-- International -->
      <div class="form-group">
        <label class="col-lg-2 control-label">International:</label>
        <div class="col-lg-10" >
          <!--<input type="text" class="form-control m-b" name="international" ng-model="current.international" ng-readonly="editMode">-->
          <select name="international"
                  ng-model="current.international"
                  ng-init="current.international = current.international"
                  class="form-control"
                  ng-disabled="editMode">
            <option value="">Both</option>
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
        </div>
      </div>

      <!-- Issuer -->
      <div class="form-group">
        <label class="col-lg-2 control-label">Issuer:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="issuer"
                 ng-model="current.issuer"
                 ng-init="current.issuer = current.issuer || 'ALL'"
                 ng-readonly="editMode">
        </div>
      </div>

      <!-- Min Amount -->
      <div class="form-group" style="width: 50%; display: inline-block; margin-right: 41px">
        <label class="col-lg-4 control-label">Min Amount:</label>
        <div class="col-lg-8" >
          <input type="text" class="form-control m-b" name="min_amount"
                 placeholder="Enter Amount in rupees. Example: 45.23)"
                 ng-model="current.min_amount"
                 ng-disabled="editMode"
                 ng-readonly="editMode">
        </div>
      </div>

      <!-- Max Amount -->
      <div class="form-group" style="width: 50%; display: inline-block">
        <label class="col-lg-4 control-label">Max Amount:</label>
        <div class="col-lg-8" >
          <input type="text" class="form-control m-b" name="max_amount"
                 placeholder="Enter Amount in rupees. Example: 45.23)"
                 ng-model="current.max_amount"
                 ng-disabled="editMode"
                 ng-readonly="editMode">
        </div>
      </div>

      <!-- Emi Duration .-->
      <div class="form-group" ng-if="current.method === 'emi'">
        <label class="col-lg-2 control-label">Emi Duration:</label>
        <div class="col-lg-10" >
          <select class="form-control m-b"
                  name="emi_duration"
                  ng-model="current.emi_duration"
                  ng-disabled="editMode"
                  ng-init="current.emi_duration = current.emi_duration || ''">
            <option value="3">3 months</option>
            <option value="6">6 months</option>
            <option value="9">9 months</option>
            <option value="12">12 months</option>
            <option value="18">18 months</option>
            <option value="24">24 months</option>
          </select>
        </div>
      </div>

      <!-- Emi Subvention ........ -->
      <div class="form-group" ng-if="current.method === 'emi'">
        <label class="col-lg-2 control-label">Emi Subvention:</label>
        <div class="col-lg-10" >
          <select class="form-control m-b"
                  name="emi_subvention"
                  ng-model="current.emi_subvention"
                  ng-disabled="editMode"
                  ng-init="current.emi_subvention = current.emi_subvention || ''">
            <option value="customer">Customer</option>
            <option value="merchant">Merchant</option>
          </select>
        </div>
      </div>

      <!-- Iins ....... -->
      <div class="form-group" ng-if="['card', 'emi'].indexOf(current.method) > -1">
        <label class="col-lg-2 control-label">Iins:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="iins"
                 placeholder="Enter comma(,) separated values. Each value must be 6 digit. Example: 123422,345244"
                 ng-model="current.iins">
        </div>
      </div>

      <!-- Network Category .-->
      <div class="form-group" ng-if="current.type === 'filter'">
        <label class="col-lg-2 control-label">Network Category:</label>
        <div class="col-lg-10" >
          <input class="form-control m-b" name="network_category" ng-disabled="editMode"
                 ng-model="current.network_category">
        </div>
      </div>

      <!-- Terminal Type .-->
      <div class="form-group">
        <label class="col-lg-2 control-label">Shared Terminal:</label>
        <div class="col-lg-10" >
          <!--<input type="text" class="form-control m-b" name="international" ng-model="current.international" ng-readonly="editMode">-->
          <select name="shared_terminal"
                  ng-model="current.shared_terminal"
                  ng-init="current.shared_terminal = current.shared_terminal"
                  class="form-control"
                  ng-disabled="editMode">
            <option value="">ALL</option>
            <option value="1">YES</option>
            <option value="0">NO</option>
          </select>
        </div>
      </div>

      <!-- Currency -->
      <div class="form-group">
        <label class="col-lg-2 control-label">Currency:</label>
        <div class="col-lg-10" >
          <select name="currency"
                  ng-model="current.currency"
                  ng-init="current.currency = current.currency || 'INR'"
                  class="form-control"
                  ng-disabled="editMode">
            <option value="USD">USD</option>
            <option value="INR">INR</option>
          </select>
        </div>
      </div>

      <!-- Action Buttons -->
      <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary modal-ok" type="submit"
                ng-if="editMode && admin.permissions && admin.permissions.indexOf('edit_gateway_rule') !== -1"
                ng-click="editRuleForm.$valid && ok(current)">
          UPDATE
        </button>

        <button class="btn btn-primary modal-ok" type="submit"
                ng-if="!editMode && admin.permissions && admin.permissions.indexOf('create_gateway_rule') !== -1"
                ng-click="editRuleForm.$valid && ok(current)">
          CREATE
        </button>
      </div>

    </form>
  </div>
</script>

