<div ng-controller="PermissionDetailCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">
      Permissions
      <spinner class="inline"></spinner>
    </h1>
  </div>
  <div class="wrapper-md">
    <div class="panel-form-container">
      <div class="text-center">
        <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            {{ permission.id ? 'Edit ' + permission.id : 'Add a new Permission' }}
          </h4>
        </div>
        <div class="panel-body">
          <form class="form-horizontal form-validation">

            <!-- Permission Name -->
            <div class="form-group">
             <label for="name" class="col-lg-3 control-label">Permission Name</label>
              <div class="col-lg-8" >
                <input class="form-control m-b" name="name"
                  ng-model="permission.name" ng-required="true">
              </div>
            </div>

            <!-- Category -->
            <div class="form-group">
             <label for="category" class="col-lg-3 control-label">Category</label>
              <div class="col-lg-8" >
                <input class="form-control m-b" name="category"
                  ng-model="permission.category" ng-required="true">
              </div>
            </div>

            <!-- Description -->
            <div class="form-group">
              <label for="description" class="col-lg-3 control-label">Description</label>
              <div class="col-lg-8" >
                <input class="form-control m-b" name="description"
                  ng-model="permission.description">
              </div>
            </div>

            <!-- Assignable -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Assignable</label>
              <div class="col-sm-8">
                <input type="checkbox" name="assignable" class="form-control m-b" ng-model="permission.assignable" />
              </div>
            </div>

            <!-- Organizations -->
            <div class="form-group" ng-if="organizations">
              <div class="col-lg-3 control-label">Organizations</div>
              <div class="col-lg-8 scrollable-table">
                <table ui-jq="footable" data-page-size="10000" class="table table-striped b-t b-light">
                  <thead>
                    <tr>
                      <th data-sort-ignore="true">
                        <input type="checkbox" id="select_all" ng-checked='select_all' ng-click='toggleSelAll()'>
                      </th>
                      <th>Business Name</th>
                      <th>Display Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="org in organizations">
                      <td>
                        <input type="checkbox" name='organizations[]'
                               ng-model="selected_organizations[org.id]"
                               ng-checked="selected_organizations[org.id]"
                               ng-change="updateSelAllTag(org.id)">
                      </td>
                      <td>{{org.business_name}}</td>
                      <td>{{org.display_name}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- Permission Roles -->
            <div class="form-group" ng-if="roles">
              <div class="col-lg-3 control-label">Assigned Roles (In this Org)</div>
              <div class="col-lg-8 scrollable-table" ng-if="roles">
                <table class="table table-striped b-t b-light">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="role in roles">
                    <td>{{ role.name }}</td>
                    <td>{{ role.description }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- Action Buttons -->
            <div class="panel-footer">
              <div class="row">
                <div class="col-lg-offset-3 col-lg-8 text-center">
                  <button class="btn btn-primary panel-btn-action" async-btn-click="save(permission)">
                    Save
                  </button>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
