<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Pricing Plans
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md" ng-controller="PricingsCtrl">
  <div class="panel panel-default" >
    <div class="panel-heading">
      List of all Plans
    </div>
    <div class="panel-body b-b b-light">
      Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
    </div>
    <div>
    <table ui-jq="footable" data-filter="#filter" data-page-size="10" class="pricing-table table table-responsive table-striped b-t b-light">
        <thead>
          <tr>
            <th>Plan ID</th>
            <th>Plan Name</th>
            <th>No. of Rules</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in pricing_plans">
            <td>{{row.id}}</td>
            <td>{{row.name}}</td>
            <td>{{row.count}}</td>
            <td>
              <button class="btn btn-default btn-xs btn-show-plan"  ng-click="showPlan(row.id)">Show/Hide Rules</button>
            </td>
          </tr>
          <tr ng-show="pricing_plans.length == 0">
            <td colspan="4">No Pricing Plans</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <a href ng-click="createPlan()">Create New Pricing Plan</a>
            </td>
          </tr>
          <tr>
              <td colspan="4" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="panel panel-default" id="show-plan-panel" ng-if="show_plan.id">
    <div class="panel-heading">
      Plan Id: <a target="_blank" ui-sref="app.pricingdetail({id:show_plan.id})">{{show_plan.id}}</a><br/>
      Plan Name: {{show_plan.name}}
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <th>Rule Id</th>
          <th>Payment Method</th>
          <th>Payment Method Type</th>
          <th>Payment Network</th>
          <th>Payment Issuer</th>
          <th>International</th>
          <th>Amount Range Active</th>
          <th>Amount Range</th>
          <th>Percent Rate</th>
          <th>Fixed Rate</th>
          <th>Created At</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr ng-repeat="rule in show_plan.rules">
            <td>{{rule.id}}</td>
            <td>{{rule.payment_method || 'Any' | capitalize }}</td>
            <td>{{rule.payment_method_type || 'Any' | capitalize }}</td>
            <td>{{rule.payment_network || 'Any'}}</td>
            <td>{{rule.payment_issuer || 'Any'}}</td>
            <td>{{rule.international ?  'True' : 'False' }}</td>
            <td>{{rule.amount_range_active ? 'True' : 'False' }}</td>
            <td><span ng-show="rule.amount_range_active">{{rule.amount_range_min}}-{{rule.amount_range_max}}</span></td>
            <td>{{rule.percent_rate/100}} %</td>
            <td>{{rule.fixed_rate/100 | rupee:"INR "}}</td>
            <td>{{rule.created_at*1000 | date:'medium'}}</td>
            <td>
              <a
                ng-click="deletePricingPlanRule(rule.id)"
                ng-confirm-click="Are you sure you want to delete this rule?"
              >
                <i class="fa fa-trash text-danger"></i>
              </a>
            </td>
          </tr>
          <tr ng-show="new_rule.percent_rate || new_rule.fixed_rate">
            <td>Preview Rule</td>
            <td>{{new_rule.payment_method || 'Any' | capitalize }}</td>
            <td>{{new_rule.payment_method_type || 'Any' | capitalize }}</td>
            <td>{{new_rule.payment_network || 'Any'}}</td>
            <td>{{new_rule.payment_issuer || 'Any'}}</td>
            <td>{{new_rule.international === "1" ? 'True' : 'False' }}</td>
            <td>{{new_rule.amount_range_active == "1" ? 'True' : 'False' }}</td>
            <td>
              <span ng-show="new_rule.amount_range_active == '1'">
                {{new_rule.amount_range_min}}-{{new_rule.amount_range_max}}
              </span>
            </td>
            <td>{{new_rule.percent_rate/100}} %</td>
            <td>{{new_rule.fixed_rate/100 | rupee:"INR "}}</td>
            <td>Preview Rule</td>
          </tr>
          <tr>
            <td>Add new Rule</td>
            <td>
              <select class="form-control" name="payment_method" ng-model="new_rule.payment_method" required>
                  <option value="card">Card</option>
                  <option value="netbanking">NetBanking</option>
                  <option value="wallet">Wallet</option>
                  <option value="emi">Emi</option>
                  <option value="upi">UPI</option>
              </select>
            </td>
            <td>
              <select class="form-control" name="payment_method_type" ng-model="new_rule.payment_method_type">
                  <option value="credit">Credit</option>
                  <option value="debit">Debit</option>
                  <option value="">Both</option>
              </select>
            </td>
            <td>
              <select class="form-control" name="payment_network" ng-model="new_rule.payment_network">
                  <option ng-repeat="(networkId,networkName) in itemList" value="{{networkId}}">{{networkName}}</option>
              </select>
            </td>
            <td>
              <select class="form-control" name="payment_issuer" ng-model="new_rule.payment_issuer">
                  <option value="">All</option>
                  <option value="HDFC">HDFC</option>
              </select>
            </td>
            <td>
              <select class="form-control" name="international" ng-model="new_rule.international">
                <option value='0'>False</option>
                <option value='1'>True</option>
              </select>
            </td>
            <td>
              <select class="form-control" name="amount_range_active" ng-model="new_rule.amount_range_active">
                <option value='0'>False</option>
                <option value='1'>True</option>
              </select>
            </td>
            <td>
              <select class="form-control" name="amount_range" ng-model="new_rule.amount_range"
                ng-show="new_rule.amount_range_active">
                <option value='low'>0-200000</option>
                <option value='high'>200000-1000000000</option>
              </select>
            </td>
            <td>
              <input class="form-control" type="text" name="percent_rate" ng-model="new_rule.percent_rate" tooltip="Percent rate multiplied by 100 e.g. enter 2.89% as 289" placeholder="As integer" required/>
            </td>
            <td>
              <input class="form-control" type="text" name="fixed_rate" ng-model="new_rule.fixed_rate" tooltip="Fixed rate in paisa e.g. enter INR 2 as 200" placeholder="As Integer" required/>
            </td>
            <td>
              <a href ng-click="saveRule()"><button class="btn btn-primary btn-rounded">Save</button></a>
              <a href ng-click=""><button class="btn btn-primary btn-rounded">Cancel</button></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel panel-default" id="create-plan-panel"  ng-if="create_plan">
    <div class="panel-heading">
      Plan Name: <input type="text" name="plan_name" ng-model="new_plan.plan_name" placeholder="Plan Name" />
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <th>Payment Method</th>
          <th>Payment Method Type</th>
          <th>Payment Network</th>
          <th>Payment Issuer</th>
          <th>International</th>
          <th>Amount Range Active</th>
          <th>Amount Range</th>
          <th>Percent Rate</th>
          <th>Fixed Rate</th>
        </thead>
        <tbody>
          <tr ng-show="new_plan.percent_rate || new_plan.fixed_rate" tooltip="Preview">
            <td>{{new_plan.payment_method || 'Any' | capitalize}}</td>
            <td>{{new_plan.payment_method_type || 'Any' | capitalize }}</td>
            <td>{{new_plan.payment_network || 'Any'}}</td>
            <td>{{new_plan.payment_issuer || 'Any'}}</td>
            <td>{{new_plan.international === "1" ? 'True' : 'False'}}</td>
            <td>{{new_plan.amount_range_active === "1" ? 'True' : 'False'}}</td>
            <td>{{new_plan.amount_range === "0" ? '0-200000' : '200000-1000000000'}}</td>
            <td>{{new_plan.percent_rate/100}} %</td>
            <td>{{new_plan.fixed_rate/100 | rupee:"INR "}}</td>
          </tr>
          <tr>
            <td>
              <select class="form-control" name="payment_method" ng-model="new_plan.payment_method" required>
                  <option value="card">Card</option>
                  <option value="netbanking">NetBanking</option>
                  <option value="wallet">Wallet</option>
                  <option value="emi">Emi</option>
              </select>
            </td>
            <td>
              <select class="form-control" name="payment_method_type" ng-model="new_plan.payment_method_type">
                  <option value="credit">Credit</option>
                  <option value="debit">Debit</option>
                  <option value="">Both</option>
              </select>
            </td>
            <td>
              <select class="form-control" name="payment_network" ng-model="new_plan.payment_network">
                  <option ng-repeat="(networkId,networkName) in itemList" value="{{networkId}}">{{networkName}}</option>
              </select>
            </td>
            <td>
              <select class="form-control" name="payment_issuer" ng-model="new_plan.payment_issuer">
                  <option value="">All</option>
                  <option value="HDFC">HDFC</option>
              </select>
            </td>
            <td>
              <select class="form-control" name="international" ng-model="new_plan.international">
                <option value='0'>False</option>
                <option value='1'>True</option>
              </select>
            </td>
            <td>
              <select class="form-control" name="amount_range_active" ng-model="new_plan.amount_range_active">
                <option value='0'>False</option>
                <option value='1'>True</option>
              </select>
            </td>
            <td>
              <select class="form-control" name="amount_range" ng-model="new_plan.amount_range">
                <option value='low'>0-200000</option>
                <option value='high'>200000-1000000000</option>
              </select>
            </td>
            <td>
              <input class="form-control" type="text" name="percent_rate" ng-model="new_plan.percent_rate" tooltip="Percent rate multiplied by 100 e.g. enter 2.89% as 289" placeholder="As integer" required/>
            </td>
            <td>
              <input class="form-control" type="text" name="fixed_rate" ng-model="new_plan.fixed_rate" tooltip="Fixed rate in paisa e.g. enter INR 2 as 200" placeholder="As Integer" required/>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td collspan="6">
              <a href ng-click="savePlan()"><button class="btn btn-primary btn-rounded">Save and Add More Rules</button></a>
              <a href ng-click="create_plan = false"><button class="btn btn-primary btn-rounded">Cancel</button></a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="text-center m-t">
    <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
  </div>

</div>
