<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Merchant Detail
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md merchant-wrapper" ng-controller="MerchantDetailCtrl">
  <div class="panel panel-default col-sm-2 col-sm-offset-2" >
    <div class="panel-heading m-t m-b">
      Actions
    </div>
    <div class="row wrapper actions-wrapper">
      <div class="list-group">
        <a href="{{'/admin/merchant/' + merchant.details.id + '/login'}}" target="_blank" class="list-group-item">
          Login as Merchant
        </a>
        <a ui-sref="app.merchants.activation({id:merchant.details.id})" class="list-group-item">
          See Activation Form Details
        </a>
        <a href class="list-group-item" ng-show="merchant.details.locked==0" ng-click="lockForm()">
          Lock Activation Form
        </a>
        <a href class="list-group-item" ng-show="merchant.details.locked==1" ng-click="unlockForm()">
          Unlock Activation Form
        </a>
        <a href class="list-group-item"
        ng-show="merchant.details.activated==0"
        ng-confirm-click="Are you sure you have validated all merchant details, assigned pricing plan and terminal to merchant before activating?"
        ng-click="activateMerchant()"
        >
          Activate Merchant
        </a>
        <a href class="list-group-item" ng-show="merchant.details.activated==1 && merchant.details.live==0" ng-click="enableLive()">
          Enable Live Transactions
        </a>
        <a href class="list-group-item" ng-show="merchant.details.live==1 "ng-click="disableLive()"
        ng-confirm-click="All future live transactions from merchant will fail, are you sure you want to do this?"
        >
          Disable Live Transactions
        </a>
        <a href class="list-group-item" ng-show="merchant.details.methods.paytm == false" ng-click="enableMethod('paytm')">
          Enable Paytm
        </a>
        <a href class="list-group-item" ng-show="merchant.details.methods.paytm == true "ng-click="disableMethod('paytm')"
        >
          Disable Paytm
        </a>
        <a href class="list-group-item" ng-show="merchant.details.methods.card == false" ng-click="enableMethod('card')">
          Enable Card
        </a>
        <a href class="list-group-item" ng-show="merchant.details.methods.card == true "ng-click="disableMethod('card')"
        >
          Disable Card
        </a>
        <a href class="list-group-item" ng-click="openAssignPricing()">
          Assign Pricing
        </a>
        <a href class="list-group-item" ng-click="openAssignTerminal()">
          Assign Terminal
        </a>
        <a href class="list-group-item" ng-click="openAssignBanks()">
          Assign Banks
        </a>
        <a href class="list-group-item" ng-click="openAddAdjustment()">
          Add Adjustment
        </a>
        <a href class="list-group-item" ng-click="openEditMerchant()">
          Edit Merchant MCC, Website & International
        </a>
        <a href class="list-group-item" ng-click="openAutofillForms()">
          Autofill Activation Form
        </a>
        <a href class="list-group-item" ng-click="openEditComment()">
          Edit Comment
        </a>
      </div>
    </div>
  </div>
  <div class="panel panel-default col-sm-6" >
    <div class="panel-heading m-t m-b">
      Merchant: <strong>{{merchant.details.id}}</strong>
    </div>
    <div class="text-center m-t">
      <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div class="row wrapper">
      <div class="list-group">
        <a href class="list-group-item">
          <span class="pull-right">{{merchant.balance/100 | currency:'INR ' }}</span>
          Balance
        </a>
        <a href class="list-group-item">
          <span class="pull-right">{{merchant.details.name}}</span>
          Name
        </a>
        <a href class="list-group-item">
          <span class="pull-right">{{merchant.details.email}}</span>
          Email
        </a>
        <a href class="list-group-item">
          <span class="pull-right">{{merchant.details.created_at*1000 | date:'medium'}}</span>
          Registration Date
        </a>
        <a href class="list-group-item">
          <span class="pull-right">{{merchant.details.website}}</span>
          Website
        </a>
        <a href class="list-group-item">
          <span class="pull-right">{{merchant.details.category}}</span>
          MCC
        </a>
        <a href class="list-group-item">
          <span class="pull-right">{{merchant.details.international}}</span>
          International
        </a>
        <a href class="list-group-item">
          <span class="pull-right">{{merchant.details.created_at*1000 | date:'medium'}}</span>
          Registration Date
        </a>
        <a href class="list-group-item">
          <span class="pull-right">{{merchant.details.created_at*1000 | date:'medium'}}</span>
          Registration Date
        </a>
        <a href class="list-group-item">
          <span class="pull-right" tooltip="{{merchant.details.confirm_token == null ? 'Confirmed' : 'Not Confirmed'}}">
            <i class="fa" ng-class="{'fa-check text-success': merchant.details.confirm_token == null, 'fa-times text-danger':merchant.details.confirm_token != null}"></i>
          </span>
          Confirmed
        </a>
        <a href class="list-group-item">
          <span class="pull-right">
            <b class="badge bg-success dk">{{merchant.details.activation_progress}}%</b>
          </span>
          Activation Form Progress
        </a>
        <a href class="list-group-item">
          <span class="pull-right" tooltip="{{merchant.details.submitted == 1 ? 'Submitted' : 'Not Submitted'}}">
            <i class="fa" ng-class="{'fa-check text-success': merchant.details.submitted == 1, ' fa-times text-danger':merchant.details.submitted == 0}"></i>
          </span>
          Activation Form Submitted
        </a>
        <a href class="list-group-item">
          <span class="pull-right" tooltip="{{merchant.details.locked == 1 ? 'Locked' : 'Unlocked'}}">
            <i class="fa" ng-class="{'fa-lock text-danger': merchant.details.locked == 1, ' fa-unlock text-success':merchant.details.locked == 0}"></i>
          </span>
          Activation Form Status
        </a>
        <a href class="list-group-item">
          <span class="pull-right" tooltip="{{merchant.details.activated == 1 ? 'Activated' : 'Not Activated'}}"><i class="fa" ng-class="{'fa-check text-success': merchant.details.activated == 1, 'fa-times text-danger':merchant.details.activated == 0}"></i></span>
          Activated
        </a>
        <a href class="list-group-item">
          <span class="pull-right" tooltip="{{merchant.details.live == 1 ? 'Live' : 'Not Live'}}"><i class="fa" ng-class="{'fa-check text-success': merchant.details.live == 1, 'fa-times text-danger':merchant.details.live == 0}"></i></span>
          Live
        </a>
        <a href class="list-group-item">
          <span class="pull-right" tooltip="{{merchant.details.methods.paytm == true ? 'Enabled' : 'Not Enabled'}}"><i class="fa" ng-class="{'fa-check text-success': merchant.details.methods.paytm == true, 'fa-times text-danger':merchant.details.methods.paytm == false}"></i></span>
          Paytm
        </a>
        <a href class="list-group-item">
          <span class="pull-right" tooltip="{{merchant.details.methods.card == true ? 'Enabled' : 'Not Enabled'}}"><i class="fa" ng-class="{'fa-check text-success': merchant.details.methods.card == true, 'fa-times text-danger':merchant.details.methods.card == false}"></i></span>
          Card
        </a>
        <div href class="list-group-item" ng-init="isPricingCollapsed = true">
            <span class="pull-right">
              <button class="btn btn-default btn-xs"  ng-click="isPricingCollapsed = !isPricingCollapsed" ng-show="merchant.pricing_plan.length != 0">Show/Hide</button>
              <span ng-hide="merchant.pricing_plan.length != 0">No Pricing Assigned</span>
            </span>
          Pricing Plan
        </div>
          <div collapse="isPricingCollapsed" class="panel-body">
            <a href class="list-group-item">
              <span class="pull-right">{{merchant.pricing_plan.id}}</span>
              Plan Id
            </a>
            <div class="list-group-item">
              <span class="pull-right">
                <a ui-sref="app.pricing.detail({id:merchant.pricing_plan.id})"
                    ng-show="merchant.pricing.length != 0">{{merchant.pricing_plan.name}} (Click to see/edit plan)</a>
              </span>
              Plan Name
            </div>
            <div class="list-group-item">
              Plan Rules
              <div class="m-t list-group-item">
                <table class="table table-striped b-light">
                  <thead>
                        <th>Payment Method</th>
                        <th>Payment Method Type</th>
                        <th>Payment Network</th>
                        <th>Payment Issuer</th>
                        <th>Percent Rate</th>
                        <th>Fixed Rate</th>
                  </thead>
                  <tbody>
                  <tr ng-repeat="rule in merchant.pricing_plan.rules">
                        <td>{{rule.payment_method || 'Any'}}</td>
                        <td>{{rule.payment_method_type || 'Any'}}</td>
                        <td>{{rule.payment_network || 'Any'}}</td>
                        <td>{{rule.payment_issuer || 'Any'}}</td>
                        <td>{{rule.percent_rate/100}} %</td>
                        <td>{{rule.fixed_rate/100 | currency:"INR "}}</td>
                  </tr>
                </tbody>
                </table>
              </div>
            </div>
          </div>
        <a href class="list-group-item" ng-init="isTerminalCollapsed = true">
          <span class="pull-right">
            <button class="btn btn-default btn-xs pull-right"  ng-click="isTerminalCollapsed = !isTerminalCollapsed"
                    ng-show="merchant.terminals.items.length != 0">Show/Hide</button>
            <span ng-hide="merchant.terminals.items.length != 0">
              No terminal Assigned
            </span>
          </span>
          Terminal
        </a>
          <div collapse="isTerminalCollapsed" class="panel-body">
            <div class="list-group-item">
              <div class="m-t list-group-item">
                <table class="table table-striped b-light">
                  <thead>
                    <th>Terminal Id</th>
                    <th>Mode</th>
                    <th>Gateway</th>
                    <th>Merchant Id</th>
                    <th>Terminal Id</th>
                    <th>Card Allowed</th>
                    <th>Created At</th>
                  </thead>
                  <tbody>
                  <tr ng-repeat="terminal in merchant.terminals.items">
                    <td>{{terminal.id}}</td>
                    <td>{{terminal.mode}}</td>
                    <td>{{terminal.gateway}}</td>
                    <td>{{terminal.gateway_merchant_id}}</td>
                    <td>{{terminal.gateway_terminal_id}}</td>
                    <td>{{terminal.card}}</td>
                    <td>{{terminal.created_at*1000 | date:'short'}}</td>
                  </tr>
                </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="assignPricingModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Assign Pricing Plan</h3>
  </div>
  <div class="modal-body pricing-modal">
    <span class="text-danger"><strong>
    Warning: The assigned pricing plan will replace the current pricing plan and affect all future test/live transactions.
    </strong></span>
    <form class="form-horizontal">
      <div class="form-group" ng-show="loading === false && pricing_plans.length > 0">
        <label class="col-lg-2 control-label">Plan to be Assigned</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="pricing_plan_id" ng-model="pricing_plan_id" ng-options="plan.id as plan.name for plan in pricing_plans">
          </select>
        </div>
      </div>
      <h5 ng-if="loading">Loading Plans....</h5>
      <h4 ng-if="loading === false && pricing_plans.length == 0">No Plans available. First create a pricing plan <a ui-sref="app.pricing.list">here</a></h4>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-confirm-click="Any previously assigned plan for the merchant will be replace with selected." ng-click="ok(pricing_plan_id)">OK</button>
  </div>
</script>
<script type="text/ng-template" id="assignTerminalModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Assign Terminal</h3>
  </div>
  <div class="modal-body terminal-modal">
    <span class="text-danger"><strong>
    Warning: The terminal once assigned can not be changed.
    </strong></span>
    <form class="form-horizontal" ng-init="terminal={gateway:'hdfc', mode:'live', card:1}">
      <div class="form-group">
        <label class="col-lg-2 control-label">Mode:</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" ng-model="terminal.mode">
             <option value="test">Test</option>
             <option value="live" selected>Live</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Gateway:</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" ng-model="terminal.gateway">
             <option value="hdfc" selected>HDFC</option>
             <option value="atom">Atom</option>
             <option value="axis_migs">Axis MIGS</option>
             <option value="axis_genius">Axis Genius</option>
             <option value="paytm">Paytm</option>
             <option value="billdesk">Billdesk</option>
             <option value="kotak">Kotak</option>
             <option value="netbanking_hdfc">Netbanking HDFC</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="gateway_merchant_id" class="col-lg-2 control-label">Gateway Merchant Id:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="gateway_merchant_id" ng-model="terminal.gateway_merchant_id" />
        </div>
      </div>
      <div class="form-group">
        <label for="gateway_terminal_id" class="col-lg-2 control-label">Gateway Terminal Id:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="gateway_terminal_id" ng-model="terminal.gateway_terminal_id" />
        </div>
      </div>
      <div class="form-group">
        <label for="gateway_terminal_password" class="col-lg-2 control-label">Gateway Terminal Password:</label>
        <div class="col-lg-10" >
          <input type="password" class="form-control m-b" name="gateway_terminal_password" ng-model="terminal.gateway_terminal_password" />
        </div>
      </div>
      <div class="form-group">
        <label for="gateway_terminal_password_confirmation" class="col-lg-2 control-label">Confirm Gateway Terminal Password:</label>
        <div class="col-lg-10" >
          <input type="password" class="form-control m-b" name="gateway_terminal_password_confirmation" ng-model="terminal.gateway_terminal_password_confirmation" />
        </div>
      </div>
      <div class="form-group">
        <label for="gateway_access_code" class="col-lg-2 control-label">Gateway Access Code:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="gateway_access_code" ng-model="terminal.gateway_access_code" />
        </div>
      </div>
      <div class="form-group">
        <label for="gateway_secure_secret" class="col-lg-2 control-label">Gateway Secure Secret:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="gateway_secure_secret" ng-model="terminal.gateway_secure_secret" />
        </div>
      </div>
      <div class="form-group">
        <label for="card" class="col-lg-2 control-label">Card Allowed (Always Yes for HDFC):</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" ng-model="terminal.card">
             <option value="1" selected>Yes</option>
             <option value="0">No</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-confirm-click="Terminal once assigned can not be changed, ensure you have checked all values" ng-click="ok(terminal)">OK</button>
  </div>
</script>
<script type="text/ng-template" id="assignBanksModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Assign Banks</h3>
  </div>
  <div class="modal-body banks-modal">
    <form class="form-horizontal">
      <div class="form-group" ng-show="loading === false">
        <div class="col-lg-10">
          <label class="i-checks">
          <input type="checkbox" name="banks" ng-model="selectall" ng-change="selectAllChange(selectall)" ><i></i> Select All/Deselect All
          </label>
        </div>
        <div class="col-lg-10" ng-repeat="(key, value) in bankdata">
          <label class="i-checks">
          <input type="checkbox" name="banks" ng-model="bankdata[key]" selected><i></i> {{banks.enabled[key] != null ? banks.enabled[key] : banks.disabled[key] | titlecase}}
          </label>
        </div>
      </div>
      <h5 ng-if="loading">Loading Banks....</h5>
      <h4 ng-if="loading === false && banks.length == 0">No Banks available.</h4>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-confirm-click="Any previously assigned banks for the merchant will be replace with selected." ng-click="ok(bankdata)">OK</button>
  </div>
</script>
<script type="text/ng-template" id="addAdjustmentModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Add Adjustment</h3>
  </div>
  <div class="modal-body terminal-modal">
    <span class="text-danger"><strong>
    Warning: The adjustment once assigned can not be changed.
    </strong></span>
    <form class="form-horizontal" ng-init="adjustment={currency:'INR'}">
      <div class="form-group">
        <label for="amount" class="col-lg-2 control-label">Amount (in Paise) :</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="amount" ng-model="adjustment.amount" placeholder="Amount in Paise (INR 1 as 100)"/>
        </div>
      </div>
      <div class="form-group">
        <label for="currency" class="col-lg-2 control-label">Currency:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="currency" ng-model="adjustment.currency" />
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-lg-2 control-label">Description:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="description" ng-model="adjustment.description" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-confirm-click="Adjustment once assigned can not be changed, ensure you have checked all values" ng-click="ok(adjustment)">OK</button>
  </div>
</script>
<script type="text/ng-template" id="editMerchantModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Edit Merchant</h3>
  </div>
  <div class="modal-body merchant-modal">
    <form class="form-horizontal" ng-init="merchant={international:current.international, category:current.category, website:current.website}">
      <div class="form-group">
        <label class="col-lg-2 control-label">International:</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" ng-model="merchant.international">
             <option value="1">Yes</option>
             <option value="0" selected>No</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="category" class="col-lg-2 control-label">MCC:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="category" ng-model="merchant.category" />
        </div>
      </div>
      <div class="form-group">
        <label for="website" class="col-lg-2 control-label">Website:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="website" ng-model="merchant.website" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-click="ok(merchant)">OK</button>
  </div>
</script>
<script type="text/ng-template" id="editCommentModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Edit Comment</h3>
  </div>
  <div class="modal-body merchant-modal">
    <form class="form-horizontal" ng-init="comment=current">
      <div class="form-group">
        <label class="col-lg-2 control-label">Comment:</label>
        <div class="col-lg-10" >
          <textarea class="form-control m-b" ng-model="comment">
          </textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-click="ok(comment)">OK</button>
  </div>
</script>
<script type="text/ng-template" id="openAutofillForms.html">
  <div class="modal-header">
    <h3 class="modal-title">Autofill Bank Activation Forms</h3>
  </div>
  <div class="modal-body terminal-modal">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="bank" class="col-lg-2 control-label">Template :</label>
        <div class="col-lg-10" >
          <select type="text" class="form-control m-b" name="bank" ng-model="selectbank" ng-change="select(selectbank)">
            <option value="axis-sma">Axis SMA</option>
            <option value="axis-ipg">Axis IPG</option>
            <option value="hdfc-sma">HDFC SMA</option>
          </select>
        </div>
      </div>
      <div class="actform"></div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary modal-ok" ng-click="ok()">Print</button>
  </div>
</script>