<div class="workflow-new-page" ng-controller="WorkflowNewCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <h3 class="m-n font-thin">
      Action Approval Workflow
      <spinner class="inline"></spinner>
    </h3>
  </div>
  <div class="wrapper-md">
    <div class="row panel-container">
      <div class="col-xs-4">
        <div class="right-label m-b">Actions</div>
        <div class="action-desc-panel panel panel-default">
          <div class="panel-heading">
            Actions List
          </div>
          <div class="wrapper clearfix">
            <div class="workflow-select2-container">
              <select class="select2 workflow-select2 " multiple="multiple" style="width: 100%" ng-model="workflowSelect">
                <option></option>
                <option ng-repeat="(key, perm) in permissions" value="{{key}}">{{perm.name}}</option>
              </select>
            </div>
            <div class="list-group">
              <div 
                class="list-group-item table-striped table" 
                ng-repeat="(key, id) in permissionsSelected track by key"
              >
                {{permissions[id].name}}
                <button class="btn btn-default pull-right" ng-click="deselectWorkflow(id)"><i class="fa fa-trash-o"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-8">
        <div class="right-label m-b">Workflow</div>
        <div class="action-desc-panel panel panel-default">
          <div class="panel-heading">
            Step 1
          </div>
          <div class="wrapper clearfix">
            <div class="">Add a checker to approve the action. It could be either a team or an individual.</div>
            <div class="assignee-list m-b">
              <div class="">
                <span class="assignee-label">Shashank Kumar</span>
              </div>
              <div class="assignee-list m-b">
                <div class="">
                  <span class="assignee-label">Shashank Kumar</span>
                  <span class="help-label">Minimum approvals</span>
                  <input type="number" min="1" max="50"/>
                </div>
              </div>
              <div class="role-select2-container col-xs-6 row">
                <select class="select2 role-select2 " multiple="multiple" style="width: 100%" ng-model="roleSelect">
                  <option></option>
                  <option ng-repeat="(key, role) in roles" value="{{key}}">{{role.name}}</option>
                </select>
              </div>
              <!-- <div class="select2-box col-xs-4 row">
                <select class="select2" style="width: 100%" ng-model="new_checker">
                  <option></option>
                </select>
              </div> -->
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-default">
          +  Add a Step
        </button>
        <button type="button" class="btn btn-info">
          Save Changes
        </button>
      </div>
    </div>  
  </div>
</div>
