<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Users
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default users-table" ng-controller="OrgsUsersCtrl">
    <div class="panel-heading">
      List of all Users
    </div>
    <div class="text-center m-t">
      <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div class="panel-body b-b b-light">
        <div class="col-md-6 m-b-xs">
          <label for='filter' class='m-r'>Search</label>
          <input id="filter" type="text"
            class="form-control input-sm w-sm inline m-r">
        </div>
        <div class="col-md-6">
          <a ui-sref='app.users.add' id='addAdminBtn' class='btn btn-default pull-right'>
            <i class="fa fa-user-plus"></i>
            Add new User
          </a>
        </div>
    </div>
    <div class="table-responsive">
      <table ui-jq="footable" data-filter="#filter" data-page-size="10" class="table-responsive table table-striped b-t b-light">
        <thead>
          <tr>
            <th>ID</th>
            <th ng-if="fields.indexOf('name') !== -1">Name</th>
            <th ng-if="fields.indexOf('username') !== -1">Username</th>
            <th ng-if="fields.indexOf('email') !== -1">Email</th>
            <th ng-if="fields.indexOf('roles') !== -1">Role</th>
            <th ng-if="fields.indexOf('employee_code') !== -1">Employee / Department / Branch / Location / Supervisor Code</th>
            <th>Locked</th>
            <th>Enabled</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in users"  ng-hide="row.id == admin.id">
            <td>{{row.id}}</td>
            <td ng-if="fields.indexOf('name') !== -1">{{row.name}}</td>
            <td ng-if="fields.indexOf('username') !== -1">{{row.username}}</td>
            <td ng-if="fields.indexOf('email') !== -1">{{row.email}}</td>
            <td ng-if="fields.indexOf('roles') !== -1">
              {{ roleFormatter(row.roles) }}
            </td>
            <td ng-if="fields.indexOf('employee_code') !== -1">
              {{row.employee_code}} /
              {{row.department_code}} /
              {{row.branch_code}} /
              {{row.location_code}} /
              {{row.supervisor_code}}
            </td>
            <td>
              <i class="fa" ng-class="{'fa-check text-success': row.locked == 1, 'fa-times text-danger':row.locked == 0}"></i>
            </td>
            <td><i class="fa" ng-class="{'fa-check text-success': row.disabled == 0 , 'fa-times text-danger':row.disabled == 1}"></i></td>
            <td>
              <div class="btn-group">
                <a class="btn btn-default btn-xs" ui-sref="app.users.edit({ id: row.id })">
                  <i class="fa fa-pencil-square"></i>
                  edit
                </a>
                <button class="btn btn-default btn-xs btn-admin-delete" ng-confirm-click="Are you sure you want to delete this admin?" ng-click="deleteOrgUser(row.id)">
                  <i class="fa fa-user-times text-danger"></i>
                  delete
                </button>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="9" class="text-center">
                <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
