<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Users
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default" ng-controller="OrgsUsersCtrl">
    <div class="panel-heading">
      List of all Users
    </div>
    <div class="text-center m-t">
      <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div class="panel-body b-b b-light">
        <div class="col-md-6 m-b-xs">
          <label for='filter' class='m-r'>Search</label>
          <input id="filter" type="text"
            class="form-control input-sm w-sm inline m-r">
        </div>
        <div class="col-md-6">
          <a ui-sref='app.adduser' id='addAdminBtn' class='btn btn-default pull-right'>
            <i class="fa fa-user-plus"></i>
            Add new User
          </a>
        </div>
    </div>
    <div class="table-responsive">
      <table ui-jq="footable" data-filter="#filter" data-page-size="10" class="table-responsive table table-striped b-t b-light">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Employee / Department / Branch / Location / Supervisor Code</th>
            <th>Locked</th>
            <th>Disabled</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in users">
            <td>{{row.id}}</td>
            <td>{{row.name}}</td>
            <td>{{row.username}}</td>
            <td>{{row.email}}</td>
            <td>
              {{row.employee_code}} /
              {{row.department_code}} /
              {{row.branch_code}} /
              {{row.location_code}} /
              {{row.supervisor_code}}
            </td>
            <td>
              <i class="fa" ng-class="{'fa-check text-success': row.locked == 1, 'fa-times text-danger':row.locked == 0}"></i>
            </td>
            <td><i class="fa" ng-class="{'fa-check text-success': row.disabled == 1, 'fa-times text-danger':row.disabled == 0}"></i></td>
            <td>
              <div class="btn-group">
                <a class="btn btn-default btn-xs" ui-sref="app.edituser({ id: row.id })">
                  <i class="fa fa-pencil-square"></i>
                  edit
                </a>
                <button class="btn btn-default btn-xs" ng-confirm-click="Are you sure you want to delete this admin?" ng-click="deleteOrgUser(row.id)">
                  <i class="fa fa-user-times text-danger"></i>
                  delete
                </button>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6" class="text-center">
                <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
