<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Admin Actions
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md merchant-wrapper" ng-controller="ActionsCtrl">
  <div class="panel panel-default" >
    <div class="panel-heading m-t m-b">
      Actions
    </div>
    <div class="text-center m-t">
      <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div class="row wrapper" ng-show="response!==null">
      <pre class="col-lg-8 pull-right">{{toJson(response)}}</pre>
    </div>
    <div class="row wrapper actions-wrapper">
      <div class="list-group">
        <a href class="list-group-item" ng-click="openSetlUpload()"
           ng-show="admin.permissions.indexOf('add_settlement_reconciliation') !== -1"
           dynamic-tooltip-pos="top" dynamic-tooltip="add_settlement_reconciliation">
          Upload Settlement Reconciliation (UTR)
        </a>
        <a href class="list-group-item" ng-click="openReconUpload()"
           ng-show="admin.permissions.indexOf('add_reconciliation_file') !== -1"
           dynamic-tooltip-pos="top" dynamic-tooltip="add_reconciliation_file">
          Upload Reconciliation File (Payment/Refund)
        </a>
        <a href class="list-group-item" ng-click="openAddIIN()"
           ng-show="admin.permissions.indexOf('edit_iin_rule') !== -1"
           dynamic-tooltip-pos="top" dynamic-tooltip="edit_iin_rule">
          Add IIN Rule
        </a>
        <a href class="list-group-item" ng-click="openAddEMI()"
           ng-show="admin.permissions.indexOf('create_emi_plan') !== -1"
           dynamic-tooltip-pos="top" dynamic-tooltip="create_emi_plan">
          Add EMI Plan
        </a>
        <a href class="list-group-item" ng-click="openConfirmUser()"
           ng-show="admin.permissions.indexOf('edit_merchant_confirm') !== -1"
           dynamic-tooltip-pos="top" dynamic-tooltip="edit_merchant_confirm">
          Confirm User
        </a>
        <a href class="list-group-item" ng-click="openGenerateRefund()"
           ng-show="admin.permissions.indexOf('create_netbanking_refund') !== -1"
           dynamic-tooltip-pos="top" dynamic-tooltip="create_netbanking_refund">
          Generate Refunds Excel (Netbanking)
        </a>
        <a href class="list-group-item" ng-click="openGenerateEmiFiles()"
           ng-show="admin.permissions.indexOf('create_emi_files') !== -1"
           dynamic-tooltip-pos="top" dynamic-tooltip="create_emi_files">
          Generate Emi Excel
        </a>
        <a href class="list-group-item" ng-click="openAuthorizeFailedPayment()"
           ng-show="admin.permissions.indexOf('edit_authorized_failed_payment') !== -1"
           dynamic-tooltip-pos="top" dynamic-tooltip="edit_authorized_failed_payment">
          Authorize Failed Payment
        </a>
        <a href class="list-group-item" ng-click="openAddSchedule()" ng-show="admin.permissions.indexOf('schedule_create') !== -1"
           dynamic-tooltip-pos="top" dynamic-tooltip="schedule_create">
          Create Schedule
        </a>
        <a href class="list-group-item" ng-click="triggerError()"
           ng-confirm-click="Are you sure you want to trigger an error?"
           ng-show="admin.permissions.indexOf('trigger_dummy_error') !== -1"
           dynamic-tooltip-pos="top" dynamic-tooltip="trigger_dummy_error">
          Trigger Dummy Error
        </a>
        <a href class="list-group-item" ng-click="openApiRequest()"
           ng-show="admin.permissions.indexOf('make_api_call') !== -1"
           dynamic-tooltip-pos="top" dynamic-tooltip="make_api_call">
          Make API Call
        </a>
        <a href class="list-group-item" ng-click="openRertySettlements()"
           ng-show="admin.permissions.indexOf('retry_settlement') !== -1"
           dynamic-tooltip-pos="top" dynamic-tooltip="retry_settlement">
          Retry Failed Settlements
        </a>
        <a href class="list-group-item" ng-click="openGSTINUpdate()"
           ng-show="admin.permissions.indexOf('edit_merchant_invoice_gstin') !== -1"
           dynamic-tooltip-pos="top" dynamic-tooltip="edit_merchant_invoice_gstin">
          Edit Merchant Invoice GSTIN
        </a>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="addIINModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Add IIN</h3>
  </div>
  <div class="modal-body iin-modal">
    <form class="form-horizontal" ng-init="iin={}">
      <div class="form-group">
        <label for="iin" class="col-lg-2 control-label">IIN (6 digit):</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="iin" ng-model="iin.iin" />
        </div>
      </div>
      <div class="form-group">
        <label for="network" class="col-lg-2 control-label">Network:</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="network" ng-model="iin.network">
            <option value="American Express">American Express</option>
            <option value="Diners Club">Diners Club</option>
            <option value="Discover">Discover</option>
            <option value="JCB">JCB</option>
            <option value="Maestro">Maestro</option>
            <option value="MasterCard">MasterCard</option>
            <option value="RuPay">RuPay</option>
            <option value="Visa">Visa</option>
            <option value="Union Pay">Union Pay</option>
            <option value="Unknown">Unknown</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="type" class="col-lg-2 control-label">Type:</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="type" ng-model="iin.type">
            <option value="credit">Credit</option>
            <option value="debit">Debit</option>
            <option value="unkown">Unknown</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="country" class="col-lg-2 control-label">Country (2 character):</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="country" length="2" ng-model="iin.country" />
        </div>
      </div>
      <div class="form-group">
        <label for="category" class="col-lg-2 control-label">Category:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="category" ng-model="iin.category" />
        </div>
      </div>
      <div class="form-group">
        <label for="issuer" class="col-lg-2 control-label">Issuer:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="issuer" ng-model="iin.issuer" />
        </div>
      </div>
      <div class="form-group">
        <label for="issuer_name" class="col-lg-2 control-label">Issuer Name:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="issuer_name" ng-model="iin.issuer_name" />
        </div>
      </div>
      <div class="form-group">
        <label for="emi" class="col-lg-2 control-label">EMI:</label>
        <div class="col-lg-10" >
          <input type="checkbox" class="form-control m-b" name="emi" ng-model="iin.emi" />
        </div>
      </div>
      <!--<div class="form-group">
        <label for="international" class="col-lg-2 control-label">International:</label>
        <div class="col-lg-10" >
          <input type="checkbox" class="form-control m-b" name="international" ng-model="iin.international" />
        </div>
      </div>-->
      <div class="form-group">
        <label for="trivia" class="col-lg-2 control-label">Trivia:</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="trivia" ng-model="iin.trivia" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-click="ok(iin)">OK</button>
  </div>
</script>
<script type="text/ng-template" id="assignBanksModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Assign Banks</h3>
  </div>
  <div class="modal-body banks-modal">
    <form class="form-horizontal">
      <div class="form-group" ng-show="loading === false">
        <div class="col-lg-10">
          <label class="i-checks">
          <input type="checkbox" name="banks" ng-model="selectall" ng-change="selectAllChange(selectall)" ><i></i> Select All/Deselect All
          </label>
        </div>
        <div class="col-lg-10" ng-repeat="(key, value) in bankdata">
          <label class="i-checks">
          <input type="checkbox" name="banks" ng-model="bankdata[key]" selected><i></i> {{banks.enabled[key] != null ? banks.enabled[key] : banks.disabled[key] | titlecase}}
          </label>
        </div>
      </div>
      <h5 ng-if="loading">Loading Banks....</h5>
      <h4 ng-if="loading === false && banks.length == 0">No Banks available.</h4>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-confirm-click="Any previously assigned banks for the merchant will be replace with selected." ng-click="ok(bankdata)">OK</button>
  </div>
</script>

<script type="text/ng-template" id="addEMIModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Add EMI Plan</h3>
  </div>
  <div class="modal-body banks-modal">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="bank" class="col-lg-2 control-label">Bank</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="bank" ng-model="emi.bank">
            <option value="RATN">RBL</option>
            <option value="HDFC">HDFC</option>
            <option value="UTIB">Axis</option>
            <option value="KKBK">Kotak</option>
            <option value="ICIC">ICICI</option>
            <option value="FDRL">Federal</option>
            <option value="INDB">Indusind</option>
            <option value="SCBL">Standard Chartered</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="duration" class="col-lg-2 control-label">Duration (months)</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="duration" ng-model="emi.duration">
            <option value="3">3</option>
            <option value="6">6</option>
            <option value="9">9</option>
            <option value="12">12</option>
            <option value="18">18</option>
            <option value="24">24</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="methods" class="col-lg-2 control-label">Methods</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="methods" ng-model="emi.methods">
            <option value="card" selected="selected">Card</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="rate" class="col-lg-2 control-label">Interest Rate</label>
        <div class="col-lg-10" >
          <input type="number" class="form-control m-b" name="rate" ng-model="emi.rate" placeholder="1250">
        </div>
      </div>
      <div class="form-group">
        <label for="subvention" class="col-lg-2 control-label">Subvention</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="subvention" ng-model="emi.subvention">
            <option value="customer">Customer</option>
            <option value="merchant">Merchant</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="merchant_payback" class="col-lg-2 control-label">Merchant Payback</label>
        <div class="col-lg-10" >
          <input type="number" class="form-control m-b" name="merchant_payback" ng-model="emi.merchant_payback" placeholder="1250">
        </div>
      </div>
      <div class="form-group">
        <label for="issuer_plan_id" class="col-lg-2 control-label">Issuer Plan Id</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="issuer_plan_id" ng-model="emi.issuer_plan_id">
        </div>
      </div>
      <div class="form-group">
        <label for="min_amount" class="col-lg-2 control-label">Min Amount</label>
        <div class="col-lg-10" >
          <input type="number" class="form-control m-b" name="min_amount" ng-model="emi.min_amount" placeholder="1250">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-confirm-click="Please make sure you have checked all fields properly." ng-click="ok(emi)">OK</button>
  </div>
</script>


<script type="text/ng-template" id="verifyPaymentModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Verify Payment</h3>
  </div>
  <div class="modal-body terminal-modal">
    <form class="form-horizontal" ng-init="id=''">
      <div class="form-group">
        <label for="payment-id" class="col-lg-2 control-label">Payment Id: </label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="payment" ng-model="id" placeholder="Payment Id"/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-click="ok(id)">OK</button>
  </div>
</script>

<script type="text/ng-template" id="archiveMerchantModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Archive Merchant</h3>
  </div>
  <div class="modal-body terminal-modal">
    <form class="form-horizontal" ng-init="id=''">
      <div class="form-group">
        <label for="id" class="col-lg-2 control-label">Merchant Id: </label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="id" ng-model="id" placeholder="Merchant Id"/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-click="ok(id)">OK</button>
  </div>
</script>

<script type="text/ng-template" id="confirmUserModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Confirm User</h3>
  </div>
  <div class="modal-body terminal-modal">
    <form class="form-horizontal" ng-init="email=''">
      <div class="form-group">
        <label for="email" class="col-lg-2 control-label">User Email: </label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="email" ng-model="email" placeholder="User Email"/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-click="ok(email)">OK</button>
  </div>
</script>

<script type="text/ng-template" id="authorizeFailedPaymentModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Authorize Failed Payment</h3>
  </div>
  <div class="modal-body terminal-modal">
    <form class="form-horizontal" ng-init="id=''">
      <div class="form-group">
        <label for="payment-id" class="col-lg-2 control-label">Payment Id: </label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="payment" ng-model="id" placeholder="Payment Id"/>
        </div>
      </div>
      <div class="form-group">
        <label for="mode" class="col-lg-2 control-label">Mode</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="mode" ng-model="mode">
            <option value="test">TEST</option>
            <option value="live">LIVE</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-click="ok(id, mode)">OK</button>
  </div>
</script>

<script type="text/ng-template" id="makeApiCallModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Make a raw API call</h3>
  </div>
  <div class="modal-body terminal-modal">
    <form class="form-horizontal" id="frm-raw-api-call">
      <div class="form-group">
        <label for="url" class="col-lg-2 control-label">Url</label>
        <div class="col-lg-10" >
          <div class="input-group">
            <div class="input-group-addon">https://api.razorpay.com/v1/</div>
            <input type="text" class="form-control m-b" name="url" ng-model="url" placeholder="relative/url">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="mode" class="col-lg-2 control-label">Mode</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="mode" ng-model="data.mode">
            <option value="test">TEST</option>
            <option value="live">LIVE</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="method" class="col-lg-2 control-label">Request Method</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="method" ng-model="data.method">
            <option value="GET">GET</option>
            <option value="POST">POST</option>
            <option value="PUT">PUT</option>
            <option value="DELETE">DELETE</option>
            <option value="PATCH">PATCH</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="auth" class="col-lg-2 control-label">Auth</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="auth" ng-model="data.auth">
            <option value="proxy">Merchant</option>
            <option value="admin">Admin</option>
            <option value="internal">Internal</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-show="data.auth==='proxy'">
        <label for="merchant_id" class="col-lg-2 control-label">Merchant Id</label>
        <div class="col-lg-10" >
          <input type="text" class="form-control m-b" name="merchant_id" ng-model="data.merchant_id" placeholder="merchant id">
        </div>
      </div>
      <div class="form-group" ng-show="data.method!=='GET' && data.method!=='DELETE'">
        <label for="content_type" class="col-lg-2 control-label">Content-Type</label>
        <div class="col-lg-10">
          <select class="form-control m-b" name="content_type" ng-model="data.content_type">
            <option value="application/x-www-form-urlencoded">URL Encoded</option>
            <option value="application/json">JSON</option>
            <option value="multipart/form-data">Multipart</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-show="data.method!='GET' && data.method!=='DELETE'">
        <label for="body" class="col-lg-3">Request Body</label>
        <small>Use url encoding for additional data in case of file uploads</small>
        <div class="col-lg-12 col-sm-12">
          <textarea rows="10" ng-model="data.body" class="form-control" name="body" id="body">
          </textarea>
        </div>
      </div>

      <!-- File uploads-->
      <div class="form-group" ng-show="data.method!='GET' && data.method!=='DELETE'">
        <label for="body" class="col-lg-3">Attach File</label>
        <div class="col-lg-12 col-sm-12">
          <input file-model="data.file" class="form-control" name="file" id="file" type="file">
        </div>
      </div>

      <!-- File upload name-->
      <div class="form-group" ng-show="data.file!==null && (data.method!='GET' && data.method!=='DELETE')">
        <label for="body" class="col-lg-3">File Name</label>
        <div class="col-lg-12 col-sm-12">
          <input ng-model="data.file_name" class="form-control" name="file_name" id="file_name">
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-click="ok(url, data)">OK</button>
  </div>
</script>

<script type="text/ng-template" id="uploadSetlRecon.html">
  <div class="modal-header">
    <h3 class="modal-title">Upload Setllement Reconciliation File</h3>
  </div>
  <div class="modal-body terminal-modal">
    <form class="form-horizontal" id="frm-raw-api-call" ng-init="data={mode: 'live', method:'POST', auth: 'admin', content_type: 'multipart/form-data', file_name: 'file'}">
      <div class="form-group">
        <label for="mode" class="col-lg-2 control-label">Mode</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="mode" ng-model="data.mode">
            <option value="test">TEST</option>
            <option value="live">LIVE</option>
          </select>
        </div>
      </div>

      <!-- File uploads-->
      <div class="form-group">
        <label for="body" class="col-lg-3">Attach File</label>
        <div class="col-lg-12 col-sm-12">
          <input file-model="data.file" class="form-control" name="file" id="file" type="file">
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-click="ok(url, data)">OK</button>
  </div>
</script>

<script type="text/ng-template" id="uploadRecon.html">
  <div class="modal-header">
    <h3 class="modal-title">Upload Reconciliation File</h3>
  </div>
  <div class="modal-body terminal-modal" ng-init="mode='live';data={gateway:'HDFC',files:[]};c=1">
    <form class="form-horizontal" id="frm-recon-upload">
      <div class="form-group">
        <label for="mode" class="col-lg-2 control-label">Mode</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="mode" ng-model="mode">
            <option value="test">TEST</option>
            <option value="live">LIVE</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="mode" class="col-lg-2 control-label">File Count</label>
        <div class="col-lg-10" >
          <input class="form-control m-b" name="mode" ng-model="c" type="number" min="1" max="10">
        </div>
      </div>

      <div class="form-group">
        <label for="mode" class="col-lg-2 control-label">Gateway</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="mode" ng-model="data.gateway">
            <option value="HDFC">HDFC</option>
            <option value="BillDesk">BillDesk</option>
            <option value="Axis">Axis</option>
            <option value="Ebs">Ebs</option>
            <option value="PayZapp">PayZapp</option>
            <option value="Mobikwik">Mobikwik</option>
            <option value="Olamoney">Olamoney</option>
            <option value="Kotak">Kotak</option>
            <option value="Paytm">Paytm</option>
            <option value="Freecharge">Freecharge</option>
            <option value="Jiomoney">Jiomoney</option>
            <option value="Sbibuddy">SBI Buddy</option>
            <option value="NetbankingAxis">Netbanking AXIS</option>
            <option value="NetbankingIcici">Netbanking ICICI</option>
            <option value="NetbankingFederal">Netbanking Federal</option>
            <option value="NetbankingRbl">Netbanking Rbl</option>
            <option value="NetbankingIndusind">Netbanking Indusind</option>
            <option value="NetbankingPnb">Netbanking Pnb</option>
            <option value="FirstData">First Data</option>
            <option value="VirtualAccKotak">Virtual Accounts Kotak</option>
          </select>
        </div>
      </div>

      <!-- File uploads-->
      <div class="form-group" ng-repeat="i in counter(c) track by $index">
        <label for="body" class="col-lg-3">Attach File {{$index}}</label>
        <div class="col-lg-12 col-sm-12">
          <input file-model="data.files[$index]" class="form-control" name="{{attachment-$index}}" type="file">
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-click="ok(mode, data)">OK</button>
  </div>
</script>

<script type="text/ng-template" id="refundGenerateModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Generate Refund Excel</h3>
  </div>
  <div class="modal-body terminal-modal">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="date" class="col-lg-2 control-label">Date: </label>
        <div class="col-lg-10" >
          <p class="input-group">
            <input type="date" class="form-control" ng-model="date">
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="from" class="col-lg-2 control-label">From</label>
        <div class="col-lg-10" >
          <p class="input-group">
            <input type="date" class="form-control" ng-model="from_date">
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="to" class="col-lg-2 control-label">To</label>
        <div class="col-lg-10" >
          <p class="input-group">
            <input type="date" class="form-control" ng-model="to_date">
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="bank" class="col-lg-2 control-label">Bank</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="bank" ng-model="bank">
            <!-- Take care to keep these capitalized -->
            <option value="HDFC">HDFC</option>
            <option value="KKBK">Kotak</option>
            <option value="UTIB">Axis</option>
            <option value="ICIC">ICICI</option>
            <option value="FDRL">Federal</option>
            <option value="INDB">Indusind</option>
            <option value="RATN">RBL</option>
            <option value="PUNB">PNB</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="mode" class="col-lg-2 control-label">Mode</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="mode" ng-model="mode">
            <option value="live">Live</option>
            <option value="test">Test</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="email_self" class="col-lg-2 control-label">Send Email to self</label>
        <div class="col-lg-10" >
          <input type="checkbox" class="form-control m-b" name="email_self" ng-model="email_self" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-click="ok(date,from_date,to_date,bank, mode, email_self)">Generate</button>
  </div>
</script>

<script type="text/ng-template" id="emiGenerateModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Generate EMI Files</h3>
  </div>
  <div class="modal-body terminal-modal">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="date" class="col-lg-2 control-label">Date: </label>
        <div class="col-lg-10" >
          <p class="input-group">
            <input type="date" class="form-control" ng-model="date">
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="from" class="col-lg-2 control-label">From</label>
        <div class="col-lg-10" >
          <p class="input-group">
            <input type="date" class="form-control" ng-model="from_date">
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="to" class="col-lg-2 control-label">To</label>
        <div class="col-lg-10" >
          <p class="input-group">
            <input type="date" class="form-control" ng-model="to_date">
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="bank" class="col-lg-2 control-label">Bank</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="bank" ng-model="bank">
            <!-- Take care to keep these capitalized -->
            <option value="KKBK">Kotak</option>
            <option value="UTIB">Axis</option>
            <option value="INDB">IndusInd</option>
            <option value="RATN">Rbl</option>
            <option value="SCBL">Scbl</option>
            <option value="ICIC">Icici</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="mode" class="col-lg-2 control-label">Mode</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="mode" ng-model="mode">
            <option value="live">Live</option>
            <option value="test">Test</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="email_self" class="col-lg-2 control-label">Send Email to self</label>
        <div class="col-lg-10" >
          <input type="checkbox" class="form-control m-b" name="email_self" ng-model="email_self" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-click="ok(date, from_date, to_date,bank, mode, email_self)">Generate</button>
  </div>
</script>

<script type="text/ng-template" id="addScheduleModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Add Schedule</h3>
  </div>
  <div class="modal-body schedule-modal">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="name" class="col-lg-2 control-label" ng-model="schedule.name">Name</label>
        <div class="col-lg-10">
          <input type="text" class="form-control m-b" name="name" ng-model="schedule.name" placeholder="Weekly-2" required>
        </div>
      </div>
      <div class="form-group">
        <label for="period" class="col-lg-2 control-label">Period</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="period" ng-model="schedule.period" required>
            <option value="hourly">Hourly</option>
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly-date">Monthly-Date</option>
            <option value="monthly-week">Monthly-Week</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="interval" class="col-lg-2 control-label">Interval</label>
        <div class="col-lg-10" >
          <input type="number" class="form-control m-b" name="interval" ng-model="schedule.interval">
        </div>
      </div>
      <div class="form-group">
        <label for="delay" class="col-lg-2 control-label">Delay</label>
        <div class="col-lg-10" >
          <input type="number" class="form-control m-b" name="delay" ng-model="schedule.delay">
        </div>
      </div>
      <div class="form-group">
        <label for="anchor" class="col-lg-2 control-label" ng-model="schedule.anchor">Anchor</label>
        <div class="col-lg-10">
          <input type="text" class="form-control m-b" name="anchor" ng-model="schedule.anchor">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-confirm-click="Please make sure you have checked all fields properly." ng-click="ok(schedule)">OK</button>
  </div>
</script>

<script type="text/ng-template" id="retrySettlementsModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Retry Failed Settlements</h3>
  </div>
  <div class="modal-body terminal-modal">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-lg-2 control-label">Settlement IDs</label>
        <div class="col-lg-10">
          <textarea type="text" class="form-control m-b" name="name" ng-model="settlementIds"
                    placeholder="Please enter comma separated Settlement IDs" rows="5"
                    required></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary modal-ok" ng-click="ok(settlementIds)">OK</button>
  </div>
</script>

<script type="text/ng-template" id="updateGSTINModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Edit Merchant Invoice GSTIN</h3>
  </div>
  <div class="modal-body terminal-modal">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-lg-2 control-label">Merchant ID</label>
        <div class="col-lg-10">
          <input type="text" class="form-control m-b" name="merchantId"
                 ng-model="merchantId" placeholder="Enter Merchant ID"
                 required/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Invoice Number</label>
        <div class="col-lg-10">
          <input type="text" class="form-control m-b" name="invoiceNumber"
                 ng-model="invoiceNumber" placeholder="Enter Invoice Number"
                 required/>
        </div>
      </div>
      <div class="form-group">
        <label for="mode" class="col-lg-2 control-label">Mode</label>
        <div class="col-lg-10" >
          <select class="form-control m-b" name="mode" ng-model="mode">
            <option value="live">Live</option>
            <option value="test">Test</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary modal-ok" ng-click="ok(merchantId, invoiceNumber, mode)">OK</button>
  </div>
</script>
