<div ng-controller="MerchantInvitationCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">
      Invite a Merchant
      <spinner class="inline"></spinner>
    </h1>
  </div>
  <div class="wrapper-md">
    <div class="panel-form-container" ng-if="fields">
      <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Invitation details</h4>

          <p>
            <strong>
              Smarthub: Education, Society &amp; Government merchants should NOT be onboarded through this solution
            </strong>
          </p>
        </div>
        <form class="form-horizontal">
          <div class="panel-body">
            <div class="form-group" ng-if="fields.indexOf('channel_code') !== -1">
             <label for="channel_code" class="col-lg-3 control-label">Channel Code</label>
              <div class="col-lg-8" >
                <select name="channel_code" ng-model="merchant.channel_code" class="form-control m-b" ng-required='true'>
                  <option value="">Please select a channel code</option>
                  <option value="mrm">MRM</option>
                  <option value="branch">Branch/CANI</option>
                  <option value="db">Database</option>
                  <option value="dsa">DSA</option>
                  <option value="others">Others</option>
                </select>
                <input class="form-control m-b"
                  name="display_name"
                  placeholder="Please mention a Channel_code"
                  ng-model="merchant.channel_code_others"
                  ng-if="merchant.channel_code === 'others'"
                  ng-required="merchant.channel_code === 'others'"
                  >
              </div>
            </div>
            <div class="form-group" ng-if="fields.indexOf('crm_next_no') !== -1">
             <label for="crm_next_no" class="col-lg-3 control-label">CRM Next No.</label>
              <div class="col-lg-8" >
                <input class="form-control m-b" name="crm_next_no"
                  ng-model="merchant.crm_next_no" ng-required="true">
              </div>
            </div>
            <div class="form-group" ng-if="fields.indexOf('db_token_no') !== -1">
             <label for="db_token_no" class="col-lg-3 control-label">Database Token No.</label>
              <div class="col-lg-8" >
                <input class="form-control m-b" name="db_token_no"
                  ng-model="merchant.db_token_no" ng-required='true'>
              </div>
            </div>
            <div class="form-group" ng-if="fields.indexOf('branch_lts_no') !== -1">
             <label for="branch_lts_no" class="col-lg-3 control-label">Branch LTS No.</label>
              <div class="col-lg-8" >
                <input class="form-control m-b" name="branch_lts_no"
                  ng-model="merchant.branch_lts_no" ng-required='true'>
              </div>
            </div>
            <div class="form-group" ng-if="fields.indexOf('branch_code') !== -1">
             <label for="branch_code" class="col-lg-3 control-label">Branch Code</label>
              <div class="col-lg-8" >
                <input class="form-control m-b" name="branch_code"
                  ng-model="merchant.branch_code" ng-required='true'>
              </div>
            </div>
            <div class="form-group" ng-if="fields.indexOf('source_code') !== -1">
             <label for="source_code" class="col-lg-3 control-label">Source Code</label>
              <div class="col-lg-8" >
                <input class="form-control m-b" name="source_code"
                  ng-model="merchant.source_code" ng-required='true'>
              </div>
            </div>
            <div class="form-group" ng-if="fields.indexOf('promo_code') !== -1">
             <label for="promo_code" class="col-lg-3 control-label">Promo Code</label>
              <div class="col-lg-8" >
                <input class="form-control m-b" name="promo_code"
                  ng-model="merchant.promo_code" ng-readonly='true' ng-required='true'>
              </div>
            </div>
            <div class="form-group" ng-if="fields.indexOf('lg_code') !== -1">
             <label for="lg_code" class="col-lg-3 control-label">LG Code</label>
              <div class="col-lg-8" >
                <input class="form-control m-b" name="lg_code"
                  ng-model="merchant.lg_code" ng-required='true'>
              </div>
            </div>
            <div class="form-group" ng-if="fields.indexOf('lc_ro_code') !== -1">
             <label for="lc_ro_code" class="col-lg-3 control-label">LC/RO Code</label>
              <div class="col-lg-8" >
                <input class="form-control m-b" name="lc_ro_code"
                  ng-model="merchant.lc_ro_code" ng-required='true'>
              </div>
            </div>
            <div class="form-group" ng-if="fields.indexOf('mrm_code') !== -1">
             <label for="mrm_code" class="col-lg-3 control-label">MRM Code</label>
              <div class="col-lg-8" >
                <input class="form-control m-b" name="mrm_code"
                  ng-model="merchant.mrm_code" ng-required='true'>
              </div>
            </div>
            <div class="form-group" ng-if="fields.indexOf('merchant_type') !== -1">
             <label for="merchant_type" class="col-lg-3 control-label">Type of Merchant</label>
              <div class="col-lg-8" >
                <select name="merchant_type" ng-model="merchant.merchant_type" class="form-control m-b" ng-required='true'>
                  <option value="stp">STP</option>
                  <option value="nstp">NSTP</option>
                </select>
              </div>
            </div>
            <div class="form-group" ng-if="fields.indexOf('mcc_category') !== -1">
             <label for="mcc_category" class="col-lg-3 control-label">MCC Category</label>
              <div class="col-lg-8" >
                <input class="form-control m-b" name="mcc_category"
                  ng-model="merchant.mcc_category" ng-required='true'>
              </div>
            </div>
            <div class="form-group" ng-if="fields.indexOf('mcc_code') !== -1">
             <label for="mcc_code" class="col-lg-3 control-label">MCC Code</label>
              <div class="col-lg-8" >
                <input class="form-control m-b" name="mcc_code"
                  ng-model="merchant.mcc_code" ng-required='true'>
              </div>
            </div>

            <div class="line"></div>

            <div class="panel-heading">
              Merchant details
            </div>

            <div class="line"></div>

            <div class="form-group" ng-if="fields.indexOf('merchant_name') !== -1">
             <label for="merchant_name" class="col-lg-3 control-label">Merchant Name</label>
              <div class="col-lg-8" >
                <input class="form-control m-b" name="merchant_name"
                  ng-model="merchant.merchant_name" ng-required='true'>
              </div>
            </div>
            <div class="form-group" ng-if="fields.indexOf('contact_name') !== -1">
             <label for="contact_name" class="col-lg-3 control-label">Contact Name</label>
              <div class="col-lg-8" >
                <input class="form-control m-b" name="contact_name"
                  ng-model="merchant.contact_name" ng-required='true'>
              </div>
            </div>
            <div class="form-group" ng-if="fields.indexOf('contact_email') !== -1">
             <label for="contact_email" class="col-lg-3 control-label">Contact email</label>
              <div class="col-lg-8" >
                <input type="email" class="form-control m-b" name="contact_email"
                  ng-model="merchant.contact_email" ng-required='true'
                  placeholder="admin@company.com">
              </div>
            </div>
            <div class="form-group" ng-if="fields.indexOf('dba_name') !== -1">
             <label for="dba_name" class="col-lg-3 control-label">DBA Name</label>
              <div class="col-lg-8" >
                <input class="form-control m-b" name="dba_name"
                  ng-model="merchant.dba_name" ng-required='true'>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-lg-offset-3 col-lg-8 text-center">
                <button class="btn btn-primary panel-btn-action" async-btn-click="inviteMerchant(merchant)">
                  Send
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
