<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Merchant Stats
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md" ng-controller="MerchantStatsCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <ul class="nav navbar-nav navbar-right pagination-sm m-t-none m-b-none">
        <li ng-click="allowPrev && prev()"><button class="btn btn-default fa fa-chevron-left" ng-disabled="!allowPrev"></button></li>
        <li ng-click="allowNext && next()"><button class="btn btn-default  fa fa-chevron-right" ng-disabled="!allowNext"></button></li>
      </ul>

      Mode: ({{mode | titlecase}})
    </div>
    <div class="row wrapper">
      <div class="text-center m-t">
        <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
      </div>
      <div class="col-xs-1">
        Mode:
        <select class="form-control input-sm w-xs inline" name="mode" ng-model="mode">
          <option value="live">Live</option>
          <option value="test">Test</option>
        </select>
      </div>
      <div class="col-xs-2">
        Count:
        <input type="number" min="10" step="10" name="count" ng-model="count" ng-enter="go(merchant_id)">
      </div>
      <div class="col-xs-1">
        For Last:
        <input type="number" min="0" max="180" name="duration_count" ng-model="duration_count"
          ng-enter="go(merchant_id)"
        >
      </div>
      <div class="col-xs-1 m-t-md m-l-n-xxl">
        <select class="form-control input-sm w-xs inline" name="type" ng-model="type">
          <option value="day">Day</option>
          <option value="week">Week</option>
          <option value="month">Month</option>
          <option value="year">Year</option>
        </select>
      </div>
      <div class="col-xs-2">
        Sort:
        <select class="form-control w-sm inline" name="sort" ng-model="sort">
          <option value="total_amount">Total Amount</option>
          <option value="total_count">Total Count</option>
        </select>
      </div>
      <div class="col-sm-3 m-t-md">
        <div class="input-group">
          <input type="text" class="input-sm form-control" placeholder="Search Merchant Id" ng-model="merchant_id">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button" ng-click="go(merchant_id)" >Go!</button>
          </span>
        </div>
      </div>
      <!-- <div class="col-sm-1">
        <button class="btn btn-primary" ng-click="generateTable(true);">Download</button>
      </div> -->
    </div>
    <div class="m-l">
      <b>Note:</b> {{note}}
    </div>
    <div class="table-responsive">
      <table id="merchants-table" class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th>Merchant Id</th>
            <th>Total Amount (INR)</th>
            <th>Total Count</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in data">
            <td><a ui-sref="app.merchants.detail({id:row.merchant_id})">{{row.merchant_id}}</a></td>
            <td>{{row.total_amount/100 | rupee: ''}}</td>
            <td>{{row.total_count}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-4 hidden-xs">
        </div>
        <div class="col-sm-4 text-center">
          <small class="text-muted inline m-t-sm m-b-sm">Showing {{stats.countStart}}-{{stats.countEnd}}</small>
        </div>
        <div class="col-sm-4 text-right text-center-xs">
          <ul class="nav navbar-nav navbar-right pagination-sm m-t-none m-b-none">
            <li ng-click="allowPrev && prev()"><button class="btn btn-default fa fa-chevron-left" ng-disabled="!allowPrev"></button></li>
            <li ng-click="allowNext && next()"><button class="btn btn-default  fa fa-chevron-right" ng-disabled="!allowNext"></button></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
