<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Pricing Plans
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md" ng-controller="PricingsCtrl" ng-init="generateTable()">
  <div class="text-center">
    <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
  </div>
  <div class="panel panel-default" >
    <div class="panel-heading">
      List of all Plans
    </div>
    <div class="row wrapper">
      <div class="col-md-6 m-b-xs">
        <label for='filter' class='m-r'>Search</label>
        <input id="filter" type="text"
          class="form-control input-sm w-sm inline m-r">
      </div>
      <div class="col-md-6">
        <a class='btn btn-default pull-right'
          ui-sref='app.pricingplan' target="_blank">
          Create New Pricing Plan
        </a>
      </div>
    </div>
    <div>
      <table ui-jq="footable" data-filter="#filter" data-page-size="10" class="pricing-table table table-responsive table-striped b-t b-light">
        <thead>
          <tr>
            <th>Plan ID</th>
            <th>Plan Name</th>
            <th>No. of Rules</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in pricing_plans">
            <td>{{row.plan_id}}</td>
            <td>{{row.plan_name}}</td>
            <td>{{row.rules_count}}</td>
            <td>
              <a ui-sref="app.pricingdetail({id:row.plan_id})" target="_blank">
                <button class="btn btn-default btn-xs btn-show-plan">Show/Edit Rules</button>
              </a>
            </td>
          </tr>
          <tr ng-show="pricing_plans.length == 0">
            <td colspan="4">No Pricing Plans</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" class="text-center">
                <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
