<div ng-controller="AuditlogsCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">
      Audit Log
      <spinner class="inline"></spinner>
    </h1>
  </div>
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading">
        Log Entries
      </div>

      <div class="table-responsive">
        <table ui-jq="footable" data-filter="#filter" class="table-responsive table table-striped b-t b-light">
          <thead>
            <tr>
              <th data-toggle="true">Admin</th>
              <th>Category</th>
              <th>Action</th>
              <th>Label</th>
              <th>Time</th>
              <th data-sort-ignore="true">&nbsp;</th>
          </thead>
          <tbody>
            <tr ng-repeat="row in audit_logs">
              <td>{{row.event.admin.email}}</td>
              <td>{{row.event.category}}</td>
              <td>{{row.event.action}}</td>
              <td>{{row.event.label}}</td>
              <td data-value="{{row.event.created_at}}">{{row.event.created_at * 1000 | date:'medium'}}</td>
              <td>
                <a href="javascript:void(0);" class="btn btn-default btn-xs" ng-click="showAuditLogDetail(row.id)">
                  Details
                </a>
              </td>
            </tr>
            <tr ng-show="audit_logs.length == 0">
              <td colspan="6">No Activity</td>
            </tr>
          </tbody>
        </table>
      </div>

      <footer class="panel-footer">
        <div class="row">
          <div class="col-sm-4 hidden-xs">
          </div>
          <div class="col-sm-4 text-center">
            <small class="text-muted inline m-t-sm m-b-sm">Showing {{pager.skip}}-{{pager.skip+pager.count}}</small>
          </div>
          <div class="col-sm-4 text-right text-center-xs">
            <ul class="nav navbar-nav navbar-right pagination-sm m-t-none m-b-none">
              <li ng-click="pager.allowPrev && prev()"><button class="btn btn-default fa fa-chevron-left" ng-disabled="!pager.allowPrev"></button></li>
              <li ng-click="pager.allowNext && next()"><button class="btn btn-default fa fa-chevron-right" ng-disabled="!pager.allowNext"></button></li>
            </ul>
          </div>
        </div>
      </footer>

    </div>
  </div>
</div>

<script type="text/ng-template" id="auditLogDetailContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Entry Details</h3>
  </div>

  <div class="modal-body new-key-modal" style="overflow: auto;">
    <h4>Admin User</h4>

    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th ng-show="data.admin.username">Username</th>
            <th ng-show="data.admin.email">Email</th>
            <th ng-show="data.admin.employee_code">Employee</th>
            <th ng-show="data.admin.branch_code">Branch</th>
            <th ng-show="data.admin.department_code">Department</th>
            <th ng-show="data.admin.supervisor_code">Supervisor</th>
            <th ng-show="data.admin.location_code">Location</th>
            <th ng-show="data.admin.roles.length">Roles</th>
            <th ng-show="data.admin.groups.length">Groups</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td ng-show="data.admin.username">{{ data.admin.username }}</td>
            <td ng-show="data.admin.email">{{ data.admin.email }}</td>
            <td ng-show="data.admin.employee_code">{{ data.admin.employee_code }}</td>
            <td ng-show="data.admin.branch_code">{{ data.admin.branch_code }}</td>
            <td ng-show="data.admin.department_code">{{ data.admin.department_code }}</td>
            <td ng-show="data.admin.supervisor_code">{{ data.admin.supervisor_code }}</td>
            <td ng-show="data.admin.location_code">{{ data.admin.location_code }}</td>
            <td ng-show="data.admin.roles.length">{{ data.admin.roles.join(', ') }}</td>
            <td ng-show="data.admin.groups.length">{{ data.admin.groups.join(', ') }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h4>Event</h4>

    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th ng-show="data.category">Category</th>
          <th ng-show="data.action">Action</th>
          <th ng-show="data.label">Label</th>
          <th ng-show="data.description">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td ng-show="data.category">{{ data.category }}</td>
          <td ng-show="data.action">{{ data.action }}</td>
          <td ng-show="data.label">{{ data.label }}</td>
          <td ng-show="data.description">{{ data.description }}</td>
        </tr>
      </tbody>
    </table>

    <h4 ng-if="dataKeys.length">Change</h4>
    <table ng-if="dataKeys.length" class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>Property</th>
          <th>Old Value</th>
          <th>New Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="key in dataKeys">
          <td>{{ key }}</td>
          <td>{{ data.entity.change.old[key] ? data.entity.change.old[key] : '' }}</td>
          <td>{{ data.entity.change.new[key] ?  data.entity.change.new[key] : ''}}</td>
        </tr>
      </tbody>
    </table>

    <h4>Extra</h4>

    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th ng-repeat="(key, value) in data.extra">
            {{ key }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td ng-repeat="(key, value) in data.extra">
            {{ value }}
          </td>
        </tr>
      </tbody>
    </table>

    <h4>Other</h4>

    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th ng-show="data.user_agent">User Agent</th>
          <th ng-show="data.ip_address">IP Address</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td ng-show="data.user_agent">{{ data.user_agent }}</td>
          <td ng-show="data.ip_address">{{ data.ip_address }}</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Close</button>
  </div>
</script>
