<div ng-controller="EmailLogsCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">
      Email Logs
      <spinner class="inline"></spinner>
    </h1>
  </div>
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="text-center m-t">
        <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
      </div>
      <div class="row wrapper">
        <div class="col-sm-3">
        <label>Recipient:</label>
          <input type="email" class="form-control" value="" ng-model="recipient" placeholder="abc@xyz.com">
        </div>
        <div class="col-sm-4">
          <label>Tag:</label>
          <input type="text"
          class="form-control" placeholder="payment_successful AND pay_7bAyLfGpAQGddB"
          value="" ng-model="tags">
        </div>
        <div class="col-sm-2">
          <label>Event:</label>
            <select class="form-control" name="event" ng-model="event" ng-init="event=''">
              <option value="">All</option>
              <option value="delivered">Delivered</option>
              <option value="failed">Failed</option>
              <option value="rejected">Rejected</option>
            </select>
        </div>
          <button class="btn btn-default btn-md" style="margin-top: 20px" type="button" ng-click="fetchEmailLogs()" busy="...">Search</button>
      </div>
      <div>
        <table ui-jq="footable" data-page="false" class="table-responsive table b-t b-light">
          <thead>
            <tr>
              <th>Recepient</th>
              <th>Subject / Failure Reason</th>
              <th>Tags</th>
              <th data-type="numeric">Timestamp</th>
          </thead>
          <tbody>
            <tr ng-repeat="row in emailLogs" ng-class="{ 'danger' : row.event == 'failed' }">
              <td>{{row.recipient}}</td>
              <td>{{row.event == 'failed' ? row['delivery-status'].description : row.message.headers.subject}}</td>
              <td><span ng-repeat="tag in row.tags">{{tag}}{{$last ? '' : ', '}}</span></td>
              <td>{{row.timestamp*1000 | date: 'medium'}}</td>
            </tr>
            <tr ng-show="emailLogs.length == 0">
              <td colspan="6">No Logs</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
