<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Org Detail
    <spinner class="inline"></spinner>
  </h1>
  <div class="wrapper-md" ng-controller="OrgDetailCtrl">
    <div class="panel panel-default col-sm-2 col-sm-offset-2">
      <div class="panel-heading m-t m-b">
        Actions
      </div>
      <div class="row-wrapper actions-wrapper">
        <div class="list-group">
          <a href ng-click="openAddPermissionModal()">
            Add Permission
          </a>
        </div>
      </div>
    </div>
    <div class="panel panel-default col-sm-6">
      <div class="row wrapper list-group">
        <div class="list-group-item">
          <a>
            <span class="pull-right">{{role.name}}</span>
            Name
          </a>
        </div>
        <div class="list-group-item">
          <a>
            <span class="pull-right">{{role.description}}</span>
            Description
          </a>
        </div>
        <div class="list-group-item">
          <div ng-init="isPermissionsCollapsed = true">
          <span class="pull-right">
            <button class="btn btn-default btn-xs" ng-click="isPermissionsCollapsed = !isPermissionsCollapsed">
              Show/Hide
            </button>
          </span>
            Permissions
          </div>
          <div collapse="isPermissionsCollapsed" class="panel-body">
            <div>
              <div class="m-t list-group-item">
                <table class="table table-striped b-light">
                  <thead>
                    <th>Name</th>
                    <th>Description</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="row in role.permissions">
                      <td>{{row.name}}</td>
                      <td>{{row.description}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="permissionsListModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Permissions List</h3>
  </div>
  <div class="modal-body">
    <table class="table table-responsive tabgle-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in permissions" class="merchants-table-body">
          <td>{{row.id}}</td>
          <td>{{row.name}}</td>
          <td>{{row.description}}</td>
        </tr>
        <tr ng-show="permissions.length === 0">
          <td colspan="7">No Permissions</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</script>
<script type="text/ng-template" id="addPermissionModal.html">
  <div class="modal-header">
      <h3 class="modal-title">Add New Permission</h3>
    </div>
    <div class="modal-body">
      <table class="table table-striped b-light">
        <thead>
          <th>Name</th>
          <th>Description</th>
        </thead>
        <tbody>
          <tr ng-repeat="row in permissions">
            <td>{{row.name}}</td>
            <td>{{row.description}}</td>
            <td><input type="checkbox" ng-model="row.selected"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-click="ok(permissions)">OK</button>
    </div>
</script>
