<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Admin Profile
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md profile-wrapper">
  <div class="panel panel-default col-sm-6 col-sm-offset-3" >
    <div class="panel-heading m-t m-b">
      Admin Username: <strong>{{admin.username}}</strong>
    </div>
    <div class="text-center m-t">
      <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div class="row wrapper">
      <div class="list-group">
        <a href class="list-group-item">
          <span class="pull-right">{{admin.name | titlecase}}</span>
          Admin Name
        </a>
        <a href class="list-group-item">
          <span class="pull-right">{{admin.email}}</span>
          Email Id
        </a>
        <a href class="list-group-item">
          <span class="pull-right">{{ admin.roles.join(', ') }}</span>
          Role
        </a>
        <a href class="list-group-item">
          <span class="pull-right">{{admin.created_at | date:'medium'}}</span>
          Creation Date
        </a>
        <a href class="list-group-item" ng-show="admin.employee_code">
          <span class="pull-right">{{admin.employee_code}}</span>
          Employee Code
        </a>
        <a href class="list-group-item" ng-show="admin.branch_code">
          <span class="pull-right">{{admin.branch_code}}</span>
          Branch Code
        </a>
        <a href class="list-group-item" ng-show="admin.department_code">
          <span class="pull-right">{{admin.department_code}}</span>
          Department Code
        </a>
        <a href class="list-group-item" ng-show="admin.location_code">
          <span class="pull-right">{{admin.location_code}}</span>
          Location Code
        </a>
        <a href class="list-group-item" ng-show="admin.supervisor_code">
          <span class="pull-right">{{admin.supervisor_code}}</span>
          Supervisor Code
        </a>
        <a class="list-group-item" ng-click="showActivity()">
          Show Activity Log
        </a>
      </div>
    </div>
    <div class="text-center m-b">
      <script type="text/ng-template" id="passwordModalContent.html">
        <div class="modal-header">
          <h3 class="modal-title">Change Password</h3>
        </div>
        <div class="modal-body change-pwd-modal">
            <form ng-init="data={}">
              <div class="form-group">
                  <input type="password" placeholder="Current Password" class="form-control" name="old_password" ng-model="data.old_password">
              </div>
              <div class="form-group">
                  <input type="password" placeholder="New Password" class="form-control" name="password" ng-model="data.password">
              </div>
              <div class="form-group">
                  <input type="password" placeholder="Confirm New Password" class="form-control" name="password_confirmation" ng-model="data.password_confirmation">
              </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary modal-ok" ng-click="ok(data)">Change Password</button>
        </div>
      </script>
      <button  class="btn btn-primary btn-rounded btn-change-pwd" ng-click="changePassword()">Change Password</button>
    </div>
  </div>
  <div class="panel panel-default col-sm-8 col-sm-offset-2" ng-show="activities">
    <div class="panel-heading">
      Admin Id: <strong>{{activities[0].admin_id}}</strong>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <th>Device</th>
          <th>Ip address</th>
          <th>Date/Time</th>
          <th>&nbsp;</th>
        </thead>
        <tbody>
          <tr ng-repeat="activity in activities">
            <td>{{activity.parsed_user_agent.ua.family}}({{activity.parsed_user_agent.ua.major}}.{{activity.parsed_user_agent.ua.minor}}.{{activity.parsed_user_agent.ua.patch}}) {{activity.parsed_user_agent.os.family}}</td>
            <td>{{activity.ip_address}}</td>
            <td>{{activity.parsed_last_activity}}</td>
            <td>
              <a class="btn-admin-delete" ng-show="!activity.current" ng-confirm-click="Are you sure you want to delete this session?" ng-click="deleteSession(activity.id)">
                <i class="fa fa-user-times text-danger" tooltip="Delete"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <button class="btn btn-sm btn-danger col-sm-offset-9" ng-confirm-click="Are you sure you want to delete all other sessions you are signed in with?" ng-click="deleteAllOtherSessions(activity[0].admin_id)">
      Sign out all other sessions
    </button>
    <br>
    <br>
  </div>
</div>
