<div ng-controller="MerchantsCtrl">
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Merchants - Total {{count}}
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading">
      List of all Merchants
    </div>
    <div class="row wrapper">
      <div class="col-sm-9 m-b-xs">
        Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <select class="input-sm form-control" name="merchant_type" ng-model="merchant_type">
            <option value="1">Activated</option>
            <option value="2">Not Activated</option>
            <option value="3">Pending Activation</option>
            <option value="4">Confirmed</option>
            <option value="5">Dead</option>
          </select>
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button" ng-click="filter()" busy="...">Go!</button>
            <button class="btn btn-sm btn-default" type="button" ng-click="regenerate()" busy="...">Clear</button>
          </span>
        </div>
      </div>
    </div>
    <div>
      <table ui-jq="footable" data-filter="#filter" data-page="false" class="merchants-table table-responsive table table-striped b-t b-light">
        <thead>
          <tr>
            <th>Merchant Id</th>
            <th>Name</th>
            <th>Email</th>
            <th data-type="numeric">Confirmed</th>
            <th data-hide="phone,tablet" data-type="numeric">Activation Progress (%)</th>
            <th data-type="numeric">Activated</th>
            <th data-hide="phone,tablet" data-type="numeric">Registration Date</th>
            <th data-hide="phone,tablet" data-type="numeric">Submission Date</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in merchants">
            <td><a ui-sref="app.merchants.detail({id:row.id})">{{row.id}}</a></td>
            <td>{{row.name}}</td>
            <td>{{row.email}}</td>
            <td data-value="{{row.confirm_token == null ? 1 : 0}}">
              <i class="fa" ng-class="{'fa-check text-success': row.confirm_token == null, 'fa-times text-danger':row.confirm_token != null}"></i>
            </td>
            <td data-value="{{row.activation_progress}}">
              <b class="badge bg-success dk">{{row.activation_progress}}%</b>
            </td>
            <td data-value="{{row.activated}}">
              <i class="fa" ng-class="{'fa-check text-success': row.activated == 1, 'fa-times text-danger':row.activated == 0}"></i>
            </td>
            <td data-value="{{row.created_at}}">{{row.created_at*1000 | date:'medium'}}</td>
            <td data-value="{{(row.merchant_details.submitted_at ? row.merchant_details.submitted_at : row.updated_at)}}">{{(row.merchant_details.submitted_at ? row.merchant_details.submitted_at : row.updated_at)*1000 | date:'medium'}}</td>
          </tr>
          <tr ng-show="merchants.length == 0">
            <td colspan="7">No Merchants</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>