<div ng-controller="InvitationsCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">
      Invitations - Total {{count}}
      <spinner class="inline"></spinner>
    </h1>
  </div>
  <div class="wrapper-md">
    <div class="panel panel-default">
      <div class="panel-heading">
        List of all Invitations
      </div>
      <div class="text-center m-t">
        <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
      </div>
      <div class="row wrapper">
        <div class="col-md-6 m-b-xs">
          <label for='filter' class='m-r'>Search</label>
          <input id="filter" type="text"
            class="form-control input-sm w-sm inline m-r">
        </div>
        <div class="col-md-6">
          <button id='sendInvitationButton' class='btn btn-default pull-right' ui-sref="app.merchants.invite">
            Invite a Merchant
          </button>
        </div>
      </div>
      <div>
        <table ui-jq="footable" data-filter="#filter" data-page="false" class="table-responsive table table-striped b-t b-light">
          <thead>
            <tr>
              <th>Invitation Id</th>
              <th>Merchant Email</th>
              <th>Created At</th>
              <th data-sort-ignore="true">&nbsp;</th>
          </thead>
          <tbody>
            <tr ng-repeat="row in invitations">
              <td>{{row.id}}</td>
              <td>{{row.email}}</td>
              <td>{{row.created_at * 1000 | date: 'medium'}}</td>
              <td>
                <a href="javascript:void(0);" class="btn btn-default btn-xs" ng-click="showInvitationDetails(row.id)">
                  Details
                </a>
              </td>
            </tr>
            <tr ng-show="invitations.length == 0">
              <td colspan="6">No Invitations</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<script type="text/ng-template" id="invitationDetail.html">
  <div class="modal-header">
    <h3 class="modal-title">Invitation Details</h3>
  </div>

  <div class="modal-body new-key-modal" style="overflow: auto;">

    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, value) in data">
          <td>
            {{ utils.humanize(key) }}
          </td>
          <td>
            {{ value }}
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Close</button>
  </div>
</script>
