<div class="container" style="max-width: 360px;" ng-controller="AdminPwdResetCtrl">
  <div class="wrapper">
    <a href="#/" class="text-center">
      <img class="img-responsive" src="{{logo_url}}" alt=".">
    </a>

    <h5 class="text-center">
      <strong>Reset Password</strong>
    </h5>
  </div>

  <form name="reset" ng-submit="submit(reset.$valid)" style="margin-bottom: 20px;">
    <div class="list-group">
      <div class="list-group-item">
        <input type="email" ng-model="data.email" placeholder="Email" class="form-control no-border" ng-required="true" />
      </div>

      <div class="list-group-item">
        <input type="password" ng-model="data.password" placeholder="Password" class="form-control no-border" ng-required="true" />
      </div>

      <div class="list-group-item">
        <input type="password" ng-model="data.password_confirmation" name="password_confirmation" placeholder="Password Confirmation" class="form-control no-border" ng-required="true"
        ui-validate=" '$value==data.password' " ui-validate-watch=" 'data.password' "
        />
      </div>
      <small class="text-danger" ng-show='reset.password_confirmation.$error.validator'>
        Passwords do not match!
      </small>

    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">
      Reset Password
    </button>
  </form>

  <div class="text-center">
    <spinner></spinner>
    <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
  </div>

  <div ng-show="success" class="alert alert-success">
    <p>Password Reset successful. <a ui-sref="access.auth.password" class="btn btn-sm btn-success">Sign in</a></p>
  </div>
</div>
