.VirtualAccountDetails
  margin: -4px
  padding: 4px
  border: 1px solid #eaeff0
  border-radius: 4px
  background: #fdfdfd
  width: 90%
  max-width: 500px

  .pair-group-item:first-child
    .pair-label
      color: inherit

  .divider
    border-top: 1px solid #eaeff0

  .divider--dotted
    border-top: 1px dashed #eaeff0

.VirtualAccountSummary
  max-width: 98%
  width: 384px

  .pair-label
    color: inherit

  .ClipboardCustom
    display: block


$max-width = 640px

.Modal-container--VirtualAccount
    width: 90%
    max-width: $max-width
    min-height: 560px
    max-height: 690px
    height: 85vh


/* PaymentLinks wizard screen */
.VirtualAccount--Create
  max-width: $max-width
  height: 85vh
  min-height: 560px
  max-height: 690px
  background: #fafafa
  position: relative

  .form-title
    padding: 28px 0
    font-weight: 600
    font-size: 18px

  .Form
    position: absolute
    bottom: 0
    top: 0

  .Form--tabular
    .Input-content
      margin-left: 156px

    .Input-label
      width: 136px

  main
    height: 100%
    padding: 0 40px
    padding-bottom: 96px
    overflow: auto

    &::-webkit-scrollbar
      display: none

  .form-group
    > div:first-child
      margin-top: 0

  footer
    position: absolute
    left: 0
    right: 0
    bottom: 0
    padding: 20px
    background: #F6F6F6
    border-top: 1px solid #e0e0e0
    text-align: right

    button
      vertical-align: top

.Modal-container--VirtualAccountV2
  width: 90%
  max-width: 400px
  max-height: 526px
  height: 85vh

.StandAloneContainer
  .VirtualAccount--CreateV2
    max-height: 588px
    background: white
    position: relative
    height: 80vh
    max-width: 400px

.VirtualAccount--CreateV2
  .form-title
    padding: 24px
    font-weight: 600
    font-size: 18px
    position: absolute
    top: 0
    left: 0
    background: white
    z-index: 1
    width: 100%

  .Form
    position: absolute
    bottom: 0
    top: 0
    overflow: hidden
    width: 100%

    .remaining-count
      position: absolute
      top: 42px
      right: 0

  main
    height: 100%
    padding: 70px 24px 96px 24px
    overflow: auto

    .form-container
      height: auto

    &::-webkit-scrollbar
      display: none

  .payment-method-label
    margin-bottom: 16px
    font-weight: bold
    font-size: 14px
    line-height: 17px

  .Input--SelectCustomer
    .Input-label span
      color: #828282
      font-size: 12px

  .Input-error
    position absolute
    top 42px

  .Input-desc
    margin-top: 8px

  .additional-options-btn
    font-size: 12px
    display: flex
    align-items: center
    justify-content: space-between
    cursor pointer
    padding: 12px 0
    margin-top: 20px
    border-top: 1px solid #eee

    &.btn-hide
      border-bottom: 1px solid #eee

    .heading
      color: #586663
      font-weight: bold

    .description
      color: #838383

    .i
      font-size: 24px

  .AdditionalOptions,
  .Input--SelectCustomer
    .Input-content
      margin-top: 8px

  .AdditionalOptions
    hr
      margin: 20px 0

    .Input
      margin-top: 0
      margin-bottom: 0

  .third-party-validation
    margin-top: 24px
    .description
      display: flex
      align-items: center
      justify-content: space-between

    .actions
      font-weight: bold
      text-decoration: none

    .btn-link
      margin: 0
      padding: 0
      text-decoration: none

  footer
    position: absolute
    left: 0
    right: 0
    bottom: 0
    padding: 24px
    background: #F6F6F6
    border-top: 1px solid #e0e0e0
    text-align: right

    .Button
      width: 168px
      padding: 9px 12px

      &:first-child
        margin: 0 16px 0 0

      &:last-child
        margin: 0

  .SelectBox
    .Input
      margin: 12px 0 0 0
    
    img
      height: 16px
      vertical-align: text-bottom

.VPAPrefixModal
  max-width: 432px
  padding: 16px
  position: relative
  top: 50%
  transform: translateY(-100%)

  img
    width: 16px
    margin-right: 4px
    vertical-align: text-top

  .Input
    margin-top: 0
    display: flex
    align-times: baseline
    .Input-label
      width: 100px

    .Input-error
      position absolute
      top: 42px

  .status
    min-height: 18px

  .upi-example
    margin: 12px 0
    span
      color: black

  .remaining-count
    position: absolute
    top: 42px
    right: 0

.EnableTransferModeModal

  .Input-error
    position absolute
    top: 40px

  .remaining-count
    position: absolute
    top: 40px
    right: 0

.VA-test-payment
  margin-top: 24px
  .rzp-banner-text
    display: flex
    align-items: center

    .Button
      min-width: 175px

.ConfigureBankAccounts
  padding: 24px
  max-width: 432px
  margin-top: 245px

  .title
    font-weight: bold
    font-size: 18px
    margin-bottom: 24px

  .InputGroup
    display: flex
    align-items: baseline
    justify-content: space-between
    margin: 0
    padding-right: 16px
    &:not(:first-child)
      margin-top: 12px

    .Input-label
      font-size: 12px
      color: #838383

    .Input
      margin: 0 16px 0 0

    .Input-error
      font-size: 12px

  .actions
    font-size: 12px
    margin-top: 16px 

    .add-account-btn
      font-weight: bold
      color: #528FF0
      font-size: 14px
      text-decoration: none
      padding: 0

    .message
      color: #58666E
      font-weight: normal
      margin-left: 8px
      font-style: italic

  .i-delete-outline
    cursor: pointer
    line-height: 1
    position: absolute
    right: 0
    top: 30px
    &:hover
      opacity: 0.7

.VirtualAccount--Details
  .allowed-payers-list
    width: 100%
    th
      background: #EAEFF0
      padding: 4px 8px
      color: #7B8199
      font-size: 12px

    td
      padding: 8px

    tbody tr
      border-bottom: 1px solid #DDDDDD

.list-filter-item.account-number-filter
  flex-basis: 190px

.SmartCollect--Block
  display: flex
  align-items: center
  margin: 64px 32px
  background: #FAFAFA
  border-radius: 4px
  height: 70vh
  max-height: 612px
  min-height: 540px

  @media (max-width: 1024px)
    height: 100%
    max-height: 70vh
    display: block
    padding-top: 62px

  > div
    width: 50%
    @media (max-width: 1024px)
      width: 100%

  .info
    display: flex
    justify-content: flex-end
    align-items: center
    @media (max-width: 1024px)
      justify-content: center
      > div
        text-align: center

      .divider
        margin: 24px auto

  .heading
    font-weight: bold
    font-size: 24px
    line-height: 32px
    color: #3969CD

  .divider
    width: 24px
    height: 4px
    background: #E74B3C
    margin: 24px 0

  .desc
    font-weight: 600
    font-size: 18px
    line-height: 24px
    color: #2E3345
    max-width: 466px

  .error-img
    padding: 32px 0
    height: 100%
    display: flex
    align-items: center
    @media (max-width: 768px)
      justify-content: center

    img
      max-height: 532px
      height: auto
      max-width: 100%

.close-by-value
  padding-right: 10px;