<div ng-controller="UserCtrl" style="height:100%">
  <!-- navbar -->
  <div data-ng-include=" 'tpl/blocks/header.html' " class="app-header navbar">
  </div>
  <!-- / navbar -->

  <!-- menu -->
  <div data-ng-include=" 'tpl/blocks/aside.html' " class="app-aside hidden-xs {{app.settings.asideColor}}">
  </div>
  <!-- / menu -->

  <!-- content -->
  <div id="main-content" class="app-content">
    <div loading-bar></div>
    <div ui-butterbar></div>
    <div class="app-content-body fade-in-up" ui-view></div>
  </div>
  <!-- /content -->

  <!-- footer -->
  <div class="app-footer wrapper-sm">
    &copy; {{app.today | date:'yyyy'}} Copyright {{app.name}}
  </div>
  <!-- / footer -->

  <!-- Tour Legs -->
  <ol jq-tourbus class="tourbus-legs" id="merchant-demo">
    <li data-highlight="true" data-scroll-to="0" data-orientation="centered" data-align="center" data-top="125">
      <div class="welcome-tour">
        <div class="welcome-tour-header text-center">
          <h3>Howdy!</h3>
          <div>Welcome to Razorpay</div>
        </div>

        <div class="welcome-tour-container">
          <div>
            <div class="demo-desc">
              <div>Dashboard is your one stop for all your payments.</div>
              <div>Using dashboard, here are the most important things you can carry out</div>
            </div>

            <ul class="list-unstyled" style="margin-bottom: 25px;">
              <li>Complete Activation process</li>
              <li>Check transaction history</li>
              <li>Issue Refunds</li>
              <li>Check Settlements</li>
              <li>Generate Financial Reports</li>
            </ul>
          </div>
        </div>

        <div class="buttons text-center">
          <button class="btn btn-primary tourbus-next">Get Started</button>
        </div>
      </div>
    </li>

    <li data-el="#merchant-id" data-highlight="true" data-orientation="bottom" data-align="center" data-width="440">
      <div>This is your Merchant ID. You can communicate with us effectively with this Merchant ID</div>
      <div class="text-right">
        <button class="btn btn-link tourbus-next">Next ></button>
      </div>
    </li>

    <li data-el="#sidebar-features" data-highlight="true" data-orientation="right" data-align="center" data-width="400">
      <div>You can access all transactional data and reports through this panel. You can also add your teammates to Razorpay Dashboard.</div>
      <div class="text-right">
        <button class="btn btn-link tourbus-prev">< Prev</button>
        <button class="btn btn-link tourbus-next">Next ></button>
      </div>
    </li>

    <li data-el="#sidebar-settings" data-highlight="true" data-width="400" data-orientation="right" data-align="center">
      <div>This panel helps you in getting activated and monitoring your account settings.</div>
      <div class="text-right">
        <button class="btn btn-link tourbus-prev">< Prev</button>
        <button class="btn btn-link tourbus-next">Next ></button>
      </div>
    </li>

    <li data-el="#activationNav" data-highlight="true" data-orientation="right" data-align="center" data-width="255">
      <div>Click here to proceed to Activation</div>
      <div class="text-right">
        <button class="btn btn-link tourbus-prev">< Prev</button>
        <a ui-sref="app.activation" class="btn btn-link tourbus-next">Proceed</a>
      </div>
    </li>
  <ol>
  <!-- / Tour legs -->
  </div>
</div>

<script type="text/ng-template" id="warning-dialog.html">
  <div ng-idle-countdown="countdown" ng-init="countdown=15">
  <div class="modal-header">
   <h3>You'll be logged out in <span class="label label-danger">{{countdown}}</span> <span ng-pluralize="" count="countdown" when="{'one': 'second', 'other': 'seconds' }"></span>.</h3>
  </div>
  <div class="modal-body">
  <p>Your session has been idle for very long, perform some action to avoid auto logout.</p>
  <progressbar max="15" value="countdown" animate="true" class="progress-striped active" type="danger"></progressbar>
  </div>
  </div>
</script>
<script type="text/ng-template" id="activationModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Activation Required</h3>
  </div>
  <div class="modal-body">
    <div>
      You can only use Razorpay in test mode until your account is activated. <br/>
      Please fill and submit the
      <a ui-sref="app.activation" ng-click="ok()"><u>activation form</u></a>.
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
  </div>
</script>
