<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Download Report ({{mode + " Mode"| titlecase }})
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md" ng-controller="GenerateReportCtrl">
  <div class="panel panel-default panel-form col-sm-6 col-sm-offset-3" >
    <div class="panel-heading m-t m-b">
      Download Report - {{mode | titlecase}} Mode
    </div>
    <div class="text-center m-t m-b">
      <div class="row">
        <div class="m-b col-sm-3">
          <select name="entity" ng-model="report.entity" class="form-control" required>
            <option value="payment">Payment</option>
            <option value="refund">Refund</option>
            <option value="order">Order</option>
            <option value="settlement">Settlement</option>
            <option value="transaction">Combined</option>
            <option ng-show="user.tags.indexOf('Invoice') != -1" value="invoice">
              Monthly Invoice
            </option>
          </select>
        </div>

        <div class="m-b col-sm-2">
          <select name="type" ng-model="report.type" class="form-control" required ng-show="report.entity!='invoice'">
            <option value="daily">Daily</option>
            <option value="monthly">Monthly</option>
          </select>
        </div>

        <div class="m-b col-sm-2">
            <select name="year" ng-model="report.year" class="form-control" required>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
            </select>
        </div>

        <div class="m-b col-sm-2" ng-show="report.type == 'monthly' || report.type== 'daily'">
          <select name="month" ng-model="report.month" class="form-control" required>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>

        <div class="m-b col-sm-2"  ng-show="report.type == 'daily'">
          <select name="day" ng-model="report.day" class="form-control" required>
            <option ng-selected="day==report.day" ng-repeat="day in days" value="{{day}}">{{day}}</option>
          </select>
        </div>
        <div class="m-b col-sm-4"  ng-show="report.type == 'weekly'">
          <select name="month" ng-model="report.month" class="form-control" required>
            <option ng-repeat="week in weeks" value="{{week}}">{{week}}</option>
          </select>
        </div>

      </div>
      <button  class="btn btn-primary btn-rounded" ng-click="generateReport()">Download Report</button>
    </div>
    <footer class="panel-footer">
      <div class="text-center m-t m-b">
        <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
        <div class="row">
          <div class="col-sm-12 text-center">
            Combined reports will include transactions on the given date, as well as payments
            settled on that given date.
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
