<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Configuration
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default" ng-controller="ConfigCtrl">
    <div class="panel-heading">
      Merchant Configuration
    </div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Transaction Report Email</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" maxlength="255" ng-model="config.transaction_report_email">
            <span class="help-block m-b-none">Comma-separated email addresses that will receive notifications regarding payments, settlements, daily reports, webhooks etc.</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Checkout Theme Color</label>
          <div class="col-sm-10">
            <input type="color" class="form-control" ng-model="config.brand_color" ng-show="showColorPicker">
            <button ng-click="showColorPicker = true" ng-show="!showColorPicker">Select a color</button>
            <span class="help-block m-b-none">Default theme color which will be used if none
            is specified at the time of payment. Please use the color picker or specify a color code in hexadecimal (4AA3DF)</span>
          </div>
        </div>
        <!--Upload logo image file 2-->
        <div class="form-group">
          <label class="col-sm-2 control-label">Logo Image</label>
          <div class="col-sm-10" ng-show="showImageSelector">
            <span class="help-block m-b-none">
              <li>Max image size - 1MB</li>
              <li>Image should be square (width = height) </li>
              <li>Minimum image dimensions - 256*256</li>
              <li>Image types should be either jpg, jpeg or png only</li><br>
            </span>
            <input ui-jq="filestyle" accept="image/*" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s" name="logo" ng-file-select="onFileSelect($files, 'logo')">
          </div>
          <div class="col-sm-10" ng-show="!showImageSelector">
            <img src="{{config.logo_url}}" wdith="100" height="100"><br>
            <button ng-click="showImageSelector = true" >Upload new Logo</button>
          </div>
        </div>
        <!--End-->
        <div class="m-t m-b text-center prev-next">
          <button ng-click="save(config)" type="submit" class="btn btn-save btn-default btn-rounded">Save</button>
        </div>
      </form>
    </div>
    <footer class="panel-footer">
      <div class="text-center m-t m-b">
        <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
      </div>
    </footer>
  </div>
</div>
