<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Configuration
    <spinner class="inline"></spinner>
  </h1>
</div>

<div class="wrapper-md col-sm-8 col-sm-offset-2" >
  <div class="panel panel-default" ng-controller="ConfigCtrl">
    <div class="panel-heading">
      Checkout Theme
    </div>
    <div class="panel-body">
      <form class="form-horizontal ">

        <div class="m-b">
          <label class="control-label"><strong>Theme Color</strong></label>
          <div class="help-block">
            <div class="col-sm-2">
              <input type="color" class="form-control brand-color-picker" ng-model="config.brand_color" >
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" ng-show="config.brand_color" ng-model="config.brand_color" >
            </div>
            <div class="clearfix"></div>
            <span class="help-block m-b-none">Choose a theme color to customize the checkout form. The default theme color will be used if none is specified. <strong>Use the color picker or enter the hexadecimal color code.</strong></span>
          </div>
        </div>
        <!--Upload logo image file 2-->
        <div class="">
          <label class="control-label"><strong>Your Logo</strong></label>
          <div class="clearfix"></div>
          <div class="help-block">
            <div ng-show="!showImageSelector" class="pull-left m-r" >
              <img src="{{config.logo_url}}" width="72" height="72">
            </div>
            <span class="help-block m-b-none ">
            Upload your logo that will appear on the checkout form. Choose a square image of minimum dimensions 256x256 px. Max file size 1 MB.
            </span>
          </div>
          <div class="clearfix"></div>
          <div class="m-t">
            <div class="pull-left col-sm-2 file-upload-container">
              <input ui-jq="filestyle" accept="image/*" type="file" data-icon="false" data-classButton="btn btn-default btn-primary" data-classInput="form-control inline v-middle input-s hide" name="logo" ng-file-select="onFileSelect($files, 'logo')">
            </div>
            <div class=" text-center prev-next">
              <button ng-click="save(config)" type="submit" class="btn btn-save btn-default btn-rounded pull-right">Save Changes</button>
            </div>
          </div>
        </div>
        <!--End-->
      </form>
    </div>
    <footer class="panel-footer">
      <div class="text-center m-t m-b">
        <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
      </div>
    </footer>
  </div>

  <div class="panel panel-default" ng-controller="FeaturesCtrl">
    <div class="panel-heading">
      <span>Flash Checkout</span>
      <label ng-if="fcOpted" class="i-switch pull-right">
        <input type="checkbox" name="fcEnabled" ng-click="fcToggle()" ng-model="fcEnabled"><i></i>
      </label>
    </div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="">
          <label class="control-label"><strong>Flash Checkout</strong></label>
          <div class="">
            <div ng-if="!fcOpted">
              <span class="help-block m-b-none">Securely save the card details of your customers, with Razorpay's Flash Checkout. Flash Checkout feature will be <strong>automatically enabled on your account on 30 Dec, 2016</strong>. You can opt out right now from this automatic update and enable this feature later.</span>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="m-t">
            
            <span class="help-block m-b-none pull-left"><a class="highlight" target="_blank" href="https://razorpay.com/flashcheckout/">Know more about Flash Checkout <i class="fa fa-external-link"></i></a></span>
            
            <div class="pull-right">
              
              <div ng-if="fcOpted" class=" text-center prev-next">
                <button ng-click="updateFeatures()" type="submit" class="btn btn-save btn-default btn-rounded ">Save Changes</button>
              </div>
              <div ng-if="!fcOpted" class=" text-center prev-next">
                <button ng-click="optOutFc()" type="submit" class="btn btn-save btn-default btn-rounded pull-right">Opt Out</button>
                <button ng-click="optInFc()" type="submit" class="btn btn-save btn-default btn-rounded pull-right m-r">Enable Flash Checkout</button>
              </div>
            </div>
              
          </div>
        </div>
      </form>
    </div>
    <footer class="panel-footer">
      <div class="text-center m-t m-b">
        <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
      </div>
    </footer>
  </div>

  <div class="panel panel-default" ng-controller="ConfigCtrl">
    <div class="panel-heading">
      Email Notifications
    </div>
    <div class="panel-body">

      <div class="form-group">
        <div class="">
          <span class="help-block m-b-none">Enter email addresses that will receive email notifications regarding payments, settlements, daily payment reports, webhooks, etc. (You can enter multiple email addresses separated by a comma.)</span>
          <input type="text" class="form-control help-block" maxlength="255" ng-model="config.transaction_report_email">
        </div>
      </div>
      <div class="m-t m-b text-center prev-next">
        <button ng-click="save(config)" type="submit" class="btn btn-save btn-default btn-rounded pull-right">Save Changes</button>
      </div>
    </div>
    <footer class="panel-footer">
      <div class="text-center m-t m-b">
        <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
      </div>
    </footer>
  </div>
</div>
<script type="text/ng-template" id="optOutReasonModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Please enter reason to disable Flash Checkout</h3>
  </div>
  <div class="modal-body roll-key-modal">
      <form>
        <input type="textarea" name="optOutReason" ng-model="optOutReason" class="form-control" value="">
      </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok btn-roll-key-ok" ng-disabled="!optOutReason" ng-click="ok(optOutReason)">OK</button>
  </div>
</script>