<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Settlement Detail ({{mode + " Mode"| titlecase }})
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md" ng-controller="EntityDetailCtrl" ng-init="generate('settlement')">
  <div class="panel panel-default col-sm-6 col-sm-offset-3" >
    <div class="panel-heading m-t m-b">
      Settlement Id: <strong>{{entity.id}}</strong>
    </div>
    <div class="text-center m-t">
      <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div class="row wrapper">
      <div class="list-group">
        <div class="list-group-item">
          <span class="pull-right">{{entity.amount/100 | rupee:"INR "}}</span>
          Amount
        </div>
        <div class="list-group-item">
          <span class="label text-base pull-right" title="{{entity.status}}" ng-class="getStatusClass(entity.status)">
            {{entity.status | titlecase}}
          </span>
          Status
        </div>
        <div class="list-group-item">
          <span class="pull-right">{{entity.created_at*1000 | date:'medium'}}</span>
          Created At
        </div>
        <div class="list-group-item">
          <span class="pull-right">{{entity.fees/100 | rupee}}</span>
          Fees
        </div>
        <div class="list-group-item">
          <code class="pull-right">{{entity.utr}}</code>
          UTR
        </div>
        <div class="list-group-item">
          <span class="pull-right">{{entity.service_tax/100 | rupee}}</span>
          Service Tax
        </div>

        <div class="list-group-item" ng-init="isSettlementDetailsCollapsed = true">
          <span class="pull-right">
            <button class="btn btn-default btn-xs pull-right" ng-click="showSettlementDetails()">Show/Hide</button>
          </span>
          Breakup
        </a>
        <div collapse="isSettlementDetailsCollapsed" class="panel-body">
          <table class="table table-striped b-t b-light">
            <thead>
              <tr>
                <th>Component</th>
                <th>Amount</th>
                <th>Count</th>
                <th>Type</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="row in breakupDetails">
                <td>{{ row.component | titlecase }}</td>
                <td>{{ row.amount/100 | rupee:"INR " }}</td>
                <td>{{ row.count }}</td>
                <td>{{ row.type | titlecase }}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
