<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Activation Form
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md activation-wrapper" ng-controller="ActivationCtrl">
  <div class="text-center m-t m-b alerts">
    <alert ng-repeat="alert in formAlerts.getAlerts()" type="{{alert.type}}" close="formAlerts.closeAlert($index)">{{alert.msg}}</alert>
  </div>
  <progressbar value="steps.percent" class="progress-striped active progress-xs" type="success"></progressbar>
  <tabset class="tab-container">
    <tab active="steps.step1" select="steps.percent=0">
      <tab-heading ng-class="{'text-success': check.1 === true, 'text-danger':check.1 === false}">
        <i class="fa" ng-class="{'fa-check': check.1 === true, 'fa-times':check.1 === false}"></i>
        Contact Details
      </tab-heading>
      <h4>Contact Details</h4>
      <form name="step1" class="form-validation form-horizontal" ng-submit="submit(1)" novalidate>
      <fieldset ng-disabled="locked">
        <div class="m-t m-b text-center prev-next">
          <button type="submit" class="pull-left btn btn-prev btn-default btn-rounded disabled">Prev</button>
          <button type="submit" class="pull-right btn btn-next btn-default btn-rounded" ng-click="steps.step2=true">Next</button>
          <button type="submit" class="btn btn-save btn-default btn-rounded">Save</button>
        </div>
        <div class="text-center m-t m-b alerts">
          <alert ng-repeat="alert in alerts[1].getAlerts()" type="{{alert.type}}" close="alerts[1].closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class="form-group">
          <label for="contact_name" class="col-sm-3 control-label">Contact Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="contact_name" ng-model="data.1.contact_name" placeholder="Contact Name" required>
          </div>
        </div>
        <div class="form-group">
          <label for="contact_email" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-8">
            <input type="email" class="form-control" name="contact_email" ng-model="data.1.contact_email" placeholder="Email" required>
          </div>
        </div>
        <div class="form-group">
          <label for="contact_mobile" class="col-sm-3 control-label">Mobile</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="contact_mobile" ng-model="data.1.contact_mobile" placeholder="Mobile" required>
          </div>
        </div>
        <div class="form-group">
          <label for="contact_landline" class="col-sm-3 control-label">Landline</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="contact_landline" ng-model="data.1.contact_landline" placeholder="Landline">
          </div>
        </div>
      </fieldset>
      </form>
    </tab>
    <tab active="steps.step2" select="steps.percent=20">
      <tab-heading ng-class="{'text-success': check.2 === true, 'text-danger':check.2 === false}">
        <i class="fa" ng-class="{'fa-check': check.2 === true, 'fa-times':check.2 === false}"></i>
        Business Details
      </tab-heading>
      <h4>Business Details </h4>
      <form name="step2" class="form-validation form-horizontal" ng-submit="submit(2)" novalidate>
      <fieldset ng-disabled="locked">
        <div class="m-t m-b text-center prev-next">
          <button type="button" class="pull-left btn btn-prev btn-default btn-rounded" ng-click="steps.step1=true">Prev</button>
          <button type="submit" class="pull-right btn btn-next btn-default btn-rounded" ng-click="steps.step3=true">Next</button>
          <button type="submit" class="btn btn-save btn-default btn-rounded">Save</button>
        </div>
        <div class="text-center m-t m-b alerts">
          <alert ng-repeat="alert in alerts[2].getAlerts()" type="{{alert.type}}" close="alerts[2].closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class="form-group">
          <label for="business_type" class="col-sm-3 control-label">Organisation Type</label>
          <div class="col-sm-8">
              <select name="business_type" ng-model="data.2.business_type" class="form-control" required>
                <option value="1">Proprietership</option>
                <option value="2">Individual</option>
                <option value="3">Partnership</option>
                <option value="4">Private Limited</option>
                <option value="5">Public Limited</option>
                <option value="6">LLP</option>
                <option value="7">NGO</option>
                <option value="8">Educational Institutes</option>
                <option value="9">Trust</option>
                <option value="10">Society</option>
              </select>
          </div>
        </div>
        <div class="form-group">
          <label for="business_name" class="col-sm-3 control-label">Full Business Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="business_name" ng-model="data.2.business_name" placeholder="Full business Name" required>
          </div>
        </div>
        <div class="form-group">
          <label for="business_dba" class="col-sm-3 control-label">Doing Business As (If Different from Above)</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="business_dba" ng-model="data.2.business_dba" placeholder="Doing Business As" >
          </div>
        </div>
        <div class="form-group">
          <label for="business_website" class="col-sm-3 control-label">Website Address</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="business_website" ng-model="data.2.business_website" placeholder="www.website.com" >
          </div>
        </div>
        <div class="form-group">
          <label for="business_international" class="col-sm-3 control-label">International Payments Required?</label>
          <div class="col-sm-8">
              <select name="business_international" ng-model="data.2.business_international" class="form-control" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
              </select>
          </div>
        </div>
        <div class="form-group">
          <label for="business_paymentdetails" class="col-sm-3 control-label">Payments Accepted for (Also mention B2b or B2C):</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="business_paymentdetails" ng-model="data.2.business_paymentdetails" placeholder="Payments Accepted for" required>
          </div>
        </div>
        <div class="form-group">
        <label for="business_model" class="col-sm-3 control-label">Business Model</label>
          <div class="col-sm-8">
            <textarea class="form-control" name="business_model" ng-model="data.2.business_model" placeholder="business Model"></textarea>
            <span class="help-block">Please give a brief explanation of your business model and future plans (Essential for startups)</span>
          </div>
        </div>s
        <div class="form-group">
        <label for="business_registered_address" class="col-sm-3 control-label">Registered Address</label>
          <div class="col-sm-8">
            <textarea class="form-control" name="business_registered_address" ng-model="data.2.business_registered_address" placeholder="Registered Address" required></textarea>
          </div>
        </div>
        <div class="form-group">
        <label for="business_registered_state" class="col-sm-3 control-label">Registration Address State</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="business_registered_state" ng-model="data.2.business_registered_state" placeholder="Registered Address State" required>
          </div>
        </div>
        <div class="form-group">
        <label for="business_registered_city" class="col-sm-3 control-label">Registered Address City</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="business_registered_city" ng-model="data.2.business_registered_city" placeholder="Registered Address City" required>
          </div>
        </div>
        <div class="form-group">
        <label for="business_registered_pin" class="col-sm-3 control-label">Registered Address Pincode</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="business_registered_pin" ng-model="data.2.business_registered_pin" placeholder="Registered Address Pincode" required>
          </div>
        </div>

        <div class="form-group">
        <label for="or_same" class="col-sm-3 control-label">Operation Address same as Registered Address</label>
          <div class="col-sm-8">
              <label class="i-switch m-t-xs m-r">
                <input type="checkbox" ng-change="genOperation(or_same)" name="or_same" ng-model="or_same"><i></i>
              </label>
          </div>
        </div>

        <div class="form-group">
        <label for="business_operation_address" class="col-sm-3 control-label">Operation Address</label>
          <div class="col-sm-8">
            <textarea class="form-control" name="business_operation_address" ng-model="data.2.business_operation_address" placeholder="Operation Address" ng-disabled="or_same" required></textarea>
            </div>
        </div>
        <div class="form-group">
        <label for="business_operation_state" class="col-sm-3 control-label">Operation Address State</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="business_operation_state" ng-model="data.2.business_operation_state" placeholder="Operation State" ng-disabled="or_same" required>
          </div>
        </div>
        <div class="form-group">
        <label for="business_operation_city" class="col-sm-3 control-label">Operation Address City</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="business_operation_city" ng-model="data.2.business_operation_city" placeholder="Operation Address City" ng-disabled="or_same" required>
          </div>
        </div>
        <div class="form-group">
        <label for="business_operation_pin" class="col-sm-3 control-label">Operation Address Pincode</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="business_operation_pin" ng-model="data.2.business_operation_pin" placeholder="Operation Address Pincode" ng-disabled="or_same" required>
          </div>
        </div>
        <div class="form-group">
        <label for="business_doe" class="col-sm-3 control-label">Date of Establishment</label>
          <div class="col-sm-8">
            <input type="date" class="form-control" name="business_doe" ng-model="data.2.business_doe" placeholder="Date of Establishment (MM/DD/YYYY)" required>
          </div>
        </div>
        <div class="form-group">
        <label for="company_cin" class="col-sm-3 control-label">Company CIN</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="company_cin" ng-model="data.2.company_cin" placeholder="Company CIN">
            <span class="help-block">Mandatory for Companies</span>
          </div>
        </div>
        <div class="form-group">
        <label for="company_pan" class="col-sm-3 control-label">Company PAN</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="company_pan" ng-model="data.2.company_pan" placeholder="Company PAN">
            <span class="help-block">Mandatory for Companies</span>
          </div>
        </div>
        <div class="form-group">
        <label for="company_pan_name" class="col-sm-3 control-label">Name on PAN Card</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="company_pan_name" ng-model="data.2.company_pan_name" placeholder="Name on PAN (provided above)">
            <span class="help-block">Mandatory for Companies</span>
          </div>
        </div>
        <div class="form-group">
        <label for="transaction_volume" class="col-sm-3 control-label">Expected annual transaction volume (INR)</label>
          <div class="col-sm-8">
            <select name="transaction_volume" ng-model="data.2.transaction_volume" class="form-control" required>
                        <option value="1">< 1 Lakh</option>
                        <option value="2">1 to 10 lakh</option>
                        <option value="3">10 Lakh to 1 Crore</option>
                        <option value="4">> 1 Crore</option>
                      </select>
          </div>
        </div>
        <div class="form-group">
        <label for="transaction_value" class="col-sm-3 control-label">Expected average transaction value</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="transaction_value" ng-model="data.2.transaction_value" placeholder="E.g. Average price of the commodities you sell">
          </div>
        </div>
      </fieldset>
      </form>
    </tab>
    <tab active="steps.step3" select="steps.percent=40">
      <tab-heading ng-class="{'text-success': check.3 === true, 'text-danger':check.3 === false}">
        <i class="fa" ng-class="{'fa-check': check.3 === true, 'fa-times':check.3 === false}"></i>
        Promoter's Details
      </tab-heading>
      <h4>Promoter's Details</h4>
      <form name="step3" class="form-validation form-horizontal" ng-submit="submit(3)" novalidate>
      <fieldset ng-disabled="locked">
        <div class="m-t m-b text-center prev-next">
          <button type="submit" class="pull-left btn btn-prev btn-default btn-rounded" ng-click="steps.step2=true">Prev</button>
          <button type="submit" class="pull-right btn btn-next btn-default btn-rounded" ng-click="steps.step4=true">Next</button>
          <button type="submit" class="btn btn-save btn-default btn-rounded">Save</button>
        </div>
        <div class="text-center m-t m-b alerts">
          <alert ng-repeat="alert in alerts[3].getAlerts()" type="{{alert.type}}" close="alerts[3].closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class="form-group">
          <label for="promoter_pan" class="col-sm-3 control-label">PAN of any 1 promoter</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="promoter_pan" ng-model="data.3.promoter_pan" placeholder="PAN Number of Promoter" required>
          </div>
        </div>
        <div class="form-group">
          <label for="promoter_pan_name" class="col-sm-3 control-label">Name on PAN Card</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="promoter_pan_name" ng-model="data.3.promoter_pan_name" placeholder="Name on PAN Card" required>
          </div>
        </div>
      </fieldset>
      </form>
    </tab>
    <tab active="steps.step4" select="steps.percent=60">
      <tab-heading ng-class="{'text-success': check.4 === true, 'text-danger':check.4 === false}">
        <i class="fa" ng-class="{'fa-check': check.4 === true, 'fa-times':check.4 === false}"></i>
        Bank Account Details
      </tab-heading>
      <h4>Bank Account Details</h4>
      <form name="step4" class="form-validation form-horizontal" ng-submit="submit(4)" novalidate>
      <fieldset ng-disabled="locked">
        <div class="m-t m-b text-center prev-next">
          <button type="submit" class="pull-left btn btn-prev btn-default btn-rounded" ng-click="steps.step3=true">Prev</button>
          <button type="submit" class="pull-right btn btn-next btn-default btn-rounded" ng-click="steps.step5=true">Next</button>
          <button type="submit" class="btn btn-save btn-default btn-rounded">Save</button>
        </div>
        <div class="text-center m-t m-b alerts">
          <alert ng-repeat="alert in alerts[4].getAlerts()" type="{{alert.type}}" close="alerts[4].closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class="form-group">
          <label for="bank_name" class="col-sm-3 control-label">Name of Bank</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="bank_name" ng-model="data.4.bank_name" placeholder="Name of Bank" required>
          </div>
        </div>
        <div class="form-group">
          <label for="bank_account_number" class="col-sm-3 control-label">Bank Account Number</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="bank_account_number" ng-model="data.4.bank_account_number" placeholder="Bank Account Number" required>
          </div>
        </div>
        <div class="form-group">
          <label for="bank_account_name" class="col-sm-3 control-label">Beneficiary Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="bank_account_name" ng-model="data.4.bank_account_name" placeholder="Account Holder Name" required>
            <span class="help-block">Should be same as business/individual name</span>
          </div>
        </div>
        <div class="form-group">
          <label for="bank_beneficiary_address1" class="col-sm-3 control-label">Beneficiary Address Line 1</label>
          <div class="col-sm-8">
            <textarea class="form-control" name="bank_beneficiary_address1" ng-model="data.4.bank_beneficiary_address1" placeholder="Beneficiary Address Line 1" required></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="bank_beneficiary_address2" class="col-sm-3 control-label">Beneficiary Address Line 2</label>
          <div class="col-sm-8">
            <textarea class="form-control" name="bank_beneficiary_address2" ng-model="data.4.bank_beneficiary_address2" placeholder="Beneficiary Address Line 2"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="bank_beneficiary_address3" class="col-sm-3 control-label">Beneficiary Address Line 3</label>
          <div class="col-sm-8">
            <textarea class="form-control" name="bank_beneficiary_address3" ng-model="data.4.bank_beneficiary_address3" placeholder="Beneficiary Address Line 3"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="bank_beneficiary_city" class="col-sm-3 control-label">Beneficiary Address City</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="bank_beneficiary_city" ng-model="data.4.bank_beneficiary_city" placeholder="Beneficiary Address City" required>
          </div>
        </div>
        <div class="form-group">
          <label for="bank_beneficiary_state" class="col-sm-3 control-label">Beneficiary Address State</label>
          <div class="col-sm-8">
            <select name="bank_beneficiary_state" ng-model="data.4.bank_beneficiary_state" class="form-control" required>
              <option value="AN">Andaman And Nicobar</option>
              <option value="AP">Andhra Pradesh</option>
              <option value="AR">Arunachal Pradesh</option>
              <option value="AS">Assam</option>
              <option value="BI">Bihar</option>
              <option value="CH">Chandigarh (UT)</option>
              <option value="CT">Chattisgarh</option>
              <option value="DN">Dadra And Nagar Haveli</option>
              <option value="DD">Daman And Diu (UT)</option>
              <option value="DL">Delhi</option>
              <option value="GO">Goa</option>
              <option value="GJ">Gujarat</option>
              <option value="HA">Haryana</option>
              <option value="HP">Himachal Pradesh</option>
              <option value="JK">Jammu And Kashmir</option>
              <option value="JH">Jharkhand</option>
              <option value="KA">Karnataka</option>
              <option value="KE">Kerala</option>
              <option value="MP">Madhya Pradesh</option>
              <option value="MH">Maharashtra</option>
              <option value="MA">Manipur</option>
              <option value="ME">Meghalaya</option>
              <option value="MI">Mizoram</option>
              <option value="NA">Nagaland</option>
              <option value="OR">Orissa</option>
              <option value="PO">Pondicherry(UT)</option>
              <option value="PB">Punjab</option>
              <option value="RJ">Rajasthan</option>
              <option value="SK">Sikkim</option>
              <option value="TN">Tamilnadu</option>
              <option value="TR">Tripura</option>
              <option value="UP">Uttar Pradesh</option>
              <option value="UT">Uttranchal</option>
              <option value="WB">West Bengal</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="bank_beneficiary_pin" class="col-sm-3 control-label">Beneficiary Address Pincode</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="bank_beneficiary_pin" ng-model="data.4.bank_beneficiary_pin" placeholder="Beneficiary Address Pincode" required>
          </div>
        </div>
        <div class="form-group">
          <label for="bank_account_type" class="col-sm-3 control-label">Bank Account Type</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="bank_account_type" ng-model="data.4.bank_account_type" placeholder="Bank Account Type e.g. Current, Savings" required>
          </div>
        </div>
        <div class="form-group">
          <label for="bank_branch_address" class="col-sm-3 control-label">Branch Address</label>
          <div class="col-sm-8">
            <textarea class="form-control" name="bank_branch_address" ng-model="data.4.bank_branch" placeholder="Branch Address" required></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="bank_branch_ifsc" class="col-sm-3 control-label">Branch IFSC Code</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="bank_branch_ifsc" ng-model="data.4.bank_branch_ifsc" placeholder="IFSC Code of the Bank Branch" required>
          </div>
        </div>
      </fieldset>
      </form>
    </tab>
    <tab active="steps.step5" select="steps.percent=80">
      <tab-heading ng-class="{'text-success': check.5 === true, 'text-danger':check.5 === false}">
        <i class="fa" ng-class="{'fa-check': check.5 === true, 'fa-times':check.5 === false}"></i>
        Documents Upload
      </tab-heading>
      <h4>Documents Uploads</h4>
      <form name="step5" class="form-validation form-horizontal" ng-submit="submit(5)" novalidate>
      <fieldset ng-disabled="locked">
        <div class="m-t m-b text-center prev-next">
          <button type="submit" class="pull-left btn btn-prev btn-default btn-rounded" ng-click="steps.step4=true">Prev</button>
          <button type="submit" class="pull-right btn btn-next btn-default btn-rounded" ng-click="steps.step6=true">Next</button>
          <button type="submit" class="btn btn-save btn-default btn-rounded">Save</button>
        </div>
        <div class="text-center m-t m-b alerts">
          <alert ng-repeat="alert in alerts[5].getAlerts()" type="{{alert.type}}" close="alerts[5].closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class="form-group">
          <label for="business_proof" class="col-sm-3 control-label">Business Proof </label>
          <div class="col-sm-8">
            <span class="help-block">
                Upload scan of following(not needed for individual):
              <li>Partnership Agreement (Mandatory, if partnership firm)</li>
              <li>Certificate of Incorporation (Mandatory if private limited)</li>
              <li>Trust/Society/NGO etc. registration proof</li>
              <li>Sales tax/Service Tax or Shop Act Registration (For Proprietership) </li>
            </span>
              <input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s" name="business_proof" ng-file-select="onFileSelect($files, 'business_proof')">
              <div class="text-center m-t m-b alerts">
                <alert ng-repeat="alert in fileAlerts.business_proof.getAlerts()" type="{{alert.type}}" close="fileAlerts.business_proof.closeAlert($index)">{{alert.msg}}</alert>
              </div>
          </div>
        </div>
        <div class="form-group">
          <label for="business_pan_proof" class="col-sm-3 control-label">Business PAN</label>
          <div class="col-sm-8">
            <span class="help-block">Company Pan Card (Sole Proprietor can use personal PAN)</span>
            <input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s" name="business_pan_proof" ng-file-select="onFileSelect($files, 'business_pan_proof')">
            <div class="text-center m-t m-b alerts">
              <alert ng-repeat="alert in fileAlerts.business_pan_proof.getAlerts()" type="{{alert.type}}" close="fileAlerts.business_pan_proof.closeAlert($index)">{{alert.msg}}</alert>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="promoter_pan_proof" class="col-sm-3 control-label">Promoter PAN</label>
          <div class="col-sm-8">
            <span class="help-block">
            Upload PAN card scan of at least one promoter, whose details have been filled earlier.
            In case of individual, upload your personal PAN.
            </span>
            <input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s" name="promoter_pan_proof" ng-file-select="onFileSelect($files, 'promoter_pan_proof')">
            <div class="text-center m-t m-b alerts">
              <alert ng-repeat="alert in fileAlerts.promoter_pan_proof.getAlerts()" type="{{alert.type}}" close="fileAlerts.promoter_pan_proof.closeAlert($index)">{{alert.msg}}</alert>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="address_proof" class="col-sm-3 control-label">Address Proof </label>
          <div class="col-sm-8">
            <span class="help-block">
            Upload following:
            <li>Bank Account Statement (of last three months with company's name & address)</li>
            </span>
            <input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s" name="address_proof" ng-file-select="onFileSelect($files, 'address_proof')">
            <div class="text-center m-t m-b alerts">
              <alert ng-repeat="alert in fileAlerts.address_proof.getAlerts()" type="{{alert.type}}" close="fileAlerts.address_proof.closeAlert($index)">{{alert.msg}}</alert>
            </div>
          </div>
        </div>
      </fieldset>
      </form>
    </tab>
    <tab active="steps.step6" select="steps.percent=100">
      <tab-heading ng-class="{'text-success': check.6 === true, 'text-danger':check.6 === false}">
        <i class="fa" ng-class="{'fa-check': check.6 === true, 'fa-times':check.6 === false}"></i>
        Submit Form
      </tab-heading>
      <h4>Submit For Activation</h4>
      <form name="step6" class="form-validation form-horizontal" ng-submit="submit(6)" novalidate>
      <fieldset ng-disabled="locked">
        <div class="m-t m-b text-center prev-next">
          <button type="submit" class="pull-left btn btn-prev btn-default btn-rounded" ng-click="steps.step5=true">Prev</button>
          <button type="submit" class="pull-right btn btn-next btn-default btn-rounded disabled">Next</button>
          <button type="submit" class="btn btn-save btn-default btn-rounded disabled">Save</button>
        </div>
        <div class="text-center m-t m-b alerts">
          <alert ng-repeat="alert in alerts[6].getAlerts()" type="{{alert.type}}" close="alerts[6].closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class="checkbox text-center">
          <label class="i-checks">
            <input type="checkbox" name="agree_terms" ng-model="data.6.agree_terms"><i></i> I have read and understood the <a href="https://razorpay.com/terms/" target="_blank">terms and conditions</a>, the <a href="https://razorpay.com/agreement/" target="_blank">merchant agreement</a>, and the <a href="https://razorpay.com/privacy/" target="_blank">privacy policy</a> and agree to abide by them at all times.
          </label>
        </div>
        <div class="m-t m-b text-center prev-next">
          <button type="submit" class="btn btn-submit btn-default btn-rounded">Click here to submit</button>
        </div>
      </fieldset>
      </form>
    </tab>
  </tabset>
</div>