<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Transaction Detail</h1>
</div>
<div class="wrapper-md" ng-controller="TransactionDetailCtrl">
  <div class="panel panel-default col-sm-6 col-sm-offset-3" >
    <div class="panel-heading m-t m-b">
      Transaction: <strong>{{transaction.id}}</strong>
    </div>
  <div class="text-center m-t">
    <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
  </div>
    <div class="row wrapper">
      <div class="list-group">
        <a href class="list-group-item">
          <span class="pull-right">{{transaction.amount/100 | currency:""}}</span>
          Amount
        </a>
        <a href class="list-group-item">
          <span class="pull-right">{{transaction.currency}}</span>
          Currency
        </a>
        <a href class="list-group-item">
          <span class="label text-base pull-right" title="{{transaction.status}}" ng-class="getStatusClass(transaction.status)">{{transaction.status | titlecase}}</span>
          Status
        </a>
        <a href class="list-group-item">
          <span class="pull-right">{{transaction.description}}<span ng-hide="transaction.description">No Description</span></span>
          Description
        </a>
        <a href class="list-group-item">
          <span class="pull-right">{{transaction.email}}</span>
          Email
        </a>
        <a href class="list-group-item">
          <span class="pull-right">{{transaction.contact}}</span>
          Contact
        </a>
        <a href class="list-group-item" ng-show="transaction.error_code">
          <span class="pull-right">{{transaction.error_code + " : " + transaction.error_description}}</span>
          Error
        </a>
        <a href class="list-group-item">
          <span class="pull-right">{{transaction.created_at*1000 | fromNow}} ({{transaction.created_at*1000 | date : 'medium'}})</span>
          Created At
        </a>
        <a href class="list-group-item">
          <span class="pull-right">{{transaction.updated_at*1000 | fromNow}} ({{transaction.updated_at*1000 | date : 'medium'}})</span>
          Updated At
        </a>
        <a href class="list-group-item" ng-init="isCollapsed = true">
          <span class="pull-right">
            <button class="btn btn-default btn-xs pull-right"  ng-click="isCollapsed = !isCollapsed" ng-show="transaction.udf.length != 0">Expand</button>
            <span ng-hide="transaction.udf.length != 0">No UDF Fields</span>
          </span>
          UDF Fields
        </a>
        <div collapse="isCollapsed" class="panel-body">
          <a href class="list-group-item" ng-repeat="(label,key) in transaction.udf">
            <span class="pull-right">{{key}}</span>
            {{label}}
          </a>
        </div>
      </div>
      <div class="text-center">
        <div  ng-show="transaction.status==='authorized'">
        <span ng-controller="CaptureModalCtrl">
          <script type="text/ng-template" id="captureModalContent.html">
            <div class="modal-header">
              <h3 class="modal-title">Capture Transaction</h3>
            </div>
            <div class="modal-body">
                <form>
                <label>Amount to capture (in Paisa):</label>
                  <input type="text" placeholder="Amount to Capture (in Paisa)" class="form-control" ng-model="amount">
                </form>
            </div>
            <div class="modal-footer">                  
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" ng-click="ok(amount)">OK</button>
            </div>
          </script>
          <button  class="btn btn-primary btn-rounded" ng-click="open(lg)">Capture Transaction</button>
        </span>
        </div>
        <button ng-show="transaction.status==='captured'" class="btn btn-primary btn-rounded" ng-click="refund()">Refund Transaction</button>
      </div>
    </div>
  </div>
</div>