<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Add Funds ({{mode + " Mode"| titlecase }})
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md addfunds-wrapper" ng-controller="AddfundsCtrl">
  <div class="panel panel-default col-sm-6 col-sm-offset-3" >
    <div class="panel-heading m-t m-b">
      Add Funds - {{mode | titlecase}} Mode
    </div>
    <div class="text-center m-t m-b">
      <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div class="text-muted m-t m-b">
      <p>
        This is just a simple way for you to add money to your account balance with Razorpay. This is needed sometimes when you are making refunds and your account doesn't have enough funds.
      </p>
      <p>
        Add Funds works over your own account. Therefore, a TDR will be deducted on this
        as well. If you are adding funds for a large refund, send us a mail to
        <a href="mailto:support@razorpay.com">support@razorpay.com</a>.
      </p>
      <p ng-show="mode==='test'">
        Since you are in test mode, this will be a test payment.
      </p>
    </div>
    <div class="text-center m-t m-b">
      <input type="text" class="form-control m-b" name="description" ng-model="options.description" placeholder="Description" tooltip-placement="right" tooltip="Description" required>
      <input type="text" class="form-control m-b" name="contact_name" ng-model="options.amountInINR" placeholder="Amount in INR" tooltip-placement="right" tooltip="Amount in INR" required>
      <button  class="btn btn-primary btn-rounded btn-add-funds" ng-disabled="disableAddFunds" ng-click="addFunds()">Add Funds</button>
    </div>
  </div>
</div>
