<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Orders ({{mode + " Mode"| titlecase }})
    <spinner class="inline"></spinner>
  </h1>
</h1>
</div>
<div class="wrapper-md" ng-controller="EntityListCtrl" ng-init="generate('order')">
  <div class="panel panel-default" ng-controller="OrderListCtrl" >
    <div class="panel-heading">
      List of all Orders
    </div>
    <div class="panel-body form-inline">
      <div class="row wrapper">
        <div class="text-center m-t" ng-show="alerts.getAlerts().length > 0">
          <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class="col-sm-2">
          Receipt:
          <input type="text" class="form-control input-sm w-sm inline" ng-model="query.receipt" placeholder="Receipt No."
            name="receipt" ng-enter="regenerate();"
          >
        </div>
        <div class="col-xs-1">
          Count:
          <input type="number" class="form-control inline w-xxs"
            ng-model="query.count" placeholder="20" name="count" ng-enter="regenerate()"
          >
        </div>
        <div class="col-sm-6 pull-right">
          <div class="input-group pull-right">
            <input type="text" class="form-control input-sm inline" placeholder="Search Order Id" ng-model="entity.id">
            <span class="input-group-btn">
              <button class="btn btn-sm btn-default" type="button" ng-click="search()" busy="...">Go!</button>
              <button class="btn btn-sm btn-default" type="button" ng-click="regenerate()" busy="...">Clear</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="orders-table table table-striped b-t b-light" ui-jq="footable">
        <thead>
          <tr>
            <th data-toggle="true">Order Id</th>
            <th>Attempts</th>
            <th data-hide="phone,tablet">Currency</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Receipt</th>
            <th data-hide="phone">Created At</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in entity.items">
            <td><a target="_blank" ui-sref="app.orders.detail({id:row.id})"><code>{{row.id}}</code></a></td>
            <td>{{row.attempts}}</td>
            <td data-hide="phone,tablet">{{row.currency}}</td>
            <td>{{row.amount/100 | rupee:""}}</td>
            <td><span class="label text-base" title="{{row.status}}" ng-class="getStatusClass(row.status)">{{row.status | titlecase}}</span></td>
            <td>{{row.receipt}}</a></td>
            <td data-hide="phone">{{row.created_at*1000 | date:'medium'}}</td>
          </tr>
          <tr ng-show="entity.count === 0">
            <td colspan="6" class="text-center">
            No Orders
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="text-center m-t m-b">
          <small>
            You can find documentation for the Orders API
            <a target="_blank" href="https://docs.razorpay.com/v1/page/orders"><u>here</u></a>
          </small>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 hidden-xs"></div>
        <div class="col-sm-4 text-center">
          <small class="text-muted inline m-t-sm m-b-sm">Showing {{entity.countStart}}-{{entity.countEnd}}</small>
        </div>
        <div class="col-sm-4 text-right text-center-xs">
          <ul class="nav navbar-nav navbar-right pagination-sm m-t-none m-b-none">
            <li ng-click="allowPrev && prev()"><button class="btn btn-default fa fa-chevron-left" ng-disabled="!allowPrev"></button></li>
            <li ng-click="allowNext && next()"><button class="btn btn-default  fa fa-chevron-right" ng-disabled="!allowNext"></button></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
