<div class="hbox hbox-auto-xs hbox-auto-sm">
  <!-- main -->
  <div class="col" ng-controller="DashboardGraphsCtrl">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-8 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">
            Dashboard
            <spinner class="inline"></spinner>
          </h1>

          <small class="text-muted">Welcome to Razorpay </small>
        </div>
        <div class="col-sm-4 text-right hidden-xs">
          <div class="inline text-left col-sm-10 no-padder">
            <div class="input-group" tooltip-placement="bottom" tooltip="Date Range" >
                <input type="text" class="form-control " datepicker-popup="dd-MMMM-yyyy" ng-model="date.startDate" is-open="date.opened.1" min-date="'1970-01-01'" datepicker-options="date.dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="date.open($event, 1)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="date.endDate" is-open="date.opened.2" min-date="'1970-01-01'" datepicker-options="date.dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="date.open($event, 2)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>

            </div>
          </div>
          <div class="inline col-sm-2">
            <div class="btn-group dropdown" >
            <button class="btn btn-default dropdown-toggle">{{stats[statType] || "Daily"}}<span class="caret"></span></button>
            <ul class="dropdown-menu pull-right">
              <li ng-repeat="(key,label) in stats" ng-click="setStat(key)"><a dropdown-toggle href>{{label}}</a></li>
            </ul>
        </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md" >
      <!-- stats -->
      <div class="row" >
        <div class="col-md-5" ng-controller="DashboardAggregationsCtrl">
          <div class="row row-sm text-center">
            <div class="col-xs-6">
              <div class="panel padder-v item">
                <div class="font-thin h1">{{aggregations.data.settlements}}</div>
                <span class="text-muted text-xs">Total Settlements</span>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="panel padder-v item">
                <div class="font-thin h1" ng-if="aggregations.data.updated_at != 0">{{aggregations.data.updated_at*1000 | fromNow}}</div>
                 <div class="font-thin h1" ng-if="aggregations.data.updated_at == 0">Never</div>
                <span class="text-muted text-xs">Last Transaction</span>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="block panel padder-v bg-success dker item">
                <span class="text-white font-thin h1 block">{{aggregations.data.payments}}</span>
                <span class="text-muted text-xs">Total Payments</span>
              </div>
            </div>
            <div class="col-xs-6">
              <div href class="block panel padder-v bg-danger dker item">
                <span class="text-white font-thin h1 block">{{aggregations.data.refunds}}</span>
                <span class="text-muted text-xs">Total Refunds</span>
              </div>
            </div>
            <div class="col-xs-12 m-b-md">
              <div href class="block panel padder-v bg-info dker item">
                <span class="text-white font-thin h1 block">{{aggregations.data.amount | currency:"₹"}}</span>
                <span class="text-muted text-xs">Total Volume</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="panel wrapper">
            <label class="i-switch bg-warning pull-right">
              <input type="checkbox" ng-model="showSpline">
              <i></i>
            </label>
            <h4 class="font-thin m-t-none m-b text-muted">Successful Transactions</h4>

            <div ui-jq="plot" ui-refresh="refreshGraph" ui-options="
              [
                { data: {{successfull.data}}, label:'Successful Transactions', points: { show: true, radius: 1}, splines: { show: true, tension: 0.4, lineWidth: 1, fill: 0.8*showSpline }}
              ],
              {{successfull.options}}
            " style="height:246px" >
            </div>
            {{d0}}
          </div>
        </div>
      </div>
      <!-- / stats -->

      <!-- service -->
      <div class="panel hbox hbox-auto-xs no-border">
        <div class="col wrapper">
          <label class="i-switch bg-warning pull-right">
              <input type="checkbox" ng-model="showSpline">
              <i></i>
          </label>
          <h4 class="font-thin m-t-none m-b-none text-primary-lt">Transaction Volume</h4>
          <div ui-jq="plot" ui-refresh="refreshGraph" ui-options="
            [
              { data: {{transactions.data}}, label:'Transaction Volume', points: { show: true, radius: 1}, splines: { show: true, tension: 0.4, lineWidth: 1, fill: 0.8*showSpline }}
            ],
            {{transactions.options}}
          " style="height:240px" >
          </div>
        </div>
        <div class="col wrapper-lg w-lg bg-light dk r-r" ng-controller="DashboardPaymentAggregationsCtrl">
          <h4 class="font-thin m-t-none m-b">Transaction Types</h4>
          <div class="">
            <div class="text-center-folded">
              <span class="pull-right">{{ paymentaggregations.VISA }}%</span>
              <span class="hidden-folded">Visa</span>
            </div>
            <progressbar value="paymentaggregations.VISA" class="progress-xs m-t-sm bg-white" animate="true" type="primary"></progressbar>
            <div class="text-center-folded">
              <span class="pull-right">{{paymentaggregations.MC}}%</span>
              <span class="hidden-folded">MasterCard</span>
            </div>
            <progressbar value="paymentaggregations.MC" class="progress-xs m-t-sm bg-white" animate="true" type="info"></progressbar>
            <div class="text-center-folded">
              <span class="pull-right">{{paymentaggregations.MAES}}%</span>
              <span class="hidden-folded">Maestro</span>
            </div>
            <progressbar value="paymentaggregations.MAES" class="progress-xs m-t-sm bg-white" animate="true" type="warning"></progressbar>
            <div class="text-center-folded">
              <span class="pull-right">{{paymentaggregations.NETBANKING}}%</span>
              <span class="hidden-folded">Net Banking</span>
            </div>
            <progressbar value="paymentaggregations.NETBANKING" class="progress-xs m-t-sm bg-white" animate="true" type="warning"></progressbar>
            <div class="text-center-folded">
              <span class="pull-right">{{paymentaggregations.OTHER}}%</span>
              <span class="hidden-folded">Other</span>
            </div>
            <progressbar value="paymentaggregations.OTHER" class="progress-xs m-t-sm bg-white" animate="true" type="warning"></progressbar>
          </div>
        </div>
      </div>
      <!-- / service -->

      <!-- tasks -->
      <div class="panel wrapper">
        <div class="row">
          <div class="col-md-4 b-r b-light no-border-xs" ng-controller="EntityListCtrl" ng-init="generate('payment')">
            <a ui-sref="app.payments.list" tooltip="See All Payments" class="text-muted pull-right text-lg"><i class="icon-arrow-right"></i></a>
            <h4 class="font-thin m-t-none m-b-md text-muted">Recent Payments</h4>
              <div class="m-b m-l row" ng-repeat="row in entity.items | limitTo: 5" ng-controller="PaymentListCtrl">
                <a ui-sref="app.payments.detail({id:row.id})">
                  <div class="col-xs-3 col-md-2 label text-base" tooltip="{{row.status | titlecase}}" tooltip-placement="right" ng-class="getStatusClass(row.status)">
                    {{row.amount/100 | currency:row.currency + " "}}
                  </div>
                  <div class="col-xs-9 col-md-10">
                    <span class="hidden-xs">{{row.id}}</span>
                    <span class="visible-xs-inline">{{row.id | limitTo:10}}... </span>
                    <span class="pull-right">{{row.created_at*1000 | fromNow}}</span>
                  </div>
                </a>
              </div>
              <div class="m-b m-l row" ng-show="entity.items.length == 0">
                No Recent Payments
              </div>
          </div>
          <div class="col-md-4 b-r b-light no-border-xs" ng-controller="EntityListCtrl" ng-init="generate('refund')">
            <a ui-sref="app.refunds.list" tooltip="See All Refunds" class="text-muted pull-right text-lg"><i class="icon-arrow-right"></i></a>
            <h4 class="font-thin m-t-none m-b-md text-muted">Recent Refunds</h4>
              <div class="m-b m-l row" ng-repeat="row in entity.items | limitTo: 5">
                <a ui-sref="app.refunds.detail({id:row.id})">
                  <div class="col-xs-3 col-md-2 label text-base bg-warning" tooltip="Refunded" tooltip-placement="right">
                  {{row.amount/100 | currency:row.currency + " "}}
                  </div>
                  <div class="col-xs-9 col-md-10">
                    <span class="hidden-xs">{{row.id}}</span>
                    <span class="visible-xs-inline">{{row.id | limitTo:10}}... </span>
                    <span class="pull-right">{{row.created_at*1000 | fromNow}}</span>
                  </div>
                </a>
              </div>
              <div class="m-b m-l row" ng-show="entity.items.length == 0">
                No Recent Refunds
              </div>
          </div>
          <div class="col-md-4 b-r b-light no-border-xs" ng-controller="EntityListCtrl" ng-init="generate('settlement')">
            <a ui-sref="app.settlements.list" tooltip="See All Settlements" class="text-muted pull-right text-lg"><i class="icon-arrow-right"></i></a>
            <h4 class="font-thin m-t-none m-b-md text-muted">Recent Settlements</h4>
            <div class="m-b m-b m-l row" style="text-overflow: hidden" ng-repeat="row in entity.items | limitTo: 5">
              <div class="col-xs-3 col-md-2 label text-base bg-success" tooltip="{{row.status | titlecase}}" tooltip-placement="right">
                <a ui-sref="app.settlements.detail({id:row.id})">{{row.amount/100 | currency:"INR "}}</a>
              </div>
              <div class="col-xs-9 col-md-10">
                <span class="hidden-xs">{{row.id}}</span>
                <span class="visible-xs-inline">{{row.id | limitTo:10}}... </span>
                <span class="pull-right">{{row.created_at*1000 | fromNow}}</span>
              </div>
            </div>
            <div class="m-b m-l row" ng-show="entity.items.length == 0">
              No Recent Settlements
            </div>
          </div>
        </div>
      </div>
      <!-- / tasks -->
    </div>
  </div>
  <!-- / main -->
</div>