<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Manage Team
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md" ng-controller="TeamManagementCtrl" ng-init="getTeamMembers()">
  <div class="panel panel-default panel-form invites-table col-sm-8 col-sm-offset-2" >
    <div class="panel-heading m-t m-b">
      Invite users to your Organization Team
      <small class="pull-right">
        <a href="https://docs.razorpay.com/v1/page/team-support" class="highlight" target="_blank">
          TEAM DOCUMENTATION &nbsp;<i class="fa fa-external-link"></i>
        </a>
      </small>
    </div>
    <div class="text-center m-t m-b">
      <div class="text-center m-t" ng-show="alerts.getAlerts().length > 0">
        <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
      </div>
      <div class="row">
        <div class="m-b col-sm-8">
          <input type="text" class="form-control" id="description" name="description" ng-model="team.email" placeholder="Email address of the user" tooltip-placement="right" tooltip="Email Address" required>
        </div>
        <div class="m-b col-sm-4">
          <select class="form-control" name="role" required
            tooltip-placement="right" tooltip="User Role"
            ng-model="team.role" ng-options="role as (role | roletoname) for role in roleOptions track by role"
          >
          {{role|roletoname}}
          </select>
        </div>
      </div>
      <button  class="btn btn-primary btn-rounded" ng-click="sendInvitation()">Send Invitation</button>
    </div>
    <div class="team-users" ng-show="users.length > 1">
      <div class="panel-heading m-t m-b">
        Team Members
      </div>
      <div class="row wrapper">
        <div class="row" ng-repeat="user in users" ng-show="user.email !== merchant.email">
          <div class="m-b col-sm-4 b-w">{{ user.email }}</div>
          <div class="m-b col-sm-2">{{ user.name }}</div>
          <div class="m-b col-sm-3" ng-show="rolesSupport">
            <select ng-model="user.pivot.role" ng-options="role.id as role.name for role in roleOptions" class="form-control" required>
            </select>
          </div>
          <div class="m-b col-sm-3" ng-show="user.email !== merchant.email">
            <button class="btn btn-sm btn-success" ng-click="updateTeamMember(user)" ng-show="rolesSupport">Update</button>
            <button class="btn btn-sm btn-danger" ng-click="removeTeamMember(user)">
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="pending-invitations" ng-show="invitations">
      <div class="panel-heading m-t m-b">
        Pending invitations
      </div>
      <div class="row wrapper">
        <div class="row" ng-repeat="invite in invitations" ng-show="invite.email !== merchant.email">
          <div class="m-b col-sm-5">{{ invite.email }}</div>
          <!-- <div class="m-b col-sm-3"><select ng-model="invite.role" ng-options="role | titlecase for role in roles" class="form-control" required></select></div> -->
          <div class="m-b col-sm-4">
            <button class="btn btn-sm btn-primary" ng-click="resendInvitation(invite)">Resend</button>
            <!-- <button class="btn btn-sm btn-success" ng-click="updateInvitation(invite)">Update</button> -->
            <button class="btn btn-sm btn-danger" ng-click="removeInvitation(invite)">Cancel</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
