<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    User Profile
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md profile-wrapper" ng-init="getPendingInvitations()" ng-controller="ProfileCtrl">
  <div class="panel panel-default col-sm-6 col-sm-offset-3">
    <div class="panel-heading m-t m-b" ng-show="user.current">
      Merchant Id: <strong>{{user.id}}</strong>
    </div>
    <div class="text-center m-t">
      <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <alert type="danger" class="text-center" ng-show="!user.current">
      Your user account is not associated at present with any active merchant account.
    </alert>
    <div class="row wrapper" ng-show="user.current">
      <div class="list-group">
        <a class="list-group-item">
          <span class="pull-right">{{user.name | titlecase}}</span>
          Merchant Name
        </a>
        <a href="mailto:{{user.email}}" class="list-group-item">
          <span class="pull-right">{{user.email}}</span>
          Merchant Email
        </a>
        <a class="list-group-item">
          <span class="pull-right" tooltip="{{user.activated == 1 ? 'Activated' : 'Not Activated'}}"><i class="fa" ng-class="{'fa-check text-success': user.activated == 1, 'fa-times text-danger':user.activated == 0}"></i></span>
          Activation Status
        </a>
        <a class="list-group-item">
          <span class="pull-right">{{user.created_at*1000 | date:'medium'}}</span>
          Registration Date
        </a>
        <a class="list-group-item">
          <span class="pull-right">{{user.activation_progress}}%</span>
          Activation Form Progress {{Object.keys(user)}}
        </a>

        <a class="list-group-item" ng-show="credits">
          <span class="pull-right">{{credits/100|rupee}}</span>
          Credits
        </a>
      </div>
    </div>

    <div class="row wrapper" ng-show="bankAccount">
      <div class="panel-heading m-t m-b" ng-init="fetchBankAccount()">
        Bank Account
      </div>
      <div class="panel panel-default">
        <div class="list-group">
          <a href class="list-group-item">
            <span class="pull-right">{{bankAccount.ifsc_code}}</span>
            IFSC Code
          </a>
          <a class="list-group-item">
            <span class="pull-right">{{bankAccount.account_number}}</span>
            Account Number
          </a>
          <a class="list-group-item">
            <span class="pull-right">{{bankAccount.beneficiary_name}}</span>
            Beneficiary
          </a>
        </div>
      </div>
    </div>

    <div class="row wrapper" ng-show="merchantCount > 1 || loggedInUser.email != user.email">
      <div class="panel panel-default">
        <div class="list-group">
          <a href class="list-group-item">
            <span class="pull-right">{{loggedInUser.name | titlecase}}</span>
            User Name
          </a>
          <a href="mailto:{{loggedInUser.email}}" class="list-group-item">
            <span class="pull-right">{{loggedInUser.email}}</span>
            Login Email
          </a>
          <a href class="list-group-item">
            <span class="pull-right">{{role | titlecase}}</span>
            Role
          </a>
        </div>
      </div>
    </div>

    <div class="panel-heading m-t m-b" ng-show="invitations">
      Pending Invitations
    </div>
    <div class="row wrapper" ng-show="invitations">
      <a href class="list-group-item" ng-repeat="invite in invitations">
        <span class="pull-right"><button class="btn btn-xs btn-default" ng-click="acceptInvitation(invite)">Accept</button></span>
        <span class="pull-right"><button class="btn btn-xs btn-danger" ng-click="rejectInvitation(invite)">Reject</button></span>
        Invitation to join {{ invite.merchant.name }}
      </a>
    </div>
    <div class="text-center m-b" ng-show="!hasMerchant">
      You can upgrade your account to a Merchant Account by giving us your business name:
      <form class="form-inline" role="form">
        <div class="form-group">
          <label class="sr-only" for="business_name">Business Name</label>
          <input type="text" class="form-control" ng-model="business_name" placeholder="Acme Inc." autocomplete="off" required>
        </div>
        <button ng-click="upgradeAcount(business_name)" type="submit" class="btn btn-info btn-rounded" ng-confirm-click="This will create a merchant account in your business name. Are you sure?">Upgrade</button>
      </form>
      <hr>
    </div>
    <div class="text-center m-b">
      <button  class="btn btn-primary btn-rounded btn-change-pwd" ng-click="changePassword()">Change Password</button>
    </div>
  </div>
</div>

<script type="text/ng-template" id="passwordModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Change Password</h3>
  </div>
  <div class="modal-body change-pwd-modal">
      <form ng-init="data={}">
        <div class="form-group">
            <input type="password" placeholder="Current Password" name="old_password" class="form-control" ng-model="data.old_password">
        </div>
        <div class="form-group">
            <input type="password" placeholder="New Password" name="password" class="form-control" ng-model="data.password">
        </div>
        <div class="form-group">
            <input type="password" placeholder="Confirm New Password" name="password_confirmation" class="form-control" ng-model="data.password_confirmation">
        </div>
      </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary modal-ok" ng-click="ok(data)">Change Password</button>
  </div>
</script>
