<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Transactions
    <spinner class="inline"></spinner>
  </h1>
</h1>
</div>
<div class="wrapper-md" ng-controller="EntityListCtrl" ng-init="generate('transaction')">
  <div class="panel panel-default">
    <div class="panel-heading">
      List of all transactions
    </div>
    <div class="text-center col-sm-offset-4 col-sm-4 m-t m-b">
        <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div class="row wrapper">
      <div class="col-sm-9 m-b-xs">
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="text" class="input-sm form-control" placeholder="Search Transaction Id" ng-model="transactions.id">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button" ng-click="search()" busy="...">Go!</button>
            <button class="btn btn-sm btn-default" type="button" ng-click="regenerate()" busy="...">Clear</button>
          </span>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="transactions-table table table-striped b-t b-light" ui-jq="footable">
        <thead>
          <tr>
            <th data-toggle="true">Transaction Id</th>
            <th data-hide="phone,tablet">Entity Type</th>
            <th>Entity Id</th>
            <th data-hide="phone,tablet">Currency</th>
            <th data-hide="phone,tablet">Amount</th>
            <th>Debit</th>
            <th>Credit</th>
            <th data-hide="phone,tablet">Fee</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in entity.data">
            <td><a ui-sref="app.transactions.detail({id:row.id})">{{row.id}}</a></td>
            <td>{{row.entity_type}}</td>
            <td><a ui-sref="app.{{row.entity_type + 's'}}.detail({id:row.entity_id})">{{row.entity_id}}</td>
            <td>{{row.currency}}</td>
            <td>{{row.amount/100 | currency:""}}</td>
            <td>{{row.debit/100 | currency:""}}</td>
            <td>{{row.credit/100 | currency:""}}</td>
            <td>{{row.fee/100 | currency:""}}</td>        
          </tr>
          <tr ng-show="entity.count === 0">
            <td colspan="8" class="text-center">
            No Transactions
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-4 hidden-xs">
        </div>
        <div class="col-sm-4 text-center">
          <small class="text-muted inline m-t-sm m-b-sm">Showing {{entity.countStart}}-{{entity.countEnd}}</small>
        </div>
        <div class="col-sm-4 text-right text-center-xs">                
          <ul class="nav navbar-nav navbar-right pagination-sm m-t-none m-b-none">
            <li ng-click="allowPrev && prev()"><button class="btn btn-default fa fa-chevron-left" ng-disabled="!allowPrev"></button></li>
            <li ng-click="allowNext && next()"><button class="btn btn-default  fa fa-chevron-right" ng-disabled="!allowNext"></button></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>