<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Refund Detail ({{mode + " Mode"| titlecase }})
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md" ng-controller="EntityDetailCtrl" ng-init="generate('refund')">
  <div class="panel panel-default col-sm-6 col-sm-offset-3" >
    <div class="panel-heading m-t m-b">
      Refund Id: <strong>{{entity.id}}</strong>
    </div>
    <div class="text-center m-t">
      <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
    </div>
  <div class="row wrapper">
      <div class="list-group">
        <div  class="list-group-item">
          <span class="pull-right">
          <a ui-sref="app.payments.detail({id:entity.payment_id})" title="Payment Details">
            {{entity.payment_id}}
          </a>
          </span>
          Payment
        </div>
        <div class="list-group-item">
          <span class="pull-right">{{entity.amount/100 | rupee:""}}</span>
          Amount
        </div>
        <div class="list-group-item">
          <span class="pull-right">{{entity.currency}}</span>
          Currency
        </div>

        <div class="list-group-item">
          <span class="pull-right">{{entity.created_at*1000 | fromNow}} ({{entity.created_at*1000 | date : 'medium'}})</span>
          Created At
        </div>
        <div class="list-group-item" ng-show="entity.notes">
          Notes
        </div>
        <div class="panel-body">
          <a href class="list-group-item" ng-repeat="(label,key) in entity.notes" tooltip="{{getTooltip(label)}}">
            <span class="pull-right">{{key}}</span>
            {{label}}
          </a>
        </div>

      </div>

    </div>
  </div>
</div>
