<div ng-controller="AccountActivationCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <h2 class="m-n font-thin h3">
      Account Activation Form
      <spinner class="inline"></spinner>
    </h2>
  </div>
  <div class="wrapper-md activation-wrapper" ng-controller="ActivationCtrl" ng-init="accountDetails=true">
    <div class="text-center m-t m-b alerts">
      <alert ng-repeat="alert in formAlerts.getAlerts()" type="{{alert.type}}" close="formAlerts.closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <progressbar value="steps.percent" class="progress-striped active progress-xs" type="success"></progressbar>
    <tabset class="tab-container">
      <tab active="steps.step1" select="steps.percent=0">
        <tab-heading ng-class="{'text-success': check.1 === true, 'text-danger':check.1 === false}">
          <i class="fa" ng-class="{'fa-check': check.1 === true, 'fa-times':check.1 === false}"></i>
          Account Details
        </tab-heading>
        <h4>Account Details </h4>
        <form name="step1" class="form-validation form-horizontal" ng-submit="submit(1)" novalidate>
        <fieldset>
          <div class="text-center m-t m-b alerts">
            <alert ng-repeat="alert in alerts[1].getAlerts()" type="{{alert.type}}" close="alerts[1].closeAlert($index)">{{alert.msg}}</alert>
          </div>
          <div class="form-group">
            <label for="business_type" class="col-sm-3 control-label">Organisation Type</label>
            <div class="col-sm-8">
              <select name="business_type" ng-model="data.business_type" class="form-control" required ng-disabled="locked">
                <option value="1">Proprietership</option>
                <option value="2">Individual</option>
                <option value="3">Partnership</option>
                <option value="4">Private Limited</option>
                <option value="5">Public Limited</option>
                <option value="6">LLP</option>
                <option value="7">NGO</option>
                <option value="8">Educational Institutes</option>
                <option value="9">Trust</option>
                <option value="10">Society</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="business_name" class="col-sm-3 control-label">Full Business Name</label>
            <div class="col-sm-8">
              <input ng-readonly="locked" type="text" class="form-control" name="business_name" ng-model="data.business_name" placeholder="Acme Private Limited" required>
            </div>
          </div>
          <div class="form-group">
          <label for="company_pan" class="col-sm-3 control-label">Company PAN</label>
            <div class="col-sm-8">
              <input ng-readonly="locked" type="text" class="form-control" name="company_pan" ng-model="data.company_pan" placeholder="Company PAN">
            </div>
          </div>
          <div class="form-group">
            <label for="promoter_pan" class="col-sm-3 control-label">Promoter/Director PAN</label>
            <div class="col-sm-8">
              <input ng-readonly="locked" type="text" class="form-control" name="promoter_pan" ng-model="data.promoter_pan" placeholder="PAN Number of Promoter" required>
            </div>
          </div>
          <div class="m-t m-b text-center prev-next">
            <button type="submit" class="pull-right btn btn-next btn-default btn-rounded" ng-click="steps.step2=true">Next</button>
            <button type="submit" class="btn btn-save btn-default btn-rounded">Save</button>
          </div>
        </fieldset>
        </form>
      </tab>
      <tab active="steps.step2" select="steps.percent=33">
        <tab-heading ng-class="{'text-success': check.2 === true, 'text-danger':check.2 === false}">
          <i class="fa" ng-class="{'fa-check': check.2 === true, 'fa-times':check.2 === false}"></i>
          Bank Account Details
        </tab-heading>
        <h4>Bank Account Details</h4>
        <form name="step4" class="form-validation form-horizontal" ng-submit="submit(2)" novalidate>
        <fieldset>
          <div class="m-t m-b text-center prev-next">
          </div>
          <div class="text-center m-t m-b alerts">
            <alert ng-repeat="alert in alerts[2].getAlerts()" type="{{alert.type}}" close="alerts[2].closeAlert($index)">{{alert.msg}}</alert>
          </div>
          <div class="form-group">
            <label for="bank_branch_ifsc" class="col-sm-3 control-label">Branch IFSC Code</label>
            <div class="col-sm-8">
              <input ng-readonly="locked" type="text" class="form-control" name="bank_branch_ifsc" ng-model="data.bank_branch_ifsc" placeholder="IFSC Code of the Bank Branch" required>
            </div>
          </div>
          <div class="form-group">
            <label for="bank_account_number" class="col-sm-3 control-label">Bank Account Number</label>
            <div class="col-sm-8">
              <input ng-readonly="locked" type="password" class="form-control" name="bank_account_number" ng-model="data.bank_account_number" placeholder="Bank Account Number" required autocomplete="off">
            </div>
          </div>
          <div class="form-group">
            <label for="bank_account_number" class="col-sm-3 control-label">Re-enter Bank Account Number</label>
            <div class="col-sm-8">
              <input ng-readonly="locked" type="text" ng-class="{'ng-invalid': data.bank_account_number !== data.bank_account_number_confirmation, 'form-control': true, 'ng-valid': data.bank_account_number === data.bank_account_number_confirmation}" name="bank_account_number_confirmation" ng-model="data.bank_account_number_confirmation" placeholder="Re-enter your Bank Account Number">
            </div>
          </div>
          <div class="form-group">
            <label for="bank_account_type" class="col-sm-3 control-label">Bank Account Type</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="bank_account_type" ng-model="data.bank_account_type" placeholder="Bank Account Type e.g. Current" required>
            </div>
          </div>
          <div class="form-group">
            <label for="bank_account_name" class="col-sm-3 control-label">Beneficiary Name</label>
            <div class="col-sm-8">
              <input ng-readonly="locked" type="text" class="form-control" name="bank_account_name" ng-model="data.bank_account_name" placeholder="Account Holder Name" required>
              <span class="help-block">Should be same as business/individual name</span>
            </div>
          </div>
          <div class="m-t m-b text-center prev-next">
            <button type="submit" class="pull-left btn btn-prev btn-default btn-rounded" ng-click="steps.step1=true">Prev</button>
            <button type="submit" class="pull-right btn btn-next btn-default btn-rounded" ng-click="steps.step3=true">Next</button>
            <button type="submit" class="btn btn-save btn-default btn-rounded">Save</button>
          </div>
        </fieldset>
        </form>
      </tab>
      <tab active="steps.step3" select="steps.percent=66">
        <tab-heading ng-class="{'text-success': check.3 === true, 'text-danger':check.3 === false}">
          <i class="fa" ng-class="{'fa-check': check.3 === true, 'fa-times':check.3 === false}"></i>
          Documents Upload
        </tab-heading>
        <h4>Documents Upload</h4>
        <form name="step5" class="form-validation form-horizontal" ng-submit="submit(3)" novalidate>
        <fieldset ng-disabled="locked">
          <div class="text-center m-t m-b alerts">
            <alert ng-repeat="alert in alerts[3].getAlerts()" type="{{alert.type}}" close="alerts[3].closeAlert($index)">{{alert.msg}}</alert>
          </div>
          <div class="form-group">
            <label for="address_proof" class="col-sm-3 control-label">Bank Account Proof with Address</label>
            <div class="col-sm-8">
              <span class="help-block">
              Upload one of the following:
                <li>Bank Account Statement (of last three months or since opening of account, whichever is earlier)</li>
                <li>Cancelled Cheque with address and IFSC</li>
              </span>
              <input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s" name="address_proof" ng-file-select="onFileSelect($files, 'address_proof')">
              <div class="text-center m-t m-b alerts">
                <alert ng-repeat="alert in fileAlerts.address_proof.getAlerts()" type="{{alert.type}}" close="fileAlerts.address_proof.closeAlert($index)">{{alert.msg}}</alert>
              </div>
            </div>
          </div>
          <div class="m-t m-b text-center prev-next">
            <button type="submit" class="pull-left btn btn-prev btn-default btn-rounded" ng-click="steps.step2=true">Prev</button>
            <button type="submit" class="pull-right btn btn-next btn-default btn-rounded" ng-click="steps.step4=true">Next</button>
            <button type="submit" class="btn btn-save btn-default btn-rounded">Save</button>
          </div>
        </fieldset>
        </form>
      </tab>
      <tab active="steps.step4" select="steps.percent=100">
        <tab-heading ng-class="{'text-success': check.4 === true, 'text-danger':check.4 === false}">
          <i class="fa" ng-class="{'fa-check': check.4 === true, 'fa-times':check.4 === false}"></i>
          Submit Form
        </tab-heading>
        <h4>Submit For Activation</h4>
        <form name="step4" class="form-validation form-horizontal" ng-submit="submit(4)" novalidate>
        <fieldset ng-disabled="locked">
          <div class="text-center m-t m-b alerts">
            <alert ng-repeat="alert in alerts[4].getAlerts()" type="{{alert.type}}" close="alerts[4].closeAlert($index)">{{alert.msg}}</alert>
          </div>
          <div class="checkbox text-center">
            <label class="i-checks">
              <input type="checkbox" name="agree_terms" ng-model="data.agree_terms">
                <i></i>
                I have read and understood the <a href="https://razorpay.com/terms/" target="_blank" class="highlight">terms and conditions</a>,
                the <a href="https://razorpay.com/agreement/" target="_blank" class="highlight">merchant agreement</a>,
                and the <a href="https://razorpay.com/privacy/" target="_blank" class="highlight">privacy policy</a> and agree to abide by them at all times.
            </label>
          </div>
          <div class="m-t m-b text-center prev-next">
            <button type="submit" class="btn btn-submit btn-default btn-rounded">Click here to submit</button>
          </div>
          <div class="m-t m-b text-center prev-next">
            <button type="submit" class="pull-left btn btn-prev btn-default btn-rounded" ng-click="steps.step3=true">Prev</button>
          </div>
        </fieldset>
        </form>
      </tab>
    </tabset>
  </div>
</div>
