<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    Webhooks ({{mode + " Mode"| titlecase }})
    <spinner class="inline"></spinner>
  </h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default" ng-controller="WebhooksCtrl">
    <div class="panel-heading">
      {{mode | titlecase}} Webhooks
    </div>
    <div class="table-responsive">
      <table class="webhooks-table table table-striped b-t b-light" ui-jq="footable">
        <thead>
          <tr>
            <!-- <th>Webhook Id</th> -->
            <th data-toggle="true">URL</th>
            <th>Created At</th>
            <th>Active</th>
            <th>Events</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="webhook in webhooks.items">
            <!-- <td>{{webhook.id}}</td> -->
            <td><code>{{webhook.url}}</code></td>
            <td>{{webhook.created_at*1000 | date:'medium'}}</td>
            <td><i class="fa" ng-class="{'fa-check text-success': webhook.active == 1, 'fa-times text-danger':webhook.active == 0}"></i></td>
            <td>{{countActiveEvents(webhook)}} {{countActiveEvents(webhook)>1?'events' : 'event'}} enabled</td>
          </tr>
          <tr>
            <td colspan="4" class="text-center">
              <button
                ng-show="webhooks.count === 0"
                href id="createWebook"
                ng-click="openCreateWebook()"
                tooltip="Setup your {{mode | titlecase}} webhook"
                class="btn btn-primary"
              >
                Setup your {{mode | titlecase}} webhook
              </button>
              <button
                ng-show="webhooks.count != 0"
                href id="editWebook"
                ng-click="openEditWebhook(webhooks.items[0])"
                tooltip="Edit your {{mode | titlecase}} webhook"
                class="btn btn-primary"
              >
                Edit your {{mode | titlecase}} webhook
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="text-center m-t m-b">
        <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
      </div>
      <div class="row">
        <div class="col-sm-4 hidden-xs"></div>
        <div class="col-sm-4 text-center">
          <small>
            You can find your webhook documentation
            <a target="_blank" href="https://docs.razorpay.com/v1/page/webhooks"><u>here</u></a>
          </small>
          <br>
        </div>
        <div class="col-sm-4 text-right text-center-xs">
        </div>
      </div>
    </footer>
  </div>
</div>
<script type="text/ng-template" id="newWebhookModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">New Webhook</h3>
  </div>
  <div class="modal-body new-webhook-modal">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-lg-2 control-label">Webhook URL</label>
        <div class="col-lg-10">
          <input type="url" id="new_webhook_url" name="webhook.url" class="form-control" ng-model="webhook.url">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Secret (optional)</label>
        <div class="col-lg-10">
          <input type="text" name="webhook.secret" class="form-control" ng-model="webhook.secret">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Active Events</label>
        <div class="col-lg-10">
          <div class="checkbox">
            <label><input ng-model="webhook.events['payment.authorized']" type="checkbox" value="payment.authorized">payment.authorized</label>
          </div>
          <div class="checkbox">
            <label><input ng-model="webhook.events['payment.failed']" type="checkbox" value="payment.failed">payment.failed</label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default modal-cancel" ng-click="cancel()">
      Cancel
    </button>
    <button class="btn btn-primary modal-ok" ng-click="ok(webhook)">
      OK
    </button>
  </div>
</script>

<script type="text/ng-template" id="editWebhookModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Edit Webhook</h3>
  </div>
  <div class="modal-body edit-webhook-modal">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-lg-2 control-label">Webhook URL</label>
        <div class="col-lg-10">
          <input type="url" id="edit_webhook_url" class="form-control" ng-model="webhook.url">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Active</label>
        <div class="col-lg-10">
          <div class="checkbox">
            <label>
              <input ng-model="webhook.active" type="checkbox" value="active">
            </label>
          </div>
          <span class="help-block m-b-none">
            Whether the webhook is enabled or not. You can enable the webhook
            here if it was disabled due to multiple errors.
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Active Events</label>
        <div class="col-lg-10">
          <div class="checkbox">
            <label><input ng-model="webhook.events['payment.authorized']" type="checkbox" value="payment.authorized">payment.authorized</label>
          </div>
          <div class="checkbox">
            <label><input ng-model="webhook.events['payment.failed']" type="checkbox" value="payment.failed">payment.failed</label>
          </div>
          <!--<div class="checkbox">
            <label><input ng-model="webhook.events['payment.captured']" type="checkbox" value="payment.captured">payment.captured</label>
          </div>
          <div class="checkbox">
            <label><input ng-model="webhook.events['payment.created']" type="checkbox" value="payment.created">payment.created</label>
          </div>-->
          <!--<div class="checkbox">
            <label><input ng-model="webhook.events['settlement.created']" type="checkbox" value="settlement.created">settlement.created</label>
          </div>-->
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Secret (optional)</label>
        <div class="col-lg-10">
          <input type="text" name="webhook.secret" class="form-control" ng-model="webhook.secret">
          <span class="help-block m-b-none">
            You can leave the secret blank to leave it unedited.
          </span>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">
        Cancel
      </button>
      <button class="btn btn-primary modal-ok" ng-click="ok(webhook)">
        Edit
      </button>
  </div>
</script>
