<div class="fullpage signup" ng-controller='RegisterCtrl'>
  <div class="header container">
    <img class="logo" src="img/logo_full.png" alt='Razorpay' height="">
  </div>
  <div class="container main">
    <div class="form mchild">
      <div class='head-text'>Signing up, almost there...</div>

      <form class="multistep-form" data-step='{{ms.step}}'>
        <div class="indicator">
          <span ng-repeat='x in range(ms.totalSteps)' ng-class="{'selected': x===ms.step}"></span>
        </div>
        <div class="stepswrapper">
          <div class="steps" style="width: {{(ms.width+24)*ms.totalSteps}}px; transform: translateX({{-(ms.width+24)*ms.step}}px)">
            <div class="step">
              <label class="form-label" for="email">Your Office Email</label>
              <input type="email" placeholder="yourname@company.com"
                name="email" id="email" ng-model="data.email"
                class="form-control" required>

              <div class="faded-text">We respect your privacy. We will use this email to contact you if required. You can add more email later to this account.</div>
              <div class="btn btn-lg btn-primary btn-block" ng-click='ms.gotoStep(1)'>Continue</div>
            </div>
            <div class="step">
              <div class="form-label">Your Business Type?</div>
              <div class="select-one">
                <div class="select-one-option">
                  <input type="radio" name="business_type" value="private_ltd" id="private_ltd" ng-model='data.business_type'/>
                  <label for='private_ltd'>
                    Private Limited
                    <i class="pull-right fa fa-check"></i>
                  </label>
                </div>
                <div class="select-one-option">
                  <input type="radio" name="business_type" value="propreitorship" id="propreitorship" ng-model='data.business_type'/>
                  <label for='propreitorship'>
                    Propreitorship
                    <i class="pull-right fa fa-check"></i>
                  </label>
                </div>
                <div class="select-one-option">
                  <input type="radio" name="business_type" value="partnership" id="partnership" ng-model='data.business_type'/>
                  <label for='partnership'>
                    Partnership
                    <i class="pull-right fa fa-check"></i>
                  </label>
                </div>
                <div class="select-one-option" ng-show='more === false'>
                  <input type="checkbox" name="business_type" value="true" id="more" ng-model='more'/>
                  <label for='more'>
                    More
                    <i class="pull-right fa fa-ellipsis-h"></i>
                  </label>
                </div>
                <div ng-show='more === true'>
                  <div class="select-one-option">
                    <input type="radio" name="business_type" value="llp" id="llp" ng-model='data.business_type'/>
                    <label for='llp'>
                      LLP
                      <i class="pull-right fa fa-check"></i>
                    </label>
                  </div>
                  <div class="select-one-option">
                    <input type="radio" name="business_type" value="edu" id="edu" ng-model='data.business_type'/>
                    <label for='edu'>
                      Educational Institutes
                      <i class="pull-right fa fa-check"></i>
                    </label>
                  </div>
                  <div class="select-one-option">
                    <input type="radio" name="business_type" value="trust_society" id="trust_society" ng-model='data.business_type'/>
                    <label for='trust_society'>
                      Trust / Society
                      <i class="pull-right fa fa-check"></i>
                    </label>
                  </div>
                  <div class="select-one-option">
                    <input type="radio" name="business_type" value="individual" id="individual" ng-model='data.business_type'/>
                    <label for='individual'>
                      Individual
                      <i class="pull-right fa fa-check"></i>
                    </label>
                  </div>
                  <div class="select-one-option">
                    <input type="radio" name="business_type" value="public_ltd" id="public_ltd" ng-model='data.business_type'/>
                    <label for='public_ltd'>
                      Public Limited
                      <i class="pull-right fa fa-check"></i>
                    </label>
                  </div>
                  <div class="select-one-option">
                    <input type="radio" name="business_type" value="ngo" id="ngo" ng-model='data.business_type'/>
                    <label for='ngo'>
                      NGO
                      <i class="pull-right fa fa-check"></i>
                    </label>
                  </div>
                </div>
              </div>
              <div class="faded-text">We respect your privacy. We will use this email to contact you if required. You can add more email later to this account.</div>
              <div class="btn btn-lg btn-primary btn-block" ng-click='ms.gotoStep(2)'>Continue</div>
            </div>
            <div class="step">
              <label for="email">Your Office Email2</label>
              <input type="email" placeholder="yourname@company.com"
                name="email" id="email" ng-model="data.email"
                class="form-control" required>

              <div class="faded-text">We respect your privacy. We will use this email to contact you if required. You can add more email later to this account.</div>
              <div class="btn btn-lg btn-primary btn-block" ng-click='ms.gotoStep(3)'>Continue</div>
            </div>
            <div class="step">
              <label for="email">Your Office Email3</label>
              <input type="email" placeholder="yourname@company.com"
                name="email" id="email" ng-model="data.email"
                class="form-control" required>

              <div class="faded-text">We respect your privacy. We will use this email to contact you if required. You can add more email later to this account.</div>
              <div class="btn btn-lg btn-primary btn-block" ng-click='ms.gotoStep(4)'>Continue</div>
            </div>
            <div class="step">
              <label for="email">Your Office Email</label>
              <input type="email" placeholder="yourname@company.com"
                name="email" id="email" ng-model="data.email"
                class="form-control" required>

              <div class="faded-text">We respect your privacy. We will use this email to contact you if required. You can add more email later to this account.</div>
              <div class="btn btn-lg btn-primary btn-block" ng-click='ms.gotoStep(0)'>Continue</div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="announcements mchild">
    </div>
  </div>
</div>
