<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Transactions</h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default" ng-controller="TransactionsListCtrl">
    <div class="panel-heading">
      List of all transactions
    </div>
    <div class="row wrapper">
      <div class="col-sm-5 m-b-xs">
        <label for="filter">Filter: </label>
        <select name="filter" class="input-sm form-control w-sm inline v-middle" ng-model="transactions.status">
          <option value="">None</option>
          <option value="open">Open</option>
          <option value="authorized">Authorized</option>
          <option value="captured">Captured</option>
          <option value="refunded">Refunded</option>
          <option value="failed">Failed</option>
        </select>           
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="text" class="input-sm form-control" placeholder="Search Transaction Id" ng-model="transactions.id">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button" ng-click="search()">Go!</button>
            <button class="btn btn-sm btn-default" type="button" ng-click="regenerate()">Clear</button>
          </span>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th>Transaction Id</th>
            <th>Amount</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in transactions.data">
            <td>{{row.id}}</td>
            <td>{{row.amount}}</td>
            <td>{{row.created_at*1000 | fromNow}}</td>
            <td>{{row.updated_at*1000 | fromNow}}</td>
            <td><span class="label" title="{{row.status}}" ng-class="getStatusClass(row.status)">{{row.status | titlecase}}</span></td>          
          </tr>
          <tr ng-show="transactions.count === 0">
            <td colspan="5" class="text-center">
            No Transactions
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="text-center m-t m-b">
        <alert ng-repeat="alert in alerts.getAlerts()" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert>
      </div>

      <div class="row">
        <div class="col-sm-4 hidden-xs">
        </div>
        <div class="col-sm-4 text-center">
          <small class="text-muted inline m-t-sm m-b-sm">Showing {{transactions.countStart}}-{{transactions.countEnd}}</small>
        </div>
        <div class="col-sm-4 text-right text-center-xs">                
          <ul class="pagination pagination-sm m-t-none m-b-none">
            <li ng-click="allowPrev && prev()"><a href ><i class="fa fa-chevron-left" ></i></a></li>
            <li ng-click="allowNext && next()"><a href ><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>