.rzp-accounts-list {

  position: relative; 
}

.rzp-option-component {

  padding: 5px;
}

.rzp-account-item {

  margin-right: 5px;
  max-width: 500px;


  .account-name {

    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 33%;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;

    &.tag-invisible {

      max-width: 50%;
    }
  }

  .account-id {

    vertical-align: top;
  }


  .custom-tag {

    &:before {

      display: none;
    }

    @media (max-width: 992px) {

      &:before {

        display: inline;
      }

      &> span.text {

        display: none;
      }
    }
  }
}
