.AddressSelectionModal
  &.AddressSelectionModal__full
    padding-left: 0 !important;
    padding-right: 0 !important;

  .AddressSelectionModal__shrunk
    padding-left: 24px;
    padding-right: 24px;

  .AddressSelectionModal__list
    max-height: 280px
    overflow-y: auto;

  .AddressSelectionModal__address
    padding: 0px 24px;
    color: #212121
    font-size: 14px
    line-height: 20px
    white-space: pre-line

    .RadioButton
      margin-top: 8px;
      margin-bottom: 8px;

    label
      cursor: pointer;
      p
        padding: 0 8px;


  .AddressSelectionModal__address-text
    color: #212121
    opacity: 0.8
    font-size: 14px
    line-height: 20px
    white-space: pre-line
    margin: 0;
    font-weight: normal;

  .AddressSelectionModal__bottom
    margin-top: 16px;

  .AddressSelectionModal__new-headers
    label
      font-weight: 600;
      margin-right: 16px;

  .AddressSelectionModal__header-action
    margin-bottom: 16px;
    font-weight: 600;
    i
      margin-right: 4px;

  .AddressSelectionModal__other-cta
    margin-bottom: 8px;
    font-weight: 600;
