.Announcement_Banner
  margin: 65px 20px 0px 20px
  background: #ffffff
  height: 50px
  position: relative
  border-radius: 2px
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1)

  .title
    float: left
    height: 50px
    font-weight: bold
    background: linear-gradient(270deg, #2682FF 0%, #415BD3 100%)
    color: white
    padding: 15px 0 15px 15px
    border-radius: 2px 0 0 2px

  .corner
    float: left
    width: 0
    height: 0
    border-style: solid
    border-width: 50px 30px 0 0
    border-color: #2682FF transparent transparent transparent

  .content
    float: left
    padding: 15px 15px 15px 0
    width: 72%
  
  .close-btn
    color: #58666D
    font-size: 26px
    position: absolute
    top: 4px
    right: 12px
    padding: 4px 8px

  .btn-link 
    font-weight: bold
    text-decoration: none

    .i-chevron-right
      top: 2px
      left: 0
      position: relative

.Modal .modal-body.rzp-early-stl-modal
  color: #58666E
  padding: 0

  .modal-header
    padding: 15px 0
  
  .modal-title
    font-size: 24px
    font-weight: bold
    line-height: 32px

  .help-block
    color: #58666E

  .modal-subtitle
    display: inline-block
    margin: 15px 0 10px 0
    font-size: 18px
    font-weight: bold
    line-height: 22px

  .content-left, .content-right
    display: inline-block
    width: 50%
    height: 100%
    vertical-align: top
    padding: 20px

  .content-left
    border-radius: 2px 0 0 2px
    background-color: #FAFAFA
    padding: 35px
    border-right: 1px solid #E0E0E0
  
  .content-right
    background-color: #fff
    padding-top: 35px
    position: relative

    button.close
      margin-top: -25px
      margin-right: -10px

    .radio-label
      .title
        font-size: 16px
        font-weight: bold
        line-height: 19px
      .description
        color: #7B8199

    .form-action
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      text-align: right 
      border-top: 1px solid #E0E0E0
      background-color: #F6F6F6
      padding: 20px

  .features-list 
    color: #58666E
    margin-top: 20px
    .feature-item
      margin: 20px 0
    .feature-icon
      width: 45px
      display: inline-block
      vertical-align: top
      padding: 5px
      img 
        width: 40px
    .feature-title
      font-weight: bold
    .feature-text
      color: #7B8199
    .feature-content
      display: inline-block
      width: 85%
      padding-left: 20px

.success-modal
  min-height: 400px
  text-align: center

  .success-banner-cnt
    background-image: url('assets/early_settlements/es-banner-1.png')
    height: 100%
    width: 100%
    padding: 45px
    background-size: 104% 107%
    background-position: -15px -12px
    background-repeat: no-repeat
  
    img
      width: 450px
      margin: 30px 0 20px 0

    .modal-title
      margin: 20px 0
      display: inline-block

    .help-block
      width: 75%
      margin: 0 auto

    .close-btn
      margin-top: 15px 

.Announcement_Banner.with-tour
  margin-top: 20px

@media only screen and (max-width: 1190px) and (min-width: 1021px)
  .Announcement_Banner
    height: 68px

    .title
      height 68px
      padding: 24px 0 15px 15px
    
    .content
      width: 65%

    .corner
      border-width: 68px 40px 0 0

    .close-btn
      top: 12px

@media only screen and (max-width: 1020px)
  .Announcement_Banner
    height: auto  

    .title
      float: none
      height 48px
      padding: 12px
      border-radius: 2px 2px 0 0
    
    .corner
      display: none
    
    .content
      float: none
      width: 100%
      padding: 12px
    
    .close-btn
      color: #ffffff
      top: 2px

.Announcement_Banner--hide
  display: none

.Announcement_Banner.margin-bottom
  margin-bottom: 20px