ol.rzp-breadcrumb {

  display: inline-block;
  background-color: transparent;

  li{

    vertical-align: middle;
    color: $primary-color;
    cursor: pointer;

    &+li:before {
      content: '\E00C';
      padding: 0 5px;
      color: #58666e;
      font-family: "icons";
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      text-decoration: none;
      text-transform: none;
      vertical-align: middle;
    }

    &.active {

      color: #58666e;
      cursor: default;
    }    
  }
}
