.Clipboard {
  .form-control {
    background-color: #fff;
  }

  .input-group-addon {
    cursor: pointer;
    background-color: #fff;
    font-weight: 600;
    color: $primary-color;
    border-left-color: transparent;
  }
}

.Clipboard--unsupported {
  width: 100%;
}

.ClipboardCustom {
  display: inline-block;

  &__Input {
    width: 0px;
    height: 0px;
    position: absolute;
    left: -9999px;
  }
}
