.reasons-close-modal
  .modal-header
    i.i-close
      display: none;
  .modal-body
    padding-bottom: 0 !important;
    input[type="radio"]
      margin-right: 15px;
    label
      font-weight: normal;
  .modal-footer
    border-top: 0;
