.reasons-close-modal
  .modal-header
    i.i-close
      display: none;
  .modal-body
    padding-bottom: 0 !important;
    input[type="radio"]
      margin-right: 15px;
    label
      font-weight: normal;
  .Input-textarea-container .Input.Input--small
    width: 100%;
    margin-left: 24px;
    margin-right: 24px;
    .Input-elWrapper
      width: 100%;
  .modal-footer
    border-top: 0;
