.loan-offer-wrapper {
  margin: 24px auto;
  width: 400px;
  color: rgba(22,47,86,0.87);

  .loan-offer-details-wrapper {
    margin-bottom: 16px;
    border: 1px solid rgba(11, 112, 231, 0.1);
    border-radius: 2px;

    &.no-border{
      border: none;
    }
    .financer-details{
      background: rgba(22, 47, 86, 0.02);
      padding: 8px 16px;
      .details-wrapper{
        .title{
          color: #7B8199;
          font-size: 13px;
        }
        .description{
          font-size: 14px;
          color: rgba(22, 47, 86, 0.87);
        }
      }
    }

    &.approved {
      border-top: 3px solid #1FC130;
    }

    hr {
      margin: 0;
    }

    .loan-amount-details-wrapper {
      border-left: 3px solid #528FF0;
      padding: 0 !important;
      margin: 8px 0 8px -2px;
      color: rgba(22, 47, 86, 0.87);
      &.no-highlight{
        border-left: none;
      }
      hr {
        margin: 0;
      }
    }

    .loan-offer-details {
      background: rgba(11, 112, 231, 0.02);
      padding: 4px 0;

      .section{
        padding: 4px 0;
      }
    }

    .section {
      display: flex;
      padding: 8px 16px;
      align-items: center;

      &.disbursal-details{
        font-weight: 600
        font-size: 13px;
        padding: 8px 16px 4px;
        ~ .section{
          padding-top: 0px !important;
        }
      }

      .loan-offer-detail-title {
        flex: 1;
        padding-left: 16px;
        font-size: 13px;
        color: rgba(22, 47, 86, 0.87);
      }

      .wc-amount .help-content--currency{
        font-size: 16px;
        .rzp-amount  .rzp-currency, .rzp-whole, rzp-paise{
          font-weight: 600;
        }
      }

      .loan-offer-amount {
        color: rgba(22, 47, 86, 0.87);
        font-size: 20px;
        padding-right: 20px;
      }

      .loan-offer-value {
        padding-right: 20px;
        font-size: 14px;
        color: rgba(22, 47, 86, 0.87);
      }

      .loan-offer-summary-wrapper {
        flex: 1;

        &:not(:last-child){
          text-align: center;
          border-right: 1px solid rgba(22, 47, 86, 0.1);
          margin-right: 8px;
        }
        &.no-border{
          border: none;
        }
        &:first-child{
          text-align: left;
        }
        &:last-child{
          text-align: right;
        }

        .loan-offer-summary-title {
          color: rgba(22, 47, 86, 0.54);
          font-size: 12px;

          .help-content{
            padding-left: 4px;
          }
        }
      }
    }

    .loan-offer-summary-section {
      padding: 8px 16px;
      display: flex;
      justify-content: space-between;
    }
  }

  .loan-repayment-details-wrapper {
    padding: 8px 0;
    border: 1px solid rgba(11, 112, 231, 0.1);
    margin-bottom: 16px;

    .loan-repayment-details{
      border-left: 3px solid #F7AA15;
      margin: 8px 0;
      margin-left: -2px;

      .loan-repayment-detail-info {
        padding-left: 16px;
        font-size: 10px;
        color: rgba(22, 47, 86, 0.54);
      }
      .section {
        display: flex;
        align-items: center;

        .loan-offer-detail-title {
          flex: 1;
          padding-left: 16px;
          font-size: 13px;
          color: rgba(22, 47, 86, 0.74);
        }

        .loan-offer-value {
          padding-right: 20px;
          font-size: 14px;
          color: rgba(22, 47, 86, 0.87);
        }
      }
    }
  }
  .loan-offer-action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .back-btn{
      margin-right: 10px;
    }
    .Button{
      height: 36px;
    }
    .Button--primary, .btn-outline {
      margin: 0 0 0 12px;
    }
    .help-text {
      color: rgba(22, 47, 86, 0.54);
      margin-right: 16px;
      font-size: 13px;
      .callback-text {
        margin-right: 4px;
      }
      a {
        font-size: 14px;
      }
    }
  }
}

.credit-offer-container {
  padding: 24px 0;
  width: 400px;
  margin: auto;

  .credit-offer__meta {
    padding: 0px 16px 12px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    hr {
      margin: 0 0 12px 0;
    }

    p {
      padding-left: 10px;
      border-left: 2px solid #0B70E7;
    }
  }
}
