.credit-score-ntc
  padding: 22px;
  font-size: 17px;
  font-weight: 400;
  color: #7B8199;

.credit-score-breakdown
  padding: 32px;
  .rep-container-1
    width: 30%;
    margin-bottom: 20px;
    margin-right:20px;
  .rep-container-2
    width: 38%;
    margin-right:20px;
  .rep-container-row2
    background: #fff;
    padding: 0;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid rgba(11,112,231,0.1);
  .rep-container
    background-color: white;
    padding: 20px;
    margin-bottom: 0;
    min-height: 350px;
    border-radius: 4px;
    border: 1px solid rgba(11, 112, 231, 0.1);
    .tab-title
      padding: 0 0 0 4px !important;
      margin-bottom: 16px;
    .report-header
      font-weight: 600;
      font-size: 1.4em;
    .report-body
      padding: 10px 0;
    .report-amount
      font-weight: 600;
      padding: 20px;
      font-size: 2.0em;
      background: linear-gradient(90.65deg, rgba(82,143,240,0.1) -27.89%, rgba(235,243,255, 0.1) 64.03%);
    .report-actions
      padding-top: 10px;
    .d2c-support
      border-top: 1px solid rgba(173, 188, 201, 0.3);
      margin-top: 20px;
      padding-top: 5px;
      h5
        font-weight: 600;
  .credit-chart-container
    height: calc(350px - 40px - 40px);
    display: inline-block;
    padding-left: 0;
    position: relative;
    left: -10px;
  .credit-min
    position: absolute;
    bottom: 0;
  .credit-score
    position:absolute;
    bottom: 80px;
    color: black;
    span.score
      font-size: 1.8em;
      font-weight: 600;
  .credit-score-container
    height: calc(350px - 40px - 40px);
    display: inline-block;
    color: #7B8199;
    opacity: 0.8;
    position: relative;
    left: -30px;

  .tab-header-lab, .tab-row-lab
    font-size: 1.2em;
    color: black;
  .tab-header-value, .tab-row-value
    float: right;
  .tab-row
    padding: 4px 20px 0 20px;
    margin: 8px 0;
    //&.success
    //  border-right: 2px solid #24A832;
    //&.danger
    //  border-right: 2px solid #D75252;
  .tab-header
    padding: 0 0 10px 0;
    margin: 0 20px 5px 20px;
    border-bottom: 1px solid rgba(22, 47, 86, 0.24);
  .rep-container-1, .rep-container-row2
    .tab-title
      color: rgba(22, 47, 86, 0.87);
      font-weight: 600;
      padding: 20px 20px 12px 20px;
      font-size: 14px;
  .shared-note
    margin-top: 8px;
  .orange-pad
    border-left: 2px solid #f5b81c;
    margin: 5px 0 0 10px;
    float: left;
    padding-left: 10px;
  .credit-score-actions
    clear: both;
    padding: 0 42px;

  .background-col
    background-image: url('/dist/css/assets/subtle_shapes.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
