.credit-pull-failure-container
  .i-error
    color: #D75252;
  .try-button
    text-align:center;
    button
      margin-bottom: 20px;
.container-cred-pull-modal
  input[type="checkbox"]
    float: right;
  .modal-body
    padding-bottom: 0 !important;
  .cap-consent
    text-align: start;
  i.i-date-range.custom-icon
    font-size: 120%;
    right: 24px;
    top: 11px;
    color: #58666e;
  .paddyTop15
    padding-top:15px;
  .orange-pad
    border-left: 2px solid #F5B81C;
    margin-left: 18px;
  i.warning
    position: relative;
    top: 1.5px;
    padding-right: 3px;
  img.exp-logo
    width: 75px;
    float: left;
    opacity: 0.7;
  span.exp-logo-text
    float: left;
    margin-top: 9px;
    font-size: 0.8em;
.credit-otp
  .btn-link
    padding-left: 5px;
    padding-top: 3px;
