.creditpull-verification-container {
  width: 520px;
}

.creditpull-otp-wrapper {
  display: flex;
  // align-items: center;
  padding: 32px;

  .otp-label-wrapper {
    padding: 8px 24px;

    .enter-otp-text {
      font-size: 14px;
      color: rgba(22, 47, 86, 0.74);
    }
  }

  .otp-helper-text {
    font-size: 12px;
    color: rgba(22, 47, 86, 0.38);
    margin-bottom: 4px;
    &.error-description{
      color: #f05050;
    }
  }

  .otp-input-container {
    div {
      strong {
        display: none;
      }
      .wrong-msg{
        float: none !important;
      }
      .otp-input{
        .seprator{
          margin-right: 1px !important;
        }
      }
    }

    .otp-helper-text-wrapper {
      margin-top: 16px;
    }
  }
}
