.ntc-container
  .credit-pull-success-container
    .modal-body
      min-height: 200px
  .modal-footer
    padding: 0px;

img.exp-logo
  width: 75px;
  float: left;
  opacity: 0.7;
.credit-pull-failure-container
  .i-error
    color: #D75252;
  .try-button
    text-align:center;
    button
      margin-bottom: 20px;
.container-cred-pull-modal
  .loader
    border: 1.2px solid #f3f3f3;
    border-top: 1.2px solid #3498db;
    border-radius: 50%
    width: 24px
    height: 24px
    animation: spin 1s linear infinite;
  input[type="checkbox"]
    float: right;
  .modal-body
    padding-bottom: 0 !important;
    min-height:250px
  .cap-consent
    text-align: start;
  i.i-date-range.custom-icon
    font-size: 120%;
    right: 24px;
    top: 11px;
    color: #58666e;
  .paddyTop15
    padding-top:15px;
  .orange-pad
    border-left: 2px solid #F5B81C;
    margin-left: 18px;
  i.warning
    position: relative;
    top: 1.5px;
    padding-right: 3px;
  span.exp-logo-text
    float: left;
    margin-top: 9px;
    font-size: 0.8em;
.credit-otp
  .btn-link
    padding-left: 5px;
    padding-top: 3px;
  p
    margin-bottom:12px !important;
.credit-pull-success-container
  .modal-footer
    border-top: none;
  .modal-body
    min-height: 320px;
    .tab-header-lab, .tab-row-lab
      font-size: 1.2em;
      color: black;
    .tab-header-value, .tab-row-value
      float: right;
    .tab-row
      padding: 10px 0;
    .tab-header
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ADBCC9;
    .tab-title
      padding-bottom: 10px;
      font-size: 1.4em;
      font-weight: 600;
    .background-col
      background-image: url('/dist/css/assets/subtle_shapes.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: right;
    .rep-container-1
      width: 30%;
      margin-right:20px;
    .rep-container-2
      width: 38%;
      margin-right:20px;
    .rep-container-row2
      background: white;
      padding: 20px;
      margin-bottom: 20px
      min-height: 200px;
      border: 1px solid rgba(173,188,201,0.25);
    .rep-container
      background-color: white;
      padding: 20px;
      margin-bottom: 20px
      min-height: 280px;
      border: 1px solid rgba(173, 188, 201, 0.25);
      .report-header
        font-weight: 600;
        font-size: 1.4em;
      .report-body
        padding: 10px 0;
      .report-amount
        font-weight: 600;
        padding: 20px;
        font-size: 2.0em;
        background: linear-gradient(90.65deg, rgba(82,143,240,0.1) -27.89%, rgba(235,243,255, 0.1) 64.03%);
      .report-actions
        padding-top: 10px;
      .d2c-support
        border-top: 1px solid rgba(173, 188, 201, 0.3);
        margin-top: 20px;
        padding-top: 5px;
        h5
          font-weight: 600;
    .small-container
      background-color: white;
      padding: 20px;
      margin-bottom: 0px
      min-height: 220px;
      border: 1px solid rgba(173, 188, 201, 0.25);
      .report-header
        font-weight: 600;
        font-size: 1.4em;
      .report-body
        padding: 10px 0;
      report-actions
        padding-top: 10px;
      .d2c-support
        border-top: 1px solid rgba(173, 188, 201, 0.3);
        margin-top: 20px;
        padding-top: 5px;
        h5
          font-weight: 600;
    .credit-chart-container
      height: 200px;
      display: inline-block;
      padding-left: 0;
      position: relative;
      left: -10px;
    .credit-min
      position: absolute;
      bottom: 0;
    .credit-score
      position:absolute;
      bottom: 80px;
      color: black;
      span.score
        font-size: 1.8em;
        font-weight: 600;
    .credit-score-container
      height: 200px;
      display: inline-block;
      color: #7B8199;
      opacity: 0.8;
      position: relative;
      left: -30px;
    .mod-faq
      text-align: left;
      border-left: 2px solid #528FF0;
      padding: 0 0 0 10px;
      margin-top: 5px;
    .btn-credit
      background: #fafafa;
      border: 1px solid #528FF0;
      color: #528FF0;
      margin-left: 10px;
      width: 90%;
    .orange-pad
      border-left: 2px solid #f5b81c;
      margin: 5px 0 0 10px;
      float: left;
      padding-left: 10px;
    .foot-box
      min-height: 40px;
      padding-left: 0;
      img.exp-logo
        float: right;
      span.exp-logo-text
        float: right;
        margin: 5px 0 0 20px;
