.CustomerCreationModal
  .CustomerCreationModal__headers
    margin-top: 16px;
    label
      font-weight: bold;
      margin-right: 16px;

  .CustomerCreationModal__header-action
    font-weight: bold;
    i
      margin-right: 4px;

  .CustomerCreationModal__bottom
    margin-top: 16px;
