.CustomerCreationModal
  .CustomerCreationModal__headers
    margin-top: 16px;
    label
      font-weight: 600;
      margin-right: 16px;

  .CustomerCreationModal__header-action
    font-weight: 600;
    i
      margin-right: 4px;

  .CustomerCreationModal__bottom
    margin-top: 16px;
