$borderColor = rgba(0, 0, 0, 0.1);
$height = 40px;

/* 
  For m-web we want to keep the DateRanege selector
  in the next line to fit the whole component properly
  so custom media query css added for the same
*/

.rzp-daterange-picker {

  display: block;
  border: 1px solid $borderColor;
  border-radius: 2px;
  @media screen and (max-width: $screen-sm-min) {
      border none;
  }

  div.DateRangePicker > .caret {

    display: none;
  }

  > div {

    display: inline-block;
    height: $height;
    border-left: 1px solid $borderColor;
    vertical-align: middle;
    background-color: #FFFFFF;

    &.icon-container, &.presets-container {

      border-left: none;
      @media screen and (max-width: $screen-sm-min) {
        border 1px solid $borderColor;
      }
    }

    &.icon-container {

      line-height: 1;
      padding: 9px;
      font-size: 20px;
      padding-right: 0;
      @media screen and (max-width: $screen-sm-min) {
        border-right-width 0;
      }
    }

    &.presets-container {

      .PowerSelect__TriggerLabel, .PowerSelect__Trigger {

        height: 40px;
      }
      @media screen and (max-width: $screen-sm-min) {
        border-left-width 0;
      }
    }

    &.daterange-container {
      @media screen and (max-width: $screen-sm-min) {
        clear both
        margin-top 15px
        border 1px solid $borderColor;
      }

      i.i-date-range {

        display: none;
      }

      .DateRangePicker_picker {

        z-index: 2;
        /*
          Special css with !important needed to be added to keep the 
          DateRange Picker aligned for devices with < 360 width
        */
        @media screen and (max-width: 359) {
          left -20px !important
        }
      }
    }

    .caret {

      display: none;
    }

    .DateRangePickerInput {

      border: none;

      .DateInput__display-text {

        font-weight: normal;
      }

      .DateInput {

        width: 97px;

        .DateInput_input {

          font-weight: 600;
        }
      }

      .DateInput_input__focused {

        border-bottom: 2px solid transparent;
      }

      .DateRangePickerInput__arrow {

        top: 0;
        line-height: $height;
        left: 50%;
      }

      > div {

        line-height: 32px;
        vertical-align: top;
      }

      .DateInput:first-child {

        width: 118px;

        .DateInput__display-text {

          padding-left: 10px;
        }
      }
    }
  }
}

.date-range-preset-select
  z-index: 2
  left: -28px !important //adding important to override element.style added by PowerSelect library
  top: 5px !important //adding important to override element.style added by PowerSelect library

  &.PowerSelect__Tether
    width: 160px
  &.react-normal-select
    &__Menu
      .PowerSelect__Option
        padding: 0 10px

        &:hover
          background-color: #FAFBFC

        & > span
          line-height: 40px

      &--highlighted
        background-color: #9EB1C7
        color: #FFF;
