.daterangepicker-container {
  position: relative;

  .i-date-range {
    position: absolute;
    top: 6px;
    left: 8px;
    z-index: 1;
    font-size: 20px;
    pointer-events: none;
  }

  .caret {
    position: absolute;
    top: 16px;
    right: 10px;
    border-top-color: #b3b3b3;
    pointer-events: none;
  }

  .DateInput:first-child {
    width: 140px;
  }

  .DateInput {
    font-weight: 600;
    width: 110px;
  }

  .DateRangePickerInput__arrow {
    position: absolute;
    top: 6px;
    left: 52%;
    margin-left: -5px;
    pointer-events: none;


    > svg {
      display: none;
    }

    &::after {
      content: 'to'
      font-size: 12px;
      color: #666;
    }
  }

  .DateRangePickerInput >.DateInput:first-child .DateInput__display-text {
    padding-left: 32px;
  }

  .DateRangePickerInput, .DateInput {
    backgground-color: #fafafa;
  }
}
