.fileupload-input-group {
  .input-group-addon {
    padding: 0;
  }

  .fileupload-btn {
    border: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    input {
      display: none;
    }
  }

  .file-uploaded {
    color: #3c763d;
  }
}
