.grouping-dropdown {

  width: 218px;

  .grouping-icon {

    font-size: 12px;
  }

  .dropdown-group-item {

    padding: 0;
    width: 100%;

    .react-normal-select, .PowerSelect__Trigger, .PowerSelect__TriggerLabel {

      width: 100%;
    }
  }
}
