.grouping-dropdown {

  display: table;

  .rzp-group-item:first-child {

    padding-left: 10px;
    padding-right: 0;
    border-right: none;
  }

  .grouping-icon {

    font-size: 12px;
    vertical-align: middle;
  }

  .dropdown-group-item {

    padding: 0;
    width: 100%;

    .react-normal-select, .PowerSelect__Trigger, .PowerSelect__TriggerLabel {

      width: 100%;
    }
  }
}
