$line-top = 0
$trapezoid-top = -18px
$info-top = 9px

$payment-pages-offset = 50px

@keyframes fadein
  from
    opacity 0

  to
    opacity 1

.highlight-test-mode-container
  z-index 101
  position absolute
  width 100%
  animation fadein 2s

  @media (max-width 768px)
    z-index 101
    position relative

  .horizontal-line
    background-color #F9D328
    width 100%
    height 5px
    position fixed
    top $line-top

    @media (max-width 768px)
      position relative

    &.shift-line
      top $line-top + 45px

  .content
    width 100%
    display flex
    justify-content center
    position relative

    @media (max-width 768px)
      top -5px

    .trapezoid
      height 55px
      width 213px
      position fixed
      top $trapezoid-top
      background-color #F9D328
      clip-path polygon(5% 97%, 95% 97%, 100% 41%, 0 40%)
      border-radius 25px
      text-align center
      padding-top 27px
      padding-left 15px
      color #2D3242
      font-size 12px

      @media (max-width 768px)
        position relative

      &.shift-trapezoid
        top $trapezoid-top + 45px

      .test-mode-switch
        margin-left 5px
        position relative
        top -1px
        cursor pointer

    .info
      position fixed
      top $info-top
      margin-left 3px
      cursor pointer

      @media (max-width 768px)
        position absolute
        top 27px

      &.shift-info
        top $info-top + 45px

      i
        vertical-align middle
        color #2D3242

    .info-content
      width 210px
      position fixed
      top 50px
      padding 10px
      margin-right 35px
      background-color #515461
      color #FFF
      font-size 12px
      border-radius 4px
      animation fadein 1s

      @media (max-width 768px)
        position absolute

      &.shift-info-content
        top 95px

      .clickable
        padding-top 20px
        font-size 13px
        cursor pointer

      &::after
        content ""
        position absolute
        width 0
        height 0
        border-left 15px solid transparent
        border-right 15px solid transparent
        border-bottom 15px solid #515461
        top -10px
        left 25px

  &.hide-test-mode
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
