$errorBgColor = #FFF5F5
$errorTextColor = #F65656

.inlineField {
  display: block;
  position: relative;
  margin-left: -5px;
  margin-right: -5px;
  white-space: pre-wrap;

  textarea.form-control {
    overflow: hidden;
    resize: none;

    + .inlineField__value-container .inlineField__value {
      white-space: inherit;
    }
  }

  // Don't show spin buttons on InlineFields
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  .error,
  .error + .inlineField__value-container,
  .InputField--error + .inlineField__value-container {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .form-control:focus,
  .PowerSelect--open,
  .PowerSelect--focused,
  .datepicker--focused {
    + .inlineField__value-container {
      .inlineField__value {
        display: none;
      }

      .inlineField__placeholder {
        color: #C4C4C4;
      }
    }
  }

  .PowerSelect--focused.PowerSelect__WithSearch {
    + .inlineField__value-container .inlineField__placeholder {
      display: none;
    }
  }

  .form-control,
  .PowerSelect,
  .SingleDatePickerInput {
    background: transparent;
    border-color: transparent;
    color: transparent;

    &:hover {
      border-color: #b8b2dc;
    }
  }

  .form-control[disabled],
  .PowerSelect--disabled,
  &.inlineField--disabled .SingleDatePickerInput {
    &:hover {
      border-color: transparent;
    }
  }

  .DateInput--disabled,
  .PowerSelect--disabled .PowerSelect__TriggerInput {
    background-color: transparent;
  }

  .form-control:focus,
  .PowerSelect--open,
  .PowerSelect--focused,
  .datepicker--focused .SingleDatePickerInput,
  .datepicker--focused .DateInput__display-text {
    border-color: #b8b2dc;
    color: #555;
  }

  .PowerSelect.error,
  .InputField--error {
    background-color: $errorBgColor;

    .PowerSelect__TriggerInput {
      background-color: $errorBgColor;
    }

    + .inlineField__value-container {
      .inlineField__placeholder,
      .inlineField__value {
        color: $errorTextColor;
      }
    }
  }

  .PowerSelect__TriggerStatus {
    border-top-color: transparent;
  }

  .PowerSelect:hover .PowerSelect__TriggerStatus,
  .PowerSelect:focus .PowerSelect__TriggerStatus {
    border-top-color: #b8b2dc;
  }

  .input-xs,
  .PowerSelect,
  .DateInput__display-text,
  .inlineField__value-container {
    padding: 0 5px;
    line-height: 20px;
    font-size: 14px;
  }

  .form-control:not(.text-right) {
    padding-right: 23px;
  }

  input.input-xs {
    height: 22px;
  }

  .PowerSelect:not(.PowerSelect--open) {
    border-radius: 2px;
  }

  .PowerSelect__Trigger {
    padding: 0;
    height: 20px; // Will be removed in the next version bump
  }

  .PowerSelect__Clear,
  .PowerSelect__TriggerInputContainer,
  .PowerSelect__TriggerInput,
  .PowerSelect__TriggerLabel,
  .PowerSelect__TriggerStatus {
    height: 20px;
  }

  .PowerSelect__Clear {
    padding: 0 4px; // Will be removed in the next version bump
  }

  .PowerSelect__TriggerInput {
    padding-right: 10px;
    padding-left: 0;
  }

  .PowerSelect__TriggerStatus {
    right: 0;
    top: 10px;
  }

  .SingleDatePicker {
    display: inline-block;
  }

  .DateInput__display-text {
    color: transparent;
  }

  .DateInput {
    line-height: 22px;
    display: block;
  }
}

.inlineField__value-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  border: 1px solid transparent;
}

.inlineField__value,
.inlineField__placeholder {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 18px;
  position: relative;
  white-space: nowrap;

  .i-edit {
    position: absolute;
    right: 0;
    top: 3px;
  }
}

.inlineField--disabled {
  .inlineField__value {
    padding: 0;
  }

  .inlineField__placeholder {
    display: none;
  }
}

.inlineField--right {
  text-align: right;

  .inlineField__value {
    padding-right: 0;
    padding-left: 15px;
  }

  .i-edit {
    left: 0;
    right: auto;
  }
}

.inlineField__placeholder {
  color: #7266ba;
}

.PowerSelect__Option {
  padding: 0 5px;
  line-height: 20px;
  font-size: 14px;
}
