.InvoicesOnboardingModal
  .modal-header
    &::after
      background-color: #96C5FF
      height: 4px;
      width: 100%;
      max-width: 24px;
      position: relative;
      margin-top: 8px;
  .title
    color: #212121;
  .section-title
    color: #212121;
    font-weight: 600;
    margin-top: 8px;
  .merchant-title
    margin-top: 2px;
    margin-bottom: 8px;

  .Modal__actions
    margin-top: 8px;
    .btn-block
      width: auto;

  .invoice-gst-form-label
    padding-left: 32px;
    .InputField 
      display: inline-block;
      width: 50%;
  hr
    margin: 10px 0;
    width: 40%;
    border-color: rgba(33,33,33,0.1);
