.ItemCreationModal
  .ItemCreationModal__cess-form
    margin-top: 16px;

    .ItemCreationModal__cess-form-cancel
      cursor: pointer;
      margin-left: 8px;

  .ItemCreationModal__hsn-radios
    .RadioButton
      margin-top: 0px;

  .RadioButton
    margin-bottom: 8px;

  .ItemCreationModal__TaxContainer
    margin-top: 8px;
    padding-top: 16px;
    position: relative;
    &::before
      display: block;
      width: 95%;
      background-color: rgba(0, 0, 0, 0.1);
      height: 1px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%)

    .Modal__actions
      margin-top: 16px;
