.loan-onboarding-content-body{
  padding: 16px 20px 0;
  .Form{
    .Input {
      margin: 8px 0 8px;
      .Input-addons{
        background: white;
      }
    }
    .Input-el--before {
      padding-left: 40px;
    }
    .Input--small {
      .Input-content {
        margin-right: 16px;
        .Input-elWrapper {
          width: 240px;
          font-size: inherit;
        }
      }
    }

    .Input.Input--large .Input-elWrapper{
      width: 496px;
    }
  }
}
