.loan-application-home {
  position: absolute
  top: 32px
  bottom: 0px
  right: 52px
  background: #fff
  z-index: 3
  padding: 28px 0px 20px;
  width: 540px
  margin-left: auto
  display: flex
  flex-direction: column
  border-top: 2px solid rgba(11, 112, 231, 0.87);

  .status-overview{
    flex: 1
    overflow: auto

    .loan-application-overview-header {
      display: flex;
      padding: 0 20px 12px;
      justify-content: space-between;

      &.onboarding-header{
        display: inherit;
        padding: 0;
        .loan-meta-wrapper {
          padding-bottom: 16px;
          margin: 0 20px;
          border-bottom: 1px solid rgba(22,47,86,0.1);
          .text-strong{
            font-weight: 600;
          }
        }
        .personal-pan-summary{
          background: rgba(22, 47, 86, 0.02);
          padding: 12px 20px 18px;
          font-size: 13px;
          .left-section{
            padding-right: 20px;
            border-right: 1px solid rgba(22, 47, 86, 0.1)
            margin-right: 18px;
          }
          .text-secondary{
            color: rgba(22, 47, 86, 0.76);
          }
          .text-strong{
            font-weight: 600;
          }
        }
      }
      .loan-meta-wrapper{
        h4{
          margin: 0 0 4px;
          color: #0D2366;
          font-size: 20px;
          font-weight: 600;
        }
      }
      .section {
        display: flex;
        flex-direction: column;
        .title.PlaceholderLoader{
          height: 18px;
          width: 220px;
          margin-bottom: 8px !important;
        }
        .description.PlaceholderLoader{
          height: 14px;
          width: 120px;
        }
      }

      .loan-application-progress-wrapper{
        margin-top: 4px;
        .progress-text-wrapper .PlaceholderLoader{
          height: 18px;
          width: 60px;
          margin-top: 2px !important;
        }
      }
    }
  }
  .footer{
    display: flex
    margin-top: 8px
    align-items: center;
    .btn-toolbar{
      flex: 1
    }
  }
}
