.loan-onboarding-content-body 
    .continue-cta
        margin-top: 40px
    .Input-label
        margin-bottom: 6px
    .no-cursor
        cursor auto
    tabbed-container
        padding: 0
    header
        border: 0
        padding: 0
        border-bottom: 1px solid #e2e8ea
        a:not(.active)
            color: rgba(22, 47, 86, 0.38)
        a.done
            color: rgba(22, 47, 86, 0.62)
            cursor: pointer
            &:before
                content: "\f00c"
                font-family: FontAwesome
                font-size: 1.2rem
                color: #1AA50E
                display: inline-block
                padding-right: 6px
                vertical-align: middle
    content
        background-color: #fff
        border: none
    .edit-btn i.i::before
        color: rgba(88, 102, 110, 0.87)
    .los-business-details-form
        .los-row
            margin-bottom: 24px
        .Input 
            margin: 0
        .Input--disabled
            opacity: 1
            background-color: rgba(22, 47, 86, 0.01)
            cursor: not-allowed
            .Input-label
                color: rgba(88, 102, 110, 0.87)
            .Input-el
                background-color: rgba(22, 47, 86, 0.01)
        .Input:not(.Input--disabled)
            .Input-el
                background-color: #fff
        .address
            position: relative
            .edit-btn
                position: absolute
                top: 30px
                right: 10px
        .gstin
            position: relative
            .edit-btn
                position: absolute
                top: 40px
                right: 20px
        .pincode
            align-items: center
            .city-state
                margin: 0 0 -20px 15px
    .los-intent-details-form
        .intent-field
            &:first-child .Input-label
                margin-bottom: -3px
            &:nth-child(2) .Input-label
                margin-bottom: 3px
    .los-personal-details-form
        .los-row
            margin-bottom: 24px
        .Input 
            margin: 0
        .form-control
            border: 1px solid #e2e2e2
            &[disabled]
                background-color: rgba(22, 47, 86, 0.01)
                border: 1px solid rgba(22, 47, 86, 0.08)
                cursor: auto
        .Input-elWrapper .Input-addons
            background: rgba(22, 47, 86, 0.06)
        .Input--disabled
            opacity: 1
            .Input-label
                color: rgba(88, 102, 110, 0.87)
            .Input-el
                background-color: rgba(22, 47, 86, 0.01)
                border: 1px solid rgba(22, 47, 86, 0.08)
        .date-of-birth
            &.error input
                border-color: #f05050
        .top-header
            .question
                margin-top: 24px
                font-size: 14px;
                line-height: 20px;
                color: rgba(88, 102, 110, 0.87)
            .radios
                margin: 10px 0
                label .Input-inlineLabel
                    font-weight: normal
                &.yes label:nth-child(1) .Input-inlineLabel, &.no label:nth-child(2) .Input-inlineLabel
                    font-weight: bold
        .pincode
            align-items: flex-end
            .city-state
                margin: 0 0 10px 15px
        .check-cta
            margin-bottom: 20px
        .info
            width: 100%
            margin: 20px 0 5px
            padding: 11px 30px 11px 0
            background-color: rgba(22, 47, 86, 0.03)
            border: 1px solid rgba(22, 47, 86, 0.12)
            align-items: center
            border-radius: 3px
            &-border
                background-color: rgba(22, 47, 86, 0.87)
                min-width: 3px
                height: 38px
                border-radius: 3px 0px 0px 3px
                transform: rotate(-180deg)
            &-text
                font-size: 13px
                line-height: 19px
                color: rgba(22, 47, 86, 0.87)
                padding-left: 11px
        h5
            font-weight: bold
            font-size: 16px
            line-height: 24px
            color: rgba(22, 47, 86, 0.87)
            margin-top: 24px
    // Styles for changes in PromoterDetailsEntity for Loan Form Revamp
    .promoter-details
        display: flex
        justify-content: center
        flex-direction: column
        .Input--disabled
            opacity: 1
            .Input-label
                color: rgba(88, 102, 110, 0.87)
            .Input-el
                background-color: rgba(22, 47, 86, 0.01)
                border: 1px solid rgba(22, 47, 86, 0.08)
                color: rgba(22, 47, 86, 0.87)
        .form-control[disabled]
            background-color: rgba(22, 47, 86, 0.01)
            border: 1px solid rgba(22, 47, 86, 0.08)
            color: rgba(22, 47, 86, 0.87)
            cursor: auto
        .Input-content
            opacity: 1 !important
        .Input-elWrapper .Input-addons
            background: rgba(22, 47, 86, 0.06)
        .intent-form
            margin: 0 auto
            padding: 0 20px
            .Input-label
                width: 160px
                text-align: right
                margin-right: 20px
            .InputGroup--inline
                display: flex
                align-items: center
            .PowerSelectMultiple_TriggerInputContainer
                display: none
            .btn
                margin-left: 180px
        .business-details-form
            .Input--disabled
                opacity: 1
                background-color: rgba(22, 47, 86, 0.01)
                cursor: not-allowed
                .Input-label
                    color: rgba(88, 102, 110, 0.87)
                    margin-bottom: 5px
                .Input-el
                    background-color: rgba(22, 47, 86, 0.01)
            .Input-content
                margin-left: 30px
            .InputGroup--inline
                margin: 24px 0
                .Input-label
                    position: relative
                    top: 10px !important
            .address
                .Input-label
                    top: -20px !important
            .pincode
                margin-bottom: 0
            .city-state
                &.error
                    position: relative
                    top: -10px
            .state-group
                margin-bottom: 0
            .btn
                margin-left: 200px
        .personal-details-form
            .loan-application-form-footer .btn
                margin-left: 180px
            .terms
                margin: 24px 0 6px 190px
            .Input--disabled
                cursor: not-allowed
            .InputGroup--inline
                margin: 24px 0
            .city-state
                margin: auto 0
            .city-state-error
                margin: 0
                .Input-label
                    top: 15px
            .dob 
                .dob-wrapper.error input
                    border-color: #f05050
                .rdt
                    width: 192px
            .gender .Input-content
                margin-left: 16px
            .pan_number
                position: relative
                margin: 20px 0
            .contact
                align-items: flex-start
                .email
                    margin: 0
        .PowerSelect--disabled
            background: rgba(22,47,86,0.01)
        &-header
            padding-left: 30px
            &-left
                justify-content: flex-start
                align-items: center
                margin-top: 24px
            &-radios
                margin: 0 0 0 20px
            &-text
                text-align: right
                font-size: 14px
                font-weight: bold
                color: rgba(22, 47, 86, 0.74)
                line-height: 18px
            .heading
                font-weight: bold
                font-size: 16px
                line-height: 22px
                color: rgba(22, 47, 86, 0.74)
                margin-left: 180px
            .info
                margin: 20px 0 20px 180px
                padding: 12px 30px 12px 0
                background-color: rgba(22, 47, 86, 0.03)
                border: 1px solid rgba(22, 47, 86, 0.12)
                align-items: center
                border-radius: 3px
                &-border
                    background-color: rgba(22, 47, 86, 0.87)
                    min-width: 3px
                    height: 38px
                    border-radius: 3px 0px 0px 3px
                    transform: rotate(-180deg)
                &-text
                    font-size: 13px
                    line-height: 19px
                    color: rgba(22, 47, 86, 0.74)
                    padding-left: 11px

.credit-need
    display: flex
    justify-content: stretch
    align-items: center

    .PowerSelect__Option--highlighted
        background-color: rgba(11, 112, 231, 0.08)
    &-select 
        width: 184px
        margin-left: .2rem
        border-top-left-radius: 0
        border-bottom-left-radius: 0
    &-desc
        margin-top: auto
        margin-bottom: 10px
        padding-left: 16px
        color: rgba(22, 47, 86, 0.45)
        line-height: 18px

.credit-need-select__Tether
    .PowerSelect__Menu
        box-shadow: 0px 3px 8px rgba(22, 47, 86, 0.16), 0px 4px 12px rgba(22, 47, 86, 0.08)
        .PowerSelect__Option
            padding: 8px 12px
            &--highlighted
                background-color: rgba(11, 112, 231, 0.08)
                &:after
                    content: "\f00c"
                    font-size: 1.2rem
                    color: #1AA50E
                    font-family: FontAwesome
                    display: inline-block
                    margin-left: 4rem
                    vertical-align: middle

.credit-use-select__Tether 
    .PowerSelect__Menu 
        border: 1px solid #528FF0
        .PowerSelect__Option
            padding: 8px 12px

.credit-use
    *, *::before, *::after {
        box-sizing: border-box
        margin: 0
    }

    .PowerSelectMultiple__SelectedOption
        margin-left: .5rem
        background-color: #E7F1FD
        border: none

    .PowerSelectMultiple__SelectedOption__Close 
        border-left: none
        color: rgba(11,112,231,0.87)
    
    &-select 
        margin-bottom: 0
        width: 349px
        &.PowerSelect--open
            margin-bottom: 170px
            &.selected-1
                margin-bottom: 130px
            &.selected-2
                margin-bottom: 95px
            &.selected-3
                margin-bottom: 55px
            &.selected-4
                margin-bottom: 30px

    .PowerSelect__Trigger--empty
        width: 100%

.promoter-content-body 
    margin-top: -25px