$slider-width = 500px

.close-secondary {
  display: none;
}

.ModalSlider__Overlay.ReactModal__Overlay {
  width: $slider-width;
  position: fixed;
  top: 51px;
  right: 0;
  margin-left: - $slider-width;
  bottom: 0;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  transform: translateX(90%);
  transition: .3s, .24s opacity;
  z-index: 5;

  @media screen and (max-width: $screen-sm-min) {
    top: 60px;
    width: 100%;
    z-index: 1030;
  }

  &.ReactModal__Overlay--after-open {
    transform: none;
  }

  &.expanded {
    @media (min-width: 1280px) {
      transform: translateX(-100%);
      .content-wrapper {
        &:first-child {
          .panel, .panel-heading {
            background-color: #FAFAFA;
          }
        }
      }
    }
  }
  .test-mode-indicator-line{
    // no need to show this indicator for d-web
    display: none;
    @media screen and (max-width: $screen-sm-min) {
      display: block;
      height: 5px;
      background: #f9d328;
      width: 100%;
      position: fixed;
      top: 60px;
      /* 
        Given this test indicator line z-index 6 to show on top 
        as the slide panel is having z-index 5 already 
      */
      z-index: 6;
    }
  }
  .close-secondary {
    left: 100%;
    display: block;
    .i-arrow-back {
      display: none;
    }
  }

  @media (max-width: 1279px) {
    .close-secondary {
      left: 0;
      margin: 3px 0 0 6px;
      .i-arrow-back {
        display: block;
      }
      .i-close {
        display: none;
      }
    }
    .content-wrapper:not(:first-child) .panel-heading {
      //padding-left: 50px;
    }
  }

  &.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(100%);
  }
}

.ModalSlider__Content, .MultiSlider__Content {
  min-height: 100%;
  transform: none;
  position: relative;

  button.close {
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 11;
    opacity: 0.5;
  }

  .rzp-error-boundary, .content-wrapper {
    position: absolute
    top: 0
    bottom: 0
    width: 100%
  }

  .content-wrapper {
    overflow: auto;
    max-width: none
    margin: 0
    min-height: 0;
    padding: 0
    background: #fff
    @media (max-width: 1279px) {
      &+.content-wrapper {
        animation: slideLeft 600ms cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
        transition: transform 600ms cubic-bezier(0.25, 0.1, 0.25, 1);

        // Add it to slide away the slider
        &.toggle-slider {
          transform: translateX(100%);
        }

        @keyframes slideLeft {
          from {left: 100%}
          to {left: 0}
        }
      }
    }
    @media (min-width: 1280px) {
      &+.content-wrapper {
        left: 100%;
      }
    }
  }

  .SliderPanel__Body {
    > .panel-body {
      margin-top: 65px;
      padding-bottom: 80px;
    }
  }
}

.MultiSlider__Content {
  button.close {
    top: 11px;
  }  

  .content-wrapper.announcement-details .panel.SliderPanel {
    padding-bottom: 70px;  
  }
}

.SliderPanel__Body {
  overflow-y: scroll;
  .empty-table-message {
    padding: 30px 50px;
  }
}

.ReactModal__Content--after-open {
  .SliderPanel .panel-heading > .btn-toolbar {
    padding-right: 35px;
  }
}
