.Modal {
  margin: 65px auto;
  padding: 0;
  border: 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  background-color: #fafafa;
  border-radius: 2px;

  .modal-header {
    padding: 24px 24px 0;
    border-bottom: 0;

    .modal-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 1em;
    }

    .close {

      margin: 0;
    }
  }

  .modal-body {
    padding: 16px 24px 24px;
  }

  .Modal__actions {
    padding-top: 8px;
  }
}

.Modal--regular {
  max-width: 625px;
  @media (max-width: 625px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.Modal--small {
  max-width: 328px;
  @media (max-width: 328px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.Modal--large {
  max-width: 756px;
  @media (max-width: 756px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.Modal--confirm {
  .Modal__actions {
    > .btn {
      width: 48%;
    }

    > .btn + .btn {
      margin-left: 4%;
    }
  }
}
