/* stylelint-disable */

.Notifications {
  position: fixed;
  top: 50px;
  transform: translate(-50%,0);
  z-index: 10000000; // Above all
  left: 50%;
  width: 35%;
  min-width: 300px;
  max-width: 450px;
  pointer-events: none;
}

.Notification {
  padding: 10px 25px 10px 20px;
  opacity: 0;
  pointer-events: none;
  margin-top: -10px;
  margin-bottom: 10px;
  transition: all 0.25s ease-in-out;
  position: relative;
  border-radius: 4px;

  .i {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
  }

  .list-unstyled {
    display: inline-block;
    margin-bottom: 0;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.Notification__show {
  opacity: 1;
  pointer-events: auto;
  margin-top: 0;
}

.Notification--success {
  background-color: #00BB55;
  color: #fff;
}
.Notification--neutral {
  background-color: #4c5a8e;
  color: #fff;
}

.Notification--error {
  background-color: #F56A6A;
  color: #fff;
}

.Notification--info {
  background-color: #2f96b4;
  color: #fff;
}
