.offline-loan-document-collection{
  margin: 16px 20px;
  .step {
    margin-bottom: 16px;
    border: 1px solid rgba(22,47,86,0.1);
    padding: 12px 0;

    .step-header{
      display: flex;
      padding: 12px 36px 0 16px;
      .icon {
        margin-right: 16px;
        height: 24px;
        width: 24px;
        padding: 2px 0;
      }
      .title-content-wrapper{
        flex: 1;
        padding-bottom: 12px;
        border-bottom: 1px solid rgba(81,89,120,0.1);
        .step-index{
          margin-bottom: 4px;
          font-size: 10px;
          font-weight: 600;
        }
        .step-instruction {
          font-weight: 600;
          color: rgba(22,47,86,0.87);
          margin: 0;
        }
      }
    }
    .content-wrapper{
      padding: 4px 0;

      .section{
        padding: 10px 0;
        color: rgba(22, 47, 86, 0.76);
        line-height: 22px;
        .content-padding{
          padding-left: 56px;

          &.highlight{
            border-left: 12px solid #d3dde752;
            padding: 0 44px
          }
        }
        .title{
          text-transform: uppercase;
          margin: 0;
          font-weight: 600;
          font-size: 10px;
          color: rgba(22,47,86,0.38);
        }

        .list-wrapper{
          margin-left: 10px;
        }
      }
    }
  }

  .actions{
    .Button--primary{
      margin: 0 0 0 12px;
    }
  }
}
