.rzp-overlay {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  z-index: 1;

  .overlay-inner {

    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;

    .overlay-content {

      display: table;
      margin: 0 auto;
    }
  }
}
