/* https://github.com/react-component/calendar */

.rc-calendar {
  box-sizing: border-box;
}
.rc-calendar * {
  box-sizing: border-box;
}
.rc-calendar-hidden {
  display: none;
}
.rc-calendar-range .rc-calendar-input-wrap {
  height: 35px;
  display: none;
}

.rc-calendar-picker .rc-calendar-input-wrap {
  text-align: right;
  padding: 8px 12px 8px;
  display: none;
}

.rc-calendar-date-input-wrap {
  display: none;
}

.rc-calendar-time-picker-panel .rc-time-picker-panel-input-wrap {
  display: none;
}

.rc-calendar-time-picker-wrap .rc-time-picker-icon {
  display: none;
}
.rc-calendar-input {
  border: 1px solid transparent;
  width: 100%;
  color: #565a5c;
  cursor: text;
  line-height: 1.5;
  outline: 0;
  height: 22px;
}
.rc-calendar-input-invalid {
  border-color: #f05050;
}
.rc-calendar-clear-btn {
  z-index: 9999;
  cursor: pointer;
  overflow: hidden;
  padding: 2px
  text-align: center;

  &:hover {
    background: #f6f6f6;
  }
}
.rc-calendar-clear-btn:after {
  content: "CLEAR";
  font-size: 10px;
  color: #f05050;
  font-weight: 600;
  transition: color 0.15s ease;
}
.rc-calendar-clear-btn:hover:after {
  color: #565a5c;
}
.rc-calendar-picker {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 1000;
  pointer-events: none;
}
.rc-calendar-picker-hidden {
  display: none;
}
.rc-calendar-picker-slide-up-enter {
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  display: block !important;
  opacity: 0;
  -webkit-animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
          animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rc-calendar-picker-slide-up-appear {
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  display: block !important;
  opacity: 0;
  -webkit-animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
          animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rc-calendar-picker-slide-up-leave {
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  display: block !important;
  opacity: 1;
  -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
          animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rc-calendar-picker-slide-up-enter.rc-calendar-picker-slide-up-enter-active.rc-calendar-picker-placement-bottomLeft,
.rc-calendar-picker-slide-up-enter.rc-calendar-picker-slide-up-enter-active.rc-calendar-picker-placement-bottomRight,
.rc-calendar-picker-slide-up-appear.rc-calendar-picker-slide-up-appear-active.rc-calendar-picker-placement-bottomLeft,
.rc-calendar-picker-slide-up-appear.rc-calendar-picker-slide-up-appear-active.rc-calendar-picker-placement-bottomRight {
  -webkit-animation-name: rcDropdownSlideUpIn;
          animation-name: rcDropdownSlideUpIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rc-calendar-picker-slide-up-enter.rc-calendar-picker-slide-up-enter-active.rc-calendar-picker-placement-topLeft,
.rc-calendar-picker-slide-up-enter.rc-calendar-picker-slide-up-enter-active.rc-calendar-picker-placement-topRight,
.rc-calendar-picker-slide-up-appear.rc-calendar-picker-slide-up-appear-active.rc-calendar-picker-placement-topLeft,
.rc-calendar-picker-slide-up-appear.rc-calendar-picker-slide-up-appear-active.rc-calendar-picker-placement-topRight {
  -webkit-animation-name: rcDropdownSlideDownIn;
          animation-name: rcDropdownSlideDownIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rc-calendar-picker-slide-up-leave.rc-calendar-picker-slide-up-leave-active.rc-calendar-picker-placement-bottomLeft,
.rc-calendar-picker-slide-up-leave.rc-calendar-picker-slide-up-leave-active.rc-calendar-picker-placement-bottomRight {
  -webkit-animation-name: rcDropdownSlideUpOut;
          animation-name: rcDropdownSlideUpOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rc-calendar-picker-slide-up-leave.rc-calendar-picker-slide-up-leave-active.rc-calendar-picker-placement-topLeft,
.rc-calendar-picker-slide-up-leave.rc-calendar-picker-slide-up-leave-active.rc-calendar-picker-placement-topRight {
  -webkit-animation-name: rcDropdownSlideDownOut;
          animation-name: rcDropdownSlideDownOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes rcDropdownSlideUpIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes rcDropdownSlideUpIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes rcDropdownSlideUpOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
@keyframes rcDropdownSlideUpOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
@-webkit-keyframes rcDropdownSlideDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes rcDropdownSlideDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes rcDropdownSlideDownOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
@keyframes rcDropdownSlideDownOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
.rc-calendar {
  position: relative;
  outline: none;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 296px;
  list-style: none;
  font-size: 12px;
  text-align: left;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
  background-clip: padding-box;
  border: 1px solid #e4e7e7;
  line-height: 1.5;

  pointer-events: all;
  margin-top: 30px;
}

.rc-calendar:after, .rc-calendar:before {
  content: '';
  display: block;
  position: absolute;
}
.rc-calendar:before {
  left: 6px;
  top: -11px;
  border-right: 6px solid transparent;
  border-bottom: 11px solid #ccc;
  border-left: 5px solid transparent;
}
.rc-calendar:after {
  left: 7px;
  top: -9px;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 4px solid transparent;
}


.rc-calendar-date-panel,
.rc-calendar-panel {
  position: relative;
  outline: none;
}
.rc-calendar-week-number {
  width: 286px;
}
.rc-calendar-week-number-cell {
  text-align: center;
}
.rc-calendar-header {
  padding: 20px 12px 0;
  height: 34px;
  line-height: 30px;
  text-align: center;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
.rc-calendar-header > a {
  font-weight: 600;
  display: inline-block;
  line-height: 34px;
  text-align: center;
}
.rc-calendar-header > a:hover {
  cursor: pointer;
  color: $primary-color;
}
.rc-calendar-header .rc-calendar-prev-month-btn {
  position: absolute;
  left: 0;
}
.rc-calendar-header .rc-calendar-prev-month-btn:after {
  content: '←';
  top: -2px;
  position: relative
  font-family: merchant-icons !important;
  font-style: normal;
  font-weight: normal !important;
}
.rc-calendar-header .rc-calendar-next-month-btn {
  position: absolute;
  right: 0;
}
.rc-calendar-header .rc-calendar-next-month-btn:after {
  content: '→';
  top: -2px;
  position: relative
  font-family: merchant-icons !important;
  font-style: normal;
  font-weight: normal !important;
}
.rc-calendar-year-select,
.rc-calendar-month-select,
.rc-calendar-day-select {
  display: inline-block;
  font-weight: 600;
  font-size: 16px
  color: #565a5c;
  padding: 0 4px;
  line-height: 34px;
}

.rc-calendar-year-select,
.rc-calendar-month-select,
.rc-calendar-day-select {
  padding: 0 8px;
  border: 1px solid #e4e4e4;
  line-height: 32px;
  border-radius: 2px;
  margin: 0 4px;
}

.rc-calendar-year-select:hover,
.rc-calendar-month-select:hover,
.rc-calendar-day-select:hover {
  cursor: pointer;
  color: $primary-color;
}


.rc-calendar-prev-year-btn, .rc-calendar-next-year-btn {
  display: none;
}

.rc-calendar-prev-month-btn,
.rc-calendar-next-month-btn {
  position: absolute;
  top: 0;
  cursor: pointer;
  color: #565a5c;
  font-size: 16px;
  display: inline-block;
}
.rc-calendar-prev-month-btn:hover,
.rc-calendar-next-month-btn:hover  {
  color: $primary-color;
}

.rc-calendar-body {
  padding: 18px 20px;
  margin-top: 8px;
}
.rc-calendar table {
  border-collapse: collapse;
  max-width: 100%;
  background-color: transparent;
  width: 100%;
}
.rc-calendar table,
.rc-calendar td,
.rc-calendar th {
  border: none;
}

.rc-calendar-table {
  border-spacing: 0;
  margin-bottom: 0;
}
.rc-calendar-column-header {
  line-height: 18px;
  padding: 6px 0;
  width: 33px;
  text-align: center;
}
.rc-calendar-column-header .rc-calendar-column-header-inner {
  display: block;
  font-weight: normal;
}
.rc-calendar-week-number-header .rc-calendar-column-header-inner {
  display: none;
}

.rc-calendar-date {
  display: block;
  color: #565a5c;
  padding: 4px 0;
  background: transparent;
  line-height: 26px;
  text-align: center;
  border: 1px solid #e4e4e4;
  margin: -1px 0 0 -1px;
}
.rc-calendar-cell:not(.rc-calendar-disabled-cell):not(.rc-calendar-selected-date) .rc-calendar-date:hover,
.rc-calendar-year-panel-year:hover,
.rc-calendar-decade-panel-decade:hover,
.rc-calendar-month-panel-cell:not(.rc-calendar-month-panel-cell-disabled):not(.rc-calendar-month-panel-selected-cell) .rc-calendar-month-panel-month:hover {
  background: rgba(82, 143, 240, 0.3);
  border: 1px solid rgba(82,143,240,0.3);
  cursor: pointer;
  position: relative;
  z-index: 4
}

.rc-calendar-today {
  z-index: 2;
  position: relative;
}
.rc-calendar-selected-date {
  z-index: 3;
  position: relative;
}

.rc-calendar-selected-date .rc-calendar-date, .rc-calendar-selected-date .rc-calendar-date:hover {
  background: $primary-color;
  border: 1px solid $primary-color;
  color: #fff;
}


.rc-calendar-today .rc-calendar-date {
  border: 1px solid $primary-color;
}
.rc-calendar-disabled-cell .rc-calendar-date {
  cursor: not-allowed;
  color: rgba(102, 102, 102, 0.2);
  border-radius: 0;
}

.rc-calendar-disabled-cell-first-of-row:not(.rc-calendar-disabled-cell) .rc-calendar-date {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.rc-calendar-disabled-cell-last-of-row:not(.rc-calendar-disabled-cell) .rc-calendar-date {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.rc-calendar-last-month-cell,
.rc-calendar-next-month-btn-day {
  opacity: 0;
  pointer-events: none
}

.rc-calendar-footer {
  display: none;
}

.rc-calendar-month-panel {
  padding-top: 20px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 10;
  position: absolute;
  outline: none;
}

.rc-calendar-last-month-cell,
.rc-calendar-next-month-btn-day {
  opacity: 0;
  pointer-events: none
}

.rc-calendar-month-panel-hidden {
  display: none;
}
.rc-calendar-month-panel-header {
  margin: 0 12px;
  height: 34px;
  line-height: 30px;
  position: relative;
  text-align: center;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
.rc-calendar-month-panel-header > a {
  font-weight: 600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  color: #565a5c;
}
.rc-calendar-month-panel-header > a:hover {
  cursor: pointer;
  color: $primary-color;
}
.rc-calendar-month-panel-prev-year-btn,
.rc-calendar-month-panel-next-year-btn {
  position: absolute;
  top: 0;
  color: #565a5c
}
.rc-calendar-month-panel-prev-year-btn,
.rc-calendar-month-panel-next-year-btn,
.rc-calendar-prev-month-btn,
.rc-calendar-next-month-btn,
.rc-calendar-month-panel-year-select {
  padding: 3px 8px 0;
  border: 1px solid #e4e4e4;
  line-height: 27px;
  border-radius: 2px;
  margin: 0 4px;
}

.rc-calendar-month-panel-year-select {
  line-height: 29px;
}

.rc-calendar-month-panel-next-year-btn:after {
  content: '→';
  top: -2px;
  position: relative
  font-family: merchant-icons !important;
  font-style: normal;
  font-weight: normal !important;

}
.rc-calendar-month-panel-prev-year-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  left: 0;
}
.rc-calendar-month-panel-prev-year-btn:after {
  content: '←';
  top: -2px;
  position: relative
  font-family: merchant-icons !important;
  font-style: normal;
  font-weight: normal !important;
}

.rc-calendar-year-panel-decade-select {
  pointer-events: none; // Disabling through CSS, since there is no option through JS in library
}

.rc-calendar-month-panel-year-select-arrow {
  display: none;
}
.rc-calendar-month-panel-next-year-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  right: 0;
}
.rc-calendar-month-panel-body {
  padding: 18px 20px;
}
.rc-calendar-month-panel-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
}
.rc-calendar-month-panel-cell {
  text-align: center;
}
.rc-calendar-month-panel-cell .rc-calendar-month-panel-month {
  display: block;
  color: #565a5c;
  padding: 8px 0;
  text-align: center;
  border: 1px solid #e4e7e7;
  margin: -1px 0 0 -1px;
  position: relative;
}

.rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month {
  background: $primary-color;
  border: 1px solid $primary-color;
  color: #fff;
}

.rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month:hover {
  background: $primary-color;
  border: 1px solid $primary-color;
}

.rc-calendar-month-panel-cell-disabled .rc-calendar-month-panel-month {
  background: #f3f3f3;
  color: #bcbcbc;
}
.rc-calendar-month-panel-cell-disabled .rc-calendar-month-panel-month:hover {
  background: #f3f3f3;
  cursor: not-allowed;
}
.rc-calendar-month-header-wrap {
  position: relative;
  height: 308px;
}
.rc-calendar-year-panel {
  padding-top: 20px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 10;
  position: absolute;
  outline: none;
}
.rc-calendar-year-panel-hidden {
  display: none;
}
.rc-calendar-year-panel-header {
  margin: 0 12px;
  height: 34px;
  line-height: 30px;
  position: relative;
  text-align: center;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
.rc-calendar-year-panel-header > a {
  font-weight: 600;
  display: inline-block;
  text-align: center;
  color: #565a5c;
  font-size: 16px;
  line-height: 34px;
}

.rc-calendar-year-panel-header > a:not(.rc-calendar-year-panel-decade-select) {
  display: none;
}

.rc-calendar-year-panel-header > a:hover {
  cursor: pointer;
  color: $primary-color;
}
.rc-calendar-year-panel-prev-decade-btn,
.rc-calendar-year-panel-next-decade-btn {
  position: absolute;
  top: 0;
}
.rc-calendar-year-panel-next-decade-btn:after {
  content: '←';
  top: -2px;
  position: relative
  font-family: merchant-icons !important;
  font-style: normal;
  font-weight: normal !important;
}
.rc-calendar-year-panel-prev-decade-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  left: 0;
}
.rc-calendar-year-panel-prev-decade-btn:after {
  content: '←';
  top: -2px;
  position: relative
  font-family: merchant-icons !important;
  font-style: normal;
  font-weight: normal !important;
}

.rc-calendar-year-panel-decade-select-arrow {
  display: none;
}
.rc-calendar-year-panel-next-decade-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  right: 0;
}
.rc-calendar-year-panel-body {
  padding: 18px 20px;
}
.rc-calendar-year-panel-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
}
.rc-calendar-year-panel-cell {
  text-align: center;
}
.rc-calendar-year-panel-year {
  display: block;
  color: #565a5c;
  padding: 8px 0;
  border: 1px solid #e4e4e4;
  background: transparent;
  text-align: center;
  margin: -1px 0 0 -1px;
}
.rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year {
  background: $primary-color;
  border: 1px solid rgba(82,143,240,0.3);
  color: #fff;
  z-index: 2;
  position: relative;
}

.rc-calendar-year-panel-last-decade-cell .rc-calendar-year-panel-year,
.rc-calendar-year-panel-next-decade-cell .rc-calendar-year-panel-year {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  color: rgba(0, 0, 0, 0.25);
}
.rc-calendar-decade-panel {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 10;
  position: absolute;
  outline: none;
}
.rc-calendar-decade-panel-hidden {
  display: none;
}
.rc-calendar-decade-panel-header {
  height: 34px;
  line-height: 34px;
  position: relative;
  text-align: center;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
.rc-calendar-decade-panel-header > a {
  font-weight: 600;
  display: inline-block;
  padding: 1px 5px;
  text-align: center;
  width: 30px;
}
.rc-calendar-decade-panel-header > a:hover {
  cursor: pointer;
  color: $primary-color;
}
.rc-calendar-decade-panel-prev-century-btn,
.rc-calendar-decade-panel-next-century-btn {
  position: absolute;
  top: 0;
}
.rc-calendar-decade-panel-next-century-btn:after {
  content: '←';
  top: -2px;
  position: relative
  font-family: merchant-icons !important;
  font-style: normal;
  font-weight: normal !important;
}
.rc-calendar-decade-panel-prev-century-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  left: 0;
}
.rc-calendar-decade-panel-prev-century-btn:after {
  content: '←';
  top: -2px;
  position: relative
  font-family: merchant-icons !important;
  font-style: normal;
  font-weight: normal !important;
}
.rc-calendar-decade-panel-next-century-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  right: 0;
}
.rc-calendar-decade-panel-body {
  padding: 18px 20px;
  position: absolute;
  bottom: 0;
  top: 42px;
}
.rc-calendar-decade-panel-table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border-collapse: separate;
}
.rc-calendar-decade-panel-cell {
  text-align: center;
}
.rc-calendar-decade-panel-decade {
  display: block;
  margin: 0 auto;
  color: #565a5c;
  height: 36px;
  padding: 0;
  background: transparent;
  line-height: 36px;
  text-align: center;
}
.rc-calendar-decade-panel-selected-cell .rc-calendar-decade-panel-decade {
  background: $primary-color;
  color: #fff;
}
.rc-calendar-decade-panel-selected-cell .rc-calendar-decade-panel-decade:hover {
  background: $primary-color;
  color: #fff;
}
.rc-calendar-decade-panel-last-century-cell .rc-calendar-decade-panel-decade,
.rc-calendar-decade-panel-next-century-cell .rc-calendar-decade-panel-decade {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  color: rgba(0, 0, 0, 0.25);
}
.rc-calendar-range {
  width: 502px;
  overflow: hidden;
}
.rc-calendar-range-part {
  width: 250px;
  position: relative;
}

.rc-calendar-range-left {
  float: left;
}

.rc-calendar-range-middle {
  position: absolute;
  margin-left: -10px;
  text-align: center;
  height: 35px;
  line-height: 35px;
}
.rc-calendar-range .rc-calendar-date-panel::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.rc-calendar-range .rc-calendar-input {
  padding: 1px 7px;
  height: 22px;
}
.rc-calendar-range .rc-calendar-body,
.rc-calendar-range .rc-calendar-decade-panel-body,
.rc-calendar-range .rc-calendar-year-panel-body,
.rc-calendar-range .rc-calendar-month-panel-body {
  border-bottom: 1px solid #e4e7e7;
}
.rc-calendar-range.rc-calendar-week-number {
  width: 574px;
}
.rc-calendar-range.rc-calendar-week-number .rc-calendar-range-part {
  width: 286px;
}

.rc-calendar-range .rc-calendar-year-panel,
.rc-calendar-range .rc-calendar-month-panel,
.rc-calendar-range .rc-calendar-decade-panel {
  top: 35px;
}
.rc-calendar-range .rc-calendar-month-panel .rc-calendar-year-panel {
  top: 0;
}
.rc-calendar-range .rc-calendar-decade-panel-table,
.rc-calendar-range .rc-calendar-year-panel-table,
.rc-calendar-range .rc-calendar-month-panel-table {
  height: 198px;
}
.rc-calendar-range .rc-calendar-in-range-cell {
  background: #ebf4f8;
  border-radius: 0;
}
.rc-calendar-range-bottom {
  text-align: right;
}
.rc-calendar-full {
  width: 275px;
}
.rc-calendar-full-header {
  padding: 5px 10px;
  text-align: center;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid #e4e7e7;
  overflow: hidden;
}
.rc-calendar-full-header-month-select,
.rc-calendar-full-header-year-select {
  width: 70px;
  float: right;
  margin-right: 5px;
}
.rc-calendar-full-header-switcher {
  float: right;
  display: inline-block;
}
.rc-calendar-full-header-switcher-normal:hover {
  border-color: $primary-color;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.rc-calendar-full-header-switcher-focus {
  border-color: $primary-color;
  background-color: $primary-color;
  color: #fff;
}
.rc-calendar-full-header-switcher > span {
  float: left;
  height: 28px;
  line-height: 24px;
  border: 1px solid #e4e7e7;
  margin: 0 12px;
  color: #565a5c;
}
.rc-calendar-full-header-switcher > span:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}
.rc-calendar-full-header-switcher > span:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
}
.rc-calendar-fullscreen {
  width: auto;
}
.rc-calendar-fullscreen .rc-calendar-full-header {
  border-bottom: none;
}
.rc-calendar-fullscreen .rc-calendar-column-header {
  text-align: right;
  padding-right: 12px;
}
.rc-calendar-fullscreen .rc-calendar-cell {
  padding: 0;
}
.rc-calendar-fullscreen .rc-calendar-cell .rc-calendar-date,
.rc-calendar-fullscreen .rc-calendar-month-panel-cell .rc-calendar-month-panel-month {
  display: block;
  height: 116px;
  width: auto;
  border-radius: 0;
  margin: 0 4px;
  border: none;
  border-top: 2px solid #eee;
  text-align: right;
  padding-right: 8px;
}
.rc-calendar-fullscreen .rc-calendar-selected-day .rc-calendar-date,
.rc-calendar-fullscreen .rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month {
  background-color: rgba(82, 143, 240, 0.3);
  border: 1px solid rgba(82,143,240,0.3);
  color: #565a5c;
}
.rc-calendar-fullscreen .rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month {
  border-top-color: $primary-color;
  color: $primary-color;
}

.Input--Calendar-content.disable-past-year .rc-calendar-year-panel-tbody > a {
  pointer-events: none;
  color: rgba(102,102,102,0.2);
}

.Input--Calendar-content.disable-past-year .rc-calendar-year-panel-tbody {
  cursor: not-allowed;
}

.Input--Calendar-content:not(.disable-past-year) .rc-calendar-year-panel-tbody td:not([title="2015"]):not([title="2016"]):not([title="2017"]):not([title="2018"]) > a {
  pointer-events: none;
  color: rgba(102,102,102,0.2);
}

.Input--Calendar-content:not(.disable-past-year) td:not([title="2015"]):not([title="2016"]):not([title="2017"]):not([title="2018"]) {
  cursor: not-allowed;
}

