.req-es-btn
  padding-right: 0

  .interpunct
    font-size: 60%
    padding-left: 2px;

.settlement-doc-btn
  padding-left: 3px;
  
@media only screen and (max-width: 500px)
  .settlement-doc-btn
    display: none