.req-es-btn {
  padding-right: 0;

  .interpunct {
    font-size: 60%;
    padding-left: 2px;
  }
}

.settlement-actions-wrapper {
  display: flex;
  align-items: center;
}

.settlement-doc-btn {
  padding-left: 0px;
  padding-right: 0px;
}

.settle-current-icon {
  font-size: 100%;
  color: #1F9C1D;

  .rzp-popover {
    font-style: normal;
  }
}

.schedule-enable-container {
  padding: 5px 0;
  .enable-settlement-btn{
    padding: 5px 4px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 500px) {
  .settlement-doc-btn {
    display: none;
  }
}

.reasons-close-modal {
  min-height: 280px;

  .modal-header {
    color: #0D2366;
  }

  .modal-body {
    input[type='radio'] {
      margin-right: 6px;
    }

    label {
      font-weight: normal;
    }
  }

  .confirm-close {
    margin: 0 20px 0 20px;
  }

  .go-back {
    margin-left: 36px;
    color: #7B8199;
    font-weight: bold;
  }

  .es-close-choices {
    padding-bottom: 3px;
    label {
      color: #515978;
    }
  }

  .action-container {
    margin-top: 6px;
    justify-content: space-around;
    padding-bottom: 24px;
  }

  .Input-textarea-container {
    justify-content: center;
  }

  .Input {
    margin-top: 10px;
  }
}

.box-left-pad10-inline {
  border-left: 1.5px solid #cfdadd;
  display: inline-block;
  padding-left: 10px;
  margin-left: 12px;
}

.scheduled-btn-act {
  padding: 5px 10px !important;
  margin-left: 10px;
}

.scheduled-enable {
  color: #528FF0;
  margin-right: 10px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.settlement-balance-amount {
  align-items: center;
  .help-content {
    margin-right: 5px;
  }
  .amount-current-balance, .amount-settlement {
    .rzp-currency, .rzp-whole, .rzp-paise {
      font-weight: bold;
    }
  }
}

.tether-element .settle-btn {
  margin-right: 0;
  margin-left: 10px;
}

.settle-now-early {
  color: white;
  padding-right: 10px;
}

.es-auto-banner {
  .es-schedule-banner-text {
    position: relative;
    top: 10px;
  }
}

.warning-settlement-confirmation {
  border-left: 2px solid #F7C515;
  background-color: rgba(247, 197, 21, 0.13);
  padding: 5px;
  margin: 10px 0 10px 0;
}

.container-scheduled-modal {

  .modal-header-success {
    padding-right: 10px;
  }

  .overflow-box {
    margin: 10px -48px 20px -48px;
    border: 1px solid rgba(173, 188, 201, 0.17);
    padding: 24px;
    box-shadow: 0px 2px 6px rgba(62, 71, 84, 0.13);
    border-radius: 2px;
    background-color: #fff;

    .schedule-desc-container {
      display: inline-block;
      width: 64%;
      float: left;
    }

    .schedule-img-container {
      position: relative;
      img {
        position: absolute;
        width: 282.06px;
        height: 198px;
        top: -68px;
        opacity: 0.6;
        clip: rect(13px, 175px, 200px, 0);
        right: -132px;
      }
    }

    .schedule-desc-list-container{
      display: flex;
      align-items: baseline;
    }

    ul.schedule-desc {
      padding-inline-start: 20px;

      li {
        padding: 5px 0;
      }
    }

    button.enable-schedule-btn {
      width: 100%;
    }

    div.schedule-header {
      font-weight: bolder;
      padding-bottom: 10px;
    }

    .Input-label {
      font-size: 16px;
      color: #515978;
      margin-bottom: 12px;
    }

    .Input-el {
      font-size: 20px;
      color: #0D2366;
    }
  }

  .border {
    border-left: 1px solid #000000;
    opacity: 0.21;
  }

  .modal-title {
    color: #0D2366;
  }

  .modal-body{
    padding-top:8px;
  }

  div {
    color: #515978;
  }

  .btn-link {
    font-weight: bold;
  }

  .footer-container {
    justify-content: space-around;
    display: flex;
  }

  .submit-btn {
    width: 100%;
  }

  .post-schedule-header {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 6px;
    display: flex;
    align-items: center;
  }

  .post-schedule-description {
    padding-bottom: 16px;
  }

  .fee-container {
    margin: 12px 0 50px;
  }

}

.onmdemand-modal {
  color: #58666E;

  .breakup {
    border-bottom: 1px solid rgba(173,188,201,0.17);
    margin-bottom: 5px;
    background-color: white;

    border:1px solid rgba(173, 188, 201, 0.17) {
      button {
        background-color: transparent;
        border: none;
      }
    }

    .rzp-whole {
      color: #515978;
    }
  }

  p {
    display: inline;
  }

  .after-deduction {
    font-size: 12px;
    padding-right: 4px;
  }

  .float-right {
    display: inline;
    float: right;
  }

  .drop-button {
    float: right;
    background-color: transparent;
    color: #528FF0;
    font-weight: bold;
    padding: 0;
    margin-right: 0px;

    .i {
      font-size: 20px;
      position: relative;
      top: 3px;
    }

    &:not(:disabled) {
      &:hover {
        background-color: transparent;
        color: #2371ec;
      }
    }
  }

  .modal-title {
    color: #0D2366;
  }

  .currency {
    height: 15px;
    font-size: 15px;
  }

  .currency-big {
    height: 15px;
    font-size: 20px;
  }

  .currency-big-1 {
    .rzp-whole{
      color: #0D2366;
      font-weight: bold;
      font-size:24px;
    }
    .rzp-paise{
      font-weight: bold;
      font-size: 18px;
    }
    .rzp-currency{
      font-size: 18px;
    }
  }

  .modal-header-success {
    padding-right: 10px;
  }

  .success-breakup {
    margin-top: -24px;
  }

  .fixed {
    font-size: 13px;
  }

  .dropdown-active, .dropdown {
    color: #7B8199;
    font-size: 13px;
    line-height: 20px;
    background-color: white;
    padding: 10px 12px;
  }

  .p-b-5 {
    padding-bottom: 5px;
  }

  .dropdown-border{
    border-top: 1px solid rgba(173, 188, 201, 0.17);
    border-bottom: 1px solid rgba(173, 188, 201, 0.17);
  }

  .dropdown-active .amount-to-settle {
    color: #515978;
  }

  .dropdown-1 {
    border-bottom: 1px solid rgba(173, 188, 201, 0.17);
    margin-top: 20px;
    padding-bottom: 16px;
  }

  .dropdown-closed {
    display: none;
  }

  .border {
    margin-top: 20px;
    border-left: 3px solid #528FF0;
    padding-left: 8px;
    margin-bottom: 20px;
  }

  .btn-link {
    font-weight: bold;
  }

  .grey-border {
    border-left: 2px solid #ADBCC9;
    margin-bottom: 16px;
    padding-left: 6px;

    .rzp-amount {
      position: absolute;
    }
  }

  .percent {
    font-size: 15px;
    font-weight: bold;
    color: #515978;
  }

  .loader {
    border: 1.2px solid #f3f3f3;
    border-top: 1.2px solid #3498db;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    animation: spin 1s linear infinite;
  }

  .overflow-box {
    margin: 18px -45px 20px -45px;
    border: 1px solid rgba(173, 188, 201, 0.17);
    padding-top: 0px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding:0px 24px 24px
    box-shadow: 0px 2px 6px rgba(62, 71, 84, 0.13);
    border-radius: 2px;
    background-color: white;

    .Input-label {
      font-size: 16px;
      color: #515978;
      margin-bottom: 6px;
    }

    .Input-el {
      font-size: 20px;
      color: #0D2366;
    }
  }

  .i-info-circle {
    color: #9fb1c7;
  }

  .close-btn, .submit-btn {
    width: 100%;
  }

  .settlement-doc-btn, .fa-circle.interpunct {
    display: none;
  }

  .help-block {
    color: #515978;
    margin: 16px 0px;
  }

  .loader {
    margin-bottom: 16px;
  }

  .error-message {
    border-left: 2px solid #f05050;
    margin: 8px 0px 16px;
    padding: 0px 8px; 
    color: #f05050;
  }

  .is-mature .is-invalid .Input-error, .is-mature.is-invalid .Input-error {
    display: none;
  }

  .modal-body {
    padding-top: 8px;
  }
}

button.bw {
  background: #f7f8fa;
  color: #66737b;
}

.primary-text {
  color: #528FF0;
}

.box {
  background-color: #ffffff;
  padding: 20px;
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
  border-radius: 10px;
}

.s-start {
  border: 4px solid rgb(81, 141, 235) !important;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  margin-bottom: 6px;
}

.s-holiday {
  width: 15px;
  border: 4px solid rgb(216, 50, 48) !important;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  margin-bottom: 6px;
}

.s-end {
  border: 4px solid rgb(87, 189, 77) !important;
  width: 15px;
  height: 15px;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 6px;
}

.s-working {
  border: 4px solid rgb(81, 141, 235) !important;
  width: 15px;
  opacity: 0.4;
  height: 15px;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 6px;
}

.clearfix {
  clear: both;
}

.s-header {
  font-size: 13px;
}

.s-border {
  position: relative;
  bottom: 15px;
  padding-top: 15px;
  border-radius: 23px;
}

.settlement-detail-row {
  display: flex;
  width: 75%;
  justify-content: space-between;
  padding: 3px 0px 0px 0px;
  color: #7C8199;
}

.settlement-sub-row {
  border-left-style: solid;
  padding-left: 10px;
  border-left-color: #C6CFD9;
  font-size: 12px;
  color: #7C8199;
}

.settlement-payment-info {
  color: #528FF0;
  width: 80%;
  display: flex;
  align-items: center;
  padding-top: 5px;

  i {
    padding-right: 5px;
    padding-top: 4px;
  }
}

.settlement-row {
  display: flex;
}

.w50 {
  width: 50%;
}

.settlements {
  .Modal--regular {
    max-width: 870px;
  }
}

.b1px {
  border: 0.1 solid;
}

.m1 {
  margin: 10px;
}

.show-more {
  color: #528ff0;
  border: 1px solid #528ff0;
  padding: 3px;
  margin-top: 12px;
  display: block;
  cursor: pointer;
  border-radius: 6px;
}

h4.settlement-heading {
  margin-bottom: 10px;
  font-weight: 700;
}

.flex {
  display: flex;
}

.btn-outline {
  background-color: #fff;
  color: #528ff0;
  box-shadow: none;
  border: 1px solid #528ff0;
}

.right-border-margin {
  margin-right: 9px;
  border-right: 1px solid #ADBCC9;
  padding-right: 9px;
  margin-bottom: 15px;
}

i.settle-now {
  float: left !important;
  margin-top: 5px;
  margin-right: 6px;
  color: #fff;
}

.emphzd {
  background: #fff;
  padding: 15px;
}

.emphzd-div {
  background: rgba(167, 196, 221, 0.32);
  color: #000;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  opacity: 0.7;
}

.settlement-alert-warning {
  padding: 13px;
  border-left: 4px solid #E4951E;
  margin-top: 10px;
}

.settlement-holiday-example {
  margin-top: 18px;
  border: 1px solid #E2E2E2;
  border-radius: 2px;
}

.settlement-default-note {
  display: flex;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}

.breakup {
  margin-top: 15px;
}

.pointer {
  cursor: pointer;
}

.holiday {
  height: 450px;
  overflow: scroll;
}

.settlement-detail-row {
  display: flex;
  width: 73%;
  justify-content: space-between;
  padding: 3px 0px 0px 0px;
  color: #7C8199;
}

.settlement-caption {
  width: 250px;
  display: inline;
  float: right;
}

.settlement-sub-row {
  border-left-style: solid;
  padding-left: 5px;
  border-left-color: #C6CFD9;
  font-size: 12px;
  color: #7C8199;
}

.settlement-payment-info {
  color: #528FF0;
  width: 80%;
  display: flex;
  align-items: center;
  padding-top: 5px;

  i {
    padding-right: 5px;
    padding-top: 4px;
  }
}

.p20 {
  padding: 20px;
}

.settlement-details-overflow-box {
  margin: 0px -62px 0 -62px;
  border: 1px solid rgba(173, 188, 201, 0.17);
  padding: 10px;
  box-shadow: 0px 2px 6px rgba(62, 71, 84, 0.13);
  border-radius: 2px;
  background-color: #fff;

  .payment-heading{
    text-align: left;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 15px;
    padding-bottom: 0;

  }
}

.bold-amount {
  .rzp-currency, .rzp-whole, .rzp-paise {
    font-weight: bold;
  }
}

.settlement-amount-row
  position relative

  .settled-amount
    position absolute
    left 0
    font-weight bold
    font-size 13px
    line-height 18px
    padding-top 7px
