.req-es-btn {
  padding-right: 0;

  .interpunct {
    font-size: 60%;
    padding-left: 2px;
  }
}

.settlement-actions-wrapper {
  display: flex;
  align-items: center;
  &.p-r-32{
    padding-right: 32px;
  }
  .flex-occupy{
    width: auto !important;
    flex: 1;
  }
}

.settlement-info-content{
  float right
  @media screen and (max-width: $screen-sm-min) {
    float none
  }
}

.settlement-doc-btn {
  padding-left: 0px;
  padding-right: 0px;
}

.settle-current-icon {
  font-size: 100%;
  color: #1F9C1D;

  .rzp-popover {
    font-style: normal;
  }
}

.Button--transparent.enable-now-btn {
  padding: 5px 4px;
  font-weight: bold;
}
// commented the code for now as we need to show the documentation in the m-web
// @media only screen and (max-width: 500px) {
//   .settlement-doc-btn {
//     display: none;
//   }
// }

.reasons-close-modal {
  min-height: 280px;

  .modal-header {
    color: #0D2366;
  }

  .modal-body {
    input[type='radio'] {
      margin-right: 6px;
    }

    label {
      font-weight: normal;
    }
  }

  .confirm-close {
    margin: 0 20px 0 20px;
  }

  .go-back {
    margin-left: 36px;
    color: #7B8199;
    font-weight: bold;
  }

  .es-close-choices {
    padding-bottom: 3px;
    label {
      color: #515978;
    }
  }

  .action-container {
    margin-top: 6px;
    justify-content: space-around;
    padding-bottom: 24px;
  }

  .Input-textarea-container {
    justify-content: center;
  }

  .Input {
    margin-top: 10px;
  }
}

.box-left-pad10-inline {
  border-left: 1.5px solid #cfdadd;
  display: inline-block;
  padding-left: 10px;
  margin-left: 12px;
  .disable-ondemand-msg{
    padding-right: 10px;
    .highlight-tooltip{
      color: #37F499
    }
  }
}

.scheduled-btn-act {
  padding: 5px 10px !important;
  margin-left: 10px;
}

.scheduled-enable {
  color: #528FF0;
  margin-right: 10px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.settlement-balance-amount {
  align-items: center;
  .help-content {
    margin-right: 5px;
  }
  .amount-current-balance, .amount-settlement {
    .rzp-currency, .rzp-whole, .rzp-paise {
      font-weight: bold;
    }
  }
}

.settle-now--button{
  display: flex;
  align-items: center  
}

.settlement-icon-thunder {
  margin-right:  7px;
}
.tether-element .settle-btn {
  margin-right: 0;
  margin-left: 10px;
}

.settle-now-early {
  color: white;
  padding-right: 10px;
}

.es-auto-banner {
  .es-schedule-banner-text {
    position: relative;
    top: 10px;
  }
}

.warning-settlement-confirmation {
  border-left: 2px solid #F7C515;
  background-color: rgba(247, 197, 21, 0.13);
  padding: 5px;
  margin: 10px 0 10px 0;
}

.container-scheduled-modal {

  .modal-header-success {
    padding-right: 10px;
  }

  .overflow-box {
    margin: 10px -48px 20px -48px;
    border: 1px solid rgba(173, 188, 201, 0.17);
    padding: 24px;
    box-shadow: 0px 2px 6px rgba(62, 71, 84, 0.13);
    border-radius: 2px;
    background-color: #fff;

    .schedule-desc-container {
      display: inline-block;
      width: 64%;
      float: left;
    }

    .schedule-img-container {
      position: relative;
      img {
        position: absolute;
        width: 282.06px;
        height: 198px;
        top: -68px;
        opacity: 0.6;
        clip: rect(13px, 175px, 200px, 0);
        right: -132px;
      }
    }

    .schedule-desc-list-container{
      display: flex;
      align-items: baseline;
    }

    ul.schedule-desc {
      padding-inline-start: 20px;

      li {
        padding: 5px 0;
      }
    }

    button.enable-schedule-btn {
      width: 100%;
    }

    div.schedule-header {
      font-weight: bolder;
      padding-bottom: 10px;
    }

    .Input-label {
      font-size: 16px;
      color: #515978;
      margin-bottom: 12px;
    }

    .Input-el {
      font-size: 20px;
      color: #0D2366;
    }
  }

  .border {
    border-left: 1px solid #000000;
    opacity: 0.21;
  }

  .modal-title {
    color: #0D2366;
  }

  .modal-body{
    padding-top:8px;
  }

  div {
    color: #515978;
  }

  .btn-link {
    font-weight: bold;
  }

  .footer-container {
    justify-content: space-around;
    display: flex;
  }

  .submit-btn {
    width: 100%;
  }

  .post-schedule-header {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 6px;
    display: flex;
    align-items: center;
  }

  .post-schedule-description {
    padding-bottom: 16px;
  }

  .fee-container {
    margin: 12px 0 50px;
  }

}

.onmdemand-modal {
  color: #58666E;

  .breakup {
    border-bottom: 1px solid rgba(173,188,201,0.17);
    margin-bottom: 5px;
    background-color: white;

    border:1px solid rgba(173, 188, 201, 0.17) {
      button {
        background-color: transparent;
        border: none;
      }
    }

    .rzp-whole {
      color: #515978;
    }
  }

  .overflow-box {
    .InputGroup {
      .input-tooltip {
        position: absolute;
        top: 50%;
        right: 10px;
      }
    }
  }

  .input-tooltip-custom:before, .input-tooltip-custom:after {
    display: block;
  }

  p {
    display: inline;
  }

  .after-deduction, .limit-warning {
    font-size: 12px;
    padding-right: 4px;
  }

  .float-right {
    display: inline;
    float: right;
  }

  .drop-button {
    float: right;
    background-color: transparent;
    color: #528FF0;
    font-weight: bold;
    padding: 0;
    margin-right: 0px;

    .i {
      font-size: 20px;
      position: relative;
      top: 3px;
    }

    &:not(:disabled) {
      &:hover {
        background-color: transparent;
        color: #2371ec;
      }
    }
  }

  .modal-title {
    color: #0D2366;
  }

  .currency {
    height: 15px;
    font-size: 15px;
  }

  .currency-big {
    height: 15px;
    font-size: 20px;
  }

  .currency-big-1 {
    .rzp-whole{
      color: #0D2366;
      font-weight: bold;
      font-size:24px;
    }
    .rzp-paise{
      font-weight: bold;
      font-size: 18px;
    }
    .rzp-currency{
      font-size: 18px;
    }
  }

  .modal-header-success {
    padding-right: 10px;
  }

  .success-breakup {
    margin-top: -24px;
  }

  .fixed {
    font-size: 13px;
  }

  .dropdown-active, .dropdown {
    color: #7B8199;
    font-size: 13px;
    line-height: 20px;
    background-color: white;
    padding: 10px 12px;
  }

  .p-b-5 {
    padding-bottom: 5px;
  }

  .dropdown-border{
    border-top: 1px solid rgba(173, 188, 201, 0.17);
    border-bottom: 1px solid rgba(173, 188, 201, 0.17);
  }

  .dropdown-active .amount-to-settle {
    color: #515978;
  }

  .dropdown-1 {
    border-bottom: 1px solid rgba(173, 188, 201, 0.17);
    margin-top: 20px;
    padding-bottom: 16px;
  }

  .dropdown-closed {
    display: none;
  }

  .border {
    margin-top: 20px;
    border-left: 3px solid #528FF0;
    padding-left: 8px;
    margin-bottom: 20px;
  }

  .btn-link {
    font-weight: bold;
  }

  .grey-border {
    border-left: 2px solid #ADBCC9;
    margin-bottom: 16px;
    padding-left: 6px;

    .rzp-amount {
      position: absolute;
    }
  }

  .percent {
    font-size: 15px;
    font-weight: bold;
    color: #515978;
  }

  .loader {
    border: 1.2px solid #f3f3f3;
    border-top: 1.2px solid #3498db;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    animation: spin 1s linear infinite;
  }

  .overflow-box {
    margin: 18px -45px 20px -45px;
    border: 1px solid rgba(173, 188, 201, 0.17);
    padding-top: 0px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding:0px 24px 24px
    box-shadow: 0px 2px 6px rgba(62, 71, 84, 0.13);
    border-radius: 2px;
    background-color: white;

    .Input-label {
      font-size: 16px;
      color: #515978;
      margin-bottom: 6px;
    }

    .Input-el {
      font-size: 20px;
      color: #0D2366;
    }
  }

  .i-info-circle {
    color: #9fb1c7;
  }

  .close-btn, .submit-btn {
    width: 100%;
  }

  .settlement-doc-btn, .fa-circle.interpunct {
    display: none;
  }

  .help-block {
    color: #515978;
    margin: 16px 0px;
  }

  .loader {
    margin-bottom: 16px;
  }

  .error-message {
    border-left: 2px solid #f05050;
    margin: 8px 0px 16px;
    padding: 0px 8px;
    color: #f05050;

    .limit-warning {
      color: #7B8199;
    }
  }

  .is-mature .is-invalid .Input-error, .is-mature.is-invalid .Input-error {
    display: none;
  }

  .modal-body {
    padding-top: 8px;
  }
}

button.bw {
  background: #f7f8fa;
  color: #66737b;
}

.primary-text {
  color: #528FF0;
}

.box {
  background-color: #ffffff;
  padding: 20px;
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
  border-radius: 10px;
}

.s-start {
  border: 4px solid rgb(81, 141, 235) !important;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  margin-bottom: 6px;
}

.s-holiday {
  width: 15px;
  border: 4px solid rgb(216, 50, 48) !important;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  margin-bottom: 6px;
}

.s-end {
  border: 4px solid rgb(87, 189, 77) !important;
  width: 15px;
  height: 15px;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 6px;
}

.s-working {
  border: 4px solid rgb(81, 141, 235) !important;
  width: 15px;
  opacity: 0.4;
  height: 15px;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 6px;
}

.clearfix {
  clear: both;
}

.s-header {
  font-size: 13px;
}

.s-border {
  position: relative;
  bottom: 15px;
  padding-top: 15px;
  border-radius: 23px;
}

.settlement-detail-row {
  display: flex;
  width: 75%;
  justify-content: space-between;
  padding: 3px 0px 0px 0px;
  color: #7C8199;
}

.settlement-sub-row {
  border-left-style: solid;
  padding-left: 10px;
  border-left-color: #C6CFD9;
  font-size: 12px;
  color: #7C8199;
}

.settlement-payment-info {
  color: #528FF0;
  width: 80%;
  display: flex;
  align-items: center;
  padding-top: 5px;

  i {
    padding-right: 5px;
    padding-top: 4px;
  }
}

.settlement-row {
  display: flex;
}

.w50 {
  width: 50%;
}

.settlements {
  .Modal--regular {
    max-width: 870px;
  }
}

.b1px {
  border: 0.1 solid;
}

.m1 {
  margin: 10px;
}

.show-more {
  color: #528ff0;
  border: 1px solid #528ff0;
  padding: 3px;
  margin-top: 12px;
  display: block;
  cursor: pointer;
  border-radius: 6px;
}

h4.settlement-heading {
  margin-bottom: 10px;
  font-weight: 700;
}

.flex {
  display: flex;
}

.btn-outline {
  background-color: #fff;
  color: #528ff0;
  box-shadow: none;
  border: 1px solid #528ff0;
}

.right-border-margin {
  margin-right: 9px;
  border-right: 1px solid #ADBCC9;
  padding-right: 9px;
  margin-bottom: 15px;
}

i.settle-now {
  float: left !important;
  margin-top: 5px;
  margin-right: 6px;
  color: #fff;
}

.emphzd {
  background: #fff;
  padding: 15px;
}

.emphzd-div {
  background: rgba(167, 196, 221, 0.32);
  color: #000;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  opacity: 0.7;
}

.settlement-alert-warning {
  padding: 13px;
  border-left: 4px solid #E4951E;
  margin-top: 10px;
}

.settlement-holiday-example {
  margin-top: 18px;
  border: 1px solid #E2E2E2;
  border-radius: 2px;
}

.settlement-default-note {
  display: flex;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}

.breakup {
  margin-top: 15px;
}

.pointer {
  cursor: pointer;
}

.holiday {
  height: 450px;
  overflow: scroll;
}

.settlement-detail-row {
  display: flex;
  width: 73%;
  justify-content: space-between;
  padding: 3px 0px 0px 0px;
  color: #7C8199;
}

.settlement-caption {
  width: 250px;
  display: inline;
  float: right;
}

.settlement-sub-row {
  border-left-style: solid;
  padding-left: 5px;
  border-left-color: #C6CFD9;
  font-size: 12px;
  color: #7C8199;
}

.settlement-payment-info {
  color: #528FF0;
  width: 80%;
  display: flex;
  align-items: center;
  padding-top: 5px;

  i {
    padding-right: 5px;
    padding-top: 4px;
  }
}

.p20 {
  padding: 20px;
}

.settlement-details-overflow-box {
  margin: 0px -62px 0 -62px;
  border: 1px solid rgba(173, 188, 201, 0.17);
  padding: 10px;
  box-shadow: 0px 2px 6px rgba(62, 71, 84, 0.13);
  border-radius: 2px;
  background-color: #fff;

  .payment-heading{
    text-align: left;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 15px;
    padding-bottom: 0;

  }
}

.settlement-btn-container {
  width: 100%;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    width: 48%;
    margin: 0 1%;
  }

  button {
    width: 100%;
  }
}

.bold-amount {
  .rzp-currency, .rzp-whole, .rzp-paise {
    font-weight: bold;
  }
}

.settlement-amount-row
  position relative

  .settled-amount
    position absolute
    left 0
    font-weight bold
    font-size 13px
    line-height 18px
    padding-top 7px

.no-transaction-banner
  display: flex
  align-items: center
  background: rgba(248, 249, 251, 0.54)
  border-radius: 4px
  padding: 50px 73.7px 38px 124px;

.no-transaction-banner__heading
  font-size: 24px
  font-weight: 900
  color: rgba(13, 35, 102, 0.5)

.no-transaction-banner--description
  font-size: 16px
  font-weight: 400
  padding-top: 15px
  padding-bottom: 22px

.no-transaction-banner--content
  flex-basis: 50%
  padding-right: 22px

.no-transaction-banner--settle-btn.Button--secondary
  border-color: #528ff0;

.no-transaction-settle-now
  margin-right: 4px;
  margin-top: -2px;

.payout-details
  display: flex
  background-color: #fff
  padding: 24px 22px 0 22px


.current-balance
  border: 1px solid rgba(88, 102, 110, 0.13)
  border-radius: 4px
  padding: 24px 16px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: 50%;
  justify-content: space-between;
  .disable-ondemand-msg
    padding-right: 10px;
    .highlight-tooltip
      color: #37F499;

.current-balance--cb-content
  margin-left: 9px;

.current-balance--right
  display: flex;

.current-balance--amount
  margin-right: 20px;
  .rzp-amount
  .rzp-whole
    font-size: 24px;
    font-weight: 900;
    color: rgba(22, 47, 86, 0.87);
  .rzp-currency, .rzp-paise
    font-size: 16px;
    font-weight: 900;
    color: rgba(22, 47, 86, 0.54);

.current-balance--left
  display: flex;

.payout-message-date
  background: #F8F9FB;
  border-radius: 4px;
  padding: 16px 20px;
  flex: 1;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

.current-balance--cb-heading
  font-weight: bold;
  font-size: 16px;
  color: rgba(22, 47, 86, 0.76);

.current-balance--cb-date
  font-size: 10px;
  color: rgba(88, 102, 110, 0.7);
  
.current-balance--settle-btn.Button
  margin-right: 0px;

.payout-message-date--heading
  font-weight: bold;
  font-size: 14px;
  color: rgba(22, 47, 86, 0.87);

.payout-message-date--description
  font-size: 12px;
  color: rgba(22, 47, 86, 0.56);

.payout-message-date--content
  margin-left: 10px;

.payout-message-date--svg-up
  position: absolute;
  right: 0px;
  top: 0px;

.payout-message-date--svg-down
  position: absolute;
  right: 0px;
  bottom: -1px;

.payout-message-date--enable-btn
  display: flex;
  align-items: center;
  margin-left: 16px;
  .Button--secondary
    width: 121px;
    border-color:#528FF0;
    border-radius: 2px;
  .Button
    padding: 6px 11px 8px 11px;

.settlenow-container
  .disable-ondemand-msg
    padding-right: 10px;
    .highlight-tooltip
      color: #37F499;

.mr-16
  margin-right: 16px;

.ml-16
  margin-left: 16px;

.mb-20
  margin-bottom: 20px;

.mb-40
  margin-bottom: 40px;

.mr-5
  margin-right: 5px;

.mr-4
  margin-right: 4px;

.mr-10
  margin-right: 10px;

.ml-8
  margin-left: 8px;

.ml-6
  margin-left: 6px;

.mb-6
  margin-bottom: 6px;

.mb-5
  margin-bottom: 5px;

.mb-8
  margin-bottom: 8px;

.instant-settlement--modal-section-heading
  margin-bottom: 12px;
  border-left: 2px solid #5CC1DE;
  padding-left: 10px;
  color: rgba(22, 47, 86, 0.87);
  font-weight: bold;
  font-size: 16px;

.instant-settlement--modal-section
  padding: 20px 20px 4px;
  .pair-group-item
    padding: 8px 0px;
  .pair-value
    .rzp-amount
      .rzp-currency, .rzp-paise
        color: rgba(88, 102, 110, 0.7);
        font-size: 12px;
        font-weight: normal;
      .rzp-whole
        color: #58666E;
        font-weight: bold;
        font-size: 14px;
  .payout-details-cta
    margin-left: 132px;
    border-color: #528ff0;
  .PlaceholderLoader
    width: 90px;
    height: 18px;

.instant-settlement-payout-detail
  padding: 20px;

.instant-settlement-payout-detail--section
  background: #FFFFFF;
  box-shadow: 2px 2px 6px rgba(22, 47, 86, 0.06);
  border-radius: 4px;
  padding: 20px;

.instant-settlement-payout-detail--breakup
  flex: 1;
  .table
    margin-bottom: 0px;

.instant-settlement-payout-detail--section-heading
  color: rgba(22, 47, 86, 0.76);
  font-weight: bold;
  font-size: 14px;

.instant-settlement-payout-detail--total-amount
  margin-right: 20px;
  width: 40%;

.instant-settlement-payout-detail--meta
  margin-top: 16px;
  padding-top: 5px;
  border-top: 1px solid rgba(22, 47, 86, 0.08);
  .pair-group-item
    .pair-label
      width: 44%;
    .pair-value
      width: 56%;

.instant-settlement-payout-detail--amount
  margin: 5px 0px 10px;
  align-items: center;
  .rzp-amount
    .rzp-whole
      font-size: 24px;
      font-weight: 900;
      color: rgba(22, 47, 86, 0.87);
    .rzp-currency, .rzp-paise
      font-size: 16px;
      font-weight: 900;
      color: rgba(22, 47, 86, 0.54);
  .PlaceholderLoader
    height: 34px;
    width: 200px;

.instant-settlement-payout-detail--requested-amount
  border-right: 1px solid rgba(22, 47, 86, 0.24);
  margin-right: 20px;
  padding-right: 20px;

.instant-settlement-payout-detail--requested-amount, .instant-settlement-payout-detail--deductions
  color: #8991ae;
  .rzp-amount
    .rzp-whole
      font-weight: bold;
      color: rgba(22, 47, 86, 0.87);
    .rzp-currency, .rzp-paise
      font-weight: bold;
  .i-info-outline
    color: rgba(138, 148, 154, 0.8);

.instant-settlement-payout-detail--breadcrumb
  display: flex;
  margin-bottom: 16px;
  align-items: center;

.instant-settlement-payout-detail--breadcrumb-settlement
  display: flex;
  align-items: center;
  .i-chevron-right
    color: rgba(88, 102, 110, 0.7);

.instant-settlement-payout-detail--breadcrumb-payout-text
  font-weight: bold;
  font-size: 16px;
  color: rgba(22, 47, 86, 0.87);

.instant-settlement-payout-detail--breadcrumb-chevron-right
  color: rgba(88, 102, 110, 0.7);

.instant-settlement-payout-detail--deductions-row
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.72);
  margin-bottom: 8px;
  font-style: normal;
  font-size: 12px;
  .rzp-amount
    .rzp-whole, .rzp-currency, .rzp-paise
      color: rgba(255, 255, 255, 0.72);

.instant-settlement-payout-detail--deductions-row-deductions
  color: #FFFFFF;
  margin-bottom: 0px;
  padding-top: 6px;
  border-top: 1px solid rgba(173, 188, 201, 0.12);
  .rzp-amount
    .rzp-whole, .rzp-currency, .rzp-paise
      color: #FFFFFF;

.instant-settlement--panel-heading
  font-size: 14px;
  color: rgba(22, 47, 86, 0.87);

.instant-settlement--panel-heading-id
  font-size: 14px;
  color: #162F56;
  font-family: Menlo;

.table-settlement-amount-settled.rzp-amount
  .rzp-whole
    color: #58666E;
    font-weight: bold;
    font-size: 14px;
  .rzp-currency, .rzp-paise
    font-weight: bold;

.i.total-settlement-info-icon.i-info-outline
  display: inline-block;
  margin-left: 8px;
  font-style: normal;
  word-break: break-word;
  color: rgba(138, 148, 154, 0.8);

.settlement-detail-toggle
  .status-label
    margin-bottom: 5px;

  .nav-link
    margin-left: 8px;

.settlements-banner-container
  .announcement-banner-container
    padding-bottom: 0px;

.ca-banner__withdraw-amount
  .rzp-currency
    font-size: 13px;
    color: rgba(86, 90, 92, 0.87);
    font-weight: normal;
  .rzp-whole
    font-size: 15px;
    color: #565A5C;
    font-weight: bold;
  .rzp-paise
    font-size: 13px;
    color: rgba(86, 90, 92, 0.67);
    font-weight: bold;

.custom-loader
  width: 100%;
  text-align: center;

  .LoaderDots
    margin: 0 auto;

.cash-advance-upsell-banner
  padding: 16px;
  background-color: #0066DE;
  background-size: cover;
  border-radius: 6px;

  .rzp-popover.rzp-tooltip
    margin-top: 50px;

  p, button
    margin-top: 16px;

  p
    display: block;
    color: rgba(255, 255, 255, 0.87);

    &:nth-of-type(1)
      display: flex;
      align-items: center;
      font-weight: bold;
      margin-top: 0;

      i
        margin-right: 5px;
        background: white;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        color: #0066DE;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;

    .rzp-amount,
    .rzp-currency,
    .rzp-whole,
    .rzp-paise
      font-weight: bold;

  button
    background: #ffffff;
    color: #0066DE;
    width: 100%;
    font-weight: bold;
