$ticketSystemCdn = 'https://cdn.razorpay.com/static/assets/ticket-system';


.support
  position: absolute
  z-index: 9999 // smooch hit area has 9998
  .notify-icon
    display: inline-block;
    position: absolute;
    background: #f05050;
    width: 20px;
    height: 20px;
    right: -6px;
    top: -5px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 11px;

.support-launcher
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 88px;
  height: 44px;
  border-radius: 100px;
  cursor: pointer;
  background-color: $sidebar-bg-color
  transform-origin: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 0 5px 4px 0 rgba(0,0,0,.26);
  .open-icon
    color: #fff
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  .support-icon
    width: 20px;
    height: 20px;
    background-image: url(assets/support_widget/help.svg);
    margin-right: 5px;
  .support-help
    font-size: 14px;
    font-weight: 700;
  &.active
    display: none
.onboarding-screen
  bottom: 60px;
  right : 30px;
.support-body
  position fixed
  background: #fff
  bottom: 20px;
  right: 40px;
  border-radius: 4px
  box-shadow: 0 5px 20px rgba(0,0,0,.16);
  overflow: hidden;
  transition: all 150ms ease-in;
  height: 0;
  width: 360px;
  &.active
    height: 640px;
    max-height: 80vh;
  .support-feedback
    overflow: hidden
    button
      display: inline-block
      width: 50%
      padding: 12px
  .support-list
    list-style: none
    padding: 0
    margin: 0
    .support-item
      display: block
      height: 60px
      padding-left: 58px
      padding-top: 10px;
      margin-top: 12px;
      cursor: pointer
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: 12px;
      box-shadow: 0px 1px 2px #152d4b33, 0px 0px 1px #152d4b33;
      border-radius: 4px;
      border: none;
      background-color: white;
      position: relative;
      color: #324664;
      font-weight: 700;
      &:hover:not(.disabled)
        background-color: #f6fcfd
      &.disabled
        pointer-events: none
        background-color: #f6f6f6
        cursor: auto
        .help-block
          color:#f05150b3
      .help-content
        color: #D4AC0F;
        cursor: auto;
        background: #d4ac0f1a;
        border-radius: 4px;
        padding: 3px 8px;
        margin-left: 6px;
        font-weight: 700;
        font-size: 11px;
      .help-block
        font-weight: 400;
      &.ticket
        background-image: url($ticketSystemCdn/icon-paper.png)
      &.callback
        background-image: url($ticketSystemCdn/icon-call.svg)
        .badge
          background: #1AAE94;
          position: relative;
          left: 4px;
          border-radius: 2px;
          top: -1px;
      &.callback.disabled
        filter: grayscale(100%)
      &.chat:not(.disabled)
        background-image: url(https://cdn.razorpay.com/static/assets/support-page/chat.svg)
      &.history:not(.disabled)
        background-image: url($ticketSystemCdn/icon-history.svg)
      &.call:not(.disabled)
        background-image: url($ticketSystemCdn/icon-support-call.svg)
      &.chat.disabled
        background-image: url(assets/support_widget/chat_disabled.svg)
      &.call.disabled
        background-image: url(assets/support_widget/call_disabled.svg)
      .i-chevron-right
        font-size: 19px;
        position: absolute;
        right: 6px;
        top: 22px;

  .notify-icon
    position: relative;
    right: 0;
    top: 0;
    width: 28px;
    border-radius: 15px;
    font-size: 12px;
    line-height: 20px

// hide hotjar feedback button
div[class$="feedback_minimized_label"]
  display: none

//@todo: to be removed after going 100% live with new ui
.support-body-old
  max-width: 450px;
  &.active
    height: 340px;
  header
    font-size: 16px
    font-weight: 600
    padding: 16px
    background-color: $sidebar-bg-color
    color: #fff
    .mob-close
      top: 5px;
      position: relative;
      font-size: 22px;
      cursor: pointer;
  .support-list
    .support-item
      height: 80px
      padding-left: 80px
      padding-top: 20px
      margin-top: 0;
      background-size: 40px;
      background-position: 20px;
      box-shadow: none;
      .help-content
        color: #A3B0B7
        cursor: auto
      &:not(:last-child)
        border-bottom: 1px solid #9e9d9d66
      &.dashboard_guide
        background-image: url(assets/support_widget/bulb.svg)
      &.chat:not(.disabled)
        background-image: url($ticketSystemCdn/icon-chat.png)

@media(max-width: 424px)
  .support-body
    width: 100%
    height: 0
    bottom: 0
    left: 0
    border: 1px solid #b3b3b34d
    &.active
      height: 100%
      max-height: 100vh;
    .support-close
      font-size: 24px;
      font-weight: bold;
      display: inline-block !important
  .support-launcher
    right: 20px;

@media(max-height: 424px)
  .support-body .support-list .support-item
    padding-top: 10px
    height: 60px

.write-to-us
  padding: 20px
  .i-close
    position: absolute;
    top: 8px;
    cursor: pointer;
    right: 5px;
  .write-to-us-heading-container
    margin:-20px -20px 20px -20px
    height: 100px;
    display: flex
    align-items:center
    justify-content:center
    background: url('assets/instant_activations/pending_background.png') top left no-repeat;
    &.write-to-us-heading
      color: #fff
      margin:20px 20px
  .write-to-us-content
    margin: 0px 0px 20px 0px
  .write-to-us-button-container
    display: flex
    justify-content: space-between
    flex-wrap: wrap;

    .btn
      height: 32px;
      width: 46%;
      padding: 0px;
      margin: 2%;
      font-size: 13px;

    &.thanks-button, &.continue-button
      border:none
      border-radius: 2px
    &.thanks-button
      color: #fff
      background-color: #528ff0
      &:hover:not(.disabled)
        background-color:#3b80ee
      margin: 0px 0px 20px 10px;
      width: 50%;
      padding-left: 37px;
    &.continue-button
      background-image: none;
      background-color:rgb(250,250,250)
      margin:0px 0px 20px 0px;

#ymDivBar
  display: none !important;

#chatDetails
  div.close-chat
    display: none !important;

#ymFrameHolder
  right: 50px !important;
  left: auto !important;


.minimize-bot
  align-items: center;
  background-color: #707c92;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  opacity: 0.7;
  position: absolute;
  right: -1px;
  top: -29px;
  transition: opacity 0.2s;
  height: 1.75rem;
  width: 2.5rem;
  padding: 11px 17px;
  padding-bottom: 15px;


.bot-close-icon
  &:before
    content: '\00d7';
    font-size: 18px;
    color: #fff;

#ym-notification
  display: none;

.overflow-hidden {
  overflow: hidden;
}