$ticketSystemCdn = 'https://cdn.razorpay.com/static/assets/ticket-system';

.support
    position: fixed
    bottom:  0
    right: 25px
    width: 340px
    z-index: 9999 // smooch hit area has 9998
    opacity: 1
    box-shadow: 0 1px 2px rgba(0,0,0,.1)
    &.hidden
      opacity: 0
  .support-notify
    background-color: #F76A69;
    padding: 0 8px;
    border-radius: 8px;
    font-size: 12px;
    color: #fff
  .support-header
    padding: 10px
    border-radius: 5px 5px 0 0;
    border: none !important;
    background-color: $sidebar-bg-color
    color: #b4b6bd
    &:focus
      background-color: $sidebar-bg-color
      color: #fff
    &:active, &:active:focus, &:hover
      background-color: $sidebar-active-color
      color: #fff
    &.notify
      background-color: $prime
      color: #fff
      &:focus
        background-color: $prime
      &:active, &:active:focus, &:hover
        background-color: $secondary-color-hover
    .support-toggle
      font-size: 16px
      margin-top: 4px
  .support-body 
    background: #fff
    transition: all .4s cubic-bezier(.62,.28,.23,.99)
    max-height: 0
    &.open
      max-height: 500px
    h4
      font-size: 16px
      font-weight: 600
      margin-bottom: 16px
      margin-top: 4px
    .support-feedback
      overflow: hidden
      button 
        display: inline-block
        width: 49%
        padding: 4px 8px
    .rzp-banner
      margin: 0
      font-size: 13px
      border: none
      .btn-link 
        cursor: pointer
    .support-list
      list-style: none
      border: 1px solid rgba(158, 157, 157, 0.4)
      padding: 0
      .support-item
        display: block
        height: 70px
        padding-left: 60px
        padding-top: 14px
        cursor: pointer
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: 10px;
        &:hover:not(.disabled)
          background-color: #f6fcfd
        &.disabled
          background-color: #f6f6f6
          cursor: auto
          .help-block
            color:rgba(240, 81, 80, 0.7)
        .help-content
          color: #A3B0B7
          cursor: auto
        &:not(:last-child)
          border-bottom: 1px solid rgba(158, 157, 157, 0.4)
        &.ticket
          background-image: url($ticketSystemCdn/icon-paper.png)
        &.chat:not(.disabled)
          background-image: url($ticketSystemCdn/icon-chat.png)
        &.call:not(.disabled)
          background-image: url($ticketSystemCdn/icon-support-call.svg)
        &.chat.disabled
          background-image: url(assets/support_widget/chat_disabled.svg)
        &.call.disabled
          background-image: url(assets/support_widget/call_disabled.svg)          

// hide hotjar feedback button
div[class$="feedback_minimized_label"]
  display: none

@media(max-width: 424px)
  .support
    width: 100%
    right: 0
    .support-header, .support-body
      width: 90%
      margin: 0 auto
    .support-body
      border: 1px solid rgba(179, 179, 179, 0.3)
    .support-feedback button
      padding: 0
