.support
  .support-header
    position: fixed
    bottom: 0
    right: 100px
    width: 390px
    padding: 10px
    z-index: 1
    border-radius: 5px 5px 0 0;
    transition: all .5s cubic-bezier(0.820, 0.085, 0.395, 0.895)
    &.open
      bottom: 250px
  


