.Tour {
  z-index: 9999;
}

.Tour--initialized {
  transition: transform 300ms ease-in-out;
}

.Tour__Overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.Tour__TargetLens {
  position: absolute;
  box-shadow: 0 0 0 9999px rgba(0,0,0,.5), 0 0 15px rgba(0,0,0,.5);
  transition: transform 300ms ease-in-out;
}

.TourStep {
  padding: 12px;
  background-color: #2E3345;
  color: #fff;
  max-width: 275px;
  border-radius: 4px;
  transition: opacity 300ms ease-in-out;

  .btn-link {
    padding: 0;
    color: rgba(255,255,255,0.7);
  }
}

.TourStep__Container .arrow,
.TourStep__Container .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.TourStep__Container .arrow {
  border-width: 11px;
}

.TourStep__Container .arrow:after {
  border-width: 10px;
  content: "";
}

.tether-element-attached-left .arrow {
  top: 50%;
  left: -11px !important;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: #2e3345;
}

.tether-element-attached-left .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #2e3345;
}

.tether-element-attached-top .arrow {
  left: 50%;
  top: -11px !important;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: #2e3345;

  &:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #2e3345;
  }
}
