/* stylelint-disable */

.datepicker-group 
  margin-left: 25px;

  .rzp-daterange-picker > div 
    height: 28px;
    // For m-web we need to have the height increased to support the border bottom
    @media screen and (max-width: $screen-sm-min) {
      height 30px
    }

  .rzp-daterange-picker > div.icon-container
    padding: 6px 5px;

   .PowerSelect 
    width: 130px; 

  .PowerSelect__TriggerLabel 
    max-width: 110px;

  .rzp-daterange-picker .DateRangePickerInput .DateInput_input
    height: 28px;
  
  .rzp-daterange-picker > div .DateRangePickerInput > div
    height: 28px;

  .rzp-daterange-picker .DateRangePickerInput .DateRangePickerInput_arrow
    line-height: 28px;

  .rzp-daterange-picker > div .DateRangePickerInput > div 
    line-height: 25px;

  .PowerSelect__TriggerLabel 
    padding: 0 8px;

  .rzp-daterange-picker > div.icon-container
    font-size: 16px;

  .PowerSelect__Clear, .PowerSelect__TriggerInputContainer, .PowerSelect__TriggerLabel, .PowerSelect__TriggerStatus, .PowerSelectMultiple__OptionsContainer
    position: relative;
    top: 3px;
    vertical-align: top;

  .PowerSelect__TriggerStatus 
    top: 10px;

  .rzp-daterange-picker > div.presets-container .PowerSelect__TriggerLabel, .rzp-daterange-picker > div.presets-container .PowerSelect__Trigger 
    height: 25px;

.transactions-content > .content-wrapper
  @media (max-width $screen-sm-min) {
    padding: 16px;
  }

@media screen and (max-width: $screen-sm-min ) {
  .DateRangePicker_picker__portal {
    .CalendarDay__selected,
    .CalendarDay__selected:active,
    .CalendarDay__selected:hover {
      background-color: $primary-color;
      border-color: $primary-color;
      color: #fff;
    }

    .CalendarDay__selected_span {
      background-color: rgba(82, 143, 240, 0.2);
      border-color: #e4e4e4;
      color: #706e77;
    }

   .CalendarDay__hovered_span, .CalendarDay__hovered_span:hover {
    background: rgba(82, 143, 240, 0.3);
    border: 1px solid #cbcce0;
    color: #706e77;
  }
  }
}


.filter-no-margin ~ .list-filter-container  {
  .list-filter-item:first-child {
    margin-left: 0;
  }
}