.datepicker-group 
  margin-left: 25px;

  .rzp-daterange-picker > div 
    height: 28px;
    // For m-web we need to have the height increased to support the border bottom
    @media screen and (max-width: $screen-sm-min) {
      height 30px
    }

  .rzp-daterange-picker > div.icon-container
    padding: 6px 5px;

   .PowerSelect 
    width: 130px; 

  .PowerSelect__TriggerLabel 
    max-width: 110px;

  .rzp-daterange-picker .DateRangePickerInput .DateInput_input
    height: 28px;
  
  .rzp-daterange-picker > div .DateRangePickerInput > div
    height: 28px;

  .rzp-daterange-picker .DateRangePickerInput .DateRangePickerInput_arrow
    line-height: 28px;

  .rzp-daterange-picker > div .DateRangePickerInput > div 
    line-height: 0px;

  .PowerSelect__TriggerLabel 
    padding: 0 8px;

  .rzp-daterange-picker > div.icon-container
    font-size: 16px;

  .PowerSelect__Clear, .PowerSelect__TriggerInputContainer, .PowerSelect__TriggerLabel, .PowerSelect__TriggerStatus, .PowerSelectMultiple__OptionsContainer
    position: relative;
    top: 3px;
    vertical-align: top;

  .PowerSelect__TriggerStatus 
    top: 10px;

  .rzp-daterange-picker > div.presets-container .PowerSelect__TriggerLabel, .rzp-daterange-picker > div.presets-container .PowerSelect__Trigger 
    height: 25px;