.Modal-container--apm-form-wrapper
  .Modal-body .Wizard .modal-body
    flex: 1

  .ownership-container
    .owner-prompt
      border-top: 1px solid #E2E2E2
      padding-top: 30px
      margin-top: 30px

      &.selected
        margin-top: 17px
        padding-top: 0
        border-top: 0

      .prompt
        font-weight: 600
        color: #58666E
        margin-bottom: 15px

      .Input
        margin-top: 15px

        .Input-content
          max-width: 84px
          margin-left: 0
