@import './animations';

// i-switch checkbox
.i-switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin: 0;
  cursor: pointer;
  background-color: #27c24c;
  border-radius: 30px;
}

.i-switch input {
  position: absolute;
  opacity: 0;
}

.i-switch input:checked + i:before {
  top: 50%;
  right: 5px;
  bottom: 50%;
  left: 50%;
  border-width: 0;
  border-radius: 5px;
}

.i-switch input:checked + i:after {
  margin-left: 16px;
}

.i-switch i:before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 30px;
  content: '';
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.i-switch i:after {
  position: absolute;
  top: 1px;
  bottom: 1px;
  width: 18px;
  background-color: #fff;
  border-radius: 50%;
  content: '';
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
}

// Tooltip
[data-tip] {
  position: relative;

  &[data-place=bottom] {
    &:before, &:after {
      bottom: auto;
      top: 100%;
      transform: translateX(-50%) translateY(-6px) scale(0.92);
      border-bottom-color: #222;
      border-top-color: transparent;
    }
  }

  &[data-place=right] {
    &:after {
      left: auto;
      right: 0;
      transform: translateY(6px) scale(0.92);
    }
  }

  &[data-place=left] {
    &:after {
      left: 0;
      transform: translateY(6px) scale(0.92);
    }
  }

  &:before, &:after {
    opacity: 0;
    transform: translateX(-50%) translateY(6px) scale(0.92);
    left: 50%;
    bottom: 100%;
    position: absolute;
    pointer-events: none;
    z-index: 1000;
    transition: 0.17s, 0.3s transform;
  }

  &:before {
    content: '';
    border: 7px solid transparent;
    border-top-color: #222;
    margin: -7px 0 -7px;
  }

  &:after {
    margin: 6px 0 6px;
    content: attr(data-tip);
    padding: 4px 12px;
    background: #222;
    border-radius: 3px;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
  }

  &:not([data-event]):hover, &[data-event=active]:active {
    &:before, &:after {
      opacity: 1;
      transform: translateX(-50%);
    }

    &[data-place=right], &[data-place=left] {
      &:after {
        transform: none;
      }
    }
  }

  &[data-event=active] {
    &:active {
      &:after, &:before {
        transition: 0s;
      }
    }

    &:after, &:before {
      transition-delay: 2s;
    }
  }
}

// Small Alert
.alert-sm {
  padding: 6px 8px;
  font-size: 12px;
}

// Required indicator in form labels
.label-required {
  position: relative;

  &::after {
    content: '*';
    position: absolute;
    top: 0;
    right: -10px;
    color: #e68686;
  }
}

// List Filter Container for search
.list-filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 -25px 15px -25px;
}

.list-filter-item {
  flex: 1;
  flex-basis: 185px;
  flex-grow: 0;
  margin-left: 25px;
  // updated the color for the search button for the list fiter section
  .btn-primary{
    background-color #2A86F3
    border-color #2A86F3
    font-weight 700
  }

  &.count {
    flex-basis: 70px;
  }

  &.btn-toolbar {
    margin-top: 25px;
    flex-basis: initial;
    // mobile specific css for the filter buttons added
    @media screen and (max-width: $screen-sm-min) {
        margin-top 5px
    }
    > .btn:first-child {
      margin-left: 0;
    }
  }
}

// Status label for transactions
.status-label {
  display: inline-block;
  min-width: 78 px;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
}

.label-pending {
  background: #E6AF5F;
}

.status-label-info-icon {
  height: 10px;
  margin-left: 2px;
}

// for lost disputes
.label-lost {
  background-color: #58666E;
}

.label-review {
  background-color: #678DEC;
}

.label-draft {
  background-color: #ccc;
  color: #fff;
}

.breadcrumb__backNav {
  padding: 0;
  background-color: transparent;
  margin-bottom: 16px;
}

.breadcrumb__backNav--heading {
  display: inline-block;
}

a.breadcrumb__backNav--link {
  color: $primary-color;
}

.custom-breadcrumb > li + li {
  padding-left: 16px;
  position: relative;
  line-height: 24px;

  &:before {
    content: '';
    display: block;
    height: 24px;
    border-left: 1px solid rgba(0, 0, 0, 0.54);
    position: absolute;
    left: 0;
    bottom: -2px;
    transform: rotate(24deg);
  }
}

.rzpCheckbox {
  margin-bottom: 8px;

  [type='checkbox'] {
    position: absolute;
    left: -9999px;

    + label {
      position: relative;
      padding-left: 25px;
      cursor: pointer;

      &::before {
        content: '';
        width: 16px;
        height: 16px;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        background-color: #fff;
        display: inline-block;
        position: absolute;
        left: 0;
      }

      &::after {
        content: '';
        display: block;
        width: 6px;
        height: 11px;
        opacity: 1;
        transition: 0.2s;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg) scale(1.5);
        margin: -19px 0px 0 -20px;
      }
    }
  }

  // Customer css for submit-form as label can have text as well
  &.submit-form {
    [type='checkbox'] {
      + label {
        padding-left: 30px;
        user-select: none;

        &::before {
          top: 3px;
        }

        &::after {
          top: 4px;
        }
      }
    }
  }

  [type='checkbox']:not(:checked) + label::after {
    opacity: 0;
  }

  [type='checkbox']:checked + label::before {
    background: $primary-color;
    border-color: $primary-color;
  }

  [type='checkbox']:checked + label::after {
    opacity: 1;
    transform: rotate(45deg);
  }

  [type='checkbox']:disabled + label {
    cursor: not-allowed;
    opacity: 0.5;
  }

  // New custom checkbox style, replace it with above when needed across dashboard.
  &.next {
    label {
      span {
        margin-left: 4px;
      }
    }
  }
}

.note {
  .rzpCheckbox [type='checkbox'] + label::after {
    margin: -17px 0px 0 -20px;
  }
}

@keyframes luminate {
  0% {
    background-color: rgba(251, 251, 157, 0.75);
  }

  75% {
    background-color: rgba(251, 251, 157, 0.5);
  }

  100% {
    background-color: transparent;
  }
}

.table > tbody > tr.luminate > td {
  animation: luminate 4s linear;
}

// Dot near the mode in header nav
.ModeIndicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}

.ModeIndicator {
  &--live {
    background-color: #27c24c;
  }

  &--inactive {
    background-color: #F47B7B;
  }
}

.dropdown-toggle.switch-modes-toggle .ModeIndicator, .dropdown-menu.switch-modes-menu .ModeIndicator {
  &--test {
    color: #FFBB00;
    margin-right: 2px;
    margin-left: -1px;
    font-size: 105%;
    top: 0px;
  }
  &--test::after {
    background: none;
  }

  &--live-icon {
    color: #1F890E;
    margin-right: 2px;
    font-size: 90%;
    top: 0px;
  }
  &--live-icon::after {
    background: none;
  }
}

.dropdown-toggle.switch-modes-toggle .test-mode-popover.rzp-popover.rzp-tooltip.show {
  top: 44px !important;
}

.test-mode-popover.rzp-popover.rzp-tooltip.show {
  width: 292px;
  z-index: 1001;
  top: 90px !important;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block-radio-group {
  .list-group-item {
    padding: 0;

    input[type='radio'] {
      display: none;
    }

    input[type='radio']:checked + label {
      background-color: #fffaea;

      .fa-check {
        color: #0b5;
      }
    }

    input[type='radio']:disabled + label {
      background: #F7F8FA;
      color: #CCC;
      cursor: not-allowed;
    }

    > label {
      display: block;
      margin: 0;
      padding: 9px 16px;
      cursor: pointer;
      transition: background-color 0.2s;
    }

    .fa-check {
      color: #f1f1f1;
      line-height: 22px;
      tranistion: 0.3s;
    }
  }
}

/* Component: common/ui//Amount.js */
.rzp-amount {
  white-space: nowrap;
  font-size: 100%;

  .rzp-currency, .rzp-paise {
    font-weight: normal;
    color: inherit;
    opacity: 0.7;
  }

  .rzp-whole {
    font-weight: normal;
  }

  .rzp-paise {
    font-size: 85.71%;
  }
}

.help-content--currency {
  // display: block // To allow the entire box to be hoverable to show currency tooltip
  .rzp-popover.rzp-tooltip, .rzp-tooltip-inner {
    width: unset;
    min-width: 152px;
    padding: 8px 16px !important;
    margin-top: 4px;
  }
}

/* End Component: common/ui//Amount.js */
/* Component: merchant/containers/TestModeBanner.js */
.TestModeBanner {
  a {
    color: #58666E;
    text-decoration: underline;
  }

  .rzp-banner {
    margin-bottom: 0;
    padding: 8px 24px;
    font-size: 12px;
    border-top: 0;
  }

  & + content {
    .header-btns {
      top: -78px;
    }
  }
}

/* End Component: merchant/containers/TestModeBanner.js */
.content-wrapper .TestModeBanner {
  margin: -24px -25px 24px;

  @media (max-width: $screen-sm-min) {
    margin: -20px -21px 24px;
  }
}

/* Component: common/ui//Banner.js */
.rzp-banner {
  display: table;
  width: 100%;
  color: #58666E;
  border-color: #DEE5E7;

  > div {
    display: table-cell;
    vertical-align: middle;

    &.rzp-banner-text {
      width: 100%;
    }

    &.rzp-banner-cta {
      padding-left: 8px;
      width: auto;
    }
  }
}

/* This banner is shown in testmode for subscription test charge attempt */
.custom-banner {
  color: #58666E;
  display: table;
  margin-top: 8px;
  position: relative;

  .btn, .info {
    display: table-cell;
    vertical-align: middle;
  }

  .btn {
    padding: 9px;
    width: 132px;
  }

  .info {
    padding-left: 16px;
  }

  &.arrow-up {
    &:after, &:before {
      content: '';
      position: absolute;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 11px solid #fcf8e3;
      top: -10px;
      left: 41%;
    }

    &:before {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 13px solid #faebcc;
      top: -12px;
      left: 41%;
      margin-left: -1px;
    }
  }
}

/* Component: common/ui//Toggler/ContentToggler.js */
div.rzp-content-toggler {
  width: 100%;

  div.less-content {
    display: table;
    cursor: pointer;
    line-height: 1.43;
    max-width: 100%;

    > div {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

/* End Component: common/ui//Toggler/ContentToggler.js */
/* Component: common/ui//Definition.js */
dl.rzp-definition {
  margin-bottom: 0;
  font-size: inherit;

  > dt {
    font-weight: normal;
    font-size: 100%;
    line-height: 1.4285714285714286;
  }

  > dd {
    font-size: 86%;
    line-height: 1.6666666666666667;
  }

  &.notes {
    > dt {
      margin-top: 8px;
    }
  }
}

/* End Component: common/ui//Definition.js */
/* Component: merchant/components/File/Upload.js */
.Dropzone {
  width: 100%;

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }

  .upload-file-heading {
    white-space: normal;
  }

  .m-t {
    margin-top: 8px;
  }

  .Dropzone-cavity {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 2px;
    border: 1px dashed $primary-color;
    font-weight: unset;
    background: rgba(82, 143, 240, 0.02);
    cursor: pointer;

    &--highlight, &:not(.Dropzone-cavity--staged):hover {
      background: #fff;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.12);
    }

    &--staged {
      border: 1px solid #DBDBDB;
      background: #fff;
      border-radius: 2px;
    }

    &--error {
      background-color: #FFF2F2;
      border-color: #FF6363;
    }

    &--disabled {
      cursor: not-allowed;
      background-color: #f8f8f8;
    }
  }

  .Dropzone-content {
    vertical-align: middle;
    font-size: 16px;
    pointer-events: none;

    .Dropzone-file-icon + .Dropzone-content-desc {
      padding-left: 4%; // To adjust with icon on left
    }

    &-desc {
      display: inline-block;
      width: 88%;
      vertical-align: middle;
    }

    &-desc--secondary {
      font-size: 14px;
    }

    input[type=file] {
      display: none;
    }

    .Dropzone-file-icon {
      display: inline-block;
      width: 12%;
      max-width: 28px;
    }

    i.pre-uploaded {
      color: #49A46F;
      vertical-align: sub;
      font-size: 16px;
      padding-right: 8px;
    }

    &.small {
      margin: 4%;
    }

    &.large {
      margin: 3%;
    }
  }
}

/* End Component: merchant/components/File/Upload.js */
/* Component: merchant/components/File/Staged */
.Dropzone-cavity--staged {
  .Dropzone-content {
    padding-right: 28px;
    pointer-events: auto;
  }

  .text-success {
    color: #00C452;
    position: relative;

    i {
      margin-right: 4px;
    }
  }

  .Dropzone-close {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 8px;
    margin-top: 2px;
    cursor: pointer;
  }

  .Loader {
    height: 3px;
    width: 100%;
    position: absolute;
    background-color: #ddd;
    overflow: hidden;
    visibility: hidden;
    margin-top: -3px;
    bottom: -1px;
    left: -1px;

    .Loader-progress {
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      background-color: #00C452;
      transform: translateX(-100%);
      transition: all 0.2s cubic-bezier(0.07, 1.09, 1, 1);
      will-change: transform;
    }
  }

  &.Dropzone-cavity--process .Loader {
    visibility: visible;
    margin-top: 0;
  }
}

/* End Component: merchant/components/File/Staged */
/* Component: common/ui//TableSlider */
.table-slider {
  margin: 20px 0;
  position: relative;

  .table-responsive {
    overflow: hidden;

    .table {
      margin: 0;
      transition: all 0.3s ease-in-out;
    }
  }

  .slider-tabs {
    display: inline-block;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    color: #5f73cf;
    cursor: pointer;
    position: absolute;
    height: 100%;

    &.right-btn {
      right: 0;
      top: 0;
    }

    &[disabled] {
      color: #d6d6d6;
    }
  }
}

/* End Component: common/ui//TableSlider */
/* Component: Infinite Loader Bar */
.bar-loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
  margin: 10px 0;
  border-radius: 2px;

  &.pending {
    &:before {
      display: block;
      position: absolute;
      content: '';
      left: -200px;
      width: 200px;
      height: 4px;
      background-color: $primary-color;
      animation: bar-loading 2s linear infinite;
    }
  }
}

@keyframes bar-loading {
  from {
    left: -200px;
    width: 30%;
  }

  50% {
    width: 30%;
  }

  70% {
    width: 70%;
  }

  80% {
    left: 50%;
  }

  95% {
    left: 120%;
  }

  to {
    left: 100%;
  }
}

/* End Component: Infinite Loader Bar */
/* Component: Infinite Loader Circle */
.spin-loader {
  display: inline-block;
  margin: 0 5px;
  height: 20px;
  width: 20px;
  animation: spin-loading 0.8s infinite linear;
  border: 2px solid $primary-color;
  border-right-color: transparent;
  border-radius: 50%;
  vertical-align: middle;
}

@keyframes spin-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Component: common/ui//Accordion */
.Accordion {
  .Accordion__item {
    margin-top: 16px;

    .Accordion__content {
      padding: 16px 8px 0;
      display: none;
    }

    .Accordion__title {
      background: #F6F6F6;
      padding: 10px;
      cursor: pointer;
      position: relative;
      font-weight: bold;

      &:hover {
        background: #efefef;
      }

      .accordion__arrow {
        display: inline-block;
        position: absolute;
        width: 24px;
        height: 12px;
        top: 50%;
        right: 5px;
        margin-top: -7px;

        &::after, &::before {
          display: block;
          position: absolute;
          top: 50%;
          width: 10px;
          height: 2px;
          background-color: #58666e;
          content: '';
          transition: transform 0.25s ease;
        }

        &::before {
          left: 4px;
          transform: rotate(45deg);
        }

        &::after {
          right: 4px;
          transform: rotate(-45deg);
        }
      }
    }

    &.danger .Accordion__title {
      border: 1px solid #f35d5d;
      background: lighten(#f35d5d, 90%);

      .accordion__arrow {
        &::after, &::before {
          background-color: #f35d5d;
        }
      }
    }

    &.primary .Accordion__title {
      border: 1px solid $primary-color;
      background: lighten($primary-color, 90%);

      .accordion__arrow {
        &::after, &::before {
          background-color: $primary-color;
        }
      }
    }

    &.open {
      .Accordion__title > .accordion__arrow::before {
        transform: rotate(-45deg);
      }

      .Accordion__title > .accordion__arrow::after {
        transform: rotate(45deg);
      }

      .Accordion__content {
        display: block;
        animation: fadein 0.25s ease-in;
      }
    }
  }
}

/* End Component */
.upload-file-batch {
  font-size: 41px;
  margin-right: 11px;
  position: relative;
  top: 11px;
}

// Common scss to make the tab scrollable for m-web 
.scrollable-tab-header{
  @media screen and (max-width: $screen-xs-max) {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    /* reference: https://lea.verou.me/2012/04/background-attachment-local/ */
    /* Shadows */ 
    /* Shadow covers for both left and right scroll */ 
    background-image: linear-gradient(to right, #FFFFFF, #FFFFFF), linear-gradient(to right, #FFFFFF, #FFFFFF), linear-gradient(to right, #0000001a, #ffffff00), linear-gradient(to left, #0000001a, #ffffff00);   
    /* Position of the shadow to the scrollable div */
    background-position: left center, right center, left center, right center;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    /* size for the shadow first is the spread in the x axis and second is y axis */
    /* Mutiple properties for both sides of the shadows */
    background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
	
	  /* Opera doesn't support this in the shorthand */
	  background-attachment: local, local, scroll, scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    a{
      min-width 20%
      text-align center
    }
  }
}

.hidden-lg {
  @media screen and (min-width: 800px) {
    display: none;
  }
}

/* 
  Common scss to make the header action section supportive for m-web
  making the primary CTA sticky to the bottom of the page
  making the links and all be a part of a div relative to just below of the tabs
*/
.tabbed-header-actions {
  @media screen and (max-width: $screen-xs-max) {
    margin -20px -20px 16px
    background-color #F8F9FB
    padding 10px
    .btn-toolbar{
      //needed to add !important to override the inline style which is coming from the library with class pull-right
      float unset !important  
    }
    .cta-container {
      position fixed
      padding 15px
      background-color white
      bottom 0
      left 0
      z-index 1
      width 100%
      display flex
      justify-content center
      box-shadow 0 4px 11px 0 #152d4b
      .btn-primary {
        background-color #2A86F3
        border-color #2A86F3
        font-weight 700
      }
    }
  }
}