// stylelint-disable no-descending-specificity
// stylelint-disable stylus/selector-type-no-unknown

tabbed-container,
.tabbed-container {
  padding: 20px;
  display: block;

  @media (max-width $screen-sm-min) {
    padding: 10px;
  }

  header {
    line-height: 50px;
    border: 1px solid #E2E8EA;
    position: relative;
    background-color: #FFF;
    padding: 0 12px 0 24px;

    & > a:not(.dropdown a),
    .header-left a:not(.dropdown a) {
      color: #555;
      border-bottom: 3px solid transparent;
      display: inline-block;
      margin: 0 16px;
      font-weight: 600;
      position: relative;
      bottom: -1px;

      &.active {
        color: $primary-color;
        border-color: $primary-color;
      }
    }

    > a:not(.dropdown a):first-child {
      margin-left: 0;
    }
  }

  footer {
    padding: 20px 15px 0;
  }

  content,
  .content {
    display: block;
    background-color: #F9FAFB;
    border: 1px solid #E2E8EA;
    border-top: 0;
  }

  content > .content-wrapper,
  .content > .content-wrapper {
    background-color: #FFF;
  }
}

tabbed-container.updated {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;

    .header-left {
      padding-left: 12px;
    }

    .header-right {
      padding-left: 16px;
      padding-right: 12px;

      &.mobile {
        background-color: #F8F9FB;
        padding: 10px;
        padding-left: 26px;
        width: 100%
      }
    }
  }
}
