tabbed-container {
  padding: 20px;
  display: block;
  @media (max-width $screen-sm-min) {
    padding: 10px;
  }

  header {
    line-height: 50px;
    border: 1px solid #E2E8EA;
    position: relative;
    background-color: #fff;
    padding: 0 12px 0 24px;

    > a:first-child {
      margin-left: 0;
    }

    a {
      color: #555;
      border-bottom: 3px solid transparent;
      display: inline-block;
      margin: 0 16px;
      font-weight: bold;
      position: relative;
      bottom: -1px;

      &.active {
        color: $primary-color;
        border-color: $primary-color;
      }
    }
  }

  footer {
    padding: 20px 15px 0;
  }

  content {
    display: block;
    background-color: #f9fafb;
    border: 1px solid #e2e8ea;
    border-top: 0;
  }

  content > .content-wrapper {
    background-color: #fff;
  }
}

tabbed-container.updated {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;

    .header-left {
      padding-left: 12px;
    }
    .header-right {
      padding-left: 16px;
      padding-right: 12px;
      &.mobile {
        background-color: #f8f9fb;
        padding: 10px;
        padding-left: 26px;
        width: 100%
      }
    }
  }
}