// stylelint-disable no-descending-specificity
@import "bootstrap/mixins/clearfix.styl";

// Only page layout styles should reside in this file.
// This will be moved under `rzp` later

$sidebar-width = 248px;
$universal-search-height = 70px;
$header-height = 51px;

a,
.btn-link {
  color: $primary-color;
}

html {
  font-size: 16px;
}

html,
body {
  background-color: #F0F3F4;
}

body {
  -webkit-font-smoothing: antialiased;

  &.noscroll {
    overflow: hidden;
  }
}

.rzp-branding-logo {
  padding: 12px 0 12px 6px;
  width: 160px;
}

.logo-header {
  margin-left: 30px;
}

.logo-footer {
  margin-left: -10px;
  margin-right: 6px;
}

*:focus {
  // stylelint-disable-next-line declaration-no-important
  outline: 0 !important;
}

.i {
  vertical-align: text-bottom;
  font-size: 110%;
  line-height: 0.8;

  &--formal {
    background-color: #FAFBFC;
    border: 1px solid #DFE1EC;
  }
}

.layout {
  position: relative;
  min-height: 94vh;
  padding-bottom: 80px;
}

.layout--fp {
  padding-bottom: 0;
}

.desktop-view {
  min-width: 854px;
}

.main-content {
  margin-left: $sidebar-width;
  margin-top: $header-height;

  @media screen and (max-width $screen-sm-min) {
    margin-left: 0;
    // if we are in the mobile and test mode to support the test banner this css is added
    &.test-mode {
      margin-top 106px
    }
  }

  .rzp-error-boundary {
    padding: 20px;
  }
}

.search-header {
  margin-top: $header-height + $universal-search-height;

  @media screen and (max-width $screen-sm-min) {
    &.test-mode {
      margin-top: $header-height + $universal-search-height + 8px;
    }
  }
}

.mobile-search-layout {
  height: 70px;
  width: 100%;
  background-color: #2E3345;
  padding: 10px 14px 20px;
}

.universal-search-desktop {
  display: inline-block;
  margin: 10px 10px 0 54px;
  position: relative;
}

.banner-container {
  .announcement-banner-container {
    padding-bottom: 0;
  }
}

.btn {
  .i + span {
    margin-left: 5px;
  }
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.font-thin {
  font-weight: 300;
}

.sidebar-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1110;
  cursor: pointer;
  background-color: rgb(46 51 68 / 0.5);
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: $sidebar-bg-color;
  width: $sidebar-width;
  z-index: 1111;

  .nav .Collapsible--body.open {
    max-height: 100%;
  }

  @media (max-width $screen-sm-min) {
    transform: translate(-100%, 0);
    transition: transform 150ms ease-in;
    will-change: transform;

    &.show-mobile-menu {
      transform: translate(0);
    }
  }

  .brand-logo {
    &::after {
      content: "";
      position: absolute;
      border: 1px solid #45495A;
      left: 20px;
      right: 20px;
    }

    > a {
      display: block;
      line-height: 50px;
      text-align: center;
      padding: 10px;

      > img {
        max-width: 100%;
        height: auto;
        display: inline-block;
      }
    }
  }

  .divider {
    margin: 5px;
    border-top: 1px solid transparent;
  }

  .divider-old {
    border-top: 2px solid #252939;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;

    @media (max-width $screen-sm-min) {
      display: none;
    }

    &::after {
      content: attr(data-label);
      font-size: 11px;
      color: #8B8E99;
    }
  }

  nav {
    position: absolute;
    top: 72px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 15px;
    padding-top: 15px;

    @media (max-width $screen-sm-min) {
      padding-bottom: 60px;
    }

    .text-warning {
      color: #FBE165;
    }

    div.activation-status-link {
      cursor: pointer;
      padding: 0;
      line-height: inherit;
      border: none;
    }

    div.activation-status {
      color: #FFF;
      padding: 12px 20px;
      background-color: #315BC2;
      margin-bottom: 15px;

      i.i-chevron-right {
        position: relative;
        display: inline-block;
        margin-right: 0;
      }

      &.not-personalised {
        i.i-chevron-right {
          top: 10px;
          left: 5px;
        }
      }

      div.activation-status-secondary {
        font-size: 80%;
        line-height: 20px;
        color: rgb(255 255 255 / 0.7);
      }

      div.activation-bar-content {
        display: table;
        font-size: 80%;
        line-height: 20px;
        margin-top: 4px;

        > div {
          display: table-cell;
          vertical-align: middle;

          // stylelint-disable-next-line max-nesting-depth
          &.activation-bar-text {
            white-space: nowrap;
            width: 1%;
            padding-right: 8px;
          }

          // stylelint-disable-next-line max-nesting-depth
          &.activation-bar {
            // stylelint-disable-next-line max-nesting-depth
            div.progress {
              width: 100%;
              height: 6px;
              margin-bottom: 0;
              border-radius: 4px;
              background-color: #2B3972;

              // stylelint-disable-next-line max-nesting-depth
              div.progress-bar {
                background-color: #FFF;
                border-radius: 4px;
              }
            }
          }
        }
      }
    }
  }

  .nav {
    .nav-group.fux-enabled {
      .NavLinkGroup--active {
        .Collapsible--title {
          background-color: #375CBB;
          color: #FFF;
        }

        .NavLink.active {
          background: #161922;
        }
      }

      .NavLinkGroup--title {
        color: #FFF;
        font-weight: 600;
      }
    }

    .NavLinkGroup {
      margin-bottom: 20px

      .Collapsible {
        &--title {
          // stylelint-disable-next-line max-nesting-depth
          &:hover {
            background-color: #32374A;
          }

          // stylelint-disable-next-line max-nesting-depth
          & > i {
            line-height: 40px
          }
        }

        &--body.open {
          transition-delay: 200ms
          transition-timing-function: ease-out
        }
      }

      &--active {
        .Collapsible {
          // stylelint-disable-next-line max-nesting-depth
          &--title {
            background-color: #32374A;
          }
        }
      }

      &--title {
        font-size: 16px
      }

      &:first-child {
        .Collapsible--body.open {
          transition-delay: 400ms
        }
      }
    }

    .NavLink {
      display: block
    }

    .NavLinkGroup--title,
    .NavLink {
      background-color: transparent;
      border-left: 4px solid transparent;
      color: #B4B6BD;
      line-height: 40px;
      padding: 0 15px;

      @media (max-width $screen-sm-min) {
        white-space: nowrap;
      }

      .badge {
        margin-top: 13px;
        font-size: 10px;
        letter-spacing: 0.5px;
        border-radius: 2px;
        text-transform: uppercase;
        padding: 3px 4px;
      }

      .badge.coming-soon-badge {
        border-radius: 10px
      }

      .i,
      .fa,
      img {
        margin-right: 10px;
        width: 16px;
        text-align: center;
      }

      .i-rtb_new {
        margin-right: 0;
        vertical-align: bottom;
      }

      &:hover,
      &:focus {
        color #555
      }

      &.active {
        border-color: $primary-color;
        color: #FFF;
        background-color: #252939;

        &:hover {
          color #FFF
        }
      }

      .spin-loader {
        margin-top: 10px
      }
    }

    .NavLinkGroup--title {
      &:hover {
        color #B4B6BD
      }
    }
  }

  .bg-primary-fuse {
    background-color: #444A60;
    color: rgb(255 255 255 / 0.8);
  }
}

.navbar-fixed-top {
  margin-left: 200px;
  margin-bottom: 0;
  border-bottom: 0;
  background-color: #FFF;
  box-shadow: 0 2px #0000000D, 0 1px 0 #0000000D;

  @media screen and (max-width $screen-sm-min) {
    margin-left: 0;
  }

  .navbar-container {
    @media screen and (max-width $screen-sm-min) {
      margin 0 5px
      height 60px
    }
  }
}

.search-nav-box {
  box-shadow: none;
  margin-bottom: -1px;
}

.navbar-default .navbar-nav
  .dropdown > a.dropdown__trigger
    display: inline-block
    color: #777
    cursor: pointer
    padding: 15px

    &:hover
      text-decoration: none

    &.dropdown-toggle--large-icon
      padding: 15px 15px 12px

    @media screen and (max-width $screen-sm-min)
      padding: 15px 10px

  > li.offers-for-you
    margin-left: 15px
    top: 2px

    > a
      display: flex
      color: #2B83EA
      font-weight: 700

      .lottie-wrapper
        position: absolute
        width: 23%
        top: 7px
        left: -17px

      &:hover
        &::after
          border-radius: 5px
          height: 33px
          width: 141px
          position: absolute
          content: ""
          left: -22px
          top: 8px
          z-index: -1
          background-color: #3987F017

.pagefooter {
  position: absolute;
  bottom: 35px;
  padding: 10px 20px;
  font-size: 12px;
  color: #8F96B3;
  margin-left: 235px;

  @media (max-width $screen-sm-min) {
    margin-left: 0;
  }

  a {
    color: #8F96B3;
  }
}

.dropdown--active > .dropdown__content > .dropdown-menu {
  display: block;
}

.react-root {
  // stylelint-disable-next-line selector-pseudo-element-no-unknown
  ::input-placeholder { // WebKit, Blink, Edge
    color: #AAA;
  }

  :placeholder { // Mozilla Firefox 4 to 18
    color: #AAA;
  }

  ::placeholder { // Mozilla Firefox 19+
    color: #AAA;
  }

  // stylelint-disable-next-line selector-pseudo-class-no-unknown
  :input-placeholder { // Internet Explorer 10-11
    color: #AAA;
  }

  h3,
  h2 {
    margin: 0;
  }

  h3 {
    font-weight: bold;
    font-size: 20px;
  }

  .alert {
    > ul > li {
      line-height: 2;
    }
  }

  input[type="color"] {
    padding: 0 3px;
  }
}

.content-wrapper {
  padding: 24px;
  position: relative;

  // General Input styles (new UI Component)

  // Input pairs inside details view (new UI Component)
  .Input--pair {
    .Input-elWrapper {
      font-size: inherit
    }

    textarea.Input-el {
      height: 36px
    }
  }

  @media (max-width $screen-sm-min) {
    padding: 20px;
  }
}

.content-sm {
  max-width: 800px;
  margin: auto;
  min-height: 300px;
  background-color: #FFF;
}

.content-lg {
  max-width: 800px;
  margin: auto;
  min-height: 1050px;
  background-color: #FFF;
}

// For showing any message if data and loader not present on dual view
.no-data-message {
  position: relative;
  width: 100%;
  text-align: center;
  top: 200px;
}

.main-content .multi-content {
  font-size: 0;
  max-width: 1200px;
  margin: 90px 16px;
  background: #FFF;
  border: 1px solid #EEE
  position: relative;

  &::before {
    z-index: 1;
    content: "";
    border-left: 1px solid #EAEFF0;
    height: 100%;
    top: 0;
    position: absolute;
    left: 50%;

    @media (max-width 1000px) {
      content: none;
    }
  }

  // Empty content exists only for standalone views
  .empty-content {
    position: relative;
  }

  .empty-content::before,
  .content-sm:only-of-type::before {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 200px;
    content: "Click on an invoice to view its details here."
  }

  .content-sm {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    width: 50%;

    @media (max-width 1000px) {
      width: 100%
    }

    &:only-of-type::before {
      left: 100%;
    }
  }
}

// React Modal Style Overrides

body.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Content h4 {
  margin: 0;
}

.ReactModal__Content {
  transition: transform 300ms ease-in-out;
  transform: translateY(-15%);

  &--after-open {
    transform: translateY(0);
  }

  &--before-close {
    transform: translateY(-15%);
  }
}

.ReactModalPortal > * {
  // When the modal is closed, overlay div has no css class
  // This selector should be overridden by the `&--after-open` class below
  opacity: 0;
}

.ReactModal__Overlay {
  transition: opacity 250ms ease-in-out;
  opacity: 0;

  &--after-open {
    opacity: 1;
  }

  &--before-close {
    opacity: 0;
  }
}

.Modal .modal-body > .alert-dismissable {
  margin-left: -24px;
  margin-right: -24px;
}

.Modal {
  .form-group > label {
    font-weight: bold;
  }
}

// react-dates style overrides

.SingleDatePicker {
  display: block;
}

.SingleDatePicker_picker {
  margin-top: -25px;

  .CalendarDay__blocked_calendar {
    background-color: rgb(0 0 0 / 0.05);
    border-color: #E4E7E7;
  }

  .CalendarMonth_caption {
    margin-bottom: 10px;
  }

  .CalendarDay__selected {
    border-color: $primary-color;
    background-color: $primary-color;
  }
}

.SingleDatePickerInput {
  border-color: #CFDADD;
  width: 100%;

  .DateInput {
    height: 32px;
  }

  .DateInput_fang {
    margin-top: -25px;
  }

  .DateInput_input__focused {
    border-bottom: 0;
  }

  .DateInput_input__disabled {
    font-style: normal;
  }

  .DateInput_input {
    border-bottom: 0;
    font-weight: 400;
    color: #757575;
    font-size: inherit;
    padding: 1px;
    padding-left: 8px;
    height: 100%;
  }
}

.SingleDatePicker__tether--show {
  // stylelint-disable-next-line declaration-no-important
  top: -11px !important;
}

.SingleDatePicker__picker,
.DateRangePicker__picker {
  top: 45px;
}

.transfers-onhold-datepicker {
  .SingleDatePicker {
    .DateInput--with-caret::before,
    .DateInput--with-caret::after {
      border: 10px solid transparent;
      z-index: 3;
    }

    .DateInput--with-caret::before {
      top: -12px;
      border-top-color: rgb(0 0 0 / 0.1);
      border-bottom: 0;
    }

    .DateInput--with-caret::after {
      top: -13px;
      border-top-color: #FFF;
      border-bottom: 0;
    }
  }

  .SingleDatePicker__picker {
    top: auto;
    bottom: 46px;
    z-index: 2;
  }
}

.SingleDatePicker__picker.SingleDatePicker__picker--open-up {
  top: auto;
  bottom: 58px;
  z-index: 2;
}

.DateInput--open-up.DateInput--with-caret::after {
  z-index: 3;
}

.DateInput__input {
  cursor: pointer;
}

.DateInput {
  font-weight: inherit;
  font-size: 14px;
  padding: 0;
}

.DateInput--disabled {
  background-color: #EEE;
}

.DateInput__display-text {
  color: #AAA;
  font-size: 14px;
}

.SingleDatePickerInput__clear-date {
  margin: 0;
  padding: 0 8px;

  svg {
    fill: #CCC;
  }
}

.SingleDatePickerInput__clear-date--hover,
.SingleDatePickerInput__clear-date:focus {
  background-color: transparent;
  border-radius: 0;

  svg {
    fill: #666;
  }
}

.DateInput__display-text--disabled {
  font-style: normal;
}

.DateInput__display-text--focused {
  background-color: #FFF;
  border-color: inherit;
  color: inherit;
}

.DateInput__display-text--has-input {
  color: #555;
}

.DateInput--with-caret::before {
  top: 34px;
}

.DateInput--with-caret::after {
  top: 35px;
}

.CalendarDay--after-hovered-start,
.CalendarDay--hovered-span,
.CalendarDay--selected-span {
  background-color: rgb(82 143 240 / 0.2);
  border-color: #E4E4E4;
  color: #706E77;
}

.CalendarDay--selected-span.CalendarDay--hovered,
.CalendarDay--selected-span:active {
  background-color: #D2CDF0;
  border-color: #CBCCE0;
}

.CalendarDay--selected,
.CalendarDay--selected-end,
.CalendarDay--selected-start,
.CalendarDay--selected-end:active,
.CalendarDay--selected-start:active,
.CalendarDay--selected:active {
  background-color: $primary-color;
  border-color: $primary-color;
  color: #FFF;
}

.DateRangePicker__picker--valid-date-hovered .CalendarMonth__day--selected-start,
.DateRangePicker__picker--valid-date-hovered .CalendarMonth__day--selected-end,
.CalendarMonth__day--selected-start,
.CalendarMonth__day--selected-end,
.CalendarMonth__day--selected {
  background-color: #23B7E5;
  border-color: #23B7E5;
}

.tether-element {
  z-index: 1;

  &.PowerSelect__Tether {
    // stylelint-disable-next-line declaration-no-important
    z-index: 9999 !important;
  }
}

// Add class `ps-in-modal` to all PowerSelect elems that would be within a modal.
.ps-in-modal,
.ps-in-modal__Tether,
.ps-in-modal__Menu {
  z-index: 100000;
}

// End of third party style overrides

.page-spinner-container {
  display: flex;
  height: 350px;

  .spinner {
    margin: auto;
  }
}

.modal-body .page-spinner-container {
  height: 150px;
}

.quick-create {
  padding: 6px 8px;
  border: 1px solid #F0F0F0;
  background-color: #FFF;
  color: $primary-color;
  cursor: pointer;
  font-size: 14px;
}

.row-action > .btn-group,
.row-action.btn-group {
  visibility: hidden;
}

tr:hover .row-action > .btn-group,
tr:hover .row-action.btn-group {
  visibility: visible;
}

.panel-detail-container .text-warning {
  color: #D8B617;
}

.pair-group-item {
  width: 100%;
  padding: 8px;
  margin-bottom: -1px;
  position: relative;

  &:not(.description) {
    clearfix()
  }

  &.description {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
  }

  .pair-label,
  .pair-value,
  .pair-separator {
    vertical-align: top;
    float: left;
  }

  .pair-label {
    width: 39%;
    color: #8991AE;
    padding: 0; // to override col- padding
  }

  .custom-item {
    width: 100%;

    .group-items {
      line-height: 20px;
      font-size: 12px;

      button,
      div {
        margin-top: 8px;
      }
    }
  }

  .pair-value {
    position: relative
    width: 60%;
    padding-left: 8px;
    word-break: break-word;

    > span {
      vertical-align: top;
    }

    > div {
      line-height: 20px;
    }

    // check icon looks mis-aligned without negative margin
    > .i {
      margin-left: -3px;
    }

    a .i {
      margin-left: 8px;
      vertical-align: middle;
      font-size: 100%;
    }

    textarea {
      resize: vertical;
    }

    .full-width-item {
      width: 168%;
      margin-left: -68%;
    }

    // For nested values
    .table-responsive {
      margin-top: 8px;

      .pair-list-item {
        margin-bottom: 8px;

        .item-label {
          font-weight: bold;
          margin: 0;
          text-transform: capitalize;
        }

        .item-label,
        .item-value {
          line-height: 24px;
        }
      }
    }

    .Input {
      margin-top: 0
    }
  }
}

.primary-link {
  color: $primary-color;
  background-color: transparent;
  border: none;
  padding: 0;
  word-break: break-word;
  display: inline-block;
}

.list-table {
  padding: 8px;
  margin-top: 8px;
  padding-top: 24px;
  border-top: 1px solid #E2E8EA;

  .list-label {
    color: #58666E;
  }
}

.details-row-container {
  .list-group-item {
    > span:first-child {
      margin-right: 20px;
    }

    .table > tbody > tr > td.empty-table {
      padding: 20px;
      border-top: 0;
    }

    &:not(.no-flex) {
      display: flex;
      justify-content: space-between;
    }

    .list-group,
    .table {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }

  .Input--Currency + .Input--small .Input-elWrapper {
    width: 228px
  }
}

.form-horizontal .control-label.label-required::after {
  right: 7px;
  top: 7px;
}

.btn-group > .tooltip-wrapper {
  display: inline-block;
}

.ModalSlider__Content,
.MultiSlider__Content {
  .txn-details {
    .panel-heading {
      position: fixed;
      z-index: 10;
      width: 500px // as the slide pannel is of fixed 500px for D-web

      .btn-toolbar {
        padding-top: 20px;
      }
    }
  }
}

.txn-details {
  > .panel {
    border: none;

    > .panel-heading {
      background-color: #FFF;
      line-height: 64px;
      vertical-align: middle;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 18px;

      @media screen and (max-width $screen-sm-min) {
        width: 100%;
      }

      > .i {
        padding: 4px 4px 0;
      }

      .i + strong {
        margin-left: 8px;

        @media screen and (max-width $screen-sm-min) {
          font-size: 14px;
          position: relative;
          top: -3px;
          margin-left: 5px;
        }
      }

      > .close {
        display: none;
      }

      .Button {
        font-size: 14px

        &:last-child {
          margin-right: 30px
        }
      }
    }
  }
}

.ModalSlider__Content {
  .panel > .panel-heading > .close {
    display: block;
  }
}

.panel-heading > .btn-toolbar {
  margin-top: -5px;
}

.PowerSelect {
  border-color: #E2E2E2

  &:hover {
    border-color: #C1C1C1
  }
}

.SwitchMerchantDropdown {
  .PowerSelect {
    border: 0;
    width: 145px;
  }

  .PowerSelect__Trigger {
    height: auto
    padding: 10px 8px 8px;
  }

  .PowerSelect__TriggerStatus {
    padding-left: 0;

    &::before {
      border-top-color: #777;
    }
  }

  .PowerSelect__TriggerLabel {
    padding-right: 8px;
  }

  .PowerSelect__Placeholder {
    color: #777;
  }
}

.SwitchMerchantDropdown__option {
  width: 100%;
  padding: 6px 12px;
  display: inline-block;
  color: #777;

  .i-check {
    margin-top: 2px;
    margin-left: 5px;
  }
}

.switch-merchant__Tether {
  z-index: 4;
  // stylelint-disable-next-line declaration-no-important
  left: -117px !important; // made important as tether element is taking default left from PowerSelect__Tether
}

.switch-merchant__Menu {
  width: 250px;

  .help-content {
    width: 100%;
    display: block;
    font-size: 14px;

    .text--secondary {
      opacity: 0.6;
      margin-top: 4px;
    }
  }

  .SwitchMerchantDropdown__option {
    overflow-wrap: break-word;
  }

  .rzp-popover-body {
    // stylelint-disable-next-line declaration-no-important
    font-size: 14px !important;

    > div {
      line-height: 20px;
    }
  }

  .rzp-popover.rzp-tooltip {
    width: 236px;
  }
}

#accounts-list {
  .help-content {
    font-size: inherit;
  }

  .rzp-popover-body {
    overflow: auto;
    font-size: 13px;
    line-height: 20px;
  }
}

.accounts-edit-new {
  .help-content {
    display: block;
  }

  .special-chars {
    color: #000;
  }

  .rzpCheckbox {
    &:first-child {
      margin-top: 36px;
    }

    label {
      font-weight: 400;

      span {
        top: -2px;
        position: relative;
        font-size: 14px;
      }
    }
  }
}

.detail-row {
  margin-bottom: 12px;
  padding-left: 5px;

  > label {
    font-weight: normal;
    color: #999;

    &::after {
      content: ":";
      position: absolute;
      right: 0;
      color: #CCC;
    }
  }
}

.ProfileDropdown {
  min-width: 300px;
  padding: 0;
  line-height: 1.8;

  .merchant-details-container {
    .rzp-group {
      width: 100%;

      .rzp-group-item {
        width: auto;
        padding: 0;
        border: none;

        &:last-child {
          text-align: right;
        }
      }
    }
  }

  .media {
    margin-top: 0;
    padding: 12px;

    + .media {
      border-top: 1px solid #EEE;
    }
  }

  .media-left {
    vertical-align: middle;
  }

  .media-action {
    cursor: pointer;

    &:hover {
      background-color: #F7F8FA;
    }

    @media screen and (max-width $screen-sm-min) {
      &.live-go {
        border-left: 4px solid #1F890E;
      }

      &.test-go {
        border-left: 4px solid #F9D328;
      }
    }
  }

  .media-object {
    width: 40px;
    text-align: center;
  }

  .merchantname {
    font-size: 16px;
    font-weight: bold;
  }

  .rtb-text {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #0D2462;
    display: flex;
    align-items: center;

    &::after {
      content: " ";
      background: url("https://cdn.razorpay.com/static/assets/trustedbadge/rtb-live.svg") no-repeat center;
      height: 17px;
      width: 15px;
      display: inline-block;
      background-size: contain;
      margin-left: 4px;
    }
  }

  .i-business,
  .i-account {
    font-size: 40px;
    color: #DADADA;
  }

  .i-help,
  .i-tour,
  .i-undo {
    font-size: 20px;
  }

  .razorpayx-popover {
    // stylelint-disable-next-line declaration-no-important
    top: 120px !important
  }
}

.support-request-dropdown-trigger {
  position: relative;
  top: 5px;
  padding: 6px 10px;
  background: rgb(209 45 45 / 0.1);
  border-radius: 30px;
  color: #D12D2D;

  .caret {
    color: #D12D2D;
    position: relative;
    top: -1px;
  }

  img {
    position: relative;
    top: -1px;
  }
}

.support-dropdown {
  width: 448px;
  padding-bottom: 0;

  .support-dropdwon-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #162F56DE;
    padding-left: 24px;
    padding-top: 10px;
  }

  .support-tickets-wrapper {
    max-height: 350px;
    overflow: scroll;

    .support-ticket {
      margin-top: 16px;
      padding: 16px;
      background: #FFF;
      text-align: left;
      border: 1px solid #E4E4E4;
      border-radius: 3px;
      // stylelint-disable-next-line declaration-block-no-shorthand-property-overrides
      margin: 24px;

      .support-ticket-header {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        font-weight: bold;

        .support-ticket-title {
          color: #162F56DE;
          font-size: 14px;
          line-height: 20px;
        }
      }

      .support-ticket-description {
        margin-bottom: 12px;
        color: #162F56DE;
        line-height: 20px;
        font-weight: 400;
        font-size: 14px;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        display: box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .reply-button-wrapper {
        display: flex;
        align-items: center;
        font-weight: 700;

        > a {
          font-size: 12px;
          font-weight: 700;
        }

        .reply-before-date {
          margin-left: 12px;
          font-size: 13px;
          font-weight: 400;
        }
      }
    }
  }
}

ul.switch-modes-menu.nav.nav-stacked {
  padding: 0;

  > li {
    margin: 0;

    > a {
      border-top: 1px solid #EEE;

      &.selected {
        background-color: #EEE;
      }
    }

    &:first-child {
      > a {
        border-top: none;
      }
    }
  }
}

.pre {
  white-space: pre;
}

.notes {
  .note {
    position: relative;
    margin-bottom: 12px;

    .i-close {
      position: absolute;
      right: -31px;
      top: 1px;
      padding: 8px;
      cursor: pointer;
      color: #CCC;

      &:hover {
        color: #AAA;
      }
    }

    .key {
      margin-bottom: 4px;
    }
  }

  .add-note {
    padding-left: 0;
  }
}

.modal-body {
  .note {
    .i-close {
      right: -3px;
    }

    .key {
      padding-right: 32px;
    }
  }

  .notes {
    .add-note {
      padding: 0
    }
  }
}

.SliderPanel__Body {
  .note {
    .i-close {
      right: -3px;
    }

    .key {
      padding-right: 32px;
    }
  }

  label {
    font-weight: normal;
    line-height: 29px;
  }

  .btn-toolbar {
    padding: 8px;
    margin-left: 0;
    margin-right: 0;

    .btn {
      padding: 8px 12px;
    }
  }

  // banner has bottom margin by default
  .rzp-banner {
    margin-bottom: 0;
    border-color: #EAEFF0;
    border-top-width: 0;
  }

  .commission-payment-wrapper {
    margin-top: 65px;
  }

  .rzp-definition {
    color: inherit;

    dd {
      color: #7B8199;
      word-break: break-word;
    }

    .LoaderDots > span {
      font-size: inherit;
    }
  }
}

.SliderPanel__Extra {
  border-top: 1px solid #EBEFF0;
}

.btn-toolbar {
  > .btn-half {
    width: 48%;
    margin-left: 0;
  }

  > .btn-half + .btn {
    margin-left: 4%;
  }
}

.ReactModal__Overlay .rzp-banner {
  border-width: 0;
  border-bottom-width: 1px;
}

.ReactModal__Overlay .pair-group-item .pair-value .full-width-item {
  width: 170%;
  margin-left: -70%;
}

.secondary-details {
  margin-top: 10px;
  border-left: 2px solid rgb(234 239 240);

  .table-responsive {
    max-width: 475px;
    border-left: 4px solid #E9EFF0;
    border-right: 1px solid #E9EFF0;
  }

  .table {
    margin: 0;
  }

  > .detail-row > label {
    margin-left: -15px;
    padding-left: 30px;
  }
}

.info-tooltip {
  font-size: 13px;
  color: #CCC;
  margin-left: 4px;
}

.empty-table-message,
.table > tbody > tr > td.empty-table {
  padding: 75px 50px;
  text-align: center;

  &:hover {
    background: #FFF;
  }
}

.text-fade {
  color: #919AA7;
  font-size: 12px;
}

.InfoCard__value .text-fade {
  font-size: 20px;
}

.label {
  &--primary {
    color: #58666E;
  }

  &--faded {
    color: $secondary-color;
  }

  &--secondary {
    color: $secondary-color;
    font-size: 85%;

    i {
      margin-right: 2px;
    }
  }
}

// TODO: Remove txn-details class everywhere and make it generic
.txn-details-title {
  display: inline-block;
  vertical-align: middle;
  line-height: 21px;
  margin-left: 16px;

  &--primary {
    font-weight 600;
    font-size: 14px;
    color: #7B8199;
  }

  &--secondary {
    color: #58666E;
    font-size: 70%;
  }
}

.full-width {
  width: 100%;
  margin-top: 16px;
}

.lottie-wrapper
  > div:first-child
    display: flex

li.offers-for-you-mobile
  max-width: 50px;

  > a {
    padding: 5px;
  }

.lottie-disabled {
  // stylelint-disable-next-line declaration-no-important
  cursor: not-allowed !important;
  opacity: 0.5;

  & > div:first-child {
    // stylelint-disable-next-line declaration-no-important
    cursor: not-allowed !important;
  }
}

.transfers-onhold-datepicker div.DateInput {
  width: 100%;
}

form[name="createPaymentTransfer"],
form[name="updatePaymentTransfer"] {
  div.RadioButton:first-child {
    margin-top: 0;
  }

  div.RadioButton .RadioButton__button {
    cursor: pointer;
  }

  .CalendarMonth__caption {
    margin-bottom: 10px;
  }

  .CalendarDay--blocked-calendar {
    background-color: rgb(0 0 0 / 0.05);
    cursor: not-allowed;
  }
}

form[name="updatePaymentTransfer"] {
  div.btn-toolbar {
    padding-left: 0;
  }
}

span.transfer-scheduled-text.text-warning,
span.transfer-scheduled-text.text-warning span.label--primary {
  color: #F5A623;
}

.light-placeholder {
  color: $light-grey;
}

.input-number-no-arrows
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button
    appearance: none;
    margin: 0;

.PowerSelect--focused,
.PowerSelect__SearchInput:focus
  // stylelint-disable-next-line declaration-no-important
  border-color: $primary-color !important;

// Temporary fix for invisible triggers until react-power-select library is updated
.PowerSelect__TriggerLabel
  overflow: hidden;
  max-width: 100px;

.section-divide {
  height: 1px;
  background: #ECECEC;
  margin: 24px 0;
}

.help-text
  line-height: 20px
  text-align: left
  font-size: 13px

  .icon
    margin-right: 8px

  > div
    display: inline-block
    vertical-align: top
    width: 90%

.page-center
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

.no-min-height
  min-height: 0;

.transaparent
  background-color: transparent;

.no-padding
  // stylelint-disable-next-line declaration-no-important
  padding: 0 !important;

.no-margin
  // stylelint-disable-next-line declaration-no-important
  margin: 0 !important;

.pad-top-50
  padding-top: 40px;

.display-inline
  display: inline-block
  vertical-align: middle

.banner-text-width
  max-width: 650px;

// support widget space issue for phone
@media (max-width 424px)
  .layout
    padding-bottom: 150px

  .pagefooter
    bottom: 90px

// nps survey typeform
.css-166tz6a.e1o3ysfi1
  .css-pgt1zi.e1o3ysfi2
    width: calc(100vw - 700px);
    height: calc(100vh - 300px);
    left: 50%;
    transform: translate(-50%);
