// rzp variables

$textDangerColor = #f05050;
$baseBorderColor = #eaeff0;


// Theme color
$prime = #528ff0 // TODO: merchant uses $primary-color and admin uses $prime. This is temporary and both has to be made same. (Added to common use spinner.styl)
$primary-color = #528ff0;
$secondary-color = #7b8199;
$heading-primary = #0d2366
$p-primary = #515978
$sidebar-bg-color = #2E3345
$sidebar-active-color = #252939


$primary-color-hover = #2371ec;
$primary-color-active = #528ff0;

$secondary-color-hover = #497FD6;
$secondary-color-active = #4070BD;
$secondary-color-disabled = #6F7691;

// Bootstrap variable overrides

$font-family-base = "Lato", "Lato-Regular", "Helvetica Neue", Helvetica, Arial,sans-serif;
$font-family-monospace =  Menlo, Monaco, Consolas, 'Ubuntu Mono', monospace;
$text-color = #58666e;
$line-height-base = 1.42857143;
$brand-success = #27c24c;

$border-radius-base = 2px;
$btn-default-color = $text-color;
$btn-default-bg = #fafafa;
$btn-primary-bg = $primary-color;
$btn-default-border = #dee5e7;
$btn-border-radius-base = 2px;
$btn-border-radius-large = 4px;

$input-border-radius = 2px;
$input-border = #cfdadd;
$input-border-focus = $primary-color;

$table-border-color = $baseBorderColor;

$alert-border-radius = 0;
$alert-info-bg=rgba(217,237,247,0.44);

$panel-border-radius = 0;
$panel-heading-padding = 15px 20px;
$panel-footer-padding = 15px 20px;
$panel-default-border = $baseBorderColor;
$list-group-border = $baseBorderColor;

$table-bg-active = rgba(255, 255, 215, 0.75);

$faded-text-color = #9fb1c7;
$light-grey = rgba(33,33,33,0.4);
$nitro-dark-bg = #171b2f;

// Add font family
$mullish-font = "Mulish";

// Add font size
$ft12 = 12px;
$ft14 = 14px;
$ft16 = 16px;
$ft18 = 18px;
$ft20 = 20px;
$ft22 = 22px;
$ft24 = 24px;
$ft28 = 28px;
$ft30 = 30px;
// Add font weight
$fw4 = 400;
$fw6 = 600;
$fw7 = 700;
$fw9 = 900;

// Add color
$text = #fff;
