// stylelint-disable max-line-length, number-max-precision
// stylelint-disable no-missing-end-of-source-newline

// rzp variables
$textDangerColor = #F05050;
$baseBorderColor = #EAEFF0;

// Theme color
$prime = #528FF0 // TODO: merchant uses $primary-color and admin uses $prime. This is temporary and both has to be made same. (Added to common use spinner.styl)
$primary-color = #528FF0;
$secondary-color = #7B8199;
$heading-primary = #0D2366
$p-primary = #515978
$sidebar-bg-color = #2E3345
$sidebar-active-color = #252939

$primary-color-hover = #2371EC;
$primary-color-active = #528FF0;

$secondary-color-hover = #497FD6;
$secondary-color-active = #4070BD;
$secondary-color-disabled = #6F7691;

// Bootstrap variable overrides

$font-family-base = "Inter", "Inter Fallback Arial", "Lato", "Lato-Regular", "Helvetica Neue", helvetica, arial,sans-serif;
$font-family-monospace =  menlo, monaco, consolas, "Ubuntu Mono", monospace;
$text-color = #58666E;
$line-height-base = 1.42857143;
$brand-success = #27C24C;

$border-radius-base = 2px;
$btn-default-color = $text-color;
$btn-default-bg = #FAFAFA;
$btn-primary-bg = $primary-color;
$btn-default-border = #DEE5E7;
$btn-border-radius-base = 2px;
$btn-border-radius-large = 4px;

$input-border-radius = 2px;
$input-border = #CFDADD;
$input-border-focus = $primary-color;

$table-border-color = $baseBorderColor;

$alert-border-radius = 0;
$alert-info-bg=rgb(217 237 247 / 0.44);

$panel-border-radius = 0;
$panel-heading-padding = 15px 20px;
$panel-footer-padding = 15px 20px;
$panel-default-border = $baseBorderColor;
$list-group-border = $baseBorderColor;

$table-bg-active = rgb(255 255 215 / 0.75);

$faded-text-color = #9FB1C7;
$light-grey = rgb(33 33 33 / 0.4);
$nitro-dark-bg = #171B2F;

// Add font family
$mullish-font = "Mulish";

// Add font size
$ft12 = 12px;
$ft14 = 14px;
$ft16 = 16px;
$ft18 = 18px;
$ft20 = 20px;
$ft22 = 22px;
$ft24 = 24px;
$ft28 = 28px;
$ft30 = 30px;
// Add font weight
$fw4 = 400;
$fw6 = 600;
$fw7 = 700;
$fw9 = 900;

// Add color
$text = #FFF;

// Z-indices variables
$z-index-bottom-sheet = 100;
$z-index-modal = 1000;
$z-index-modal-mask = 1000;
$z-index-modal-overlay = 1001;
$z-index-drawer = 1001;
$z-index-dropdown-overlay = 1002;
$z-index-tour-mask = 1100;
$z-index-popover = 1100;
$z-index-tooltip = 1100;
$z-index-navbar = 1000;
$z-index-sidebar = 1000;
$z-index-sidebar-bg-overlay = 999;