.80g-details-modal
  .modal-body
    .rzp-banner
      border-width: 1px

  .m-r
    margin-right: 4px

  .Input-description
    textarea.Input-el
      min-height: 100px
      max-height: unset

  .Input-label
    margin-bottom: 4px

  .Input--FileUpload
    .Input-label
      font-weight: normal


.Modal-mask.Modal-mask--merchant-80g-details
  overflow: visible

  .Modal-container
    padding: 20px 24px
    width: 480px

    .modal-title
      font-weight: bold
      font-size: 16px
