.details-modal-80g
  background-color: white
  font-family: "Mulish", "Lato", "Lato-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif

  .modal-header
    .modal-title
      font-size: 16px
      color: #58666E
      font-weight: 600

  .modal-body
    .rzp-banner
      border-width: 1px

     .Input-label
        margin-bottom: 4px
        color: #58666E
        font-size: 12px
        font-weight: 600
    
  .Modal__actions
    display: flex
    justify-content: flex-end
    padding-top: 34px

    .Button--Link
      margin-right: 20px

    .Button--primary
      margin-right: 0px
      max-width: 165px
      
  .m-r
    margin-right: 4px

  .Input--FileUpload
    margin-top: 8px

  .Input-description
    margin: 8px 0px
    
    textarea.Input-el
      min-height: 75px
      max-height: unset
      border: none
      border-bottom: 1px solid #2B83EA
      resize: none
      color: rgba(22, 47, 86, 0.87)

  &--label
    display: flex
    justify-content: space-between

    a
      font-size: 12px
      font-weight: 400

  .Dropzone-cavity
    border: 1px dashed #E0E4F9
    background: #FFFFFF
    box-sizing: border-box

  .Dropzone-80g-details
    cursor: pointer
    color: rgba(22, 47, 86, 0.24)
    text-align: center
    font-size: 14px
    line-height: 18px

    span
      font-weight: 600
      color: #2B83EA
      margin-left: 5px

  .Input-desc
    color: rgba(22, 47, 86, 0.38)


.Modal-mask.Modal-mask--merchant-80g-details
  overflow: visible

  .Modal-container
    padding: 20px 24px
    width: 480px
    @media (max-width: $screen-xs-max)
      width: 100%

    .modal-title
      font-weight: 600
      font-size: 16px

.Modal--80g
  max-width: 475px
  min-height: 388px