// Parent control the width of ActivationWizard component
$height = 600px

.ActivationContainer
  position: relative
  width: 92%
  margin: 80px auto

.Activation--wizard, .Activation--success
  side-title
    font-size: 18px
    font-weight: bold
    display: block
    margin-bottom: 20px

/* Activation wizard screen */
.Activation--wizard
  max-width: 1024px
  height: $height
  background: #fafafa
  position: relative

  $side-width = 240px

  aside
    padding: 24px 0
    width: $side-width
    background: #fff
    position: absolute
    height: 100%
    border-right: 1px solid #eee

    side-title, p
      padding: 0 24px

    ul
      margin: 30px 0
      padding: 0
    li
      cursor: pointer
      line-height: 40px
      list-style: none
      padding: 0 24px
      margin: 4px 0
      color: #57666d
      position: relative

      .i-check
        margin-right: 6px
      &:hover
        background: #fafbfc
      &.text-success
        color: #27c24c
      &.active
        background: #528FF0
        color: #fff

        .i-check::before
          color: #fff

        &:after
          content: "\f10c"
          color: #fff
          position: absolute
          right: 8px
          top: 1px
          font-family: merchant-icons

      &.disabled
        cursor: not-allowed
        color: #b6c0c4

      &:last-child
        margin-top: 28px

  main
    left: $side-width
    right: 0
    padding: 30px
    position: absolute
    bottom: 80px
    top: 0
    overflow: auto

    &.block-scroll
      overflow: hidden
      bottom: 0

    &.overlay-container
      bottom: 0

  footer
    left: $side-width
    padding: 20px
    height: 80px
    right: 0
    background: #F6F6F6
    border-top: 1px solid #e0e0e0
    bottom: 0
    position: absolute
    text-align: right

    button
      vertical-align: top

    .btn--mobile
      display: none

    .btn--desktop
      display: inline


    .Loader
      float: left
      opacity: 0
      transition: 1s opacity
      margin-top: 4px
      line-height: 27px

      .i-check
        margin-right: 8px
        vertical-align: middle
        line-height: 4px

      &--visible
        opacity: 1

  // File upload component
  .Input-content
    .Dropzone
      width: 324px

      .Dropzone-content
        font-size: 14px
        padding-left: 28px

      .Dropzone-file-icon
        padding: 10px

  main-title
    text-transform: uppercase
    display: block
    font-weight: 600
    margin-bottom: 36px

  .SubmitForm-backdrop
    background-color: rgba(17,30,60, 0.1)
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    pointer-events: auto

  .SubmitForm-modal
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    padding: 24px 32px 32px
    background-color: #F6F6F6
    box-shadow: 0 -2px 10px 0 rgba(121,121,121,0.21)

    p
      width: 95%

    .tnc-text
      margin-bottom: 8px
      position: relative

      p
        width: 92%
        padding-left: 32px

      .Input--checkbox
        position: absolute
        margin: 4px 8px 0 0

    button:nth-of-type(1)
      margin-left: 0

    .text-fade
      font-size: 14px
      margin-bottom 32px

.activation-field
  clear: both
  position: relative
  padding-left: 180px


.Activation--success, .Activation--welcome
  border-radius: 2px
  background: #fafafa
  margin: 0 auto
  position: relative

.Modal-container--Activation--success
  overflow: visible !important

/* Activation success screen */
.Activation--success
  padding: 30px 24px

  .LinkCard
    color: #58666e
    margin: 0 auto

  .Activation-info
    text-align: center
    font-size: 16px
    background: #fff
    padding: 24px 6%
    margin: -20px -12% 30px -12%
    border: 1px solid $prime
    box-shadow: 8px 8px 8px 0 rgba(132,155,191,0.1)
    color: #4D4D4D

    .desc
      font-size: 14px
      color: #808080

    .i
      margin-right: 8px
      border-radius: 50%
      background: #3a9b67
      font-size: 14px
      color: #fff
      padding: 2px 2px 0;
      vertical-align: middle

    .desc
      margin: 10px 0 0

  .Activation-actions
    side-title
      text-align: center

/* Activation welcome screen */
.Activation--welcome
  padding: 40px

  .short-content
    width: 55%

  h3
    line-height: 32px
    width: 210px

  .underline
    width: 24px
    height: 4px
    background: #96c5ff
    margin: 24px 0

  p
    font-size: #909090
    margin: 24px 0

  button
    margin-top: 16px
    margin-bottom: 6px

    &:last-child
      padding: 10px 48px

/* Standalone page size */
.ActivationContainer
  .Activation--success
    max-width: 400px

  .Activation--welcome
    max-width: 720px


/* Modal-container size */
.Modal-container
  &--Activation--wizard
    width: 90%
    max-width: 960px
    min-height: $height
    max-height: 800px

  &--Activation--success
    width: 90%
    max-width: 400px

  &--Activation--welcome
    width: 90%
    max-width: 720px



/* Small screens for Activation wizard */
@media (max-width: 972px)
  .ActivationContainer .Activation--wizard
    .Input-content
      margin: 0 0 16px

    .Input-label
      margin-bottom: 8px
      text-align: left
      float: unset


@media (max-width: 820px)
  .Modal-container .Activation--wizard
    .Input-content
      margin: 0 0 16px

    .Input-label
      margin-bottom: 8px
      text-align: left
      float: unset

/*
TODO: Style written in consideration that instead of modal, standalone page would open for activation wizard on small screen
TODO: Display aside on top of form as expandable slider OR else show PREV button
*/
@media (max-width: 610px)
  .ActivationContainer
    margin: 80px auto 40px

  footer
    .btn--desktop
      display: none !important

    .btn--mobile
      display: inline !important

  .Activation--wizard
    overflow: hidden

    .Input-el
      width: 220px

    aside
      display: none

    main, footer
      left: 0
