// Parent control the width of ActivationWizard component
$height = 600px

.ActivationContainer
  position: relative
  width: 96%
  margin: 80px 0 0 2%

.Activation--wizard, .Activation--success
  side-title
    font-size: 18px
    font-weight: bold
    display: block
    margin-bottom: 20px

.Activation--wizard
  max-width: 1024px
  height: $height
  background: #fafafa
  position: relative

  $side-width = 240px

  aside
    padding: 18px
    width: $side-width
    background: #fff
    position: absolute
    height: 100%

    side-title, p
      padding: 0 12px

    ul
      margin: 30px 0
      padding: 0
    li
      cursor: pointer
      line-height: 40px
      border-radius: 3px
      list-style: none
      padding: 0 12px
      margin: 4px 0
      color: #528FF0
      i
        float: right
      &:hover
        background: #fafbfc
      &.text-success
        color: #27c24c
      &.active
        background: #528FF0
        color: #fff

        .i-done::before
          background: white
          border-radius: 50%
      &.disabled
        cursor: not-allowed
        color: #b6c0c4

      &:last-child
        margin-top: 28px

  main
    left: $side-width
    right: 0
    padding: 30px
    position: absolute
    bottom: 80px
    top: 0
    overflow: auto

    &.block-scroll
      overflow: hidden
      bottom: 0

    &.overlay-container
      bottom: 0

  footer
    left: $side-width
    padding: 20px
    height: 80px
    right: 0
    background: #F6F6F6
    border-top: 1px solid #e0e0e0
    bottom: 0
    position: absolute
    text-align: right

    .Loader
      float: left
      opacity: 0
      transition: 1s opacity
      margin-top: 4px
      line-height: 27px

      .i-check
        margin-right: 8px
        vertical-align: middle
        line-height: 4px

      &--visible
        opacity: 1

  main-title
    text-transform: uppercase
    display: block
    margin-bottom: 20px

  .SubmitForm-backdrop
    background-color: rgba(17,30,60, 0.1)
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    pointer-events: auto

  .SubmitForm-modal
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    padding: 24px 24px 24px 52px
    background-color: #F6F6F6
    box-shadow: 0 -2px 10px 0 rgba(121,121,121,0.21)

    button:nth-of-type(1)
      margin-left: 0

    .text-fade
      font-size: 14px
      margin-bottom 24px

    .Input--checkbox
      position: absolute
      left: 24px
      top: 4px

.activation-field
  clear: both
  position: relative
  padding-left: 180px


.Activation--success
  max-width: 640px

.Activation--success, .Activation--welcome
  background: #fafafa
  position: relative

  .LinkCard
    color: #58666e
    width: 80%
    margin: 0 auto

  .Activation-info
    padding: 16px 30px

    .title, .desc
      text-align: center
    .title
      font-size: 16px

      .i
        margin-right: 8px
        border-radius: 50%
        background: #3a9b67
        font-size: 14px
        color: #fff
        padding: 2px 2px 0;
        vertical-align: middle

    .desc
      margin: 10px 0 0

  .Activation-actions
    padding: 24px
    background: #fff

    side-title
      text-align: center


.Modal-container
  &--Activation--wizard
    width: 90%
    max-width: 960px
    min-height: $height
    height: 90%
    max-height: 800px

  &--Activation--success
    width: 90%
    max-width: 480px
