// Parent control the width of ActivationWizard component
$height = 600px

.ActivationContainer
  position: relative
  width: 92%
  margin: 80px auto

  .spinner-container
    height: 300px

$side-width = 240px

/* Activation wizard screen */
.Activation--wizard
  max-width: 1024px
  height: 80vh
  max-height: 640px
  min-height: 560px
  background: #fafafa
  position: relative

  .warning-svg
    svg
      width: 23px
      height: 19px
      fill: #ffa665
      vertical-align: top
      margin-right: 4px
      transform: scale(0.8)

    span
      display: inline-block
      width: 80%

  aside .li--submit
    margin-top: 28px

  main
    left: 0
    right: 0
    padding: 30px
    position: absolute
    bottom: 80px
    top: 0
    overflow: auto

    &.main--full
      bottom: 0

    &.block-scroll
      overflow: hidden
      bottom: 0

    &.overlay-container
      background-color: #fafafa
      z-index: 2

  .device--mobile
    display: none

  .device--desktop
    display: inline

  footer
    left: 0
    padding: 20px
    height: 80px
    right: 0
    background: #F6F6F6
    border-top: 1px solid #e0e0e0
    bottom: 0
    position: absolute
    text-align: right

    button
      vertical-align: top

    .Loader
      float: left
      opacity: 0
      transition: 1s opacity
      margin-top: 4px
      line-height: 27px

      i, .spin-btn
        margin-right: 8px
        vertical-align: middle

      .spin-btn
        opacity: 1

      &--visible
        opacity: 1

  // File upload component
  .Input-content
    &.Input-File
      width: 300px

    .Dropzone
      .Dropzone-content
        font-size: 14px

  main-title
    text-transform: uppercase
    display: block
    font-weight: 600
    margin-bottom: 12px
    font-size: 14px !important

  .Form
    margin-top: 36px

  .SubmitForm-modal
    p
      width: 95%

    .tnc-text
      margin-bottom: 8px
      position: relative

      p
        width: 92%
        padding-left: 32px

      .Input--checkbox
        position: absolute
        margin: 4px 8px 0 0

  .SubmitForm-content
    margin-top: 36px

    button:nth-of-type(1)
      margin-left: 0

    .text-fade
      font-size: 14px
      margin-bottom 32px

.Activation--success, .Activation--welcome
  border-radius: 2px
  background: #fafafa
  margin: 0 auto
  position: relative

.Modal-container--Activation--success
  overflow: visible !important

/* Activation success screen */
.Activation--success
  padding: 24px

  .side-title
    text-align: center
    font-size: 18px
    font-weight: bold
    display: block
    margin-bottom: 4px

  .submit-illustration
    background: url(/img/activation/submit-success.svg) no-repeat
    width: calc(100% + 48px)
    height: 175px
    margin-left: -24px
    background-position: right

  .LinkCard
    color: #58666e
    margin: 0 auto

  .Activation-info
    text-align: center
    font-size: 16px
    background: #fff
    padding: 24px 6%
    margin: -20px -12% 30px -12%
    border: 1px solid #e0e0e0
    box-shadow: 8px 8px 8px 0 rgba(132,155,191,0.1)
    color: $heading-primary
    font-weight: 600
    border-radius: 2px

    .desc
      font-size: 14px
      color: #515978
      font-weight: 400

    .i
      margin-right: 8px
      border-radius: 50%
      background: #2dbe6f
      font-size: 14px
      color: #fff
      padding: 2px 2px 0;
      vertical-align: middle

    .desc
      margin: 10px 0 0

  .Activation-actions
    color: #4d4d4d

    side-title
      text-align: center

/* Activation welcome screen */
.Activation--welcome
  padding: 40px

  .welcome-illustration
    position: absolute
    bottom: 0
    right: 0
    width: 58%
    height: 94%
    background: url(/img/activation/welcome.svg) no-repeat
    background-position: bottom right
    background-size: contain
    z-index: 1

  .short-content
    width: 100%
    max-width: 320px
    position: relative
    z-index: 2

  h3
    line-height: 32px
    width: 100%
    max-width: 260px

  .underline
    width: 24px
    height: 4px
    background: #96c5ff
    margin: 24px 0

  p
    color: #515978
    margin: 16px 0

  button
    margin-top: 80px
    margin-bottom: 6px

/* Standalone page size */
.ActivationContainer
  .Activation--success
    max-width: 400px

  .Activation--welcome
    max-width: 720px


/* Modal-container size */
.Modal-container
  &--Activation--wizard
    width: 90%
    max-width: 960px
    min-height: 560px
    height: 80vh
    max-height: 640px

  &--Activation--success
    width: 90%
    max-width: 400px

  &--Activation--welcome
    width: 90%
    max-width: 720px

// For linked-account activation form
.Modal-mask--Account-Activation
  .Modal-container--Activation--wizard, .Activation--wizard
    min-height: 400px
    height: 70vh
    max-height: 480px

.Modal-container.Modal-container--Activation--wizard--old
  overflow: auto

  .activation-wizard
    margin-top: 20px

  .panel-body
    padding: 24px


/* Small screens for Activation wizard */
@media (max-width: 972px)
  .ActivationContainer .Activation--wizard
    .Input-content:not(.Input--checkbox)
      margin: 0 0 16px

    .Input--checkbox
      margin: 24px 0 16px

    .Input-label
      margin-bottom: 8px
      text-align: left
      float: unset


@media (max-width: 820px)
  .Modal-container .Activation--wizard
    .Input-content
      margin: 0 0 16px

    .Input-label
      margin-bottom: 8px
      text-align: left
      float: unset

/*
TODO: Style written in consideration that instead of modal, standalone page would open for activation wizard on small screen
TODO: Display aside on top of form as expandable slider OR else show PREV button
*/
@media (max-width: 610px)
  .ActivationContainer
    margin: 80px auto 40px

  .device--desktop
    display: none !important

  .device--mobile
    display: inline !important


  .Activation--welcome

    .short-content .Button--primary
      margin-top: 40px

    .welcome-illustration
      width: 70%
      opacity: 0.1


  .Activation--wizard
    overflow: hidden

    main-title
      position: relative
      padding: 20px
      text-align: center
      top: -30px
      margin-left: -30px
      margin-right: -30px
      background: white
      font-size: 14px

      .main-title-icon
        position: relative

        i
          position: absolute
          font-size: 16px
          left: -24px
          top: -2px
          opacity: 0
          transition: 0.2s

          &.drishy
            opacity: 1

    .btn--back
      position: absolute
      margin: 0
      left: 8px
      top: 50%
      padding: 0 12px !important
      font-size: 20px
      border: none !important
      background: transparent !important
      transform: translateY(-50%)

      i
        margin: 0

    .Form
      margin-top: 0

    .SubmitForm-content
      margin-top: 60px

    .Input-el
      width: 100%

    .Select-elWrapper::before
      left: unset !important
      right: 4px

    aside
      display: none

    main, footer
      left: 0 !important
