.activation-wizard {
  .nav-tabs {
    position: relative;
    top: 1px;
  }

  .panel {
    box-shadow: none;
    border-color: #dee5e7;
  }

  small.help-block {
    font-size: 12px;
    line-height: 18px;
  }

  small.help-block,
  .nav-tabs > li > a {
    .i + span {
      margin-left: 5px;
    }
  }

  .btn-toolbar {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .wizard-header {
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 20px;
  }
  .RadioButton {
    display: inline-block;
    margin: 7px 20px 7px 0;
  }
}
