.add-email-modal-content 
  padding 25px
  .merchant-heading
    font-size 18px
    font-weight 600
  .otp-section-subtitle
    font-size 14px
    font-weight 600
    margin-top 20px
  .add-email-modal-otp-section
    margin-bottom 15px
    .otp-section-message
      margin 15px 0px
    .resend-link
      margin-top: 8px
  .merchant-subtitle 
    margin 15px 0 10px
    line-height 18px
  
  .merchant-label 
    margin-top 1.5rem
  
  .merchant-note 
    display block
    margin 24px 0 6px
    &.email-merchant-note
      margin-bottom: 24px
  
  .merchant-btn 
    margin-top 24px

  .merchant-actions
    display: flex
    justify-content: flex-end
    margin-top: 20px

    & > .btn:not(:last-child)
      margin-right: 20px

  @media (max-width: 580px) 
    padding 30px !important
  
  @media (max-width: 425px) 
    padding 20px !important


.request-email-modal-content
  padding 24px 32px
  .merchant-heading
    margin: 0px 8px
  .merchant-note
    margin: 4px 8px 40px

  .modal-hero-image
    margin: 6px 0px 28px
    width: 100%