// oauth application settings screens
.application-index-page {
  .content-box {
    border: 1px solid #e2e8ea;
    background-color: #fff;
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  .content-header {
    border-bottom: 1px solid #e2e8ea;
    padding: 15px 20px;
  }
  .content-body {
    padding: 10px;
  }
  .application-details-inner {
    height 100%
  }
  .application-details-container {
    height: 128px;
    padding: 10px;
    .application-details {
      height: 100%;
      border: 1px solid #e2e8ea;
      border-radius: 4px;
      padding: 12px;
      padding-right: 20px;
      color: #58666e;
      text-align: left;
      &:not(.connected-app):hover {
        cursor pointer;
        background-color: #F0F3F4;
      }
      &.new-application {
        border-style: dashed;
        .app-details-container {
          color: #e2e8ea;
        }
        &:hover {
          border-style: solid;
          .app-details-container {
            color: #58666e;
          }
          .btn {
            background-color: #564aa3;
            border-color: #4a3e8a;
          }
        }
      }
    }
    .btn {
      width: 144px;
      margin-top: 24px;
    }
    .btn-container {
      margin-top: 12px;
      margin-right: 20px;
    }
  }
  .app-icon-container {
    height: 100%;
    width: 82px;
    border: 1px solid #e2e8ea;
    border-radius: 4px;
    display inline-block;
    background-color: white;
  }
  .app-icon {
    height: 100%
    width: 100%
    display block
  }
  .app-details-container {
    padding-top: 10px;
    height: 100%;
    margin-left: 12px;
    width: calc(100% - 250px);
    display inline-block;
    text-overflow();
  }
  .app-created-on {
    margin-top: 2px;
  }

  .connected-apps {
    .img {
      position: relative;
      margin: 0 auto;
      max-width: 25%;
      width: 170px;

      img {
        width: 100%;
      }

      span {
        border-radius: 50%;
        position: absolute;
        top: 4%;
        width: 93%;
        left: 4%;
        height: 93%;
        opacity: 0.4;
      }
    }
  }
}

.new-application-form
  &.content-box {
    border: 1px solid #e2e8ea;
    background-color: #fff;
    &:not(:first-child) {
      margin-top: 16px;
    }
  }
  .breadcrumb__backNav--link {
    font-weight bold
  }
  .content-header {
    border-bottom: 1px solid #e2e8ea;
    padding: 15px 20px;
  }
  .PowerSelect {
    padding: 0
    padding-bottom 2px
  }
  .PowerSelect__TriggerInput {
    min-width 140px
  }
  .PowerSelect__TriggerStatus {
    display none
  }
  .PowerSelectMultiple__SelectedOptions {
    margin 0
  }
  .PowerSelectMultiple__SelectedOption {
    margin: 4px 0px 0px 4px;
  }
  .tagged-input {
    height auto
  }
  .form-header {
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: 600;
  }
  .form-horizontal {
    padding 30px;
  }

  h5.form-header {
    margin-left: -10px;
    margin-bottom: 16px;
  }
  .upload-container {
    height: 90px;
    width: 120px;
    text-align: center;

    label {
      cursor: pointer;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
    }
  }
  .upload-inner {
    height 100%
    width 100%
    border: 1px solid #cfdadd;
    border-radius 2px
    display: table;

    i {
      display block
      margin-bottom 4 px
    }
  }
  .loader-dots {
    line-height: 0;
  }

  .btn-show-secret {
    position: absolute;
    top: 0;
    right: 15px;
    background-color: transparent;
    border: none;
  }
  .copy-field {
    cursor: text;
  }

  .i-info-circle
    margin-right: 4px;

.label-disabled
  background-color: #999

