.batch-upload-wrapper
  .empty-table-message
    .helper
      width: 60%
      margin: 20px auto
.batch-upload-modal
  background: #fff
  .modal-heading
    text-align: center
    font-weight: bold
    margin: 35px 0
  .modal-info
    background-color: #FAFAFA
    border-radius: 2px
    border: 1px solid #DBDBDB
    margin: 30px 0
    padding: 15px
    h5
      color: #2D2D2D
      line-height: 20px
    ul
      list-style-type: none
      padding: 0
    .btn-link
      cursor: pointer
    