.batch-upload-wrapper
  .empty-table-message
    .helper
      width: 60%
      margin: 20px auto
.batch-upload-modal
  background: #fff
  .modal-heading
    text-align: center
    font-weight: bold
    margin: 35px 0
  .modal-info
    background-color: #FAFAFA
    border-radius: 2px
    border: 1px solid #DBDBDB
    margin: 30px 0
    padding: 15px
    ul
      list-style-type: none
      padding: 0
    .btn-link
      cursor: pointer
    &.stretch  
      margin: 0 -24px -24px
    &.error
      background-color: #fff8e5
      padding: 20px
    &.create
      border: none
      background-color: #f5f5f5
      .rzpCheckbox
        display: inline-block
      h5
        color: #58666E
      button 
        display: block
        margin: 30px auto 10px
        padding: 10px 45px

  .notification
    margin: 25px 0
    text-align: center
    &.error
      color: #FF6363
  h4, h5
    color: #2D2D2D
.batch-table
  font-size: 12px
  thead > tr > th
    background-color: #eeeeee
    