$activate-btn-bg-color = #2B83EA;
$live-btn-bg-color = #1F890E;
$remove-btn-color = #2B83EA;
$next-btn-bg-color = rgba(22, 47, 86, 0.1);
$next-btn-text-color = rgba(22, 47, 86, 0.87);

.RewardsContainer {
  height: calc(100vh - 275px);
  overflow-y: auto;

  .Rewards {
    &--list-header {
      padding: 25px 0 20px 0;
      color: #58666E;
      font-size: 14px;
      line-height: 17px;
      border-bottom: 1px solid #ddd;
      font-weight: 600;
      margin: 0;

      small {
        font-size: 100%;
      }

      .collapse-action-span {
        float: right;
        color: rgb(18, 129, 246);
        cursor: pointer;
        .arrow-img {
          margin-left: 8px;
        }
        .arrow-img-rotate {
          transform: rotate(180deg);
        }
      }
    }

    &--list-sticky-header {
      position: sticky;
      top: 0px;
    }

    &--available-now-list-header {
      background: #f9fbfe;
    }

    &--live-list-header {
      background: #f9fefc;
      color: #1F890E;
    }

    &--queue-list-header {
      padding-bottom: 12px;
    }

    &--header {
      background-color: #F0F4F8;
      color: $text-color;
      padding: 24px;
      height: 112px;

      &--title {
        font-size: 16px;
        margin-bottom: 12px;
        span {
          float: right;
          font-size: 14px;
          color: #2b83ea;
          text-decoration: underline;
          cursor: pointer;
        }
      }

      &--desc {
        font-size: 14px;
        line-height: 17px;
      }
    }

    &--activated-header {
      background-color: #F2FFF7;
    }

    &--list {
      background: #f9fbfe;
      padding: 0 24px;
      border-width: 0 1px 1px;
      border-style: solid;
      border-color: #EBEFF0;
      min-height: 79%;

      &--item {
        margin: 0;
        padding: 20px 0;

        .media-left {
          padding-right: 24px;
          width: 50px;
          height: 50px;
        }

        .media-right {
          vertical-align: middle;
        }
      }

      &--item:not(:last-child) {
        border-bottom: 1px solid #DDD;
      }

      .Rewards--list-header:not(:first-child) {
        border-top: 1px solid #ddd;
      }
    }

    &--activated-list {
      background-color: #F9FEFC;
    }

    &--empty {
      padding: 40px 0px 35px 0px;
      text-align: center;
    }

    &--empty-all-available {
      text-align: center;
      padding-top: 67px;

      .empty-msg {
        padding-top: 24px;
      }
    }

    &--button-grp {
      display: flex;
      justify-content: space-between;
      width: 111px;

      &--extra-width {
        width: 125px;
      }
    }
  }

  .Reward {
    &--logo {
      max-width: 50px;
      max-height: 50px;
    }

    &--brand {
      font-size: 12px;
      color: #0A6FEB;
      margin-bottom: 6px;
      line-height: 14px;
      font-weight: 600;

      a, a:hover, a:focus, a:visited {
        color: #0A6FEB;
      }
    }

    &--desc {
      color: #58666E;
      font-size: 14px;
      line-height: 17px;
    }

    &--time-duration {
      font-size: 12px;
      line-height: 14px;
      margin-top: 4px;
    }

    &--starts-at {
      margin-right: 9px;
      time {
        font-weight: 600;
      }
    }

    &--ends-at {
      margin-right: 4px;
      time {
        font-weight: 600;
      }
    }

    &--terms {
      font-weight: 500;
      font-size: 11px;
      line-height: 12px;
      color: #0A6FEB;
      cursor: pointer;
    }

    &--activate-button {
      font-weight: 600;
      background-color: $activate-btn-bg-color;
      margin-right: 0px;

      &--disabled {
        pointer-events: none;
        opacity: 0.7;
      }
    }

    &--activate-button.Button--primary:not(:disabled):hover {
      background-color: $activate-btn-bg-color;
    }

    &--activate-button.Button--primary:not(:disabled):active {
      background-color: $activate-btn-bg-color;
    }

    &--remove-button {
      font-weight: 600;
      color: $remove-btn-color;
      margin: 0px;

      &--disabled {
        pointer-events: none;
      }
    }

    &--remove-button.Button--transparent:not(:disabled):hover {
      opacity: 1;
      color: $remove-btn-color;
    }

    &--remove-button.Button--transparent:not(:disabled):active {
      color: $remove-btn-color;
      background-color: transparent;
    }

    &--live-button {
      background-color: $live-btn-bg-color;
      border-radius: 15px;
      font-size: 10px;
      padding: 3px 12px;
      font-weight: 600;
      margin-right: 0px;
      cursor: default;
      pointer-events: none;
    }

    &--live-button.Button--primary:not(:disabled):hover {
      background-color: $live-btn-bg-color;
    }

    &--live-button.Button--primary:not(:disabled):active {
      background-color: $live-btn-bg-color;
    }

    &--next-button {
      background-color: $next-btn-bg-color;
      color: $next-btn-text-color;
      border-radius: 15px;
      font-size: 10px;
      padding: 3px 12px;
      font-weight: 600;
      margin-right: 0px;
      cursor: default;
      pointer-events: none;
    }

    &--next-button.Button--primary:not(:disabled):hover {
      background-color: $next-btn-bg-color;
      color: $next-btn-text-color;
    }

    &--next-button.Button--primary:not(:disabled):active {
      background-color: $next-btn-bg-color;
      color: $next-btn-text-color;
    }
  }

  &--optional-block {
    text-align: center;
    background: #F9FBFE;
    border: 1px solid #EBEFF0;
    padding: 44px 40px;

    h3 {
      line-height: 28px;
      font-weight: 800;
      color: #0D2366;
    }

    img {
      height: 210px;
      margin-top: 48px;
      margin-bottom: 45px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      color: #62696C;

      &:nth-child(2) {
        margin-top: 15px;
      }
      &:last-child {
        font-weight: 800;

        a {
          &:hover, &:focus {
            color: #528ff0;
          }
        }
      }
    }
  }
}

.Rewards {
  &--preview-checkout-modal {
    background-color: #f1f1f1;

    .preview-img-div {
      text-align: center;
      margin-top: 15px;

      button.close {
        position: absolute;
        top: 14px;
        right: 14px;
        opacity: 0.5;
        color: #162F56;

        i:not(.fa):before, .icon:after {
          font-weight: 600 !important;
        }
      }

      img {
        max-width: 850px;
      }
    }
  }
}

.reward-active-button-popover.rzp-popover.rzp-tooltip {
  width: 293px;
}

.reward-live-now-label-popover.rzp-popover.rzp-tooltip {
  width: 285px;
}

.reward-queue-label-popover.rzp-popover.rzp-tooltip {
  width: 293px;
}

.reward-queue-confirm-modal {
  .modal-title {
    color: #0D2366;
  }

  .modal-body>p {
    color: rgba(22, 47, 86, 0.74);
    font-size: 13px;
    line-height: 18px;
  }

  .modal-body>button {
    margin-top: 16px;
    font-size: 17px;
  }
}

.checkout-rewards-main-container .announcement-banner-container {
  padding-bottom: 0px;

  .content {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.rewards-anc {
  .interested-btn {
    font-weight: 600;
    background: rgba(11, 112, 231, 0.05);
    padding: 3px 8px;
    font-size: 10px;
    line-height: 14px;
    margin-left: 1em;
  }
}

.rewards-onboarding-anc {
  .interested-btn {
    font-weight: 600;
    background: rgba(11, 112, 231, 0.05);
    padding: 3px 8px;
    font-size: 10px;
    line-height: 14px;
    margin-left: 1em;
  }
}

.Checkout-Rewards-Disabled {
  .announcement-banner-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .rewards-onboarding-anc {
    .grp-buttons {
      float: right;
    }
    .know-more-link {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.Reward-Modal {
  padding: 32px;
  .Reward {
    &--logo {
      width: 60px;
      height: 60px;
    }

    &--brand {
      font-size: 17px;
      color: #0a6feb;
      margin-bottom: 5px;
      line-height: 20px;
      font-weight: 600;

      a, a:hover, a:focus, a:visited {
        color: #0A6FEB;
      }
    }

    &--desc {
      color: #58666E;
      font-size: 14px;
      line-height: 17px;
      font-weight: 500;
    }

    &--time-duration {
      font-size: 12px;
      line-height: 14px;
      margin-top: 4px;
    }

    &--starts-at {
      margin-right: 9px;
      time {
        font-weight: 600;
      }
    }

    &--ends-at {
      margin-right: 4px;
      time {
        font-weight: 600;
      }
    }

    &--close {
      position: absolute;
      right: 32px;
      top: 32px;
      color: rgba(0, 0, 0, 0.34);
      cursor: pointer;
      .i.i-close {
        font-size: 165%;
      }
    }

    &--headers {
      font-weight: 600;
      font-size: 17px;
      line-height: 20px;
      color: #515978;
      margin-top: 30px;
      margin-bottom: 14px;
    }

    &--term-header {
      margin-top: 22px;
    }

    &--details {
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      color: #515978;
    }

    &--term-link {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #0A6FEB;
      .i.i-external-link {
        margin-left: 5px;
        vertical-align: middle;
        font-size: 79%;
      }
    }
  }
}
