.ComingSoonCallout
  background: #fff
  background: rgba(81, 143, 240, 0.04)
  border: 1px solid #BCD7FF

  .title
    height: 28px
    display: inline-block
    padding: 2px 14px
    border-bottom-right-radius: 4px
    color: #ffffff
    font-weight: 600
    line-height: 24px
    font-size: 12px
    background: linear-gradient(90deg, #E88B00 0%, rgba(255, 187, 1, 0.5) 134.34%)

  .content-container
    padding: 14px
    
    .description
      color: #8B9498
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 19px
      margin-bottom: 16px

      .early-access
        font-weight: 600
        color: #1F890E
      
      .early-access-form
        text-decoration-line: underline;

    .btn-waitlist
      padding: 4px 16px !important
      font-style: normal
      font-weight: 600
      font-size: 12px
      line-height: 18px
      color: #2B83EA
      border: 1px solid rgba(11, 112, 231, 0.74)
      background: rgba(11, 112, 231, 0.05)
      &:hover
        background: rgba(11, 112, 231, 0.1)
        border: 1px solid rgba(11, 112, 231, 0.85)
    
    .callout-joined-button
      background: rgba(21, 177, 27, 0.05)
      border: 1px solid rgba(21, 177, 27, 0.74)
      color: #15B11B
      cursor: default
      .i.i-tick
        font-size: 8px
        vertical-align: middle
        margin-left: 8px
      &:hover
        background: rgba(21, 177, 27, 0.1)
        border: 1px solid rgba(21, 177, 27, 0.85)
      &:active
        color: #15B11B

.ComingSoonCallout.joined-waitlist
  background: #F9FEFC
  border: 1px solid #B1CFBC