.Feature
  .Feature-icon
    min-width: 38px

  .Feature-title
    font-weight: 600
    font-size: 16px
    line-height: 24px
    color: #0D2366

  .Feature-desc
    font-size: 14px
    line-height: 20px

.coming-soon-badge
  background: linear-gradient(92.86deg, #E8BC20 0%, #E08E14 100%)
  border-radius: 10px
  font-size: 10px
  line-height: 12px
  letter-spacing: 0.5px
  text-transform: uppercase
  padding: 3px 4px
