.credits
  background-color: transparent !important
  .credit-details, .coupon-details
    border: none
    margin: 16px 0
    box-shadow: 0 4px 6px 0 rgba(112,112,112,0.1)
    .big-font
      font-size: 16px

    .puck
      &::after
        content: ' '
        width: 16px
        height: 2px
        background-color: $sidebar-bg-color
        display: block
        margin-top: 10px

    button.toggle-history
      text-decoration: none
      i
        vertical-align: sub
    .collapsible
      .table-responsive
        width: 100%
        margin-top: 20px

        table.history
          margin-bottom: unset

  .coupon-details
    margin-bottom: 0
    .panel-body
      padding-bottom: 0
    .collapsible-container
      margin-top: 20px
      padding-top: 20px
      border-top: 2px dashed #eee
    .container
      width: 100%
      box-shadow: 0 3px 6px 0 rgba(48,52,62,0.1)
      margin: 16px 0
      background: url(assets/coupons/card-bg.svg) no-repeat
      background-size: auto 100%
      padding: 10px
      padding-left: 60px 
      &.disabled
        filter: grayscale(80%);
        opacity: 0.5;
      .row
        padding: 4px 0
    .history
      margin: 0 -15px
      padding: 0 15px 60px
      background: url(assets/coupons/bg.svg) no-repeat
      background-position: 100% 100%      
    .list-group 
      margin-bottom: 0
    .progress-bar
      background-color: #528FF0
      width: 0
      max-width: 200px
      height: 4px
      position: absolute
      z-index: 1
      border-radius: 4px
    .progress-bar-overlay
      width: 200px
      height: 4px
      border-radius: 4px
      background-color: #eee
      position: absolute




        
