.disputes-count {
  margin-left: 4px;
  margin-top: -1px;
  padding-bottom: 5px;
}

.payment-dispute
  .banner
    margin: 10px 0 0
    color: #5D666D
    padding: 10px 0
    word-break: normal
    font-size: 13px
    line-height: 18px
    p
      padding: 0 10px
      border-left: 2px solid #F59A2F

.open-dispute-banner {
  .rzp-banner {
    padding: 8px 24px;
    font-size: 12px;

    .i-close {
      line-height: unset;
      cursor: pointer;
    }

    .i-info-outline {
      font-size: inherit;

      &::after {
        vertical-align: middle;
      }
    }
  }

  &.analytics-dash-banner {
    .rzp-banner {
      margin-bottom: unset;
    }
  }
}
