.disputes-count {
  margin-left: 4px;
  margin-top: -1px;
  padding-bottom: 5px;
}

.open-disputes
  display: inline
  span
    color: white
    font-size: 10px
    padding: 1px 5px
    background: #CD8214
    border-radius: 50%

.payment-dispute
  .banner
    margin: 10px 0 0
    color: #5D666D
    padding: 10px 0
    word-break: normal
    font-size: 13px
    line-height: 18px
    p
      padding: 0 10px
      border-left: 2px solid #F59A2F

.dispute-details
  .SliderPanel
    .SliderPanel__Body
      .panel-body
        margin-top: 0
  .dispute-banner
    margin-top: 65px
    color: #5D666D
    padding: 20px 0
    .rzp-banner-text p
      padding: 0 20px
      text-align: justify
      border-left: 2px solid #F59A2F
    .dispute-cta
      margin: 20px 20px 0
  .bold
    font-weight: 600
  .subheading
    font-weight: 600
    font-size: 18px
    line-height: 22px
    color: #363636
  .reason
    .less-content
      margin-top: 5px
    .more-content
      margin-top: 10px
  .evidence-upload
    .pair-group-item
      display: flex;
      align-items: center
  .alert-info
    margin-top: 20px
    border-left: 2px solid #2F8AF5
  .status-alert
    maring-top: 10px
    margin-bottom: 0
  .evidence-upload
    .pair-value
      min-width: 300px
      .Dropzone-content-desc
        font-size: 14px
  .remove-file
    position: absolute
    top: 9px
    right: 0
    font-size: 16px
    padding: 10px
    cursor: pointer

.evidence-option__Menu
  .others
    padding: 5px 12px
    input
      width: 90%
      border: none
      border-bottom: 1px solid #5d90e9
    .btn
      padding: 0
    .add
      position: absolute

.dispute-cta
  display: flex
  justify-content: space-between
  margin-top: 20px
  .btn
    width: 100%
    margin-right: 20px
    &:last-child
      margin-right: 0
  .btn-primary
    color: #ffffff
    background: #678dec
    border: 1px solid #567fea
  .btn-secondary
    color: #666f76
    background: #fafafa
    border: 1px solid #dfe4e7

.dispute-confirmation
  .modal-header .modal-title
    line-height: 22px
  .modal-body
    .alert-warning
      border-left: 4px solid #EEBA2B
    .dispute-cta
      margin: 0

.open-dispute-banner {
  .rzp-banner {
    padding: 8px 24px;
    font-size: 12px;

    .i-close {
      line-height: unset;
      cursor: pointer;
    }

    .i-info-outline {
      font-size: inherit;

      &::after {
        vertical-align: middle;
      }
    }
  }

  &.analytics-dash-banner {
    .rzp-banner {
      margin-bottom: unset;
    }
  }
}
