.disputes-count {
  margin-left: 4px;
  margin-top: -1px;
  padding-bottom: 5px;
}

.open-dispute-banner {
  .rzp-banner {
    padding: 8px 24px;
    font-size: 12px;

    .i-close {
      line-height: unset;
      cursor: pointer;
    }

    .i-info-outline {
      font-size: inherit;

      &::after {
        vertical-align: middle;
      }
    }
  }

  &.analytics-dash-banner {
    .rzp-banner {
      margin-bottom: unset;
    }
  }
}
