.Modal-container--edit-website-modal
  width: 27%
  header
    border-bottom: none !important
  .edit-website-details-form
    .text-info
      color: darkgrey
    button
      display: inline-block
      width: 48%
      margin: 0 1%