.EmptyList
  text-align: center
  .dummy-circle
    height: 174px
    width: 174px
    background-color: #EDF8FE
    border-radius: 50%
    margin: 24px auto 
  .description
    color: #58666E
    font-size: 14px
    line-height: 20px