#nitro-end-of-year-self-serve{
    .close{
        position: absolute;
        left: 95%;
        top: 40px;
        background: transparent;
        border: none;
        margin-right: 26px;
        color: #FFFFFF;
    }
    .background-img{
       height: 100%;
       width: 100%;
    }
}

#nitro-end-of-year-self-serve-divider{
    height: 2px;
}

#nitro-end-of-year-self-serve-footer{
    display:flex;
    background: #8B3666;
    height: 94px;
    text-align: center;
    padding-left:32%;
    .para{
        margin-top: 25px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.74);
        margin-right: 130px;
    }
    .btn{
        margin-top: 30px;
        height:40px;
        margin-right: 50px;
    }
}

#btn-only-footer{
    display:flex;
    background: #FFFFFF;
    height: 80px;
    padding-left: 40%;
    .btn{
        margin-top: 20px;
        height:40px;
    }
}
