#nitro-end-of-year-self-serve{
    .close{
        position: absolute;
        left: 95%;
        top: 45px;
        background: transparent;
        border: none;
        margin-right: 26px;
        color: #FFFFFF;
    }
    
}

#nitro-end-of-year-self-serve-footer{
    display:flex;
    background: #8B3666;
    height: 94px;
    text-align: center;
    padding-left:32%;
    .para{
        margin-top: 30px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.74);
        margin-right:142px;
    }
    .btn{
        margin-top: 30px;
        height:40px;
    }
}
