#btn-close-modal-exclusive-offer
  position: absolute
  right: 25px
  top: 25px
  padding: 0
  border: none
  background: none
  color: #FFF

#exclusive-offer-loader-modal-self-serve
  width: 1106px
  height: 100%
  border: none

#exclusive-offer-modal-self-serve
  .background-img
    height: 100%
    width: 100%

#exclusive-offer-modal-self-serve-footer
  display: flex
  background: #8B3666
  min-height: 94px
  align-items: center
  justify-content: space-between

  .para-container
    width: 35%
    display: flex
    text-align: center
    margin-left: 31%
    justify-content: center

    .para
      margin-top: 25px
      margin-bottom: 25px
      font-size: 16px
      color: #FFFFFFBD

  .btn-container
    margin-right: 5%

    .btn
      min-height: 40px
      white-space: normal

      @media screen and (max-width 1400px)
        max-width: 100px
