#btn-close-modal-exclusive-offer
    position: absolute
    right: 25px
    top: 25px
    padding: 0;
    border: none;
    background: none;
    color: #FFFFFF;

#exclusive-offer-loader-modal-self-serve
    width: 1106px;
    height: 100%;
    border: none;
    

#exclusive-offer-modal-self-serve
    .background-img
       height: 100%;
       width: 100%;
    

#exclusive-offer-modal-self-serve-divider
    height: 2px;
    background: #F5F5F5;


#exclusive-offer-modal-self-serve-footer
    display:flex;
    background: #8B3666;
    height: 94px;
    text-align: center;
    padding-left:20%;
    .para-container
        width: 80%;
        .para
            margin-top: 25px;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.74);
            margin-right: 70px;
    .btn-container
        width:20%;
        .btn
            margin-top: 30px;
            height:40px;
            margin-right: 50px;

