#hubspotForm
  .hs-form-field
    margin: 20px 0 0;
  .hs-form
    background: #f4f8ff;
    padding: 0px 20px 40px;
    border-radius: 4px;
    .hs-input
      margin-bottom 0px
      background: #fff;
      border: 1px solid #c6cfd9;
      border-radius: 2px;
      padding: 8px 12px;
      width: 100%;
      &.invalid
        border 1px solid #ff7b7b
      label 
        margin: 16px 0 4px 0;
    .hs-richtext
      margin 25px 0
      h3
        font-size 14px
    .actions
      .hs-button
        background #528ff0
        color #fff
        border none
        margin-top 30px
        width: 100%;
        padding: 12px;
    label.hs-main-font-element
      color #ff7b7b

  .submitted-message
      padding: 20px;
      p
        text-align center
        justify-content center
        align-items center
        height 300px
        display flex
        font-size: 20px;
        line-height: 30px;