.scroll-into-view
    border-top 1px solid #eaeff0

.highlight-text__inview
    background-color lightBlue 
    transition 2s linear all
    color inherit
.highlight-text__remove
    background-color inherit
    transition none      
    color inherit