$semiMuted = rgba(0, 0, 0, 0.54)
$muted = rgba(0, 0, 0, 0.27)

.invoice-creation-container {
  max-width: 1110px;
  margin: auto;

  .breadcrumb__backNav--heading {
    margin-right: 5px;
    vertical-align: middle;
  }

  .breadcrumb__backNav--link {
    padding-left: 0;
  }

  .invoice-container {
    max-width: 685px;
  }

  .invoice {
    background-color: #fff;
    padding: 40px 40px 0 40px;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
    min-height: 761px;

    .testmode-warning {
      margin: -40px -40px 40px;
      text-align: center;
      font-size: 13px;
      padding: 8px;
    }

    .DateInput__display-text {
      font-size: 12px;
    }

    > .row {
      margin-bottom: 40px;
    }

    label {
      font-size: 12px;
      font-weight: bold;
      color: $semiMuted;
    }
  }

  .inv__branding {
    img {
      max-width: 100%;
      max-height: 100%;
    }

    .merchant-logo {
      width: 48px;
      height: 48px;
      display: block;
    }

    .media-body {
      vertical-align: middle;
    }

    .inv__branding--rzp {
      line-height: 1.2;
      color: rgba(0,0,0,0.54);
      font-size: 10px;
    }

    .rzp-logo {
      display: inline-block;
      height: 24px;
      margin-bottom: 5px;
    }
  }

  .inv__titlesection {
    margin-bottom: 5px;

    h3 {
      display: inline-block;
    }

    .inlineField {
      display: inline-block;
      margin-left: 5px;
      vertical-align: bottom;
    }
  }

  .inv__amountdue {
    position: relative;

    &::after {
      content: ''
      width: 20px
      border: 1px solid #999
      position: absolute
      bottom: -5px
      right: 0
    }
  }

  .inv__Footer {
    padding: 24px 0;
    border-top: 1px solid #f3f3f3;
    color: $semiMuted;
    text-align: center;
  }

  .inv__Footer__merchantName {
    font-size: 12px;
    font-weight: bold;
  }

  .inv__Footer__merchantAddress {
    font-size: 10px;
  }

  .inv__cta {
    .btn {
      padding-top: 0;
      padding-bottom: 0;
      font-size: 16px;
      transition: background-color 0.3s ease-out;

      &.btn-primary {
        line-height: 54px;
      }

      &.btn-default {
        line-height: 46px;
      }
    }
    .btn-group-vertical {
      margin-bottom: 8px;
      display: block;
    }
  }

  .inv__cta, .inv__info {
    max-width: 310px;
    margin-bottom: 16px;
  }

  .inv__info {
    background-color: #fafafa;
    padding: 24px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    position: relative;

    .text-warning {
      color: #EBAC00;
    }

    h4 {
      margin: 0;
      font-weight: bold;
    }

    > dl {
      margin: 0;
      dt {
        text-transform: uppercase;
        font-size: 12px;
        color: rgba(0,0,0,0.4);
        margin-top: 24px;
        margin-bottom: 4px;
      }
    }

    &.inv__addnote {
      .btn-default {
        position: absolute;
        left: -1px;
        right: -1px
        bottom: -45px;
        border-radius: 0;
        width: 101%;
      }
    }
  }

  .invoice-lineitem {
    .lineItem--empty {
      color: $muted;

      .item-ac-container > .inlineField:last-child {
        display: none;
      }
    }

    .item-ac-container > .inlineField  {
      > textarea.form-control,
      > textarea.form-control + .inlineField__value-container {
        font-size: 12px;
      }
    }

    .table > thead > tr > th {
      padding: 8px 16px;
      border-bottom: 1px solid #999;
      border-top: 0;
      font-weight: bold;
      color: $semiMuted;
      font-size: 12px;
      font-weight: bold;
      background-color: #fff;
    }

    .table > tbody > tr > td {
      padding: 16px;
      border-bottom: 1px solid #f3f3f3;
      &.no-border {
        border-bottom-color: transparent;
      }
    }

    .table > thead > tr > th:first-child,
    .table > tbody > tr > td:first-child {
      padding-left: 0;
    }

    .table > thead > tr > th:last-child,
    .table > tbody > tr > td:last-child {
      padding-right: 0;
    }

    .table > tbody > tr {
      &.total td:not(:first-child) {
        border-bottom: 1px solid #999;
      }

      > td {
        &:first-child {
          position: relative;
          &:before {
            $width = 50px;
            content: '';
            width: $width;
            position: absolute;
            top: 0;
            bottom: 0;
            left: - $width;
          }
        }
      }
    }

    .remove-row-action {
      position: absolute;
      top: 0;
      left: -32px;
      padding: 16px 10px;
      cursor: pointer;
      visibility: hidden;
    }

    .table > tbody > tr:hover .remove-row-action,
    .remove-row-action:hover {
      visibility: visible;
    }

    .table > tbody > tr.lineItem--disabled .remove-row-action {
      visibility: hidden;
    }
  }
}

.add-line-item {
  padding: 2px 10px;
}

.issue-invoice-modal {
  .alert-warning {
    margin-top: 16px;
    margin-bottom: 0;
  }
}

.payment-link-form {
  .or-separator::before {
    content: '(or)';
    position: absolute;
    left: -8px;
    top: 10px;
    color: #999;
    font-size: 11px;
  }

  .alert-warning {
    margin-bottom: 0;
  }
}

.help-label {
  padding-top: 2px;
  line-height: 1.1;

  small {
    font-size: 11px;
    color: #999;
  }
}

.invoice-details {
  .invoice-header {
    padding: 20px 0;

    > h3 {
      margin: 0;
      font-weight: bold;
      font-size: 20px;
    }
  }

  .panel {
    margin-bottom: 25px;
  }

  .panel-heading {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .dl-horizontal {
    margin-left: 25px;
    margin-bottom: 0;

    dt, dd {
      line-height: 2.5;
    }

    dt {
      text-align: left;
      text-transform: uppercase;
      clear: auto;
    }
  }

  .invoice-lineitem {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.rzpCheckbox-sm {
  [type=checkbox]:checked+label:before,
  [type=checkbox]:not(:checked)+label:before  {
    width: 16px;
    height: 16px;
  }

  [type=checkbox]:checked+label:after,
  [type=checkbox]:not(:checked)+label:after {
    font-size: 11px;
    top: 0;
    left: 3px;
  }

  label {
    font-size: 12px;
  }
}

.table-inv_payments {
  margin-bottom: 0;

  > tbody > tr > td {
    padding-left: 0

    &:last-child {
      padding-right: 0
    }
  }

  time {
    font-size: 10px;
  }
}

.CopyLink > span {
  margin-right: 5px
}

.table {
  .CopyLink .btn {
    visibility: hidden;
  }
  > tbody > tr:hover > td {
    .CopyLink .btn {
      visibility: visible;
    }
  }
}

.edit-layer {
  display: none;

  .icon {
    padding: 5px;
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 3;
  }
}

.addons {
  position: relative;
  margin-bottom: 12px;

  .edit-layer {
    display: block;
    width: 106%;
    height: 116%;
    position: absolute;
    top: -8%;
    left: -3%;
    border: 1px solid #E5E5E5
    border-radius: 4px;
    background-color: rgba(250, 251, 252, 0.5);
  }
}
