$semiMuted = rgba(0, 0, 0, 0.54)
$muted = rgba(0, 0, 0, 0.27)
$gutter = 8px;

.invoice-creation-container {
  max-width: 1110px;
  margin: auto;

  .invoices--side {
    margin-top: 48px;
    position: absolute;
    right: -40px;
    top: 48px
  }

  .two-btn-group {
    button {
      padding: 5px 0px;
      margin: 0px 6px;

      &:first-child {
        margin-left: 12px;
      }

      &:last-child {
        marign-right: 12px
        position: relative;

        &::before {
          content: '|'
          color: #dbdde3
          position: absolute;
          left: -9px;
        }
      }
    }
  }

  .btn-link {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .lineItem__description {
    white-space: normal;
    word-break: break-all;
  }

  .breadcrumb {
    li {
      &::before {
        display: none;
      }

      .breadcrumb__backNav--heading {
        font-weight: 600;
        margin-top: 1px;
        i {
          margin-right: 8px;
        }
      }

      .label {
        border-radius: 1em;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: 8px;
      }
    }
  }

  .Input-info {
    right: 0;
    transform: translateX(100%);
    &.show-info {
      transform: translateY(-50%) translateX(100%);
      opacity: 1
    }

    @media (max-width: 1024px) {
      display: none
    }
  }

  .material-input {
    &:disabled {
      border-bottom: none !important
      &::placeholder {
        color: transparent
      }
    }
  }

  .light-placeholder {
    .btn-link {
      padding: 0px;
    }
  }

  .inv__customersection {
    margin-bottom: $gutter;
  }

  .inv__customerselectionsection {
    margin-bottom: $gutter * 3;
  }

  .PowerSelect--disabled {
    background-color: transparent;
    cursor: auto;

    &:hover,
    &:focus,
    &.PowerSelect--focused {
      border-bottom: 1px solid rgba(33,33,33,0.2) !important;
    }

    .PowerSelect__TriggerStatus,
    .PowerSelect__Clear {
      display: none;
    }

    .PowerSelect__TriggerInputContainer {
      display: block;  
    }
  }

  .inv__customerdetails {
    margin-top: 4px;
    margin-bottom: 4px;
    .tax-heading {
      color: #838383
    }
  }


  .row.inv__optiongroupbutton {
    div:first-child {
      text-align: right
      padding-right: 8px
    }
    div:last-child {
      text-align: left
      padding-left: 8px
    }
  }

  div.inv__actionbutton {
    margin: ($gutter * 5) 0 ($gutter * 3)
    &>p {
      text-transform: uppercase
      opacity: 0.6
      color: #212121
      font-size: 12px
      font-weight: 600
      line-height: 13px
    }
    button.btn, label.btn {
      text-align: left
      padding-top: $gutter * 2
      padding-bottom: $gutter * 1.5
      white-space: normal
      overflow-wrap: normal
      h3 {
        font-weight: 400
        font-size: 16px
        line-height: 16px
      }
      p {
        opacity: 0.3
        color: #212121
        font-size: 12px
        line-height: 14px
        margin: 4px 0
      }
      .col-md-2 {
        height: 1em
      }
      .custom-checkbox {
        line-height: 1em;
        margin-top: 8px;
        margin-bottom: 8px;
        label {
          top: -16px;
          &::after,
          &::before {
            top: 16px
          }
        }
      }
    }
  }


  .inv__company-name {
    color: rgba(0,0,0,0.87)
    font-size: 19px
    line-height: 22px
  }

  .inv__company-tax-details {
    line-height: 20px
    font-size: 14px
    .tax-heading {
      color: #BCBCBC
    }
  }

  .inv__state-of-delivery-list {
    &.PowerSelect {
      padding: 0px;
      box-sizing: border-box;
      .PowerSelect__TriggerLabel,
      .PowerSelect__TriggerInput {
        padding: 0;
      }
      .PowerSelect__TriggerInputContainer {
        display: block
      }
      .PowerSelect__Placeholder {
        color: #aaa;
      }
    }
  }

  button.edit-in-input {
    position: absolute
    background-color: #ffffff
    right: 4px
    z-index: 1
    &:hover {
      background-color: #FFFFFF
    }
  }

  .PowerSelect {
    border-radius: 0px
    border: 0
    border-bottom: 1px solid #e2e2e2
  }

  .auto-complete-search .typeAheadSkin {
    font-size: 14px
    padding: 0
  }

  .inv__address-container {
    color: #212121
    font-size: 14px
    line-height: 20px
    white-space: pre-line
  }

  .inv__address-container-shipping,
  .inv__place-of-supply-container {
    margin-top: $gutter * 4;
    margin-bottom: $gutter * 2;
  }

  .inv__place-of-supply-container {
    .alert-sm {
      margin-top: 8px !important;
      padding: 8px;
      display: inline-block;
      border: 1px solid #CDC4A8;
      font-size: 14px;
      line-height: 14px;
      color: #4D4D4D;

      i {
        margin-right: 4px;
      }
    }
  }

  .datepicker-container {
    .SingleDatePicker {
      opacity: 0;
    }
    &.datepicker--focused {
      .SingleDatePicker {
        opacity: 1;
      }
    }
  }

  .form-control[disabled] {

    background-color: transparent;
  }

  .breadcrumb__backNav--heading {
    margin-right: 5px;
    vertical-align: middle;
  }

  .breadcrumb__backNav--link {
    padding-left: 0;

    &:active {
      box-shadow: none;
    }
  }

  .invoice-container {
    max-width: 685px;
  }

  .invoice {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
    min-height: 761px;

    .testmode-warning {
      margin: -40px -40px 40px;
      text-align: center;
      font-size: 13px;
      padding: 8px;
    }

    .SingleDatePickerInput__disabled,
    .DateInput__disabled,
    .DateInput_input__disabled {
      background-color: transparent;
    }

    .DateInput__display-text {
      font-size: 12px;
    }

    > .row:not(.inv__customersection) {
      margin-bottom: 40px;
    }

    label {
      font-size: 12px;
      font-weight: 600;
      line-height: 20px;
      color: $semiMuted;
    }

    .alert-sm {
      margin: 0
    }
  }

  .invoice > div.row:not(.inv__branding) {
    padding: 0 40px;
  }

  .inv__padded {
    padding: 0 40px;
  }

  .inv__branding {
    padding: 40px 40px 0;

    .inv__branding--merchant {
      margin-bottom: 8px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }

    .inv__merchant-logo {
      width: 48px;
      height: 48px;
      display: block;
    }

    .media-body:not(.valign-top) {
      vertical-align: middle;
    }

    .inv__branding--rzp {
      line-height: 1.2;
      color: rgba(0,0,0,0.54);
      font-size: 10px;
    }

    .rzp-logo {
      display: inline-block;
      height: $gutter * 3;
      margin-bottom: 5px;
    }
  }

  .inv__titlesection {
    margin-bottom: 5px;

    h3 {
      display: inline-block;
    }

    .inlineField {
      display: inline-block;
      margin-left: 2px;
      vertical-align: bottom;
    }
  }

  .inv__description {
    margin-top: $gutter;
  }

  .inv__amountduetitle {
    display: inline-block;
    vertical-align: top;
    &::after {
      content: ''
      width: 20px
      border: 1px solid $primary-color
      position: absolute
      bottom: -5px
      left: 15px
    }
  }

  .inv__amountdue {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    vertical-align: bottom;
  }

  .inv__dates-container {
    margin: ($gutter * 3) 0;

    .row {
      margin-top: $gutter * 1.5;

      label {
        margin-top: 4px;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .inv__Footer {
    background-color: #fafafa;
    margin-top: $gutter * 6;
    padding: $gutter;
    color: $semiMuted;
    text-align: center;
  }

  .inv__Footer__merchantName {
    font-size: 14px;
    font-weight: 600;
  }

  .inv__Footer__merchantAddress {
    font-size: 12px;
  }

  .inv__cta {
    .btn {
      padding-top: 0;
      padding-bottom: 0;
      font-size: 16px;
      transition: background-color 0.3s ease-out;
      border-radius: 2px;

      &.btn-primary {
        line-height: 54px;
      }

      &.btn-default {
        line-height: 46px;

        &:hover,
        &:focus {
          background-color: #fafafa;
        }

        &:active {
          background-color: #f2f2f2;
          box-shadow: none;
        }
      }
    }
    .btn-group-vertical {
      margin-bottom: $gutter;
      display: block;

      button {
        border-radius: 2px;
      }
    }
    .change-currency-cta {
      &.highlight button.btn{
        background-color: #EFF7FF;
        border: 1px solid #5A93F1;
        border-radius: 0 0 2px 2px;
      }
    }
  }

  .inv__cta, .inv__info {
    max-width: 310px;
    margin-bottom: $gutter * 2;
  }

  .inv__info {
    background-color: #fafafa;
    padding: $gutter * 3;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    position: relative;

    .text-warning {
      color: #EBAC00;
    }

    h4 {
      margin: 0;
      font-weight: 600;
    }

    > dl {
      margin: 0;
      dt {
        text-transform: uppercase;
        font-size: 12px;
        color: rgba(0,0,0,0.4);
        margin-top: $gutter * 3;
        margin-bottom: 4px;
      }
    }

    &.inv__addnote {
      .btn-default {
        position: absolute;
        left: -1px;
        right: -1px
        bottom: -45px;
        border-radius: 0;
        width: 101%;
      }
    }
  }

  .invoice-lineitem {

    input.material-input {
      height: auto;
    }

    .lineItem--empty {
      color: $muted;

      .item-ac-container > .inlineField:last-child {
        display: none;
      }
    }

    .item-ac-container {
      .PowerSelect {
        margin-left: 0px;
      }
    }

    .item-ac-container > .inlineField  {
      > textarea.form-control,
      > textarea.form-control + .inlineField__value-container {
        font-size: 12px;
      }
    }

    .table > thead > tr > th {
      padding: ($gutter) ($gutter * 2);
      border-bottom: 1px solid #999;
      border-top: 0;
      font-weight: 600;
      color: $semiMuted;
      font-size: 12px;
      font-weight: 600;
      background-color: #fff;
    }

    .table > tbody > tr:not(.total) > td {
      padding: $gutter * 2;
      border: none;
    }

    .table > thead > tr > th:first-child,
    .table > tbody > tr > td:first-child {
      padding-left: 0;
    }

    .table > thead > tr > th:last-child,
    .table > tbody > tr > td:last-child {
      padding-right: 0;
    }

    .table > tbody > tr {

      > td {
        &:first-child {
          position: relative;
          &:before {
            $width = 50px;
            content: '';
            width: $width;
            position: absolute;
            top: 0;
            bottom: 0;
            left: - $width;
          }
        }
      }
    }

    .remove-row-action {
      position: absolute;
      top: 0;
      left: 0px;
      margin: ($gutter * 3) 10px;
      cursor: pointer;
      opacity: 0;
      pointer-events: none;
      border-radius: 50%;
      height: 1.2em;
      width: 1.2em;
      background-color: #ff9999;
      color: white;
      text-align: center;
      transition: all 0.1s ease-in-out;

      i {
        display: block;
        margin-top: -1px;
      }
    }

    .table {
      border-bottom: none;
      margin-bottom: 0px;
    }

    .table > tbody > tr:hover .remove-row-action,
    .remove-row-action:hover {
      opacity: 1;
      pointer-events: auto;
    }

    .table > tbody > tr.lineItem--disabled .remove-row-action {
      visibility: hidden;
    }

    .tax-details {
      margin: $gutter 0
      text-align: right
      p {
        margin: 4px 0
        white-space: nowrap;
      }
    }

    .tax-calc-details {
      p {
        &:first-child {
          margin-bottom: 0px;
        }

        &:not(:first-child) {
          margin-top: 0px;
        }
      }
    }

    .item-total {
      padding: 4px 0;
    }

    .table > tbody > tr.total {

      td {
        border:none
        padding: $gutter * 2

        b {
          font-size: 1.3em;
        }

        &:last-child {
          padding: ($gutter * 2) 0
        }
      }

      &.sub-total {
        td {
          padding: ($gutter) ($gutter * 2)

          &:last-child {
            padding: $gutter 0
          }
        }
      }
    }
  }

  .inv__itemtable {
    thead {
      background-color: #F0F0F0 !important;

      th {
        background-color: transparent !important;
        border-bottom: none !important;

        &:first-child {
          padding-left: 40px !important;
        }
        &:last-child {
          padding-right: 40px !important;
        }
      }
    }

    tbody {
      tr {
        &:not(.total) {
          td {
            &:first-child {
              padding-left: 40px;
            }

            &:last-child {
              padding-right: 40px
            }

            input {
              background-color: transparent
              margin-left: 0px
              margin-right: 0px
            }

            .inlineField {
              margin-left: 0px
              margin-right: 0px
            }

            .ps-item__editbtn {
              right: 12px
            }
          }
        }

        &:not(.total):not(.addline) {
          &:nth-child(even) {
            background-color: #fafafa
            .ps-item__editbtn {
              background-color: #fafafa
            }
          }
        }

        &.total {
          td {
            &:last-child {
              padding-right: 16px;
            }
          }
        }

        &.amount-paid {
          td {
            &:last-child {
              padding: 16px 0;
            }
          }
        }

        &.amount-words {
          td {
            padding: 0px !important;
          }
        }

      }
    }

    .lineItem__item {
      width: 45%
    }

    .lineItem__amount {
      width: 25%;
    }

    .lineItem__qty {
      width: 10%;
    }

    .lineItem__total {
      width: 20%;
    }
  }

  .material-input {
    border-bottom-color: #e2e2e2
    &:focus,  {
      border-bottom-color: #528ff0
    }
  }

  .material-input, .material-input > input, .material-input__datepicker .SingleDatePicker  {
    &:hover{
      border-bottom-color: #c1c1c1
    }
  }
}

.add-line-item {
  padding: 2px 10px;
}

.issue-invoice-modal {
  .alert-warning {
    margin-top: $gutter * 2;
    margin-bottom: 0;
  }
}

.payment-link-form {
  .or-separator::before {
    content: '(or)';
    position: absolute;
    left: -8px;
    top: 10px;
    color: #999;
    font-size: 11px;
  }

  .alert-warning {
    margin-bottom: 0;
  }
}

.help-label {
  padding-top: 2px;
  line-height: 1.1;

  small {
    font-size: 11px;
    color: #999;
  }
}

.invoice-details {
  .invoice-header {
    padding: 20px 0;

    > h3 {
      margin: 0;
      font-weight: 600;
      font-size: 20px;
    }
  }

  .panel {
    margin-bottom: 25px;
  }

  .panel-heading {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .dl-horizontal {
    margin-left: 25px;
    margin-bottom: 0;

    dt, dd {
      line-height: 2.5;
    }

    dt {
      text-align: left;
      text-transform: uppercase;
      clear: auto;
    }
  }

  .invoice-lineitem {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.table-inv_payments {
  margin-bottom: 0;

  > tbody > tr > td {
    padding-left: 0

    &:last-child {
      padding-right: 0
    }
  }

  time {
    font-size: 10px;
  }
}

.CopyLink > span {
  margin-right: 5px
}

.table {
  .CopyLink .btn {
    visibility: hidden;
  }
  > tbody > tr:hover > td {
    .CopyLink .btn {
      visibility: visible;
    }
  }
}

.edit-layer {
  display: none;

  .i {
    padding: 5px;
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 3;
  }
}

.addons {
  position: relative;
  margin-bottom: 12px;

  .edit-layer {
    display: block;
    width: 106%;
    height: 116%;
    position: absolute;
    top: -8%;
    left: -3%;
    border: 1px solid #E5E5E5
    border-radius: 4px;
    background-color: rgba(250, 251, 252, 0.5);
  }
}

.PickCurrency-Modal
  .Input--Currency
    margin-top: 0
