.keystone-details 
  background-position-x: right;
  background-color: $nitro-dark-bg;
  background-repeat: no-repeat;

  &.corporate-cards 
    background-image: url("https://cdn.razorpay.com/static/assets/corporate-cards/corporate-card-keystone-bg.svg");
    background-position-y: 20px;
    background-size: 50%;  

    .section 
      padding: 54px 281px 60px 50px;

      .heading 
        width: 75%;

        span 
          background: linear-gradient(to left, #FFFFFF, #FFE355, #FF7015, #5637EF);

      .feature-list .feature-card span 
        padding: 2px;  
      
  &.cash-advance 
    background-image: url("https://cdn.razorpay.com/static/assets/cash-advance/cash-advance-keystone-bg.svg");

    .section 
      padding: 54px 201px 60px 50px;

      .heading 
        width: 45%;

        span 
          background: linear-gradient(to left, #FFFFFF, #FFC555, #1557FF, #17C7FF);

    .feature-list .feature-card span 
      padding: 2px;  

  .section 
    .rx-logo 
      width: 160px;
      padding: 0;  

    .heading 
      margin-top: 44px;
      line-height: 36px;
      color: white;  

      span 
        font-weight: 800;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;

    .feature-list 
      display: flex;
      margin-top: 52px;

      .feature-card 
        display: flex;
        padding: 6px;
        border: 1px solid #2D3357;
        border-radius: 6px;
        background-color: #171b2f;
        align-items: center;

        &:not(:first-child):not(:last-child) 
          margin: 0 10px 0 10px;

        span 
          color: rgba(255, 255, 255, 0.74);
          font-size: 12px;
          line-height: 18px;

    .btn-wrapper 
      margin-top: 56px;
