.TransfersPreviewModal
  .modal-header
    padding: 0
    position: absolute
    right: 10px
    z-index: 1 
    .i-close
      font-size: 12px

  .modal-body
    padding: 32px 32px 16px 32px
  
  .TimedSliderTabs
    width: 75%
    margin: auto
  
  .TimedSlider-frame
    margin-bottom: 16px 
    .Story img
      width: 100%
  
  .TimedSliderTab
    padding-top: 16px 
    opacity: 0.5
    color: #58666E
    font-size: 12px
    line-height: 15px
    font-weight: bold
    text-align: center
    &.active
      opacity: 1
      color: #528FF0
    
    .progress-bar-success
      background: #5490f0

  .got-it-button
    position: absolute
    bottom: -40px
    font-size: 14px
    line-height: 17px
    font-weight: bold
    color: white
    left: 50%
    transform: translate(-50%, 0)
    cursor: pointer
