.ReactModal__Overlay.ReactModal__Overlay--after-open
    .mobile-app-popup
        margin: 0px;
        position: fixed;
        bottom: 0px;
        text-align: center;
        width: 100%;

        .logo-img-div
            margin: 31px auto;
            img
                height: 60px;
                padding: 10px;
                box-shadow: 0px 4px 11px rgba(11, 112, 231, 0.1);

        .popup-title
            color: #162F56;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            margin: auto 50px;

        .popup-subtitle
            color: rgba(22, 47, 86, 0.74);
            line-height: 20px;
            margin: 12px 45px 23px 45px;

        .app-btn-div
            display: flex;
            .Button--primary.Button
                display: block;
                margin: auto 20px;
                font-size: 14px;
                line-height: 20px;
                font-weight: 600;
                width: 100%;

        .Button--transparent.Button
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            margin: 18px 0px 39px 0px;
 

.mobile-popup-fixed-footer
    position: fixed;
    bottom: 0px;
    background-color: white;
    box-shadow: 0px -4px 15px rgba(91, 91, 91, 0.1);
    width: 100%;
    height: 48px;
    text-align: center;
    padding-top: 15px;

    span
        color: #2B83EA;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;

    button
        border: none;
        background-color: white;
        float: right;
