.nitro-CC-details 
  background-image: url("https://cdn.razorpay.com/static/assets/modal-asset/nitro-cc-modal-background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;

  &.corporate-cards 
    .section 
      padding: 54px 281px 60px 50px;

      .heading 
        font-size: 32px;
        font-weight: bold;
        width: 100%;

        span 
          background: linear-gradient(to left, #FFFFFF, #FFE355, #FF7015, #5637EF);

      .feature-list .feature-card span 
        padding: 2px;  

    .feature-list .feature-card span 
      padding: 2px;  

  .section 
    .rx-logo 
      width: 160px;
      padding: 0;  
    
    .closemodal
      position: absolute;
      float:right;
      margin-left:750px;
      background: transparent;
      border: none;
      margin-right: 26px;
      color: #FFFFFF;

    .heading 
      margin-top: 44px;
      line-height: 36px;
      color: white;  

      span 
        font-weight: 900;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;

    .feature-list 
      display: flex;
      margin-top: 52px;

      .feature-card 
        display: flex;
        padding: 6px;
        border: 1px solid #2D3357;
        border-radius: 6px;
        background-color: #171b2f;
        align-items: center;

        &:not(:first-child):not(:last-child) 
          margin: 0 10px 0 10px;

        span 
          color: rgba(255, 255, 255, 0.74);
          font-size: 12px;
          line-height: 18px;

    .btn-wrapper 
      margin-top: 56px;

      .btn-color
        background: linear-gradient(104.22deg, #F16E21 6.49%, #D3512B 52.27%, #B12A31 100%);
