.dual-column-table
    display: grid;
    //TODO replace with the standard samller size for the application
    font-size: 0.9em;

    >span
        padding-top: 10px;

    >span:first-child
        font-weight: bold;
        text-align: right;
        padding-right: 15px;
        text-transform: capitalize;

.horizontally-stacked-checkbox
    >input[type="checkbox"]
        margin-right: 20px;
    >span
        font-weight: bold;