.dual-column-table
    display: grid;
    //TODO replace with the standard samller size for the application
    font-size: 0.9em;

    >span
        padding-top: 10px;

    >span:first-child
        font-weight: bold;
        text-align: right;
        padding-right: 15px;
        text-transform: capitalize;

.no-cost-emi-loader
    display : flex
    align-content: center
    justify-items: center

.no-cost-emi-footnote
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #828282;

.horizontally-stacked-checkbox
    align-items: center;
    flex-wrap: wrap;

    >div
        display: grid;
        grid-template-columns: 25px 100%;

    >label
        font-weight: bold;
        position:relative;
        width: 100%;

        &::after
            content: '*';
            font-size: 12px;
            position: absolute;
            margin-left: 1px;
            top: 0;
            color: #f05050;
