/* stylelint-disable */

$green = #01B358

.Onboarding
  font-size: 14px
  text-align: center

  .illustration
    padding: 130px
    width: 160px
    background-repeat: no-repeat
    background-size: contain
    background-position: center
    margin: 20px auto 0

  .description
    margin: 20px 16px 0

  .form-fields
    margin: 20px 16px 0

    .Input
      margin: 0

  .Button
    margin 20px auto 0


.Onboarding--Invoices
  margin: 20px 0 80px
  color: #58666E

  .Onboarding-heading
    font-size: 20px
    margin-bottom: 16px

    span
      font-weight: 600

  .Onboarding--content
    margin-top: 56px

  .step
    position: relative
    text-align: center
    display: inline-block
    width: 30%
    min-width: 240px
    font-size: 14px
    padding: 0 8px
    vertical-align: top

    .img
      position: relative

      img
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(-50%)

    .title
      font-size: 16px
      font-weight: 600
      margin: 16px 0 4px

    .i
      position: absolute
      top: 50%
      right: -18px
      transform: translateY(-50%)
      font-size: 36px
      font-weight: 600
      color: #58666E

  @media (max-width: 1023px)

    .Onboarding--content  .step
      display: block
      margin: 48px auto 0

      .i
        display: none

.Onboarding--Invoices
  .img
    height: 160px

.OnBoarding
  padding: 24px

  .callout-button
    margin-right: 156px

  .Slider
    border-radius: 3px
    background-color: #FFFFFF
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15)
    position: relative
    height: 70vh
    max-height: 580px
    min-height: 540px
    @media (max-width: 1024px)
      max-height: 100%
      height: auto
      min-height: 70vh

  .SliderDots
    position: absolute
    left: 50%
    margin-top: 20px
    transform: translate(-50%, 0)

    @media(max-width: 1024px)
      display: none

    .Button
      color: #528FF0
      font-size: 16px
      font-weight: bold
      line-height: 19px
      margin-top: 8px

  .Button-Container
    position: absolute
    bottom: 64px
    right: 64px

    @media(max-width: 1024px)
      bottom: 24px
      right: 24px

    .Button
      font-size: 16px
      font-weight: bold
      height: 50px
      min-width: 126px
      line-height: 19px
      color: rgb(88, 102, 110)

      i
        float: none
        vertical-align: middle
        margin-right: 8px
        margin-left: 0

      &:last-child
        margin-right: 0

      &.Forward-Button
        background-color: #3B80EE
        color: white
        border-radius: 4px
        i
          float: none
          vertical-align: middle
          margin-left: 8px
          margin-right: 0

      @media(max-width: 1024px)
        height: auto

  .dash
    border: 1.5px solid #2CCA74
    height: 0
    width: 43px
    display: inline-block
    margin-right: 8px
    vertical-align: middle

  .OnBoarding--Slide
    min-width: 90%
    margin: 0 auto
    height: 100%

.OnBoarding--ImageSlide
  display: flex
  align-items: center

  .Landing--Video
    width: 50%
    display: inline-flex;
    align-items: center;
    
    @media (max-width: 1024px) 
      display: none

  .Landing--Image
    width: 50%
    align-self: stretch
    @media (max-width: 1024px)
      display: none

  .Product--Details
    padding: 0 64px
    margin-top: 120px
    align-self: flex-start
    width: 50%

    @media(max-width: 1024px)
      padding: 0 24px
      width: auto

    .Details-heading
      font-weight: bold

    .Details-title
      font-size: 40px
      line-height: 48px
      margin: 16px 0 8px 0
      font-weight: bold
      color: #0D2366

      @media(max-width: 1024px)
        font-size: 28px
    
    .Details-heading
      font-size: 16px
      line-height: 21px
      margin: 8px 0 24px
      font-weight: bold
      color: #0D2366

      i
        margin-right: 4px
        margin-top: 4px

    .Details-desc
      font-size: 18px
      line-height: 24px
      margin-bottom: 42px

    .DataList-Item
      font-size: 16px
      line-height: 1.25
      flex: 1
      min-width: 100px
      padding-left: 28px
      border-color: #cfdadd

      @media(max-width: 767px)
        padding: 0
        display: block

      b
        font-size: 20px

      &:first-child
        padding-left: 0

.OnBoarding--ImageSlide.with-callout
  .Product--Details
    margin-top: 80px

    .Details-desc
      margin-bottom: 36px

// This to override the slider height because "join the waitlist" callout
// is added, which takes up space. This callout will be temporary so
// explicitly doing it here. To be removed later.
.OnBoarding.OnBoarding--Rewards.Checkout-Rewards-Callout {
  .Slider {
    max-height: 580px;
    min-height: 580px;

    @media(max-width: 1280px) {
      max-height: 620px;
      min-height: 620px;
    }

    @media(max-width: 1224px) {
      max-height: 680px;
      min-height: 680px;
    } 

    @media(max-width: 1024px) {
      max-height: 540px;
      min-height: 540px;
    } 
  }
}

.OnBoarding--Features
  padding: 64px

  .Button-Container
    .joined-button.Button
      background-color: #15B11B
      color: #fff
      font-weight: bold
      font-size: 16px
      line-height: 20px
      margin-top: 14px
      padding: 9px 20px
      cursor: default
      border-radius: 4px
      .i.i-tick
        font-size: 11px
        vertical-align: middle
        margin-left: 8px
    .joined-button.Button
      &:hover
        background-color: #15B11B
      &:active
        background-color: #15B11B
        color: #fff

  @media(max-width: 1024px)
    padding: 24px 24px 75px 24px

  .Header
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap

    .Header-title
      margin: 0
      color: #0D2366
      font-size: 32px
      line-height: 1.5
      font-weight: bolder

      @media(max-width: 1024px)
        font-size: 24px
        width: 100%
        line-height: 1

    .Header-external-links
      color: #528FF0
      font-weight: bold
      .external-link
        margin: 0 5px
        &:last-child
          margin-right: 0
        &:first-child
          margin-left: 0

      @media(max-width: 1024px)
        width: 100%
        margin: 8px 0 24px 0

  .Features
    display: flex
    justify-content: space-evenly
    position: absolute
    top: 50%
    left: 64px
    right: 64px
    transform: translate(0, -50%)

    @media(max-width: 1024px)
      position: relative
      transform: none
      display: block
      left: 0
      top: 0
      right: 0
      overflow: scroll

  .More-features-link
    position absolute
    top 67%
    right 6%
    font-weight bold
    @media(max-width 1024px)
      position relative
      top 0
      right 0
      width fit-content
      padding-bottom 10px

  .Feature
    width: calc(100% / 3 - 28px)
    box-shadow: 0 3px 6px 0 rgba(48,52,62,0.1)
    padding: 16px
    border-radius: 4px
    text-align: left
    position: relative
    z-index: 0
    overflow: hidden

    @media(max-width: 1024px)
      width: 100%
      margin: auto
      margin-bottom: 16px

    &:before, &:after
      content: ''
      position: absolute
      z-index: 2
      background: #F1F6FD
      width: 122%
      height: 150%
      left: -25%
      top: -75%
      transform: rotate(-19deg)

    &:after
      background: #F7FAFE
      right: -25%
      left: 0
      top: -30%
      transform: rotate(30deg)
      z-index: 1

  .Feature-icon
    width: 46px
    position: relative
    z-index: 3

  .Feature-title
    margin-top: 8px
    color: #0D2366
    position: relative
    z-index: 3

  .Feature-desc
    position: relative
    z-index: 3

.OnBoarding--Subscription,
.OnBoarding--Route,
.OnBoarding--RazorpayX,
.OnBoarding--PaymentPages,
.OnBoarding--MagicCheckout,
.OnBoarding--PaymentLinks,
.OnBoarding--PaymentButtons,
.OnBoarding--Invoices,
.OnBoarding--Offers,
.OnBoarding--Rewards,
.OnBoarding--SmartCollect,
.OnBoarding--QRCodes,
.OnBoarding--Optimizer
  .Landing--Image
    overflow: hidden
    z-index: 2
    position: relative
    background-color: #F4FDFF

    img
      position: relative
      right: 140px
      top: 144px
      transform: translate(0, -25%)
      width: 110%
      max-width: 700px
      min-width: 520px

    &:before
      content: ''
      position: absolute
      right: 72px
      top: -132px
      border-radius: 1px
      z-index: -1
      width: 180%
      height: 816px
      min-width: 400px
      max-width: 490px
      color: #40c1bb
      background: linear-gradient(45deg, #62e3c9, #05c098 50%)
      box-shadow: 1px 1px 0 #009688, 2px 2px 0 #009688, 3px 3px 0 #009688, 4px 4px 0 #009688
      transform-origin: 0 0
      transform: rotateZ(45deg) skewX(-15deg) skewY(-16deg)

.OnBoarding--Offers .Landing--Image img
  right: unset;
  left: 100px;
  min-width: 400px;
  width: 80%;
  top:160px;

.OnBoarding--Rewards
  .Landing--Image
    text-align: center;

    img
      right: unset;
      min-width: 238px;
      top: 160px;
      width: 238px;
      border-radius: 34px;
      box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.11);

.OnBoarding.OnBoarding--Rewards.Checkout-Rewards-Disabled
  .OnBoarding--Features .Button-Container
    .Button--transparent.Button
      margin-right: 0px;
    .Button.Forward-Button
      display: none;

  .SliderDots
    display: none;

.OnBoarding--Route
  .Landing--Image
    &:before
      color: #50a8ed
      box-shadow: 1px 1px 0 #11c0fa, 2px 2px 0 #11c0fa, 3px 3px 0 #11c0fa, 4px 4px 0 #11c0fa
      background: linear-gradient(0deg, #0f6eed 0%, #00d4ff 100%)

    img
      transform: translate(0, -25%)  rotateY(-180deg)

.OnBoarding--PaymentPages
  .Landing--Image
    &:before
      color: #7a47c2;
      background: linear-gradient(0deg, #7a47c2 0%,#9d91d2 100%);
      box-shadow: 1px 1px 0 #9d91d2, 2px 2px 0 #9d91d2, 3px 3px 0 #9d91d2, 4px 4px 0 #9d91d2;

    img
      transform: translate(0, -25%)  rotateY(-180deg)

.OnBoarding--PaymentButtons
  .Landing--Image
    &:before
      content: unset

    img
      left: 0

.OnBoarding--Offers
  .Landing--Image
    &:before
      color: #7a47c2;
      background: linear-gradient(101.32deg, #012980 2.2%, #0072AE 103%);
      box-shadow: 1px 1px 0 #012980, 2px 2px 0 #012980, 3px 3px 0 #012980, 4px 4px 0 #012980;

.OnBoarding--Rewards
  .Landing--Image
    &:before
      color: #7a47c2;
      background: linear-gradient(101.32deg, #012980 2.2%, #0072AE 103%);
      box-shadow: 1px 1px 0 #012980, 2px 2px 0 #012980, 3px 3px 0 #012980, 4px 4px 0 #012980;

.OnBoarding--PaymentLinks
  .Landing--Image
    &:before
      background: #8845fe;
      color: #8845fe;
      background: linear-gradient(to bottom, rgba(2,0,36,1) 0%, rgba(186,109,237,1) 0%, rgba(127,96,235,1) 39%)
      box-shadow: 1px 1px 0 #ba6ded, 2px 2px 0 #ba6ded, 3px 3px 0 #ba6ded, 4px 4px 0 #ba6ded;

    img
      max-width: 600px
      left: 0

.OnBoarding--Invoices
  .Landing--Image
    &:before
      background: #0aca9b
      color: #0aca9b
      background: linear-gradient(45deg,#0aca9b, #01bd97 50%)
      box-shadow: 1px 1px 0 #0aca9b, 2px 2px 0 #0aca9b, 3px 3px 0 #0aca9b, 4px 4px 0 #0aca9b

    img
      transform: translate(0, -25%)  rotateY(-180deg)

.OnBoarding--QRCodes
  .Landing--Image
    &:before
      background: #7a47c2
      color: #7a47c2
      background: linear-gradient(95deg, #0B0B57 16.04%, #5C5CF7 62.56%)
      box-shadow: 1px 1px 0 #0B0B57, 2px 2px 0 #0B0B57, 3px 3px 0 #0B0B57, 4px 4px 0 #0B0B57

    img
      transform: translate(0, -25%)
      right: 0

.OnBoarding--SmartCollect
  .Landing--Image
    &:before
      color: #50a8ed
      box-shadow: 1px 1px 0 #11c0fa, 2px 2px 0 #11c0fa, 3px 3px 0 #11c0fa, 4px 4px 0 #11c0fa
      background: linear-gradient(to bottom, rgba(2,0,36,1) 0%, #00d4ff 0%, #1083f0 39%)

    img
      max-width: 600px
      left: 0

.OnBoarding--Optimizer
  .OnBoarding--Landing
    .Landing--Image
      &:before
        box-shadow none
        position absolute
        width 558px
        height 670px
        right -525px
        top -15px
        background #012980
      img
        max-width 640px
        left -24px

    .joined-button.Button
      background rgba(0, 156, 92, 0.09)
      border 1px solid $green
      color $green
      cursor default
      .i.i-tick
        font-size 11px
        vertical-align middle
        margin-left 7px
        margin-right 11px
      &:hover
        background rgba(21, 177, 27, 0.1)
        border 1px solid $green
      &:active
        color $green

  .OnBoarding--Features
    .joined-button.Button
      background-color $green
      .i.i-tick
        margin-left 7px
        margin-right 11px
      &:hover
        background-color $green
      &:active
        background-color $green

.OnBoarding--Loans
  //min-height: 85vh
  display: flex

  .Product--Details
    position: fixed
    margin-top: 60px
    padding: 0 64px
    margin-left: 15px
    width: 40%
    z-index: 2

    .divider
      height: 3px
      width: 32px
      background-color: #6EEDB3
      margin-top: 6px
      z-index: 2

    @media(max-width: 1024px)
      padding: 0 24px
      width: auto

    .Details-heading
      font-weight: bold

    .Details-title
      font-size: 36px
      line-height: 48px
      margin: 16px 0 8px 0
      font-weight: bold
      color: #0D2366

      @media(max-width: 1024px)
        font-size: 28px

    .Details-desc
      font-size: 18px
      line-height: 28px
      margin-bottom: 20px
      &.privileges
        margin-bottom: 8px

    .DataList
      display: flex
      flex-direction: column
      align-items: flex-start

      .DataList-Item
        font-size: 16px
        display: flex
        line-height: 1.25
        flex: 1
        align-items: center
        min-width: 100px
        margin-top: 8px
        border-color: #cfdadd

        @media(max-width: 767px)
          padding: 0
          display: block

        //b
        //  font-size: 20px

        .i
          margin-right: 12px
          margin-top: 4px
          font-size: 11px
  .Landing--Image
    position: fixed;
    right: 400px;
    bottom: 0;
    .image-wrapper
      overflow: hidden;
      position: relative;

.OnBoarding--Withdrawals
  //min-height: 85vh
  display: flex

  .Product--Details
    margin-top: 64px
    padding: 0 64px
    width: 46%
    z-index: 2

    .divider
      height: 5px
      width: 32px
      background-color: #2CCA74;
      margin-top: 6px
      z-index: 2

    hr
      border-color: rgba(22, 47, 86, 0.07);
      margin-bottom: 0px;

    @media(max-width: 1024px)
      padding: 0 24px
      width: auto

    .Details-heading
      font-weight: 900

    .Details-title
      font-size: 36px
      line-height: 48px
      margin: 16px 0 8px 0
      font-weight: 900
      color: #0D2366

      @media(max-width: 1024px)
        font-size: 28px

    .Details-desc
      margin-top: 10px;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 20px;
      &.privileges
        margin-bottom: 8px

    .DataList
      display: flex
      flex-direction: column
      align-items: flex-start

      .DataList-Item
        font-size: 16px;
        display: flex;
        line-height: 1.25;
        flex: 1;
        align-items: center;
        min-width: 100px;
        margin-top: 14px;
        border-color: #cfdadd;

        .privilege-description
          padding-top: 4px;
          line-height: 20px;
          font-size: 14px;

        @media(max-width: 767px)
          padding: 0
          display: block

        //b
        //  font-size: 20px

        .i
          margin-right: 12px
          margin-top: 4px
          font-size: 11px
  .Landing--Image
    position: absolute;
    right: 360px;
    bottom: -12px;
    .image-wrapper
      height: calc(300px - 40px);
      overflow: hidden;
      position: relative;
      img
        width: 530px;
  .right-floating-card
    right: 90px;

.OnBoarding--RazorpayX
  .Landing--Image
    background: none
    &:before
      background: #242B4D
      box-shadow: 2px 2px 0 #171B2F, 2px 2px 0 #171B2F, 3px 3px 0 #252D5A, 4px 4px 0 #252D5A
    img
      right: 0
    @media(max-width: 1250px)
      display: none
      
  .Slider
    background-image: url("https://cdn.razorpay.com/static/assets/razorpayx/razorpayx-connected-banking-bg.svg")
    background-size: cover
    background-color: transparent
    min-height: 640px

    .SliderDots
      bottom: 12%
      z-index: 5
      
      .SliderDots-dot
        border-color: rgba(255, 255, 255, 0.54)

        &--active
          background-color: rgba(255, 255, 255, 0.54)

  .Product--Details
    margin-top: 60px
    @media(max-width: 1250px)
      width: 100%
      margin-top: 0
      padding: 24px
    
    .Details-heading
      display: none
    
    .Details-desc
      img.razorpayx-logo
        margin-bottom: 14px

      color: rgba(255, 255, 255, 0.74)
      font-size: 16px
      font-weight: 400

    .Button-Container
      @media(max-width: 375px)
        position: static
        display: flex
        justify-content: flex-end

        button.Forward-Button
            margin-top: 40px

.text-razorpayx-orange
  color: #FC6D0B

.text-justified
  text-align: justify;
