.Onboarding-coupon {
  background-image: url('https://cdn.razorpay.com/static/assets/onboarding/onbr-coupon.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  padding: 24px;

  .btn {
    color: #fefefe;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }

  .content {
    max-width: 40%;
    margin: 20px 0 28px 40px;

    .offer-period {
      display: inline-block;
      background: #cd82141c;
      color: #CD8214;
      padding: 8px;
      border-radius: 4px;  
    }

    .credit-text {
      color: #162F56;
      font-size: 20px;
      font-weight: 700;
      margin-top: 20px;  
      .amount {
        color: #1F890D
      }
    }

    .bottom-text {
      color: #162f568f;
      font-size: 16px;
      margin-top: 22px;
      max-width: 96%;
      line-height: 24px;
    }

    &__btn {
      margin-top: 24px;  
      .accept-payment {
        margin-right: 25px;
        padding: 12px 24px;
      }
    }
  }
}
