.Onboarding
  font-size: 14px
  text-align: center

  .illustration
    padding: 130px
    width: 160px
    background-repeat: no-repeat
    background-size: contain
    background-position: center
    margin: 20px auto 0

  .description
    margin: 20px 16px 0

  .form-fields
    margin: 20px 16px 0

    .Input
      margin: 0

  .Button
    margin 20px auto 0


.Onboarding--PaymentPages
  .illustration
    background-image: url('assets/onboarding/reusable-links.svg');
    margin-bottom: 20px

  .btn
    margin-top: 20px
