.Onboarding
  font-size: 14px
  text-align: center

  .illustration
    padding: 130px
    width: 160px
    background-repeat: no-repeat
    background-size: contain
    background-position: center
    margin: 0 auto


.Onboarding--ReusableLinks
  .illustration
    background-image: url('assets/onboarding/reusable-links.svg');
    margin-bottom: 20px

  .btn
    margin-top: 20px

