.OpfinAnnouncement--Modal
  max-width: 1150px

.OpfinAnnouncement__FormModal--modal
  max-width: 930px
  background: white

  button.close
    position: absolute
    right: 20px
    top: 20px
    opacity: 1

    &.inverted-close
      color: white

.opfin-announcement-wrapper
  background-image: url('assets/opfin/opfin_bg.png')
  background-color: #ffffff
  padding: 24px 24px 64px 64px
  background-repeat: no-repeat
  background-position: right
  background-size: contain

  .modal-header
    padding: 0px

    button.close
      color: #ffffff
      opacity: 1

  .opfin-announcement-title
    width: 360px
    color: rgba(22, 47, 86, 0.87)
    width: 500px
    margin-top: 0px
    line-height: 48px

  .opfin-announcement-offer
    display: flex
    margin-top: 48px

    > img
      width: 37px
      height: 37px
      margin-right: 16px

    .opfin-announcement-offer-title
      font-size: 20px
      font-weight: 600
      color: #252525
      line-height: 30px

    .opfin-announcement-offer-description
      width: 360px
      margin-top: 16px
      font-size: 16px
      line-height: 24px
      color: rgba(22, 47, 86, 0.74)

  .opfin-announcement-cta
    margin-top: 64px

    &.Button--primary
      font-weight: 600
      height: 46px
      width: 213px
      font-size: 16px


.hbspt-opfin-nitro-wrapper
  display: table

  .success-message
    padding: 40px
    padding-bottom: 400px
    h3, p
      text-align center

    p
      margin-top 30px

  .hbspt-opfin-nitro-form
    display: table-cell
    width: 560px
    padding: 40px 80px
    background: white

    h1
        color: #252525
        font-size: 20px
        line-height: 30px
        font-weight: 600
        margin-top: 0px

      p
        color: rgba(22, 47, 86, 0.54)
        margin-bottom 16px

    form
      margin: 0 auto

      fieldset
        max-width: none

      .footer
        padding 20px 0 20px 0
        display flex
        justify-content center

        button
          height 50px
          width 260px

    .hs-button
      background: #3281FF
      color: #fff
      border: none
      width: 260px
      margin: 0px auto
      display: block
      height: auto
      border-radius: 3px
      padding: 15px 16px
      font-size: 15px
      cursor: pointer
      font-weight: 600

    .hs-error-msgs label
      color: red
      font-weight: 400
      display: block

    .form-brand-logo
      width: 200px
      margin: 0 auto
      display: block

    .hs-form-radio
      &:not(:first-child)
        margin-left: 8px

    .hs-form-field
      margin-top: 20px

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea
        border: none
        height: 35px
        width: 100%
        border-radius: 8px
        padding: 0 10px
        background: #F3F8FE

      input[type="checkbox"],
      input[type="radio"]
        margin-right: 8px

      select
        width: 100%
        background: #F3F8FE
        height: 35px
        border: none
        padding: 0 8px

      .inputs-list
        display: flex
        align-items: center
        flex-wrap: wrap
        list-style: none
        padding: 0

        li
          margin-bottom: 5px

      label
        .hs-form-required
          color: #ff0000

        span
          font-size: 16px
          font-weight: normal

    .hs_submit
      margin-top: 32px

    .submitted-message
      font-size: 20px
      line-height: 1.5

  .hbspt-opfin-nitro-features
    background-color: #0B2557
    background-image: url('assets/opfin/hubspot_backdrop.svg')
    display: table-cell
    width: 370px
    padding-left: 48px
    background-size: cover
    padding-left: 48px
    background-repeat: no-repeat
    background-blend-mode: lighten

    .hbspot-opfin-nitro-features-title
      font-size: 20px
      line-height: 30px
      color: white
      font-weight: 600
      margin-bottom: 48px

    .hbspot-opfin-nitro-offer
      margin-bottom: 20px
      display: flex

      > img
        width: 20px
        height: 20px
        margin-right: 16px
        margin-top: 2px

      > span
        font-size: 16px
        line-height: 24px
        color: white

    .hbspt-opfin-nitro-features-list
      margin-top: 48px
      padding: 0

      li
        list-style: none;
        font-size: 16px
        color: rgba(255, 255, 255, 0.87)
        margin-top: 24px

      li::before
        content: ''
        display: inline-block
        height: 17px
        width: 17px
        background-image: url('assets/opfin/success-tick-circle.png')
        margin-right: 16px
        vertical-align: middle
        background-size: contain
