$fux-text-color = #162f56de;

.Partner-Dashboard {
  &__View-Credentials {
    .toggle-password {
      position: relative;

      .btn-show-secret {
        position: absolute;
        top: 50%;
        bottom: 50%;
        right: 15px;
        font-size: 12px;
      }
    }
  }
}

.partner-dashboard-header {
  @media (max-width: 625px) {
    padding-top: 40px;
  }
}

.partner-welcome {
  min-height: 492px;
  display: flex;
  flex-direction: column;

  .main-title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* or 125% */
    text-align: center;
    color: #58666E;
  }

  .sub-title {
    font-family: Lato;
    text-align: center;
    color: #58666E;
    font-weight: 400;
  }

  .action-area {
    div {
      display: flex;
      flex-direction: row;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      div {
        flex: 1;
        align-self: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        p {
          font-family: Lato;
          font-style: normal;
          font-size: 14px;
          line-height: 17px;
          color: #58666E;
        }

        .social-share-btn-grp {
          flex-direction: row;
          padding-top: 20px;
          display: 'flex';
          justify-content: space-around;

          img {
            padding-left: 20px;
            height: 35px;
            cursor: pointer;
          }

          img:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  .line-height-9 {
    line-height: 9px;
  }
}

.social-share-btn-grp {
  padding-top: 24px;
  text-align: center;

  div {
    display: inline-block;
  }

  img {
    display: inline-block;
    padding-left: 20px;
    height: 35px;
    cursor: pointer;
  }

  img:hover {
    opacity: 0.8;
  }
}

.SubmerchantDetail__Panel {
  .submerchant-name {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
    height: 50px;
  }

  .btn-toolbar{
    @media(max-width: 470px){
      margin-left: -4px !important;
      margin-bottom: 8px;
    }
  } 
}

.SelectBox.SelectBox-partner-dashboard
  cursor: pointer
  padding: 18px 24px;
  margin-bottom: 0;
  display: block;

  .content
    display: flex;
    justify-content: space-between;
    align-items: center;

  &:not(:last-child)
    margin-bottom: 0;

  .SelectBox-action
    i.i-check
      font-size: 18px;
      color: #E7EBF1;
  
  &:hover
    background: #F6F9FE;
  
  &.checked
    border-left: 5px solid #518FF0;
    padding: 18px 24px 18px 20px;

    .SelectBox-action
      i.i-check
        color:#518FF0;

.referral-box-modal
  .social-share-btn-grp
    text-align: right;
    padding-top: 20px;
    
  .input-group
    width: 100%;
    .ClipboardCustom
      display: block;
      input
        width: calc(100% - 100px)
      
.sub-merchants-list
  .submerchant-filter-wrapper
    display: flex;
    justify-content: space-between;
    align-items: center;

    button.btn.export-all-btn
      position: relative
      top: -5px;

  .list-filter-container
    width: calc(100% - 160px);

  &.page-x
    .data-table
      td:nth-child(4)
        align-items: flex-start;

  .rzp-popover.rzp-tooltip 
    white-space: normal;
  .data-table
    th
      text-align: center;
    td 
      text-align: center;
      vertical-align: middle;

      // to truncate name email
      white-space: nowrap;
      max-width: 220px;
      overflow: hidden; 
      text-overflow: ellipsis; 

    // aligining component SubMerchantKycStatusLabel in table
    td:nth-child(4)
      max-width: 260px;
      display: flex;
      align-items: center;
      flex-direction: column;

      .no-description
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 0px;
    
  .reseller-kyc-experiment-disabled
    .data-table
      th
        text-align: left;
      td 
        text-align: left;
        vertical-align: middle;


.submerchant-kyc-description
  font-family: Lato;
  font-size: 12px; 
  font-weight: 400;
  font-style: normal;
  line-height: 17px;
  min-height: 17px;
  // color: #A8A8A8;

// Styles for SubMerchant/components/DetailsAction.js
.details-action-container
  position: absolute;
  left: 0;
  right: 0;
  padding-bottom: 70px;

.action-kyc-request
  button 
    width: 160px;
  white-space: nowrap;
  display: flex;
  justify-content: center;

.action-kyc-request-disable
  opacity: 30%;
  pointer-events: none;
.action-kyc-request-full-rejected
  button 
    background: #D12D2D1A;
    border: 1px solid #f05050;
    &:hover
      background: #D12D2D1A;
      border: 1px solid #f05050;
    div
      color: $textDangerColor

.submerchant-details-action
  display: flex;
  padding-right: 20px;
  border: 1px #162F561A;
  border-style: solid none;
  &:last-child
    border-style: none;

  .icon-container
    flex: 0 0 14%;
    display: flex;
    justify-content: center;
    margin-top: 18px;

  .icon
    max-width: 24px;
    border-radius: 100%;
    min-width 22px;
  
  .details-container
    margin-top: 20px;
    margin-bottom: 20px;

    .title 
      color: #162F568A;
      
    .description
      color: #162F56BD;
      margin-top: 5px;
      margin-bottom: 10px;

      span
        white-space:nowrap;

    button 
      margin-top: 16px;

  .waiting-approval
    display: flex
    justify-content: center
  
  .default-img
    margin: 17px 0;

.request-access-kyc
  background-color: #F8FBFF; 
  margin-top: 16px

.earnings-page
  .page-heading
    font-size: 24px;
    font-weight: 600;
    color: #162f563d;
    padding-bottom: 8px;
  .fux-cards-close
    .close-icon
      position: absolute;
      right: 30px;
      top: 15px;
      color: #162f5661;
      -webkit-text-stroke: 3px white;
      font-size: 24px;
      font-weight: 300;
  .fux-commission-cards
    color: $fux-text-color;
    background: linear-gradient(249.98deg, #FFFFFF 57.5%, #F6F6F6 116.05%);
    border-radius: 4px;
    position: relative;
    &.lg
      @media(max-width: 1300px)
        display: none;
    .card-title
      font-weight: bold;
      font-size: 20px;
      margin: 16px 30px 0;
      padding-top: 16px;
    .card-wrapper
      display: flex;
      justify-content: space-between;
      @media(max-width: 767px)
        flex-direction: column;
      .card-body
        display: flex;
        flex: 1;
        background: #F9FAFF;
        box-shadow: 0px -4px 13.4769px #0b70e71a;
        border-radius: 4px;
        margin: 40px;
        margin-top: 20px;
        padding-bottom: 12px;
        overflow: hidden;
        &:first-child
          margin-right: 20px;
          @media(max-width: 500px)
            margin: 8px;
            margin-bottom: 20px;
        &:last-child
          margin-left: 20px;
          @media(max-width: 500px)
            margin: 8px;
        ul
          width: 100%;
          list-style: none;
          margin: 32px 16px;
          li
            &:before
              content: " ";
              background: url(https://cdn.razorpay.com/static/assets/partner-dashboard/fux-cards/commission-guide/earning-list.svg) no-repeat;
              display: inline-block; 
              width: 24px;
              height: 24px;
              margin-left: -36px;
              font-size: 18px;
              margin-top: 12px;
        .text-content
          width: 100%;
          z-index: 1;
          @media(max-width: 1300px)
            z-index: 1;
          .title-text
            font-weight: 700;
            font-size: 22px;
            margin: 30px;
            margin-bottom: 0;
            @media(max-width: 1300px)
              font-size: 18px;
          .sub-text
            font-size: 15px;
            line-height: 16px;
            text-align: start;
            margin: 30px;
            margin-top: 4px;
            margin-bottom: 25px;
            width: 75%;
            @media(max-width: 1300px)
              font-size: 13px;
          .list-title
            font-size: 15px;
            line-height: 18px;
            font-weight: 700;
            margin-bottom: 4px;
            margin-top: -30px;
          .list-subtext
            font-size: 13px;
            line-height: 16px;
            color: #162f56bd;
            width: 60%;
            @media(max-width: 1300px)
              width: 70%;
        .card-image
          width: 200px;
          height: 100%;
          position: relative;
          @media(max-width: 1300px)
            width: auto;
            height: auto;
            position: relative;
          img
            position: absolute;
            opacity: .8;
            @media(max-width: 1300px)
              z-index: 0;
              opacity: 0.2;
          &.bonus-image
            img
              right: -110px;
              bottom: -50px;
              @media(max-width: 1300px)
                right: -75px;
                bottom: -40px;
                width: 270px;
          &.rewards-image
            img
              top: -55px;
              right: -245px;
              @media(max-width: 1300px)
                width: 270px;
                right: -135px;
                top: auto;
                bottom: 15px;
  .payouts-card
    display: flex;
    align-items: center;
    color: $fux-text-color;
    background: linear-gradient(249.98deg, #FFFFFF 57.5%, #F6F6F6 116.05%);
    border-radius: 4px;
    position: relative;
    margin-top: 8px;
    overflow: hidden;
    @media (max-width: 1180px) 
      flex-direction: column;
    .card-header
      display: flex;
      align-items: center;
      position: relative
      margin-right: 18px;
      @media (max-width: 1180px) 
        width: 100%;
      &:after
        content: " ";
        height: 60px;
        width: 2px;
        right: 0;
        background: #edf0f5;
        margin-left: 16px;
        @media (max-width: 1180px) 
          display: none;
      .header-bg
        background: url(https://cdn.razorpay.com/static/assets/partner-dashboard/fux-cards/commission-guide/payouts-card-bg.svg) no-repeat;
        padding: 13px;
      .header-title
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    .card-body
      flex: 2;
      @media (max-width: 1180px) 
        padding: 18px;
        padding-bottom: 8px;
      .card-title
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
      .card-subtext
        font-size: 14px;
        line-height: 18px;
        color: #162f568a;
        margin-top: 4px;
    .card-cta-wrapper
      flex: 1;
      @media (max-width: 1180px) 
        width: 100%;
      .read-more
        font-weight: bold;
        font-size: 14px;
        color: #2B83EA;
        display: flex;
        align-items: center;
        margin-left: 40px;
        
        @media (max-width: 1180px) 
          margin-left: 18px;
          margin-bottom: 18px;

        .fa-arrow-right
          cursor: pointer;
          font-size: 16px;
          font-weight: 800;
          -webkit-text-stroke: 1px white;
          margin-left: 8px;
  
  .empty-daily-list
    .daily-list-msg
      font-size: 15px;
      line-height: 20px;
      color: $fux-text-color;
      margin: 8px;
      text-align: center;
    .daily-list-fux-cards
      display: none;
    @media(max-width: 1300px)    
      .fux-empty-daily-list
        display: none;
      .daily-list-fux-cards
        display: flex;
        flex-direction: column;
        align-items: center;
 