.Partner-Dashboard {
  &__View-Credentials {
    .toggle-password {
      position: relative;

      .btn-show-secret {
        position: absolute;
        top: 50%;
        bottom: 50%;
        right: 15px;
        font-size: 12px;
      }
    }
  }
}
.partner-welcome {
  min-height: 492px;
  display: flex;
  flex-direction: column;
  .main-title{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* or 125% */
    text-align: center;
    color: #58666E;
  }
  .sub-title{
    font-family: Lato;
     text-align: center;
    color: #58666E;
    font-weight:400;
    }
  .action-area{
    div{
      display: flex;
      flex-direction: "row"
      div{
        flex:1;
        align-self: center;
        justify-content: center;
        flex-direction: column;
        align-items:center;
        p{
          font-family: Lato;
          font-style: normal;
          font-size: 14px;
          line-height: 17px;
          color: #58666E;
        }
        .social-share-btn-grp{
          flex-direction: row;
          img{
            padding-left: 20px;
            }
        }
      }
    }
   }
}