.sub-merchants-list {
  &--stats {
    & > div {
      width: calc(33% - 16px)
      margin-left: 16px
    }
  }
}

.Commission
  &--Detail
    .pair-group-item
      padding-top: 0

      &.vertical
        .pair-label
          float: none
          margin-bottom: 8px
          line-height: 1

    .sub-heading
      padding: 18px 8px 8px 0

      &.muted
        color: #8991ae

    .EarningsBreakup
      text-align: center

      &--Total
        font-size: 16px
        font-weight: 700

      &--Components
        font-size: 14px

      .pair-value
        width: 100%

.CommissionList
  &--Daily
    .list-filter-item
      flex-basis: auto

.VerticalBreakup
  &--item
    position: relative
    padding-left: 10px
    margin-top: 12px

    &:before
      position: absolute
      left: 0
      content: ''
      border-radius: 50%
      background-color: #D8D8D8
      width: 5px
      height: @width

    &:after
      position: absolute
      content: ''
      top: 7px
      bottom: 5px
      left: 1.5px
      width: 1px
      background-color: alpha(#979797, 0.2)

    &:before,
    &:after
      margin-top: 3px

    &:first-child
      &:before
        width: 7px
        height: @width
        background-color: $primary-color

      &:after
        top: 9px
        width: 1px
        left: 2.5px

      &:before,
      &:after
        margin-left: -1px
        margin-top: 5px

.partner
  &--onbr-img
    width: 660px
    height 580px
    border-radius: 2px 0px 0px 2px
    background: #F4FAFF
    img
      max-width: 100%
      max-height 100%

  &--onbr-content
    width: 660px
    position relative
    height 580px
    border-radius: 2px 0px 0px 2px
    background: #F4FAFF

  &--onbr-screen
    position relative

  &--welcome
    font-weight: 900
    font-size: 40px
    line-height: 48px
    margin-top: 116px
    color: #0D2366
    
  &partner--info
    font-size: 16px
    line-height: 24px
    color: #8B9498
    margin-top: 16px
  &--cmsn
    background: #F4FAFF
    border: 1px solid #D1E9FC
    box-sizing: border-box
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.118716)
    border-radius: 2px
    font-size: 17px
    line-height: 22px
    color: #3A4F5B
    padding: 17px
    margin-top: 20px
  &--btns
      bottom: 30px
      position: absolute
      bottom: 30px
      display: flex
      justify-content: space-between
      align-items: center
      padding: 0px 20px
      margin-bottom: 0px
      width: 100%
     button
        background-color: #3b80ee
        color: #fff
        border-radius: 4px
  
        &:hover
          background-color: #3b80ee
        &:active
          color: #58666e
          background-color: #dcdcdc

        &:disabled
          cursor: not-allowed !important
          opacity: 0.5
  &--back
    font-size: 16px
    line-height: 19px
    color: #528FF0
  &--type
      padding: 0px
      li
        background-color: white
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.28442)
        border-radius: 2px
        border-radius: 2px
        border-left: 4px solid  rgb(59,128,238)
        padding: 15px 0px 15px 10px
        margin-top: 20px
        list-style-type: none
        font-size: 14px
        line-height: 20px
        color: #57666E
        label
          margin-left: 10px
          display: flex
          div
            margin-left: 12px 
  li&--selected
    background-color: rgba(59,128,238,0.05)
  
  &--role-notes
    font-size: 14px
    line-height: 20px
    color: #57666E
    margin-top: 20px
