.sub-merchants-list {
  &--stats {
    & > div {
      width: calc(33% - 16px)
      margin-left: 16px
    }
  }
}

.Commission
  &--Detail
    .EarningsBreakup
      text-align: center

      &--Total
        font-size: 16px
        font-weight: 700

      &--Components
        font-size: 14px

      .pair-value
        width: 100%

.CommissionList
  &--Daily
    .list-filter-item
      flex-basis: auto
