.partner-onboarding-base-screen
    min-height:403px;
    border-radius: 4px;
    background: #FEFEFF;
    background-repeat:no-repeat;
    background-size:603px;
    background-position: top 0 right 0%;
    font-family: Lato;
    font-style: normal;
    padding: 56px;
    .partner-onbr-info
      min-height: 260px;
      p
        font-size: 14px;
    .title
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #57666E;
    .line-shadow-box
      background-color: #fff;
      box-shadow: 0px 2px 5px rgba(0,0,0,0.284);
      border-radius: 2px;
      border-radius: 2px;
      border: solid 1px;
      border-left: 4px solid;
      padding: 15px 0px 15px 10px;
      margin-top: 20px;
      list-style-type: none;
      font-size: 14px;
      line-height: 20px;
      color: #57666e;      
    .brd-primary
      border-color:rgba(63, 214, 154, 0.4);
      border-left-color:rgb(63, 214, 154);
    .info
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
    .info-green
      color: #3FD69A;
    .info-grey
      color: #57666E;
    .info-blue
      color:#518FF0;
     .options-group
       margin-top:21px;
       div.value
         height: 102px;
         background: #FFFFFF;
         border: 1px solid #D6D6D6;
         box-sizing: border-box;  
         padding:20px;
         display:flex;
         align-content:center;
         cursor: pointer;
      div.value.active
        background: rgba(81, 143, 240, 0.05);
        border-left: solid 4px #518FF0;
        div.check i 
          color:#518FF0;
        .info-grey
           color:#518FF0;
      div.check
        flex:1;
        align-self:center;
        i
          font-size: 18px;
          color: #D9D9D9;
      .no-bottom-border
        border-bottom-width:0px !important;
      .no-top-border
        border-top-width:0px !important;
      .tnc-box
        background: #FFFFFF;
        border: 1.8px solid #EBEBFD;
        box-sizing: border-box;
        border-radius: 4px;
        padding:16px;
        max-height: 300px;
        overflow-y: scroll;
        margin-top:22px;
    .slide-controller
      display:flex;
      align-items:center;
      div
        flex:1;
        justify-content: space-between;
      .SliderDots
          text-align: left;
      .slider-btn
        background: #518FF0;
        border: 1px solid #3B80EE;
        box-sizing: border-box;
        border-radius: 2px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        width: 100px;
        color: #FFFFFF;
        i
          padding:2px;
          line-height: 8px;

@media (min-width: 900px) 
  .partner-onboarding-base-screen
    min-width:850px;
    background-image:url('assets/onboarding/prt-bkg.png')
    .partner-onbr-info
      width: 50%;
  .slide-controller-wrapper
    width:50%;
@media  (min-width: 320px) and (max-width: 1024px)
 .partner-onboarding-base-screen
    width:80vw;
    
  .slide-controller-wrapper
    .slide-controller
      display: block;
      div
        display: inline-block;
@media  (min-width: 320px) and (max-width: 600px)
 .partner-onbr-info
    width:100%;
 .slide-controller-wrapper
    width: 100%;

    