.sub-merchants-list {
	&--stats {
		& > div {
			width: calc(33% - 16px)
			margin-left: 16px
		}
	}
}

.parnter-settings {
	&--webhook-details {
		.manage-webhook {
			margin: 10px auto;
			display: block;
		}
	}
}