.Partner-Dashboard {
  &__View-Credentials {
    .toggle-password {
      position: relative;

      .btn-show-secret {
        position: absolute;
        top: 50%;
        bottom: 50%;
        right: 15px;
        font-size: 12px;
      }
    }
  }
}
