.Modal-mask.Modal-mask--password-relogin
  background-color: rgba(17,30,60,0.8);
  text-align: center
  z-index: 999999 // Has to be highest, but below notifications

  .Modal-container
    top: 40%

  .heading
    font-size: 16px
    font-weight: 600
    line-height: 24px;
    font-style: normal;
    color: #FFFFFF;

    &::after
      content: ''
      display: block
      margin: 0 auto
      width: 24px
      height: 4px
      background: #75D7B7;
      margin-top: 8px

  .unlock-btn
    background: #4285F4;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 2px 48px 2px 0;
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 12px;
    min-width: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right auto
    img
      margin-right: 48px;
      width: 32px;
      height: 32px;

  form
    margin: 20px auto

    button, .Input
      margin-top: 12px
      margin-bottom: 12px

    .Input
      width: 220px

    button, .Input-el
      height: 40px

    button
      padding: 10px 30px
      font-weight: 600
  p
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;

    button
      margin-left: 4px
      color: #2A8CFF;
      font-size: 14px;
      line-height: 20px;

  .Modal-container
    background: transparent

  .separator-container
    position: relative;
    padding: 30px 14px 10px 14px;

  .separator
    background: #fff;
    border-radius: 2px;
    height: 1px;
    width: 126px;
    &.left
      float: left;
    &.right
      float: right;

  .separator-container .text
    position: absolute;
    top: 18px;
    left: calc(50% - 20px);
    z-index: 1;
    padding-left: 14px;
    padding-right: 14px;
    color: #fff;
    font-weight: 600

  .g-recaptcha
    width: 304px;
    margin: auto;

