.Modal-mask.Modal-mask--password-relogin
  background-color: rgba(17,30,60,0.8);
  text-align: center
  z-index: 999999 // Has to be highest, but below notifications

  .Modal-container
    top: 40%

  .heading
    font-size: 16px
    font-weight: 600
    color: rgba(255,255,255,0.96)

    &::after
      content: ''
      display: block
      margin: 0 auto
      width: 24px
      height: 4px
      background: #49dab5
      margin-top: 20px

  form
    margin: 20px auto

    button, .Input
      margin-top: 12px
      margin-bottom: 12px

    .Input
      width: 220px

    button, .Input-el
      height: 40px

    button
      padding: 10px 30px
      font-weight: 600
  p
    color: rgba(255,255,255,0.96)
    line-height: 24px
    font-size: 12px

    button
      margin-left: 4px
      font-size: 12px

  .Modal-container
    background: transparent
