.PaymentHandle--Modal
  .handle-link
    font-size: 14px
    line-height: 36px
    color: #213554
    height: 36px
    width: 100%
    background: #EEE
    border: 1px solid #E2E2E2
    border-radius: 2px
    overflow: hidden
    padding: 0 12px
    -webkit-touch-callout: none;
    user-select: none;

    span:first-child
      color: #162F568A

  .suggested-handle
    font-weight: 600;

  .handle-availability
    display: flex;
    align-items: center;
    font-size: 12px;

    .handle-name
      font-weight: 600;
      padding: 0 3px 0 5px;

  .handle-input-container
    .Input
      margin-top: 10px;

  .amount-input-container
    margin-bottom: 10px;

    .InputGroup
      margin-top: 15px;

    .Input-label
      padding-bottom: 8px;

  .loader-container
    display: flex;
    align-items: center;
    justify-content: center;

    .text
      padding-left: 5px;

  .Modal__actions
    padding-top: 28px;

    .btn
      width: 100%;
      font-weight: 600;
