.payment-pages-v2
  .page-nav
    color: #fff
    background: linear-gradient(223.96deg, #5D89E5 0%, #3059C0 100%);
    padding: 12px
    position: relative

    .page-size
      width: 100%
      max-width: 1440px
      margin: 0 auto
      display: table
      position: relative

      > div
        display: table-cell
        vertical-align: middle

      .page-title
        font-size: 18px
        font-weight: 600
        padding-left: 8px

      .page-action
        float: right
        margin-right: 56px

        button
          line-height: 10px
          padding: 10px 28px

    .close-btn
      font-size: 24px
      line-height: 14px
      position: absolute
      top: 9px
      right: 8px
      color: #fff

      &:hover
        color: #cbdfff
