.ModalForm--Share
  .Share-section
    padding-top: 24px

  .Share-section:not(:last-child)
    border-bottom: 1px solid rgba(155,155,155,0.19);
    padding-bottom: 24px

  .social-media
    float: right
    overflow: auto

    a
      margin-left: 16px
    img
      pointer-events: none
      width: 24px

  .ClipboardCustom .Input
    margin-bottom: 0
    width: 179px

  .Form .Input
    margin-top: 0

.Entity--paymentpage .panel-heading .text
  width: 68%
  display: inline-block
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  vertical-align: bottom
  font-weight: 600
