.Modal-mask.Modal-mask--payment-pages-v2-intro
  background-color: rgba(17,30,60,0.8)
  text-align: center
  z-index: 999999 // Has to be highest

  .Modal-container
    top: 40%

  .heading
    font-size: 24px
    font-weight: 600
    color: #fff

  button
    height: 40px
    padding: 10px 60px
    margin: 12px auto 0
    font-weight: 600

  p
    color: #fff
    line-height: 24px
    font-size: 16px
    margin: 12px 0 16px

  .Modal-container
    background: transparent

.Modal-mask--payment-pages-v2-creator
  .Modal-container
    top: 40%
    overflow: visible

  footer
    padding: 16px
    background: #f6f6f6
    border-top: 1px solid #e0e0e0
    text-align: right

    button
      margin-right: 30px

    .Button--primary
      margin-right: 0
      padding: 8px 32px

.Modal-mask--paymentpages-settings
  background: #fff

  .main-title
    font-weight: 600
    padding: 16px 24px 4px
    font-size: 18px

  .Modal-container
    width: 400px

  .settings-section
    padding: 24px

    .Input
      margin-top: 0

    &:not(:last-of-type)
      border-bottom: 1px solid #ececec

  .Input .Input-valueBefore + .Input-el
    padding-left: 182px

  .Input
    margin-bottom: 0

  .Input-content
    margin-top: 4px

  .Input--theme, .Input--expiryby
    .Input-label, .Input-content
      display: inline-block

    .Input-content
      margin-left: 28px
      margin-top: -4px
      vertical-align: middle

  footer
    padding: 16px 24px
    background: #f6f6f6
    border-top: 1px solid #e0e0e0
    text-align: right

    .Button--transparent
      padding: 10px 20px

    button:last-of-type
      margin-right: 0


#wysiwyg-root
  padding-top: 30px
  animation: 0.3s fadein ease-in

/* Paymentpages v2 styles*/
#payment-pages-v2
  .spinner-container
    text-align: center
    padding: 100px 0

  .page-nav
    color: #fff
    background-color: #2F3445
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.24)
    padding: 12px
    position: fixed
    width: 100%
    z-index: 2
    min-width: 854px

    .page-size
      width: 100%
      max-width: 1440px
      margin: 0 auto
      display: table
      position: relative

      > div
        display: table-cell
        vertical-align: middle

      .page-title
        font-size: 18px
        font-weight: 600
        padding-left: 8px

        span
          opacity: 0.35
          font-weight: 400

      .page-action
        float: right
        margin-right: 56px

        button
          line-height: 10px
          padding: 10px 28px
          height: 32px
          vertical-align: top

    .close-btn
      font-size: 24px
      line-height: 14px
      position: absolute
      top: 5px
      right: 4px
      color: #fff
      cursor: pointer
      padding: 4px

      &:hover
        color: #fff
        opacity: 0.7

  .btn-link
    padding-left: 0


  // Wysiwyg elements
  #details-section
    label
      display: inherit

    .remove-btn
      display: inline-block
      vertical-align: middle
      margin-left: 16px
      visibility: hidden
      opacity: 0
      transition: 0.08s

    > div
        &:hover
          .remove-btn
            opacity: 1
            visibility: visible

        .Input-el
          background: transparent
          resize: none
          border: 1px solid transparent

        .Input-highlight .Input-el
          &[name="title"], &[name="description"]
            border-color: #eee

        .Input-el.Input-el
          &:hover
            border-color: #e2e2e2

          &:focus
            background: #fff
            border-color: $primary-color
            resize: vertical

    .Input-el
      font-size: 14px

    .title--big
      .Input-el
        min-height: 42px
        font-size: 24px
        line-height: 32px
        font-weight: 600

    textarea.Input-el
      min-height: 30px
      height: 30px
      max-height: 230px // Supports 720 char on desktop
      line-height: 22px

      &[name="description"]
        min-height: 70px

    .Input
      margin: -4px -6px

      .Input-el
        padding: 3px 5px
        position: relative

  #share-details, #support-details, #terms-details
    .wysiwyg-edit-layer
      margin-top: -8px

  #share-details, #support-details
    .share-icons
      span
        vertical-align: middle

      span:not(:last-of-type)
        margin-right: -8px

  #support-details
    .sub-detail
      .Input
        width: calc(100% - 132px)
        display: inline-block
        vertical-align: middle
        margin: 0

      .Input-el
        height: 28px
        background: transparent
        color: #0D2366 // Same as in customer-facing view

  .title--big
    .Input-el
      padding: 1px 5px 2px // 1px less cuz of border

    .fake-textarea
      line-height: 32px
      font-size: 24px


  #form-section
    #form-footer
      .btn > div
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)

    .i-fix-sort
      font-size: 10px

    .i-fix-number
      font-size: 10px

    .i-fix-alphabet
      font-size: 11px

  .wysiwyg-edit-layer
    position: relative
    margin: -4px -6px
    padding: 4px 6px
    border-radius: 2px
    cursor: pointer

    .action-btn
      position absolute
      top: 8px
      right: 8px
      font-size: 20px
      padding: 2px 8px
      cursor: pointer
      visibility: hidden

      &:hover
        color: $textDangerColor

    &:not(.disable-hover):hover
      background-color: #fff
      box-shadow: 0 5px 13px 0 rgba(0,0,0,0.14)

    &:hover
      .action-btn
        visibility: visible

      .Input-info
        transform: translateY(-50%)
        opacity: 1

        @media (max-width: 1024px)
          transform: none

  .help-content
    position: relative

    .rzp-popover
      white-space: normal

  //Override Styles
  .Input-info
    left: 100%
    color: #fff
    background-color: #2c3243
    line-height: 20px
    min-width: 180px
    white-space: pre-line

    &::before
      border-right-color: #2c3243

    @media (max-width: 1024px)
      left: 0

      &::before
        border-right-color: transparent
        border-bottom-color: #2c3243


/* Overriding styles of UI-form */
#payment-pages-v2 .UI-form
  .wysiwyg-edit-layer
    &.Field
      margin: 24px -44px -8px
      padding: 8px 44px

      .Field-description
        transform: none
        margin-bottom: 0

    &.Field--disabled .Field-el
      pointer-events: none

  .Input-info
      left: calc(100% - 44px)
      top: -4px
      margin-left: 0
      margin-top: 8px
      transform: translate(-100%, -100%) !important

      &:before
        border-right-color: transparent
        border-bottom-color: transparent
        border-top-color: #2c3243
        left: 50%
        transform: translateX(-50%)
        top: unset
        bottom: -16px


/* Styles for creator modal */
.paymentlinks-creator
  .section
    padding: 24px

    .Input-error
      position: absolute
      white-space: nowrap
      font-size: 13px

    .Input-elWrapper.Select-elWrapper::before
      top: 3px

    .Input-el:not([type=checkbox])
      height: 32px

  .section-1
    border-bottom: 1px solid #efefef

    & > div
      width: 50%
      display: inline-block
      padding: 0
      margin: 0

  form[name="form_creator_generic"]
    .Input:not(.Input--checkbox) .Input-content
      margin-top: 8px

    .section-1
      .Input-label
        top: 0

      .Input
        padding-right: 44px
        vertical-align: top

      .Input-el:not([type=checkbox])
        min-width: 200px

    .section-2
      .Input--description
        margin: 0 0 0 24px


  form[name="form_creator_amount"]
    .section-1
      .Input-addons
        width: 32px
        line-height: 32px
        background: transparent !important

      .Input-el
        padding-left: 32px

      .Input-content, .Input-label
        display: inline-block

      .Input-content
        vertical-align: middle

      .Input-label
        top: 8px
        margin-right: 16px
        float: left

      .Input-el:not([type=checkbox])
        width: 160px

    .section-2
      .Input-el:not([type=checkbox])
        height: 32px
        width: 80px
        padding: 0 8px


  .section-2
    > .Input:nth-of-type(1)
      margin-top: 0

    .Input .Input
      display: inline-block
    .checkbox-Input
      margin: -8px 4px


/* Style for extendable-on-keypress text area */
.fake-textarea
  overflow: hidden
  word-wrap: break-word
  white-space: pre-wrap
  height: 0
  margin: 0 16px 0 -6px // Has no vertical footprint. 16px to act as look-ahead while typing -6 is same as .Input
  padding: 0 5px
  line-height: 20px
  font-size: 14px
