.provider-name
  .gateway-logo
    max-height: 20px;
    margin-right: 6px;

.provider-external-link
  margin-top: 8px;

.provider-table-view
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

.txn-details
  .opt-remove-margin
    margin-bottom: 0;
    .SliderPanel__Body
      .optimizer-panel-body
        padding-bottom: 0;
        height: 100vh;
        overflow-y: scroll;
      .optimizer-refund-panel-body
        padding-bottom: 0;
        height: 86vh;

.optimizer-payment-details
  position: sticky;
  bottom: 0;
  z-index: 1;
  margin: 0 -15px;
  background-color: #f9fafb;
  padding: 12px 15px 200px;
  margin-top: 15px;
  .heading
    font-weight: 600;
    padding: 8px;
    color: #333333;
    border-bottom: 1px solid #DFE5E7;
    margin-bottom: 7px;
    .i.i-routing
      margin-right: 7px;

.optimizer-payment-details-shadow
  box-shadow: 0px -2px 5px 0px rgb(138 150 181);