.capture-settings{
	background: white
	.content{
		display: flex
		flex-direction: column
		background: white

		.section{
			display: flex
			flex: .4
			flex-direction: row
			padding-left: 20px

			.section-action{
				display: flex
				flex: .1
				margin-top: 15px
				margin-left: -5px
				justify-content: center
			}

			.margin-top-20{
				margin-top: 20px
			}

			.margin-top-2{
				margin-top: 2px
			}

			.section-content{
				display: flex
				flex: .9
				flex-direction: column
				justify-content: center

				.title{
					font-weight: bold
					font-size: 15px
					line-height: 20px
					color: #515978
				}

				.description{
					color: #7B8199
					font-size: 13px
					padding-right: 30px
					padding-top: 5px
				}
			}
		}

		.actions{
				display: flex
				flex: .2
				flex-direction: column
				padding: 15px 23px 15px 23px
				justify-content: center
		}

		.dual-actions{
			display: flex
			flex: .2
			flex-direction: row
			padding: 15px 23px 15px 23px
			justify-content: space-evenly

			button{
				width: 42%
				height:75%
			}
		}
	}

	.content-small{
		height: 250px
	}
	
	.content-medium{
		height: 280px
	}
}

