.Modal-mask--payment-pages-v2
  footer
    padding: 16px
    background: #f6f6f6
    border-top: 1px solid #e0e0e0
    text-align: right

    button
      margin-right: 30px

    .Button--primary
      margin-right: 0
      padding: 8px 32px


.payment-pages-v2
  .page-nav
    color: #fff
    background-color: #2F3445
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.24)
    padding: 12px
    position: relative
    z-index: 2

    .page-size
      width: 100%
      max-width: 1440px
      margin: 0 auto
      display: table
      position: relative

      > div
        display: table-cell
        vertical-align: middle

      .page-title
        font-size: 18px
        font-weight: 600
        padding-left: 8px

      .page-action
        float: right
        margin-right: 56px

        button
          line-height: 10px
          padding: 10px 28px

    .close-btn
      font-size: 24px
      line-height: 14px
      position: absolute
      top: 5px
      right: 4px
      color: #fff
      cursor: pointer
      padding: 4px

      &:hover
        color: #fff
        opacity: 0.7

  .btn-link
    padding-left: 0

    &:hover
      color: $primary-color
      text-decoration: none


  #details-section
    .Input-elWrapper
      font-size: inherit

    .title--big
      .Input-el
        height: 40px
        font-size: 24px
        line-height: 32px
        font-weight: 600

    textarea.Input-el
      min-height: 72px
      max-height: 230px // Supports 720 char on desktop


  #share-details, #support-details, #terms-details
    .wysiwyg-edit-layer
      margin-top: -8px

  #share-details, #support-details
    .share-icons
      span:not(:nth-last-child(1))
        margin-right: -8px

    .icons--grayscale
      float: right
      filter: grayscale()
      opacity: 0

  #share-details
    input
      position: absolute
      display: block
      width: 100%
      height: 100%
      opacity: 0
      left: 0
      top: 0
      right: 0
      margin: 0
      cursor: pointer

  #support-details
    .sub-detail
      .Input
        width: calc(100% - 28px)
        display: inline-block
        vertical-align: middle
        margin: 0

      .Input-el
        height: 28px
        border: none
        background: transparent
        color: #0D2366 // Same as in customer-facing view


  #details-section
    .Input
      margin: -4px -6px

      .Input-el
        padding: 3px 5px
        position: relative


  .title--big .Input-el
    padding: 1px 5px 2px // 1px less cuz of border


  #form-section
    #form-footer
      .btn > div
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)

  .wysiwyg-edit-layer
    position: relative
    margin: -4px -6px
    padding: 4px 6px
    border-radius: 2px
    cursor: pointer

    &:not(.disable-hover):hover
      background-color: #fff
      box-shadow: 0 5px 13px 0 rgba(0,0,0,0.14)

    &:hover
      .close-btn
        opacity: 0.5

      .share-icons.icons--grayscale
        opacity: 0.2

      .Input-info
        transform: translateY(-50%)
        opacity: 1

        @media (max-width: 1024px)
          transform: none


  //Override Styles
  .Input-info
    left: 100%
    color: #fff
    background-color: #2c3243
    line-height: 20px
    min-width: 180px
    white-space: normal

    &::before
      border-right-color: #2c3243

    @media (max-width: 1024px)
      left: 0

      &::before
        border-right-color: transparent
        border-bottom-color: #2c3243


.UI-form
  .wysiwyg-edit-layer
    &.Field
      margin: 32px -44px -8px
      padding: 8px 44px

      .Field-description
        transform: none
        margin-bottom: 0

    &.Field--disabled .Field-el
      pointer-events: none

  .Input-info
      left: calc(100% - 44px)
      top: -4px
      margin-left: 0
      margin-top: 8px
      transform: translate(-100%, -100%) !important

      &:before
        border-right-color: transparent
        border-bottom-color: transparent
        border-top-color: #2c3243
        left: 50%
        transform: translateX(-50%)
        top: unset
        bottom: -16px


.paymentlinks-creator
  .section
    padding: 24px

    .Input-error
      position: absolute
      white-space: nowrap
      font-size: 13px

    .Input-elWrapper.Select-elWrapper::before
      top: 3px

    .Input-el:not([type=checkbox])
      height: 32px

  .section-1
    border-bottom: 1px solid #efefef

    & > div
      width: 50%
      display: inline-block
      padding: 0
      margin: 0

  form[name="form_creator_generic"]
    .Input:not(.Input--checkbox) .Input-content
      margin-top: 8px

    .section-1
      .Input-label
        top: 0

      .Input
        padding-right: 44px

      .Input-el:not([type=checkbox])
        min-width: 200px

    .section-2
      .Input--description
        margin: 0 0 0 24px


  form[name="form_creator_amount"] .section-1
    .Input-addons
      width: 32px
      line-height: 32px
      background: transparent !important

    .Input-el
      padding-left: 32px

    .Input-content, .Input-label
      display: inline-block

    .Input-content
      vertical-align: middle

    .Input-label
      top: 8px
      margin-right: 16px
      float: left

    .Input-el:not([type=checkbox])
      width: 160px

    .section-2
      .Input-el:not([type=checkbox])
        height: 32px
        width: 80px
        padding: 0 8px


  .section-2
    > .Input:nth-of-type(1)
      margin-top: 0

    .Input .Input
      display: inline-block
    .checkbox-Input
      margin: -8px 4px


.fakeTextArea
  overflow: hidden
  word-wrap: break-word
  white-space: pre-wrap
  height: 0
  margin: 0 16px 0 -6px // Has no vertical footprint. 16px to act as look-ahead while typing -6 is same as .Input
  padding: 0 5px
  line-height: 20px
  font-size: 14px
