$white-color = rgb(255, 255, 255);
$label-suggestions-border-color = #E8EAEE;
$selected-label-bg-color = #dbe9ff;
$light-blue-color = #2B83EA;
$shadow-black-color = #3A45671E;

.profile-container {
  .panel-heading {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .background-highlight {
    background-color: #0B70E70C;
    color: #5B666D;
  }

  .list-group-item .i-notes {
    padding: 8px 8px 4px;
    margin-left: 8px;
    vertical-align: middle;
    font-size: 12px;
    border-radius: 50%;
    background: rgb(241, 79, 80);
    color: rgb(255, 255, 255);
  }

  .activation-bar-text {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
  }

  .activation-bar {
    width: 80px;
    display: inline-block;
    vertical-align: middle;

    .progress {
      border-radius: 4px;
      height: 6px;
      margin: 0
    }
  }

  .account-access {
    .title {
      text-align: right;
    }
    .help-content {
      vertical-align: text-bottom;
    }
  }
}

@media screen and (max-width: $screen-sm-min)
  .panel-heading
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.rzp-gst-content.modal-body {

  .gst-update-note > .rzp-banner {

    border-width: 1px;
  }
}

.profile-container .help-content i {
  font-size: 130%;
  margin-left: 4px;
}

.billing-label-info {
  position: relative;
  top: -2px;
  left: 7px;
}

.help-curr-billing-div {
  color: rgba(22, 47, 86, 0.38);
  margin-top: 16px;
  margin-bottom: 5px;
  font-weight: bold;
  cursor: default;
}

.curr-billing-label-input {
  background-color: $white-color !important;
  cursor: default;
  border-right: 0;
}
.curr-billing-label-input + .input-group-addon {
  background-color: $white-color;
}

.billing-label-suggestions {
  padding: 10px 12px;
  border: 1px solid $label-suggestions-border-color;
  border-bottom: none;
  cursor: pointer;
}
.billing-label-suggestions-border-bottom {
  border-bottom: 1px solid $label-suggestions-border-color;
}

.modal-white-background {
  background-color: $white-color;
}

.billing-label-popover.show {
  top: 60px !important;
  left: 24px !important;
  width: 380px;
  z-index: 3;
}
.billing-label-popover.rzp-popover.rzp-tooltip.align-bottom .rzp-tooltip-inner > .rzp-popover-arrow, .billing-label-popover.rzp-popover.rzp-tooltip.align-top .rzp-tooltip-inner > .rzp-popover-arrow {
  left: 30%;
}

.add-cutom-label-header {
  font-size: 13px;
  line-height: 20px;
  color: $light-blue-color;
  margin-top: 20px;
}
.add-cutom-label-header>span {
  cursor: pointer;
}
.hide-element {
  display: none;
}

.suggested-label-selected {
  background-color: $selected-label-bg-color;
}
.suggested-label-selected-tick {
  float: right;
  height: 12px;
  margin-top: 5px;
}

.transaction-limit
  width 50%

  .help-content
    padding-left 5px

  .transaction-limit__change-info
    width 200%
    margin-top 10px
    padding-left 10px

    &.inprogress
      border-left 4px solid #CD8214

    &.rejected
      border-left 4px solid #D12D2D

    &.success
      border-left 4px solid #1F890E

.transaction-limit-update-form

  .highlight-limit
    color #414b50
    font-weight bold
    display block
    margin-top 5px

  input
    border none
    border-radius 0px
    background-color rgba(224, 228, 249, 0.1)

  textarea
    overflow scroll
    background-color rgba(224, 228, 249, 0.1)
    border none
    border-bottom 2px solid rgba(22, 47, 86, 0.1)

  textarea.Input-el
    max-height 150px
    resize none
    height 140px


  .Input-label
    margin-bottom 9px
    margin-top -7px
    font-size 12px
    color rgba(22, 47, 86, 0.54)

  .note
    color rgba(22, 47, 86, 0.54)
    margin 15px 0px
    font-size 13px

  .transactionlimit-fileupload
    margin-bottom 20px

  .notify-error
    color #f05050

.bank-account
  width 50%

  .help-content
    padding-left 5px

  .bank-account__change-info
    width 200%
    margin-top 10px
    padding-left 10px

    &.inprogress
      border-left 4px solid #CD8214

    &.rejected
      border-left 4px solid #D12D2D

    &.success
      border-left 4px solid #1F890E

.gst-invoice-note
  border-left 3px solid #CD8214
  padding-left 10px
  color rgba(22, 47, 86, 0.54)

.gst-opt-out-cta
  display flex
  flex-direction column

  span
    display flex

  div
    display flex
    flex-direction row

  .address-section span:nth-child(1), .pincode-section span:nth-child(1)
    padding 10px 0px 0px 15px
    flex .3

  .address-section span:nth-child(2), .pincode-section span:nth-child(2)
    padding 10px 15px 0px 15px
    flex .7
    align-items end
    display flex
    flex-direction row
    justify-content flex-end

  .action span
    display flex
    flex 1
    padding 10px 15px 0px 15px
    justify-content flex-end

    p
      padding-top 10px
      font-weight bold
      cursor pointer
      color #528ff0

.btn-highlight, .btn-highlight:hover
  border 1px solid rgba(11, 112, 231, 0.74)
  background rgba(11, 112, 231, 0.05)
  margin-top 15px !important
  color #2B83EA

.gst-help-block
  padding 1px
  margin-bottom 15px
  color rgba(22, 47, 86, 0.74)

.gst-confirmation-modal-header
  line-height 25px

.rzp-gst-content
  .rzp-tooltip-inner
    left -502px
    top -50px

  .Input-label
    margin-bottom 9px

  .Input
    margin-top 5px

  .label-info
    margin-top -4px
    margin-bottom 14px
    font-size 12px
    color rgba(22, 47, 86, 0.38)
    background-color #FAFAFA

  input
    margin-bottom 18px

  .suggested-address-row
    padding 5px 0px 5px 10px
    border-left 3px solid #528FF0
    border-radius 2px
    margin-bottom 10px

    p{
      display inline
      color #528FF0
      font-weight 500
      cursor pointer
    }

.website-self-serve__listItem
  width 50%

.additional-websites__listcontainer
  display flex
  justify-content end

.website-self-serve__change-info
    width 200%
    margin-top 10px
    border-left 4px solid #CD8214
    padding-left 10px

    &.reject
      border-left-color #D12D2D

.website-self-serve-initiate-modal

  .img-container
    display flex
    justify-content center
    padding 15px 0px

  .content
    display flex
    flex-direction column
    font-size 13px

    strong
      padding 2px 0px 2px 22px

    span ol li
      padding 7px 11px 7px 5px

    .note
      background-color #FCF8E5
      border 1px solid rgba(22, 47, 86, 0.1)
      margin 0px 22px 5px 22px
      padding 5px 5px 7px 5px

  .action
    display flex
    justify-content center
    padding 10px 0px 22px 0px

    button
      width 87%
      font-size 13px

.website-update-form
  font-size 13px

  .Input-label
    margin-bottom 10px

  .Input
    margin-top 15px

  .Input-checkbox + .Input-inlineLabel
    font-size 13px

  .actions-header
    display flex
    justify-content flex-start

    div:last-child
      margin-left 45px

    label
      margin-left 10px

  .note
    background-color #FCF8E5
    border 1px solid rgba(22, 47, 86, 0.1)
    padding 5px 5px 7px 5px
    margin-top 20px

  .upload-invoice
    >label
      margin-top 13px

    .notify-error
      color #f05050

  .info-container
    position relative

    .rzp-popover.rzp-tooltip .rzp-tooltip-inner
      position: fixed
      left: 17px
      top: 825px



// Purpose Code styles
.purpose-code-header {
  background: #FAFAFA;
  box-shadow: 0px 2px 10px #00000019;
}

.purpose-code-modal-heading {
  color: #0D2366;
}

.purpose-code-search-container {
  padding: 24px;
  position: relative;

  .purpose-code-search-input {
    height: 40px;
    padding-left: 35px;
  }
}

.purpose-code-search-container > .purpose-code-search-close {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

.purpose-code-search-container > .purpose-code-search-icon {
  position: absolute;
  top: 37px;
  left: 35px;
}

.purpose-code-accordion-item {
  margin-top: 0px !important;
  border-top: 1px solid #e4e4e4;
}

.purpose-code-item {
  padding: 10px 24px;
  color: #5B666D;
  cursor: pointer;
}

.purpose-code-item:hover {
  background-color: #E0E4F93D;
}

.tick-icon-contain {
  position: relative;
  left: 320px;
  top: -30px;
  width: 14px;
  height: 0;
}

.purpose-code-desc {
  padding-right: 10px;
}

.scroll-codes {
  overflow-y: scroll;
  max-height: 350px;
  min-height: 350px;
}

.scroll-codes::-webkit-scrollbar {
  display: none;
}

.purpose-code-accordion-content {
  padding: 8px 0px 10px 0px !important;
}

.purpose-code-no-results {
  padding: 16px 24px;
  justify-content: center;
  display: flex;
}

.purpose-code-category {
  color: #515978;
  background-color: #FAFAFA !important;
  padding: 12px 24px !important;
  margin-right: 16px;
}

.select-purpose-code-button-contain {
  padding: 24px;
  border: 1px solid #ADBCC978;
  background: #f1f1f1;
}

.select-purpose-code-button-disabled {
  background: #4283F78A;
  box-shadow: 1px 3px 6px $shadow-black-color;
  border-radius: 2px;
  border: 2px solid transparent;
  font-weight: 700;
  height: 38px;
}

.select-purpose-code-button {
  background: #4283F7;
  box-shadow: 1px 3px 6px $shadow-black-color;
  border: 2px solid transparent;
  font-weight: 700;
  height: 38px;
}

.purpose-code-confirmation-form {
  margin-top: 200px;
}

.purpose-code-confirmation-content {
  padding: 26px;
  color: #162F56BD;

  .purpose-code-confirmation-text {
    margin-top: 15px;
  }
}

.purpose-code-confirmation-button-contain {
  padding: 0 24px 24px;

  .purpose-code-confirmation-select-button {
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    height: 38px;
    width: 205px;
  }

  .purpose-code-confirmation-back-button {
    margin-left: 30px;
    color: #528FF0;
    cursor: pointer;
  }
}

.purpose-code-edit-button {
  color: #528ff0;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  cursor: pointer;
}

// FIRC Styles
.firc-box {
  width: 80px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  i {
    color: #528ff0;
    margin-left: 5px;
  }
}

.profile-container .divider {
  border-left 1px solid #8a949a
  margin 0 5px
  opacity 0.3
}

.temporary-hold-banner {
  display flex
  margin-bottom 17px
  padding 16px
  background #ffeeee
}

.pr-12 {
  padding-right 12px
}

.bank-details-review {
  color #CD8214
}

.profile-container {
  .nav-link {
    color #528ff0
    cursor pointer
  }
  .gray {
    color #808080
  }
}

.under-review {
  opacity 0.5
}

.firc-form-container {
  padding: 24px;

  .dropdown-container {
    display: flex;
    justify-content: space-between;
  }

  .label {
    color: #162F568A;
  }

  .select {
    height: 36px;
    width: 130px;
    margin-top: 5px;
    background: #E0E4F919;
    border: 0;
    border-bottom: 1px solid #162F5619;

    &--invalid {
      color: #d12d2d;
    }
  }

  .files-container {
    margin: 24px 0px;

    .count-label {
      border-bottom: 1px solid #E1E5EA;
      padding-bottom: 8px;
      color: #162F56;
      opacity: 0.54;
    }

    .scroll-list {
      margin: 8px 0px;
      min-height: 25px;
      max-height: 130px;
      overflow-y: auto;

      .file {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 0;

        .file-icon {
          width: 10px;
          height: 12px;
          margin-right: 8px
        }

        .download-icon {
          color: #528ff0;
          width: 12px;
          height: 10px;
          margin-right: 8px;
          cursor: pointer;
        }
      }

      &::-webkit-scrollbar {
        width: 5px;
        background-color: #d8dde5;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #a9b3c2;
      }
    }
  }

  .info-container {
    margin: 24px 0px;
    border-left: 3px solid #528FF0;
    border-radius: 2px;
    padding-left: 10px;
    opacity: 0.9;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
}

.workflow-status
  width 200%
  margin-top 10px
  padding-left 10px

  &.inprogress
    border-left 4px solid #CD8214

  &.rejected
    border-left 4px solid #D12D2D

  &.success
    border-left 4px solid #1F890E

.panel-heading
  .workflow-status
    width: 100%

.needs-clarification-form
  button[type=submit]
    margin-top: 40px

  .notify-error
    color #f05050

  .Dropzone
    margin-top: 20px

  textarea
    overflow scroll
    background-color rgba(224, 228, 249, 0.1)
    border none
    border-bottom 2px solid rgba(22, 47, 86, 0.1)

  textarea.Input-el
    max-height 150px
    resize none
    height 140px

.gst-details-block
  .request-info-tooltip
    margin-left 5px
    color #58666e
