// stylelint-disable declaration-no-important
// stylelint-disable no-descending-specificity
$white-color = #FFF;
$label-suggestions-border-color = #E8EAEE;
$selected-label-bg-color = #DBE9FF;
$light-blue-color = #2B83EA;
$shadow-black-color = #3A45671E;
$accent-negative-900 = #D12D2D;
$accent-neutral-900 = #CD8214;
$accent-positive-900 = #1F890E;
$gray-600 = #818FA4;
$dark-blue-100 = #536582;
$blue-800 = #344A6C;
$blue-900 = #162F56;
$blue-910 = #162F561A;
$blue-940 = #162F5661;
$blue-960 = #162F568A;
$blue-980 = #162F56BD;
$primary-100 = #FAFCFF;
$primary-900 = #0B70E7;
$primary-300 = #E7F1FD;
$white-110 = #E0E4F91A;
$blue-100 = #528FF0;
$white-200 = #E1E5EA;

$bank-account-update-assets = "https://cdn.razorpay.com/static/assets/profile/bank-details-change/";

.profile-container {
  .panel-heading {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .background-highlight {
    background-color: #0B70E70C;
    color: #5B666D;
  }

  .list-group-item .i-notes {
    padding: 8px 8px 4px;
    margin-left: 8px;
    vertical-align: middle;
    font-size: 12px;
    border-radius: 50%;
    background: #F14F50;
    color: $white-color;
  }

  .activation-bar-text {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
  }

  .activation-bar {
    width: 80px;
    display: inline-block;
    vertical-align: middle;

    .progress {
      border-radius: 4px;
      height: 6px;
      margin: 0
    }
  }

  .account-access {
    .title {
      text-align: right;
    }

    .help-content {
      vertical-align: text-bottom;
      padding-left: 4px;
    }
  }

  .terms-and-cond {
    display: flex;

    .edit-details-btn {
      padding: 3px 8px;
      font-size: 12px;
    }
  }
}

@media screen and (max-width $screen-sm-min)
  .panel-heading
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.rzp-gst-content.modal-body {
  .gst-update-note > .rzp-banner {
    border-width: 1px;
  }
}

.profile-container,
.brand-name-label {
  .help-content i {
    font-size: 130%;
    margin-left: 4px;
  }
}

.billing-label-info {
  position: relative;
  top: -2px;
  left: 7px;
}

.help-curr-billing-div {
  color: $blue-940;
  margin-top: 16px;
  margin-bottom: 5px;
  font-weight: 600;
  cursor: default;
}

.curr-billing-label-input {
  background-color: $white-color !important;
  cursor: default;
  border-right: 0;
}

.curr-billing-label-input + .input-group-addon {
  background-color: $white-color;
}

.billing-label-suggestions {
  padding: 10px 12px;
  border: 1px solid $label-suggestions-border-color;
  border-bottom: none;
  cursor: pointer;
}

.billing-label-suggestions-border-bottom {
  border-bottom: 1px solid $label-suggestions-border-color;
}

.modal-white-background {
  background-color: $white-color;
}

.billing-label-popover.show {
  top: 60px !important;
  left: 24px !important;
  width: 380px;
  z-index: 3;
}

.billing-label-popover.rzp-popover.rzp-tooltip.align-bottom .rzp-tooltip-inner > .rzp-popover-arrow,
.billing-label-popover.rzp-popover.rzp-tooltip.align-top .rzp-tooltip-inner > .rzp-popover-arrow {
  left: 30%;
}

.add-cutom-label-header {
  font-size: 13px;
  line-height: 20px;
  color: $light-blue-color;
  margin-top: 20px;
}

.add-cutom-label-header > span {
  cursor: pointer;
}

.hide-element {
  display: none;
}

.suggested-label-selected {
  background-color: $selected-label-bg-color;
}

.suggested-label-selected-tick {
  float: right;
  height: 12px;
  margin-top: 5px;
}

.transaction-limit
  width: 50%

  .help-content
    padding-left: 5px

  .transaction-limit__change-info
    width: 200%
    margin-top: 10px
    padding-left: 10px

    &.inprogress
      border-left: 4px solid $accent-neutral-900

    &.rejected
      border-left: 4px solid $accent-negative-900

    &.success
      border-left: 4px solid $accent-positive-900

.transaction-limit-update-form
  .highlight-limit
    color: #414B50
    font-weight: 600
    display: block
    margin-top: 5px

  input
    border: none
    border-radius: 0
    background-color: $white-110

  textarea
    overflow: scroll
    background-color: $white-110
    border: none
    border-bottom: 2px solid $blue-910

  textarea.Input-el
    max-height: 150px
    resize: none
    height: 140px

  .Input-label
    margin-bottom: 9px
    margin-top: -7px
    font-size: 12px
    color: $blue-960

  .note
    color: $blue-960
    margin: 15px 0
    font-size: 13px

  .transactionlimit-fileupload
    margin-bottom: 20px

  .notify-error
    color: #F05050

.bank-account
  width: 50%

  .help-content
    padding-left: 5px

  .bank-account__change-info
    width: 200%
    margin-top: 10px
    padding-left: 10px

    &.inprogress
      border-left: 4px solid $accent-neutral-900

    &.rejected
      border-left: 4px solid $accent-negative-900

    &.success
      border-left: 4px solid $accent-positive-900

.gst-invoice-note
  border-left: 3px solid $accent-neutral-900
  padding-left: 10px
  color: $blue-960

.gst-opt-out-cta
  display: flex
  flex-direction: column

  span
    display: flex

  div
    display: flex
    flex-direction: row

  .address-section span:nth-child(1),
  .pincode-section span:nth-child(1)
    padding: 10px 0 0 15px
    flex: 0.3

  .address-section span:nth-child(2),
  .pincode-section span:nth-child(2)
    padding: 10px 15px 0
    flex: 0.7
    align-items: end
    display: flex
    flex-direction: row
    justify-content: flex-end

  .action span
    display: flex
    flex: 1
    padding: 10px 15px 0
    justify-content: flex-end

    p
      padding-top: 10px
      font-weight: 600
      cursor: pointer
      color: $blue-100

.btn-highlight,
.btn-highlight:hover
  border: 1px solid #0B70E7BD
  background: #0B70E70D
  margin-top: 15px !important
  color: $light-blue-color

.gst-help-block
  padding: 1px
  margin-bottom: 15px
  color: $blue-980

.gst-confirmation-modal-header
  line-height: 25px

.rzp-gst-content
  .rzp-tooltip-inner
    left: -502px
    top: -50px

  .Input-label
    margin-bottom: 9px

  .Input
    margin-top: 5px

  .label-info
    margin-top: -4px
    margin-bottom: 14px
    font-size: 12px
    color: $blue-940
    background-color: #FAFAFA

  input
    margin-bottom: 18px

  .suggested-address-row
    padding: 5px 0 5px 10px
    border-left: 3px solid $blue-100
    border-radius: 2px
    margin-bottom: 10px

    p {
      display: inline
      color: $blue-100
      font-weight: 500
      cursor: pointer
    }

.website-self-serve__listItem
  width: 50%

.additional-websites__listcontainer
  display: flex
  justify-content: end

.website-self-serve__change-info
  width: 200%
  margin-top: 10px
  border-left: 4px solid $accent-neutral-900
  padding-left: 10px

  &.reject
    border-left-color: $accent-negative-900

.website-self-serve-initiate-modal
  .img-container
    display: flex
    justify-content: center
    padding: 15px 0

  .amp-content
    padding: 16px 24px 24px;

  .content
    display: flex
    flex-direction: column
    font-size: 13px

    strong
      padding: 2px 0 2px 22px

    span ol li
      padding: 7px 11px 7px 5px

    .note
      background-color: #FCF8E5
      border: 1px solid $blue-910
      margin: 0 22px 5px
      padding: 5px 5px 7px

  .action
    display: flex
    justify-content: center
    padding: 10px 0 22px

    button
      width: 87%
      font-size: 13px

.website-update-form
  font-size: 13px

  .Input-label
    margin-bottom: 10px

  .Input
    margin-top: 15px

  .Input-checkbox + .Input-inlineLabel
    font-size: 13px

  .actions-header
    display: flex
    justify-content: flex-start

    div:last-child
      margin-left: 45px

    label
      margin-left: 10px

  .note
    background-color: #FCF8E5
    border: 1px solid $blue-910
    padding: 5px 5px 7px
    margin-top: 20px

  .upload-invoice
    >label
      margin-top: 13px

    .notify-error
      color: #F05050

  .info-container
    position: relative

    .rzp-popover.rzp-tooltip .rzp-tooltip-inner
      position: fixed
      left: 17px
      top: 825px

.profile-container .divider {
  border-left: 1px solid #8A949A
  margin: 0 5px
  opacity: 0.3
}

.bank-account-details-change-modal {
  width: 100%;
  background: $white-color;
  border: 1px solid #0B70E705;
  margin: auto;

  .bank-details-change {
    .modal-header {
      height: 48px;
      padding: 14px 24px;
      background: #162F5605;

      .modal-title {
        font-size: 14px;
        line-height: 20px;
        color: $dark-blue-100;
      }

      .close {
        color: #2E3345;
        opacity: 1;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
      }
    }
  }

  .modal-body {
    padding: 24px 24px 42px;

    .bank-details-change-content {
      max-width: 416px;
      margin: auto;

      &.sync-failed-async-started {
        max-width: 550px;
      }

      .bank-details-header {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $blue-900;
        margin-bottom: 14px;
      }
    }
  }

  .form-group {
    margin-bottom: 24px;

    &:focus-within {
      >label {
        color: $primary-900;
      }

      .material-input {
        border-bottom: 1px solid $primary-900;
      }
    }

    >label {
      width: unset;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: $blue-960;
      padding-top: 0;
      margin-bottom: 0;
    }

    .label-required::after,
    .text-danger {
      color: $accent-negative-900;
    }

    .label-required::after {
      right: 10px;
      top: 0;
    }

    .InputField__ErrorText {
      font-size: 12px;
      line-height: 18px;
      text-align: left;
      margin-top: 4px;
    }

    .input-group:not(.fileupload-input-group) {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .material-input {
      height: 36px;
      background: $white-110;
      border-radius: 2px 2px 0 0;
      border: none;
      border-bottom: 1px solid $blue-910;
    }

    .material-input + .input-group-addon {
      color: $accent-positive-900;
      font-size: 11px;
      line-height: 18px;
      margin-left: auto;
      width: auto;
      height: auto;
      margin-top: -36px;
      border: none;
      background: transparent;
      padding: 9px 12px;
      max-width: calc(100% - 96px);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }

    [role="loader"] {
      border-width: 1.5px;
    }

    .Dropzone-content {
      &.small {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .Dropzone-cavity {
      margin-bottom: 0;
      border: 1px dashed #4B95ED;
      background: #F9FBFE;

      &--staged {
        .Dropzone-content {
          padding-left: 12px;
        }
      }
    }

    .Dropzone-content-desc {
      font-size: 14px;
      line-height: 20px;
      padding-left: 12px;
      width: auto;
      max-width: 100%;

      &--secondary {
        white-space: normal;
      }
    }
  }

  .form-actions {
    margin-top: 36px;

    button {
      width: 100%;
      background: $light-blue-color;
      border-radius: 2px;
      color: $white-color;
      font-weight: 600;
      padding: 10px 24px;
      border: none;
    }
  }

  .Alert {
    display: flex;
    color: $dark-blue-100;

    &-icon--before {
      align-self: center;
      font-size: 18px;
      margin-right: 14px;
    }

    &--warning {
      background: #FAF2E7;
      border-color: #FFF3E2;
    }

    &-content {
      color: $blue-800;
    }

    &:last-of-type {
      margin-bottom: 36px;
    }
  }

  .needs-clarification-form {
    .Alert {
      margin-bottom: 36px;

      .Alert-icon--before {
        align-self: flex-start;
        font-size: 16px;
        margin-right: 14px;
      }
    }

    .razorpay-support {
      .title {
        color: $dark-blue-100;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
      }

      .description {
        margin-top: 8px;
        font-size: 13px;
        line-height: 18px;
        color: $blue-900;
        word-break: break-all;
      }
    }

    .Input {
      margin-bottom: 0;
    }

    .is-focused > .Input-label {
      border-color: $primary-900;
    }

    .Input:not(.Input--disabled) .Input-el:focus {
      border-color: $primary-900;
    }

    .Input--vTop .Input-label {
      color: $blue-960;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
    }

    textarea::placeholder {
      // Chrome, Firefox, Opera, Safari 10.1+
      color: $blue-910;
      opacity: 1;
      // Firefox
    }

    // stylelint-disable-next-line selector-no-vendor-prefix
    textarea::-ms-input-placeholder {
      // Microsoft Edge
      color: $blue-910;
    }

    textarea.Input-el {
      resize: vertical;
      min-height: 72px;
      margin-bottom: 4px;
    }

    .Input--required .Input-label::after {
      color: $accent-negative-900;
    }

    .Input-error,
    .notify-error {
      color: $accent-negative-900;
      font-size: 12px;
      line-height: 18px;
    }

    .Dropzone {
      margin-top: 24px;
    }

    .form-group {
      margin-bottom: 0;
    }
  }
}

.bank-details-change-content {
  .file-upload {
    .description {
      font-size: 16px;
      line-height: 20px;
      color: $blue-980;

      .sub-title {
        font-weight: 600;
      }
    }

    .divider {
      border: 1px solid #F0F3F4;
      width: 100%;
    }

    .upload-info {
      color: $gray-600;
      margin-bottom: 36px;

      label {
        color: $blue-800;
        margin-bottom: 4px;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
      }

      fieldset > div:last-child {
        margin-top: 24px;
      }

      label + div {
        color: $gray-600;
      }
    }

    .form-group {
      margin-bottom: 0;
    }

    .form-actions {
      text-align: center;

      button {
        max-width: 416px;
      }
    }
  }
}

.bank-account-update-form,
.file-upload,
.bank-details-change-states-wrapper {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.watch-sample-video-link {
  color: $primary-900;
  border: 1px solid $primary-300;
  border-radius: 16px;
  background: $primary-100;
  margin-top: 16px;
  margin-left: 28px;
  font-size: 10px;
  line-height: 14px;

  .m-r {
    margin-right: 6px;
  }

  &:hover,
  &:focus {
    color: $primary-900;
  }
}

.bank-details-change-states-wrapper {
  max-width: 320px;
  margin: auto;

  .bank-details-change-state {
    text-align: center;

    &-muted-text {
      font-size: 12px;
      line-height: 18px;
      color: $blue-960;
    }

    hr {
      background: $blue-910;
    }

    .bank-details-icon {
      display: inline-block;
      height: 84px;
      width: 84px;
      background: no-repeat center background-size contain;

      &--account-blocked {
        background-image: url($bank-account-update-assets + 'account_blocked.svg');
      }

      &--invalid-ifsc {
        background-image: url($bank-account-update-assets +'invalid_ifsc.svg');
      }

      &--nre-account {
        background-image: url($bank-account-update-assets + 'bank_error_circle.svg');
      }

      &--account-number {
        background-image: url($bank-account-update-assets + 'bank_error_circle.svg');
      }

      &--account-closed {
        background-image: url($bank-account-update-assets + 'bank_error_triangle.svg');
      }

      &--couldnt-verify {
        background-image: url($bank-account-update-assets + 'bank_error_triangle.svg');
      }

      &--bank-circle {
        background-image: url($bank-account-update-assets + 'bank_circle.svg');
      }
    }
  }

  .mb-20 {
    margin-bottom: 20px;
  }
}

.bank-account-update-status {
  .Alert {
    display: flex;
    align-items: center;
    margin: 4px;
    padding: 8px;
    border: none;

    .Alert-icon--before,
    .Alert-icon--close {
      font-size: 16px;
      line-height: 16px;
    }

    .Alert-icon--before {
      margin-right: 6px;
    }

    .Alert-icon--close {
      margin-left: 6px;
      cursor: pointer;
      color: $blue-900;
    }

    &--warning {
      background: #CD82141A;

      .Alert-icon--before {
        color: $accent-neutral-900;
      }
    }

    &--error {
      background: #D12D2D1A;

      .Alert-icon--before {
        color: $accent-negative-900;
      }
    }

    &--success {
      background: #1F890E1A;

      .Alert-icon--before {
        color: $accent-positive-900;
      }
    }

    &-content {
      font-size: 12px;
      line-height: 18px;
      color: $blue-900;
    }
  }

  .needs-clarification {
    .Alert-icon--before {
      align-self: flex-start;
    }

    .action-required {
      color: $blue-980;

      .title {
        color: $accent-neutral-900;
        font-weight: 600;
      }

      .btn-link {
        color: $primary-900;
        padding: 0;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  & + .list-group {
    .list-group-item:first-child {
      border-top: none;
    }
  }
}

.pr-12 {
  padding-right: 12px
}

.bank-details-review {
  color: $accent-neutral-900
}

.profile-container {
  .nav-link {
    color: $blue-100
    cursor: pointer
  }

  .gray {
    color: #808080
  }
}

.under-review {
  opacity: 0.5
}

.firc-form-container {
  padding: 24px;

  .dropdown-container {
    display: flex;
    justify-content: space-between;
  }

  .label {
    color: $blue-960;
  }

  .select {
    height: 36px;
    width: 130px;
    margin-top: 5px;
    background: #E0E4F919;
    border: 0;
    border-bottom: 1px solid #162F5619;

    &--invalid {
      color: $accent-negative-900;
    }
  }

  .files-container {
    margin: 24px 0 12px;

    .count-label {
      border-bottom: 1px solid $white-200;
      padding-bottom: 8px;
      color: $blue-900;
      opacity: 0.54;
    }

    .scroll-list {
      margin: 8px 0;
      min-height: 25px;
      max-height: 130px;
      overflow-y: auto;

      .file {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 0;

        .file-icon {
          width: 10px;
          height: 12px;
          margin-right: 8px
        }

        .download-icon {
          color: $blue-100;
          width: 12px;
          height: 10px;
          margin-right: 8px;
          cursor: pointer;
        }
      }

      &::-webkit-scrollbar {
        width: 5px;
        background-color: #D8DDE5;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #A9B3C2;
      }
    }
  }

  .info-container {
    margin: 24px 0;
    border-left: 3px solid $blue-100;
    border-radius: 2px;
    padding-left: 10px;
    opacity: 0.9;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
}

.workflow-status
  width: 100%
  margin-top: 10px
  padding-left: 10px

  &.inprogress
    border-left: 4px solid $accent-neutral-900

  &.rejected
    border-left: 4px solid $accent-negative-900

  &.success
    border-left: 4px solid $accent-positive-900

.panel-heading
  .workflow-status
    width: 100%

.needs-clarification-form
  button[type="submit"]
    margin-top: 40px

  .notify-error
    color: #F05050

  .Dropzone
    margin-top: 20px

  textarea
    overflow: scroll
    background-color: $white-110
    border: none
    border-bottom: 2px solid $blue-910

  // stylelint-disable-next-line
  textarea.Input-el
    max-height: 150px
    resize: none
    height: 140px

.gst-details-block
  .request-info-tooltip
    margin-left: 5px
    color: #58666E

.set-password-modal
  .merchant-note
    margin-bottom: 24px

.bank-account-modal-layout
  margin: auto;