.profile-container {
  .panel-heading {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .list-group-item .i-notes {
    padding: 8px 8px 4px;
    margin-left: 8px;
    vertical-align: middle;
    font-size: 12px;
    border-radius: 50%;
    background: rgb(241, 79, 80);
    color: rgb(255, 255, 255);
  }

  .activation-bar-text {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
  }

  .activation-bar {
    width: 80px;
    display: inline-block;
    vertical-align: middle;

    .progress {
      border-radius: 4px;
      height: 6px;
      margin: 0
    }
  }

  .account-access {
    .title {
      text-align: right;
    }
    .help-content {
      vertical-align: text-bottom;
    }
  }
}

.rzp-gst-content.modal-body {

  .gst-update-note > .rzp-banner {

    border-width: 1px;
    margin-bottom: 0;
    margin-top: 20px;
  }
}
