.razorpayx-announcement
  .success-message
    height 140px
    h3, p
      text-align center

    h3
      margin-top 40px

  .rx-logo
      width: 190px
      padding: 40px 0 0 50px

  .row:nth-child(2), .row:nth-child(4)
    padding 20px 0 20px 0

  .Modal__actions
    padding 20px 0 20px 0
    display flex
    justify-content center

    button
      height 50px
      width 260px

  &-details
    .section
      display: flex
      padding: 48px 0px 50px 50px
      align-items: end

      .left-section
        width: 48%

        .logo-header
          margin-left: 0

        .rx-logo
          padding: 0
          width: 140px

        .rx-payroll-logo
          margin-left: 5px
          width: 70px
          vertical-align: bottom

        .heading
          font-weight: bold
          font-size: 24px
          line-height: 36px
          color: white
          margin-top: 43px

          span
            color: #FFB211

        .list
          list-style: none
          padding: 0
          display: flex
          flex-wrap: wrap
          margin: 30px 0 50px

          li
            color: rgba(255, 255, 255, 0.74)
            width: 50%
            margin-bottom: 10px
            margin-bottom: 25px
            display: flex
            font-size: 12px

            img
              margin-right: 10px
              width: 20px
              height: 20px

        .btn-wrapper
          text-align: left

          .btn
            padding: 10px 24px
            font-weight: 600

            .spin-btn
              margin: 0

        .terms-and-conditions
          font-size: 9px
          color: white
          line-height: 14px
          margin-top: 30px

      .right-section
        width: 52%
        overflow: hidden
        margin-left: 48px
        position: relative
        margin-right: -43px

  .submitted-message
    padding: 50px

    p
      font-size: 16px

      strong
        font-size: 20px
        margin-bottom: 15px
        display: block

  form
    display: flex

    .row
      margin: 0

    textarea
      resize: vertical
      min-height: 150px

    .form-control
      background-color: transparent !important
      color: rgba(255, 255, 255, 0.87)
      border-color: rgba(255, 255, 255, 0.38)

      &::placeholder
        color: rgba(255, 255, 255, 0.38)

    .phone-field
      display: flex

      .InputField:first-child
        width: 22%

        input
          border-right: none
          border-top-right-radius: 0
          border-bottom-right-radius: 0
          padding-right: 0

      .InputField:last-child
        width: 100%

        input
          border-left: none
          border-top-left-radius: 0
          border-bottom-left-radius: 0
          padding-left: 0

    label
      font-size: 12px

    .checkbox-row
      display flex

      label
        padding 5px 40px 0 0
      input[type="checkbox"]
        margin-right 5px
        position: relative
        top: 1px

    .left-section, .right-section
      padding-left: 48px
      padding-right: 48px
      padding-top: 56px
      // margin-top: -20px

    .left-section
      background: #1E2442
      width: 37%

      label
        color: white

      .rx-logo
        width: 159px
        margin-bottom: 23px
        padding: 0

    .right-section
      width: 63%
      padding-right: 4px
      padding-bottom: 40px

      label
        color: rgba(255, 255, 255, 0.87)

      .title
        margin-bottom: 28px
        color: white
        font-size: 20px
        font-weight: 700

      .radio-group, .checkbox-row
        label
          font-size: 14px
          font-weight: 400

        input
          position: relative
          top: 1px

      .submit-btn
        float: right
        margin-top: 102px

.rxca-submit-finish-modal
  width: 408px
  width: 360px
  padding: 24px
  background: #242B4D

  .header
    padding: 20px 89px 24px 48px
    margin-left: -45px
    margin-right: -45px
    background-image: linear-gradient(98.56deg, #6732FF 10.42%, #1E9CDA 134.37%)
    color: white
    font-size: 20px
    line-height: 30px
    background-image: url('assets/rxca-congrats-header-bg.svg')
    background-size: cover
    border-bottom: none
    border-radius: 4px

    .close
      position: absolute
      top: 50px
      right: 0
      color: white
      opacity: 0.8

      &:hover, &:focus
        opacity: 1

  .description, .footer
    font-size: 16px
    line-height: 24px

  .description
    padding-bottom: 50px
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
    color: rgba(255, 255, 255, 0.8)

    & > *
      margin-top: 16px

    a
      .Button
        margin-top: 16px

  .removeBorderBottom
    border: none;
  .footer
    margin-top: 20px
    color: rgba(255, 255, 255, 0.54)
