.razorpayx-announcement
  .success-message
    height 140px;
    h3, p
      text-align center

    h3
      margin-top 40px

  .rx-logo
      width: 300px
      padding: 40px 0 0 50px

  .row:nth-child(2), .row:nth-child(4)
    padding 20px 0 20px 0

  .Modal__actions
    padding 20px 0 20px 0
    display flex
    justify-content center

    button
      height 50px
      width 260px

  &-details
    .section
      display: flex
      padding: 40px 0px 50px 50px
      align-items: end

      .left-section
        max-width: 580px

        .heading
          font-weight: bold
          font-size: 32px
          line-height: 60px
          color: black
          margin: 0

        .list
          list-style: none
          padding: 0
          display: flex
          flex-wrap: wrap
          margin: 30px 0 50px

          li
            width: 50%
            margin-bottom: 10px
            margin-bottom: 25px

            img
              margin-right: 10px
              width: 20px

        .btn-wrapper
          text-align: left

          .btn
            padding: 10px 40px
            font-weight: 600


      .right-section
        width: calc(100% - 580px)
        overflow: hidden

        img
          width: 830px;
          margin-left: -50px;

  .submitted-message
    padding: 50px

    p
      font-size: 16px

      strong
        font-size: 20px
        margin-bottom: 15px
        display: block

  form
    padding 40px

    .checkbox-row
      display flex

      label
        padding 5px 40px 0 0
      input[type="checkbox"]
        margin-right 5px
