$primary = #538FF0

.ReminderSettings
  .setting-item
    .checkbox-knob
      margin-left: 25px 

    @media screen and (max-width: 820px)
      .enable-wrapper
        display: block
        margin: 10px auto
      .checkbox-knob
        margin-left: 0

    @media screen and (max-width: 359px)
        .pair-value
          padding-left: 0


    .status-text 
      margin-left: 5px
      vertical-align: middle
      padding: 0 10px

    &.enabled 
      .status-text 
        color: $primary
        font-weight: 600

    .setting 
      display: flex 
      margin-bottom: 30px

      .pair-label 
        color: #57666e
        font-weight: 600

      .pair-group-item 
        padding-left: 0

.ReminderSettings-Footer
    align-items: center 
    display: flex 
    justify-content: space-between 
    border-top: 1px solid #EBEFF0 
    margin: 20px -20px 
    padding: 20px 20px 0 20px 
    flex-wrap: wrap
    line-height: 1.5

    .content 
      width: 70% 

    @media screen and (max-width: 786px)
      .content
        width: auto
        padding: 10px 0;

.removable-select
  display: flex 
  align-items: center 
  max-width: 300px 

  .cross-wrapper
    padding-left: 8px 
    cursor: pointer

  &:not(:last-child) 
    margin-bottom: 15px 

  .PowerSelect 
    border: 1px solid #D8DBDC
    border-radius: 0
    height: 30px
    width: 100%
    margin: 0
    z-index: 0
    
    &--focused 
      border-color: $primary
      
      + .close-btn 
        border-color: $primary
    
    .PowerSelect__Trigger 
      height: 30px

      .PowerSelect__TriggerLabel 
        height: 30px
        line-height: 1
        margin: 0

    .PowerSelect__TriggerStatus 
      height: 30px
      padding-top: 0

  .close-btn 
    border-radius: 75% 
    background-color: #FFFFFF 
    border: 1px solid #D8DBDC 
    display: inline-block 
    padding: 0px 2px 
    margin-left: 10px 

  @media screen and (max-width: 359px)
    .close-btn
      margin-left: 6px
  
    i.i-close 
      color: #58666E 
      display: block 
      line-height: 1 
      margin-top: 2px 

.removable-power-select__Menu 
  .PowerSelect__Option 
    font-size: 14px 	
    line-height: 17px 
    margin: 8px 
    padding: 0 
    
    &--disabled 
      color: #B2B9BC 

    &--highlighted, &:hover 
      background: transparent 
      font-weight: 600 
      color: #657278 
