$primary = #538FF0

.reminders-settings {
  .reminders-setting {
    button.checkbox-knob {
      margin-left: 25px 
    }

    .status-text {
      margin-left: 10px
      vertical-align: middle
    }

    &.enabled {
        .status-text {
          color: $primary
          font-weight: bold
        }
    }

    .setting {
      display: flex;
      margin-bottom: 30px

      .pair-label {
        color: black;
        font-weight: bold;
      }

      .pair-group-item {
        padding-left: 0; 
      }
    }

    &_footer {
      align-items: center;
      display: flex;
      justify-content: space-between;

      .description {
        width: 70%;
      }
    }
  }
}

.removable-select {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  
  label {
    display: none;
  }
  
  .field {
    display: inline
  }
  
  i.i-close {
    margin-left: 10px;
    border: 1px solid;
    border-radius: 50%;
    padding: 1px 3px;
    vertical-align: middle;
  }
}