

$failedColor = #f56a6a
$successColor = #0b5
$color-pending = #FFBA00;
$grey-background = #F8F8F8;
$grey-border = #DFE5E7;
$dark-grey = #E1E6E6;

// these styles will be deprecated once async reports UI is in production
.report-loader
  .i-info-circle
    margin-right: 5px
  .report-progress
    margin: 20px 0
    padding: 5px 10px
    &:hover
      box-shadow: 2px 2px 6px rgba(0,0,0,0.12)
    .help-block
      margin: 0
      &.success
        color: $successColor
      &.failed
        color: $failedColor
    &.current
      background: rgba(185, 185, 185, 0.1)
      border-radius: 5px
  .report-close
    display: inline-block
    width: 7%
    vertical-align: top
    text-align: right
    font-weight: 600
    margin-top: 2px
    color: #757575
    cursor: pointer
  .bar-loader
    width: 93%
    display: inline-block
    &.success
      background-color: $successColor
    &.failed
      background-color: $failedColor

.report-cancel-download
  p
    margin-top: -5px
  button
    padding: 6px 38px

// async report styles
.Reporting--ContentWrapper
  width: 70%
  margin-left: auto
  margin-right: auto
  @media screen and (max-width $screen-sm-min)
    width: 98%
    margin-top: 4px

  .LogList
    padding: 24px 0

    &__header
      font-size: 16px

    .LoadMore
      margin: 10px auto
      width: fit-content;

    .LogItem
      background-color: $grey-background;
      border: 1px solid $grey-border;
      border-radius: 4px;
      margin-top: 20px;
      overflow: hidden

      &--new
        animation-name: animate-log-item
        animation-duration: 500ms

      &--in-process
        .LogStatus
          color: $color-pending;

      &--ready-for-download
        // border-color: $primary-color

      &--no-data,
      &--error
        .LogStatus
          color: $textDangerColor;

      &__Body
        padding: 16px;
        display: flex;
        @media screen and (max-width $screen-sm-min)
          display: block
        justify-content: space-between;
        align-items: center;

        & > div
          flex-grow: 1
          flex-basis: 0
          @media screen and (max-width $screen-sm-min)
            margin-top: 15px

      &__InfoBar
        padding: 10px 16px
        @media screen and (max-width $screen-sm-min)
          padding: 16px
        &--in-process
          background-color: $dark-grey
        &--no-data,
        &--error
          background-color: alpha($failedColor, 0.08)
        &--ready-for-download
          background-color: alpha($primary-color, 0.08)
          // border-bottom: 2px solid $primary-color


  .Input.EmailReport
    @media screen and (max-width $screen-sm-min)
      display: block
    > .Input-content
      > .Input
        > .Input-label
          top: 0
          @media screen and (max-width $screen-sm-min)
            margin: 10px 0

    .Input--checkbox
      .Input-content
        margin-right: 5px

    .Input.ChooseEmail
      vertical-align: bottom
      @media screen and (max-width $screen-sm-min)
        display: block
        margin-top: 10px

    .NoOfEmailsSelected
      margin-right: 5px

  .GenerateReportPanel
    background-color: $grey-background
    box-shadow: 0 1px 1px $grey-border
    margin: -24px -24px 0 -24px
    padding: 24px
    @media screen and (max-width $screen-sm-min)
      padding 24px 20px
    @media screen and (max-width: 359px)
      padding 24px 10px

    .SelectConfig
      margin-left: -24px
      margin-right: -24px
      border-left: 2px solid $color-pending
      .Input
        margin-top: 0

      .rzp-banner
        border: none
        padding-left: 24px
        @media screen and (max-width $screen-sm-min)
          display: block
          padding-left: 15px
          .rzp-banner-text
            display: block
            .Input-elWrapper
              width: 100%

    .select-date-interval
      display: table-cell
      @media screen and (max-width $screen-sm-min)
        display: block
        .Input--Calendar
          .Input-label
            margin-top: 15px
    .rzp-accounts-list
      width: 400px
      @media screen and (max-width $screen-sm-min)
        width: 100%

    .Input
      .Input-elWrapper
        font-size: inherit

    .PowerSelect__TriggerInput,
    .PowerSelect__SearchInput
      &::placeholder
        opacity: 0.8
        text-transform: initial

.SelectConfig__Dropdown_Option
  width: 320px

@keyframes animate-log-item
  from
    height: 0
    opacity: 0

  to
    height: 80px
    opacity: 1
