.ModalForm--Share
  .Share-section
    padding-top: 24px

  .Share-section:not(:last-child)
    border-bottom: 1px solid rgba(155,155,155,0.19);
    padding-bottom: 24px

  .ClipboardCustom .Input
    margin-bottom: 0
    width: 227px

  .Form .Input
    margin-top: 0
