.CA-apply--modal
    width: 325px;

  .disable-ca-form
    pointer-events: none
    opacity: 0.4

  .ca-apply
    padding: 24px;
    
    .top-action
      display: flex;

      .title
        width: 95%;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #59666E;
        margin-bottom: 8px;
      
      .cross-btn
        cursor: pointer;
        font-size: 18px;

    .info
      font-size: 14px;
      line-height: 20px;
      color: #59666E;

    .terms_condition
      margin-top: -2px;
      font-size: 12px;
      line-height: 20px;
      color: rgba(22, 47, 86, 0.54);

      .btn-link
        font-size: 12px;
        padding-top: 3px;
        padding-left: 2px;
        padding-right: 2px;
        
.CA-apply-acknowledge--modal
    width: 325px;

  .ca-apply-acknowledge
    padding: 24px;

    .title
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #59666E;
      margin-bottom: 8px;
    
    .info
      font-size: 14px;
      line-height: 20px;
      color: #59666E;
      margin-bottom: 10px;

.ca-secondary-card
  .head
    font-weight: 600
    font-size: 14px
    line-height: 21px
    color: #404F6B
    margin-bottom: 24px;

  .view-doc
    margin-top: 20px;

  .status-container
    display: flex;
    position: relative;

    .ca-pill
      background: rgba(57, 135, 240, 0.09);
      border: 1px solid rgba(57, 135, 240, 0.35);
      border-radius: 24px; 
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: #1558D9;
      margin-left: auto;
      height: 35px;         
      padding: 5px 24px;
    
    .ca-pill.yellow
      background: rgba(203, 113, 0, 0.09);
      border: 1px solid rgba(203, 113, 0, 0.35);
      color: #DF8700;
    
    .ca-pill.success
      background: rgba(0, 157, 68, 0.09);
      color: #01B358;
      border: 1px solid rgba(0, 157, 68, 0.35);

    .ca-pill.danger
      border: 1px solid #DD5C5C;
      color: #DD5C5C;
      background: transparent

    .ca-pill.grey
      background: #F3F5F9;
      color: #647596;
      border: 1px solid #B7C2DA;
      
    img 
      margin-right: 12px;
      position: absolute;
      top 1px;
    
    .status
      width: 400px
      margin-left: 40px;

      a.btn
        font-size: 13px
        padding: 6px 20px
        margin-top: 26px;

        &.btn-primary--invert
          background-color: #fff
          color: #3b80ee
          border-color: #3b80ee
  
  .benefits-list
    display: flex;
    flex-wrap: wrap;

    .benefit
      display: flex

      .info
        width: 137px;
        font-size: 12px;
        line-height: 18px;
        color: #647596;
        margin-right: 45px
        margin-bottom: 24px;

      .img-list
        margin-right: 12px;
        margin-top: -26px;

  .img-bg
    position: absolute;
    top: 277px;
    right: 0px;
    width: 186px;
  
  .img-bg-extended
    position: relative;
    float: right;
    margin-top: -110px;
    margin-right: -24px;

    @media (max-width: 1024px)
      display: none; 

  .highlight-info.success
    background: rgba(0, 157, 68, 0.09);

    .info
      color: #218625

  .highlight-info
    background: #F3F5F9;
    opacity: 0.8;
    border-radius: 4px;
    padding: 12px;
    display: flex;
    width: 549px;
    position: absolute;
    bottom: 24px;
  
    .info
      font-size: 12px;
      line-height: 18px;
      color: #2F3B53;
      margin-left: 12px;

.ca-primary-card
  display: flex;

  .ca-apply-timeline
    display: flex
    margin-top: 8px
    align-items: center;

    .dash-separator
      color: #B7C2DA
      margin: 0px 8px
      position: relative
      top: -1px

    .active
      font-size: 12px
      line-height: 18px
      color: #2F3B53

    .inactive
      font-size: 12px;
      line-height: 18px;
      color: #8C9CBB;

    img, .date-extention-icon
      margin-right: 5px;
    
    .date-extention-icon
      color: #C01F07;

  .counter-text
    padding: 8px 12px
    font-weight: 600
    font-size: 16px
    line-height: 24px
    position: relative
    top: 1px
  
  .counter-text.positive
    border-radius: 2px
    color: #DF8700
    background: rgba(203, 113, 0, 0.09)

  .left

    .head
      font-weight: 600
      font-size: 22px
      line-height: 33px
      color: #404F6B
    
    .subhead
      font-size: 12px;
      line-height: 18px;
      color: #8C9CBB;
      margin-top: 4px;

  .right
    .ca-pill
      background: rgba(57, 135, 240, 0.09);
      border: 1px solid rgba(57, 135, 240, 0.35);
      border-radius: 24px; 
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: #1558D9;
      margin-left: auto;
      height: 35px;         
      padding: 5px 24px;

    margin-left: auto

    .Button--primary
      margin-left: 8px
    
    .headstate
      background: #F3F5F9;
      border-radius: 2px;
      padding: 8px 12px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #647596;

    .timeline-info
      display: inline-block;
      padding: 7px 12px;
      width: 107px;
      text-align: center;
      background: rgba(203, 113, 0, 0.09);
      border-radius: 2px;
      color: #DF8700;
      font-size: 16px;
      margin-right: 8px;
      font-weight: 600;
      vertical-align: middle;
      &.danger
        background: rgba(245, 74, 42, 0.09);
        color: #C01F07;
      &.cancelled
        background: transparent;
        text-align: right;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        padding: 7px 0;

