.req-es-btn
  padding-right: 0

  .interpunct
    font-size: 60%
    padding-left: 2px;

.settlement-doc-btn
  padding-left: 3px;
  padding-left: 5px;

@media only screen and (max-width: 500px)
  .settlement-doc-btn
    display: none

.settlement-balance-amount
  font-weight: bold
  vertical-align: middle
  border-left: 2px solid #cfdadd;
  padding: 0 5px

.tether-element .settle-btn
  margin-right: 0
  margin-left:10px



.onmdemand-modal
  color: #58666E
  .breakup
    margin-bottom:5px
    background-color: white
    border:1px solid rgba(173, 188, 201, 0.17)
      button
        background-color: transparent
        border:none
  p
    display: inline

  .float-right
    display:inline
    float:right
  .drop-button
    float:right
    display:inline
    background-color: transparent
    color:#528FF0
    height: 20px;
    margin-top:2px
    margin-left:-4px
    font-weight: bold;
    font-size: 14px;
    padding:0
    .i
      font-size:20px
      position: relative
      top:3px

    &:not(:disabled)
      &:hover
        background-color: transparent
        color:#528FF0
        font-weight: bold;
        font-size: 15px;


  .modal-title
    color:#0D2366
  .currency
    height:15px
    font-size: 15px
  .currency-big
    height:15px
    font-size: 20px

  .fixed
    font-size:12px

  .dropdown-active,.dropdown
    padding:7px
    display:block
    color:#7B8199
    font-size: 15px
    line-height: 28px
    margin-top:0
    background-color: white
    border:1px solid rgba(173, 188, 201, 0.17);

  .dropdown-closed
    display:none
  .border
    margin-top:20px
    border-left: 3px solid #528FF0;
    padding-left:8px
    margin-bottom:20px
  .btn-link
    font-weight: bold
  .grey-border
    border-left: 3px solid #ADBCC9;
    margin-bottom:5px
    padding-left:6px
    .rzp-amount
      position:absolute
  .percent
    font-size: 15px;
    font-weight: bold;
    color: #515978;
.loader
  border: 1.2px solid #f3f3f3;
  border-top: 1.2px solid #3498db;
  border-radius: 50%
  width: 17px
  height: 17px
  animation: spin 1s linear infinite;

  .overflow-box
    margin:10px;
    border:1px solid rgba(173, 188, 201, 0.17);
    margin-left:-45px
    padding-top:0px
    padding-left:20px
    padding-right:20px
    padding-bottom:20px
    margin-right:-45px;
    box-shadow: 0px 2px 6px rgba(62, 71, 84, 0.13);
    border-radius: 2px
    background-color: white
    .Input-label
      font-size: 16px
      color: #515978
      margin-bottom: 6px
    .Input-el
      font-size: 20px;
      color:#0D2366



  .i-info-circle
    color: #9fb1c7

  .close-btn,.submit-btn
    width: 100%

  .settlement-doc-btn,.fa-circle.interpunct
    display: none
