#settings-payment-methods
  .mr-25
    margin-right: 25px
  .ml-5
    margin-left: 5px
  .spacer-20
    height: 20px
  .spacer-10
    height: 10px
  .panel-heading
    padding: 15px 20px 15px 0px
    .title
      font-size: 18px
      font-weight: 600
  .methods-view
    height: 491px
    display: flex
    border: 1px solid #E6E7E8
    border-bottom: none
    border-left: none
    width: 100%
    background: rgba(238, 238, 238, 0.1)
    overflow-x: auto
    overflow-y: hidden
    .level-1, .level-2
      width: 320px
      flex-shrink:0
      border-right: 1px solid #E6E7E8
      flex-wrap:no-wrap
    .level-1
      background: white
      ul
        border-left: 1px solid #E6E7E8
    .level-2
        ul > li
          height: 69px
    .level-2, .level-3
      border-bottom: 1px solid #E6E7E8
    ul  
      list-style-type: none
      padding: 0
      margin-bottom: 0
      li:hover
        background: rgba(11, 112, 231, 0.05);
        .show-expand
          visibility: visible
          cursor: pointer

      li
        display: flex
        height: 70px
        align-items: center
        padding-right: 5px
        margin: 0px
        border-bottom: 1px solid #E6E7E8
        background: #FFFFFF
        .icon
          width: 30px
          margin-left: 22px;
        .detail
          flex:5
          padding-left: 15px
          strong
            user-select: none;
            color: #5D666D
            font-size: 14px
            line-height: 17px
          p
            user-select: none;
            color: #828282
            font-size: 12px
            line-height: 20px
        .expand
          margin-right: 10px
          color: #0B70E7
          font-size: 20px
        .show-expand
          visibility: hidden
        .highlight-expand
          visibility: visible
          cursor: pointer
      .highlight
        background: rgba(11, 112, 231, 0.05);

        
    .overflowY
      overflow-y: auto
    .level-3
      width: 100%
      padding: 32px
      background: #FFFFFF
      .heading
        display: flex
        width: 420px
        justify-content: space-between
        font-size: 12px
        color: #5D666D
        margin-bottom: 16px
        padding: 0 2px
      .filter 
        margin: 0px 0 20px 0;
        button:not(:last-child)
          margin-right: 16px

      .filter-btn
        outline: none;
        background: rgba(22, 47, 86, 0.02)
        border: 1px solid rgba(22, 47, 86, 0.1)
        border-radius: 2px
        font-size: 14px
        line-height: 20px
        padding: 4px 12px
        color: rgba(22, 47, 86, 0.74)
      
      .filter-active
        background: #E7F1FD
        color: #2B83EA
        border: 1px solid #E7F1FD
      
      li:first-child
        border-top: 1px solid #E6E7E8

      .international-leaf-item
        height: auto
        display: block
        padding: 20px
        &:hover
          background: unset
        &.alert-info
          background: #FBF8E3
          p
            font-weight: bold
        .toggler-btn
          display: inline-flex
          align-items: center
          float: right
          button
            &::after
              background: #5e90e9
            &.checked::after
              background: #fff
          b
            padding-left: 5px
        .detail
          padding-left: 0
        .product-info
          display: block
          border-radius: 4px
          padding: 20px 10px
          background: rgba(232, 235, 239, 0.32)
          .product-title
            display: flex
            justify-content: space-between
            .status-label
              text-transform: uppercase
              padding: 5px 12px
      li
        width: 420px
        background: transparent
        border-right: 1px solid #E6E7E8
        border-left: 1px solid #E6E7E8
        display: flex
        height: 56px
        flex-direction: column
        justify-content: center
        align-items: center
        > div
          width: 100%
          display: flex
          align-items: center
          .icon
            flex:1
          .detail
            width: 180px
            padding-left: 15px
            strong
              user-select: none;
              color: #5D666D
              font-size: 14px
              line-height: 17px
            p
              user-select: none;
              color: #828282
              font-size: 12px
              line-height: 20px
          .raise-request
            display: flex
            align-items: center
            justify-content: space-between
        + .paypal-leaf-item
          display: block
          height: auto
          padding: 20px
          &:hover
            background: unset
          .icon
            margin: 0
          .detail
            padding: 0
          .desc
            width: 240px
            font-size: 12px
            line-height: 16px
            color: rgba(22, 47, 86, 0.54)
          .status-pill
            font-size: 12px
          .paypal-info
            display: block
            background: #F2F4FE
            border-left: 8px solid #2B83EA
            padding: 16px 12px
            font-size: 12px
            line-height: 17px
            color: #7B8199

      li.action-required-list-item
        height: auto
        padding: 12px 0px
        .comment
          display: flex
          margin: 12px 0px
          width: 90%
          background: rgba(232, 235, 239, 0.32)
          padding: 2px 10px
          font-size: 14px
          i
            padding: 5px 10px 2px 0px
            font-size: 20px
          p
            margin: 5px 20px



      
    .status
      text-transform: uppercase
      font-size: 10px
      font-weight: bold
      padding: 5px 15px
      border-radius: 15px
      border: none
      border: none
      margin-right: 20px
      height: 25px
      margin-top: 5px
      user-select: none
    .activated
      min-width: 80px
      color: #1F890E
      background: rgba(31, 137, 14, 0.1)
    .pending
      min-width: 80px
      color: rgba(22, 47, 86, 0.87)
      background: rgba(22, 47, 86, 0.1)
    .requested
      min-width: 80px
      color: #2A8CFF
      background: rgba(11, 112, 231, 0.1);
    .rejected
      min-width: 80px
      color: #D12D2D
      background: rgba(209, 45, 45, 0.1)
      margin-right: 25px
    .action-required
      min-width: 80px
      color: #CD8214
      border-radius: 15px
      background: rgba(205, 130, 20, 0.1)
    
    .notify-badge
      cursor: pointer
      background: #CD8214
      color: white
      padding: 1px 4px
      border-radius: 20px
      font-size: 10px
      margin-left: 10px
    
    .foot-note
      margin-top: 40px
      width: 420px
      padding: 15px 10px
      border: 1px solid #DFE4E6
      display: flex
      background: #FBF8E3
      color: #828282
      height: 85px
      i
        font-size: 18px
        padding-top: 5px;
        margin-right: 10px;
    
    .all-active
      display: flex
      height: 36px
      background: #E5FAED
      border: 1px solid #70C692
      border-radius: 4px
      font-size: 14px;
      line-height: 17px
      color: #5D666D
      padding-left: 10px
      align-items: center

    .all-inactive
      display: flex
      height: 36px
      background: #FBF8E3
      border: 1px solid #DFE4E6
      border-radius: 4px
      font-size: 14px
      line-height: 17px
      color: #828282
      padding-left: 10px
      align-items: center
    

