$base-color = #162f56 
$base-font-weight = 600

.status-details
    &.status-details--active
        .status-details-slide-toggle 
            .i-downtime
                color: #2B83EA

                &:after
                    background: #0b70e70d;
                    @media screen and (max-width: $screen-sm-min)
                        background #FFFFFF
    .status-details-slide-toggle 
        display: inline-block
        color: inherit
        cursor: pointer
        /* 
            making the change to support the icon 
            if in future the text comes up we need to make it 15px 15px 12px 
         */
        padding: 15px 15px 12px
        @media screen and (max-width: $screen-sm-min)
            padding: 15px 10px 12px
        .i-downtime
            font-size 24px
            position relative
            top 3px
            @media screen and (max-width: $screen-sm-min)
                color #FFFFFF
            &:after
                border-radius: 50%
                height: 36px
                width: 36px
                position: absolute
                content: ''
                left: -6px
                top: -6px
                z-index -1
    
.content-wrapper.status-details 
    .refresh-action
        margin-left: 5px
    .icon
        cursor: pointer
    .border
        border: solid 1px #EDF0F5
    .panel.SliderPanel
        display: flex
        flex-direction: column
        height: 100%
        border: none
        margin-bottom: 0
        .panel-heading
            position: fixed
            width: 100%
            z-index: 1  
            .title 
                margin-left: 10px
                font-weight: $base-font-weight 
            .description 
                font-size: 14px
                margin-left: 10px
                color: #647596
        .panel-body
            margin-top: 15%
    .status-method       
        .summary     
            margin: 10px
            background: #FFFFFF
            border: 1px solid #EDF0F5
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05)
            border-radius: 3px
            position: relative
            padding: 0 12px
            .title 
                font-size: 14px
                color: $base-color  
                opacity: 54%
                margin: 16px 0 16px 4px
                &:after
                    content: "*"
                    color: red
                    margin-left: 2px
            .description 
                background: #FAFCFF
                border-radius: 4px
                padding: 12px
                .downtime-container 
                    margin-bottom: 10px
                    .heading 
                        font-weight: $base-font-weight
                        font-size: 15px
                        line-height: 18px
                        color:$base-color
                        margin-left: 10px 
                    .details 
                        margin-left: 24px
                        margin-top: 5px
                        span 
                            font-size: 14px
                .status 
                    margin-left: 10px 
                    font-size: 15px
                    color:$base-color
                    font-weight: $base-font-weight
                .status-list 
                    margin-left: 28px 
                    margin-top: 5px
                p 
                    color:$base-color              
        .message
            margin: 20px 5px
            &:before
                content: '*';
                color: #D12D2D
                margin-right: 2px
                font-size: 18px
                vertical-align: middle
        .section-title 
            background: #EDF0F5
            font-size: 15px
            font-weight: $base-font-weight
            display: flex
            align-items: center
            color:$base-color
            padding: 20px
            .maintenance-icon 
                margin-right: 10px
        .scheduled-downtime 
            padding: 16px 24px
            .scheduled-downtime-heading 
                font-weight: $base-font-weight
                font-size: 15px
                line-height: 20px
                color:$base-color  
                text-transform: capitalize
            .scheduled-downtime-details 
                font-size: 14px
                color:$base-color
                margin-top: 6px
                .scheduled-downtime-icon 
                    margin: 0 10px   
                .scheduled-downtime-severity 
                    text-transform: capitalize
                    font-size: 14px 
        .no-maintenance 
            display: flex
            align-items: center
            justify-content: center
            height: 50px
            color:$base-color
            font-size: 15px
            padding: 20px
        .downtime 
            padding: 16px 20px 
            .capitalize
                text-transform: capitalize
            .heading 
                font-weight: $base-font-weight
                font-size: 15px
                line-height: 20px
                color:$base-color 
            .details 
                display: flex
                align-items: center
                font-size: 14px
                color:$base-color
                margin-top: 6px
                .icon 
                    margin-right: 10px    
                .severity 
                    text-transform: capitalize
                .divider
                    margin: 10px
                    color:$base-color
                    opacity: 10%            
        .status-pager
            display: flex
            justify-content: center
            small
                margin: 10px
                line-height: 30px             
    .main-info 
        display: flex
        flex-direction: column
        align-items: center
        margin: 50px 
        .main-status-text 
            font-size: 20px
            line-height: 30px
            text-align: center
            color: #404F6B 
            font-style: normal
            font-weight: $base-font-weight
            margin-top: 16px
        .date-and-time 
            font-size: 14px
            color: #647596
            text-align: center
            margin: 6px  
    .details-section 
        margin: 16px
        background: #FFFFFF
        border: 1px solid #EDF0F5
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05)
        border-radius: 3px
        position: relative
        .payment-method    
            display: flex
            align-items: center
            padding: 20px   
            .payment-method-title 
                font-weight: $base-font-weight
                font-size: 16px
                line-height: 24px
                color:$base-color
                margin-left: 12px

            .payment-method-title-not-operational 
                font-weight: $base-font-weight
                font-size: 18px
                line-height: 24px
                color:$base-color  
        .status-view-button 
            margin-left: 10px
            position: absolute
            right: 45px
            font-size: 12px
            color: #2B83EA

        .status-view-arrow 
            margin-left: 5px  
            position: absolute
            right: 30px  
            cursor: pointer

        .instrument-details 
            background: #FAFCFF
            border: 1px solid #F3F8FE
            border-radius: 4px
            margin: 0 10px 10px 

            .instrument-title 
                background: #EDF0F5
                border-radius: 4px 4px 0
                color:$base-color  
                font-size: 15px
                display: flex
                align-items: center
                justify-content: flex-start
                padding: 12px

            .downtime-container 
                padding: 12px
                .heading 
                    font-weight: $base-font-weight
                    font-size: 14px
                    line-height: 18px
                    color:$base-color
                    margin-left: 10px 
                .details 
                    margin-left: 24px
                    font-size: 14px

    .status-disclaimer 
        margin: 36px 30px
        font-size: 12px
        text-align: center
        color:$base-color
    
    .failed-status-container 
        margin: 150px 80px 30px

        .failed-status-icon 
            margin: 0 125px 20px
        
        .failed-status-title 
            font-weight: $base-font-weight
            font-size: 20px
            line-height: 30px
            text-align: center
            color: #515978
        
        .failed-status-text 
            font-size: 16px
            line-height: 20px
            text-align: center
            color: #515978
            margin: 24px 0 16px
        
        .refresh
            text-align: center
            margin: 0 100px

            .refresh-icon
                cursor: pointer

            .refresh-text
                font-weight: $base-font-weight
                font-size: 16px
                line-height: 24px
                text-align: center
                color: #528FF0
                margin-left: 10px