.plan-create {
  .billing-frequency {
    display: table;

    > * {
      display: table-cell;
      padding-right: 8px;
    }

    .InputField {
      width: 50px;

      .form-control {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}

.SubscriptionsBatch
    &--upload-modal
      .panel
        cursor: pointer
        .panel-body
          display: flex
          align-items: center
          .description
            flex-grow: 1
          .logo
            background-size: contain
            background-repeat: no-repeat
            width: 35px
            height: 28px
          .i-chevron-right
            font-size: 16px
        &.auth-link
          .logo
            background-image: url('assets/symbols/sub.svg')
        &.recurring-charge
          .logo
            background-image: url('assets/symbols/sub.svg')
