.ManageTeam
  &--list

    .label-pale-warning
      background-color: #FDF4E7;
      padding-left: 5px;
      padding-right: 5px;

    .text-warning
      color: #F0AD4E;

    .table
      tr
        td
          vertical-align: middle;