.ticket-support {
    .mt-0 {
        margin-top: 0px;
    }

    .mb-0 {
        margin-bottom: 0px;
    }

    .p-v-24 {
        padding: 24px 0px;
    }

    .p-v-16{
        padding: 16px 0px;
    }

    .pr-0 {
        padding: 0px;
    }

    .pl-0 {
        padding-left: 0px;
    }

    .pt-0 {
        padding-top: 0px;
    }

    .w-auto {
        width: auto;
    }

    .flex {
        display: flex;
    }

    .flex-wrap{
        flex-wrap: wrap;
    }

    .mt-6 {
        margin-top: 6px;
    }

    .mt-20 {
        margin-top: 20px;
    }

    .mb-24 {
        margin-bottom: 24px;
    }
    .mt-30 {
        margin-top: 30px;
    }

    mb-0 {
        margin-bottom: 0;
    }
    .m-20 {
        margin: 20px;
    }

    .lh-18 {
        line-height: 18px;
    }

    .text-size-25 {
        font-size: 25px;
    }

    .border-bt-0 {
        border-bottom: none !important;
    }

    .border-solid {
        border: 1px solid rgba(22, 47, 86, 0.1) !important;
    }

    .border-bottom-solid {
        border-bottom: 1px solid rgba(22, 47, 86, 0.1) !important;
    }

    padding: 30px 20px;

    @media screen and (max-width: $screen-xs-max) {
        padding: 24px 12px;
    }
    .col-xs-12 {
        padding: 0;
    }

    .ticket-support {
        padding-left: 0;
        padding-right: 0;
    }

    .btn-top-tab {
        background: rgba(22, 47, 86, 0.02);
        color: rgba(22, 47, 86, 0.74);
        margin-right: 10px;
        box-shadow: none;
        border: rgba(22, 47, 86, 0.1);

        &.active {
            color: #2B83EA;
            background: #E7F1FD;
            border: 0;
        }
    }

    .grievance-related-btn {
        &.disabled-style {
            cursor: not-allowed;
            filter: opacity(0.5);
        }
    }

    .img-round {
        display: block;
        margin: auto;
        border-radius: 50%;
        width: 56px;
    }

    .user-image {
        position: relative;
    }

    .revamped-user-image {
        width: 60px;
        height: 60px;
        background: rgba(22, 47, 86, 0.05);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(22, 47, 86, 0.05);

        .i-ticket-user {
            font-size: 20px;

            @media screen and (max-width: $screen-xs-max) {
                font-size: 10px;
            }
        }
        @media screen and (max-width: $screen-xs-max) {
            width: 30px;
            height: 30px;
        }
    }

    .label {
        padding: 4px;
        font-size: 10px;
        text-transform: uppercase;
    }

    .message-owner {
        color: #162F56;
        display: flex;
        padding-left: 0;

        &.row-container {
            display: flex;
            flex-direction: column;
            line-height: 20px;
            width: 100%;
        }

        .to-account {
            font-size: 13px;
            line-height: 18px;
            margin: 6px 0px;
            color: rgba(22, 47, 86, 0.54);
        }

        .name {
            line-height: 20px;
        }

        .title-text {
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: rgba(22, 47, 86, 0.87);
        }

        .separator {
            font-size: 40px;
        }

        @media screen and (max-width: $screen-xs-max) {
            width: 100%;
            padding-right: 0;
        }
    }

    .reply-message-container {
        padding-left: 0;

        .title-container {
            margin-bottom: 0px;
            margin-top: 0px;
        }

        .created-time {
            color: rgba(22, 47, 86, 0.54);
            text-align: right;
            width: 100%;
            padding-right: 0;
        }
    }

    .message-to {
        margin-top: 8px;
        color: rgba(22, 47, 86, 0.54);
    }

    .message-body {
        margin-top: 20px;

        &.revamped {
            margin-top: 6px;
            line-height: 18px;
        }

        &.truncated {
            white-space: pre-wrap;
            max-height: 35px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        margin-top: 6px;
        line-height: 18px;

        img {
            max-width: 100%;
        }

        .file-attachment {
            display: inline-block;
            color: #162F56;
            font-size: 12px;
            margin: 0 6px 6px 0;
            background: rgba(22, 47, 86, 0.02);
            border: 1px solid rgba(22, 47, 86, 0.12);
            border-radius: 50px;
            padding: 0 16px;
            line-height: 30px;

            &:hover {
                cursor: pointer;
                background: rgba(22, 47, 86, 0.12);
            }

            img {
                height: 16px;
                margin-right: 10px;
            }
        }
    }

    .message {
        .row {
            overflow: hidden;
            @media screen and (max-width: $screen-xs-max) {
                display:flex;
                }
        }

        .col-xs-2 {
            padding-left: 0;
        }

        &.ticket-row-panel {
            border: 0;
            padding: 0 24px;
            padding-left: 0;
        }

        &.revamped.ticket-row-panel {
            padding: 0 24px;
            &:hover {
                padding-left: 24px;
                border: 0;
                background: transparent;
            }
             @media screen and (max-width: $screen-xs-max) {
                padding-left: 16px;
                padding-right: 16px;
                &:hover {
                    padding-left: 16px;
                }
            }
        }

        .reply-ticket-panel {
            border: 1px solid rgba(22, 47, 86, 0.24);
            padding: 24px;
            position: relative;

            .close-icon {
                position: absolute;
                right: 16px;
            }
            .panel-body
            {
                @media screen and (max-width: $screen-xs-max) {
                    padding: 0;
                }

            }
            @media screen and (max-width: $screen-xs-max) {
                 padding: 24px 0;
                 border:none;
            }
        }

        .Dropzone-content {
            font-size: 12px;
        }

        .Dropzone-file-icon {
            display: none !important;
        }

        .Dropzone-file-icon + .Dropzone-content-desc {
            padding-left: 0;
        }

        .Dropzone .Dropzone-cavity {
            border-radius: 0 0 2px 2px;
            border-color: #cfdadd;
            border-style: solid;
            border-top-color: transparent;
        }

        .Dropzone-cavity--staged .Dropzone-close {
            margin-top: 0;
        }

        .reply-textarea {
            padding-left: 0;
             @media screen and (max-width: $screen-xs-max) {
                 padding: 0;
            }
        }

        .reply-text {
            border-radius: 2px 2px 0 0;
        }
    }

    .ticket-subject {
        color: rgba(22, 47, 86, 0.87);
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 15px;
        @media screen and (max-width: $screen-xs-max) {
            font-size: 14px;
            hyphens: auto;
        }
    }

    .ticket-short-details {
        color: rgba(81, 89, 120, 0.72);
        font-size: 13px;
    }

    .ticket-conv-body {
        background: rgba(216, 219, 223, 0.1);
        border: 1px solid rgba(22, 47, 86, 0.24);
        box-sizing: border-box;
        padding: 15px 0;
        border: 1px solid rgba(22, 47, 86, 0.1);
        overflow: hidden;
    }

    .tickets-section-separator {
        margin-bottom: 40px;
    }

    .Ticket-Brief-Message {
        font-size: 13px;
        color: rgba(22, 47, 86, 0.74);

        .ticket-escalated-icon {
            color: #F2B852;
        }

        i.forward {
            background: linear-gradient(135deg, #F39525 0%, #F0D275 137.5%);
        }

        .i-clock {
            margin-right: 5px;
        }

        .Ticket-Brief-Message-Status-Desc {
            .ticket-message-icn {
                position: relative;
                top: -2px;
            }
        }
    }

    .Ticket-Status-Desc {
        border-top: 1px solid #e4e4e4;
        padding: 12px;
        margin: 0 15px;
        padding-left: 0;
        padding-right: 0;
    }

    .ticket-row-panel {
        border: 1px solid rgba(22, 47, 86, 0.1);
        border-bottom: 0;
        cursor: pointer;
        padding-left: 0;

        .min-ht-56 {
            min-height: 56px;
        }

        &.revamped {
            border-bottom: 1px solid rgba(22, 47, 86, 0.1);
            border-radius: 3px;

            .col-xs-12, .col-xs-10 {
                padding: 0;
            }

            .panel {
                border-radius: 3px;

                .panel-body{
                    @media screen and (max-width: $screen-xs-max) {
                        padding: 12px;
                    }
                    .col-xs-2{
                        padding: 0;
                    }
                }
            }

            .panel:hover {
                background: #FAFCFF;
                border-radius: 3px;
            }
        }

        &.revamped:hover {
            background: rgba(11, 112, 231, 0.05);
            border: 1px solid #4B95ED;
            background-color: #FAFCFF;
        }

        .ticket-brief-desc-text {
            margin-top: 10px;
            color: rgba(22, 47, 86, 0.87);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:last-child {
            border-bottom: 1px solid rgba(22, 47, 86, 0.1);
        }

        .label-active {
            background: #1F890E;
        }

        .ticket-detail-separator {
            padding: 0 9px;
        }

        padding-left: 0;
    }

    .ticket-reply-btn {
        font-size: 12px;
        line-height: 14px;
        padding: 7px 16px;
        float: right;
        margin-top: 12px;

        .reply-icon {
            font-size: 13px;
            vertical-align: middle;
            margin-left: 6px;
        }
        @media screen and (max-width: $screen-xs-max) {
            width: 100%;
        }
    }

    .reply-quill {
        margin-top: 10px;
    }

    .active-ticket-grey {
        font-size: 12px;
        color: grey;
        margin-top: 5px;
    }

    .tickets-container {
        min-height: 35rem;
    }

    .tickets-section-title {
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
        margin: 0 0 22px;

        .raise-new-query-btn {
            font-weight: bold;
            color: #2B83EA;

            &:hover {
                background: rgba(11, 112, 231, 0.05);
                color: #2B83EA;
            }
            @media screen and (max-width: $screen-xs-max) {
                font-size: 12px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }

        .section-collapse {
            color: rgba(22, 47, 86, 0.54);
            margin-left: 6px;
            vertical-align: middle;
            font-size: 24px;
        }
    @media screen and (max-width: $screen-xs-max) {
        margin: 0 0 26px;
    }

    }

    .ticket-cont-spinner {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 20rem;
        left: 50%;
        z-index: 9999;
        text-align: center;
    }

    .tickets-list-title {
        font-weight: bold;
        margin-bottom: 22px;
        font-size: 16px;
    }

    .escalate-banner {
        margin-top: 15px;
        margin-bottom: -15px;
        background: rgba(22, 47, 86, 0.1);
        color: rgba(22, 47, 86, 0.87);
        font-size: 12px;
        line-height: 14px;
        padding: 8px 0;

        &.escalation-warning {
            color: #F89A23;
            background: linear-gradient(0deg, rgba(255, 159, 0, 0.1), rgba(255, 159, 0, 0.1)), #FFFFFF;
        }

        .link {
            font-weight: bold;
        }
    }

    .ticket-escalated-response {
        font-size: 12px;
        line-height: 14px;
        color: #F2B852;

        .ticket-escalated-response-time {
            margin-left: 4px;
            color: #F39F31;
        }
    }

    .ticket-escalated-icon {
        vertical-align: middle;
        margin-right: 6px;
    }

    .q-open {
        margin-bottom: 25px;

        i.chev-down {
            position: absolute;
            top: 37px;
            right: 60px;
            color: #4b95ed;
            font-size: 7px;
        }

        .row {
            justify-content: center;
            margin-top: 15px;
        }

        button.active {
            &.active {
                color: #0B70E7;
                background: #E7F1FD;

                i {
                    color: #0B70E7;
                }

                border: 1px solid #4B95ED;
                box-shadow: none;
            }
        }

        i {
            font-size: 12px;
            margin-right: 6px;
            position: relative;
            top: -3px;
        }

        .i-call-new {
            font-size: 15px;
            top: -1px;
        }

        .requested {
            border: 0;
            color: #30BAAB;
            background: rgba(26, 174, 148, 0.1);
            border: 0 !important;

            i, span {
                color: #30BAAB;
            }

            .details {
                color: #528ff0;
            }
        }

        h3 {
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            width: 80%;
            text-align: center;
            margin: auto;
            margin-bottom: 20px;
            line-height: 20px;
            margin-top: 20px;
        }

        .col-md-4 {
            width: 33%;
        }

        .btn {
            border-radius: 18px;
            border: 1px solid rgba(22, 47, 86, 0.24);
            color: rgba(22, 47, 86, 0.87);
            margin: 12px 4px;
            padding: 8px 20px;
            @media screen and (max-width: $screen-xs-max) {
                margin: 12px 4px;
            }
        }

        .btn-warning {
            background: rgba(248, 154, 35, 0.1);
            color: #F89A23;
            border: 0;

            i {
                color: #F89A23;
            }
        }
    }

    .ticket-replies-title {
        margin: 25px 0 16px;
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
        color: rgba(22, 47, 86, 0.87);
    }

    .ticket-details-caption {
        padding-left: 6px;
    }
}

.Message-Cards-Container {
    &:last-child {
        border-bottom: 1px solid rgba(22, 47, 86, 0.1);
    }
}

.edit-conv-email {
    font-size: 25px;
    position: relative;
    top: 8px;
}

#ticket-system .active-ticket-label {
    font-weight: 600;
}

.ticket-title-section {
    padding-bottom: 16px;

    .ticket-detail-seperator {
        margin: 0 5px;
    }
}

.ticket-title-divider {
    border-bottom: 1px solid rgba(22, 47, 86, 0.1);
}

.ticket-img-round {
    margin-left: 0px !important;
}

.ticket-status-label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    padding: 2px 6px;
    font-size: 12px;
    margin-left: 10px;

    &.label-active {
        background: #1f890e;
    }

    &.label-info {
        background-color: #37ABFF;
    }
}

.magic-checkout-label {
    background-color: #ECF3FF;
    padding: 4px 12px;
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    color: #071C40;
    line-height: 14px;
    width: fit-content;

    i {
        margin-right: 4px;
    }
}

.message-user-circle {
    font-size: 56px;
    position: relative;
    top: 6px;
    left: 20px;
}

.reply-user-circle {
    font-size: 56px;
    position: relative;
    top: 8px;
    left: 20px;
}

.message-user-circle-revamped {
    font-size: 20px;
    position: relative;
}

.view-raised-queries {
    margin-top: 12px;
}

.support-history-container {
    @media screen and (max-width: $screen-xs-max) {
        margin: 0;
    }

    margin: 0 100px;
    margin: auto;
}

.no-tickets-present-container, .failed-loading-tickets-container {
    margin: auto;
    margin-top: 100px;
    width: 70%;

    @media screen and (max-width: $screen-xs-max) {
        margin-top: 60px;
    }

    .refresh-again {
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 30px;

        i {
            font-size: 18px;
            margin-right: 2px;
        }

        b {
            font-size: 16px;
        }
    }

    .ticket-error-img {
        margin: auto;
        display: block;
        margin-bottom: 30px;
    }
}

.error-p {
    margin-top: 12px;
}

.no-tickets-f {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.ticket-conv-body {
    .ticket-status-label {
        position: relative;
        top: 1px;
        border-radius: 3px;
    }
}

.ticket-row-panel {
    .ticket-status-label {
        float: right;
    }
}

.call-requested {
    margin: 0 12px 10px;
    padding-top: 12px;
    border-top: 1px solid rgba(22, 47, 86, 0.1);
    position: relative;
    top: -2px;

    img {
        width: 25px;
        margin-right: 4px;
        position: relative;
        top: -2px;
    }

    b {
        color: #528ff0;
    }
}

.fsz-14 {
    font-size: 14px;
}

.message-container {
    border: 1px solid rgba(22, 47, 86, 0.1);
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;

    .title-section {
        background: rgba(22, 47, 86, 0.05);
        padding: 24px;
        @media screen and (max-width: $screen-xs-max) {
            padding: 16px;
        }

        .title-text-container {
            display: flex;
            flex: 1;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 6px;

            .category-container {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }

            .title-text {
                font-family: Lato;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                color: rgba(22, 47, 86, 0.87);
                @media screen and (max-width: $screen-xs-max) {
                    font-size: 14px;
                }
            }

            .separator {
                font-size: 40px;
                margin: 0px 5px;
                line-height: 0;
                margin-bottom: 7px;
            }
        }

        .sub-text {
            font-size: 13px;
            line-height: 18px;
            color: rgba(22, 47, 86, 0.54);
            text-align: left;
            display: flex;
            justify-content: flex-start;

            .separator {
                font-size: 13px;
                margin: 0px 5px;
                line-height: 0;
                margin-bottom: 7px;
                @media screen and (max-width: $screen-xs-max) {
                    font-size: 12px;
                }
            }
            @media screen and (max-width: $screen-xs-max) {
                font-size: 12px;
            }
        }
    }

    .solid-divider {
        background: rgba(22, 47, 86, 0.1);
        border-radius: 4px;
        height: 1px;
        margin: 0px 24px;
    }

    .user-details-container {
        padding: 24px;
         @media screen and (max-width: $screen-xs-max) {
           padding: 16px;
        }
        .user-section {
            display: flex;
            justify-content: flex-start;

            .user-image {
                width: 60px;
                height: 60px;
                background: rgba(22, 47, 86, 0.05);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(22, 47, 86, 0.05);
                margin-right: 15px;
                @media screen and (max-width: $screen-xs-max) {
                    width: 30px;
                    height: 30px;
                }
                .img-round {
                    display: block;
                    margin: auto;
                    border-radius: 50%;
                    width: 56px;
                }

                .i-ticket-user {
                    font-size: 20px;
                    text-align: center;

                    @media screen and (max-width: $screen-xs-max) {
                        font-size: 10px;
                    }
                }
            }

            .user-details {
                width: 83%;
                margin-top: 6px;
                @media screen and (max-width: $screen-xs-max) {
                    width: 100%;
                }

                .user {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 20px;
                    color: rgba(22, 47, 86, 0.87);
                    margin-bottom: 6px;
                }

                .message-to {
                    margin-top: 8px;
                    color: rgba(22, 47, 86, 0.54);
                    margin-bottom: 24px;
                }

                .truncated {
                    white-space: pre-wrap;
                    max-height: 35px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                @media screen and (max-width: $screen-xs-max) {
                    margin-top: 0;
                }
            }

            .created-time {
                color: rgba(22, 47, 86, 0.54);
                text-align: right;
            }
        }

        .attachment-container {
            margin-top: 10px;
            margin-left: 71px;
        }

        .file-attachment {
            display: inline-block;
            color: #162F56;
            font-size: 12px;
            margin: 0 12px 12px 0;
            background: rgba(22, 47, 86, 0.02);
            border: 1px solid rgba(22, 47, 86, 0.12);
            border-radius: 50px;
            padding: 0 16px;
            line-height: 30px;

            &:hover {
                cursor: pointer;
                background: rgba(22, 47, 86, 0.12);
            }

            img {
                height: 16px;
                margin-right: 10px;
            }
        }
    }

    .show-more-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 24px;

        .divider {
            border: 1px dashed rgba(22, 47, 86, 0.24);
            border-radius: 4px;
            width: 50%;
        }

        .show-more-button {
            border: 1px solid rgba(22, 47, 86, 0.1);
            box-sizing: border-box;
            border-radius: 120px;
            background: #FFFFFF;
            font-weight: bold;
            display: flex;
            align-items: center;
            padding: 8px 16px;

            .icons-container {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 5px;
                padding-left: 16px;
                display: flex;

                .icons-show-more {
                    line-height: 0.5;
                    color: rgba(22, 47, 86, 0.54);
                }
            }
        }
    }
}

.failed-loading-tickets-container {
    width: 48%;
}

.user-ticket-description img {
    max-width: 100%;
}
.user-ticket-description table {
    width: 100%;
}
.user-ticket-description td {
    width: 25.0000%;
}