.ticket-support {
    padding: 30px 20px;

    .img-round {
        display: block;
        margin: auto;
        border-radius: 50%;
        width: 60px;
    }

    .user-image {
        position: relative;
        // top: 10px;
    }

    .label {
        padding: 4px;
        font-size: 10px;
        text-transform: uppercase;
    }

    .message-owner {
        color: #162F56;
    }

    .message-to {
        margin-top: 8px;
        color: rgba(22, 47, 86, 0.54);
    }

    .message-body {
        margin-top: 20px;

        img {
            max-width: 100%;
        }

        .file-attachment {
            display: inline-block;
            color: #162F56;
            font-size: 12px;
            margin: 0 12px 12px 0;
            background: rgba(22, 47, 86, 0.02);
            border: 1px solid rgba(22, 47, 86, 0.12);
            border-radius: 50px;
            padding: 0 16px;
            line-height: 30px;

            &:hover {
                cursor: pointer;
                background: rgba(22, 47, 86, 0.12);
            }

            img {
                height: 16px;
                margin-right: 10px;
            }
        }
    }

    .message {
        margin-bottom: 25px;

        .row {
            overflow: hidden;
        }

        .Dropzone-content {
            font-size: 12px;
        }

        .Dropzone-file-icon {
            display: none !important;
        }

        .Dropzone-file-icon + .Dropzone-content-desc {
            padding-left: 0;
        }

        .Dropzone .Dropzone-cavity {
            border-radius: 0 0 2px 2px;
            border-color: #cfdadd;
            border-style: solid;
            border-top-color: transparent;
        }

        .Dropzone-cavity--staged .Dropzone-close {
            margin-top: 0;
        }

        .reply-text {
            border-radius: 2px 2px 0 0;
        }
    }

    .message-subject {
        color: rgba(22, 47, 86, 0.87);
        font-weight: 700;
        margin-bottom: 5px;
    }

    .ticket-conv-body {
        background: rgba(216, 219, 223, 0.1);
        border: 1px solid rgba(22, 47, 86, 0.24);
        box-sizing: border-box;
        padding: 15px;
        border: 1px solid rgba(22, 47, 86, 0.1);
    }

    .ticket-row-panel {
        margin-bottom: 0;
        border: 1px solid rgba(22, 47, 86, 0.1);
        border-bottom: 0;

        .label-active {
            background: #1F890E;
        }

        .ticket-detail-separator {
            padding: 0 9px;
        }

    }

    .ticket-reply-btn {
        float: right;
        margin-top: 12px;
    }

    .reply-quill {
        margin-top: 10px;
    }

    .message-panel-body {
        &:last-child {
            .panel-body {
                // border-bottom: 1px solid rgba(22, 47, 86, 0.1);
            }
        }
    }

    .active-ticket-grey {
        font-size: 12px;
        color: grey;
        margin-top: 5px;
    }

    .tickets-container {
        min-height: 35rem;
    }

    .ticket-cont-spinner {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 20rem;
        left: 50%;
        z-index: 9999;
        text-align: center;
    }

    .tickets-list-title {
        font-weight: bold;
        margin-bottom: 22px;
        font-size: 16px;
    }

}

// .active-ticket-label {
// margin-left: 6px;
// position: relative;
// top: 2px;
// }
.edit-conv-email {
    font-size: 25px;
    position: relative;
    top: 8px;
}

#ticket-system .active-ticket-label {
    font-weight: 600;
}

.m-body-stroke {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(22, 47, 86, 0.1);
    padding-bottom: 16px;
}

.ticket-img-round {
    margin-left: 0px !important;
}

.ticket-status-label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    padding: 2px 6px;
    font-size: 12px;
    margin-left: 10px;

    &.label-active {
        background: #1f890e;
    }
}

.message-user-circle {
    font-size: 48px;
    position: relative;
    top: 6px;
    left: 20px;
}

.reply-user-circle {
    font-size: 60px;
    position: relative;
    top: 8px;
    left: 20px;
}

.no-tickets-f {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.ticket-conv-body {
    .ticket-status-label {
        position: relative;
        top: 1px;
        border-radius: 3px;
    }
}

.ticket-row-panel {
    .ticket-status-label {
        float: right;
    }
}
