.trusted-badge-container
  font-family: Lato;
  font-style: normal;
  padding: 68px 43px;
  background: linear-gradient(180deg, #FFFFFF 70%, #E3EDFF 124.61%);

  .image-center img
    max-height: 385px;
    width: 100%;

  .mt-1
    margin-top: 7px;
  .mt-2
    margin-top: 14px;
  .mt-6
    margin-top: 42px;

  .link-color
    color: rgba(70, 125, 231, 0.9);

  .opt-out
    cursor pointer;
    font-size: 16px;
    line-height: 140%;
    color: rgba(70, 125, 231, 0.9);

  .section-head
    position: relative;
    margin-bottom: 32px;
    &:after
      content: ' ';
      width: 24px;
      height: 4px;
      background: #467de7;
      display: block;
      margin-top: 18px;
    &.green:after {
     background-color: #49D9B4;
    }
    .title
      font-weight: 900;
      font-size: 28px;
      line-height: 36px;
      color: #0D2462;
    .subtitle
      font-weight: 600;
      font-size: 18px;
      margin-top: 8px;
      line-height: 23px;
      color: #777B89;

  .section-list
    padding-bottom: 12px;
    .list-item
      display: flex;
      position: relative;
      align-items: flex-start;
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 18px;
      padding-left: 20px;
      color: rgba(81, 89, 120, 0.9);
      &:last-child {
        margin-bottom: 0;
      }
      &:before
        position: absolute;
        content: ' ';
        display: block;
        left:0;
        top: 8px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgba(13, 36, 98, 0.8);
      strong
        color: #515978E5;

  .helper-text
    font-style: italic;
    font-weight: 300;
    font-size: 11px;
    line-height: 140%;
    color: rgba(81, 89, 120, 0.9);
    margin-top: 8px;
  .action-item
    margin-top: 20px;

// Begin RTB Feature
  .rtb-feature-container
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    flex-wrap: wrap;
  .rtb-feature
    margin-bottom: 35px;
    width: calc(100% / 3 - 30px);
    min-width 315px;
    display: flex;
    flex-direction: column;
    mix-blend-mode: normal;
    min-height: 165px;
    box-shadow: 0 3px 6px 0 rgba(48,52,62,0.1);
    margin-right: 40px;
    padding: 16px;
    position: relative;
    background: #FFFFFF;
    overflow: hidden;
    border-radius: 4px;
    &:before, &:after
      content: '';
      position: absolute;
      z-index: 2;
      background: #f1f6fd;
      width: 122%;
      height: 150%;
      left: -25%;
      top: -86%;
      transform: rotate(-26deg);
    &:after
      background: #f7fafe;
      right: -25%;
      left: 0;
      top: -30%;
      transform: rotate(30deg);
      z-index: 1;
    &:last-child
      margin-right: 0px;

    & > div:after
      content: '';
      background: #fff;
      position: absolute;
      left: -20px;
      bottom: -20px;
      transform: rotate(25deg);
      z-index: 3;
      display: block;
      height: 48px;
      width: 130px;
      opacity: 0.5;

    .rtb-feature-title
      font-weight: bold;
      margin-top: 6px;
      margin-bottom: 5px;
      position: relative;
      z-index: 4;
      font-size: 16px;
      line-height: 24px;
      color: #0D2366;
      
    .rtb-feature-icon
      width: 46px;
      position: relative;
      z-index: 4;

    .rtb-feature-desc
      position: relative;
      z-index: 4;
      font-size: 14px;
      line-height: 20px;
      color: #515978;

// END of RTB Feature

  .sub-text
    font-size: 14px;
    line-height: 140%;
    color: rgba(81, 89, 120, 0.9);
    margin-top: 8px;
  .sub-text-link
    display: inline-block;
    margin: 4px 0;
    font-size: 14px;
    line-height: 140%;
    color: rgba(70, 125, 231, 0.9);

  .text-icon
    margin: 20px 0 14px;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #0D2462;
    display: flex;
    align-items: center;
    img
      margin-right: 8px;
  
  .rtb-divider
    display: inline-block;
    margin: 20px 0 6px;
    background: #E2E2E2;
    height: 2px;
    width: 100%;

  .detail-section
    margin-bottom: 31px !important;
    display: inline-block;
  .growth-section
    margin-top: 35px !important;

  .row
    margin: 0px;

  .new-window-icon
    background-image: url("https://cdn.razorpay.com/static/assets/trustedbadge/new-window.svg");
    background-repeat: repeat repeat;
    background-position: center center;
    background-size: contain;
    height: 10px;
    width: 10px;
    cursor pointer;
    display: inline-block;
  .rtb-modal-action
    margin-top: 26px;
    display: flex;
    flex-wrap: nowrap;
    & > button 
      width: 100%;
      &:last-child 
        margin: 0;

  
@media (max-width: 767px) {
  .rtb-feature {
    min-width: 100%;
  }
}

.Modal-rtb--small
  width: 352px;
