.va-account-details.table {
  > tbody > tr > td {
    padding: 12px;

    .copy {
      margin: -12px;
      padding: 12px;
      font-weight: bolder;
      color: #6a55d1;
      cursor: pointer;

      &:hover {
        background-color: #fafafa;
      }
    }
  }
}
