.VirtualAccountDetails
  margin: -4px
  padding: 4px
  border: 1px solid #eaeff0
  border-radius: 4px
  background: #fdfdfd
  width: 90%
  max-width: 500px

  .pair-group-item:first-child
    .pair-label
      color: inherit

  .divider
    border-top: 1px solid #eaeff0


.Modal.Modal--medium.create-virtual-account
  max-width: 400px

  .Input
    margin-top: 0
