.Modal-mask.Modal-mask--video-modal
    .ytp-copylink-button
        display: none
    .Modal-container
        .Modal-close
            color: #ffffff
            right: -2px;
        .Modal-close:hover
            color: #ffffff
            right: -2px;