.add-new-webhook
  font-size 14px
  color #528FF0
  cursor pointer

.delete-webhook
  border-radius 0
  padding 8px 20px
  margin-right 8px
  color #497FD6

.webhook-actions
  float right
  padding-right 10px

.webhook-doclinks
  padding 0
  font-size 12px

.font-size-16
  font-size 16px

.webhook-flex
  display flex
