// stylelint-disable no-descending-specificity
$separator-color = #536582;
$primary-shadow = #0B70E70D;
$blue = #2B83EA;
$nudge = #162F56;
$white = #FFF;

.website-app-details-container
  width: 100%
  display: flex
  flex-direction: row
  justify-content: center

  .section-content
    width: 100%
    height: 100%
    background-color: $white
    box-shadow: 0 4px 10px $primary-shadow;
    margin: 20px 0

    .section-footer
      padding: 30px 45px

    .section-footer
      button {
        background: $primary-shadow;
        color $blue;
        border: 1px solid #0B70E7BD
        border-radius: 2px
        padding: 8px
        width: 100%
        font-weight: 600
      }

    .section-body
      padding-left: 45px
      padding-right: 45px

      span {
        color: #162F56
        font-weight: 400
        font-size: 12px
        opacity: 0.54
      }

      p {
        font-weight: 600
        font-size: 14px
        line-height: 20px
        color: $separator-color;
        overflow-wrap: break-word
      }

      >div {
        margin-bottom: 12px
      }

    .section-header
      padding: 30px 45px 20px

      > p {
        font-size: 14px
        font-weight: 600
        line-height: 20px
        color: #162F56
        opacity: 0.87
        margin-top: 15px
      }

      .comment
        border: 1px solid #E7EBF1
        border-radius: 4px
        background: #F9FBFE
        padding: 10px
        font-size: 14px
        line-height: 20px
        margin-top: 10px
        color: #162F56DE

        p {
          display: inline-block
          color: $blue;
          font-weight: 400
        }

  .prompt-container
    position: relative

    .modal-header
      background-color: #F08A0A
      color: $white
      font-size: 18px
      font-weight: 600
      line-height: 22px
      padding: 35px
      text-align: center
      margin-top: -20px

    .prompt-modal-close
      position: absolute
      top: -10px
      right: 15px
      color: $white
      cursor: pointer

    .image-container
      margin: 0 15px
      border-radius: 3px
      height: 160px

      img {
        height: 100%
        width: 100%
      }

    .prompt-description,
    .prompt-title,
    .prompt-footer
      font-size: 14px
      line-height: 20px
      padding: 10px 20px
      font-weight: 400

    .prompt-footer
      color: #162F56
      opacity: 0.6
      margin: 0 5px
      padding-top: 15px
      padding-bottom: 25px
      text-align: center

    .prompt-title
      font-weight: 600
      font-size: 16px

    .page-listing
      font-size: 14px
      line-height: 20px
      font-weight: 400

    .actions
      padding: 5px 0 25px
      display: flex
      flex-direction: column
      align-items: center

      button {
        padding: 7px 25px
        width: 80%
      }

      span {
        margin-top: 15px
        font-weight: 600
        font-size: 14px
      }

  .nudge-container
    width: 100%
    background: $white
    box-shadow: 0 4px 10px $primary-shadow;
    border-radius: 4px
    padding: 20px
    margin: 0 16px 16px

    .nudge-footer
      color: $nudge
      opacity: 0.7
      font-size: 14px
      margin-bottom: 15px

    div:nth-of-type(1)
      color: $nudge
      opacity: 0.87
      font-size: 16px
      line-height: 24px
      font-weight: 600
      margin-bottom: 15px
      margin-top: 10px

    div:nth-of-type(2)
      font-size: 14px
      line-height: 20px
      font-weight: 400
      margin-bottom: 15px

    button {
      width: 100%
    }

  .view-nc-comments-container
    .content
      padding: 25px 0 0 25px

      .title
        font-weight: 600
        font-size: 16px

      .comment
        color: #213554
        opacity: 0.67
        font-weight: 400
        font-size: 16px

    .actions
      padding: 5px 0 25px
      display: flex
      flex-direction: column
      align-items: center

      button {
        padding: 7px 25px
        width: 80%
      }

      span {
        margin-top: 15px
        font-weight: 600
        font-size: 14px
      }

.website-app-info-status
  border-radius: 15px
  padding: 5px 10px

  &.verified
    background-color: #1F890E1A
    color: #1F890E

  &.action-required,
  &.rejected
    background-color: #D12D2D1A
    color: #D12D2D

  &.under-review
    background-color: #F9FBFE
    color: #2A8CFF

  &.details-required
    background-color: #CD82141A
    color: #CD8214

  p {
    display: inline-block
    font-weight: 600
    line-height: 14px
    font-size: 10px
  }

@media (max-width 500px) {
  .website-app-details-container {
    margin-top: 20px

    .section-content {
      margin: 0

      .section-footer,
      .section-body,
      .section-header {
        padding: 15px
      }
    }
  }
}

@media (min-width 500px) {
  .website-app-details-container {
    .section-content {
      width: 45%
    }
  }
}

.website-compliance-announcement-container
  display: flex
  flex-direction: row
  align-items: center

  .separator
    display: inline-block
    width: 9px
    height: 9px
    margin: 0 24px
    background-color: $separator-color;
    border-radius: 50%
    flex-shrink: 0

    &-small
      margin: 0 5px
      height: 6px
      width: 6px
      vertical-align: middle

  .announcement-content p {
    font-size: 14px
    line-height: 20px
    font-weight: 400
  }

  .cta
    width: 15%

  a {
    font-weight: 600
  }

@media (max-width 900px) {
  .website-compliance-announcement-container {
    > .separator {
      display: none
    }
  }
}
