.website-app-details-container
  width: 100%
  display: flex
  flex-direction: row
  justify-content: center

  .section-content
    width: 100%
    height: 100%
    background-color: white
    box-shadow: 0 4px 10px #0b70e70d
    margin: 20px 0px

    .section-footer
      padding: 30px 45px

    .section-footer
      button{
        background: #0b70e70d;
        color #2B83EA
        border: 1px solid #0b70e7bd
        border-radius: 2px
        padding: 8px
        width: 100%
        font-weight: bold
      }

    .section-body
      padding-left: 45px
      padding-right: 45px

      span{
        color:#162F56
        font-weight: 400
        font-size: 12px
        opacity:.54
      }

      p{
        font-weight: 700
        font-size: 14px
        line-height: 20px
        color: #536582

      }

      >div{
        margin-bottom: 12px
      }

    .section-header
      padding: 30px 45px 20px 45px

      > p{
        font-size: 14px
        font-weight: 700
        line-height: 20px
        color: #162F56
        opacity:.87
        margin-top: 15px
      }

      .comment
        border: 1px solid #E7EBF1
        border-radius: 4px
        background: #F9FBFE
        padding: 10px
        font-size: 14px
        line-height: 20px
        margin-top: 10px
        color: #162f56de

        p{
          display: inline-block
          color: #2B83EA
          font-weight: 400
        }

  .prompt-container
    .modal-header
      background-color: #0000ae
      color: #FFFFFF
      font-size: 18px
      font-weight: 700
      line-height: 22px
      padding: 25px
      text-align: center
      margin-top: -20px

    .image-container
      margin: 0 15px
      border-radius: 3px
      background-color: purple
      height: 135px

    .prompt-description
      font-size: 14px
      line-height: 20px
      padding: 10px 20px
      font-weight: 400

    .page-listing
      font-size: 14px
      line-height: 20px
      font-weight: 400

    .actions
      padding: 5px 0 25px 0
      display: flex
      flex-direction: column
      align-items: center

      button {
        padding: 7px 25px
        width: 80%
      }

      span{
        margin-top: 15px
        font-weight: 700
        font-size: 14px
      }

  .nudge-container
    width: 100%
    background: white
    margin-bottom: 15px
    box-shadow: 0 4px 10px #0b70e70d
    border-radius: 4px
    padding: 20px

    div:nth-of-type(1)
      color: #162F56
      opacity: .87
      font-size: 16px
      line-height: 24px
      font-weight: 700
      margin-bottom: 15px
      margin-top: 10px

    div:nth-of-type(2)
      font-size: 14px
      line-height: 20px
      font-weight: 400
      margin-bottom: 15px

    button{
      width: 100%
    }


.website-app-info-status
  border-radius: 15px
  padding: 5px 10px

  &.verified
    background-color: #1f890e1a
    color: #1F890E

  &.action-required
    background-color: #d12d2d1a
    color: #D12D2D

  &.under-review
    background-color: #0b70e71a
    color:#2A8CFF

  &.details-required
    background-color: #cd82141a
    color: #CD8214

  p{
    display: inline-block
    font-weight: 700
    line-height: 14px
    font-size: 10px
  }

@media (max-width:500px ) {
  .website-app-details-container{
    margin-top: 20px

    .section-content{
      margin: 0

      .section-footer, .section-body, .section-header{
        padding: 15px 15px
      }
    }
  }
}

@media (min-width:500px ) {
  .website-app-details-container{
    .section-content{
      width: 45%
    }
  }
}


.website-compliance-announcement-container
  display: flex
  flex-direction: row
  align-items: center

  .announcement-content p{
    font-size: 14px
    line-height: 20px
    font-weight: 400
  }

  .cta
    width: 15%

  a{
    font-weight: bold
  }


