xcaHeaderText()
    font-family: $mullish-font;
    font-size: $ft20;
    font-style: normal;
    font-weight: $fw7;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: $text;
    width: 100%;


flexProp(direction = column, justify = center, alignitem = center)
    display: flex;
    flex-direction: direction;
    justify-content: justify;
    align-items: alignitem;

loader-shimmer(shimmerWidth = 100px, shimmerHeight = 30px)
    position: relative;
    display: block;
    background: #ebecf2;
    background: linear-gradient(to right, #ebecf2 0%, #dfe1ea 10%, #ebecf2 20%);
    background-size: 800px 100px;
    animation: loaderShimmer 1.2s forwards infinite linear;
    height: shimmerHeight;
    width: shimmerWidth;
    border-radius: 4px;

    @keyframes loaderShimmer {
        0% {
            background-position: -300px 0;
        }
        100% {
            background-position: 300px 0;
        }
    }

xcaHeader(headerHeight = 92px, backgroundColor = #171b2f)
    height: headerHeight;
    background: backgroundColor;
    xcaHeaderText();
    flexProp(row,space-between);

    &__image {
        margin-right: 8px;

        img:first-of-type {
            margin-right: 20px;
            margin-left: 26px;
        }
        img:last-of-type {
            margin-right: 8px;
        }
    }
    &__text {
        flex-grow:.9;
    }
    &__close {
        background: transparent;
        border: none;
        margin-right: 26px;
    }

headerBottomBorder(borderHeight = 2px, backgroundStart = #6732FF, backgroundStop = #1E9CDA, marginBottom = 30px)
    height: borderHeight;
    background: linear-gradient(98.56deg, backgroundStart 10.42%, backgroundStop 134.37%);
    margin-bottom: marginBottom;
    width: 100%;

textFormat(fontSize = 14px, fontWeight = normal, fontColor = white, lineHeight = 1, fontFamily = 'Lato')
    font-size: fontSize;
    font-weight: fontWeight;
    color: fontColor;
    line-height: lineHeight;
    font-family: fontFamily;