/* Colours */

rzp-blue = #29B7D6
rzp-red = #E74C3C
rzp-green = #27AE60
rzp-light-gray = #EFEFEF
rzp-gray = #727272

/* Mixins */

transition(n)
	transition all n ease-in 0s
	-o-transition all n ease-in 0s
	-moz-transition all n ease-in 0s
	-webkit-transition all n ease-in 0s

border-radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n

border-radius-left(n)
	-webkit-border-top-left-radius n
	-webkit-border-bottom-left-radius n
	-moz-border-radius-topleft n
	-moz-border-radius-bottomleft n
	border-top-left-radius n
	border-bottom-left-radius n

border-radius-right(n)
	-webkit-border-top-right-radius n
	-webkit-border-bottom-right-radius n
	-moz-border-radius-topright n
	-moz-border-radius-bottomright n
	border-top-right-radius n
	border-bottom-right-radius n

/* Styles */

html
	height 100%

body
	font-family 'Lato',sans-serif
	font-size 10px
	font-weight 400
	color rzp-gray

/* Header */

header
	position fixed
	background rzp-blue
	color rgb(255,255,255)
	height 48px
	width 100%
	font-size 1.5em
	z-index 1000
	top 0
	#nav
		height 48px
		width 100%
		padding 5px 0 0 20px
		#logo img
			float left
			height 32px
		#centernav, #rightnav
			display inline
			list-style-type none
			li
				display inline
				list-style-type none
				padding 0 5px 0 5px
				position relative
		#centernav
			text-align center
		#rightnav
			text-align right
			li.button
				border solid 1px rgba(255,255,255,0.8)
				border-radius(4px)
				padding 2px 0px 5px 0px
				a
					padding 8px
		ul a
			display inline-block
			text-decoration none
			color rgba(255,255,255,0.8)
			padding 8px 4px
			transition(0.1s)
			&:hover
				color rgba(255,255,255,1)
				transition(0.1s)

/* Main */

#main
	margin-top 70px

.spaced-right-box
	padding-right 50px

.spaced-bottom-box
	margin-bottom 30px

.boxed
	border 1px solid rzp-gray

.hidden
	display none

.centered
	margin 0 auto

/* Live mode toggle */

#livemode
	min-height 70px
	text-align center
	padding 20px 0
	.active
		color rzp-blue
	.button-desc
		font-size 1.5em
		height 26px
		display inline-block
		margin 0 20px
		padding-top 3px
	.button-wrap
		width 45px
		cursor pointer
		display inline-block
		vertical-align top
	.button-bg
		width 100%
		height 26px
		background-color #FFF
		border-radius(40px)
		border 1px solid rzp-gray
		color #fff
		transition all 0.2s ease
	.button-switch
		transition all 0.2s ease
		position relative
		left 0px
		width 12px
		height 12px
		border solid 12px rzp-blue
		border-radius(12px)
		transition(0.2s)
	.button-active .button-switch
		left 19px


/* Sidebar */

#sidebar
	padding 10px 0 30px 0
	min-height 300px
	h2
		border-bottom 1px solid rzp-gray
		font-weight 300
		.title
			display inline-block
			position relative
			top 9px
			background #fff
			padding 0 5px
			margin-left 15px
	ul
		margin 10px 0
		li
			margin 5px 0
			font-size 1.5em
			color rzp-blue
			border-bottom 2px solid transparent
			a
				margin-left 30px
				padding 0 5px
				position relative
				top 9px
				text-decoration none
				color inherit
		li:hover
			border-bottom 1px solid rzp-blue
			padding-bottom 1px
			a
				background #FFF
		.active
			font-weight 400
			border-bottom 2px solid rzp-blue
			&:hover
				padding-bottom 0px
				border-bottom 2px solid rzp-blue
			a
				background #fff

/* Dashboard */

#dashboard-wrapper
	min-height 700px
	border 1px solid rzp-blue

#transactions-line-chart-wrapper
	padding 20px 30px
	#transactions-line-chart
		margin-top 50px
		min-height 250px

#count-line-chart-wrapper
	padding 20px 30px
	margin-bottom 30px
	min-height 250px

#controls-wrapper
	h2,div
		display inline-block
	h2
		font-size 2em
	#datepicker-group
		text-align right
	.datepicker
		height 25px
		width 80px
		margin 0 10px
		text-align center
		color rzp-gray
		font-family 'Lato',sans-serif
		font-size 1.1em
	.datepicker:focus
		border 1px solid rzp-blue
		outline 0
	.btn-group
		font-size 1.1em
		margin 5px 0 0 0
		.btn
			border 1px solid rzp-gray
			padding 5px 10px
			cursor pointer
			margin 0 -3px 0 0
			border-right 0
		#interval-day
			border-radius-left(3px)
		#interval-year
			border-right 1px solid rzp-gray
			border-radius-right(3px)
			-webkit-border-top-right-radius 3px
			-webkit-border-bottom-right-radius 3px
		.btn.active
			background-color rzp-gray
			color white

.horizontal-data-wrapper
	min-height 120px
	border-bottom 1px solid rzp-blue
	.data-item
		display inline-block
		text-align center
		margin 30px 0
		.data-item-value
			font-size 2.5em
			color rzp-blue
			line-height 1.5
		.data-item-desc
			font-size 1.5em

/* Transactions */

.list-wrapper
	padding 0 40px 0 30px
	h2
		font-weight 300

#refunds .list-wrapper, #settlements .list-wrapper
	padding-top 30px

.transaction-list
	margin-top 20px
	li
		padding 0 10px
		font-size 1.4em
		a
			span
				margin 7px 0
			color rzp-gray
			text-decoration none
			.amount
				font-weight 400
			.status
				text-align right
			.date
				text-align right
		a:hover
			text-decoration none
	li:hover
		background-color rzp-light-gray

#transaction-one
	margin 30px;
	h2
		font-size 2.5em
		font-weight 300
	.details
		margin-top 30px
		.key
			font-weight 400
		div
			font-size 1.5em
			padding 3px 0

/* Account */

.account-details
	padding 30px
	font-size 1.5em
	div
		padding 5px 0

/* Loader */

.spinner
	margin 100px auto
	width 50px
	height 30px
	text-align center
	font-size 10px

.spinner > div
	background-color rzp-blue
	height 100%
	width 6px
	display inline-block
	-webkit-animation stretchdelay 1.2s infinite ease-in-out
	animation stretchdelay 1.2s infinite ease-in-out

.spinner .rect2
	-webkit-animation-delay -1.1s
	animation-delay -1.1s

.spinner .rect3
	-webkit-animation-delay -1.0s
	animation-delay -1.0s

.spinner .rect4
	-webkit-animation-delay -0.9s
	animation-delay -0.9s

.spinner .rect5
	-webkit-animation-delay -0.8s
	animation-delay -0.8s

@-webkit-keyframes stretchdelay
	0%, 40%, 100%
		-webkit-transform scaleY(0.4)
	20%
		-webkit-transform scaleY(1.0)

@keyframes stretchdelay
	0%, 40%, 100% 
		transform scaleY(0.4)
		-webkit-transform scaleY(0.4)
	20%
		transform scaleY(1.0)
		-webkit-transform scaleY(1.0)

/* Login */

.form-wrapper
	margin-top 100px
	width 500px
	min-height 340px
	border-radius(5px)
	.error-message
		color rzp-red
	.success-message
		color rzp-green
	.error-message, .success-message
		font-size 1.5em
		text-align center
	p.message
		margin 20px 0
		font-size 1.5em
		text-align center
		a
			text-decoration none
			color rzp-blue
	.credentials
		padding 10px
		font-family 'Courier'
		font-size 1em
		div
			display inline-block
			margin 5px 0
		.key
			width 30px
			text-align right
			margin-right 20px
	h2
		color black
		text-align center
		font-size 2.5em
		font-weight 300
		padding 12px 0
	form
		padding 7px 0 20px
		.text
			input
				width 70%
				display block
				outline none
				border 0
				border-bottom 1px solid rzp-gray
				color rzp-blue
				padding 5px 0
				line-height 1.3em
				margin 10px auto
		a, .text>input
			font-size 1.6em
			font-family 'Lato',sans-serif
		a
			margin 5px auto
			text-decoration none
			color rzp-gray
			&:hover
				text-decoration none
			&:focus
				outline none
			&:focus, &:hover
				color black
		.row
			width 70%
			height 20px
			margin 30px auto
		.remember
			label
				font-size 1.6em
				font-family 'Lato', sans-serif
				color rzp-blue
			input[type="checkbox"]
				background-color rzp-blue
				outline none
				border 0
				margin-right 5px
		.forgot-wrap
			text-align right
		#form-button
			display block
			margin 30px auto 5px
			width 70%
			background-color rzp-blue
			border-radius(3px)
			outline none
			border 0
			color white
			font-family 'Lato',sans-serif
			font-size 1.6em
			height 35px
			padding 5px 0
			cursor pointer
	.form-footer
		padding 15px
		text-align center
		.footer-text
			margin 0 auto
			font-size 1.6em
			a
				text-decoration none
				color rzp-blue