#gsBtnClose
    position: absolute
    right: 25px
    top: 25px
    padding: 0
    border: none
    background: none
    color: #FFFFFF

#gsModalLoader
    width: auto;
    height: 100%;
    border: none;
    

#gsModalBody
    .background-img
       height: 100%;
       width: 100%;
    

#gsModalDivider
    height: 2px;
    background: #F5F5F5;


#gsModalFooter
    display:flex;
    background: #8B3666;
    height: auto;
    text-align: center;
    padding-left:20%;
    padding-top:3%;
    padding-bottom:3%;
    justify-content: space-between;
    .para-container
        width: 70%;
        .para
            font-size: 100%;
            color: #ffffffbd;
            margin-right: 10%;
    .btn-container
        .btn
            margin-top: auto;
            height:40px;
            margin-right: 50px;
            margin-bottom: auto;

#btn-center-cta
    position: absolute;
    top: 85%;
    left: 20%;
    .btn
        margin-top: auto;
        height:40px;
        margin-right: 50px;
        margin-bottom: auto;