@commander:registry=https://npm.pkg.github.com/
@razorpay:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:always-auth=true
//npm.pkg.github.com/:_authToken=${GITHUB_ACCESS_TOKEN}
save-exact=true
legacy-peer-deps=true
