@universe:registry=https://registry.razorpay.com
@commander:registry=https://registry.razorpay.com
//registry.razorpay.com/:always-auth=true
//registry.razorpay.com/:_authToken=${NPM_RAZORPAY_TOKEN}
save-exact=true
